<div class="row">
    <div class="col-md-8 p-0">
        <h4 class="m-0 text-black">Static asset allocation</h4>
    </div>
    <div class="col-md-4 text-right p-0">
        <button mat-stroked-button class="greryColorBg" class="btn-primary " (click)="toggleEditMode()">
            <span class="tableValue" *ngIf="!editMode">
                EDIT MODE
            </span>
            <span class="inputValue" *ngIf="editMode" (click)="save()">
                SAVE
            </span>
        </button>
    </div>
</div>

<div class="row pt-20">
    <div class="col-md-2"></div>
    <div class="col-md-2 p-0 text-center bg-grey lter bt-1 br1 bl1">
        <p class="m-0 f-500 roboto pt-16 pb-16">Aggressive</p>
    </div>
    <div class="col-md-2 p-0 text-center bg-grey lter bt-1 br1">
        <p class="m-0 f-500 roboto  pt-16 pb-16">Moderately aggressive</p>
    </div>
    <div class="col-md-2 p-0 text-center bg-grey lter bt-1 br1">
        <p class="m-0 f-500 roboto  pt-16 pb-16">Moderate</p>
    </div>
    <div class="col-md-2 p-0 text-center bg-grey lter bt-1 br1">
        <p class="m-0 f-500 roboto  pt-16 pb-16">Moderately conservative</p>
    </div>
    <div class="col-md-2 p-0 text-center bg-grey lter bt-1 br1">
        <p class="m-0 f-500 roboto  pt-16 pb-16">Conservative</p>
    </div>
</div>
<table mat-table [dataSource]="staticAllocationData" id="table-low" [ngClass]="editMode ? 'edit-mode-hover': ''" class="plan-assetallocation" appSkeletonLoading [appSkeletonLoading]="isLoading">
    <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef class="br"> Goal time frame </th>
        <td mat-cell *matCellDef="let element; let i = index" class="br">
            {{element.position}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="debt1">
        <th mat-header-cell class="text-right" *matHeaderCellDef> Debt </th>
        <td mat-cell class="text-right" *matCellDef="let element; let i = index">
            <div class="bar"> {{editMode ? '':element.debt1}}</div>
            <input class="form-control" *ngIf="editMode" #debt1 type="text" (input)="changeTableTdValue(debt1.value, 'debt1','equity1',element, i)" [value]="element.debt1" [inputValidator]="validatorType.NUMBER_ONLY" [maxValue]="100" appInputValueValidation>
        </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="equity1">
        <th mat-header-cell *matHeaderCellDef class="br text-right"> Equity </th>
        <td mat-cell *matCellDef="let element; let i = index" class="br text-right" appCashflowTableEdit>
            <div class="bar"> {{editMode ? '':element.equity1}}</div>
            <input class="form-control" type="text" *ngIf="editMode" #equity1 (input)="changeTableTdValue(equity1.value, 'equity1','debt1',element, i)" [value]="element.equity1" [inputValidator]="validatorType.NUMBER_ONLY" [maxValue]="100" appInputValueValidation>
        </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="debt2">
        <th mat-header-cell class="text-right" *matHeaderCellDef> Debt </th>
        <td mat-cell class="text-right" *matCellDef="let element; let i = index" appCashflowTableEdit>
            <div class="bar"> {{editMode ? '':element.debt2}}</div>
            <input class="form-control" type="text" *ngIf="editMode" #debt2 (input)="changeTableTdValue(debt2.value, 'debt2','equity2',element, i)" [value]="element.debt2" [inputValidator]="validatorType.NUMBER_ONLY" [maxValue]="100" appInputValueValidation>
        </td>
    </ng-container>
    <ng-container matColumnDef="equity2">
        <th mat-header-cell *matHeaderCellDef class="br text-right"> Equity </th>
        <td mat-cell *matCellDef="let element; let i = index" class="br text-right" appCashflowTableEdit>
            <div class="bar">{{editMode ? '':element.equity2}}</div>
            <input class="form-control" type="text" *ngIf="editMode" #equity2 (input)="changeTableTdValue(equity2.value, 'equity2','debt2',element, i)" [value]="element.equity2" [inputValidator]="validatorType.NUMBER_ONLY" [maxValue]="100" appInputValueValidation>
        </td>
    </ng-container>
    <ng-container matColumnDef="debt3">
        <th mat-header-cell class="text-right" *matHeaderCellDef> Debt </th>
        <td mat-cell *matCellDef="let element; let i = index" class="text-right" appCashflowTableEdit>
            <div class="bar">{{editMode ? '':element.debt3}}</div>
            <input class="form-control" type="text" *ngIf="editMode" #debt3 (input)="changeTableTdValue(debt3.value, 'debt3', 'equity3',element,i)" [value]="element.debt3" [inputValidator]="validatorType.NUMBER_ONLY" [maxValue]="100" appInputValueValidation>
        </td>
    </ng-container>
    <ng-container matColumnDef="equity3">
        <th mat-header-cell *matHeaderCellDef class="br text-right"> Equity </th>
        <td mat-cell *matCellDef="let element; let i = index" class="br text-right" appCashflowTableEdit>
            <div class="bar">{{editMode ? '':element.equity3}}</div>
            <input class="form-control" type="text" *ngIf="editMode" #equity3 (input)="changeTableTdValue(equity3.value, 'equity3','debt3',element, i)" [value]="element.equity3" [inputValidator]="validatorType.NUMBER_ONLY" [maxValue]="100" appInputValueValidation>
        </td>
    </ng-container>
    <ng-container matColumnDef="debt4">
        <th mat-header-cell class="text-right" *matHeaderCellDef> Debt </th>
        <td mat-cell class="text-right" *matCellDef="let element; let i = index" appCashflowTableEdit>
            <div class="bar"> {{editMode ? '':element.debt4}}</div>

            <input class="form-control" type="text" *ngIf="editMode" #debt4 (input)="changeTableTdValue(debt4.value, 'debt4','equity4',element, i)" [value]="element.debt4" [inputValidator]="validatorType.NUMBER_ONLY" [maxValue]="100" appInputValueValidation>
        </td>
    </ng-container>
    <ng-container matColumnDef="equity4">
        <th mat-header-cell *matHeaderCellDef class="br text-right"> Equity </th>
        <td mat-cell *matCellDef="let element; let i = index" class="br text-right" appCashflowTableEdit>
            <div class="bar">{{editMode ? '':element.equity4}}</div>
            <input class="form-control" type="text" *ngIf="editMode" #equity4 (input)="changeTableTdValue(equity4.value, 'equity4','debt4',element, i)" [value]="element.equity4" [inputValidator]="validatorType.NUMBER_ONLY" [maxValue]="100" appInputValueValidation>
        </td>
    </ng-container>
    <ng-container matColumnDef="debt5">
        <th mat-header-cell class="text-right" *matHeaderCellDef> Debt </th>
        <td mat-cell class="text-right" *matCellDef="let element; let i = index" appCashflowTableEdit>
            <div class="bar"> {{editMode ? '':element.debt5}}</div>
            <input class="form-control" type="text" *ngIf="editMode" #debt5 (input)="changeTableTdValue(debt5.value, 'debt5','equity5',element, i)" [value]="element.debt5" [inputValidator]="validatorType.NUMBER_ONLY" [maxValue]="100" appInputValueValidation>
        </td>
    </ng-container>
    <ng-container matColumnDef="equity5">
        <th mat-header-cell class="text-right" *matHeaderCellDef> Equity </th>
        <td mat-cell class="text-right" *matCellDef="let element; let i = index">
            <div class="bar">{{editMode ? '':element.equity5}}</div>
            <input class="form-control" type="text" *ngIf="editMode" #equity5 (input)="changeTableTdValue(equity5.value, 'equity5','debt5',element, i)" [value]="element.equity5" [inputValidator]="validatorType.NUMBER_ONLY" [maxValue]="100" appInputValueValidation>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>