.cash-flow-upperTable {
    #table-low {
        tr.mat-header-row {
            height: 36px !important;
        }
        tr.mat-row {
            height: 32px !important;
            td {
                padding: 0px 8px !important;
            }
        }
    }
}

::ng-deep #table-low.edit-mode-hover tr td:not(:last-child:first-child):hover {
    box-shadow: 0px 0px 10px #ccc;
    cursor: cell;
}