#investmentPlan {
  .vertical-menu {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    display: block;
    // position: fixed;
    height: calc(100vh - 126px);

    li {
      height: 40px;
      line-height: 40px;
      padding: 0 0 0 20px;
      font-size: 14px;
      text-align: left;
      margin-bottom: 10px;


    }
  }
}
