h1 {
  font-family: "Playfair Display";
  font-size: 34px;
}




.scheme-details {

  p,
  h5 {
    font-family: "Proxima Nova", sans-serif !important;
  }

  p {
    color: #83959D;
  }

  h5 {
    color: #3F3F3F;
  }
}
