h1{
    font-family: "Playfair Display";
    font-size: 40px;
}
#custom-radio{
    display: flex;
    .mat-radio-button{
        min-width: 0px !important;
    }
    .mat-radio-inner-circle,.mat-radio-outer-circle,.mat-radio-container, .mat-radio-outer-circle{
        height: 10px !important;
        width: 10px !important;
    }
    .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
        display: none !important;
    }
    .mat-radio-label{
        display: grid !important;
        padding:  0 !important;
    }
    .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
        display: none !important;
    }
    
}
::ng-deep .mat-radio-label{
    display: block !important;
}
.scheme-details{
    p,h5{
        font-family: "Proxima Nova",sans-serif !important;
    }
    p{
        color: #83959D;
    }
    h5{
        color: #3F3F3F;
    }
}