<div class="bg-grey lter">
<div class="row">
    <div class="col-md-12 bg-dark">
        <h2 class="m-0 wrapper-24 text-white text-center">Aditya Birla Sun Life Equity Fund Direct Growth</h2>
    </div>
</div>
<div class="container pt-20">
    <div class="row">
        <div class="col-md-9 pr-0">
            <div class="d-flex mb-20">
                <mat-chip-list aria-label="Fish selection">
                        <mat-chip>Equity</mat-chip>
                        <mat-chip>Multi Cap</mat-chip>
                      </mat-chip-list>
                      <div class="pl-20">
                      <img src="/assets/images/svg/yellow-star.svg" class="c-p">
                      <img src="/assets/images/svg/yellow-star.svg" class="c-p">
                      <img src="/assets/images/svg/yellow-star.svg" class="c-p">
                      <img src="/assets/images/svg/light-star.svg" class="c-p">
                      <img src="/assets/images/svg/light-star.svg" class="c-p">
                    </div>
                    </div>
                    <div class="row bg-white pt-28 pb-20 pl-28">
                        <div class="col-md-4 p-0">
                            <p class="m-0 f-12 text-primitive">CURRENT VALUE</p>
                            <div class="row">
                                <div class="col-md-7 p-0">
                                    <h1 class="text-primary proxima">₹ 9,23,920</h1>
                                </div>
                                <div class="col-md-5 p-0">
                                    <h5 class="m-0 text-success pt-8 proxima">+9.68%</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 p-0">
                                <p class="m-0 f-12 text-primitive">PROFIT (LOSS)</p>
                                <h1 class="m-0 text-success proxima">₹ 47,590</h1>
                        </div>
                        <div class="col-md-4 p-0">
                                <p class="m-0 f-12 text-primitive">INVESTOR NAME</p>
                                <h3 class="m-0 text-black">Ronak Hasmukh Hindocha</h3>
                                <p class="m-0 text-primitive">23243434/78</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 pt-28 pl-28">
                            <p class="m-0 text-primitive">NAV</p>
                            <h2 class="m-0 text-black">726.9030</h2>
                            <p class="m-0 text-primitive">as on 13/09/2019</p>
                        </div>
                        <div class="col-md-6">
                                <p class="m-0 text-primitive">1 YEAR NAV RETURN</p>
                                <h2 class="m-0 text-black">12.23%</h2>
.                        </div>
                    </div>
                    <div class="row pt-44">
                            <div class="col-md-12">
                            <img src="/assets/images/svg/graph-popup.svg" alt="" class="w-100">
                            </div>
                        </div>
        </div>
        <div class="col-md-3">
                <button mat-button class="btn-black right br-0">INVEST NOW</button>
        </div>
    </div>
</div>
</div>