<div class="bg-grey lter">
  <div class="row second-fix">
    <div class="col-md-12 bg-dark">
      <h2 class="m-0 wrapper-24 text-white text-center">{{data.schemeName}}</h2>
    </div>
  </div>
  <div class="container  pt-170 pb-44">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-6 pl-64 pt-2">
        <div class="d-flex">
          <mat-chip-list aria-label="Fish selection">
            <mat-chip>{{data.categoryName}}</mat-chip>
            <mat-chip>{{data.subCategoryName}}</mat-chip>
          </mat-chip-list>

        </div>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-3 pl-0 pr-64">
        <button mat-button class="btn-black right br-0">INVEST NOW</button>
      </div>

    </div>
    <div class="row">
      <div class="col-md-9 p-0">

        <div class="row bg-white pt-28 pb-20 pl-28">
          <div class="col-md-4 p-0">
            <p class="m-0 f-12 text-primitive">CURRENT VALUE</p>
            <div class="row">
              <div class="col-md-7 p-0">
                <h1 class="text-primary f-32 proxima">₹ <span> {{currentValue}}</span></h1>
              </div>
              <div class="col-md-5 p-0">
                <h5 class="m-0 text-success pt-8 proxima"><span>{{(xirrValue >= 0) ? '+' : '-'}}</span>{{xirrValue |
                  number:'1.2-2'}}%</h5>
              </div>
            </div>
          </div>
          <div class="col-md-4 p-0">
            <p class="m-0 f-12 text-primitive">PROFIT (LOSS)</p>
            <h1 class="m-0 text-success proxima f-32">₹ <span>{{profitOrLossValue}}</span></h1>
          </div>
          <div class="col-md-4 p-0">
            <p class="m-0 f-12 text-primitive">INVESTOR NAME</p>
            <h3 class="m-0 text-black">{{ investorName }}</h3>
            <p class="m-0 text-primitive">{{ folioNumber }}</p>
          </div>
        </div>
        <div class="bg-white mt-20">
          <div class="row">
            <div class="col-md-6 pt-28 pl-28">
              <p class="m-0 text-primitive">NAV</p>
              <h2 class="m-0 text-black">{{nav}}</h2>
              <p class="m-0 text-primitive">as on {{data.navDate}}</p>
            </div>
            <div class="col-md-6 pt-28 pl-28 text-right">
              <div *ngIf="!isLoadingNav">
                <p class="m-0 text-primitive">{{schemeReturnName}} NAV RETURN</p>
                <h2 class="m-0 text-black">{{schemeReturnValue | number:'1.2-2'}}%</h2>
              </div>
              <div class="skeletonAnimation" *ngIf="isLoadingNav" [appSkeletonLoading]="isLoadingNav"
                appSkeletonLoading>
                <div class="text-primitive relClass m-0">
                  <div [ngClass]="{'height30': isLoadingNav}" class="bar pt-12">
                    <p class="text-black f-12 m-0 text-right roboto f-400">
                      {{''}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row pt-44" id="face-sheet-tabs">
            <!-- <div class="col-md-12">
              <img src="/assets/images/svg/graph-popup.svg" alt="" class="w-100">
            </div> -->

            <div class="col-md-12 p-0">
              <mat-tab-group headerPosition="below" *ngIf="!isLoadingNav" (selectedTabChange)="tabClick($event)"
                [(selectedIndex)]="demo1TabIndex">
                <mat-tab label="3m" [disabled]='disable3m'>
                  <div class="w-100 h-500">
                    <div class="highcharts-figure" [chart]="portfolioGraph"></div>
                  </div>
                </mat-tab>
                <mat-tab label="6m" [disabled]='disable6m'>
                  <div class="w-100 h-500">
                    <div class="highcharts-figure" [chart]="portfolioGraph1"></div>
                  </div>
                </mat-tab>
                <mat-tab label="1y" [disabled]='disable1y'>
                  <div class="w-100 h-500">
                    <div class="highcharts-figure" [chart]="portfolioGraph2"></div>
                  </div>
                </mat-tab>
                <mat-tab label="3y" [disabled]='disable3y'>
                  <div class="w-100 h-500">
                    <div class="highcharts-figure" [chart]="portfolioGraph3"></div>
                  </div>
                </mat-tab>
                <mat-tab label="5y" [disabled]='disable5y'>
                  <div class="w-100 h-500">
                    <div class="highcharts-figure" [chart]="portfolioGraph4"></div>
                  </div>
                </mat-tab>
                <mat-tab label="All" [disabled]='disableall'>
                  <div class="w-100 h-500">
                    <div class="highcharts-figure" [chart]="portfolioGraph5"></div>
                  </div>
                </mat-tab>
              </mat-tab-group>
              <div class="row skeletonAnimation" *ngIf="isLoadingNav" [appSkeletonLoading]="isLoadingNav"
                appSkeletonLoading>
                <div class="col-md-12  mt-20 overflow-hidden ">
                  <div class="relClass">
                    <div class="bar300 widthRelative" [ngClass]="{'height300': isLoadingNav}">
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>
        <div class="bg-white mt-20">
          <div class="wrapper-8">
            <p class="m-0 roboto f-500">Top Holdings</p>
            <div class="pt-12" id="table-low">
              <div *ngIf="dataSource.data.length > 0">
                <table mat-table [dataSource]="dataSource" appSkeletonLoading [appSkeletonLoading]="isLoading"
                  *ngIf="dataSource.data.length>0" class="skeletonAnimation" id="table-low">

                  <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Name </th>
                    <td mat-cell *matCellDef="let element">
                      <div class="bar"><span *ngIf="!isLoading">{{element.companyName ? element.companyName :'-'}}
                        </span>
                      </div>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="sector">
                    <th mat-header-cell *matHeaderCellDef> Sector </th>
                    <td mat-cell *matCellDef="let element">
                      <div class="bar"><span *ngIf="!isLoading">{{element.sectorName ? element.sectorName : '-'}}</span>
                      </div>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="ins">
                    <th mat-header-cell *matHeaderCellDef> Instrument </th>
                    <td mat-cell *matCellDef="let element">
                      <div class="bar"><span *ngIf="!isLoading">{{element.rating ? element.rating :'-'}}</span></div>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="all">
                    <th mat-header-cell *matHeaderCellDef class="w-12"> % Allocation </th>
                    <td mat-cell *matCellDef="let element" class="w-12">
                      <div class="bar">{{element.holdPercentage | number:'1.2-2'}}{{isLoading ? '' :'%'}}</div>
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="progress">
                    <th mat-header-cell *matHeaderCellDef class="w-15"> </th>
                    <td mat-cell *matCellDef="let element" class="w-15">
                      <div class="bar">
                        <div class="smallBoxReport">
                          <mat-progress-bar *ngIf="isLoading==false"
                            [matTooltip]="(element.holdPercentage | number:'1.2-2')+'%'" mode="determinate"
                            [value]="element.holdPercentage">
                          </mat-progress-bar>
                        </div>
                      </div>
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="assets">
                    <th mat-header-cell *matHeaderCellDef> Assets (Cr) </th>
                    <td mat-cell *matCellDef="let element">
                      <div class="bar" appFormatNumber> <span>{{!isLoading ? (element.mktValue ? element.mktValue : '-')
                          : ''}}</span></div>
                    </td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
              </div>

              <div *ngIf="dataSource.data.length == 0" class="d-flex flex-column align-items-center">
                <img class="width300" src="assets/images/svg/noDataFound.svg">
                <h4 class="text-center pt-12"> No data found</h4>

              </div>
            </div>
          </div>
        </div>
        <div class="bg-white mt-20">
          <div class="wrapper-8">
            <p class="m-0 f-500 roboto">Relative performance</p>
            <!-- <img src="/assets/images/svg/dotted.svg" class="w-100 pt-32"> -->
            <div class="highcharts-figure" *ngIf="!relativePerLoading && ratioData.length > 0" id="container-hc-figure"
              [chart]="performaceGraph">
            </div>
            <div class="row skeletonAnimation" *ngIf="relativePerLoading && ratioData.length > 0"
              [appSkeletonLoading]="relativePerLoading" appSkeletonLoading>
              <div class="col-md-12  mt-20 overflow-hidden ">
                <div class="relClass">
                  <div class="bar300 widthRelative" [ngClass]="{'height300': relativePerLoading}">
                  </div>
                </div>
              </div>
            </div>
            <div class="b-a mt-20 shadowBox bg-white" *ngIf="ratioData.length == 0">
              <div class="row">
                <div class="col-md-12 p-0">
                  <div class="d-flex align-items-center justify-content-center flex-column text-center mt-30 h-300 ">
                    <img src="assets/images/svg/net-cash-flow-empty-state.svg">
                    <h4 class="f-14 mb-0 mt-20">Not enough data to display</h4>
                    <p class="f-12 text-primitive"> Before we can create any charts, <br> we’ll
                      first need to get some data in here </p>
                  </div>
                </div>
              </div>

            </div>
          </div>

        </div>


        <div class="row">
          <div class="col-md-12 pt-28" [appSkeletonLoading]="isLoadingSchemeDetails" appSkeletonLoading>
            <h4 class="m-0 f-500">About {{data.schemeName}}</h4>
            <p class="m-0 f-300 roboto pt-8" *ngIf="!isLoadingSchemeDetails">{{data.schemeName}} is a
              {{data.categoryName | lowercase }} Mutual Fund
              Scheme launched by {{schemeDetails?.amc}} Mutual Fund.<span *ngIf="schemeDetails?.inceptDate">This scheme
                was introduced to investors on {{schemeDetails?.inceptDate ? (schemeDetails?.inceptDate |
                date:'dd-MMM-yyyy') : '-'}}.</span><span
                *ngIf="schemeDetails?.fundManager1">{{schemeDetails?.fundManager1}} is the Current Fund Manager of
                {{data.schemeName}}.</span>The fund
              currently has an Asset Under Management(AUM) of ₹<span appFormatNumber
                [value]="schemeDetails?.aum ? schemeDetails?.aum :'-'"></span> Cr and the Latest NAV as of
              {{data.navDate
              | date:'dd/MM/yyyy'}} is
              ₹{{data?.nav}}.</p>
            <p class="m-0 f-300 roboto pt-8" *ngIf="!isLoadingSchemeDetails">The {{data.schemeName}} is rated
              {{schemeDetails?.color}}.<span *ngIf="data.sipAmount != 0">Minimum SIP
                Investment is {{data.sipAmount}}.</span><span *ngIf="schemeDetails?.lumpsum">Minimum Lumpsum Investment
                is {{schemeDetails?.lumpsum}}. Exit load of
                {{schemeDetails?.exitLoad}}% if redeemed
                within 365 days.</span></p>
            <div class="relClass" *ngIf="isLoadingSchemeDetails">
              <div [ngClass]="{'height80': isLoadingSchemeDetails}" class="bar">
                <h1 class="f-35 m-0 roboto text-black pt-8 ">
                  <span>{{''}}</span>
                </h1>
              </div>
            </div>
            <h4 class="m-0 f-500 pt-20">Scheme objective</h4>
            <p class="f-300 roboto m-0 pt-8" *ngIf="!isLoadingSchemeDetails">{{schemeDetails?.objective}}</p>
            <div class="relClass" *ngIf="isLoadingSchemeDetails">
              <div [ngClass]="{'height80': isLoadingSchemeDetails}" class="bar">
                <h1 class="f-35 m-0 roboto text-black pt-8 ">
                  <span>{{''}}</span>
                </h1>
              </div>
            </div>
            <h4 class="m-0 f-500 pt-20">Disclaimer</h4>
            <p class="f-300 roboto m-0 pt-8">Mutual Fund investments are subject to market risks, read all scheme
              related documents carefully. </p>
          </div>
        </div>
      </div>
      <div class="col-md-3 pr-0">
        <div class="bg-white pt-12">
          <div class="row">
            <div class="col-md-12">
              <p class="m-0 text-black roboto">Learn more</p>
            </div>
          </div>
          <div class="row pt-20 skeletonAnimation" [appSkeletonLoading]="schemeReturnLoading" appSkeletonLoading>
            <div class="col-md-6">
              <p class="m-0 f-12 roboto">Scheme Returns</p>
              <h1 class="m-0 text-primary" *ngIf="!schemeReturnLoading">{{schemeReturnValue ? (schemeReturnValue |
                number:'1.2-2') :
                '-'}}{{schemeReturnValue ? '%' : ''}}</h1>
              <div class="col-md-9 p-0 relClass m-0" *ngIf="schemeReturnLoading">
                <div [ngClass]="{'height23': schemeReturnLoading}" class="bar">
                  <p class="text-black f-12 m-0 text-right roboto f-400">
                    {{''}}</p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <h1 class="m-0 text-primary pt-60" *ngIf="!schemeReturnLoading">{{xirr ? (xirr | number:'1.2-2') :
                '-'}}{{xirr ? '%' : ''}}</h1>
              <div class="relClass">
                <div class="col-md-9 p-0 relClass m-0" *ngIf="schemeReturnLoading">
                  <div [ngClass]="{'height23': schemeReturnLoading}" class="bar">
                    <p class="text-black f-12 m-0 text-right roboto f-400">
                      {{''}}</p>
                  </div>
                </div>
              </div>
              <p class="m-0 f-12 roboto pb-28">Your Returns</p>
            </div>
          </div>
        </div>
        <div class="bg-white mt-20">
          <div class="wrapper-8">
            <p class="m-0 roboto">Scheme Performance</p>
          </div>
          <div class="row">
            <div class="col-md-12 text-center p-0">
              <p class="m-0 pt-32 roboto">An investment of </p>
              <h2 class="f-34 m-0 pt-8 proxima">
                <div class="form-group mb-0">
                  <mat-form-field>
                    <input class="form-control br-0 percentage" (keyup)="changeAmount($event)" [formControl]="amount"
                      matInput type="number" [inputValidator]="validatorType.NUMBER_ONLY" [maxLength]="10"
                      appInputValueValidation>
                  </mat-form-field>
                </div>
                <mat-error class="f-12 text-left" *ngIf="error">
                  This field is required
                </mat-error>
                <mat-error class="f-12 text-left" *ngIf="maxLengthError">
                  Amount should be greater than 100
                </mat-error>
              </h2>
              <p class="m-0 pt-12 roboto">would have fetched you following returns</p>
              <!-- <img src="/assets/images/svg/graph-scheme.svg" class="w-100 pt-32"> -->
              <div class="highcharts-figure" *ngIf="!navLoading" id="container-hc-figure" [chart]="schemeChart">
              </div>
              <div class="row skeletonAnimation" *ngIf="navLoading" [appSkeletonLoading]="navLoading"
                appSkeletonLoading>
                <div class="col-md-12  mt-20 overflow-hidden ">
                  <div class="relClass">
                    <div class="bar300 widthRelative" [ngClass]="{'height300': navLoading}">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row pt-20">
            <div class="col-md-2 pl-0">
              <p class="f-12 m-0 pt-12 text-right pl-12">Period</p>
            </div>
            <div class="col-md-10 p-0 face-sheet-radio">
              <mat-radio-group id="custom-radio" [formControl]="selectedItem" (change)="changeSelection($event.value)">
                <mat-radio-button value="1">3m</mat-radio-button>
                <mat-radio-button value="2">6m</mat-radio-button>
                <mat-radio-button value="3">1y</mat-radio-button>
                <mat-radio-button value="4">3y</mat-radio-button>
                <mat-radio-button value="5">5y</mat-radio-button>
              </mat-radio-group>

            </div>
          </div>
          <div class="row pt-24 pb-24">
            <div class="col-md-6">
              <button mat-button class="btn-primary br-0" (click)="openTransaction(data)">START SIP</button>
            </div>
            <div class="col-md-6">
              <button mat-button class="btn-primary br-0" (click)="openTransaction(data)">LUMPSUM</button>
            </div>
          </div>
        </div>
        <div class="bg-white mt-20 pb-20">
          <div class="row">
            <div class="col-md-12">
              <p class="m-0">Riskometer</p>
              <div class="highcharts-figure" *ngIf="!speedLoading" id="container-hc-figure" [chart]="speedChartVar">
              </div>
              <div class="row skeletonAnimation" *ngIf="speedLoading" [appSkeletonLoading]="speedLoading"
                appSkeletonLoading>
                <div class="col-md-12  mt-20 overflow-hidden ">
                  <div class="relClass">
                    <div class="bar300 widthRelative" [ngClass]="{'height300': speedLoading}">
                    </div>
                  </div>
                </div>
              </div>
              <!-- <img src="/assets/images/svg/riskmeter.svg" class="w-100 pt-32"> -->
              <p class="f-12 m-0 text-center">Investors understand that their principal
                will be at Moderately High risk</p>
            </div>
          </div>
        </div>
        <div class="bg-white mt-20 scheme-details" [appSkeletonLoading]="isLoadingSchemeDetails" appSkeletonLoading>
          <p class="m-0 f-500 text-black pt-8 pl-8">Scheme details</p>
          <div class="row pt-20">
            <div class="col-md-6">
              <p class="f-12 m-0">MIN AMOUNT</p>
              <h5 class="m-0" *ngIf="!isLoadingSchemeDetails"><span appFormatNumber class="bar"
                  [value]="schemeDetails?.minAmount ? schemeDetails?.minAmount : '-'"></span>
              </h5>
              <div class="col-md-9 p-0 relClass m-0" *ngIf="isLoadingSchemeDetails">
                <div [ngClass]="{'height23': isLoadingSchemeDetails}" class="bar pt-12">
                  <p class="text-black f-12 m-0 text-right roboto f-400">
                    {{''}}</p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <p class="f-12 m-0">SCHEME TYPE</p>
              <h5 class="m-0" *ngIf="!isLoadingSchemeDetails">{{(schemeDetails?.type)}}</h5>
              <div class="col-md-9 p-0 relClass m-0" *ngIf="isLoadingSchemeDetails">
                <div [ngClass]="{'height23': isLoadingSchemeDetails}" class="bar pt-12">
                  <p class="text-black f-12 m-0 text-right roboto f-400">
                    {{''}}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row pt-28">
            <div class="col-md-6">
              <p class="f-12 m-0">SCHEME STARTED</p>
              <h5 class="m-0" *ngIf="!isLoadingSchemeDetails">{{(schemeDetails?.inceptDate | date:'dd-MM-yyyy') }}</h5>
              <div class="col-md-9 p-0 relClass m-0" *ngIf="isLoadingSchemeDetails">
                <div [ngClass]="{'height23': isLoadingSchemeDetails}" class="bar pt-12">
                  <p class="text-black f-12 m-0 text-right roboto f-400">
                    {{''}}</p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <p class="f-12 m-0">SCHEME SIZE</p>
              <h5 class="m-0" *ngIf="!isLoadingSchemeDetails"><span appFormatNumber
                  [value]="schemeDetails?.aum ? schemeDetails?.aum : '-'"></span>
              </h5>
              <div class="col-md-9 p-0 relClass m-0" *ngIf="isLoadingSchemeDetails">
                <div [ngClass]="{'height23': isLoadingSchemeDetails}" class="bar pt-12">
                  <p class="text-black f-12 m-0 text-right roboto f-400">
                    {{''}}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row pt-28">
            <div class="col-md-6">
              <p class="f-12 m-0">CASH POSITION</p>
              <h5 class="m-0" *ngIf="!isLoadingSchemeDetails">{{schemeDetails?.aum ? (schemeDetails?.aum |
                number:'1.2-2') :'-'}}{{schemeDetails?.aum ? '%' : ''}}</h5>
              <div class="col-md-9 p-0 relClass m-0" *ngIf="isLoadingSchemeDetails">
                <div [ngClass]="{'height23': isLoadingSchemeDetails}" class="bar pt-12">
                  <p class="text-black f-12 m-0 text-right roboto f-400">
                    {{''}}</p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <p class="f-12 m-0">EXPENSE RATIO</p>
              <h5 class="m-0" *ngIf="!isLoadingSchemeDetails">{{schemeDetails?.expRatio}}</h5>
              <div class="col-md-9 p-0 relClass m-0" *ngIf="isLoadingSchemeDetails">
                <div [ngClass]="{'height23': isLoadingSchemeDetails}" class="bar pt-12">
                  <p class="text-black f-12 m-0 text-right roboto f-400">
                    {{''}}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row pt-28">
            <div class="col-md-6">
              <p class="f-12 m-0">PE RATIO</p>
              <h5 class="m-0" *ngIf="!isLoadingSchemeDetails">{{(schemeDetails?.pe | number:'1.2-2')}}</h5>
              <div class="col-md-9 p-0 relClass pt-12 m-0" *ngIf="isLoadingSchemeDetails">
                <div [ngClass]="{'height23': isLoadingSchemeDetails}" class="bar">
                  <p class="text-black f-12 m-0 text-right roboto f-400">
                    {{''}}</p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <p class="f-12 m-0">P/B RATIO</p>
              <h5 class="m-0" *ngIf="!isLoadingSchemeDetails">{{(schemeDetails?.pb | number:'1.2-2')}}</h5>
              <div class="col-md-9 p-0 relClass pt-12 m-0" *ngIf="isLoadingSchemeDetails">
                <div [ngClass]="{'height23': isLoadingSchemeDetails}" class="bar">
                  <p class="text-black f-12 m-0 text-right roboto f-400">
                    {{''}}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row pt-28 pb-28">
            <div class="col-md-12">
              <p class="f-12 m-0">EXIT LOAD</p>
              <h5 class="m-0" *ngIf="!isLoadingSchemeDetails"><span *ngIf="schemeDetails?.exitLoad">Exit load of
                  {{schemeDetails?.exitLoad}}
                  if redeemed within
                  365 days.</span><span *ngIf="!schemeDetails?.exitLoad">{{'-'}}</span></h5>
              <div class="col-md-9 p-0 relClass m-0" *ngIf="isLoadingSchemeDetails">
                <div [ngClass]="{'height23': isLoadingSchemeDetails}" class="bar  pt-12">
                  <p class="text-black f-12 m-0 text-right roboto f-400">
                    {{''}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>