h1 {
  font-family: "Playfair Display";
  font-size: 34px;
}




.scheme-details {

  p,
  h5 {
    font-family: "Proxima Nova", sans-serif !important;
  }

  p {
    color: #83959D;
  }

  h5 {
    color: #3F3F3F;
  }
}

.highcharts-figure,

.highcharts-figure,
.highcharts-data-table table {
  min-width: 360px; 
  max-width: 1000px;
  margin: 1em auto;
}
::ng-deep .smallBoxReport {
  .mat-progress-bar{
    height: 15px;

  }
  .mat-progress-bar-fill::after {
    background-color: #008FFF;
   
  }
}