.settingProfile {
    .form_container_new_wrapper {
        width: 50%;
    }
}

::ng-deep .settingProfile .mat-form-field-appearance-standard .mat-form-field-flex {
    padding-top: 0px !important;
}

.info-vaild {
    position: absolute;
    right: -185px;
    top: 1px;
}

.eyesPassword {
    position: absolute;
    right: 10px;
    top: 8px;
}