<!-- ADD INSURANCE -->
<div class="popup-header-fix-60">
    <div class="row bb-1">
        <div class="col-md-7 p-0">
            <h4 class="mb-0 wrapper-20"> ADD LIFE INSURANCE</h4>
        </div>
        <div class="col-md-5 text-right">
            <div class="wrapper-12">
                <button matTooltip="Have lots of policies?You can bulk upload these policies using excel import option" mat-button class="btn-dark-black addon mr-8 ">
                    <img src="assets/images/svg/insurance-download-icon.svg" class="c-p mr-8"> Import policies
                </button>
                <i class="material-icons c-p v-middle" (click)="close()"> clear</i>
            </div>
        </div>
    </div>
</div>

<div #chnageScrollPosition class="pt-72 pl-24 pr-24 pb-24">
    <div class="lifeInsuranceMainBox" [formGroup]="lifeInsuranceForm">
        <div class="row pt-40">
            <div class="col-md-5 text-right">
                <h5 class="m-0 pt-8">Life assured</h5>
                <p class="m-0 f-12 text-custom">In whose name is this asset</p>
            </div>
            <div class="col-md-5">
                <div class="form-group mb-0">
                    <input matInput maxlength="40" formControlName="lifeAssured" #lifeassured autocomplete="true" class="form-control br-0">
                    <div class="row">
                        <div class="col-md-10">
                            <mat-error [ngClass]="{'v-h': true}" class="f-12">
                                sasidl</mat-error>
                        </div>
                        <div class="col-md-2">
                            <mat-hint class="f-12">{{lifeassured.value.length}}/40</mat-hint>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row pt-40">
            <div class="col-md-5 text-right">
                <h5 class="m-0 pt-8">Proposer</h5>
                <p class="m-0 f-12 text-custom">Who has proposed this policy</p>
            </div>
            <div class="col-md-5">
                <div class="form-group mb-0">

                    <input matInput formControlName="proposer" #proposer autocomplete="true" class="form-control br-0">
                    <div class="row">
                        <div class="col-md-10">
                            <mat-error [ngClass]="{'v-h': true}" class="f-12">sasidl</mat-error>
                        </div>
                        <div class="col-md-2">
                            <mat-hint class="f-12">{{proposer.value.length}}/40</mat-hint>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="row pt-40">
            <div class="col-md-5 text-right">
                <h5 class="m-0 pt-8">Policy name</h5>
                <p class="m-0 f-12 text-custom">Start typing to see policy names</p>
            </div>
            <div class="col-md-5">
                <div class="form-group mb-0">

                    <input matInput formControlName="policyName" #policyname autocomplete="true" class="form-control br-0">
                    <div class="row">
                        <div class="col-md-10">
                            <mat-error [ngClass]="{'v-h': true}" class="f-12">sasidl</mat-error>
                        </div>
                        <div class="col-md-2">
                            <mat-hint class="f-12">{{policyname.value.length}}/40</mat-hint>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row pt-40">
            <div class="col-md-5 text-right">
                <h5 class="m-0 pt-8">Policy number</h5>
            </div>
            <div class="col-md-5">
                <div class="form-group mb-0">

                    <input matInput type="number" formControlName="policyNum" #policynumber autocomplete="true" class="form-control br-0">
                    <div class="row">
                        <div class="col-md-10">
                            <mat-error [ngClass]="{'v-h': true}" class="f-12">sasidl</mat-error>
                        </div>
                        <div class="col-md-2">
                            <mat-hint class="f-12">{{policynumber.value.length}}/40</mat-hint>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row pt-40">
            <div class="col-md-5 text-right">
                <h5 class="m-0 pt-8">Commencement date</h5>
            </div>
            <div class="col-md-5">
                <div class="form-group form-group_one mb-0">
                    <!--
                    <input matInput formControlName="commencementDate" #commencementdate autocomplete="true" class="form-control br-0">
                    <mat-error class="text-danger" align="start"></mat-error>
                    <mat-hint align="end">{{commencementdate.value.length}}/40</mat-hint>
                 -->

                    <input matInput formControlName="commencementDate" class="form-control br-0" [matDatepicker]="picker">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #policyPicker></mat-datepicker>

                </div>
            </div>
        </div>

        <div class="row pt-40">
            <div class="col-md-5 text-right">
                <h5 class="m-0 pt-8">Sum assured</h5>
            </div>
            <div class="col-md-5">
                <div class="form-group mb-0">

                    <input matInput formControlName="sumAssured" #sumassured autocomplete="true" class="form-control br-0">
                    <div class="row">
                        <div class="col-md-10">
                            <mat-error [ngClass]="{'v-h': true}" class="f-12">sasidl</mat-error>
                        </div>
                        <div class="col-md-2">
                            <mat-hint class="f-12">{{policyname.value.length}}/40</mat-hint>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row pt-40">
            <div class="col-md-5 text-right">
                <h5 class="m-0 pt-28">Premium details</h5>
            </div>
            <div class="col-md-3">
                <div class="form-group mb-0">
                    <label class="f-16 roboto">Amount</label>

                    <input matInput formControlName="premiumDetailsAmount" #premiumdetails autocomplete="true" class="form-control br-0">
                    <mat-error [ngClass]="{'v-h': true}" class="f-12">sasidl</mat-error>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group mb-0">
                    <label class="f-16 roboto">Frequency</label>
                    <mat-select [(value)]="selected" formControlName="premiumDetailsFrequency" #frequency autocomplete="true" class="form-control br-0">
                        <mat-option value="option1">Monthly</mat-option>
                        <mat-option value="option2">Quarterly</mat-option>
                        <mat-option value="option3">Semi annually</mat-option>
                        <mat-option value="option4">Annually</mat-option>
                    </mat-select>
                    <mat-error class="text-danger" align="start"></mat-error>
                </div>
            </div>
        </div>

        <div class="row pt-40">
            <div class="col-md-5 text-right">
                <h5 class="m-0 pt-28">Tenure details</h5>
                <p class="m-0 f-12 text-custom">in years</p>
            </div>
            <div class="col-md-3">
                <div class="form-group mb-0">
                    <label class="f-16 roboto">Policy tenure</label>
                    <input matInput formControlName="tenureDetailsPolicy" #tenuredetails autocomplete="true" class="form-control br-0">
                    <mat-error [ngClass]="{'v-h': true}" class="f-12">sasidl</mat-error>

                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group mb-0">
                    <label class="f-16 roboto">Premium paying term</label>
                    <input matInput formControlName="premiumPayingTerm" #premiumterm autocomplete="true" class="form-control br-0">
                    <mat-error [ngClass]="{'v-h': true}" class="f-12">sasidl</mat-error>
                </div>
            </div>
        </div>

        <div class="row pt-40">
            <div class="col-md-5 text-right">
                <h5 class="m-0 pt-28">Policy status</h5>
            </div>
            <div class="col-md-3">
                <div class="form-group mb-0">
                    <label class="f-16 roboto"> </label>
                    <!-- <input matInput formControlName="policyStatus" #policystatus autocomplete="true"
                        class="form-control br-0"> -->
                    <mat-select formControlName="policyStatus" #frequency autocomplete="true" class="form-control mt-28 br-0">
                        <mat-option value="option1">In force</mat-option>
                        <mat-option value="option2">Lapsed</mat-option>
                        <mat-option value="option3">Paid up</mat-option>
                        <mat-option value="option4">Fully paid up</mat-option>
                    </mat-select>
                    <mat-error [ngClass]="{'v-h': true}" class="f-12">sasidl</mat-error>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group form-group_two mb-0">
                    <label class="f-16 roboto">Last unpaid premium</label>
                    <!--
                        <input matInput formControlName="policyStatusLastUnpaid" #lastunpaid autocomplete="true"
                            class="form-control br-0">
                        <mat-error class="text-danger" align="start"></mat-error>
                        <mat-hint align="end">{{lastunpaid.value.length}}/40</mat-hint>
                     -->
                    <input matInput formControlName="policyStatusLastUnpaid" [matDatepicker]="policyPicker" class="form-control br-0">
                    <mat-datepicker-toggle matSuffix [for]="policyPicker"></mat-datepicker-toggle>
                    <mat-datepicker #policyPicker></mat-datepicker>
                    <mat-error [ngClass]="{'v-h': true}" class="f-12">sasidl</mat-error>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="addMoreFlag==false" class="row pt-40 pb-48">
        <div (click)="openOptionField()" class="col-md-5 text-right">
            <p class="m-0 text-primitive f-16 c-p"> + Add more [optional data] </p>
        </div>
        <div class="col-md-3">
        </div>
    </div>

    <div *ngIf="addMoreFlag" class="row pt-40">
        <div (click)="openOptionField()" class="col-md-5 text-right">
            <p class="m-0 text-primitive f-16 c-p">Show less</p>
        </div>
        <div class="col-md-3">
        </div>
    </div>
    <div *ngIf="addMoreFlag" class="row pt-40">
        <div class="col-md-12 tabView">
            <mat-tab-group animationDuration="0ms">
                <mat-tab label="Key details">
                    <div class="row pt-40">
                        <div class="col-md-5 text-right">
                            <h5 class="m-0 pt-8">Risk Cover</h5>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group mb-0">
                                <input matInput class="form-control br-0">
                            </div>
                        </div>
                    </div>
                    <div class="row pt-40">
                        <div class="col-md-5 text-right">
                            <h5 class="m-0pt-8">Surrender Value</h5>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group mb-0">
                                <input matInput class="form-control br-0">
                            </div>
                        </div>
                    </div>

                    <div class="row pt-40">
                        <div class="col-md-5 text-right">
                            <h5 class="m-0 pt-8">Nominee name</h5>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group mb-0">
                                <input matInput class="form-control br-0">
                            </div>
                        </div>
                    </div>

                    <div class="row pt-40">
                        <div class="col-md-5 text-right">
                            <h5 class="m-0 pt-8">Nominee name</h5>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group mb-0">
                                <input matInput class="form-control br-0">
                            </div>
                        </div>
                    </div>

                    <div class="row pt-40">
                        <div class="col-md-5 text-right">
                            <h5 class="m-0 pt-8">Vested bouns</h5>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group mb-0">
                                <input matInput class="form-control br-0">
                            </div>
                        </div>
                    </div>

                    <div class="row pt-40">
                        <div class="col-md-5 text-right">
                            <h5 class="m-0 pt-8">Assumed rate</h5>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group mb-0">
                                <input matInput class="form-control br-0">
                            </div>
                        </div>
                    </div>

                </mat-tab>
                <mat-tab label="Cash Flows">
                    <div class="row pt-40">
                        <div class="col-md-5 text-right">
                            <h5 class="m-0 pt-8"> Risk Cover </h5>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group mb-0">
                                <input matInput class="form-control br-0">
                            </div>
                        </div>
                    </div>

                    <div class="row pt-40">
                        <div class="col-md-5 text-right">
                            <h5 class="m-0 pt-8"> Surrender value </h5>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group mb-0">
                                <input matInput class="form-control br-0">
                            </div>
                        </div>
                    </div>

                    <div class="row pt-40">
                        <div class="col-md-5 text-right">
                            <h5 class="m-0 pt-8"> Nominee name </h5>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group mb-0">
                                <input matInput class="form-control br-0">
                            </div>
                        </div>
                    </div>

                    <div class="row pt-40">
                        <div class="col-md-5 text-right">
                            <h5 class="m-0 pt-8"> Vested bouns </h5>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group mb-0">
                                <input matInput class="form-control br-0">
                            </div>
                        </div>
                    </div>

                    <div class="row pt-40">
                        <div class="col-md-5 text-right">
                            <h5 class="m-0 pt-8"> Assumed rate </h5>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group mb-0">
                                <input matInput class="form-control br-0">
                            </div>
                        </div>
                    </div>

                </mat-tab>

                <mat-tab label="Riders">
                    <div class="row pt-40">
                        <div class="col-md-4">
                            <div class="form-group mb-0">
                                <label class="f-16 roboto">Accidental benefit</label>
                                <input matInput class="form-control br-0">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group mb-0">
                                <label class="f-16 roboto">Double Accidental</label>
                                <input matInput class="form-control br-0">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group mb-0">
                                <label class="f-16 roboto">Term waiver</label>
                                <input matInput class="form-control br-0">
                            </div>
                        </div>
                    </div>


                    <div class="row pt-40 pb-48">
                        <div class="col-md-4">
                            <div class="form-group mb-0">
                                <label class="f-16 roboto">Critical illeness</label>
                                <input matInput class="form-control br-0">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group mb-0">
                                <label class="f-16 roboto">Premium waiver</label>
                                <input matInput class="form-control br-0">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group mb-0">
                                <label class="f-16 roboto">Female critical illeness</label>
                                <input matInput class="form-control br-0">
                            </div>
                        </div>
                    </div>

                </mat-tab>
                <mat-tab label="Loan details">
                    <div class="row pt-40 pb-48">
                        <div class="col-md-4">
                            <div class="form-group mb-0">
                                <label class="f-16 roboto">loan availble</label>
                                <input matInput class="form-control br-0">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group mb-0">
                                <label class="f-16 roboto">Loan taken</label>
                                <input matInput class="form-control br-0">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group mb-0">
                                <label class="f-16 roboto">Loan taken on</label>
                                <input matInput class="form-control br-0">
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Miscellaneous">
                    <div class="row pt-40">
                        <div class="col-md-5 text-right">
                            <h5 class="m-0 pt-8"> Permium payment mode </h5>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group mb-0">
                                <input matInput class="form-control br-0">
                            </div>
                        </div>
                    </div>

                    <div class="row pt-40">
                        <div class="col-md-5 text-right">
                            <h5 class="m-0 pt-8"> Advisor name </h5>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group mb-0">
                                <input matInput class="form-control br-0">
                            </div>
                        </div>
                    </div>

                    <div class="row pt-40 pb-48">
                        <div class="col-md-5 text-right">
                            <h5 class="m-0 pt-8"> Service branch </h5>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group mb-0">
                                <input matInput class="form-control br-0">
                            </div>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>
<div class="bottom-fixed wrapper-16 pb-12">
    <div class="row">
        <div class="col-md-4 p-0">
            <h5 class="mb-0 pt-8 text-white c-p text-left" (click)="Close('close')">Cancel</h5>
        </div>
        <div class="col-md-8 right text-right">
            <button mat-button class="btn-bottom br-0 text-inherit" (click)="saveAddInsurance()">SAVE</button>
        </div>
    </div>
</div>


<!-- Detailed View -->
<!-- <div class="popup-header-fix-60">
    <div class="row bb-1">
        <div class="col-md-7 p-0">
            <h4 class="mb-0 wrapper-20"> LIC Jeevan Saral | 9090889898 | Aryan Jain </h4>
        </div>
        <div class="col-md-5 text-right">
            <div class="wrapper-12">
                <i class="material-icons c-p v-middle" (click)="close()"> clear</i>
            </div>
        </div>
    </div>
</div>


<div class="pt-72 pl-24 pr-24 pb-24">
    <div class="row pt-8">
        <div class="col-md-6">
            <div class="insurance-ui">
                <div class="lter">
                    <h5 class="m-0 wrapper-8 f-16 f-500 pl-0 bb-0"> Policy details </h5>
                </div>
                <table mat-table [dataSource]="dataSource" class="documentsTable" id="table-low">
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> </th>
                        <td class="br" mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>

                    <ng-container matColumnDef="amountTable">
                        <th mat-header-cell *matHeaderCellDef> </th>
                        <td class="text-right" mat-cell *matCellDef="let element"> {{element.amountTable}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <div class="col-md-12 text-right mt-4 p-0">
                    <p class="f-12 text-primitive m-0">
                        Updated: 04/09/2019
                    </p>
                </div>
            </div>

            <div class="insurance-ui">
                <div class="lter">
                    <h5 class="m-0 wrapper-8 f-16 f-500 pl-0 bb-0"> Loan details </h5>
                </div>
                <table mat-table [dataSource]="dataSource2" class="documentsTable" id="table-low">
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> </th>
                        <td class="br" mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>

                    <ng-container matColumnDef="amountTable">
                        <th mat-header-cell *matHeaderCellDef> </th>
                        <td class="text-right" mat-cell *matCellDef="let element"> {{element.amountTable}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
                </table>
                <div class="col-md-12 text-right mt-4 p-0">
                    <p class="f-12 text-primitive m-0">
                        Updated: 04/09/2019
                    </p>
                </div>

            </div>

            <div class="insurance-ui">
                <div class="lter">
                    <h5 class="m-0 wrapper-8 f-16 f-500 pl-0 bb-0"> Miscellaneous details </h5>
                </div>
                <table mat-table [dataSource]="dataSource2" class="documentsTable" id="table-low">
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> </th>
                        <td class="br" mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>

                    <ng-container matColumnDef="amountTable">
                        <th mat-header-cell *matHeaderCellDef> </th>
                        <td class="text-right" mat-cell *matCellDef="let element"> {{element.amountTable}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
                </table>
                <div class="col-md-12 text-right mt-4 p-0">
                    <p class="f-12 text-primitive m-0">
                        Updated: 04/09/2019
                    </p>
                </div>
            </div>


        </div>

        <div class="col-md-6 ">
            <div class="insurance-ui">
                <div class="lter">
                    <h5 class="m-0 wrapper-8 f-16 f-500 pl-0 bb-0"> Key details </h5>
                </div>
                <table mat-table [dataSource]="dataSource1" class="documentsTable" id="table-low">
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> </th>
                        <td class="br" mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>

                    <ng-container matColumnDef="amountTable">
                        <th mat-header-cell *matHeaderCellDef> </th>
                        <td class="text-right" mat-cell *matCellDef="let element"> {{element.amountTable}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>
                </table>
                <div class="col-md-12 text-right mt-4 p-0">
                    <p class="f-12 text-primitive m-0">
                        Updated: 04/09/2019
                    </p>
                </div>
            </div>


            <div class="miscellaneous_table">
                <div class="lter">
                    <h5 class="m-0 wrapper-8 f-16 f-500 bb-0"> Miscellaneous details </h5>
                </div>
                <table mat-table [dataSource]="dataSource3" class="documentsTable" id="table-low">
                    <ng-container matColumnDef="tpye">
                        <th mat-header-cell *matHeaderCellDef> Type </th>
                        <td mat-cell *matCellDef="let element"> {{element.tpye}} </td>
                    </ng-container>

                    <ng-container matColumnDef="year">
                        <th mat-header-cell *matHeaderCellDef> Year </th>
                        <td mat-cell *matCellDef="let element"> {{element.year}} </td>
                    </ng-container>

                    <ng-container matColumnDef="amountTable">
                        <th class="text-right" mat-header-cell *matHeaderCellDef> Amount </th>
                        <td class="text-right" mat-cell *matCellDef="let element"> {{element.amountTable}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns3"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns3;"></tr>
                </table>
                <div class="col-md-12 text-right mt-4 p-0">
                    <p class="f-12 text-primitive m-0">
                        Updated: 04/09/2019
                    </p>
                </div>
            </div>


            <div class="insurance-ui">
                <div class="lter">
                    <h5 class="m-0 wrapper-8 f-16 f-500 bb-0"> Riders </h5>
                </div>
                <table mat-table [dataSource]="dataSource1" class="documentsTable" id="table-low">
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> </th>
                        <td class="br" mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>

                    <ng-container matColumnDef="amountTable">
                        <th mat-header-cell *matHeaderCellDef> </th>
                        <td class="text-right" mat-cell *matCellDef="let element"> {{element.amountTable}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>
                </table>
                <div class="col-md-12 text-right mt-4 p-0">
                    <p class="f-12 text-primitive m-0">
                        Updated: 04/09/2019
                    </p>
                </div>
            </div>
        </div>
    </div>
</div> -->