<!-- ADD INSURANCE -->
<div class="popup-header-fix-60">
    <div class="row bb-1">
        <div class="col-md-6 p-0">
            <h4 class="mb-0 wrapper-20 pr-0"> {{flag}} {{showInsurance | titlecase}} insurance</h4>
        </div>
        <div class="col-md-6 text-right">
            <div class="wrapper-12">
                <!-- <button matTooltip="Have lots of policies?You can bulk upload these policies using excel import option" mat-button class="btn-dark-black addon mr-8 ">
                    <img src="assets/images/svg/insurance-download-icon.svg" class="c-p mr-8"> Import policies
                </button> -->
                <i class="material-icons c-p v-middle" (click)="close(null)"> clear</i>
            </div>
        </div>
    </div>
</div>

<div #chnageScrollPosition class="pt-90 pl-24 pr-24 pb-24 mb-48">
    <div class="lifeInsuranceMainBox" [formGroup]="lifeInsuranceForm">

        <div formArrayName="getCoOwnerName">
            <div class="row" *ngFor="let obj of getCoOwner.controls; let pointIndex=index" [formGroupName]="pointIndex">
                <div class="col-md-5 pr-0 d-flex align-items-center justify-content-end">
                    <h5 class="m-0">Life assured</h5>
                </div>
                <div [ngClass]="getCoOwner.controls.length > 1?'col-md-3' : 'col-md-5'">
                    <div class="form-group">
                        <mat-form-field floatLabel="never" appearance="standard">
                            <mat-select appOwnerNominee matInput formControlName="name" [data]='ownerData' (selectionChange)="disabledMember($event.value,'owner')" (valueChange3)='displayControler($event)' (valueChange1)='lisNominee($event)' class="form-control br-0" [callMethod]='callMethod'>
                                <mat-option value='' disabled>Select family members</mat-option>
                                <mat-option *ngFor="let f of nomineesListFM" [disabled]="f.disable" [value]="f.userName">
                                    <span>{{f.userName}}</span>
                                </mat-option>
                            </mat-select>
                            <mat-error class="f-12">
                                This field is required
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-md-2" *ngIf="getCoOwner.controls.length > 1">
                    <div class="form-group mb-0 iconPetage">
                        <mat-form-field>
                            <input matInput class="form-control br-0 percentage" type="number" formControlName="share" (focusout)="onChangeJointOwnership('owner')">
                            <mat-error class="f-12" *ngIf="obj.controls['share'].hasError('required')">
                                This field is required
                            </mat-error>
                            <mat-error class="f-12" *ngIf="obj.controls['share'].hasError('incorrect') ">
                                Total percent should be 100%
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-md-2 p-0 d-flex align-items-center">
                    <!-- <i *ngIf="pointIndex==0" class="material-icons text-primitive f-20 c-p float-left" (click)="addNewCoOwner(undefined)">add</i> -->
                    <i *ngIf="pointIndex!=0" class="material-icons text-primitive f-20 c-p pl-10 pt-8" (click)="removeCoOwner(pointIndex)">remove</i>
                </div>

            </div>
        </div>
        <div class="row pt-40">
            <div class="col-md-5 pr-0 justify-content-end flex-column d-flex text-right">
                <h5 class="m-0  ">Proposer</h5>
                <p class="m-0 f-12 text-custom">Who has proposed this policy</p>
            </div>
            <div class="col-md-5">
                <div class="form-group ">
                    <mat-form-field floatLabel="never" appearance="standard">
                        <mat-select matInput formControlName="proposer" #lifeAssured autocomplete="true" class="form-control br-0">
                            <mat-option (click)="getProposerData(option,i)" *ngFor="let option of nomineesListFM;index as i" [value]="option.userName">
                                {{option.userName}}</mat-option>
                        </mat-select>
                        <mat-error>This field is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
        </div>

        <div class="row pt-40">
            <div class="col-md-5 pr-0 justify-content-end flex-column d-flex text-right">
                <h5 class="m-0 ">Policy name</h5>
                <p class="m-0 f-12 text-custom">Start typing to see policy names</p>
            </div>
            <div class="col-md-5">
                <div class="form-group ">
                    <mat-form-field floatLabel="never" appearance="standard" class="example-full-width">
                        <input matInput class="form-control br-0" [inputValidator]="validatorType.TEXT_ONLY" appInputValueValidation type="text" (keyup)="findPolicyName($event)" formControlName="policyName" aria-label="Number" matInput [matAutocomplete]="auto">
                        <mat-autocomplete #auto="matAutocomplete">
                            <mat-option (click)="selectPolicy(option)" *ngFor="let option of options" [value]="option.policyName">
                                {{option.policyName}}
                            </mat-option>
                        </mat-autocomplete>
                        <mat-error>This field is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
        </div>

        <div class="row pt-40">
            <div class="col-md-5 pr-0 align-items-center  d-flex justify-content-end">
                <h5 class="m-0">Policy number</h5>
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    <mat-form-field floatLabel="never" appearance="standard">
                        <input matInput type="text" [inputValidator]="validatorType.NUMBER_ONLY" [maxLength]="20" formControlName="policyNum" #policynumber appInputValueValidation autocomplete="off" class="form-control br-0">
                        <mat-error>This field is required
                        </mat-error>
                        <mat-hint align="end" class="f-12">{{policynumber.value.length}}/20</mat-hint>
                    </mat-form-field>
                </div>
            </div>
        </div>

        <div class="row pt-40">
            <div class="col-md-5 pr-0 text-right">
                <h5 class="m-0 pt-8">Commencement date</h5>
            </div>
            <div class="col-md-3">
                <div class="form-group mb-0">
                    <mat-form-field class="ba-date">
                        <input matInput formControlName="commencementDate" [max]="maxDate" class="form-control br-0 b-0" [min]="minDate" [matDatepicker]="CommencementPicker" (focus)="CommencementPicker.open()" (input)="preventDefault($event)">
                        <mat-datepicker-toggle matSuffix [for]="CommencementPicker"></mat-datepicker-toggle>
                        <mat-datepicker #CommencementPicker></mat-datepicker>
                        <mat-error>This field is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
        </div>

        <div class="row pt-40">
            <div class="col-md-5 pr-0 d-flex align-items-center justify-content-end ">
                <h5 class="m-0">Sum assured</h5>
            </div>
            <div class="col-md-3">
                <div class="form-group iconRupess">
                    <mat-form-field floatLabel="never" appearance="standard">
                        <input matInput type="number" [inputValidator]="validatorType.NUMBER_ONLY" appInputValueValidation [maxLength]="10" formControlName="sumAssured" [maxLength]="10" #sumassured autocomplete="off" class="form-control rupess br-0">
                        <mat-error>This field is required
                        </mat-error>
                        <mat-hint align="end" class="f-12">{{sumassured.value.length}}/10</mat-hint>
                    </mat-form-field>
                </div>
            </div>
        </div>

        <div class="row pt-40">
            <div class="col-md-5 pr-0 text-right">
                <h5 class="m-0 pt-28">Premium details</h5>
            </div>
            <div class="col-md-3">
                <div class="form-group mb-0 iconRupess">
                    <label class="f-14 roboto">Amount</label>
                    <mat-form-field>
                        <input matInput type="number" formControlName="premiumDetailsAmount" [inputValidator]="validatorType.NUMBER_ONLY" appInputValueValidation #premiumdetails autocomplete="true" [maxLength]="10" class="form-control rupess br-0">
                        <mat-error>This field is required
                        </mat-error>
                        <mat-hint align="end" class="f-12">{{premiumdetails.value.length}}/10</mat-hint>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-md-3 pl-0">
                <div class="form-group mb-0">
                    <label class="f-14 roboto">Frequency</label>
                    <mat-form-field>
                        <mat-select matInput formControlName="premiumDetailsFrequency" #frequency autocomplete="off"
                                    class="form-control br-0">
                          <mat-option value='12'>Monthly</mat-option>
                          <mat-option value='4'>Quarterly</mat-option>
                          <mat-option value='2'>Half yearly</mat-option>
                          <mat-option value='1'>Yearly</mat-option>
                        </mat-select>
                        <mat-error>This field is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
        </div>

        <div class="row pt-40">
            <div class="col-md-5 pr-0 text-right">
                <h5 class="m-0 pt-28">Tenure details</h5>
                <p class="m-0 f-12 text-custom">in years</p>
            </div>
            <div class="col-md-3">
                <div class="form-group mb-0">
                    <h5 class="mb-0 f-14">Policy tenure </h5>
                    <mat-form-field>
                        <!-- <mat-select matInput formControlName="tenureDetailsPolicy" #frequency autocomplete="off"
                            class="form-control br-0">
                            <mat-option value="5">5 Years</mat-option>
                            <mat-option value="10">10 Years</mat-option>
                            <mat-option value="15">15 Years</mat-option>
                            <mat-option value="20">20 Years</mat-option>
                        </mat-select> -->
                        <input matInput type="number" formControlName="tenureDetailsPolicy" (keyup)="onChange(lifeInsuranceForm,'tenureDetailsPolicy',$event)" [inputValidator]="validatorType.NUMBER_ONLY" appInputValueValidation #tenureDetailsPolicy autocomplete="true" [maxLength]="3"
                            class="form-control br-0">
                        <mat-error>This field is required
                        </mat-error>
                        <!-- <mat-hint align="end" class="f-12">{{premiumdetails.value.length}}/10</mat-hint> -->
                    </mat-form-field>

                </div>
            </div>
            <div class="col-md-3 pl-0">
                <div class="form-group mb-0">
                    <h5 class="mb-0 f-14">Premium paying term </h5>
                    <mat-form-field>
                        <input matInput type="number" [inputValidator]="validatorType.NUMBER_ONLY" (keyup)="onChange(lifeInsuranceForm,'premiumPayingTerm',$event)" appInputValueValidation formControlName="premiumPayingTerm" [maxLength]="10" #premiumterm autocomplete="off" class="form-control  br-0">
                        <mat-error>This field is required
                        </mat-error>
                        <!-- <mat-hint align="end" class="f-12">{{premiumterm.value.length}}/10</mat-hint> -->
                    </mat-form-field>
                </div>
            </div>
        </div>

        <div class="row pt-40">
            <div class="col-md-5 pr-0 text-right">
                <h5 class="m-0 pt-8">Policy status</h5>
            </div>
            <div class="col-md-3">
                <div class="form-group mb-0">
                    <label class="f-16 roboto"> </label>
                    <mat-form-field>
                        <mat-select matInput formControlName="policyStatus" #policyStatus autocomplete="off" class="form-control  br-0">
                            <mat-option value="1">In force</mat-option>
                            <mat-option value="2">Lapsed</mat-option>
                            <mat-option value="3">Paid up</mat-option>
                            <mat-option value="4">Fully paid up</mat-option>
                        </mat-select>
                        <mat-error>This field is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-md-3" *ngIf="policyStatus.value == '2'">
                <div class="form-group mb-0 iconRupess">
                    <label class="f-14 roboto">Last unpaid premium</label>
                    <mat-form-field>
                        <input matInput type="number" [inputValidator]="validatorType.NUMBER_ONLY" appInputValueValidation formControlName="policyStatusLastUnpaid" [maxLength]="10" #lastunpaid autocomplete="off" class="form-control rupess br-0">
                        <!-- <mat-error>This field is required
                        </mat-error> -->
                        <mat-hint>Optional</mat-hint>
                        <mat-hint align="end" class="f-12">{{lastunpaid.value.length}}/10</mat-hint>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="addMoreFlag==false" class="row pt-40 pb-48">
        <div (click)="openOptionField()" class="col-md-5 text-right">
            <p class="m-0 text-primitive f-16 c-p"> + Add more [optional data] </p>
        </div>
        <div class="col-md-3">
        </div>
    </div>

    <div *ngIf="addMoreFlag" class="row pt-40">
        <div (click)="openOptionField()" class="col-md-5 text-right">
            <p class="m-0 text-primitive f-16 c-p">Show less</p>
        </div>
        <div class="col-md-3">
        </div>
    </div>
    <div *ngIf="addMoreFlag" class="row pt-40 h-500">
        <div class="col-md-12 tabView">
            <mat-tab-group mat-align-tabs="center" class="pb-100" animationDuration="0ms">

                <mat-tab label="Key details">
                    <div [formGroup]="keyDetailsForm">
                        <div class="row pt-40">
                            <div class="col-md-5 pr-0 text-right">
                                <h5 class="m-0 pt-8">Current risk cover</h5>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group mb-0 iconRupess">
                                    <mat-form-field>
                                        <input type="number" [inputValidator]="validatorType.NUMBER_ONLY" appInputValueValidation formControlName="riskCover" [maxLength]="10" matInput autocomplete="off" #riskCover class="rupess form-control br-0">
                                        <mat-hint align="end" class="f-12">{{riskCover.value.length}}/10</mat-hint>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div class="row pt-40" *ngIf="insuranceSubTypeId != 1">
                            <div class="col-md-5 pr-0 text-right">
                                <h5 class="m-0 pt-8">Surrender Value</h5>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group mb-0 iconRupess">
                                    <mat-form-field>
                                        <input type="number" [inputValidator]="validatorType.NUMBER_ONLY" appInputValueValidation formControlName="surrenderName" #surrenderName [maxLength]="10" matInput autocomplete="off" class="form-control rupess br-0">
                                        <mat-hint align="end" class="f-12">{{surrenderName.value.length}}/10</mat-hint>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>


                        <div formArrayName="getNomineeName">
                            <div class="row pt-36" *ngFor="let obj of getNominee.controls; let pointIndex=index" [formGroupName]="pointIndex">
                                <div class="col-md-5 pr-0 text-right">
                                    <h5 class="m-0 pt-8 ">Nominee {{pointIndex + 1}}</h5>
                                </div>
                                <div [ngClass]="getNominee.controls.length > 1?'col-md-3' : 'col-md-5'">
                                    <div class="form-group mb-0">
                                        <mat-form-field>
                                            <mat-select appOwnerNominee matInput formControlName="name" [data]='ownerData' (selectionChange)="getFamilyData($event.value,nomineesListFM)" (selectionChange)="disabledMember($event.value,'nominee')" (valueChange1)='lisNominee($event)' class="form-control br-0"
                                                [callMethod]='callMethod'>
                                                <mat-option value='' disabled>Select family members</mat-option>
                                                <mat-option *ngFor="let f of nomineesListFM" [disabled]="f.disable" [value]="f.userName">
                                                    <span>{{f.userName}}</span>
                                                </mat-option>
                                            </mat-select>
                                            <mat-error class="f-12">
                                                This field is required
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="col-md-2" *ngIf="getNominee.controls.length > 1">
                                    <div class="form-group mb-0 iconPetage">
                                        <mat-form-field>
                                            <input matInput class="form-control br-0 percentage" type="number" formControlName="sharePercentage" (focusout)="onChangeJointOwnership('nominee')">
                                            <mat-error class="f-12" *ngIf="obj.controls['sharePercentage'].hasError('required')">
                                                This field is required
                                            </mat-error>
                                            <mat-error class="f-12" *ngIf="obj.controls['sharePercentage'].hasError('incorrect') ">
                                                Total percent should be 100%
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="col-md-2 p-0 d-flex align-items-center">
                                    <i *ngIf="keyDetailsForm.value.getNomineeName.length < 3" class="material-icons text-primitive f-20 c-p float-left" (click)="addNewNominee(undefined)">add</i>
                                    <i *ngIf="keyDetailsForm.value.getNomineeName.length > 1" class="material-icons text-primitive f-20 c-p pl-10" (click)="removeNewNominee(pointIndex)">remove</i>
                                </div>

                            </div>
                        </div>
                        <!-- *ngIf="!(insuranceTypeId==1 && insuranceSubTypeId==3)" -->
                        <div class="row pt-40" *ngIf="insuranceSubTypeId != 1  && insuranceSubTypeId != 3">
                            <div class="col-md-5 pr-0 text-right">
                                <h5 class="m-0 pt-8">Current value</h5>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group mb-0 iconRupess">
                                    <mat-form-field>
                                        <input type="number" autocomplete="off" [maxLength]="10" formControlName="vestedBonus" #vestedBonus matInput class="form-control rupess br-0">
                                        <mat-hint align="end" class="f-12">{{vestedBonus.value.length}}/10</mat-hint>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <!-- *ngIf="!(insuranceTypeId==1 && insuranceSubTypeId==3)" -->
                        <div *ngIf="insuranceSubTypeId != 1" class="row pt-40">
                            <div class="col-md-5 pr-0 text-right">
                                <h5 class="m-0 pt-8">Assumed rate</h5>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group mb-0 iconPetage">
                                    <mat-form-field>
                                        <input type="number" [inputValidator]="validatorType.NUMBER_ONLY" (keyup)="onChange(keyDetailsForm,'assumedRate',$event)" appInputValueValidation autocomplete="off" [maxLength]="3" formControlName="assumedRate" #assumedRate matInput class="form-control percentage br-0">
                                        <!-- <mat-hint align="end" class="f-12">{{assumedRate.value.length}}/10</mat-hint> -->
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>

                        <div *ngIf="insuranceSubTypeId == 3">

                            <div formArrayName="fundValueForm">
                                <div [ngClass]="{'pt-36': pointIndex > 0}" class="row pt-40  " *ngFor="let obj of getFundValues.controls; let pointIndex=index" [formGroupName]="pointIndex">
                                    <div class="col-md-2 p-0">
                                        <div class="form-group nameMatField mb-0">
                                            <h5 class="mb-8 f-14">Fund name </h5>
                                            <mat-form-field floatLabel="never" appearance="standard">
                                                <input matInput type="text" [maxLength]="40" formControlName="fundName" #fundName appInputValueValidation autocomplete="off" class="form-control br-0" placeholder="Enter fund name">
                                                <mat-hint align="end" class="f-12">{{fundName.value.length}}/40
                                                </mat-hint>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="col-md-3 pr-0">
                                        <div class="form-group mb-0 iconPetage">
                                            <h5 class="mb-8 f-14">Equity/Debt ratio </h5>
                                            <div class="row">
                                                <div class="col-md-6 pl-0 form-group mb-0 iconPetage">
                                                    <mat-form-field>
                                                        <input matInput type="number" formControlName="debtPer" #debtPer (keyup)="onChange(obj,'debtPer',$event)" [inputValidator]="validatorType.NUMBER_ONLY" appInputValueValidation autocomplete="true" [maxLength]="10" class="form-control percentage br-0">
                                                    </mat-form-field>
                                                </div>

                                                <div class="col-md-6 pl-0 form-group mb-0 iconPetage">
                                                    <mat-form-field>
                                                        <input matInput type="number" formControlName="equityPer" #equityPer (keyup)="onChange(obj,'equityPer',$event)" [inputValidator]="validatorType.NUMBER_ONLY" appInputValueValidation autocomplete="true" [maxLength]="10" class="form-control percentage br-0">
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2 p-0">
                                        <div class="form-group mb-0">
                                            <h5 class="mb-8 f-14">Option </h5>
                                            <mat-form-field>
                                                <mat-select matInput formControlName="option" #option autocomplete="true" class="form-control br-0">
                                                    <mat-option value='1'>Enter units</mat-option>
                                                    <mat-option value='2'>Enter value</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="col-md-2 pr-0" *ngIf="obj.controls['option'].value == '1'">
                                        <div class="form-group mb-0">
                                            <h5 class="mb-8 f-14">Units</h5>
                                            <mat-form-field>
                                                <input matInput type="number" formControlName="units" [inputValidator]="validatorType.NUMBER_ONLY" appInputValueValidation #units autocomplete="true" [maxLength]="10" class="form-control br-0">
                                                <!-- <mat-hint align="end" class="f-12">{{ttdSumInsured.value.length}}/10</mat-hint> -->
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="col-md-2 pr-0" *ngIf="obj.controls['option'].value == '1'">
                                        <div class="form-group mb-0">
                                            <h5 class="mb-8 f-14">NAV</h5>
                                            <mat-form-field>
                                                <input matInput type="number" formControlName="nav" [inputValidator]="validatorType.NUMBER_ONLY" appInputValueValidation #nav autocomplete="true" [maxLength]="10" class="form-control br-0">
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="col-md-2 pr-0" *ngIf="obj.controls['option'].value == '2'">
                                        <div class="form-group mb-0 iconRupess">
                                            <h5 class="mb-8 f-14">Fund value</h5>
                                            <mat-form-field>
                                                <input type="number" #fundValue [inputValidator]="validatorType.NUMBER_ONLY" appInputValueValidation formControlName="fundValue" [maxLength]="10" autocomplete="off" matInput class="form-control rupess br-0">
                                                <mat-hint align="end" class="f-12">{{fundValue.value.length}}/10
                                                </mat-hint>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="col-md-1 pr-0 mt-24 align-items-center d-flex">
                                        <i class="material-icons text-primitive c-p  " (click)="addFund(undefined)">add</i>
                                        <i class="material-icons text-primitive c-p  " (click)="removeFund(pointIndex)">remove</i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </mat-tab>

                <mat-tab label="Cash Flows">
                    <!-- add btn required -->
                    <div class="ml-40" [formGroup]="cashFlowForm">
                        <div class="row pt-40  ">
                            <div class="col-md-3 pr-12">
                                <h5 class="m-0 pb-8">Cash inflow type</h5>
                            </div>
                            <div class="col-md-3 pr-12">
                                <h5 class="m-0 pb-8">Date</h5>
                            </div>
                            <div class="col-md-4 pr-12">
                                <h5 class="m-0 pb-8">Approx amount</h5>
                            </div>
                        </div>
                        <div formArrayName="cashFlow">
                            <div [ngClass]="{'pt-36': pointIndex > 0}" class="row pb-16" *ngFor="let obj of cashFlowEntries.controls; let pointIndex=index" [formGroupName]="pointIndex">
                                <div class="col-md-3 pr-0">
                                    <div class="form-group">
                                        <!-- <label class="f-16 roboto">Cash Flow Type</label> -->
                                        <mat-form-field>
                                            <!-- <input type="text" autocomplete="off"  [maxLength]="20"
                                                formControlName="cashFlowType" #cashFlowType matInput
                                                class="form-control  br-0"> -->
                                            <mat-select matInput formControlName="cashFlowType" #cashFlowType autocomplete="off" class="form-control br-0">
                                                <mat-option value="1">Survival benefit</mat-option>
                                                <mat-option value="2">Maturity benefit</mat-option>
                                                <mat-option value="3">Annuity</mat-option>

                                            </mat-select>
                                            <!-- <mat-hint align="end" class="f-12">{{cashFlowType.value.length}}/20
                                            </mat-hint> -->
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="col-md-3 pr-0">
                                    <div class="form-group ">
                                        <!-- <label class="f-16 roboto">Year</label> -->
                                        <!-- <mat-form-field>
                                            <input type="number" autocomplete="off"
                                                [inputValidator]="validatorType.NUMBER_ONLY" appInputValueValidation
                                                [maxLength]="4" formControlName="year" matInput
                                                class="form-control br-0">
                                        </mat-form-field> -->
                                        <mat-form-field class="ba-date">
                                            <input formControlName="year" (input)="preventDefault($event)" (focus)="year.open()" autocomplete="off" [matDatepicker]="year" matInput class="form-control b-0 br-0">
                                            <mat-datepicker-toggle matSuffix [for]="year"></mat-datepicker-toggle>
                                            <mat-datepicker #year></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="col-md-3 pr-0">
                                    <div class="form-group iconRupess">
                                        <!-- <label class="f-16 roboto">Approx amount</label> -->
                                        <mat-form-field>
                                            <input type="number" [inputValidator]="validatorType.NUMBER_ONLY" appInputValueValidation [maxLength]="10" autocomplete="off" formControlName="approxAmt" #approxAmt matInput class="form-control br-0 rupess">
                                            <mat-hint align="end" class="f-12">{{approxAmt.value.length}}/10
                                            </mat-hint>
                                        </mat-form-field>
                                    </div>
                                </div>

                                <div class="col-md-1 pr-0 pt-8 d-flex">
                                    <i class="material-icons text-primitive c-p float-left" (click)="addTransaction()">add</i>
                                    <i class="material-icons text-primitive c-p float-right" (click)="removeTransaction(pointIndex)">remove</i>
                                </div>
                            </div>
                        </div>
                    </div>

                </mat-tab>

                <mat-tab label="Riders">
                    <div class="ml-40" [formGroup]="ridersForm">
                        <div class="row pt-40 pb-20">
                            <div class="col-md-3 pr-0">
                                <div class="form-group  iconRupess">
                                    <h5 class="mb-8 f-16 ">Accidental benefit</h5>
                                    <mat-form-field>
                                        <input type="number" [inputValidator]="validatorType.NUMBER_ONLY" appInputValueValidation autocomplete="off" [maxLength]="10" formControlName="accidentalBenefit" #accidentalBenefit matInput class="form-control rupess br-0">
                                        <mat-hint align="end" class="f-12">{{accidentalBenefit.value.length}}/10
                                        </mat-hint>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-md-3 pr-0">
                                <div class="form-group iconRupess">
                                    <h5 class="mb-8 f-16 ">Critical illeness </h5>
                                    <mat-form-field>
                                        <input type="number" [inputValidator]="validatorType.NUMBER_ONLY" appInputValueValidation autocomplete="off" [maxLength]="10" formControlName="criticalIlleness" #criticalIlleness matInput class="form-control rupess br-0">
                                        <mat-hint align="end" class="f-12">{{criticalIlleness.value.length}}/10
                                        </mat-hint>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-md-3 pr-0">
                                <div class="form-group  iconRupess">
                                    <h5 class="mb-8 f-16 "> Double Accidental </h5>
                                    <mat-form-field>
                                        <input type="number" [inputValidator]="validatorType.NUMBER_ONLY" appInputValueValidation autocomplete="off" [maxLength]="10" formControlName="doubleAccidental" #doubleAccidental matInput class="form-control rupess br-0">
                                        <mat-hint align="end" class="f-12">{{doubleAccidental.value.length}}/10
                                        </mat-hint>
                                    </mat-form-field>
                                </div>
                            </div>

                        </div>

                    </div>
                </mat-tab>

                <mat-tab label="Loan details" *ngIf="insuranceSubTypeId != 1">
                    <div [formGroup]="loanDetailsForm" class="ml-40">
                        <div class="row pt-40 pb-48">
                            <div class="col-md-3 pr-0">
                                <div class="form-group mb-0 iconRupess">
                                    <h5 class="mb-8 f-16 "> loan availble </h5>
                                    <mat-form-field>
                                        <input type="number" autocomplete="off" [inputValidator]="validatorType.NUMBER_ONLY" [maxLength]="10" appInputValueValidation formControlName="loanAvailable" #loanAvailable matInput class="form-control rupess br-0">
                                        <mat-hint align="end" class="f-12">{{loanAvailable.value.length}}/10
                                        </mat-hint>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-md-3 pr-0">
                                <div class="form-group mb-0 iconRupess">
                                    <h5 class="mb-8 f-16 ">Loan taken </h5>
                                    <mat-form-field>
                                        <input type="number" autocomplete="off" [maxLength]="10" [inputValidator]="validatorType.NUMBER_ONLY" appInputValueValidation autocomplete="off" formControlName="loanTaken" #loanTaken matInput class="form-control rupess br-0">
                                        <mat-hint align="end" class="f-12">{{loanTaken.value.length}}/10
                                        </mat-hint>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-md-3 pr-0">
                                <div class="form-group mb-0">
                                    <h5 class="mb-8 f-16 "> Loan taken on </h5>
                                    <mat-form-field class="ba-date">
                                        <input formControlName="loanTakenOn" (input)="preventDefault($event)" (focus)="loanTakenOn.open()" autocomplete="off" [matDatepicker]="loanTakenOn" matInput class="form-control b-0 br-0">
                                        <mat-datepicker-toggle matSuffix [for]="loanTakenOn"></mat-datepicker-toggle>
                                        <mat-datepicker #loanTakenOn></mat-datepicker>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-tab>

                <mat-tab label="Miscellaneous">
                    <div [formGroup]="Miscellaneous">
                        <div class="row pt-40">
                            <div class="col-md-5 text-right pr-0">
                                <h5 class="m-0 pt-40"> Premium payment mode </h5>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group ">

                                    <mat-form-field>
                                        <mat-select formControlName="permiumPaymentMode" #frequency autocomplete="off" class="form-control mt-28 br-0">
                                            <mat-option value="1">Cheque</mat-option>
                                            <mat-option value="2">Cash</mat-option>
                                            <mat-option value="3">Net banking</mat-option>
                                            <mat-option value="4">Credit card</mat-option>
                                            <mat-option value="5">NACH</mat-option>
                                            <mat-option value="6">ECS</mat-option>

                                        </mat-select>
                                        <mat-error [ngClass]="{'v-h':!(ispolicyStatus && lifeInsuranceForm.get('policyStatus').invalid || (lifeInsuranceForm.get('policyStatus').touched && lifeInsuranceForm.get('policyStatus').invalid))}" class="f-12">This field is required
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>

                        <div class="row pt-40">
                            <div class="col-md-5 text-right pr-0">
                                <h5 class="m-0 pt-8"> Advisor name </h5>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group mb-0">
                                    <mat-form-field>
                                        <input formControlName="advisorName" autocomplete="off" maxlength="40" matInput #advisorName class="form-control br-0">
                                        <mat-hint align="end" class="f-12">{{advisorName.value.length}}/40
                                        </mat-hint>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>

                        <div class="row pt-40 ">
                            <div class="col-md-5 text-right pr-0">
                                <h5 class="m-0 pt-8"> Service branch </h5>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group mb-0">
                                    <mat-form-field>
                                        <input formControlName="serviceBranch" #serviceName maxlength="40" autocomplete="off" matInput class="form-control br-0">
                                        <mat-hint align="end" class="f-12">{{serviceName.value.length}}/40
                                        </mat-hint>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div class="row pt-40 pb-48">
                            <div class="col-md-5 text-right pr-0">
                                <h5 class="m-0 pt-8">Linked bank account</h5>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group mb-0">
                                    <mat-form-field>
                                        <mat-select class="form-control" formControlName="bankAccount" matInput>
                                            <mat-option *ngFor="let option of bankList ;index as i" [value]="option.id">
                                                {{option.bankNameAndLast4Digit}}</mat-option>
                                        </mat-select>
                                        <mat-error>This field is required
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-md-1 p-0 pt-8 d-flex">
                                <!-- prod build -->
                                <i class="material-icons text-primitive c-p float-left" (click)="openDialog(null)">
                                    add</i>
                            </div>
                        </div>
                    </div>
                </mat-tab>

            </mat-tab-group>
        </div>
    </div>
</div>
<div class="bottom-fixed wrapper-16 pb-12">
    <div class="row">
        <div class="col-md-4 p-0">
            <h5 class="mb-0 pt-8 text-white c-p text-left" (click)="close(null)">Cancel</h5>
        </div>
        <div class="col-md-8 right text-right">
            <!-- <button mat-button class="btn-bottom br-0 text-inherit" (click)="saveAddInsurance()">SAVE</button> -->
            <app-progress-button (btnClick)="saveAddInsurance()" class="btn-bottom br-0 text-inherit" [options]="barButtonOptions">
            </app-progress-button>
        </div>
    </div>
</div>


<!-- Detailed view -->
