::ng-deep .mat-tab-header {
    border-bottom: transparent;
}

::ng-deep .mat-tab-body-wrapper {
    // border-top: 1px solid rgba(25, 25, 25, 0.32);
    margin-top: -4px;
}

::ng-deep .mat-tab-group.mat-primary .mat-ink-bar {
    background-color: #ffffff !important;
    height: 1.5px !important;
    transition: none !important;
}

::ng-deep .tabView .mat-tab-label-active {
    border: 1px solid rgba(25, 25, 25, 0.32) !important;
}

::ng-deep .mat-tab-body-content {
    transform: none !important;
}

::ng-deep .tabView .mat-tab-label {
    border-bottom: 1px solid rgba(25, 25, 25, 0.32) !important;
    height: 48px !important;
}

.miscellaneous_table #table-low .mat-header-row {
    background-color: transparent !important;
}

.miscellaneous_table #table-low th {
    background-color: transparent !important;
}

.lifeInsuranceMainBox {
    .form-group_one {
        position: relative;
        .mat-datepicker-toggle {
            position: absolute;
            top: 0px;
            right: 0px;
        }
    }
}

.lifeInsuranceMainBox {
    .form-group_two {
        position: relative;
        .mat-datepicker-toggle {
            position: absolute;
            top: 23px;
            right: 0px;
        }
    }
}