<!-- ADD INSURANCE -->
<div class="popup-header-fix-60">
    <div class="row bb-1">
        <div class="col-md-7 p-0">
            <h4 class="mb-0 wrapper-20"> ADD LIFE INSURANCE</h4>
        </div>
        <div class="col-md-5 text-right">
            <div class="wrapper-12">
                <button matTooltip="Have lots of policies?You can bulk upload these policies using excel import option"
                    mat-button class="btn-dark-black addon mr-8 ">
                    <img src="assets/images/svg/insurance-download-icon.svg" class="c-p mr-8"> Import policies
                </button>
                <i class="material-icons c-p v-middle" (click)="close(null)"> clear</i>
            </div>
        </div>
    </div>
</div>

<div #chnageScrollPosition class="pt-72 pl-24 pr-24 pb-24 mb-48">
    <div class="lifeInsuranceMainBox" [formGroup]="lifeInsuranceForm">
        <div class="row pt-40">
            <div class="col-md-5 pr-0 text-right">
                <h5 class="m-0 pt-8">Life assured</h5>
                <p class="m-0 f-12 text-custom">In whose name is this asset</p>
            </div>
            <div class="col-md-5">
                <div class="form-group mb-0">
                    <mat-form-field>
                        <mat-select formControlName="lifeAssured" #Proposer autocomplete="true"
                            class="form-control br-0">
                            <mat-option (click)="getFamilyMember(option,i)"
                                *ngFor="let option of FamilyMember;index as i" [value]="option.userName">
                                {{option.userName}}</mat-option>
                        </mat-select>
                        <mat-error>This field is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
        </div>

        <div class="row pt-40">
            <div class="col-md-5 pr-0 text-right">
                <h5 class="m-0 pt-8">Proposer</h5>
                <p class="m-0 f-12 text-custom">Who has proposed this policy</p>
            </div>
            <div class="col-md-5">
                <div class="form-group mb-0">
                    <mat-form-field>
                        <mat-select formControlName="proposer" #lifeAssured autocomplete="true"
                            class="form-control br-0">
                            <mat-option (click)="getProposerData(option,i)"
                                *ngFor="let option of ProposerData;index as i" [value]="option.userName">
                                {{option.userName}}</mat-option>
                        </mat-select>
                        <mat-error>This field is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
        </div>

        <div class="row pt-40">
            <div class="col-md-5 pr-0 text-right">
                <h5 class="m-0 pt-8">Policy name</h5>
                <p class="m-0 f-12 text-custom">Start typing to see policy names</p>
            </div>
            <div class="col-md-5">
                <div class="form-group mb-0">
                    <mat-form-field class="example-full-width">
                        <input class="form-control br-0" type="text" (keyup)="findPolicyName($event)"
                            formControlName="policyName" aria-label="Number" matInput [matAutocomplete]="auto">
                        <mat-autocomplete #auto="matAutocomplete">
                            <mat-option (click)="selectPolicy(option)" *ngFor="let option of options"
                                [value]="option.policyName">
                                {{option.policyName}}
                            </mat-option>
                        </mat-autocomplete>
                        <mat-error>This field is required
                        </mat-error>
                    </mat-form-field>
                    <!-- <mat-form-field>
                        <input matInput (keyup)="findPolicyName($event)" formControlName="policyName" #policyname
                            autocomplete="true" class="form-control br-0">
                        <mat-error
                            [ngClass]="{'v-h':!(ispolicyName && lifeInsuranceForm.get('policyName').invalid || (lifeInsuranceForm.get('policyName').touched && lifeInsuranceForm.get('policyName').invalid))}"
                            class="f-12 pt-4">This field is required
                        </mat-error>
                        <mat-hint align="end" class="f-12">{{policyname.value.length}}/40</mat-hint>
                    </mat-form-field> -->
                </div>
            </div>
        </div>

        <div class="row pt-40">
            <div class="col-md-5 pr-0 text-right">
                <h5 class="m-0 pt-8">Policy number</h5>
            </div>
            <div class="col-md-5">
                <div class="form-group mb-0">
                    <mat-form-field>
                        <input matInput type="text" [inputValidator]="validatorType.ALPHA_NUMERIC" [maxLength]="10"
                            formControlName="policyNum" #policynumber appInputValueValidation autocomplete="off"
                            class="form-control br-0">
                        <mat-error>This field is required
                        </mat-error>
                        <mat-hint align="end" class="f-12">{{policynumber.value.length}}/20</mat-hint>
                    </mat-form-field>
                </div>
            </div>
        </div>

        <div class="row pt-40">
            <div class="col-md-5 pr-0 text-right">
                <h5 class="m-0 pt-8">Commencement date</h5>
            </div>
            <div class="col-md-3">
                <div class="form-group form-group_one mb-0">
                    <mat-form-field>
                        <input matInput formControlName="commencementDate" class="form-control br-0"
                            [matDatepicker]="CommencementPicker" (focus)="CommencementPicker.open()"
                            (input)="preventDefault($event)">
                        <mat-datepicker-toggle matSuffix [for]="CommencementPicker"></mat-datepicker-toggle>
                        <mat-datepicker #CommencementPicker></mat-datepicker>
                        <mat-error>This field is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
        </div>

        <div class="row pt-40">
            <div class="col-md-5 pr-0 text-right">
                <h5 class="m-0 pt-8">Sum assured</h5>
            </div>
            <div class="col-md-3">
                <div class="form-group mb-0">
                    <mat-form-field>
                        <input matInput type="number" [inputValidator]="validatorType.ALPHA_NUMERIC"
                            appInputValueValidation [maxLength]="10" formControlName="sumAssured" [maxLength]="10"
                            #sumassured autocomplete="off" class="form-control br-0">
                        <mat-error>This field is required
                        </mat-error>
                        <mat-hint align="end" class="f-12">{{sumassured.value.length}}/10</mat-hint>
                    </mat-form-field>
                </div>
            </div>
        </div>

        <div class="row pt-40">
            <div class="col-md-5 pr-0 text-right">
                <h5 class="m-0 pt-28">Premium details</h5>
            </div>
            <div class="col-md-3">
                <div class="form-group mb-0">
                    <label class="f-16 roboto">Amount</label>
                    <mat-form-field>
                        <input matInput type="number" formControlName="premiumDetailsAmount"
                            [inputValidator]="validatorType.ALPHA_NUMERIC" appInputValueValidation #premiumdetails
                            autocomplete="true" [maxLength]="10" class="form-control rupess br-0">
                        <mat-error>This field is required
                        </mat-error>
                        <mat-hint align="end" class="f-12">{{premiumdetails.value.length}}/10</mat-hint>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group mb-0">
                    <label class="f-16 roboto">Frequency</label>
                    <mat-form-field>
                        <mat-select formControlName="premiumDetailsFrequency" #frequency autocomplete="off"
                            class="form-control br-0">
                            <mat-option value='1'>Monthly</mat-option>
                            <mat-option value='2'>Quarterly</mat-option>
                            <mat-option value='3'>Semi annually</mat-option>
                            <mat-option value='4'>Annually</mat-option>
                        </mat-select>
                        <mat-error>This field is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
        </div>

        <div class="row pt-40">
            <div class="col-md-5 pr-0 text-right">
                <h5 class="m-0 pt-28">Tenure details</h5>
                <p class="m-0 f-12 text-custom">in years</p>
            </div>
            <div class="col-md-3">
                <div class="form-group mb-0">
                    <label class="f-16 roboto">Policy tenure</label>
                    <!-- <mat-form-field>
                        <input matInput type="number" formControlName="tenureDetailsPolicy" #tenuredetails
                            autocomplete="off" class="form-control br-0">
                        <mat-error
                            [ngClass]="{'v-h':!(istenureDetailsPolicy && lifeInsuranceForm.get('tenureDetailsPolicy').invalid || (lifeInsuranceForm.get('tenureDetailsPolicy').touched && lifeInsuranceForm.get('tenureDetailsPolicy').invalid))}"
                            class="f-12 pt-4">This field is required
                        </mat-error>
                    </mat-form-field> -->
                    <mat-form-field>
                        <mat-select formControlName="tenureDetailsPolicy" #frequency autocomplete="off"
                            class="form-control br-0">
                            <mat-option value="5">5 Years</mat-option>
                            <mat-option value="10">10 Years</mat-option>
                            <mat-option value="15">15 Years</mat-option>
                            <mat-option value="20">20 Years</mat-option>
                        </mat-select>
                        <mat-error>This field is required
                        </mat-error>
                    </mat-form-field>

                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group mb-0">
                    <label class="f-16 roboto">Premium paying term</label>
                    <mat-form-field>
                        <input matInput type="number" [inputValidator]="validatorType.NUMBER_ONLY"
                            appInputValueValidation formControlName="premiumPayingTerm" [maxLength]="10" #premiumterm
                            autocomplete="off" class="form-control br-0">
                        <mat-error>This field is required
                        </mat-error>
                        <mat-hint align="end" class="f-12">{{premiumterm.value.length}}/10</mat-hint>
                    </mat-form-field>
                </div>
            </div>
        </div>

        <div class="row pt-40">
            <div class="col-md-5 pr-0 text-right">
                <h5 class="m-0 pt-28">Policy status</h5>
            </div>
            <div class="col-md-3">
                <div class="form-group mb-0">
                    <label class="f-16 roboto"> </label>
                    <mat-form-field>
                        <mat-select formControlName="policyStatus" #frequency autocomplete="off"
                            class="form-control mt-28 br-0">
                            <mat-option value="1">In force</mat-option>
                            <mat-option value="2">Lapsed</mat-option>
                            <mat-option value="3">Paid up</mat-option>
                            <mat-option value="4">Fully paid up</mat-option>
                        </mat-select>
                        <mat-error>This field is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group form-group_two mb-0">
                    <label class="f-16 roboto">Last unpaid premium</label>
                    <mat-form-field>
                        <input matInput type="number" [inputValidator]="validatorType.NUMBER_ONLY"
                            appInputValueValidation formControlName="policyStatusLastUnpaid" [maxLength]="10"
                            #lastunpaid autocomplete="off" class="form-control br-0">
                        <mat-error>This field is required
                        </mat-error>
                        <mat-hint align="end" class="f-12">{{lastunpaid.value.length}}/10</mat-hint>
                    </mat-form-field>
                </div>
                <div class="col-md-12">
                    <p class="f-12 text-primitive m-0 roboto">Optional</p>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="addMoreFlag==false" class="row pt-40 pb-48">
        <div (click)="openOptionField()" class="col-md-5 text-right">
            <p class="m-0 text-primitive f-16 c-p"> + Add more [optional data] </p>
        </div>
        <div class="col-md-3">
        </div>
    </div>

    <div *ngIf="addMoreFlag" class="row pt-40">
        <div (click)="openOptionField()" class="col-md-5 text-right">
            <p class="m-0 text-primitive f-16 c-p">Show less</p>
        </div>
        <div class="col-md-3">
        </div>
    </div>
    <div *ngIf="addMoreFlag" class="row pt-40">
        <div class="col-md-12 tabView">
            <mat-tab-group mat-align-tabs="center" animationDuration="0ms">
                <mat-tab label="Key details">
                    <div [formGroup]="keyDetailsForm">
                        <div class="row pt-40">
                            <div class="col-md-5 pr-0 text-right">
                                <h5 class="m-0 pt-8">Risk Cover</h5>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group mb-0">
                                    <mat-form-field>
                                        <input type="number" [inputValidator]="validatorType.NUMBER_ONLY"
                                            appInputValueValidation formControlName="riskCover" [maxLength]="10"
                                            matInput autocomplete="off" #riskCover class="rupess form-control br-0">
                                    </mat-form-field>
                                    <mat-hint align="end" class="f-12">{{riskCover.value.length}}/10</mat-hint>
                                </div>
                            </div>
                        </div>
                        <div class="row pt-40">
                            <div class="col-md-5 pr-0 text-right">
                                <h5 class="m-0pt-8">Surrender Value</h5>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group mb-0">
                                    <mat-form-field>
                                        <input type="number" [inputValidator]="validatorType.NUMBER_ONLY"
                                            appInputValueValidation formControlName="surrenderName" #surrenderName
                                            [maxLength]="10" matInput autocomplete="off"
                                            class="form-control rupess br-0">
                                        <mat-hint align="end" class="f-12">{{surrenderName.value.length}}/10</mat-hint>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>

                        <div class="row pt-40">
                            <div class="col-md-5 pr-0 text-right">
                                <h5 class="m-0 pt-8">Nominee name</h5>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group mb-0">
                                    <mat-form-field>
                                        <input formControlName="nomineeName" autocomplete="off" matInput
                                            class="form-control br-0">
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="!(insuranceTypeId==1 && insuranceSubTypeId==3)" class="row pt-40">
                            <div class="col-md-5 pr-0 text-right">
                                <h5 class="m-0 pt-8">Vested bouns</h5>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group mb-0">
                                    <mat-form-field>
                                        <input type="number" autocomplete="off" [maxLength]="10"
                                            formControlName="vestedBonus" #vestedBonus matInput
                                            class="form-control rupess br-0">
                                        <mat-hint align="end" class="f-12">{{vestedBonus.value.length}}/10</mat-hint>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>

                        <div *ngIf="!(insuranceTypeId==1 && insuranceSubTypeId==3)" class="row pt-40">
                            <div class="col-md-5 pr-0 text-right">
                                <h5 class="m-0 pt-8">Assumed rate</h5>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group mb-0">
                                    <mat-form-field>
                                        <input type="number" [inputValidator]="validatorType.NUMBER_ONLY"
                                            appInputValueValidation autocomplete="off" [maxLength]="10"
                                            formControlName="assumedRate" #assumedRate matInput
                                            class="form-control br-0">
                                        <mat-hint align="end" class="f-12">{{assumedRate.value.length}}/10</mat-hint>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="insuranceTypeId==1 && insuranceSubTypeId==3" class="row pt-40">
                            <div class="col-md-5 pr-0 text-right">
                                <h5 class="m-0 pt-8">Fund value</h5>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group mb-0">
                                    <mat-form-field>
                                        <input type="number" [inputValidator]="validatorType.NUMBER_ONLY"
                                            appInputValueValidation formControlName="fundValue" [maxLength]="10"
                                            autocomplete="off" matInput class="form-control rupess br-0">
                                        <mat-hint align="end" class="f-12">{{fundValue.value.length}}/10</mat-hint>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Cash Flows">
                    <!-- add btn required -->
                    <div class="row pt-40 justify-content-center" [formGroup]="cashFlowForm">
                        <div class="col-md-3 pr-12">
                            <h5 class="m-0 pb-8">Cash Flow Type</h5>
                        </div>
                        <div class="col-md-3 pr-12">
                            <h5 class="m-0 pb-8">Year</h5>
                        </div>
                        <div class="col-md-4 pr-12">
                            <h5 class="m-0 pb-8">Approx amount</h5>
                        </div>
                        <div formArrayName="cashFlow">
                            <div class="row pt-4 justify-content-center"
                                *ngFor="let obj of cashFlowEntries.controls; let pointIndex=index"
                                [formGroupName]="pointIndex">
                                <div class="col-md-3">
                                    <div class="form-group mb-0">
                                        <!-- <label class="f-16 roboto">Cash Flow Type</label> -->
                                        <mat-form-field>
                                            <input type="number" autocomplete="off" [maxLength]="10"
                                                formControlName="cashFlowType" #cashFlowType matInput
                                                class="form-control br-0">
                                            <mat-hint align="end" class="f-12">{{cashFlowType.value.length}}/10
                                            </mat-hint>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group mb-0">
                                        <!-- <label class="f-16 roboto">Year</label> -->
                                        <mat-form-field>
                                            <input type="number" autocomplete="off" formControlName="year" matInput
                                                class="form-control br-0">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group mb-0">
                                        <!-- <label class="f-16 roboto">Approx amount</label> -->
                                        <mat-form-field>
                                            <input type="number" [inputValidator]="validatorType.NUMBER_ONLY"
                                                appInputValueValidation [maxLength]="10" autocomplete="off"
                                                formControlName="approxAmt" #approxAmt matInput
                                                class="form-control br-0 rupess">
                                            <mat-hint align="end" class="f-12">{{approxAmt.value.length}}/10
                                            </mat-hint>
                                        </mat-form-field>
                                    </div>
                                </div>

                                <div class="col-md-1 p-0">
                                    <i class="material-icons text-primitive c-p float-left"
                                        (click)="addTransaction()">add</i>
                                    <i class="material-icons text-primitive c-p float-right"
                                        (click)="removeTransaction(pointIndex)">remove</i>
                                </div>
                            </div>
                        </div>
                    </div>

                </mat-tab>

                <mat-tab label="Riders">
                    <div [formGroup]="ridersForm">
                        <div class="row pt-40">
                            <div class="col-md-4">
                                <div class="form-group mb-0">
                                    <label class="f-16 roboto">Accidental benefit</label>
                                    <mat-form-field>
                                        <input type="number" [inputValidator]="validatorType.NUMBER_ONLY"
                                            appInputValueValidation autocomplete="off" [maxLength]="10"
                                            formControlName="accidentalBenefit" #accidentalBenefit matInput
                                            class="form-control br-0">
                                        <mat-hint align="end" class="f-12">{{accidentalBenefit.value.length}}/10
                                        </mat-hint>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group mb-0">
                                    <label class="f-16 roboto">Double Accidental</label>
                                    <mat-form-field>
                                        <input type="number" [inputValidator]="validatorType.NUMBER_ONLY"
                                            appInputValueValidation autocomplete="off" [maxLength]="10"
                                            formControlName="doubleAccidental" #doubleAccidental matInput
                                            class="form-control br-0">
                                        <mat-hint align="end" class="f-12">{{doubleAccidental.value.length}}/10
                                        </mat-hint>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group mb-0">
                                    <label class="f-16 roboto">Term waiver</label>
                                    <mat-form-field>
                                        <input type="number" [inputValidator]="validatorType.NUMBER_ONLY"
                                            appInputValueValidation autocomplete="off" [maxLength]="10"
                                            formControlName="termWaiver" #termWaiver matInput class="form-control br-0">
                                        <mat-hint align="end" class="f-12">{{termWaiver.value.length}}/10</mat-hint>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>


                        <div class="row pt-40 pb-48">
                            <div class="col-md-4">
                                <div class="form-group mb-0">
                                    <label class="f-16 roboto">Critical illeness</label>
                                    <mat-form-field>
                                        <input type="number" [inputValidator]="validatorType.NUMBER_ONLY"
                                            appInputValueValidation autocomplete="off" [maxLength]="10"
                                            formControlName="criticalIlleness" #criticalIlleness matInput
                                            class="form-control br-0">
                                        <mat-hint align="end" class="f-12">{{criticalIlleness.value.length}}/10
                                        </mat-hint>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group mb-0">
                                    <label class="f-16 roboto">Premium waiver</label>
                                    <mat-form-field>
                                        <input type="number" [inputValidator]="validatorType.NUMBER_ONLY"
                                            appInputValueValidation autocomplete="off" [maxLength]="10"
                                            formControlName="premiumWaiver" #premiumWaiver matInput
                                            class="form-control br-0">
                                        <mat-hint align="end" class="f-12">{{premiumWaiver.value.length}}/10</mat-hint>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group mb-0">
                                    <label class="f-16 roboto">Female critical illeness</label>
                                    <mat-form-field>
                                        <input type="number" [inputValidator]="validatorType.NUMBER_ONLY"
                                            appInputValueValidation autocomplete="off" [maxLength]="10"
                                            formControlName="femaleCriticalIlleness" #femaleCriticalIlleness matInput
                                            class="form-control br-0">
                                        <mat-hint align="end" class="f-12">{{femaleCriticalIlleness.value.length}}/10
                                        </mat-hint>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Loan details">
                    <div [formGroup]="loanDetailsForm" class="row pt-40 pb-48">
                        <div class="col-md-4">
                            <div class="form-group mb-0">
                                <label class="f-16 roboto">loan availble</label>
                                <mat-form-field>
                                    <input type="number" autocomplete="off" formControlName="loanAvailable" matInput
                                        class="form-control br-0">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group mb-0">
                                <label class="f-16 roboto">Loan taken</label>
                                <mat-form-field>
                                    <input type="number" autocomplete="off" formControlName="loanTaken" matInput
                                        class="form-control br-0">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group mb-0">
                                <label class="f-16 roboto">Loan taken on</label>
                                <mat-form-field>
                                    <input formControlName="loanTakenOn" (input)="preventDefault($event)"
                                        (focus)="loanTakenOn.open()" autocomplete="off" [matDatepicker]="loanTakenOn"
                                        matInput class="form-control br-0">
                                    <mat-datepicker-toggle matSuffix [for]="loanTakenOn"></mat-datepicker-toggle>
                                    <mat-datepicker #loanTakenOn></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Miscellaneous">
                    <div [formGroup]="Miscellaneous">
                        <div class="row pt-40">
                            <div class="col-md-5 text-right">
                                <h5 class="m-0 pt-32"> Permium payment mode </h5>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group ">
                                    <!-- <mat-form-field>
                                        <input formControlName="" matInput class="form-control br-0">
                                    </mat-form-field> -->
                                    <mat-form-field>
                                        <mat-select formControlName="permiumPaymentMode" #frequency autocomplete="off"
                                            class="form-control mt-28 br-0">
                                            <mat-option value="1">In force</mat-option>
                                            <mat-option value="2">Lapsed</mat-option>
                                            <mat-option value="3">Paid up</mat-option>
                                            <mat-option value="4">Fully paid up</mat-option>
                                        </mat-select>
                                        <mat-error
                                            [ngClass]="{'v-h':!(ispolicyStatus && lifeInsuranceForm.get('policyStatus').invalid || (lifeInsuranceForm.get('policyStatus').touched && lifeInsuranceForm.get('policyStatus').invalid))}"
                                            class="f-12 pt-4">This field is required
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>

                        <div class="row pt-40">
                            <div class="col-md-5 text-right">
                                <h5 class="m-0 pt-8"> Advisor name </h5>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group mb-0">
                                    <mat-form-field>
                                        <input formControlName="advisorName" autocomplete="off" maxlength="40" matInput
                                            #advisorName class="form-control br-0">
                                        <mat-hint align="end" class="f-12">{{advisorName.value.length}}/40
                                        </mat-hint>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>

                        <div class="row pt-40 pb-48">
                            <div class="col-md-5 text-right">
                                <h5 class="m-0 pt-8"> Service branch </h5>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group mb-0">
                                    <mat-form-field>
                                        <input formControlName="serviceBranch" #serviceName maxlength="40"
                                            autocomplete="off" matInput class="form-control br-0">
                                        <mat-hint align="end" class="f-12">{{serviceName.value.length}}/40
                                        </mat-hint>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>
<div class="bottom-fixed wrapper-16 pb-12">
    <div class="row">
        <div class="col-md-4 p-0">
            <h5 class="mb-0 pt-8 text-white c-p text-left" (click)="close(null)">Cancel</h5>
        </div>
        <div class="col-md-8 right text-right">
            <button mat-button class="btn-bottom br-0 text-inherit" (click)="saveAddInsurance()">SAVE</button>

        </div>
    </div>
</div>


<!-- Detailed View -->