<div class="popup-header-fix-35">
    <div class="row bb-1">
        <div class="col-md-10 p-0">
            <h4 class="mb-0 wrapper-20">BANK ACCOUNT - DETAILED VIEW</h4>
        </div>
        <div class="col-md-2 text-left">
            <div class="wrapper-12">
                <i class="material-icons c-p pt-8 v-middle" (click)="close()"> clear</i>
            </div>
        </div>
    </div>
</div>


<div class="pl-20 pr-20 mt-44 pb-48">
    <div class="row pt-40">
        <div class="col-md-12 p-0">
            <div class="insurance-ui bt">
                <div class="row bb p-8 b-l br">
                    <div class="col-md-8 text-left f-14 roboto p-0">
                        Owner Name
                    </div>
                    <div class="col-md-4 text-right f-14 roboto p-0">
                        {{bankAccount.ownerName}}
                    </div>
                </div>
                <div class="row bb p-8 b-l br">
                    <div class="col-md-8 text-left f-14 roboto p-0">
                        Account type
                    </div>
                    <div class="col-md-4 text-right f-14 roboto p-0">
                        {{(bankAccount.accountType==1)?'Current':'Savings'}}
                    </div>
                </div>
                <div class="row bb p-8 b-l br">
                    <div class="col-md-8 text-left f-14 roboto p-0">
                        Account balance
                    </div>
                    <div class="col-md-4 text-right f-14 roboto p-0">
                        {{bankAccount.accountBalance}}
                    </div>
                </div>
                <div class="row bb p-8 b-l br">
                    <div class="col-md-8 text-left f-14 roboto p-0">
                        Balance as on
                    </div>
                    <div class="col-md-4 text-right f-14 roboto p-0">
                        {{bankAccount.balanceAsOn}}
                    </div>
                </div>
                <div class="row bb p-8 b-l br">
                    <div class="col-md-8 text-left f-14 roboto p-0">
                        Interest rate
                    </div>
                    <div class="col-md-4 text-right f-14 roboto p-0">
                        {{bankAccount.interestRate}}
                    </div>
                </div>
                <div class="row bb p-8 b-l br">
                    <div class="col-md-8 text-left f-14 roboto p-0">
                        Interest compounding
                    </div>
                    <div class="col-md-4 text-right f-14 roboto p-0">
                        {{(bankAccount.interestCompounding==1)?'Daily':(bankAccount.interestCompounding==2)?'Monthly':(bankAccount.interestCompounding==3)?'Quarterly':(bankAccount.interestCompounding==4)?'Half yearly':'Yearly'}}
                    </div>
                </div>
                <div class="row bb p-8 b-l br">
                    <div class="col-md-8 text-left f-14 roboto p-0">
                        Account No.
                    </div>
                    <div class="col-md-4 text-right f-14 roboto p-0">
                        {{bankAccount.accountNo}}
                    </div>
                </div>
                <div class="row bb p-8 b-l br">
                    <div class="col-md-8 text-left f-14 roboto p-0">
                        Bank Name
                    </div>
                    <div class="col-md-4 text-right f-14 roboto p-0">
                        {{bankAccount.description}}
                    </div>
                </div>
                <div class="row bb p-8 b-l br">
                    <div class="col-md-8 text-left f-14 roboto p-0">
                        Description
                    </div>
                    <div class="col-md-4 text-right f-14 roboto p-0">
                        {{bankAccount.description}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>