<div class="popup-header-fix-35">
    <div class="row bb-1">
        <div class="col-md-10 p-0">
            <h4 class="mb-0 wrapper-20">Bank account - Detailed view</h4>
        </div>
        <div class="col-md-2 text-left">
            <div class="wrapper-12">
                <i class="material-icons c-p pt-8 v-middle" (click)="close()"> clear</i>
            </div>
        </div>
    </div>
</div>


<div class="pl-20 pr-20 mt-44 pb-48">
    <div class="row pt-40">
        <div class="col-md-12 p-0">
            <div class="insurance-ui bt">
                <div class="row bb p-8 b-l br" *ngFor="let owner of bankAccount.ownerList; let i = index">
                    <div class="col-md-8 text-left f-14 roboto p-0">
                        {{i != 0?'Co-o' : 'O'}}wner {{i != 0?i:''}}
                    </div>
                    <div class="col-md-4 text-right f-14 roboto p-0">
                        {{owner.name}}<span *ngIf="bankAccount.ownerList.length > 1">sharing {{owner.share}}% ownership</span>
                    </div>
                </div>
                <div class="row bb p-8 b-l br">
                    <div class="col-md-8 text-left f-14 roboto p-0">
                        Account type
                    </div>
                    <div class="col-md-4 text-right f-14 roboto p-0">
                        {{(bankAccount.accountType==1)?'Current':'Savings'}}
                    </div>
                </div>
                <div class="row bb p-8 b-l br">
                    <div class="col-md-8 text-left f-14 roboto p-0">
                        Account balance
                    </div>
                    <div class="col-md-4 text-right f-14 roboto p-0" *ngIf="bankAccount.accountBalance != 0">{{!isLoading? "₹" : ""}}     <span appFormatNumber>{{bankAccount.accountBalance}}</span>
                    </div>
                </div>
                <div class="row bb p-8 b-l br">
                    <div class="col-md-8 text-left f-14 roboto p-0">
                        Balance as on
                    </div>
                    <div class="col-md-4 text-right f-14 roboto p-0">
                        {{bankAccount.balanceAsOn | date:'dd/MM/yyyy'}}
                    </div>
                </div>
                <div class="row bb p-8 b-l br">
                    <div class="col-md-8 text-left f-14 roboto p-0">
                        Interest rate
                    </div>
                    <div class="col-md-4 text-right f-14 roboto p-0">
                        {{bankAccount.interestRate?bankAccount.interestRate +"%":'-'}}
                    </div>
                </div>
                <div class="row bb p-8 b-l br">
                    <div class="col-md-8 text-left f-14 roboto p-0">
                        Interest compounding
                    </div>
                    <div class="col-md-4 text-right f-14 roboto p-0">
                        {{(bankAccount.interestCompounding==1)?'Daily':(bankAccount.interestCompounding==2)?'Monthly':(bankAccount.interestCompounding==3)?'Quarterly':(bankAccount.interestCompounding==4)?'Half yearly':'Yearly'}}
                    </div>
                </div>
                <div class="row bb p-8 b-l br">
                    <div class="col-md-8 text-left f-14 roboto p-0">
                        Account No.
                    </div>
                    <div class="col-md-4 text-right f-14 roboto p-0">
                        {{bankAccount.accountNo?bankAccount.accountNo:'-'}}
                    </div>
                </div>
                <div class="row bb p-8 b-l br">
                    <div class="col-md-8 text-left f-14 roboto p-0">
                        Bank Name
                    </div>
                    <div class="col-md-4 text-right f-14 roboto p-0">
                        {{bankAccount.bankName?bankAccount.bankName:'-'}}
                    </div>
                </div>
                <div class="row bb p-8 b-l br">
                    <div class="col-md-8 text-left f-14 roboto p-0">
                        Description
                    </div>
                    <div class="col-md-4 text-right f-14 roboto p-0">
                        {{bankAccount.description?bankAccount.description:'-'}}
                    </div>
                </div>
                <div class="row bb p-8 b-l br" *ngIf="!bankAccount.nomineeList">
                    <div class="col-md-8 text-left f-14 roboto p-0" >
                        Nominee
                    </div>
                    <div class="col-md-4 text-right f-14 roboto p-0">
                        -
                    </div>
                </div>
                <div class="row bb p-8 b-l br" *ngFor="let obj of bankAccount.nomineeList; let i = index">
                    <div class="col-md-8 text-left f-14 roboto p-0" >
                        Nominee {{i + 1}}
                    </div>
                    <div class="col-md-4 text-right f-14 roboto p-0">
                        {{obj.name}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>