.roleSetting-table {
    table {
        tr.mat-header-row {
            height: 40px;
        }
    }
}

.classEditBtn {
    width: 55px;
    height: 25px;
    padding: 0px !important;
    line-height: 25px;
}

.cloneBtn {
    width: 55px;
    height: 25px;
    padding: 0px !important;
    line-height: 25px;
}

.deleteBtn {
    width: 55px;
    height: 25px;
    padding: 0px !important;
    line-height: 25px;
}

.addBtnclass {
    width: 112px;
    height: 40px;
    padding: 0px;
    i {
        padding-right: 2px;
    }
}