.radio-border {
    border: 1px solid rgba(25, 25, 25, 0.32) !important;
}

.bor_top_tb_left {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.bor_top_tb_right {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

 ::ng-deep .radioBtnSmall .mat-radio-label {
    min-width: 105px;
    height: 45px;
    display: flex !important;
    justify-content: left;
    align-items: center;
    padding-left: 10px !important;
}

 ::ng-deep .radioBtnBig .mat-radio-label {
    min-width: 105px;
    height: 45px;
    display: flex !important;
    justify-content: left;
    align-items: center;
    padding-left: 10px !important;
    padding-right: 10px !important;
}

 ::ng-deep .mat-radio-button {
    min-width: auto !important;
}

.activeLink {
    border: 2px solid #FFFFFF;
    border-radius: 2px;
}

.center_menu {
    display: flex;
    align-items: center;
    justify-content: center;
    a {
        color: #FFFFFF;
        padding-left: 4px;
        padding-right: 4px;
        margin-right: 8px;
        font-size: 18px;
    }
}

.details_ui {
    margin-top: 90px;
    ul {
        margin: 0px;
        padding: 0px;
        list-style-type: none;
        display: block;
        li {
            display: flex;
            align-items: center;
            font-size: 14px;
            margin-bottom: 20px;
            span {
                width: 30px;
                height: 30px;
                border-radius: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 10px;
            }
        }
    }
}

 ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-suffix .mat-datepicker-toggle-default-icon {
    width: 1.5em !important;
}

 ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-infix {
    padding: 0px;
}

.mat-datepicker-toggle {
    position: absolute;
    right: 8px !important;
    top: -18px !important;
}

.dragDropCLass {
    border: 1px dashed #83959D;
    height: 150px;
    background: #F5F7F7;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.text-transform-inherit {
    text-transform: inherit;
}

.uploadPhotoBox {
    border: 1px dashed #83959D;
    background: #F5F7F7;
    width: 340px;
    height: 200px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.perviewPhotoBox {
    border: 1px solid #83959D;
    border-radius: 2px;
    width: 140px;
    height: 160px;
}

.perviewSignatureBox {
    width: 240px;
    height: 120px;
    border: 1px solid #83959D;
    border-radius: 2px;
}

.width400 {
    width: 450px;
    margin: 0px auto;
    display: flex;
    text-align: center;
    justify-content: space-between;
    .boxOne {
        width: 45%;
    }
}

.imgSize {
    width: 90px;
    height: 96px;
}

.greenBtn {
    background: #02B875;
    color: #ffffff;
}

.perviousBtn {
    width: 113px;
    height: 36px;
    margin-right: 18px;
}

.br-left-white {
    border-left: 1px solid #FFFFFF;
}

.btnwidth {
    width: 100px;
}