<div class="popup-header-fix-35">
    <div class="row bb-1">
        <div class="col-md-10 p-0">
            <h4 class="mb-0 wrapper-20">RECURING DEPOSIT - DETAILED VIEW</h4>
        </div>
        <div class="col-md-2 text-left">
            <div class="wrapper-12">
                <i class="material-icons c-p pt-8 v-middle" (click)="close()"> clear</i>
            </div>
        </div>
    </div>
</div>
<div class="pl-20 pr-20 mt-44 pb-48">
    <div class="row pt-40">
        <div class="col-md-12 p-0">
            <div class="insurance-ui bt">
                <div class="row bb p-8 b-l br">
                    <div class="col-md-8 text-left f-14 roboto p-0">
                        Owner name
                    </div>
                    <div class="col-md-4 text-right f-14 roboto p-0">
                        {{(recuringDeposit.ownerName)?recuringDeposit.ownerName:''}}
                    </div>
                </div>
                <div class="row bb p-8 b-l br">
                    <div class="col-md-8 text-left f-14 roboto p-0">
                        Monthly contribution
                    </div>
                    <div class="col-md-4 text-right f-14 roboto p-0" appFormatNumber>
                        {{(recuringDeposit.monthlyContribution)?recuringDeposit.monthlyContribution:'-'}}
                    </div>
                </div>

                <div class="row bb p-8 b-l br">
                    <div class="col-md-8 text-left f-14 roboto p-0">
                        Current value
                    </div>
                    <div class="col-md-4 text-right f-14 roboto p-0" appFormatNumber>
                        {{(recuringDeposit.currentValue)?recuringDeposit.currentValue:'-'}}
                    </div>
                </div>
                <div class="row bb p-8 b-l br">
                    <div class="col-md-8 text-left f-14 roboto p-0">
                        Maturity value
                    </div>
                    <div class="col-md-4 text-right f-14 roboto p-0" appFormatNumber>
                        {{(recuringDeposit.maturityValue)?recuringDeposit.maturityValue:'-'}}
                    </div>
                </div>
                <div class="row bb p-8 b-l br">
                    <div class="col-md-8 text-left f-14 roboto p-0">
                        Maturity date
                    </div>
                    <div class="col-md-4 text-right f-14 roboto p-0">
                        {{(recuringDeposit.maturityDate)?(recuringDeposit.maturityDate | date:'dd/MM/yyyy'):'-'}}
                    </div>
                </div>
                <div class="row bb p-8 b-l br">
                    <div class="col-md-8 text-left f-14 roboto p-0">
                        Interest rate
                    </div>
                    <div class="col-md-4 text-right f-14 roboto p-0">
                        {{(recuringDeposit.interestRate)?recuringDeposit.interestRate:'-'}}
                    </div>
                </div>
                <div class="row bb p-8 b-l br">
                    <div class="col-md-8 text-left f-14 roboto p-0">
                        Interest compounding
                    </div>
                    <div class="col-md-4 text-right f-14 roboto p-0">
                        {{(recuringDeposit.interestCompounding=='1')?'Daily':(recuringDeposit.interestCompounding=='2')?'Monthly':(recuringDeposit.interestCompounding=='3')?'Quarterly':(recuringDeposit.interestCompounding=='4')?'Semi annually ':(recuringDeposit.interestCompounding=='5')?'Annually':'-'}}
                    </div>
                </div>
                <div class="row bb p-8 b-l br">
                    <div class="col-md-8 text-left f-14 roboto p-0">
                        Commencement date
                    </div>
                    <div class="col-md-4 text-right f-14 roboto p-0">
                        {{(recuringDeposit.commencementDate)?(recuringDeposit.commencementDate | date:'dd/MM/yyyy'):'-'}}
                    </div>
                </div>
                <div class="row bb p-8 b-l br">
                    <div class="col-md-8 text-left f-14 roboto p-0">
                        Tenure
                    </div>
                    <div class="col-md-4 text-right f-14 roboto p-0">
                        {{(recuringDeposit.tenure)?recuringDeposit.tenure:'-'}}
                    </div>
                </div>
                <div class="row bb p-8 b-l br">
                    <div class="col-md-8 text-left f-14 roboto p-0">
                        RD no.
                    </div>
                    <div class="col-md-4 text-right f-14 roboto p-0">
                        {{(recuringDeposit.rdNumber)?recuringDeposit.rdNumber:'-'}}
                    </div>
                </div>

                <div class="row bb p-8 b-l br">
                    <div class="col-md-8 text-left f-14 roboto p-0">
                        Bank name
                    </div>
                    <div class="col-md-4 text-right f-14 roboto p-0">
                        {{(recuringDeposit.bankName)?recuringDeposit.description:'-'}}
                    </div>
                </div>
                <div class="row bb p-8 b-l br">
                    <div class="col-md-8 text-left f-14 roboto p-0">
                        Linked bank account
                    </div>
                    <div class="col-md-4 text-right f-14 roboto p-0">
                        {{(recuringDeposit.bankAcountNumber)?recuringDeposit.description:'-'}}
                    </div>
                </div>
                <div class="row bb p-8 b-l br">
                    <div class="col-md-8 text-left f-14 roboto p-0">
                        Description
                    </div>
                    <div class="col-md-4 text-right f-14 roboto p-0">
                        {{(recuringDeposit.description)?recuringDeposit.description:'-'}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>