<div id="ui-notes">
    <div class="w-100 fixedClass" [formGroup]="notes">
        <div class="row pt-16">
            <div class="col-md-3 pr-0">
                <div class="row b-b pb-10 d-flex align-items-center">
                    <div [ngClass]="showCheckBox == true ? 'col-md-8': 'col-md-10' " class=" p-0">
                        <button mat-stroked-button class="btn-primary br-0 pl-8" (click)="clearNote()">
                            <img alt="" src="/assets/images/svg/plus.svg" class="pr-12">Add a note</button>
                    </div>
                    <div class="col-md-2" *ngIf="showCheckBox == true && listOfNotes.length > 0">
                        <i (click)="deleteNotes('')" title="Remove" class="material-icons deleteIconNote   ml-10 c-p">
                            delete </i>
                    </div>
                    <div [matMenuTriggerFor]="menu" *ngIf="listOfNotes.length > 0"
                        class="col-md-2 c-p d-flex justify-content-end align-items-center pl-0">
                        <img class="c-p" src="/assets/images/svg/dot-menu.svg">

                        <mat-menu #menu="matMenu">
                            <button mat-menu-item>
                                <mat-checkbox class="example-margin" (change)="selectAll($event)"> </mat-checkbox>
                                <span class="pl-4"> Select multiple</span>
                            </button>


                        </mat-menu>
                    </div>
                </div>
            </div>
            <div class="col-md-9  ">
                <div class="row">
                    <div class="col-md-6 remove-top form-group pl-0">
                        <mat-form-field appearance="standard">
                            <input class="form-control br-0" placeholder="Enter subject" matInput
                                formControlName="subject">
                            <mat-error class="f-12">
                                This field is required
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="col-md-6 d-flex justify-content-end align-items-center p-0">
                        <div class="text-right">
                            <p class="m-0 text-primitive"> Last edited </p>
                            <p class="m-0 text-primitive">
                                {{ (selectedNote) ? (selectedNote.updatedTime | date:'dd/LL/yyyy hh:mm aaa') : date |
                                date:'dd/LL/yyyy hh:mm aaa' }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row pt-64">
        <div class="col-md-3 pr-0">
            <div class="row pt-10 pb-10">
                <div class="col-md-12 p-0 remove-top">
                    <mat-form-field appearance=" standard" class="searchInputWidth" floatLabel="never">
                        <input (keyup)="onSearchChange($event.target.value)" autocomplete="off"
                            class="form-control br-0" matInput placeholder="Type to search data">
                    </mat-form-field>
                </div>
            </div>

            <div *ngIf="isLoading" class="skeletonAnimation" [appSkeletonLoading]="isLoading" appSkeletonLoading>
                <div class="b-b overflow-hidden pt-10 pb-10">
                    <div class="row">
                        <div class="col-md-12 mb-4 p-0 relClass">
                            <div class="bar height24"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10 mb-4 p-0 relClass">
                            <div class="bar height24"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-7 mb-4 p-0 relClass">
                            <div class="bar height24"></div>
                        </div>
                    </div>
                </div>

                <div class="b-b overflow-hidden pt-10 pb-10">
                    <div class="row">
                        <div class="col-md-12 mb-4 p-0 relClass">
                            <div class="bar height24"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10 mb-4 p-0 relClass">
                            <div class="bar height24"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-7 mb-4 p-0 relClass">
                            <div class="bar height24"></div>
                        </div>
                    </div>
                </div>

                <div class="b-b overflow-hidden pt-10 pb-10">
                    <div class="row">
                        <div class="col-md-12 mb-4 p-0 relClass">
                            <div class="bar height24"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10 mb-4 p-0 relClass">
                            <div class="bar height24"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-7 mb-4 p-0 relClass">
                            <div class="bar height24"></div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="notesScroll" *ngIf="listOfNotes.length > 0 && !isLoading">
                <ul class="block">
                    <li *ngFor="let note of listOfNotes">
                        <div class="d-flex p-10" [ngClass]="note.activeOnSelect == true ? 'activeSlectNotes': '' ">
                            <mat-checkbox *ngIf="showCheckBox == true" class="example-margin mr-10"
                                [checked]="note.checked" (change)="selectForDelete($event,note)">
                            </mat-checkbox>
                            <div class=" w-90" (click)="selectNote(note)">
                                <h5 class="m-0 f-500"> {{note.subject}} </h5>
                                <p class="m-0  ">{{note.clientName}}</p>
                                <p class="m-0   text-primitive">
                                    {{note.updatedTime | date:'dd/LL/yyyy hh:mm aaa'}} </p>
                                <p class="m-0 text-truncate text-primitive"> {{note.showContent}}</p>
                            </div>
                            <div *ngIf="showCheckBox == false">
                                <i (click)="deleteNotes(note)" title="Remove"
                                    class="material-icons deleteIconNote   ml-10 c-p">
                                    delete </i>
                            </div>
                        </div>

                    </li>
                </ul>

            </div>
            <div class="text-center mt-10" *ngIf="listOfNotes.length==0 &&  !isLoading">

                <img class="mt-20" src="assets/images/svg/documents-empty-states.svg">
                <p class="mt-10">No data</p>
            </div>
        </div>

        <div class="col-md-9  ">
            <div class="row ">
                <div class="col-md-12 mt-20 p-0 froala-edit-class">
                    <app-froala [(model)]="emailBody" (modelChange)="saveData($event)"></app-froala>
                </div>

            </div>

            <div class="row pb-20">
                <div class="col-md-12 p-0 text-right">
                    <button mat-stroked-button class="btn-primary text-white text-right align-items-right c-p"
                        (click)="addNotes('')" [ngClass]="isMainLoading ? 'cur-wait': ''">
                        Save
                    </button>
                </div>
            </div>
        </div>

    </div>

</div>