<!-- <div *ngIf="showLoader">
    <mat-spinner class="loader" [diameter]="30"></mat-spinner>
</div> -->
<div>
  <div *ngIf="aum.aumComponent==false">
    <div class="wrapper-20 bg-white">
      <div class="row">
        <div class="col-md-6 pl-0">
          <h3 class="pt-8 mb-0">Client Wise AUM</h3>
        </div>
        <div class="col-md-6 pr-0">
          <div class="right text-right"> 
            <button  *ngIf="!isLoading && clientList.length!=0" (click)="exportToExcelSheet('client-wise', null)" class="btn-default addon" mat-stroked-button><i
                class="material-icons">add</i>XLS
            </button>
            <button (click)="aumReport()" class="btn-success ml-8 addon" mat-stroked-button>Back</button>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 p-0 cli-wise overflow-hidden">
          <table *ngIf="clientList.length>0" [appSkeletonLoading]="isLoading" appSkeletonLoading
            class="skeletonAnimation mt-16" id="table-low">
            <thead class="text-dark">
              <tr class="h-40">
                <th class="w-10">Sr No.</th>
                <th (click)="sortBy(clientList,'name')" class="w-40 c-p">
                  <span class="d-flex align-items-center"> Client Name
                    <i class="material-icons ml-4 f-14 text-primitive" *ngIf="propertyName=='name' && !reverse">
                      arrow_upward </i>
                    <i class="material-icons ml-4 f-14 text-primitive"
                      *ngIf="propertyName=='name' && reverse">arrow_downward</i>
                  </span>
                </th>
                <th (click)="sortBy(clientList,'totalAum')" class="w-25 c-p">
                  <span class="d-flex align-items-center"> Current Value
                    <i class="material-icons ml-4 f-14 text-primitive" *ngIf="propertyName=='totalAum' && !reverse">
                      arrow_upward </i>
                    <i class="material-icons ml-4 f-14 text-primitive"
                      *ngIf="propertyName=='totalAum' && reverse">arrow_downward</i>
                  </span>
                </th>
                <th>% Weight</th>
                <th></th>

              </tr>
            </thead>
            <tbody *ngFor="let name of clientList; let clientIndex = index">
              <tr>
                <td>
                  <div [ngClass]="{'bar': isLoading}">
                    {{(isLoading) ? '' : clientIndex + 1}}
                  </div>
                </td>
                <td>
                  <div [ngClass]="{'bar': isLoading}"> {{(isLoading) ? '' : name.name}} </div>
                </td>
                <td>
                  <div [ngClass]="{'bar': isLoading}">{{isLoading ? ' ' : '₹ '}}<span appFormatNumber *ngIf="!isLoading" [value]="name.totalAum"></span></div>
                </td>
                <td>
                  <div [ngClass]="{'bar': isLoading}"> {{(isLoading) ? '' : (name.weightInPercentage | number:'1.2-2')}}{{(isLoading ? '' : '%')}}</div>
                </td>
                <td (click)="getInvestorName(name, clientIndex)">
                  <div class="bar text-center">
                    <i *ngIf="name.show" class="material-icons  b-a f-14 mt-4 c-p"> add </i>
                    <i *ngIf="name.show==false" class="material-icons  b-a f-14 mt-4 c-p">
                      remove
                    </i>
                  </div>
                </td>
              </tr>

              <tr style="border: transparent !important">
                <td class="innerTd one" colspan="5">
                  <div *ngIf="name.show==false" class="d-block text-right">
                    <button (click)="exportToExcelSheet('investor-wise', clientIndex)" mat-icon-button *ngIf="!isLoading  && name.investorList?.length > 0">
                      <mat-icon>
                        save_alt
                      </mat-icon>
                    </button>
                  </div>
                  <table *ngIf="name.show==false && name.investorList?.length > 0" class="skeletonAnimation mt-8 mb-8" appSkeletonLoading
                    [appSkeletonLoading]="isLoadingInvestor" id="table-low">
                    <thead class="bg-light text-dark">
                      <tr class="h-40">
                        <th class="w-10">Sr No.</th>
                        <th (click)="sortByInvestor(name.investorList,'investorName')" class="w-40 c-p">
                          <span class="d-flex align-items-center">
                            Investor Name
                            <i class="material-icons ml-4 f-14 text-primitive"
                              *ngIf="propertyName2=='investorName' && !reverse2">
                              arrow_upward </i>
                            <i class="material-icons ml-4 f-14 text-primitive"
                              *ngIf="propertyName2=='investorName' && reverse2">arrow_downward</i>
                          </span>
                        </th>
                        <th (click)="sortByInvestor(name.investorList,'totalAum')" class="w-25 c-p">
                          <span class="d-flex align-items-center"> Current Value
                            <i class="material-icons ml-4 f-14 text-primitive"
                              *ngIf="propertyName2=='totalAum' && !reverse2">
                              arrow_upward </i>
                            <i class="material-icons ml-4 f-14 text-primitive"
                              *ngIf="propertyName2=='totalAum' && reverse2">arrow_downward</i>
                          </span>
                        </th>
                        <th>% Weight</th>
                        <th></th>

                      </tr>
                    </thead>
                    <tbody *ngFor="let investor of name.investorList; index as investorIndex">
                      <tr>
                        <td>
                          <div [ngClass]="{'bar': isLoadingInvestor}">
                            {{(isLoadingInvestor) ? '' : (investorIndex + 1)}}
                          </div>
                        </td>
                        <td>

                          <div [ngClass]="{'bar': isLoadingInvestor}">
                            {{(isLoadingInvestor) ? '' : investor.investorName}}
                          </div>

                        </td>
                        <td>
                          <div [ngClass]="{'bar': isLoadingInvestor}">
                              {{isLoadingInvestor ? ' ' : '₹ '}}<span appFormatNumber *ngIf="!isLoadingInvestor">{{isLoadingInvestor ? '' : name.totalAum}}</span>
                          </div>
                        </td>
                        <td>
                          <div [ngClass]="{'bar': isLoadingInvestor}">
                            {{(isLoadingInvestor) ? '' : (name.weightInPercentage | number:'1.2-2')}}{{(isLoadingInvestor) ? '' : '%'}}
                          </div>
                        </td>
                        <td (click)="getSchemeName(investor, investorIndex, clientIndex)">
                          <div class="bar text-center">
                          <i *ngIf="investor.showInvestor && !isLoadingInvestor" class="material-icons  b-a f-14 mt-4 c-p" >add</i>
                          <i *ngIf="!investor.showInvestor && !isLoadingInvestor" class="material-icons  b-a f-14 mt-4 c-p" >remove </i>
                          </div>
                        </td>
                      </tr>
                      <tr style="border: transparent !important">
                        <td class="innerTd two" colspan="5">
                          <div *ngIf="!investor.showInvestor" class="d-block text-right">
                            <button (click)="exportToExcelSheet('scheme1-wise', investorIndex)" mat-icon-button *ngIf="!isLoadingInvestor && investor.schemeList?.length > 0">
                              <mat-icon>
                                save_alt
                              </mat-icon>
                            </button>
                          </div>
                          <table *ngIf="investor.showInvestor == false && investor.schemeList?.length > 0" class="skeletonAnimation mt-8 mb-8"
                            appSkeletonLoading [appSkeletonLoading]="isLoadingScheme" id="table-low">
                            <thead>
                              <tr class="h-40">
                                <th class="w-10">Sr No.</th>
                                <th (click)="sortByScheme(investor.schemeList,'schemeName')" class="w-40 c-p">
                                  <span class="d-flex align-items-center"> Scheme Name
                                    <i *ngIf="propertyName3=='schemeName' && !reverse3"
                                      class="material-icons ml-4 f-14 text-primitive">
                                      arrow_upward </i>
                                    <i *ngIf="propertyName3=='schemeName' && reverse3"
                                      class="material-icons ml-4 f-14 text-primitive">arrow_downward</i>
                                  </span>
                                </th>
                                <th (click)="sortByScheme(investor.schemeList,'totalAum')" class="w-25 c-p">
                                  <span class="d-flex align-items-center"> Current
                                    Value
                                    <i *ngIf="propertyName3=='totalAum' && !reverse3"
                                      class="material-icons ml-4 f-14 text-primitive">
                                      arrow_upward </i>
                                    <i *ngIf="propertyName3=='totalAum' && reverse3"
                                      class="material-icons ml-4 f-14 text-primitive">arrow_downward</i>
                                  </span>
                                </th>
                                <th>% Weight</th>
                                <th></th>

                              </tr>
                            </thead>
                            <tbody *ngFor="let scheme of investor.schemeList; index as schemeIndex">
                              <tr>
                                <td>
                                  <div [ngClass]="{'bar': isLoadingScheme}">
                                    {{(isLoadingScheme) ? '' : schemeIndex + 1}}
                                  </div>
                                </td>
                                <td>
                                  <div [ngClass]="{'bar': isLoadingScheme}">
                                    {{(isLoadingScheme) ? '' : scheme.schemeName}}
                                  </div>
                                </td>
                                <td>
                                  <div [ngClass]="{'bar': isLoadingScheme}">
                                      {{isLoadingScheme ? ' ' : '₹ '}}<span appFormatNumber *ngIf="!isLoadingScheme" [value]="scheme.totalAum"></span>
                                  </div>

                                </td>
                                <td>
                                  <div [ngClass]="{'bar': isLoadingScheme}">
                                    {{(isLoadingScheme) ? '' : (scheme.weightInPercentage | number:'1.2-2')}}
                                  </div>
                                </td>
                                <td (click)="getFolio(scheme, schemeIndex, investorIndex, clientIndex)"
                                  class="text-center">
                                   <div class="bar text-center">
                                  <i *ngIf="scheme.showScheme && !isLoadingScheme" class="material-icons  b-a f-14 mt-4 c-p">add</i>
                                  <i *ngIf="scheme.showScheme==false && !isLoadingScheme" class="material-icons  b-a f-14 mt-4 c-p"> remove
                                  </i>
                                </div>
                                </td>
                              </tr>
                              <tr style="border: transparent !important">
                                <td class="innerTd four" colspan="5">
                                  <div class="d-block text-right" *ngIf="!scheme.showScheme">
                                    <button (click)="exportToExcelSheet('scheme2-wise', schemeIndex)" mat-icon-button *ngIf="!isLoadingScheme && scheme.folioList?.length > 0">
                                      <mat-icon>
                                        save_alt
                                      </mat-icon>
                                    </button>
                                  </div>
                                  <table *ngIf="scheme.showScheme==false && !isLoadingFolio && scheme.folioList?.length > 0" class="skeletonAnimation mt-8 mb-8"
                                    appSkeletonLoading [appSkeletonLoading]="isLoadingFolio" id="table-low">
                                    <thead>
                                      <tr class="h-40">
                                        <th class="w-10">Sr No.</th>
                                        <th (click)="sortByFolio(scheme.folioList,'schemeName')" class="w-30 c-p">
                                          <span class="d-flex align-items-center">
                                            Scheme Name
                                            <i *ngIf="propertyName4=='schemeName' && !reverse4"
                                              class="material-icons ml-4 f-14 text-primitive">
                                              arrow_upward </i>
                                            <i *ngIf="propertyName4=='schemeName' && reverse4"
                                              class="material-icons ml-4 f-14 text-primitive">arrow_downward</i>
                                          </span>
                                        </th>
                                        <th (click)="sortByFolio(scheme.folioList,'folioNumber')" class="w-25 c-p">
                                          <span class="d-flex align-items-center">
                                            Folio Number
                                            <i *ngIf="propertyName4=='folioNumber' && !reverse4"
                                              class="material-icons ml-4 f-14 text-primitive">
                                              arrow_upward </i>
                                            <i *ngIf="propertyName4=='folioNumber' && reverse4"
                                              class="material-icons ml-4 f-14 text-primitive">arrow_downward</i>
                                          </span>
                                        </th>
                                        <th (click)="sortByFolio(scheme.folioList,'totalAum')" class="c-p">
                                          <span class="d-flex align-items-center">
                                            Balance Unit
                                            <i *ngIf="propertyName4=='totalAum' && !reverse4"
                                              class="material-icons ml-4 f-14 text-primitive">
                                              arrow_upward </i>
                                            <i *ngIf="propertyName4=='totalAum' && reverse4"
                                              class="material-icons ml-4 f-14 text-primitive">arrow_downward</i>
                                          </span>
                                        </th>
                                        <th>% Weight</th>
                                        <th></th>
                                      </tr>
                                    </thead>
                                    <tbody *ngFor="let folio of scheme.folioList;index as i">
                                      <tr>
                                        <td>
                                          <div [ngClass]="{'bar': isLoadingFolio}">
                                            {{(isLoadingFolio) ? '' : (i + 1)}}
                                          </div>
                                        </td>
                                        <td>
                                          <div [ngClass]="{'bar': isLoadingFolio}">
                                            {{(isLoadingFolio) ? '' : folio.schemeName}}
                                          </div>
                                        </td>

                                        <td>
                                          <div [ngClass]="{'bar': isLoadingFolio}">
                                            {{(isLoadingFolio) ? '' : folio.folioNumber}}
                                          </div>
                                        </td>
                                        <td>
                                          <div [ngClass]="{'bar': isLoadingFolio}">
                                              {{isLoadingFolio ? ' ' : '₹ '}}<span appFormatNumber *ngIf="!isLoadingFolio" [value]="folio.totalAum"></span>
                                          </div>
                                        </td>
                                        <td>
                                          <div [ngClass]="{'bar': isLoadingFolio}">
                                              {{isLoadingFolio ? ' ' : '₹ '}}<span appFormatNumber *ngIf="!isLoadingFolio">{{(isLoadingFolio) ? '' : (folio.balanceUnit | number:'1.2-2')}}</span>
                                          </div>
                                        </td>
                                        <td>

                                          <div  [ngClass]="{'bar': isLoadingFolio}">
                                            {{(isLoadingFolio) ? '' : (folio.weightInPercentage | number:'1.2-2')}}
                                          </div>

                                        </td>
                                      </tr>
                                    </tbody>

                                  </table>
                                  <div *ngIf="!isLoadingFolio && scheme.showScheme == false && scheme.folioList?.length == 0">
                                    <div  class="d-flex flex-column align-items-center">
                                      <h4 class="text-center pt-12">No data Found
                                      </h4>
                                    </div>
                                  </div>
                                </td>
                              </tr>

                            </tbody>

                          </table>
                          <div *ngIf="!isLoadingScheme && investor.showInvestor == false && investor.schemeList?.length == 0">
                            <div *ngIf="scheme1ListArr.length == 0" class="d-flex flex-column align-items-center">
                              <h4 class="text-center pt-12">No data Found
                              </h4>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <div *ngIf="!isLoadingInvestor && name.show == false ">
                    <div *ngIf="investorList.length == 0  && name.investorList?.length == 0" class="d-flex flex-column align-items-center">
                      <h4 class="text-center pt-12">No data Found
                      </h4>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
            <tbody>
              <tr *ngIf="!isLoading && clientList.length>0">
                <td class="p-table  "><strong>Total</strong></td>
                <td class="p-table  ">&nbsp;</td>
                <td class="p-table  "><strong>{{'₹ '}}<span appFormatNumber [value]="totalCurrentValue"></span></strong></td>
                <td class="p-table "><strong><span>{{totalWeight | number:'1.2-2'}}%</span></strong></td>
                <td></td>
              </tr>
            </tbody>
          </table>

          <div *ngIf="!clientList || clientList.length==0" class="d-flex flex-column align-items-center">
            <img class="width300" src="assets/images/svg/noDataFound.svg">
            <h4 class="text-center pt-12">No data found</h4>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>