<!-- <div *ngIf="showLoader">
    <mat-spinner class="loader" [diameter]="30"></mat-spinner>
</div> -->
<div>
    <div *ngIf="aum.aumComponent==false">
        <div class="wrapper-20 bg-white">
            <div class="row">
                <div class="col-md-12 pr-0 mb-10">
                    <div class="right text-right">
                        <button [matMenuTriggerFor]="menu" class="ba-black borderLine br-0" mat-stroked-button>
                            {{viewMode}}
                            <mat-icon aria-hidden="false" aria-label="Example home icon">keyboard_arrow_down
                            </mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <div *ngFor="let item of arnRiaList">
                                <button (click)="changeValueOfArnRia(item)" mat-menu-item
                                    [value]="item.value">{{item.number}}</button>
                            </div>
                        </mat-menu>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-md-6 pl-0">
                    <h3 class="pt-8 mb-0">Client wise AUM</h3>
                </div>
                <div class="col-md-6 pr-0">
                    <div class="right text-right">
                        <button *ngIf="!isLoading && clientList.length!=0"
                            (click)="exportToExcelSheet('client-wise', null, null ,null)" class="btn-default addon"
                            mat-stroked-button><i class="material-icons">add</i>XLS
                        </button>
                        <button (click)="aumReport()" class="btn-success ml-8 addon" mat-stroked-button>Back</button>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 p-0 cli-wise overflow-hidden">
                    <table *ngIf="clientList.length>0" [appSkeletonLoading]="isLoading" appSkeletonLoading
                        class="skeletonAnimation mt-16" id="table-low">
                        <thead class="text-dark">
                            <tr class="h-40">
                                <th class="w-10 f-500 ">Sr No.</th>
                                <th (click)="sortBy(clientList,'name')" class="w-40 f-500 c-p">
                                    <span class="d-flex align-items-center"> Client Name
                                        <i class="material-icons ml-4 f-14 text-primitive"
                                            *ngIf="propertyName=='name' && !reverse">
                                            arrow_upward </i>
                                        <i class="material-icons ml-4 f-14 text-primitive"
                                            *ngIf="propertyName=='name' && reverse">arrow_downward</i>
                                    </span>
                                </th>
                                <th (click)="sortBy(clientList,'totalAum')" class="c-p f-500 w-20">
                                    <span class="d-flex justify-content-end align-items-center"> Current Value
                                        <i class="material-icons ml-4 f-14 text-primitive"
                                            *ngIf="propertyName=='totalAum' && !reverse">
                                            arrow_upward </i>
                                        <i class="material-icons ml-4 f-14 text-primitive"
                                            *ngIf="propertyName=='totalAum' && reverse">arrow_downward</i>
                                    </span>
                                </th>
                                <th class="w-14  f-500 text-right">% Weight</th>
                                <th> </th>
                                <th> </th>

                            </tr>
                        </thead>
                        <tbody *ngFor="let name of clientList; let clientIndex = index">
                            <tr>
                                <td>
                                    <div [ngClass]="{'bar': isLoading}">
                                        {{(isLoading) ? '' : clientIndex + 1}}
                                    </div>
                                </td>

                                <td>
                                    <div [ngClass]="{'bar': isLoading}"> {{(isLoading) ? '' : name.name}} </div>
                                </td>

                                <td class="text-right">
                                    <div class="bar" [ngClass]="{'floatRight': isLoading}">
                                        {{isLoading ? ' ' : '₹ '}}<span appFormatNumber *ngIf="!isLoading"
                                            [value]="name.totalAum" [shouldRoundOff]="true"></span>
                                    </div>
                                </td>

                                <td class="text-right">
                                    <div class="bar" [ngClass]="{'floatRight': isLoading}">
                                        {{(isLoading) ? '' : (name.weightInPercentage | number:'1.2-2')}}{{(isLoading ? '' : '%')}}
                                    </div>
                                </td>

                                <td (click)="getInvestorName(name, clientIndex)">
                                    <div class="bar text-center">
                                        <i *ngIf="name.show" class="material-icons  b-a f-14 mt-4 c-p"> add </i>
                                        <i *ngIf="name.show==false" class="material-icons  b-a f-14 mt-4 c-p">
                                            remove
                                        </i>
                                    </div>
                                </td>

                                <td>
                                    <div *ngIf="name.show==false" class="d-block text-right">
                                        <img (click)="exportToExcelSheet('investor-wise', clientIndex, null,null)"
                                            *ngIf="!isLoading  && name.investorList?.length > 0" class="c-p"
                                            src="assets/images/svg/download-bordered.svg">
                                    </div>
                                </td>

                            </tr>

                            <tr style="border: transparent !important">
                                <td class="innerTd one" colspan="6">
                                    <!-- <div *ngIf="name.show==false" class="d-block text-right">
                    <button (click)="exportToExcelSheet('investor-wise', clientIndex, null,null)" mat-icon-button
                      *ngIf="!isLoading  && name.investorList?.length > 0">
                      <mat-icon>
                        save_alt
                      </mat-icon>
                    </button>
                  </div> -->
                                    <table *ngIf="name.show==false && name.investorList?.length > 0"
                                        class="skeletonAnimation mt-16 table98 mb-8" appSkeletonLoading
                                        [appSkeletonLoading]="isLoadingInvestor" id="table-low">
                                        <thead class="bg-light text-dark">
                                            <tr class="h-40">
                                                <th class="w-10 f-500">Sr No.</th>
                                                <th (click)="sortByInvestor(name.investorList,'investorName')"
                                                    class="w-40 f-500 c-p">
                                                    <span class="d-flex align-items-center">
                                                        Investor Name
                                                        <i class="material-icons ml-4 f-14 text-primitive"
                                                            *ngIf="propertyName2=='investorName' && !reverse2">
                                                            arrow_upward </i>
                                                        <i class="material-icons ml-4 f-14 text-primitive"
                                                            *ngIf="propertyName2=='investorName' && reverse2">arrow_downward</i>
                                                    </span>
                                                </th>
                                                <th (click)="sortByInvestor(name.investorList,'totalAum')"
                                                    class="c-p f-500 w-20 text-right">
                                                    <span class="d-flex justify-content-end align-items-center"> Current
                                                        Value
                                                        <i class="material-icons ml-4 f-14 text-primitive"
                                                            *ngIf="propertyName2=='totalAum' && !reverse2">
                                                            arrow_upward </i>
                                                        <i class="material-icons ml-4 f-14 text-primitive"
                                                            *ngIf="propertyName2=='totalAum' && reverse2">arrow_downward</i>
                                                    </span>
                                                </th>
                                                <th class="w-14 f-500 text-right">% Weight</th>
                                                <th> </th>
                                                <th> </th>

                                            </tr>
                                        </thead>
                                        <tbody *ngFor="let investor of name.investorList; index as investorIndex">
                                            <tr>
                                                <td>
                                                    <div [ngClass]="{'bar': isLoadingInvestor}">
                                                        {{(isLoadingInvestor) ? '' : (investorIndex + 1)}}
                                                    </div>
                                                </td>

                                                <td>
                                                    <div [ngClass]="{'bar': isLoadingInvestor}">
                                                        {{(isLoadingInvestor) ? '' : investor.investorName}}
                                                    </div>
                                                </td>

                                                <td class="text-right">
                                                    <div [ngClass]="{'bar': isLoadingInvestor}">
                                                        {{isLoadingInvestor ? ' ' : '₹ '}}<span appFormatNumber
                                                            *ngIf="!isLoadingInvestor" [shouldRoundOff]="true"
                                                            [value]="investor.totalAum"></span>
                                                    </div>
                                                </td>

                                                <td class="text-right">
                                                    <div [ngClass]="{'bar': isLoadingInvestor}">
                                                        {{(isLoadingInvestor) ? '' : (investor.weightInPercentage | number:'1.2-2')}}{{(isLoadingInvestor) ? '' : '%'}}
                                                    </div>
                                                </td>

                                                <td
                                                    (click)="getSchemeName(investor, investorIndex, clientIndex, name.name)">
                                                    <div class="bar text-center">
                                                        <i *ngIf="investor.showInvestor && !isLoadingInvestor"
                                                            class="material-icons  b-a f-14 mt-4 c-p">add</i>
                                                        <i *ngIf="!investor.showInvestor && !isLoadingInvestor"
                                                            class="material-icons  b-a f-14 mt-4 c-p">remove </i>
                                                    </div>
                                                </td>

                                                <td>
                                                    <div *ngIf="!investor.showInvestor" class="d-block text-right">

                                                        <img (click)="exportToExcelSheet('scheme1-wise',clientIndex, investorIndex, null)"
                                                            *ngIf="!isLoadingInvestor && investor.schemeList?.length > 0"
                                                            class="c-p" src="assets/images/svg/download-bordered.svg">


                                                    </div>
                                                </td>

                                            </tr>
                                            <tr style="border: transparent !important">
                                                <td class="innerTd two" colspan="6">

                                                    <table
                                                        *ngIf="investor.showInvestor == false && investor.schemeList?.length > 0"
                                                        class="skeletonAnimation table96 mt-16 mb-20" appSkeletonLoading
                                                        [appSkeletonLoading]="isLoadingScheme" id="table-low">
                                                        <thead>
                                                            <tr class="h-40">
                                                                <th class="w-10 f-500">Sr No.</th>
                                                                <th (click)="sortByScheme(investor.schemeList,'schemeName')"
                                                                    class="w-40 f-500 c-p">
                                                                    <span class="d-flex align-items-center"> Scheme Name
                                                                        <i *ngIf="propertyName3=='schemeName' && !reverse3"
                                                                            class="material-icons ml-4 f-14 text-primitive">
                                                                            arrow_upward </i>
                                                                        <i *ngIf="propertyName3=='schemeName' && reverse3"
                                                                            class="material-icons ml-4 f-14 text-primitive">arrow_downward</i>
                                                                    </span>
                                                                </th>
                                                                <th (click)="sortByScheme(investor.schemeList,'totalAum')"
                                                                    class="c-p f-500 w-20 text-right">
                                                                    <span
                                                                        class="d-flex align-items-center justify-content-end">
                                                                        Current
                                                                        Value
                                                                        <i *ngIf="propertyName3=='totalAum' && !reverse3"
                                                                            class="material-icons ml-4 f-14 text-primitive">
                                                                            arrow_upward </i>
                                                                        <i *ngIf="propertyName3=='totalAum' && reverse3"
                                                                            class="material-icons ml-4 f-14 text-primitive">arrow_downward</i>
                                                                    </span>
                                                                </th>
                                                                <th class="w-14 f-500 text-right">% Weight</th>
                                                                <th></th>
                                                                <th></th>

                                                            </tr>
                                                        </thead>
                                                        <tbody
                                                            *ngFor="let scheme of investor.schemeList; index as schemeIndex">
                                                            <tr>
                                                                <td>
                                                                    <div [ngClass]="{'bar': isLoadingScheme}">
                                                                        {{(isLoadingScheme) ? '' : schemeIndex + 1}}
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div [ngClass]="{'bar': isLoadingScheme}">
                                                                        {{(isLoadingScheme) ? '' : scheme.schemeName}}
                                                                    </div>
                                                                </td>

                                                                <td class="text-right">
                                                                    <div [ngClass]="{'bar': isLoadingScheme}">
                                                                        {{isLoadingScheme ? ' ' : '₹ '}}<span
                                                                            appFormatNumber *ngIf="!isLoadingScheme"
                                                                            [value]="scheme.totalAum"
                                                                            [shouldRoundOff]="true"></span>
                                                                    </div>
                                                                </td>

                                                                <td class="text-right">
                                                                    <div [ngClass]="{'bar': isLoadingScheme}">
                                                                        {{(isLoadingScheme) ? '' : (scheme.weightInPercentage | number:'1.2-2')}}
                                                                    </div>
                                                                </td>
                                                                <td (click)="getFolio(scheme, schemeIndex, investorIndex, clientIndex, investor.investorName, name.name)"
                                                                    class="text-center">
                                                                    <div class="bar text-center">
                                                                        <i *ngIf="scheme.showScheme && !isLoadingScheme"
                                                                            class="material-icons  b-a f-14 mt-4 c-p">add</i>
                                                                        <i *ngIf="scheme.showScheme==false && !isLoadingScheme"
                                                                            class="material-icons  b-a f-14 mt-4 c-p">
                                                                            remove
                                                                        </i>
                                                                    </div>
                                                                </td>

                                                                <td>
                                                                    <div class="d-block text-right"
                                                                        *ngIf="!scheme.showScheme">
                                                                        <img src="assets/images/svg/download-bordered.svg"
                                                                            (click)="exportToExcelSheet('scheme2-wise',clientIndex, investorIndex, schemeIndex)"
                                                                            *ngIf="!isLoadingScheme && scheme.folioList?.length > 0">
                                                                    </div>
                                                                </td>

                                                            </tr>
                                                            <tr style="border: transparent !important">
                                                                <td class="innerTd four" colspan="6">

                                                                    <table
                                                                        *ngIf="scheme.showScheme==false && scheme.folioList?.length > 0"
                                                                        class="skeletonAnimation mt-16 table95 mb-8"
                                                                        appSkeletonLoading
                                                                        [appSkeletonLoading]="isLoadingFolio"
                                                                        id="table-low">
                                                                        <thead>
                                                                            <tr class="h-40">
                                                                                <th class="w-10 f-500">Sr No.</th>
                                                                                <th (click)="sortByFolio(scheme.folioList,'schemeName')"
                                                                                    class="w-30 f-500 c-p">
                                                                                    <span
                                                                                        class="d-flex align-items-center">
                                                                                        Scheme Name
                                                                                        <i *ngIf="propertyName4=='schemeName' && !reverse4"
                                                                                            class="material-icons ml-4 f-14 text-primitive">
                                                                                            arrow_upward </i>
                                                                                        <i *ngIf="propertyName4=='schemeName' && reverse4"
                                                                                            class="material-icons ml-4 f-14 text-primitive">arrow_downward</i>
                                                                                    </span>
                                                                                </th>
                                                                                <th (click)="sortByFolio(scheme.folioList,'folioNumber')"
                                                                                    class="w-15 f-500 c-p">
                                                                                    <span
                                                                                        class="d-flex align-items-center  ">
                                                                                        Folio Number
                                                                                        <i *ngIf="propertyName4=='folioNumber' && !reverse4"
                                                                                            class="material-icons ml-4 f-14 text-primitive">
                                                                                            arrow_upward </i>
                                                                                        <i *ngIf="propertyName4=='folioNumber' && reverse4"
                                                                                            class="material-icons ml-4 f-14 text-primitive">arrow_downward</i>
                                                                                    </span>
                                                                                </th>
                                                                                <th (click)="sortByFolio(scheme.folioList,'totalAum')"
                                                                                class="c-p f-500 w-20">
                                                                                <span
                                                                                    class="d-flex justify-content-end align-items-center">
                                                                                    Current value
                                                                                    <i *ngIf="propertyName4=='totalAum' && !reverse4"
                                                                                        class="material-icons ml-4 f-14 text-primitive">
                                                                                        arrow_upward </i>
                                                                                    <i *ngIf="propertyName4=='totalAum' && reverse4"
                                                                                        class="material-icons ml-4 f-14 text-primitive">arrow_downward</i>
                                                                                </span>
                                                                            </th>

                                                                                <th (click)="sortByFolio(scheme.folioList,'balanceUnit')"
                                                                                    class="c-p f-500 w-20">
                                                                                    <span
                                                                                        class="d-flex justify-content-end align-items-center">
                                                                                        Balance Unit
                                                                                        <i *ngIf="propertyName4=='balanceUnit' && !reverse4"
                                                                                            class="material-icons ml-4 f-14 text-primitive">
                                                                                            arrow_upward </i>
                                                                                        <i *ngIf="propertyName4=='balanceUnit' && reverse4"
                                                                                            class="material-icons ml-4 f-14 text-primitive">arrow_downward</i>
                                                                                    </span>
                                                                                </th>

                                                                                <th class="w-15 f-500 text-right">%
                                                                                    Weight</th>
                                                                                <th></th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody
                                                                            *ngFor="let folio of scheme.folioList;index as i">
                                                                            <tr>
                                                                                <td>
                                                                                    <div
                                                                                        [ngClass]="{'bar': isLoadingFolio}">
                                                                                        {{(isLoadingFolio) ? '' : (i + 1)}}
                                                                                    </div>
                                                                                </td>
                                                                                <td>
                                                                                    <div
                                                                                        [ngClass]="{'bar': isLoadingFolio}">
                                                                                        {{(isLoadingFolio) ? '' : folio.schemeName}}
                                                                                    </div>
                                                                                </td>

                                                                                <td>
                                                                                    <div
                                                                                        [ngClass]="{'bar': isLoadingFolio}">
                                                                                        {{(isLoadingFolio) ? '' : folio.folioNumber}}
                                                                                    </div>
                                                                                </td>
                                                                                <td class="text-right">
                                                                                    <div
                                                                                        [ngClass]="{'bar': isLoadingFolio}">
                                                                                        {{isLoadingFolio ? ' ' : '₹ '}}<span
                                                                                            appFormatNumber
                                                                                            *ngIf="!isLoadingFolio"
                                                                                            [shouldRoundOff]="true"
                                                                                            [value]="folio.totalAum"></span>
                                                                                    </div>
                                                                                </td>
                                                                                <td class="text-right">
                                                                                    <div
                                                                                        [ngClass]="{'bar': isLoadingFolio}">
                                                                                        <!--                                            {{isLoadingFolio ? ' ' : '₹ '}}-->
                                                                                        <span appFormatNumber
                                                                                            *ngIf="!isLoadingFolio">{{(isLoadingFolio) ? '' : (folio.balanceUnit | number:'1.2-2')}}</span>
                                                                                    </div>
                                                                                </td>

                                                                                <td class="text-right">

                                                                                    <div
                                                                                        [ngClass]="{'bar': isLoadingFolio}">
                                                                                        {{(isLoadingFolio) ? '' : (folio.weightInPercentage | number:'1.2-2')}}
                                                                                    </div>

                                                                                </td>
                                                                            </tr>
                                                                        </tbody>

                                                                    </table>
                                                                    <div
                                                                        *ngIf="!isLoadingFolio && scheme.showScheme == false && scheme.folioList?.length == 0">
                                                                        <div
                                                                            class="d-flex flex-column align-items-center">
                                                                            <h4 class="text-center pt-12">No data found
                                                                            </h4>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                            </tr>

                                                        </tbody>

                                                    </table>
                                                    <div
                                                        *ngIf="!isLoadingScheme && investor.showInvestor == false && investor.schemeList?.length == 0">
                                                        <div *ngIf="scheme1ListArr.length == 0"
                                                            class="d-flex flex-column align-items-center">
                                                            <h4 class="text-center pt-12">No data found
                                                            </h4>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div *ngIf="!isLoadingInvestor && name.show == false ">
                                        <div *ngIf="investorList.length == 0  && name.investorList?.length == 0"
                                            class="d-flex flex-column align-items-center">
                                            <h4 class="text-center pt-12">No data found
                                            </h4>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr *ngIf="!isLoading && clientList.length>0">
                                <td class="p-table  "><strong>Total</strong></td>
                                <td class="p-table  ">&nbsp;</td>
                                <td class="p-table  "><strong>{{'₹ '}}<span appFormatNumber [value]="totalCurrentValue"
                                            [shouldRoundOff]="true"></span></strong>
                                </td>
                                <td class="p-table "><strong><span>{{totalWeight | number:'1.2-2'}}%</span></strong>
                                </td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>

                    <div *ngIf="!clientList || clientList.length==0" class="d-flex flex-column align-items-center">
                        <img class="width300" src="assets/images/svg/noDataFound.svg">
                        <h4 class="text-center pt-12">No data found</h4>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>