<!-- <div *ngIf="showLoader">
    <mat-spinner class="loader" [diameter]="30"></mat-spinner>
</div> -->
<div>
    <div *ngIf="aum.aumComponent==false">
        <div class="wrapper-20 bg-white">
            <div class="row">
                <div class="col-md-6 pl-0">
                    <h3 class="pt-8 mb-0">Client Wise AUM</h3>
                </div>
                <div class="col-md-6 pr-0">
                    <div class="right text-right">
                        <button mat-stroked-button class="btn-default addon"
                            (click)="exportToExcelSheet('client-wise', null)"><i
                                class="material-icons">add</i>XLS</button>
                        <button mat-stroked-button class="btn-success ml-8 addon" (click)="aumReport()">Back</button>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 p-0 cli-wise overflow-hidden">
                    <table class="skeletonAnimation mt-16" appSkeletonLoading [appSkeletonLoading]="isLoading"
                        id="table-low" *ngIf="clientList">
                        <thead class="text-dark">
                            <tr>
                                <th class="w-10">Sr No.</th>
                                <th class="w-40">Client Name</th>
                                <th class="w-25">Current Value</th>
                                <th>% Weight</th>
                                <th></th>

                            </tr>
                        </thead>
                        <tbody *ngFor="let name of clientList; let clientIndex = index">
                            <tr>
                                <td>
                                    <div class="bar">
                                        {{(isLoading)?'':clientIndex+1}}
                                    </div>
                                </td>
                                <td>
                                    <div class="bar"> {{name.name}} </div>
                                </td>
                                <td>
                                    <div class="bar"><span>{{name.totalAum}}</span></div>
                                </td>
                                <td>
                                    <div class="bar"> {{name.weightInPercentage}}{{(isLoading?'':'%')}}</div>
                                </td>
                                <td (click)="getInvestorName(name, clientIndex, null)">
                                    <div class="bar text-center">
                                        <i class="material-icons  b-a f-14 mt-4 c-p" *ngIf="name.show"> add </i>
                                        <i class="material-icons  b-a f-14 mt-4 c-p" *ngIf="name.show==false">
                                            remove
                                        </i>
                                    </div>
                                </td>
                            </tr>

                            <tr style="border: transparent !important">
                                <td class="innerTd one" colspan="5">
                                    <div class="d-block text-right" *ngIf="name.show==false">
                                        <button mat-icon-button
                                            (click)="exportToExcelSheet('investor-wise', clientIndex)">
                                            <mat-icon>
                                                save_alt
                                            </mat-icon>
                                        </button>
                                    </div>
                                    <table *ngIf="name.show==false" class=" mt-8 mb-8 " id="table-low">
                                        <thead class="bg-light text-dark">
                                            <tr>
                                                <th class="w-10">Sr No.</th>
                                                <th class="w-40">Investor Name</th>
                                                <th class="w-25">Current Value</th>
                                                <th>% Weight</th>
                                                <th></th>

                                            </tr>
                                        </thead>
                                        <tbody *ngFor="let investor of name.investorList; index as investorIndex">
                                            <tr>
                                                <td>{{investorIndex+1}}</td>
                                                <td>
                                                    {{investor.investorName}}
                                                </td>
                                                <td><span>{{name.totalAum}}</span></td>
                                                <td>{{name.weightInPercentage}}%</td>
                                                <td class="text-center"
                                                    (click)="getSchemeName(investor, investorIndex, clientIndex)">
                                                    <i class="material-icons  b-a f-14 mt-4 c-p"
                                                        *ngIf="investor.showInvestor">add</i>
                                                    <i class="material-icons  b-a f-14 mt-4 c-p"
                                                        *ngIf="!investor.showInvestor"> remove </i>
                                                </td>
                                            </tr>
                                            <tr style="border: transparent !important">
                                                <td class="innerTd two" colspan="5">
                                                    <div class="d-block text-right" *ngIf="!investor.showInvestor">
                                                        <button mat-icon-button
                                                            (click)="exportToExcelSheet('scheme1-wise', investorIndex)">
                                                            <mat-icon>
                                                                save_alt
                                                            </mat-icon>
                                                        </button>
                                                    </div>
                                                    <table class=" mt-8 mb-8 " id="table-low"
                                                        *ngIf="!investor.showInvestor">
                                                        <thead>
                                                            <tr>
                                                                <th class="w-10">Sr No.</th>
                                                                <th class="w-40">Scheme Name</th>
                                                                <th class="w-25">Current Value</th>
                                                                <th>% Weight</th>
                                                                <th></th>

                                                            </tr>
                                                        </thead>
                                                        <tbody
                                                            *ngFor="let scheme of investor.schemeList; index as schemeIndex">
                                                            <tr>
                                                                <td>{{schemeIndex+1}}</td>
                                                                <td>
                                                                    {{scheme.schemeName}} </td>
                                                                <td><span>{{scheme.totalAum}}</span>
                                                                </td>
                                                                <td>{{scheme.weightInPercentage}}</td>
                                                                <td class="text-center"
                                                                    (click)="getFolio(scheme, schemeIndex, investorIndex, clientIndex)">
                                                                    <i class="material-icons  b-a f-14 mt-4 c-p"
                                                                        *ngIf="scheme.showScheme">add</i>
                                                                    <i class="material-icons  b-a f-14 mt-4 c-p"
                                                                        *ngIf="scheme.showScheme==false"> remove
                                                                    </i>
                                                                </td>
                                                            </tr>
                                                            <tr style="border: transparent !important">
                                                                <td class="innerTd four" colspan="5">
                                                                    <div class="d-block text-right">
                                                                        <button mat-icon-button
                                                                            (click)="exportToExcelSheet('scheme2-wise', schemeIndex)">
                                                                            <mat-icon>
                                                                                save_alt
                                                                            </mat-icon>
                                                                        </button>
                                                                    </div>
                                                                    <table class=" mt-8 mb-8 " id="table-low"
                                                                        *ngIf="scheme.showScheme==false">
                                                                        <thead>
                                                                            <tr>
                                                                                <th class="w-10">Sr No.</th>
                                                                                <th class="w-30">Scheme Name</th>
                                                                                <th class="w-25">Folio Number</th>
                                                                                <th>Balance Unit</th>
                                                                                <th>% Weight</th>
                                                                                <th></th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody
                                                                            *ngFor="let folio of scheme.folioList;index as i">
                                                                            <tr>
                                                                                <td>{{i+1}}</td>
                                                                                <td>{{folio.schemeName}} </td>

                                                                                <td>{{folio.folioNumber}}</td>
                                                                                <td><span>{{folio.totalAum}}</span>
                                                                                </td>
                                                                                <td>{{folio.balanceUnit}}</td>
                                                                                <td>
                                                                                    {{folio.weightInPercentage}}
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>

                                                                    </table>
                                                                </td>
                                                            </tr>

                                                        </tbody>

                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr *ngIf="!isLoading">
                                <td class="p-table  "><strong>Total</strong></td>
                                <td class="p-table  ">&nbsp;</td>
                                <td class="p-table  "><strong><span>{{totalCurrentValue}}</span></strong></td>
                                <td class="p-table "><strong>{{totalWeight}}%</strong></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>

                    <div *ngIf="!clientList" class="d-flex flex-column align-items-center">
                        <img class="width300" src="assets/images/svg/noDataFound.svg">
                        <h4 class="text-center pt-12">No task template found</h4>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>