h1 {
    font-size: 400px;
    color: #D9DEE1;
    font-weight: 700;
    padding-top: 100px;
    font-family: "proxima-nova", sans-serif;
  }
  
  h5 {
    font-family: "proxima-nova", sans-serif;
  }
  
  .main-content {
    padding-top: 90px;
  
    h2 {
      padding-top: 60px;
      font-size: 50px;
      font-family: "proxima-nova", sans-serif;
    }
  }
  