.ba-Tr {
    border: 2px solid transparent;
}

.b-Radius {
    border-radius: 4px !important;
}

.ba-bule {
    border: 2px solid #008FFF;
}

.poscheck {
    position: absolute;
    right: 10px;
    top: -4px;
}

.borderBtm {
    border-bottom: 1px solid #83959D;
    margin-bottom: 10px;
    padding-bottom: 7px;
}

.borderDasd {
    border-bottom: 0.5px dashed #83959D;
}

.h-80 {
    height: 80px;
}