<div class="row popup-header-fix-100">
    <div class="col-md-2 border-right-1 p-0">
        <img class="pt-4 w-100" src="https://res.cloudinary.com/futurewise/image/upload/v1566029063/icons_fakfxf.png">
    </div>
    <div class="col-md-8 p-0 d-flex justify-content-center align-items-center ">

        <p class="f-16 mb-0">
            {{showInsurance.heading}} planning</p>
    </div>
    <div class="col-md-2 full-end pr-20">
        <i class="material-icons c-p" (click)="close(showInsurance,false)">
            clear
        </i>
    </div>
</div>
<div class="row pt-130 health-insuranceplanning pb-48">
    <div class="col-md-12">
        <h5 class="m-0 f-500 text-black pb-12 roboto">{{showInsurance.heading}}</h5>

        <div class="row b-a">
            <div class="col-md-6 p-0">
                <h5 class="text-center f-500 text-black bb-1 pt-12 pb-12 mb-16">Step 1 - Select existing policy</h5>
                <div class="pl-12 pr-12">
                    <div class="scroll-table-health">
                        <table mat-table *ngIf="dataSource.length > 0" [dataSource]="dataSource"
                            class="skeletonAnimation" id="table-low" appSkeletonLoading
                            [appSkeletonLoading]="isLoading">

                            <ng-container matColumnDef="position">
                                <th mat-header-cell *matHeaderCellDef class="br w-24"> Policy name </th>
                                <td mat-cell *matCellDef="let element" class="br w-24">
                                    <div class="bar">
                                        {{element.insuranceDetails?.insurerName}}
                                    </div>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="name">
                                <th mat-header-cell *matHeaderCellDef class="br"> Premium </th>
                                <td mat-cell *matCellDef="let element" class="br">
                                    <div class="bar">
                                        {{element.insuranceDetails?.premiumAmount  ? '₹' :''}}<span appFormatNumber>
                                            {{element.insuranceDetails?.premiumAmount}}
                                        </span>{{!isLoading && element.insuranceDetails?.premiumAmount? '/year' : ''}}
                                    </div>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="weight">
                                <th mat-header-cell *matHeaderCellDef class="br"> Member name </th>
                                <td mat-cell *matCellDef="let element" class="br">
                                    <div class="bar">
                                        <span>{{element.displayHolderName}} </span>
                                    </div>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="symbol">
                                <th mat-header-cell *matHeaderCellDef class="br"> Sum insured </th>
                                <td mat-cell *matCellDef="let element" class="br">
                                    <div class="bar">
                                        {{element.displayHolderSumInsured ? '₹' :''}}<span appFormatNumber
                                            *ngIf="!isLoading">{{element.displayHolderSumInsured  ? element.displayHolderSumInsured :'-'}}</span>
                                    </div>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="advice">
                                <th mat-header-cell *matHeaderCellDef class="br"> Advice </th>
                                <td mat-cell *matCellDef="let element" class="c-p br">
                                    <div class="bar">
                                        <span *ngIf="element.advice && !isLoading">
                                            {{isLoading ? '' : (element.advice ? element.advice : '-')}}
                                        </span>
                                        <span
                                            (click)="openAddEditAdvice(showInsurance,element.insuranceDetails,'existingAdvice')"
                                            *ngIf="!element.advice && !isLoading">
                                            <img src="/assets/images/svg/plus-rounded.svg">
                                            <!-- (click)="openDialog(element,showInsurance)" -->
                                        </span>
                                    </div>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="icons">
                                <th mat-header-cell *matHeaderCellDef> </th>
                                <td mat-cell *matCellDef="let element">
                                    <button mat-icon-button [matMenuTriggerFor]="menu" *ngIf="!isLoading">
                                        <mat-icon>more_vert</mat-icon>
                                    </button>
                                    <mat-menu #menu="matMenu">
                                        <div [matTooltip]="element.advice == null ? 'Advice is not given' : null">
                                            <button mat-menu-item [disabled]="!element.advice"
                                                (click)="openAddEditAdvice(showInsurance,element.insuranceDetails,'existingAdvice')">Edit</button>
                                        </div>
                                        <button mat-menu-item
                                            (click)="deleteModal('INSURANCE',element.insuranceDetails,'existingAdvice')">Delete</button>
                                    </mat-menu>
                                </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                    </div>

                </div>

                <div *ngIf="dataSource.length == 0 "
                    class="d-flex flex-column align-items-center pb-20 scroll-table-health-empty">
                    <!-- <img class="width400" src="assets/images/svg/clients-img.svg"> -->
                    <h4 class="text-center pt-12">Select from existing health insurance policies.
                        Once selected, you can give advice on them</h4>
                    <h4 class="text-center pt-12 text-custom">You can give advice on multiple policies at once.</h4>
                    <button mat-stroked-button class="btn-primary addon v-middle"
                        (click)="openHelthInsurance(showInsurance)">SELECT ONE
                    </button>
                </div>
                <p class="m-0 text-black roboto pt-20 pb-20 c-p pl-12 pr-12" *ngIf="!isLoading && dataSource.length > 0"
                    (click)="openHelthInsurance(showInsurance)">+ Add more
                </p>
            </div>
            <div class="col-md-6 bl-1 p-0">
                <h5 class="text-center f-500 text-black bb-1 pt-12 pb-12 mb-16">Step 2 - Suggest new policy</h5>
                <!-- <div class="row center-items">
                    <div class="col-md-12 p-0">
                        <p class="m-0 roboto text-black">Suggest new policy from here.</p>
                        <p class="text-custom roboto m-0">You can suggest multiple policies too. </p>
                        <button mat-stroked-button class="mt-20 btn-primary">SUGGEST NEW</button>
                    </div>
                </div> -->
                <div class="pl-12 pr-12">
                    <div class="scroll-table-health">
                        <table mat-table *ngIf="!dataSaved && dataSource1.length > 0" [dataSource]="dataSource1"
                            class="skeletonAnimation" id="table-low" appSkeletonLoading
                            [appSkeletonLoading]="isLoading">
                            <ng-container matColumnDef="position">
                                <th mat-header-cell *matHeaderCellDef class="br w-35"> Policy name </th>
                                <td mat-cell *matCellDef="let element" class="br w-35">
                                    <div class="bar">
                                        {{element.insuranceDetails?.insurerName}}
                                    </div>
                                </td>
                            </ng-container>

                            <!-- Name Column -->
                            <ng-container matColumnDef="name">
                                <th mat-header-cell *matHeaderCellDef class="br">Premium </th>
                                <td mat-cell *matCellDef="let element" class="br">
                                    <div class="bar">
                                        {{element.insuranceDetails?.premiumAmount  ? '₹' :''}}<span appFormatNumber>
                                            {{element.insuranceDetails?.premiumAmount}}</span>
                                        {{!isLoading && element.insuranceDetails?.premiumAmount? '/year' : ''}}
                                    </div>
                                </td>
                            </ng-container>

                            <!-- Weight Column -->
                            <ng-container matColumnDef="weight">
                                <th mat-header-cell *matHeaderCellDef class="br"> Member name </th>
                                <td mat-cell *matCellDef="let element" class="br">
                                    <div class="bar">
                                        <span>{{element.displayHolderName}} </span>
                                    </div>
                                </td>
                            </ng-container>

                            <!-- Symbol Column -->
                            <ng-container matColumnDef="symbol">
                                <th mat-header-cell *matHeaderCellDef class="br"> Sum insured</th>
                                <td mat-cell *matCellDef="let element" class="br">
                                    <div class="bar"> {{element.displayHolderSumInsured  ? '₹' :''}}<span
                                            appFormatNumber>{{element.displayHolderSumInsured}}</span>
                                    </div>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="icons">
                                <th mat-header-cell *matHeaderCellDef> </th>
                                <td mat-cell *matCellDef="let element">
                                    <button mat-icon-button [matMenuTriggerFor]="menu" *ngIf="!isLoading">
                                        <mat-icon>more_vert</mat-icon>
                                    </button>
                                    <mat-menu #menu="matMenu">
                                        <button mat-menu-item
                                            (click)="openAddEditAdvice(showInsurance,element.insuranceDetails,'suggestNew')">Edit</button>
                                        <button mat-menu-item
                                            (click)="deleteModal('INSURANCE',element.insuranceDetails,'suggestNew')">Delete</button>
                                    </mat-menu>
                                </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>
                        </table>
                    </div>
                </div>
                <div class="pl-12 pr-12">
                    <div class="scroll-table-health">
                        <table mat-table *ngIf="dataSaved && dataSource3.length > 0" [dataSource]="dataSource3"
                            class="skeletonAnimation" id="table-low" appSkeletonLoading
                            [appSkeletonLoading]="isLoading">
                            <ng-container matColumnDef="position">
                                <th mat-header-cell *matHeaderCellDef class="br w-35"> Policy name </th>
                                <td mat-cell *matCellDef="let element" class="br w-35">
                                    <div class="bar">
                                        {{element.insuranceDetails?.insurerName}}
                                    </div>
                                </td>
                            </ng-container>

                            <!-- Name Column -->
                            <ng-container matColumnDef="name">
                                <th mat-header-cell *matHeaderCellDef class="br">Premium </th>
                                <td mat-cell *matCellDef="let element" class="br">
                                    <div class="bar">
                                        {{element.insuranceDetails?.premiumAmount  ? '₹' :''}}<span appFormatNumber>
                                            {{element.insuranceDetails?.premiumAmount}}</span>
                                        {{!isLoading && element.insuranceDetails?.premiumAmount? '/year' : ''}}
                                    </div>
                                </td>
                            </ng-container>

                            <!-- Weight Column -->
                            <ng-container matColumnDef="weight">
                                <th mat-header-cell *matHeaderCellDef class="br"> Member name </th>
                                <td mat-cell *matCellDef="let element" class="br">
                                    <div class="bar">
                                        <span>{{element.displayHolderName}} </span>
                                    </div>
                                </td>
                            </ng-container>

                            <!-- Symbol Column -->
                            <ng-container matColumnDef="symbol">
                                <th mat-header-cell *matHeaderCellDef class="br"> Sum insured</th>
                                <td mat-cell *matCellDef="let element" class="br">
                                    <div class="bar"> {{element.displayHolderSumInsured  ? '₹' :''}}<span
                                            appFormatNumber>{{element.displayHolderSumInsured}}</span>
                                    </div>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="icons">
                                <th mat-header-cell *matHeaderCellDef> </th>
                                <td mat-cell *matCellDef="let element">
                                    <button mat-icon-button [matMenuTriggerFor]="menu" *ngIf="!isLoading">
                                        <mat-icon>more_vert</mat-icon>
                                    </button>
                                    <mat-menu #menu="matMenu">
                                        <button mat-menu-item
                                            (click)="openAddEditAdvice(showInsurance,element.insuranceDetails,'suggestNew')">Edit</button>
                                        <button mat-menu-item
                                            (click)="deleteModal('INSURANCE',element.insuranceDetails,'suggestNew')">Delete</button>
                                    </mat-menu>
                                </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>
                        </table>
                    </div>
                </div>

                <div *ngIf="dataSource1.length == 0 " class="d-flex flex-column align-items-center pt-12">
                    <!-- <img class="width400" src="assets/images/svg/clients-img.svg"> -->
                    <h4 class="text-center pt-12">
                        Suggest new policy from here.</h4>
                    <h4 class="text-center pt-12 text-custom">
                        You can suggest multiple policies too.</h4>
                    <button mat-stroked-button class="btn-primary addon v-middle"
                        (click)="openAddEditAdvice(showInsurance,null,'suggestNew')">SUGGEST NEW
                    </button>
                    <!-- (click)="openSuggestHealth(showInsurance,null)" -->
                </div>
                <p class="m-0 text-black text-left roboto pt-20 pb-20 c-p pl-12"
                    *ngIf="!isLoading && dataSource1.length > 0 "
                    (click)="openAddEditAdvice(showInsurance,null,'suggestNew')">+
                    Suggest more</p>
            </div>
            <!-- <div class="col-md-6 bl-1"
                *ngIf="adviceName!=null && adviceName!= 'Continue' && adviceName!= 'Discontinue' && adviceName!= 'Port policy'">
                <h5 class="text-center f-500 text-black bb-1 pt-8 pb-8">Step 2 - Revised policy</h5>
                <table mat-table *ngIf="dataSaved" [dataSource]="dataSource3" class="mt-20 skeletonAnimation"
                    id="table-low" appSkeletonLoading [appSkeletonLoading]="isLoading">
                    <ng-container matColumnDef="position">
                        <th mat-header-cell *matHeaderCellDef class="br w-35"> Policy name </th>
                        <td mat-cell *matCellDef="let element" class="br w-35">
                            <div class="bar">
                                {{element.insuranceDetails?.insurerName}}
                            </div>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef class="br">Premium </th>
                        <td mat-cell *matCellDef="let element" class="br">
                            <div class="bar">
                                {{element.insuranceDetails?.premiumAmount  ? '₹' :''}}<span appFormatNumber>
                                    {{element.insuranceDetails?.premiumAmount}}</span>
                                {{!isLoading && element.insuranceDetails?.premiumAmount? '/year' : ''}}
                            </div>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="weight">
                        <th mat-header-cell *matHeaderCellDef class="br"> Member name </th>
                        <td mat-cell *matCellDef="let element" class="br">
                            <div class="bar">
                                <span>{{element.displayHolderName}} </span>
                            </div>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="symbol">
                        <th mat-header-cell *matHeaderCellDef class="br"> Sum insured</th>
                        <td mat-cell *matCellDef="let element" class="br">
                            <div class="bar"> {{element.displayHolderSumInsured  ? '₹' :''}}<span
                                    appFormatNumber>{{element.displayHolderSumInsured}}</span>
                            </div>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="icons">
                        <th mat-header-cell *matHeaderCellDef> </th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-icon-button [matMenuTriggerFor]="menu" *ngIf="!isLoading">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item
                                    (click)="openSuggestHealth(showInsurance,element.insuranceDetails)">Edit</button>
                                <button mat-menu-item
                                    (click)="deleteModal('INSURANCE',element.insuranceDetails)">Delete</button>
                            </mat-menu>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
                </table>
                <div *ngIf="!dataSaved && dataSource.length > 0 " class="d-flex flex-column align-items-center">
                    <button *ngIf="adviceName!= 'Continue' && adviceName!= 'Discontinue'" mat-stroked-button
                        class="btn-primary addon v-middle" (click)="openSuggestHealth(showInsurance,editedData)">SUGGEST
                        NEW
                    </button>
                </div>
            </div> -->
        </div>
    </div>
</div>

<div class="bottom-fixed wrapper-12 w-100">
    <div class="row">
        <div class="col-md-6">
            <h5 class="mb-0 pt-8 text-white c-p" (click)="close(showInsurance,false)">Cancel
            </h5>
        </div>
        <div class="col-md-6 text-right">
            <button mat-button class="btn-bottom br-0 text-inherit" (click)="close(showInsurance,true)">Save
            </button>
            <!-- (click)="saveAdviceAndClose(showInsurance)" -->
        </div>
    </div>
</div>