<form [formGroup]="formIncome">
    <div class=" scrollHeight">

        <div class="row p-12">
            <div class="col-md-4 pr-0 text-right">
                <h5 class="m-0 pt-8">Earning member</h5>
            </div>
            <div class="col-md-4">
                <mat-form-field>
                    <mat-select formControlName="earning-member" class="form-control br-0  ">
                        <mat-option value="1">
                            Rahul Jain
                        </mat-option>
                        <mat-option value="2">
                            Sarvesh
                        </mat-option>
                    </mat-select>
                    <mat-error
                        *ngIf="formIncome.get('earning-member').touched && formIncome.get('earning-member').invalid">
                        This field is required
                    </mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="row p-12">
            <div class="col-md-4 pr-0 text-right">
                <h5 class="m-0 pt-8">Income source </h5>
            </div>
            <div class="col-md-4">
                <mat-form-field>
                    <!-- <input matInput type="text" formControlName="income-type" class="form-control br-0"> -->
                    <mat-select formControlName="income-type" class="form-control br-0">
                        <mat-option value="1">
                            Salaried
                        </mat-option>
                        <mat-option value="2">
                            Business
                        </mat-option>
                        <mat-option value="3">
                            Profession
                        </mat-option>
                        <mat-option value="4">
                            Rental
                        </mat-option>
                        <mat-option value="5">
                            Others
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="formIncome.get('income-type').touched && formIncome.get('income-type').invalid">
                        This field is required
                    </mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="row p-12">
            <div class="col-md-4 pr-0 text-right">
                <h5 class="m-0 pt-8">Monthly amount </h5>
                <p class="m-0 f-12 text-custom">Enter the net income you get in hand</p>
            </div>
            <div class="col-md-4">
                <mat-form-field>
                    <input matInput #monthlyAmtInput type="text" appInputValueValidation
                        [inputValidator]="validatorType.NUMBER_ONLY" [maxLength]="10" formControlName="monthly-amt"
                        class="form-control br-0">
                    <mat-error *ngIf="formIncome.get('monthly-amt').touched && formIncome.get('monthly-amt').invalid">
                        This field is required
                    </mat-error>
                    <mat-hint align="end" class="f-12">
                        {{ monthlyAmtInput.value.length }}/10
                    </mat-hint>
                </mat-form-field>
            </div>
        </div>

        <div class="row p-12">
            <div class="col-md-4 pr-0 text-right">
                <h5 class="m-0 pt-8">Continues till</h5>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6 pr-8  pl-0">
                        <div class="form-group mb-0">
                            <mat-form-field>
                                <mat-select formControlName="continues-till" #continuesTillSelectValue
                                    class="form-control br-0">
                                    <mat-option value="1">
                                        Retirement
                                    </mat-option>
                                    <mat-option value="2">
                                        Life Time
                                    </mat-option>
                                    <mat-option value="3">
                                        Number of Years
                                    </mat-option>
                                </mat-select>
                                <mat-error
                                    *ngIf="formIncome.get('continues-till').touched && formIncome.get('continues-till').invalid">
                                    This field is required
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-md-6 pl-8  pr-0" *ngIf="continuesTillSelectValue.value === '3'">
                        <div class="form-group mb-0">
                            <mat-form-field>
                                <input matInput type="text" formControlName="continues-till-date"
                                    class="form-control br-0">
                                <mat-error
                                    *ngIf="formIncome.get('continues-till-date').touched && formIncome.get('continues-till-date').invalid">
                                    This field is required
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row p-12">
            <div class="col-md-4 pr-0 text-right">
                <h5 class="m-0 pt-8"> Income growth rate </h5>
                <p class="m-0 f-12 text-custom">This is the long term growth rate rather than just the next year’s</p>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-9 p-0">
                        <div class="form-group mb-0">
                            <mat-button-toggle-group name="income-growth-rate" aria-label="Income Growth Rate"
                                formControlName="income-growth-rate">
                                <mat-button-toggle type="radio" value="4-6">4-6 %</mat-button-toggle>
                                <mat-button-toggle type="radio" value="6-8">6-8%</mat-button-toggle>
                                <mat-button-toggle type="radio" value="8-10">8-10%</mat-button-toggle>
                            </mat-button-toggle-group>
                            <mat-error
                                *ngIf="formIncome.get('income-growth-rate').touched && formIncome.get('income-growth-rate').invalid">
                                This field is required
                            </mat-error>
                            <!-- <input matInput type="text" formControlName="income-growth-rate"
                                    class="form-control br-0 height50 ">
                                <mat-error
                                    *ngIf="formIncome.get('income-growth-rate').touched && formIncome.get('income-growth-rate').invalid">
                                    This field is required
                                </mat-error> -->
                        </div>
                    </div>

                    <div class="col-md-3 pr-0">
                        <div class="form-group mb-0">
                            <mat-form-field>
                                <input matInput type="text" formControlName="income-growth-rate-input"
                                    class="form-control br-0 height50 ">
                                <mat-error
                                    *ngIf="formIncome.get('income-growth-rate-input').touched && formIncome.get('income-growth-rate-input').invalid">
                                    This field is required
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="row p-12">
            <div class="col-md-4 pr-0 text-right">
                <h5 class="m-0 pt-8">Income period</h5>
                <p class="m-0 f-12 text-custom"> Income start & end dates helps in planning cash flows better </p>

            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6 pr-8  pl-0">
                        <div class="form-group mb-0">
                            <mat-form-field>
                                <input matInput (focus)="picker2.open()" formControlName="income-period-start"
                                    class="form-control br-0" [matDatepicker]="picker2" readonly>
                                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                <mat-datepicker #picker2></mat-datepicker>
                                <mat-error
                                    *ngIf="formIncome.get('income-period-start').touched && formIncome.get('income-period-start').invalid">
                                    This field is required
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-md-6 pl-8 pr-0">
                        <div class="form-group mb-0">
                            <mat-form-field>
                                <input matInput (focus)="picker3.open()" formControlName="income-period-end"
                                    class="form-control br-0" [matDatepicker]="picker3" readonly>
                                <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                                <mat-datepicker #picker3></mat-datepicker>
                                <mat-error
                                    *ngIf="formIncome.get('income-period-end').touched && formIncome.get('income-period-end').invalid">
                                    This field is required
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row p-12">
            <div class="col-md-4 pr-0 text-right">
                <h5 class="m-0 pt-8"> Next appraisal in</h5>
                <p class="m-0 f-12 text-custom"> Enter next appriasal date. Approx year & month should do </p>
            </div>
            <div class="col-md-6">
                <mat-form-field>
                    <input matInput (focus)="picker.open()" formControlName="next-appraisal-date"
                        class="form-control br-0" [matDatepicker]="picker" readonly>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error
                        *ngIf="formIncome.get('next-appraisal-date').touched && formIncome.get('next-appraisal-date').invalid">
                        This field is required
                    </mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="row p-12">
            <div class="col-md-4 pr-0 text-right">
                <h5 class="m-0 pt-8">I’m expecting a bonus/inflow</h5>
                <p class="m-0 f-12 text-custom">Enter the month & approx amount </p>

            </div>
            <div class="col-md-6">
                <div class="row" [formGroup]="formItem"
                    *ngFor="let formItem of formBonusListArrayControls.controls; index as i">
                    <div class="col-md-6 pr-8 pl-0">
                        <div class="form-group mb-0">
                            <mat-form-field>
                                <input matInput appInputValueValidation (focus)="picker1.open()"
                                    formControlName="bonus-date" class="form-control br-0" [matDatepicker]="picker1"
                                    readonly>
                                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                <mat-datepicker #picker1></mat-datepicker>
                                <mat-error
                                    *ngIf="formItem.get('bonus-date').touched && formItem.get('bonus-date').invalid">
                                    This field is required
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-md-5 pl-8 pr-0">
                        <div class="form-group mb-0">
                            <mat-form-field>
                                <input matInput type="text" formControlName="bonus-amt" class="form-control br-0">
                                <mat-error
                                    *ngIf="formItem.get('bonus-amt').touched && formItem.get('bonus-amt').invalid">
                                    This field is required
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-md-1 p-0 d-flex align-items-center justify-content-center">
                        <span *ngIf="i === formBonusListArrayControls.controls.length - 1"
                            (click)="addNewBonusDataInFormArray()">
                            <i class="material-icons text-primitive c-p">add</i>
                        </span>
                        <span *ngIf="i < formBonusListArrayControls.controls.length - 1"
                            (click)="removeBonusDataFromFormArray(i)">
                            <i class="material-icons text-primitive c-p">remove</i>
                        </span>
                    </div>

                </div>
            </div>
        </div>

        <div class="row p-12">
            <div class="col-md-12 text-right">
                <button mat-button class="text-primitive" type="button" (click)="closeDialog()">CANCEL</button>
                <button mat-button class="text-primary" (click)="addIncome()">SAVE</button>
            </div>
        </div>
    </div>
</form>