.taskradio {
    .mat-radio-button {
        min-width: 130px;
        // border: 1px solid rgba(25, 25, 25, 0.32);
        border: 1px solid rgba(25, 25, 25, 0.32);
    }
}

// .bor-left {
//     border-left: transparent;
// }
.img-pos {
    position: absolute;
    top: 13px;
    right: 10px;
}

.img-pos-two {
    position: absolute;
    top: 8px;
    right: 10px;
}

::ng-deep .arrowRemoveBox .mat-select-arrow {
    visibility: hidden;
}

.mt-6 {
    margin-top: 6px;
}

.matFormPadding .mat-form-field-appearance-standard .mat-form-field-flex {
    padding-top: 0px;
}