<div class="row bb-1 popup-header-fix w-60">
    <div class="col-md-10 p-0">
        <h4 class="mb-0 l-22 wrapper-20">Personal profile</h4>
    </div>
    <div class="col-md-2 text-right">
        <i class="material-icons pt-20 c-p pr-16" (click)="Close(null)">
            clear
        </i>
    </div>
</div>

<div *ngIf="!dataloaded">
    <div [formGroup]="personalProfile" class="pt-90 pl-40 pr-40 " id="ui-add-personal-profile">
        <mat-tab-group animationDuration="0ms" (selectedTabChange)="resetPageVariables()"
            [(selectedIndex)]="selectedTab">
            <mat-tab label="Profile">
                <div class="row pt-40">
                    <div class="col-md-4 text-right pr-0">
                        <h5 class="mb-0 mt-20">Name</h5>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group mb-0">
                            <mat-form-field floatLabel="never" appearance="standard" [floatLabel]="'never'">
                                <input matInput formControlName="name" class="form-control"
                                    [placeholder]="formPlaceHolder.ENTER_FULL_NAME" maxLength="40" [maxLength]="40"
                                    [inputValidator]="validatorType.PERSON_NAME" appInputValueValidation>
                                <mat-hint align="end" class="">{{personalProfile.get('name').value.length}}/40
                                </mat-hint>
                                <mat-error class=" pt-4" *ngIf="personalProfile.get('name').errors?.required">This field
                                    is required
                                </mat-error>
                                <mat-error class=" pt-4" *ngIf="personalProfile.get('name').errors?.maxlength">Character
                                    limit exceeded</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="row pt-40">
                    <div class="col-md-4 text-right pr-0">
                        <h5 class="mb-0 mt-20">Email ID</h5>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group mb-0">
                            <mat-form-field floatLabel="never" appearance="standard" [floatLabel]="'never'">
                                <app-email-domain-auto-suggest formControlName="emailId"
                                    [placeholder]="formPlaceHolder.ENTER_EMAIL_ID"></app-email-domain-auto-suggest>
                                <mat-error class=" pt-4" *ngIf="personalProfile.get('emailId').errors?.required">This
                                    field is required</mat-error>
                                <mat-error class=" pt-4" *ngIf="personalProfile.get('emailId').errors?.pattern">Please
                                    enter valid email</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="row pt-40 ">
                    <div class="col-md-4 text-right pr-0">
                        <h5 class="mb-0 mt-20">Mobile No.</h5>
                    </div>
                    <div class="col-md-2 pr-0">
                        <div class="form-group">
                            <mat-form-field appearance="standard">
                                <mat-select formControlName="isdCodeId" class="form-control">
                                    <mat-option>
                                        <ngx-mat-select-search [formControl]="filterCtrl"
                                            placeholderLabel="ISD code...">
                                        </ngx-mat-select-search>
                                    </mat-option>
                                    <mat-option [value]="code.id" *ngFor="let code of filteredIsdCodes | async">
                                        {{code.code}}({{code.countryCode}})</mat-option>
                                </mat-select>
                                <mat-error>This field is required</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group mb-0">
                            <mat-form-field floatLabel="never" appearance="standard" [floatLabel]="'never'">
                                <input matInput formControlName="mobileNo" class="form-control"
                                    [placeholder]="formPlaceHolder.ENTER_MOBILE_NUMBER" maxLength="10" [maxLength]="10"
                                    [inputValidator]="validatorType.NUMBER_ONLY" appInputValueValidation>
                                <mat-hint align="end" class="">{{personalProfile.get('mobileNo').value.length}}/10
                                </mat-hint>
                                <mat-error class=" pt-4" *ngIf="personalProfile.get('mobileNo').errors?.required">This
                                    field is required</mat-error>
                                <mat-error class=" pt-4"
                                    *ngIf="personalProfile.get('mobileNo').errors?.maxlength || personalProfile.get('mobileNo').errors?.minlength || personalProfile.get('mobileNo').errors?.pattern">
                                    Please enter valid mobile number</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="row pt-40">
                    <div class="col-md-4 text-right pr-0">
                        <h5 class="m-0 pt-8">Username</h5>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group mb-0">
                            <mat-form-field>
                                <input matInput formControlName="userName" class="form-control" readonly>
                                <mat-hint align="end">Username cannot be edited</mat-hint>
                            </mat-form-field>
                        </div>
                    </div>
                </div>

            </mat-tab>
            <mat-tab label="Profile picture">
                <div class="row pt-40 pb-60">
                    <div class="col-md-5 pr-0 text-right" *ngIf="!cropImage">
                        <h5 class="m-0 f-14 pt-8">Your profile picture</h5>
                        <p class="f-12 text-primitive">
                            This picture is visible on the top right of web login
                        </p>
                    </div>
                    <div class="col-md-5 pr-0 text-right" *ngIf="cropImage">
                        <div *ngIf="!showCropper">
                            <h5 class="m-0 f-14 pt-8">Upload a photo to edit and upload.</h5>
                        </div>
                        <div class="image-cropper">
                            <app-image-cropper [imageURL]="imgURL" [imageChangedEvent]="imageUploadEvent"
                                [showCropper]="showCropper" (croppedImage)="showCroppedImage($event)" #imageCropper>
                            </app-image-cropper>
                            <!-- <div *ngIf="showCropper">
                                <button (click)="imageCropper.zoomIn()">ZoomIn</button>
                                <button (click)="imageCropper.zoomOut()">ZoomIn</button>
                            </div> -->

                            <div class="zoomClassPosition" *ngIf="showCropper">

                                <i (click)="imageCropper.zoomIn()" class="material-icons mr-12 c-p">
                                    zoom_in
                                </i>

                                <i (click)="imageCropper.zoomOut()" class="material-icons c-p">
                                    zoom_out
                                </i>
                            </div>
                        </div>
                        <div class="profile-img" [hidden]="!showCropper">
                            <img [src]="finalImage" alt="cropped Image">
                        </div>
                        <div class="row pt-24">
                        </div>
                    </div>
                    <div class="col-md-7" *ngIf="cropImage">
                        <button mat-stroked-button class="btn-primary" (click)="chooseImage.click()">CHOOSE
                            IMAGE</button>
                        <button mat-stroked-button class="bg-white text-inherit ml-12"
                            (click)="resetPageVariables()">CANCEL
                            EDIT</button>
                        <input type="file" #chooseImage (change)="uploadImageForCorping($event)" hidden>
                    </div>
                    <div class="col-md-7" *ngIf="!cropImage">
                        <div class="profile-img">
                            <img [src]="imgURL">
                        </div>
                        <div class="row pt-24">
                            <button mat-stroked-button class="btn-primary" (click)="cropImg(imgURL)">EDIT
                                IMAGE</button>
                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Password">
                <div class="row pt-28">
                    <div class="col-md-4 text-right pr-0">
                        <h5 class="m-0 roboto f-400 pt-20">Old password</h5>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group mb-0">
                            <mat-form-field floatLabel="never" appearance="standard">
                                <input matInput class="form-control" placeholder="Enter old password">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="row pt-48">
                    <div class="col-md-4 text-right pr-0">
                        <h5 class="m-0 roboto f-400 pt-20">New password</h5>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group mb-0">
                            <mat-form-field floatLabel="never" appearance="standard">
                                <input matInput class="form-control" placeholder="Enter new password">
                                <mat-icon matSuffix>visibility</mat-icon>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="row pt-48">
                    <div class="col-md-4 text-right pr-0">
                        <h5 class="m-0 roboto f-400 pt-20">Confirm password</h5>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group mb-0">
                            <mat-form-field floatLabel="never" appearance="standard">
                                <input matInput class="form-control" placeholder="Re-enter new password">
                                <mat-icon matSuffix>visibility</mat-icon>
                            </mat-form-field>
                        </div>
                        <ul class="pt-28 d-grid password-strength">
                            <li><span class="material-icons">
                                    clear
                                </span>Min 8 characters</li>
                            <li><span class="material-icons">
                                    clear
                                </span>One upper case</li>
                            <li><span class="material-icons">
                                    clear
                                </span>One lower case</li>
                            <li><span class="material-icons">
                                    clear
                                </span>One special character</li>
                        </ul>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
<div *ngIf="!dataloaded" class="loader-text">
    Loading data
</div>
<div class="bottom-fixed wrapper-12 w-60">
    <div class="row">
        <div class="col-md-4">
            <h5 class="mb-0 pt-8 text-white c-p" (click)="Close(null)">Cancel</h5>
        </div>
        <div class="col-md-8 right text-right">
            <app-progress-button (btnClick)="saveCurrentPage()" class="br-0 text-inherit  "
                [options]="barButtonOptions">
            </app-progress-button>
        </div>
    </div>
</div>