.posRelavativeClass {
    position: relative;
    height: 100%;
}

.posAbsulateClass {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.sendNowBtn {
    box-shadow: none;
    border-color: transparent;
    text-transform: uppercase;
}