<div class="popup-header-fix-60">
  <div class="row bb-1">
    <div class="col-md-8 p-0">
      <h4 class="mb-0 wrapper-20">{{popupHeaderText}}</h4>
    </div>
    <div class="col-md-4 text-right">
      <div class="wrapper-12">
        <i class="material-icons c-p pt-8 v-middle" (click)="close(false)"> clear</i>
      </div>
    </div>
  </div>
</div>

<div class="wrapper-24 pb-90 pt-0">
  <div class="row pt-70">
    <div class="col-md-9 pl-0">
      <div class="row pt-20">
        <div class="col-md-12 p-0">
          <h3 class="m-0 pt-4 f-16">Subject </h3>
        </div>
        <div class="col-md-12 p-0">
          <mat-form-field>
            <input type="text" matInput class="form-control br-0" [(ngModel)]="storeData.subject">
          </mat-form-field>
        </div>
      </div>
      <form [formGroup]="mailForm" class="mt-20">
        <app-froala [(model)]="storeData.body" modelChange="saveData($event)"></app-froala>
        <!--                      (click)="onSubmit()"-->
        <!-- <button type="submit" [disabled]="!mailForm.valid" mat-stroked-button class="mt-16 btn-primary br-0">Submit
                  </button> -->
      </form>
    </div>
    <div class="col-md-3 p-0" id="ui-tc-insert">
      <h5 class="m-0 pb-8 roboto pt-24">Insert placeholders</h5>
      <div class="b-a">
        <div class="row">
          <div class="col-md-12" (click)="openDialog('howToUse')">
            <p class="text-primary m-0 pt-8 pb-8 c-p roboto f-400">How to use?</p>
          </div>
        </div>
        <div class="placeholder-scroll">
          <div *ngFor="let name of storeData.placeholderTemplateList;">
            <div class="pl-16 pb-16">
              <div class="row b-a mb-16">
                <div class="col-md-12 p-0 borderlightPlaceholders">
                  <div class="bg-grey lter wrapper-12 pt-16">
                    <p class="m-0 text-black wb">{{name.name}}</p>
                  </div>
                  <div class="bg-white wrapper-12">
                    <p class="m-0 text-black wb" (click)="copyName(name.value)">{{name.value}}</p>
                  </div>
                </div>
              </div>
            </div>
            <!-- <div class="wrapper-16 pb-0">
                <div class="row b-a">
                  <div class="col-md-12 p-0">
                    <div class="bg-grey lter wrapper-12 pt-16">
                      <p class="m-0 text-black">Client name</p>
                    </div>
                    <div class="bg-white wrapper-12" cdkDrag>
                      <p class="m-0 text-black">client name</p>
                    </div>
                  </div>
                </div>
              </div> -->
            <!-- <div class="wrapper-16 pb-0">
                <div class="row b-a">
                  <div class="col-md-12 p-0">
                    <div class="bg-grey lter wrapper-12 pt-16">
                      <p class="m-0 text-black">Client address</p>
                    </div>
                    <div class="bg-white wrapper-12">
                      <p class="m-0 text-black">client address</p>
                    </div>
                  </div>
                </div>
              </div> -->
            <!-- <div class="wrapper-16 pt-0 pb-0">
                <h5 class="m-0 pt-20 pb-12 text-black">Services - Fee details</h5>
                <div class="row b-a">
                  <div class="col-md-12 p-0">

                    <div class="bg-grey lter wrapper-12 pt-16">
                      <p class="m-0 text-black">Investment management & financial planning</p>
                    </div>
                    <div class="bg-white wrapper-12">
                      <p class="m-0 text-black">IMA124-fee</p>
                    </div>
                  </div>
                </div>
              </div> -->
            <!-- <div class="wrapper-16 pb-28">
                <div class="row b-a">
                  <div class="col-md-12 p-0">
                    <div class="bg-grey lter wrapper-12 pt-16">
                      <p class="m-0 text-black">Retainer - AUM linked fee</p>
                    </div>
                    <div class="bg-white wrapper-12">
                      <p class="m-0 text-black">IMA125-fee</p>
                    </div>
                  </div>
                </div>
              </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bottom-fixed wrapper-12 pt-16">
  <div class="row">
    <div class="col-md-4">
      <h5 class="mb-0 pt-8 text-white c-p" (click)="close(false)">Cancel</h5>
    </div>
    <div class="col-md-8 right text-right">
      <app-progress-button (btnClick)="save()" [options]="barButtonOptions">
      </app-progress-button>
    </div>
  </div>
</div>