// img {
//     width: 100%;
//     height: 310px;
// }
.bottom-tops {
    bottom: -50%;
    position: relative;
}

.green {
    background: #02B875;
    padding: 4px 5px;
}

::ng-deep .blue {
    background: #008FFF;
    padding: 4px 10px;
}

.btn-success {
    background-color: #02B875;
}

#ui-document-settings {
    margin-top: 10px !important;
}

::ng-deep .mat-card-header .mat-card-subtitle:not(:first-child) {
    margin-top: -4px !important;
}

.height23 {
    height: 23px;
}

.emptyDocumentBox {
    height: 485px;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, .12);
}

.height400 {
    height: 400px;
    margin-bottom: 20px;
}

.skeletonAnimation .relClass {
    position: relative;
    .bar-new {
        background-color: #E7E7E7;
        width: 100%;
        &:after {
            position: absolute;
            transform: translateY(-50%);
            top: 50%;
            left: 0;
            content: "";
            display: block;
            width: 100%;
            height: 400px;
            background-image: linear-gradient(100deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0) 80%);
            background-size: 100px 400px;
            // background-position: -100px 0;
            background-repeat: no-repeat;
            animation: loading 1s infinite;
        }
    }
}

::ng-deep #ui-appcustomhtml p {
    padding: 0px;
    width: 100%;
}