// img {
//     width: 100%;
//     height: 310px;
// }
.bottom-tops {
  bottom: -50%;
  position: relative;
}

.green {
  background: #02B875;
  padding: 4px 5px;
}

::ng-deep .blue {
  background: #008FFF;

  padding: 4px 10px;
}

.btn-success {
  background-color: #02B875;
}

#ui-document-settings {
  margin-top: 20px !important;
}

::ng-deep .mat-card-header .mat-card-subtitle:not(:first-child) {
  margin-top: -4px !important;
}
