<div class="row">
    <div class="col-md-5 p-0">
        <h4 class="m-0 text-black roboto pt-8">Public provident fund (PPF)</h4>
    </div>
    <div class="col-md-7 p-0 right text-right" *ngIf="dataSource.data.length > 0">
        <img src="assets/images/svg/download-bordered.svg" class="c-p">
        <img src="assets/images/svg/up-down.svg" class="">
        <img src="assets/images/svg/three-dot-bordered.svg" class="c-p mr-12">

        <button mat-stroked-button class="btn-default addon mr-12 v-middle"><i
                class="material-icons">filter_list</i>FILTERS</button>
        <button mat-stroked-button class="btn-primary addon v-middle" (click)="openAddPPF(null)">ADD NEW</button>
    </div>
</div>
<div class="overflow-hidden mt-8 real-estate">
    <table *ngIf="dataSource.data.length > 0" mat-table [dataSource]="dataSource" id="table-low" appSkeletonLoading
        [appSkeletonLoading]="isLoading" class="skeletonAnimation">
        <ng-container matColumnDef="no">
            <th mat-header-cell *matHeaderCellDef class="br"> No </th>
            <td mat-cell *matCellDef="let element;index as i" class="br">
                <div class="bar"> {{isLoading ? '' : i + 1 }} </div>
            </td>
            <td *matFooterCellDef class="br  text-right" mat-footer-cell></td>
        </ng-container>
        <ng-container matColumnDef="owner">
            <th mat-header-cell *matHeaderCellDef class="br t-20"> Owner </th>
            <td mat-cell *matCellDef="let element" class="br t-20">
                <div class="bar"> {{element.ownerName}} </div>
            </td>
            <td *matFooterCellDef class="br t-20 text-right" mat-footer-cell></td>

        </ng-container>
        <ng-container matColumnDef="cvalue">
            <th mat-header-cell *matHeaderCellDef class="br t-10 textRight text-right"> Current value </th>
            <td mat-cell *matCellDef="let element" class="br t-10 amt text-right" appFormatNumber>
                <div class="bar"> {{element.currentValue}} </div>
            </td>
            <td *matFooterCellDef class="br text-right" mat-footer-cell></td>
        </ng-container>
        <ng-container matColumnDef="rate">
            <th mat-header-cell *matHeaderCellDef class="br text-right textRight"> Rate </th>
            <td mat-cell *matCellDef="let element" class="br amt text-right">
                <div class="bar"> {{element.rate}} </div>
            </td>
            <td *matFooterCellDef class="br text-right" mat-footer-cell></td>
        </ng-container>
        <ng-container matColumnDef="amt">
            <th mat-header-cell *matHeaderCellDef class="br textRight text-right" matTooltip="Total amount invested"
                aria-label="Button that displays a tooltip when focused or hovered over"> Total amt... </th>
            <td mat-cell *matCellDef="let element" class="br amt text-right">
                <div class="bar"> {{isLoading ? '' : element.amt || '-'}} </div>
            </td>
            <td *matFooterCellDef class="br text-right" mat-footer-cell></td>
        </ng-container>
        <ng-container matColumnDef="number">
            <th mat-header-cell *matHeaderCellDef class="br textRight text-right t-12"> Account number </th>
            <td mat-cell *matCellDef="let element" class="br amt text-right t-12">
                <div class="bar"> {{isLoading ? '' : element.linkedBankAccount || '-'}} </div>
            </td>
            <td *matFooterCellDef class="br text-right" mat-footer-cell></td>
        </ng-container>
        <ng-container matColumnDef="mdate">
            <th mat-header-cell *matHeaderCellDef class="br t-12 text-left"> Maturity date </th>
            <td mat-cell *matCellDef="let element" class="br t-12 text-left">
                <div class="bar">
                    {{element.maturityDate |date:'dd/MM/yyyy'}} </div>
            </td>
            <td *matFooterCellDef class="br text-right" mat-footer-cell></td>
        </ng-container>

        <ng-container matColumnDef="desc">
            <th mat-header-cell *matHeaderCellDef class="br t-10"> Description </th>
            <td mat-cell *matCellDef="let element" class="br t-10">
                <div class="bar"> {{isLoading ? '' : element.description || '-'}} </div>
            </td>
            <td *matFooterCellDef class="br text-right" mat-footer-cell></td>
        </ng-container>
        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef class="br"> Status </th>
            <td mat-cell *matCellDef="let element" class="br text-primary">
                <div class="bar"> {{element.statusId}} </div>
            </td>
            <td *matFooterCellDef class="br text-right" mat-footer-cell></td>
        </ng-container>
        <ng-container matColumnDef="icons">
            <th mat-header-cell *matHeaderCellDef class="t-2"> </th>
            <td mat-cell *matCellDef="let element" class="t-2">
                <div *ngIf="!isLoading">
                    <i class="material-icons c-p text-black" [matMenuTriggerFor]="menubank">
                        more_vert
                    </i>
                    <mat-menu #menubank="matMenu">
                        <button mat-menu-item (click)="openAddPPF(element)">Edit</button>
                        <button mat-menu-item (click)="openDetailPPF(element)">Detailed view</button>
                        <button mat-menu-item>Activity</button>
                        <button mat-menu-item (click)="deleteModal('SUBSCRIPTION',element)">Delete</button>
                    </mat-menu>
                </div>
            </td>
            <td *matFooterCellDef class="br text-right" mat-footer-cell></td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr mat-footer-row *matFooterRowDef="displayedColumns;sticky: true" [hidden]="isLoading"></tr>
    </table>
    <div *ngIf="dataSource.data.length == 0" class="d-flex flex-column align-items-center">
        <img class="width400" src="assets/images/svg/noDataFound.svg">
        <h4 class="pt-12">No Scheme Found</h4>
        <button mat-stroked-button class="btn-primary addon v-middle mt-20" (click)="openAddPPF(null)">
            ADD NEW</button>
    </div>
</div>