<div class="row pt-130">
    <div class="col-md-12 text-right">
        <button class="btn-primary addon" mat-stroked-button (click)="openUpperBulkFileOrdering('')">
            <mat-icon>add</mat-icon> Order Bulk files
        </button>
    </div>
</div>

<div class="row pt-20">
    <div class="col-md-4">
        <div class="example-chip-list">
            <mat-chip-list #chipList aria-label="Filtering Table">
                <mat-chip *ngFor="let filter of filterBy" [selectable]="selectable" [removable]="removable"
                    (removed)="remove(filter)">
                    {{filter.name}}
                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                </mat-chip>
            </mat-chip-list>
        </div>
        <!-- <button class="btn-primary addon" mat-stroked-button> Order bulk files </button> -->
    </div>
    <div class="col-md-8">
        <div class="row">
            <div class="col-lg-3">
                <div class="form-group mb-0">
                    <input class="form-control m-0" placeholder="Search by advisor" [matChipInputFor]="chipList"
                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                        (matChipInputTokenEnd)="maniputateEventObjForName($event)" #inputAdvisorNameRef>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group mb-0">
                    <mat-form-field>
                        <mat-select class="form-control br-0" placeholder="Ordered By" (selectionChange)="add($event)">
                            <mat-option>None</mat-option>
                            <mat-option [value]="rmUser" *ngFor="let rmUser of rmList">
                                {{ rmUser.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-lg-3">
                <mat-form-field>
                    <mat-select class="form-control br-0" (selectionChange)="add($event)">
                        <mat-option>None</mat-option>
                        <mat-option [value]="period" *ngFor="let period of periodList">
                            {{ period.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-lg-3">
                <mat-form-field>
                    <mat-select class="form-control br-0" (selectionChange)="add($event)">
                        <mat-option>
                            None
                        </mat-option>
                        <mat-option [value]="rta" *ngFor="let rta of rtaList">
                            {{ rta.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </div>
</div>

<div class="row pt-20">
    <div class="col-md-12">
        <table mat-table id="table-low" [dataSource]="dataSource" class="skeletonLoading" appSkeletonLoading
            [appSkeletonLoading]="isLoading">
            <ng-container matColumnDef="rta">
                <th class="br" mat-header-cell *matHeaderCellDef> RTA </th>
                <td class="br" mat-cell *matCellDef="let element">
                    <div class="bar">
                        {{element.rta}}
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="description">
                <th class="br" mat-header-cell *matHeaderCellDef> Description </th>
                <td class="br" mat-cell *matCellDef="let element">
                    <div class="bar">
                        {{element.description}}
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="orderedby">
                <th class="br" mat-header-cell *matHeaderCellDef> Ordered by </th>
                <td class="br" mat-cell *matCellDef="let element">
                    <div class="bar">
                        {{element.orderedby}}
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="startedOn">
                <th class="br" mat-header-cell *matHeaderCellDef> Started on </th>
                <td class="br" mat-cell *matCellDef="let element">
                    <div class="bar">
                        {{element.startedOn}}
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="totalfiles">
                <th class="br" mat-header-cell *matHeaderCellDef> Total files </th>
                <td class="br" mat-cell *matCellDef="let element" class="c-p"
                    (click)="openUpperFileOrdering('openUpperFileOrdering', element)">
                    <div class="bar">
                        {{element.totalfiles}}
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="queue">
                <th class="br" mat-header-cell *matHeaderCellDef> In queue </th>
                <td class="br" mat-cell *matCellDef="let element">
                    <div class="bar">
                        {{element.queue}}
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="ordering">
                <th class="br" mat-header-cell *matHeaderCellDef> Ordering </th>
                <td class="br" mat-cell *matCellDef="let element">
                    <div class="bar">
                        {{element.ordering}}
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="ordered">
                <th class="br" mat-header-cell *matHeaderCellDef> Ordered </th>
                <td class="br" mat-cell *matCellDef="let element">
                    <div class="bar">
                        {{element.ordered}}
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="failed">
                <th class="br" mat-header-cell *matHeaderCellDef> Failed </th>
                <td class="br" mat-cell *matCellDef="let element">
                    <div class="bar">
                        {{element.failed}}
                    </div>
                </td>
            </ng-container>


            <ng-container matColumnDef="uploaded">
                <th class="br" mat-header-cell *matHeaderCellDef> Uploaded </th>
                <td class="br" mat-cell *matCellDef="let element">
                    <div class="bar">
                        {{element.uploaded}}
                    </div>
                </td>
            </ng-container>


            <ng-container matColumnDef="refresh">
                <th class="br" mat-header-cell *matHeaderCellDef> Refresh </th>
                <td class="br" mat-cell *matCellDef="let element">
                    <div class="bar">
                        <button mat-button class="bg-grey mr-12 h-22 btn-xs">
                            <mat-icon>
                                refresh
                            </mat-icon>
                            Refresh
                        </button>
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="empty">
                <th class="br" mat-header-cell *matHeaderCellDef> </th>
                <td class="br" mat-cell *matCellDef="let element">
                    <div class="bar">
                        <mat-icon>
                            more_vert
                        </mat-icon>
                    </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>