.width300 {
    width: 300px;
}

 ::ng-deep .rightText .mat-sort-header-container {
    display: block !important;
}

::ng-deep .rightText .mat-sort-header-container .mat-sort-header-arrow {
    float: right;
}

::ng-deep .rightText .mat-sort-header-container .mat-sort-header-button {
    float: right;
}

// ------------- new changes
::ng-deep .rightTextHide .mat-sort-header-container {
    display: block !important;
    position: relative;
}

::ng-deep .rightTextHide .mat-sort-header-container .mat-sort-header-arrow {
    float: right;
    opacity: 0 !important;
    position: absolute;
    right: 2px;
    width: 100%;
    height: auto;
    min-width: 100%;
    color: transparent;
}

::ng-deep .rightTextHide .mat-sort-header-container .mat-sort-header-button {
    float: right;
    text-align: right;
}

.uploadInput {
    position: absolute;
    font-size: 50px;
    opacity: 0;
    right: 0;
    top: 0;
}