<div id="scenariosPlan">

    <div class="row">
        <div class="col-md-4">
            <div id="surplus"></div>
        </div>

        <div class="col-md-8">
            <div class=" bl-grey">
                <div class="d-flex scenariosHeadingTwo bb-grey justify-content-md-between align-items-center">
                    <p class="f-20 pb-20 pt-20 roboto m-0 pl-16"> Life cash flows</p>
                </div>
                <div class="row">
                    <div class="col-md-9 pl-0 br">
                        <div class="d-flex justify-content-md-between align-items-center">
                            <p class="f-20 pb-20 pt-20 roboto m-0 pl-16"> Incomes</p>

                        </div>

                        <div class="row">
                            <div class="col-md-12 cashflowTable pr-0" *ngIf="!showSurplusTable">
                                <table mat-table [dataSource]="dataSource" id="table-low" class=" ">

                                    <!--- Note that these columns can be defined in any order.
                                                      The actual rendered columns are set as a property on the row definition" -->

                                    <!-- Position Column -->
                                    <ng-container matColumnDef="year">
                                        <th class="br-grey f-14" mat-header-cell *matHeaderCellDef> Year </th>
                                        <td class="br-grey f-14" mat-cell *matCellDef="let element">
                                            {{element.year}}
                                        </td>
                                    </ng-container>

                                    <!-- Name Column -->
                                    <ng-container matColumnDef="age">
                                        <th class="br-grey text-right f-14" mat-header-cell *matHeaderCellDef> Group head age
                                        </th>
                                        <td class="br-grey text-right f-14" mat-cell *matCellDef="let element">
                                            {{element.age}} </td>
                                    </ng-container>

                                    <!-- Weight Column -->
                                    <ng-container matColumnDef="age2">
                                        <th class="br-grey text-right f-14" mat-header-cell *matHeaderCellDef> Spouse age
                                        </th>
                                        <td class="br-grey text-right f-14" mat-cell *matCellDef="let element">
                                            {{element.age2}} </td>
                                    </ng-container>

                                    <!-- Symbol Column -->
                                    <ng-container matColumnDef="salary">
                                        <th class="br-grey text-right f-14" mat-header-cell *matHeaderCellDef> Total incomes
                                        </th>
                                        <td class="br-grey text-right f-14" mat-cell *matCellDef="let element">
                                            {{element.salary}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="salary2">
                                        <th class="br-grey text-right f-14" mat-header-cell *matHeaderCellDef> Monthly view
                                        </th>
                                        <td class="br-grey text-right f-14" mat-cell *matCellDef="let element">
                                            {{element.salary2}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="total">
                                        <th class="br-grey text-right f-14" mat-header-cell *matHeaderCellDef> Total
                                        </th>
                                        <td class="br-grey text-right f-14 f-bold" mat-cell *matCellDef="let element">
                                            {{element.total}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="view">
                                        <th mat-header-cell *matHeaderCellDef> </th>
                                        <td class="c-p text-primary text-center f-14" mat-cell *matCellDef="let element"> {{element.view}} </td>
                                    </ng-container>


                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <button mat-stroked-button class="height145"
                            (click)="filterCashFlowTableUsing('income')">Income</button>
                        <button mat-stroked-button class="height145"
                            (click)="filterCashFlowTableUsing('expense')">Expenses</button>
                        <button mat-stroked-button class="height145"
                            (click)="filterCashFlowTableUsing('insurance')">Insurance</button>
                        <button mat-stroked-button class="height145"
                            (click)="filterCashFlowTableUsing('liabilities')">Liabilities</button>
                        <button mat-stroked-button class="height145"
                            (click)="filterCashFlowTableUsing('assets')">Assets</button>
                        <button mat-stroked-button class="height145"
                            (click)="filterCashFlowTableUsing('commited-outflows')">Committed outflows</button>
                        <button mat-stroked-button class="height145"
                            (click)="filterCashFlowTableUsing('goals')">Goals</button>
                        <button mat-stroked-button class="height145"
                            (click)="filterCashFlowTableUsing('surplus')">Surplus</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>