.max100 {
  max-width: 100%;
}

.cashflowTable {
  #table-low {
    tr.mat-header-row {
      height: 30px;

      th {
        padding: 10px 8px !important;
      }
    }
  }
}

.widht145 {
  width: 145px;
}

#cashFlow {
  height: 400px;
}
