.max100 {
    max-width: 100%;
}

.cashflowTable {
    #table-low {
        tr.mat-header-row {
            height: 35px !important;
        }
        tr.mat-row {
            height: 30px !important;
            th {
                padding: 10px 8px !important;
                font-weight: 400 !important;
            }
            td {
                padding: 8px !important;
            }
        }
    }
}

#cashFlow {
    height: 400px;
}

.btn-cash-flow {
    width: 145px;
    text-align: left;
    margin: 20px auto 0px;
    border-radius: 5px;
    color: #008FFF;
    border: 1px solid #008FFF;
    display: block;
}