<div class="row popup-header-fix-100">
    <div class="col-md-2 border-right-1 p-0">
        <img class="pt-4 w-100" src="https://res.cloudinary.com/futurewise/image/upload/v1566029063/icons_fakfxf.png">
    </div>
    <div class="col-md-8 p-0 d-flex justify-content-center align-items-center ">

        <p class="f-16 mb-0">
            Insurance planning - Add new</p>
    </div>
    <div class="col-md-2 text-right">
        <i class="material-icons pt-16 c-p pr-16">
            clear
        </i>
    </div>
</div>
<div class="row pt-130">
    <div class="col-md-12 text-center">
        <h5 class="">Select one from the below options and proceed to <br>creating a comprehensive insurance plan</h5>
    </div>
</div>
<div class="row pt-60">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-3 c-p">
                <img src="/assets/images/svg/life-insurance.svg" class="h100">
                <h5 class="m-0 text-black pt-20">Life insurance</h5>
            </div>
            <div class="col-md-3 c-p">
                <img src="/assets/images/svg/helth-insurance.svg" class="h100">
                <h5 class="m-0 text-black pt-20">Health insurance</h5>
            </div>
            <div class="col-md-3 c-p">
                <img src="/assets/images/svg/Criticalillness.svg" class="h100">
                <h5 class="m-0 text-black pt-20">Critical illness</h5>
            </div>
            <div class="col-md-3 c-p">
                <img src="/assets/images/svg/Cancercare.svg" class="h100">
                <h5 class="m-0 text-black pt-20">Cancer care</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 p-0">
                <div class="row pt-60">
                    <div class="col-md-4 pl-0 c-p">
                        <img src="/assets/images/svg/Personalaccident.svg" class="h100">
                        <h5 class="m-0 text-black pt-20">Personal accident</h5>
                    </div>
                    <div class="col-md-4 c-p">
                        <img src="/assets/images/svg/Householders.svg" class="h100">
                        <h5 class="m-0 text-black pt-20">Householders</h5>
                    </div>
                    <div class="col-md-4 c-p">
                        <img src="/assets/images/svg/Fireinsurance.svg" class="h100">
                        <h5 class="m-0 text-black pt-20">Fire insurance</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>