.headerEditClass {
    border-bottom: 1px solid #83959D;
    padding-bottom: 12px;
    margin-bottom: 12px;
}

.editable_textBox {
    .form-control {
        width: 100px;
        height: 36px;
    }
}

::ng-deep .editable_textBox .mat-form-field-appearance-standard .mat-form-field-flex {
    padding-top: 0px !important;
}