<div class="scheduleBox" *ngIf="currentMonthEvents.length > 0 && !dashEvents">
  <div class="row b-b pb-10 pt-10" *ngFor="let dayEvents of currentMonthEvents">
    <div class="col-md-2">
      <div class="d-flex align-items-center">
        <div class="numberDate" [class.activeNumber]="formateDate(dayEvents.date) == formateDate(current_day)">{{dayEvents.date | date :'dd'}}</div>
        <div [ngClass]="formateDate(dayEvents.date) == formateDate(current_day)?'text-primary':'text-primitive'" class="f-12 ml-8">{{dayEvents.date | date :'MMM'}}, {{dayEvents.date | date :'EEE'}}</div>
      </div>
    </div>
    <div class="col-md-10">
      
      <div class="eventList" *ngFor="let event of dayEvents.events" (click)="editEvent(event)">
        <div class="eventListIcon">
          <span> </span>
        </div>
        <div class="eventListTime">
          {{event.startTime}} – {{event.endTime?event.endTime:event.startTime}}
        </div>
        <div class="eventListText">
          {{event.summary}}
        </div>
      </div>

      <!-- <div class="eventList">
        <div class="eventListIcon">
          <span> </span>
        </div>
        <div class="eventListTime">
          6:30PM – 7.00PM
        </div>
        <div class="eventListText">
          Subscriptions evening stand up
        </div>
      </div>

      <div class="eventList">
        <div class="eventListIcon">
          <span> </span>
        </div>
        <div class="eventListTime">
          6:30PM – 7.00PM
        </div>
        <div class="eventListText">
          Subscriptions evening stand up
        </div>
      </div> -->
    </div>

  </div>

  <!-- <div class="row b-b pb-10 pt-10">
    <div class="col-md-2">
      <div class="d-flex align-items-center">
        <div class="numberDate">2</div>
        <div class="f-12 ml-8">JUL, WED</div>
      </div>
    </div>
    <div class="col-md-10">

      <div class="eventList">
        <div class="eventListIcon">
          <span> </span>
        </div>
        <div class="eventListTime">
          6:30PM – 7.00PM
        </div>
        <div class="eventListText">
          Subscriptions evening stand up
        </div>
      </div>

      <div class="eventList">
        <div class="eventListIcon">
          <span> </span>
        </div>
        <div class="eventListTime">
          6:30PM – 7.00PM
        </div>
        <div class="eventListText">
          Subscriptions evening stand up
        </div>
      </div>

      <div class="eventList">
        <div class="eventListIcon">
          <span> </span>
        </div>
        <div class="eventListTime">
          6:30PM – 7.00PM
        </div>
        <div class="eventListText">
          Subscriptions evening stand up
        </div>
      </div>
    </div>

  </div> -->
</div>
<div class="scheduleBox dashBox" *ngIf="dashEvents">
  <div class="row bb-1 mt-8  mb-8">
    <div class="col-md-8 p-0 pt-8 pl-28 pr-0 ">
      <h3>{{viewDate|date:'MMMM yyyy'}}</h3>
    </div>
    <div class="col-md-2 p-0 pt-8 pl-28 pr-0">
      <img src="/assets/images/svg/arrowright-black.svg" [hidden]=" formateYear(viewDate) <= formateYear(current_day) && formateMonth(viewDate) <= formateMonth(current_day)" (click)="lastMonth()" class="mr-24 c-p">
     </div>
     <div class="col-md-2 p-0 pt-8 pl-28 pr-0">
      <img src="/assets/images/svg/arrowleft-black.svg" (click)="nextMonth()" class="c-p">
     </div>
  </div>
  <div class="row b-b pb-10 pt-10" *ngFor="let dayEvents of currentMonthEvents" [hidden]="formateDate(dayEvents.date) < formateDate(current_day) && dateTimeEvent(null,null,dayEvents.date) < dateTimeEvent(null,null,current_day)">
    <div class="col-md-12">
      <div class="d-flex align-items-center">
        <div class="numberDate" [class.activeNumber]="formateDate(dayEvents.date) == formateDate(current_day)">{{dayEvents.date | date :'dd'}}</div>
        <div [ngClass]="formateDate(dayEvents.date) == formateDate(current_day)?'text-primary':'text-primitive'" class="f-12 ml-8">{{dayEvents.date | date :'MMM'}}, {{dayEvents.date | date :'EEE'}}</div>
      </div>
    </div>
    <div class="col-md-12">
      
      <div class="eventList2" *ngFor="let event of dayEvents.events" (click)="editEvent(event)">
        <div class="eventListIcon">
          <span> </span>
        </div>
        <div class="eventListTime">
          <div >{{event.summary}}</div>
          <div class="f-12">{{event.startTime}} – {{event.endTime?event.endTime:event.startTime}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="currentMonthEvents.length <= 0 && !isLoading" class="mt-20 text-center">
    <h2>Schedule not found {{isLoading}}</h2>
</div>
<div *ngIf="isLoading">
  <mat-spinner [diameter]="30" style="margin: 0px auto; margin-top: 100px;"></mat-spinner>
</div>