<div class="popup-header-fix-35">
    <div class="row bb-1">
        <div class="col-md-10 p-0">
            <h4 class="mb-0 wrapper-20">EXPENSE ({{expense.value}})- DETAILED VIEW</h4>
        </div>
        <div class="col-md-2 text-left">
            <div class="wrapper-12">
                <i class="material-icons c-p pt-8 v-middle" (click)="close()"> clear</i>
            </div>
        </div>
    </div>
</div>
<div class="pl-20 pr-20 mt-44 pb-48">
    <div class="row pt-40">
        <div class="col-md-12 p-0">
            <div class="insurance-ui bt">
                <div class="row bb p-8 b-l br">
                    <div class="col-md-8 text-left f-14 roboto p-0">
                        Family member
                    </div>
                    <div class="col-md-4 text-right f-14 roboto p-0">
                        {{expense.ownerName}}
                    </div>
                </div>
                <div class="row bb p-8 b-l br">
                    <div class="col-md-8 text-left f-14 roboto p-0">
                        Date
                    </div>
                    <div class="col-md-4 text-right f-14 roboto p-0">
                       {{expense.expenseDoneOn | date:'dd/MM/yyyy' }}
                    </div>
                </div>
                <div class="row bb p-8 b-l br" >
                    <div class="col-md-8 text-left f-14 roboto p-0">
                        Time
                    </div>
                    <div class="col-md-4 text-right f-14 roboto p-0">
                        {{expense.timeInMilliSec}}
                    </div>
                </div>

                <div class="row bb p-8 b-l br" >
                    <div class="col-md-8 text-left f-14 roboto p-0">
                        Category
                    </div>
                    <div class="col-md-4 text-right f-14 roboto p-0">
                       {{expense.expenseType}}
                    </div>
                </div>
                <div class="row bb p-8 b-l br" >
                    <div class="col-md-8 text-left f-14 roboto p-0">
                        Enter amount
                    </div>
                    <div class="col-md-4 text-right f-14 roboto p-0">
                        {{expense.amount}}
                    </div>
                </div>
                <div class="row bb p-8 b-l br" >
                    <div class="col-md-8 text-left f-14 roboto p-0">
                        Frequency
                    </div>
                    <div class="col-md-4 text-right f-14 roboto p-0">
                        {{expense.repeatFrequency}}
                    </div>
                </div>
                <div class="row bb p-8 b-l br" >
                    <div class="col-md-8 text-left f-14 roboto p-0">
                        Start from
                    </div>
                    <div class="col-md-4 text-right f-14 roboto p-0">
                        {{expense.startsFrom | date:'dd/MM/yyyy'}}
                    </div>
                </div>
                <div class="row bb p-8 b-l br" >
                    <div class="col-md-8 text-left f-14 roboto p-0">
                        Continues till
                    </div>
                    <div class="col-md-4 text-right f-14 roboto p-0">
                        {{(expense.continueTill == 1) ? 'Retirement' : (expense.continueTill == 2) ? 'Life time' : (expense.continueTill == 3) ? 'No.of yrs' : (expense.continueTill == 4) ? 'No.of times' : '-'}}
                    </div>
                </div>
                <div class="row bb p-8 b-l br" *ngIf="expense.numberOfYearOrNumberOfTime">
                    <div class="col-md-8 text-left f-14 roboto p-0">
                        (expense.continueTill == 3) ? 'No.of years' : (expense.continueTill == 4) ? 'No.of times'  :''
                    </div>
                    <div class="col-md-4 text-right f-14 roboto p-0">
                        {{expense.numberOfYearOrNumberOfTime}}
                    </div>
                </div>
                <div class="row bb p-8 b-l br" >
                    <div class="col-md-8 text-left f-14 roboto p-0">
                        Payment mode
                    </div>
                    <div class="col-md-4 text-right f-14 roboto p-0">
                        {{(expense.paymentModeId==1) ? 'Credit card' : (expense.paymentModeId==2) ? 'Debit card' : '-'}}
                    </div>
                </div>
              
            
             
             
                <div class="row bb p-8 b-l br">
                    <div class="col-md-8 text-left f-14 roboto p-0">
                        Description
                    </div>
                    <div class="col-md-4 text-right f-14 roboto p-0">
                        {{(expense.description)?expense.description:'-'}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
