<div class="container-fluid p-0">

    <div class="row mobileLoginUi h-100vh">
        <div class="col-md-6 mobileNone imgBoxlogin p-0 bg-grey lter">
            <img src="assets/images/svg/forgot-password-img.svg">
        </div>
        <div class="col-md-6 p-0 bg-white forgotMobileUi  flexLogin">
            <div class="row ds-none">
                <div class="col-md-12">
                    <i [routerLink]="[ '/login']" class="material-icons f-20 mt-20">
                        arrow_back
                    </i>
                </div>
            </div>
            <app-signup-progress-bar [signUpBarList]="signUpBarList" *ngIf="verifyData.showSignUpBar" class="w-80">
            </app-signup-progress-bar>
            <div *ngIf="!isVerify" class="loginBox">
                <p class="f-16 mobileNone mb-12">
                    <img class="advisorLogo " src="https://res.cloudinary.com/futurewise/image/upload/v1568097552/icons_fnvpa7.png">
                </p>
                <h1 class="mb-16 mobileNone f-600">Forgot password?</h1>
                <p class="mb-24 mobileNone f-16"> Changing password is quick & secure. Just verify your username & we will help you reset the password.</p>

                <div class="row ds-none">
                    <div class="col-md-12 mt-70 text-center">
                        <h4 class="f-18 mb-20">Forgot Password?</h4>
                        <p class="f-14 contentText">Please enter the registered email <br> address to reset your password.
                        </p>
                    </div>
                </div>

                <div class="mobileUserBox mt-44 ">
                    <div class="form_container_new_wrapper">
                        <div class="row">
                            <div class="col-md-12 form-group p-0">
                                <h5 class="pt-12 mobileNone mb-4">User Name</h5>
                                <mat-form-field appearance="standard" floatLabel="never">
                                    <input [formControl]="userName" autocomplete="off" autocomplete="off" (keyup)="verifyUsernameOnEnter($event)" class="form-control br-0" matInput placeholder="Enter username" tabindex="1">
                                    <mat-error align="end" *ngIf="userName.errors?.incorrect">Username invalid
                                    </mat-error>
                                    <mat-error align="end" *ngIf="userName.required" class="mobilerightText">Username required
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 mobilerightText p-0 ">
                                <!-- <button (click)="verifyUsername()" class=" bg-primary text-white br-4 verifyBtn " mat-button>
                  VERIFY
                </button> -->
                                <app-progress-button (btnClick)="verifyUsername()" class="br-0 text-inherit mr-12" [options]="barButtonOptions">
                                    <!--                  [logEvent]="passEvent"-->
                                </app-progress-button>
                            </div>
                        </div>
                        <h5 [routerLink]="[ '/login']" class="mt-80 mobileNone text-primary c-p f-600">Go back to Login page
                        </h5>
                    </div>
                </div>
            </div>


            <!-- -----------  verfication successful page   -------------- -->



            <div *ngIf="isVerify" class="loginBox">
                <p class="f-16 mb-12">
                    <img class="advisorLogo" src="https://res.cloudinary.com/futurewise/image/upload/v1568097552/icons_fnvpa7.png">
                </p>
                <h1 *ngIf="verifyFlag=='Email'" class="mb-16 f-600"> Email Verification </h1>
                <h1 *ngIf="verifyFlag=='Mobile'" class="mb-16 f-600"> Mobile Verification: </h1>
                <p *ngIf="verifyFlag=='Email'" class="mb-24 f-14 lightRead"> 4 digit OTP has been sent to your email
                    <span *ngIf="verifyData.showMaskedMsg==undefined"> {{verifyData.email}}</span>
                </p>
                <p *ngIf="verifyFlag=='Mobile'" class="mb-24 f-14 lightRead">
                    4 digit OTP has been sent to your mobile no
                    <span *ngIf="verifyData.showMaskedMsg==undefined">
                        {{verifyData.mobileNo}}</span>
                </p>
                <div class="form_container_new_wrapper">
                    <div class="row">
                        <div class="col-md-12 p-0">
                            <h5 class="pt-12">Verify OTP</h5>
                            <div class="form-group d-flex">
                                <app-otp-verify [otpData]="otpData" (otpDataEvent)="getOtpData($event)">
                                </app-otp-verify>
                            </div>
                            <h5 class="mb-24 posRelative width210">Didn’t receive? <span (click)="verify(verifyFlag,true)" [ngClass]="{'disbleResend': showTimeRemaing>0,'lightRead':showTimeRemaing==0}" class="c-p">Resend OTP</span>
                                <span *ngIf="showTimeRemaing>0"> 0.<span *ngIf="showTimeRemaing<10"> 0
                                    </span> {{showTimeRemaing}}
                                </span>
                                <span *ngIf="showTimeRemaing>0" class="hourglass">
                                    <span class="two"> </span>
                                </span>
                            </h5>
                            <!--       <h5 *ngIf="verifyFlag=='Mobile'" class="mb-24">Didn’t receive? <span class="lightRead c-p"
                                                                                          (click)="verify('Mobile')"> Resend
                                       </span></h5>-->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 p-0">
                            <button (click)="verifyWithOtpResponse(verifyFlag)" [disabled]="otpData.length!=4" class=" bg-primary text-white br-4 verifyBtn " mat-button>
                                VERIFY
                            </button>
                        </div>
                    </div>
                    <h5 [routerLink]="[ '/login']" class="mt-80 text-primary c-p f-600">Go back to Login page</h5>
                </div>
            </div>




            <p class="f-12 mobileNone l-18 ml-24 mb-0 text-primitive">Before logging in, please ensure that the URL on the address bar starts with “https” or has a padlock icon. The communication of your private information from any address beginning with "https" is encrypted and secured using SSL.</p>
        </div>
    </div>
</div>