                .loginBox {
                  width: 60%;
                  margin-top: 45px;
                  height: 515px;
                }

                .loginBoxverifyOtp {
                  width: 60%;
                  margin-top: 45px;
                }

                .advisorLogo {
                  width: 60px;
                }

                .form_container_new_wrapper {
                  width: 80%;

                  .form-group {
                    margin-bottom: 22px !important;
                  }
                }

                .namebtn {
                  button.mainloginBtn {
                    width: 100% !important;
                  }
                }

                .imgBoxlogin {
                  // height: 100vh;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                }

                .flexLogin {
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  justify-content: center;
                }

                ::ng-deep .mat-form-field-appearance-standard .mat-form-field-flex {
                  padding-top: 0px !important;
                }

                .eyesPassword {
                  position: absolute;
                  top: 8px;
                  right: 8px;
                }

                .otpBox {
                  background: #FF7272;
                  width: 176px;
                  height: 40px;
                  border-radius: 4px;
                  color: #fff;
                  display: flex;
                  align-items: center;
                  justify-content: space-around;
                  font-weight: 500;
                  margin-bottom: 87px;
                }

                .lightRead {
                  color: #FF7272;
                }

                .verifyDiv {
                  width: 35px;
                  text-align: center;
                  margin-right: 10px;
                }

                .iconPosition {
                  position: absolute;
                  top: 8px;
                  left: 8px;
                }

                // --------------------forgot-password ----------------------
                .verifyBtn {
                  width: 120px;
                  height: 40px;
                  font-size: 16px;
                }

                .imgLogin {
                  display: none;
                }

                .ds-none {
                  display: none;
                }

                .progressbar {
                  margin: 0;
                  padding: 0;
                  counter-reset: step;
                }

                .progressbar li {
                  list-style-type: none;
                  width: 25%;
                  float: left;
                  font-size: 12px;
                  position: relative;
                  text-align: center;
                  text-transform: uppercase;
                  color: #7d7d7d;
                }

                .progressbar li:before {
                  width: 30px;
                  height: 30px;
                  content: counter(step);
                  counter-increment: step;
                  line-height: 27px;
                  border: 2px solid #7d7d7d;
                  display: block;
                  text-align: center;
                  margin: 0 auto 10px auto;
                  border-radius: 50%;
                  background-color: white;
                }

                .progressbar li:after {
                  width: 80%;
                  height: 2px;
                  content: '';
                  position: absolute;
                  background-color: #7d7d7d;
                  top: 15px;
                  left: -40%;
                  z-index: 0;
                }

                .progressbar li:first-child:after {
                  content: none;
                }

                .progressbar li.active {
                  color: green;
                }

                .progressbar li.active:before {
                  border-color: #55b776;
                }

                .progressbar li.active+li:after {
                  background-color: #55b776;
                }

                @keyframes texts {
                  0% {
                    opacity: 1;
                  }

                  50% {
                    opacity: 0.5;
                  }

                  100% {
                    opacity: 1;
                  }
                }

                @keyframes hglass {
                  0% {
                    box-shadow: 0px 0px 0px #574D35 inset;
                  }

                  25% {
                    box-shadow: 0px 0px 0px #574D35 inset;
                  }

                  50% {
                    box-shadow: 0px -31px 0px #574D35 inset;
                  }

                  51% {
                    box-shadow: 0px -31px 0px #574D35 inset;
                  }

                  75% {
                    box-shadow: 0px -31px 0px #574D35 inset;
                  }

                  100% {
                    box-shadow: 0px 0px 0px #574D35 inset;
                  }
                }

                @keyframes hglasstop {
                  0% {
                    transform: scale(0.5) rotate(0deg);
                    box-shadow: 0px 0px 0px #727142 inset;
                  }

                  25% {
                    transform: scale(0.5) rotate(180deg);
                    box-shadow: 0px 0px 0px #727142 inset;
                  }

                  50% {
                    transform: scale(0.5) rotate(180deg);
                    box-shadow: 0px 31px 0px #727142 inset;
                  }

                  51% {
                    box-shadow: 0px 31px 0px #727142 inset;
                  }

                  75% {
                    transform: scale(0.5) rotate(360deg);
                    box-shadow: 0px 31px 0px #727142 inset;
                  }

                  100% {
                    box-shadow: 0px 0px 0px #727142 inset;
                  }
                }

                .posRelative {
                  position: relative;
                  display: inline-block;
                  width: auto;
                }

                .hourglass {
                  transform: scale(0.5);
                  -webkit-transform-origin-y: 30px;
                  display: block;
                  width: 40px;
                  height: 30px;
                  //background: #574D35;
                  background: #574D35;
                  border-radius: 0px 0px 50px 50px;
                  margin: 40px auto 30px;
                  position: relative;
                  animation: hglasstop 8s infinite;
                  position: absolute;
                  right: -35px;
                  top: -60px;

                  .two {
                    content: '';
                    display: block;
                    width: 40px;
                    height: 30px;
                    background: #727142;
                    border-radius: 50px 50px 0px 0px;
                    position: absolute;
                    top: 30px;
                    animation: hglass 8s infinite;
                  }
                }

                @media screen and (max-width: 767px) {
                  .mobilerightText {
                    text-align: right;
                  }

                  .mobileNone {
                    display: none;
                  }

                  .ds-none {
                    display: block;
                  }

                  .loginBox {
                    width: 100%
                  }

                  .forgotMobileUi {
                    background: #F2F2F2 !important;
                    height: 100vh;
                    display: block;

                    .contentText {
                      color: #878787;
                    }

                    .mobileUserBox {
                      width: 83%;
                      margin: 0px auto;

                      .form_container_new_wrapper {
                        width: 100%;
                      }

                      .form-control {
                        background: #FFFFFF;
                        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14);
                        border-radius: 30px !important;
                        padding-left: 25px !important;
                        border: transparent !important;
                      }

                      .bg-primary {
                        font-size: 16px;
                        background: #939393 !important;
                        border-radius: 40px !important;
                        width: 125px;
                        height: 50px;
                        color: #ffffff;
                      }
                    }
                  }
                }

                .disbleResend {
                  pointer-events: none;
                  color: lightgray;
                }

                .width210 {
                  width: 210px;
                }

                $bg:#fff;
                $fillloader: #008FFF;

                .hourglass1 {
                  display: block;
                  // background: $bg;
                  // margin: 3em auto;
                  width: 1.6em;
                  height: 2.2em;
                  animation: hourglass1 2s linear infinite;
                  position: absolute;
                  margin-top: -8px;
                  right: -46px;
                  top: 0;
                  z-index: 99;


                  .outer {
                    fill: $fillloader;
                  }

                  .middle {
                    fill: $bg;
                  }
                }



                @keyframes hourglass1 {
                  0% {
                    transform: rotate(0deg);
                    box-shadow:
                      inset $fillloader 0 -0em 0 0,
                      inset $bg 0 -2em 0 0,
                      inset $fillloader 0 -4em 0 0;
                  }

                  80% {
                    transform: rotate(0deg);
                    box-shadow:
                      inset $fillloader 0 -2em 0 0,
                      inset $bg 0 -2em 0 0,
                      inset $fillloader 0 -2em 0 0;
                  }

                  100% {
                    transform: rotate(180deg);
                    box-shadow:
                      inset $fillloader 0 -2em 0 0,
                      inset $bg 0 -2em 0 0,
                      inset $fillloader 0 -2em 0 0;
                  }
                }
