<div class="dialogclose">
    <div class="row popup-header-fix-100">
        <div class="col-md-2 border-right-1 p-0">
            <img class="pt-8" src="https://res.cloudinary.com/futurewise/image/upload/v1566029063/icons_fakfxf.png">
        </div>
        <div class="col-md-8 p-0">
            <p class="f-16 mb-0 pt-24 text-center">Advice consent</p>
        </div>
        <div class="col-md-2 text-right">
            <i (click)="dialogClose()" class="material-icons pt-16 c-p pr-16">
                clear
            </i>
        </div>
    </div>
</div>
<div class="wrapper-20 bg-grey lter heading-fix b-a">
    <h3 class="m-0 text-center head-common">Rahul Jain</h3>
</div>
<div class="overflow-hidden mt-8 real-estate">
    <table mat-table [dataSource]="dataSource" id="table-low" appSkeletonLoading [appSkeletonLoading]="isLoading"
        class="skeletonAnimation">
        <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef class="br"> No </th>
            <td mat-cell *matCellDef="let element;index as i" class="br">
                <div class="bar"> {{ i + 1 }} </div>
            </td>
            <td *matFooterCellDef class="br  text-right" mat-footer-cell></td>
        </ng-container>
        <ng-container matColumnDef="investorName">
            <th mat-header-cell *matHeaderCellDef class="br t-20"> Owner </th>
            <td mat-cell *matCellDef="let element" class="br t-20">
                <div class="bar"> {{element.ownerName}} </div>
            </td>
            <td *matFooterCellDef class="br t-20 text-right" mat-footer-cell></td>

        </ng-container>
        <ng-container matColumnDef="schemeDetails">
            <th mat-header-cell *matHeaderCellDef class="br t-10 textRight text-right"> Current value </th>
            <td mat-cell *matCellDef="let element" class="br t-10 amt text-right" appFormatNumber>
                <div class="bar"> {{element.currentValue}} </div>
            </td>
            <td *matFooterCellDef class="br text-right" mat-footer-cell></td>
        </ng-container>
        <ng-container matColumnDef="currentValue">
            <th mat-header-cell *matHeaderCellDef class="br text-right textRight"> Rate </th>
            <td mat-cell *matCellDef="let element" class="br amt text-right">
                <div class="bar"> {{element.rate}} </div>
            </td>
            <td *matFooterCellDef class="br text-right" mat-footer-cell></td>
        </ng-container>
        <ng-container matColumnDef="notionalGain">
            <th mat-header-cell *matHeaderCellDef class="br textRight text-right" matTooltip="Total amount invested"
                aria-label="Button that displays a tooltip when focused or hovered over"> Total amt... </th>
            <td mat-cell *matCellDef="let element" class="br amt text-right">
                <div class="bar"> {{ element.amt || '-'}} </div>
            </td>
            <td *matFooterCellDef class="br text-right" mat-footer-cell></td>
        </ng-container>
        <ng-container matColumnDef="advice">
            <th mat-header-cell *matHeaderCellDef class="br textRight text-right t-12"> Account number </th>
            <td mat-cell *matCellDef="let element" class="br amt text-right t-12">
                <div class="bar"> {{ element.linkedBankAccount || '-'}} </div>
            </td>
            <td *matFooterCellDef class="br text-right" mat-footer-cell></td>
        </ng-container>
        <ng-container matColumnDef="adviceStatus">
            <th mat-header-cell *matHeaderCellDef class="br t-12 text-left"> Maturity date </th>
            <td mat-cell *matCellDef="let element" class="br t-12 text-left">
                <div class="bar">
                    {{element.maturityDate |date:'dd/MM/yyyy'}} </div>
            </td>
            <td *matFooterCellDef class="br text-right" mat-footer-cell></td>
        </ng-container>

        <ng-container matColumnDef="applicableDate">
            <th mat-header-cell *matHeaderCellDef class="br t-10"> Description </th>
            <td mat-cell *matCellDef="let element" class="br t-10">
                <div class="bar"> {{element.actionPerformed | date:'dd/MM/yyyy'}} </div>
            </td>
            <td *matFooterCellDef class="br text-right" mat-footer-cell></td>
        </ng-container>
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef class="br"> Status </th>
            <td mat-cell *matCellDef="let element" class="br text-primary">
                <div>
                    <button [ngClass]="{'mat-button': acceptedOrDeclined==0,'mat-stroked-button':acceptedOrDeclined==1}"
                        (click)="acceptConsent(element)">ACCEPTED</button>
                    <button [ngClass]="{'mat-button': acceptedOrDeclined==0,'mat-stroked-button':acceptedOrDeclined==2}"
                        (click)="declineConsent(element)">DECLINE</button>
                </div>
            </td>
            <td *matFooterCellDef class="br text-right" mat-footer-cell></td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr mat-footer-row *matFooterRowDef="displayedColumns;sticky: true"></tr>
    </table>
</div>
<button class="btn-primary" (click)="save()">Ok</button>
<button (click)="dialogClose()" class="txt">Cancel</button>