<div class="popup-header-fix-70">
    <div class="row bb-1">
        <div class="col-md-8 p-0">
            <h4 class="mb-0 wrapper-20">ADD SCHEME LEVEL HOLDINGS</h4>
        </div>
        <div class="col-md-4 text-right">
            <div class="wrapper-12">
                <i class="material-icons c-p pt-8 v-middle" (click)="Close()"> clear</i>
            </div>
        </div>
    </div>
</div>

<div class="mb-48" [formGroup]="schemeHoldingsNPS">

    <div class="row pt-100 pl-28">
        <div class="col-md-3 p-0">
            <app-owner-column [data]='ownerData' (valueChange)='display($event)' (valueChange1)='lisNominee($event)'>
            </app-owner-column>
        </div>

        <div class="col-md-3">
            <h5 class="m-0 pb-8">PRAN</h5>
            <div class="form-group mb-0">
                <mat-form-field>
                    <input matInput #pran type="number" (utils.keypress)="utils.keyPress($event)" maxlength="20" class="form-control br-0 rupess" formControlName="pran">
                    <mat-error class="f-12 pt-4" [ngClass]="{'v-h':!(isPran && getFormControl().pran.invalid || getFormControl().pran.touched && getFormControl().pran.invalid)}">
                        This field is required
                    </mat-error>
                    <mat-hint align="start" class="f-12">Permanent Retirement Account Number</mat-hint>
                </mat-form-field>
            </div>
        </div>
        <div class="col-md-3 pl-0">
            <h5 class="m-0 pb-8">Description</h5>
            <div class="form-group mb-0">
                <mat-form-field>
                    <input matInput #description maxlength="30" class="form-control br-0" formControlName="description">
                    <mat-hint align="start" class="f-12">Optional</mat-hint>
                </mat-form-field>
            </div>
        </div>
    </div>
    <div class="row pl-28">
        <div class="col-md-12 pl-0 mt-65">
            <h4 class="mb-20 text-black">HOLDINGS</h4>
        </div>
    </div>
    <div class="row pl-28">
        <div class="col-md-4 pl-0">
            <label class="f-16"> Scheme name</label>
        </div>

        <div class="col-md-2 pl-0">
            <label class="pb-8 f-16"> Total Units </label>
        </div>

        <div class="col-md-3">
            <label class="pb-8 f-16"> Holdings as on </label>
        </div>
        <div class="col-md-3 pl-0">
            <label class="pb-8 f-16"> Total Net Contribution </label>
        </div>
    </div>

    <div formArrayName="holdingList">
        <div class="row pb-36 pl-28" *ngFor="let creds of holdings.controls; let i = index; let last = last" [formGroupName]="i">
            <div class="col-md-4 pl-0">
                <div class="form-group mb-0">
                    <mat-form-field>
                        <input matInput aria-label="State" [matAutocomplete]="auto" class="form-control br-0 pl-8" formControlName="schemeName">
                        <mat-autocomplete #auto="matAutocomplete">
                            <mat-option *ngFor="let s of schemeList" [value]="s.id">{{ s.name }}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-md-2 p-0">
                <div class="form-group mb-0">
                    <mat-form-field>
                        <input matInput #totalUnits type="number" (utils.keypress)="utils.keyPress($event)" maxlength="20" class="form-control br-0 rupess" formControlName="totalUnits">
                        <mat-hint align="start" class="m-0 f-11 text-custom pt-4">As in statement</mat-hint>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group mb-0">
                    <mat-form-field>
                        <input matInput formControlName="holdingAsOn" [matDatepicker]="picker" class="form-control br-0">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-md-2 pl-0">
                <div class="form-group mb-0">
                    <mat-form-field>
                        <input matInput #totalNetContribution type="number" (utils.keypress)="utils.keyPress($event)" maxlength="20" class="form-control br-0 rupess" formControlName="totalNetContribution">
                    </mat-form-field>

                </div>

            </div>

            <div class="col-md-1 d-flex pt-10 pl-0">
                <i class="material-icons text-custom c-p" (click)="addHoldings()">
                    add
                </i>
                <i class="material-icons text-custom c-p pl-10" (click)="removeHoldings(i)">
                    remove
                </i>
            </div>

        </div>


    </div>
    <hr class="ml-16 mr-16">

    <div class="row pl-28 pt-24">
        <div class="col-md-3 pt-36 text-right">
            <h5 class="m-0">Future contribution</h5>
        </div>
        <div class="col-md-9 p-0">
            <div class="row">
                <div class="col-md-4">
                    <h5 class="m-0 pb-8">Account preference</h5>
                </div>
                <div class="col-md-3 pr-0">
                    <h5 class="m-0 pb-8">Frequency</h5>
                </div>
                <div class="col-md-4 pr-0">
                    <h5 class="m-0 pb-8">Approx contribution</h5>
                </div>

            </div>
            <div formArrayName="futureContributionList">
                <div class="row pb-12" *ngFor="let creds of futureContry.controls; let i = index" [formGroupName]="i">
                    <div class="col-md-4">
                        <div class="form-group mb-0">
                            <mat-form-field>
                                <mat-select formControlName="accountPreferenceId" class="form-control br-0">
                                    <mat-option value="">Select option</mat-option>
                                    <mat-option value="1">Tier I</mat-option>
                                    <mat-option value="2">Tier II</mat-option>
                                    <mat-option value="3">NPS Lite</mat-option>
                                    <mat-option value="3">Atal pension yojna</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-md-3 p-0">
                        <div class="form-group mb-0">
                            <mat-form-field>
                                <mat-select formControlName="frequencyId" class="form-control br-0">
                                    <mat-option value="">Select option</mat-option>
                                    <mat-option value="1">Monthly</mat-option>
                                    <mat-option value="2">Quarterly</mat-option>
                                    <mat-option value="3">Semi annually</mat-option>
                                    <mat-option value="3">Annually</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-md-3 pr-0">
                        <div class="form-group mb-0">
                            <mat-form-field>
                                <input matInput #currentValue type="number" (utils.keypress)="utils.keyPress($event)" maxlength="20" class="form-control br-0 rupess" formControlName="approxContribution">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-md-2 pr-36 ">
                        <div class="pt-8">
                            <i class="material-icons text-custom c-p" (click)="addFutureContry()">
                                add
                            </i>
                            <i class="material-icons text-custom c-p right text-right" (click)="removeFutureContry(i)">
                                remove
                            </i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class=" pt-24" formArrayName="npsNomineesList">
        <div class="row" *ngFor="let creds of nominee.controls; let i = index" [formGroupName]="i">
            <div class="col-md-5 text-right pr-0">
                <h5 class="m-0 pt-8">Nominee{{i+1}}</h5>
            </div>
            <div class="col-md-7 pb-20 pr-0">
                <div class="form-group mb-0">
                    <div class="row">
                        <div class="col-md-4 p-0">
                            <mat-form-field>
                                <input matInput aria-label="State" (click)="nomineesList()" [matAutocomplete]="auto" list="userName" class="form-control br-0 pl-8" formControlName="nomineeName">
                                <mat-autocomplete #auto="matAutocomplete">
                                    <mat-option *ngFor="let item of familyList" [value]="item.userName">
                                        <span>{{item.userName}}</span>
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                        </div>
                        <div class="col-md-3">
                            <mat-form-field>
                                <input matInput #nomineePercentageShare maxlength="30" class="form-control br-0 percentage" formControlName="nomineePercentageShare">
                            </mat-form-field>
                        </div>
                        <div class="col-md-5" *ngIf="i==0">
                            <p class="m-0 c-p text-custom pt-12" (click)="addNominee()">+ Add nominee</p>
                        </div>
                        <div class="col-md-3" *ngIf="i > 0">
                            <p class="m-0 c-p text-custom pt-12" (click)="removeNominee(i)">Remove</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p class="f-12 text-custom pt-4 mb-0">Optional</p>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-7 text-right">
                <mat-hint class="f-12 pt-4 text-danger" align="end" *ngIf="showError== true">
                    Percent cannot be more than 100%
                </mat-hint>
            </div>
        </div>

    </div>

</div>
<div class="bottom-fixed-70 wrapper-12 pt-16">
    <div class="row">
        <div class="col-md-4">
            <h5 class="mb-0 pt-8 text-white c-p" (click)="Close()">Cancel</h5>
        </div>
        <div class="col-md-8 right text-right">
            <button mat-button class="btn-bottom br-0 text-inherit" (click)="saveSchemeHolding()">Save</button>
        </div>
    </div>
</div>