::ng-deep .in-btn {
    font-size: 14px !important;
    color: #008FFF;
    border-radius: 2px !important;
    width: 135px;
    height: 36px;
    text-align: left;
    padding: 0px 0px 0px 10px;
    img {
        margin-right: 10px;
    }
}

::ng-deep .in-btn-two {
    font-size: 14px !important;
    color: #008FFF;
    border-radius: 2px !important;
    width: 145px;
    text-align: left;
    padding: 0px 0px 0px 10px;
    height: 36px;
    img {
        margin-right: 10px;
    }
}

.mat-stroked-button:not([disabled]) {
    border-color: #008FFF;
}

.col-width-22 {
    flex: 0 0 22%;
    max-width: 22%;
    padding-left: 10px;
    padding-right: 10px;
}

.col-width-78 {
    flex: 0 0 78%;
    max-width: 78%;
    padding-left: 15px;
    padding-right: 15px;
}

.maxWidth100 {
    max-width: 100%;
}

.hide-placeholder {
    // don't show placeholder as templates don't match
    .cdk-drag-placeholder {
        visibility: hidden;
    }
}

.btnBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.col-width-31 {
    flex: 0 0 31.333333%;
    max-width: 31.333333%;
    padding-left: 15px;
}

.col-width-68 {
    flex: 0 0 68.666667%;
    max-width: 68.666667%;
}

.imgPosition {
    position: absolute;
}

.imgWidth {
    width: 100%;
}

.pt-25 {
    padding-top: 25px;
}



.skeletonAnimation .relClass {
    position: relative;
  
    .bar82 {
      background-color: #E7E7E7;
      width: 100%;
  
      &:after {
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
        left: 0;
        content: "";
        display: block;
        width: 100%;
        height: 82px;
        background-image: linear-gradient(100deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0) 80%);
        background-size: 100px 82px;
        background-position: -10px 0;
        background-repeat: no-repeat;
        animation: loading 1s infinite;
      }
    }
  }

  .height82 {
      height: 82px;
  }

  .height24 {
    height: 24px;
  }