<!-- <button mat-icon-button (click)="goBack()">
    <mat-icon>arrow_left</mat-icon>
</button> -->

<!-- <button mat-button (click)="openEmailAddTask(null)">Add Task</button> -->

<!-- <button mat-button (click)="openComposeEmail(null)">Compose</button> -->
<!-- <button mat-raised-button (click)="openBottomSheet()">Reply</button> -->
<mat-toolbar>
    <button mat-icon-button (click)="goBack()">
        <mat-icon>arrow_left</mat-icon>
    </button>
</mat-toolbar>
<div class="chatBox">
    <div class="messengerDiv">
        <!-- <div class="userOne">
            <p> {{ subject }}</p>
            <h2>{{from}}</h2>
            <div *ngFor="let part of body" [innerHTML]="part">
            </div>
        </div> -->


        <!-- Vaibhav new design  -->

        <div class="userOne d-flex">
            <div class="avatar">
                <img class="header-img" src="https://pbs.twimg.com/profile_images/1115218540636672001/HAgVhGPX.jpg">
            </div>
            <div class="chatMsgBox">
                <h2> Ronak Hindocha </h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. At deleniti inventore quas harum ipsam praesentium nisi, atque facilis molestiae labore persp
                    <span> 10.00 AM</span>
                </p>
            </div>
        </div>

        <div class="userTwo d-flex">
            <div class="avatar">
                <img class="header-img" src="https://pbs.twimg.com/profile_images/1115218540636672001/HAgVhGPX.jpg">
            </div>
            <div class="chatMsgBox">
                <h2> Ronak Hindocha </h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. At deleniti inventore quas harum ipsam praesentium nisi, atque facilis molestiae labore persp
                    <span> 10.00 AM</span>
                </p>
            </div>
        </div>





    </div>

    <div class="typeMessageBox">
        <div class="row">
            <div class="col-md-11">
                <mat-form-field class="example-width">
                    <input class="form-control" matInput value=" ">
                </mat-form-field>
            </div>
            <div class="col-md-1 p-0">
                <div class="enterButton">
                    <i class="material-icons ">
                        near_me
                    </i>
                </div>
            </div>
        </div>
    </div>
</div>