<div class="wrapper-20 max-height-100">
    <h4 class="mb-0 pt-16">Record payment</h4>
    <div [formGroup]="rPayment" class="pt-40">
        <div class="row">
            <div class="col-md-5">
                <h5 class="m-0 text-right pt-8">Amount received</h5>
            </div>
            <div class="col-md-4">
                <div class="form-group mb-0">
                    <mat-form-field>
                        <input #amountReceiveRef [maxLength]="10" appInputValueValidation [inputValidator]="validatorType.NUMBER_ONLY" class="form-control" formControlName="amountReceived" matInput type="text">
                        <mat-hint align="end" class="f-12">{{ amountReceiveRef.value.length }}/{{ getFormControl().amountReceived.maxLength }}</mat-hint>
                        <mat-error class="f-12" *ngIf="rPayment.get('amountReceived').errors?.required && rPayment.get('amountReceived').touched">
                            This feild is required
                        </mat-error>
                        <mat-error *ngIf="(rPayment.get('amountReceived').errors?.max)" class="f-12">
                            Should be less than or equal to {{this.balDue}}
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="row pt-24">
            <div class="col-md-5">
                <h5 class="m-0 text-right pt-8">Charges,if any</h5>
            </div>
            <div class="col-md-4">
                <div class="form-group mb-0">
                    <mat-form-field>
                        <input #chargesIfAnyRef [maxLength]="10" appInputValueValidation [inputValidator]="validatorType.NUMBER_ONLY" appInputValueValidation class="form-control" formControlName="chargesIfAny" type="text" matInput>
                        <!-- <mat-hint align="start" class="f-12">Optional</mat-hint> -->
                        <mat-hint align="end" class="f-12">{{chargesIfAnyRef.value.length}}/10</mat-hint>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="row pt-24">
            <div class="col-md-5">
                <h5 class="m-0 text-right pt-8">TDS</h5>
            </div>
            <div class="col-md-4">
                <div class="form-group mb-0">
                    <mat-form-field>
                        <input #tdsRef [maxLength]="10" appInputValueValidation [inputValidator]="validatorType.NUMBER_ONLY" (keyup)="onChange()" appInputValueValidation class="form-control" formControlName="tds" type="text" matInput>
                        <mat-hint align="start" class="f-12">Optional</mat-hint>
                        <mat-hint align="end" class="f-12">{{chargesIfAnyRef.value.length}}/{{getFormControl().tds.maxLength}}</mat-hint>
                        <mat-error *ngIf="showError==true" class="f-12">
                            Should be less than or equal to {{this.tdsAmt}}
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="row pt-24">
            <div class="col-md-5">
                <h5 class="m-0 text-right pt-8">Payment date</h5>
            </div>
            <div class="col-md-4">
                <div class="form-group mb-0">
                    <mat-form-field class="ba-date">
                        <input matInput (click)="picker.open()" formControlName="paymentDate" class="form-control br-0 b-0" [matDatepicker]="picker" readonly>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                        <mat-error class="f-12">
                            This field is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="row pt-24">
            <div class="col-md-5">
                <h5 class="m-0 pt-8 text-right">Payment mode</h5>
            </div>
            <div class="col-md-5">
                <div class="form-group mb-0">
                    <mat-form-field>

                    <mat-select class="form-control" formControlName="paymentMode" id="Category">
                        <mat-option disabled hidden selected value="">Select payment mode</mat-option>
                        <mat-option *ngFor="let feeCollectionMode of feeCollectionMode" value="{{feeCollectionMode.name}}">
                            {{feeCollectionMode.name}}
                        </mat-option>
                    </mat-select>
                    <mat-error class="f-12" *ngIf="rPayment.get('paymentMode').errors?.required && rPayment.get('paymentMode').touched">
                        This field is required
                    </mat-error>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="row pt-24">
            <div class="col-md-5">
                <h5 class="m-0 pt-8 text-right">GST treatment</h5>
            </div>
            <div class="col-md-5">
                <div class="form-group mb-0">
                    <mat-form-field>
                    <mat-select class="form-control" formControlName="gstTreatment">
                        <mat-option disabled hidden selected value="">Select gst treatment</mat-option>
                        <mat-option *ngFor="let gst of this.gstTreatment" value="{{gst.name}}">{{gst.name}}
                        </mat-option>
                    </mat-select>
                    <mat-error class="f-12" *ngIf="rPayment.get('gstTreatment').errors?.required && rPayment.get('gstTreatment').touched">
                        This field is required
                    </mat-error>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="row pt-24">
            <div class="col-md-5">
                <h5 class="m-0 pt-8 text-right">Notes</h5>
            </div>
            <div class="col-md-5 height110">
                <div class="form-group mb-0">
                    <mat-form-field>
                        <textarea class="form-control br-2" #notesRef formControlName="notes" maxlength="{{getFormControl().notes.maxLength}}" rows="3" matInput></textarea>

                        <mat-hint align="end" class="f-12">
                            {{getFormControl().notes.value?.length ? getFormControl().notes.value.length : 0}} /{{getFormControl().notes.maxLength}}
                        </mat-hint>

                        <mat-hint align="start" class="f-12">
                            Optional
                        </mat-hint>

                    </mat-form-field>
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 right text-right">
            <h5 (click)="cancel('')" class="mat-stroked-button br-0 text-light mr-20">CANCEL</h5>
            <button (click)="saveFormData()" class="btn-bottom br-0 text-inherit " mat-button>SAVE
            </button>
        </div>
    </div>

</div>