<div class="row" id="overview-secondhead">
  <div class="col-md-2 d-flex align-items-center">
    <button (click)="goToAdvisorHome()" *ngIf="authService.isAdvisor()" class="btn-warning-outline advisorHomeBtn br-2"
            mat-stroked-button>
      <i class="material-icons"> keyboard_backspace </i> ADVISOR HOME
    </button>
  </div>

  <div class="col-md-8 p-0">
    <nav mat-align-tabs="center" mat-tab-nav-bar>
      <a [routerLink]="['/customer/detail/overview/myfeed']" mat-tab-link routerLinkActive="active">MY FEED</a>
      <a [routerLink]="['/customer/detail/overview/profile']" mat-tab-link routerLinkActive="active">PROFILE</a>
      <a [routerLink]="['/customer/detail/overview/documents']" mat-tab-link routerLinkActive="active">DOCUMENTS</a>
      <a mat-tab-link routerLinkActive="active">EMAILS</a>
      <a mat-tab-link routerLinkActive="active">SUBSCRIPTION</a>
      <a mat-tab-link routerLinkActive="active">SETTINGS</a>
    </nav>
  </div>

  <div class="col-md-2 d-flex align-items-center borderLeft">
    <p class="m-0 f-14 text-white d-flex align-items-center">{{clientData.displayName}}</p>
  </div>

</div>
<div class="wrapperOverview">
  <div class="row mt80">
    <div class="col-md-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
