.wrapperOverview {
    .row {
        margin-right: -15px !important;
        margin-left: -15px !important;
    }
    .mt80 {
        margin-top: 80px !important;
    }
}
.active {
    background-color: #E2E2E2 !important;
    color: #008FFF !important;
  }
  