<div class="custom-email">
    <div class="popup-header-fix w-50 bb-1 pt-16 pb-20">
        <div class="row">
            <div class="col-md-10">
                <h3 class="m-0 roboto f-400  pt-4">
                    New email
                </h3>
            </div>
            <div class="col-md-2 full-center pr-0">

                <i class="material-icons c-p" (click)="close()">
                    clear
                </i>
            </div>
        </div>
    </div>

    <div class="pt-90 pl-16 pr-16 pb-28">
        <form [formGroup]="emailForm" #formRef (change)="didFormChanged = true">
            <div class="pt-16">
                <div class="row">
                    <div class="col-md-1 pr-0 text-right">
                        <p class="m-0 text-custom roboto f-400">From</p>
                    </div>
                    <div class="col-md-9">
                        <p class="m-0 text-black roboto f-400">
                            {{ from }}
                        </p>
                        <!-- <input type="text" [(ngModel)]="from" formControlName="sender"> -->
                        <!-- <div *ngIf="!emailForm.get('sender').valid && emailForm.get('sender').touched"
                        [ngClass]="emailForm.get('sender').valid && emailForm.get('sender').touched ? '': 'is-invalid'">
                        invalid email
                    </div> -->
                    </div>
                    <div class="col-md-2 pr-8">
                        <ul class="text-custom right f-14 pr-8 f-500">
                            <li class="pr-4 c-p" (click)="toggleCC()">CC</li>
                            <li class="c-p" (click)="toggleBCC()"> BCC</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row pt-32" id="new-mail-chips-1">
                <div class="col-md-1 pr-0 text-right">
                    <p class="m-0 text-custom roboto pt-12 f-400">To</p>
                </div>
                <div class="col-md-11">
                    <mat-form-field class="example-chip-list h-auto form-control">
                        <mat-chip-list #chipList aria-label="Email Selection">
                            <mat-chip *ngFor="let receipient of receipients" [selectable]="selectable"
                                [removable]="removable" (removed)="remove(receipient, 'receipients')">
                                {{receipient}}
                                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                            </mat-chip>
                            <input *ngIf="editRecepient" placeholder="Receipient" [matChipInputFor]="chipList"
                                [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                                (matChipInputTokenEnd)="add($event, 'receipients')" class="b-0">
                        </mat-chip-list>
                    </mat-form-field>
                    <!-- <input type="text" [(ngModel)]="to" formControlName="receiver" /> -->
                    <!-- <div *ngIf="!emailForm.controls['receiver'].valid && emailForm.controls['receiver'].touched"
                        [ngClass]="emailForm.controls['receiver'].valid && emailForm.controls['receiver'].touched ? '': 'is-invalid'">
                        invalid email
                    </div> -->
                </div>
            </div>
            <div class="row pt-32" *ngIf="isCcSelected" id="new-mail-chips-1">
                <div class="col-md-1 pr-0 text-right">
                    <p class="m-0 text-custom roboto pt-16 f-400">CC</p>
                </div>
                <div class="col-md-11">
                    <mat-form-field class="example-chip-list h-auto form-control">
                        <mat-chip-list #chipList1 aria-label="CC Email Selection">
                            <mat-chip *ngFor="let cc of ccArray" [selectable]="selectable" [removable]="removable"
                                (removed)="remove(cc, 'ccArray')">
                                {{cc}}
                                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                            </mat-chip>
                            <input [matChipInputFor]="chipList1" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event, 'ccArray')"
                                class="b-0">
                        </mat-chip-list>
                    </mat-form-field>
                    <!-- <input type="text" formControlName="carbonCopy" *ngIf="isCcSelected">
                    <div *ngIf="!emailForm.get('carbonCopy').valid && emailForm.get('carbonCopy').touched"
                        [ngClass]="emailForm.get('carbonCopy').valid && emailForm.get('carbonCopy').touched ? '': 'is-invalid'">
                        invalid email
                    </div> -->
                </div>
            </div>

            <div class="row pt-32" *ngIf="isBccSelected" id="new-mail-chips-1">
                <div class="col-md-1 pr-0 text-right">
                    <p class="m-0 roboto f-400 pt-12 text-custom">BCC</p>
                </div>
                <div class="col-md-11">
                    <mat-form-field class="example-chip-list h-auto form-control">
                        <mat-chip-list #chipList2 aria-label="BCC Email Selection">
                            <mat-chip *ngFor="let bcc of bccArray" [selectable]="selectable" [removable]="removable"
                                (removed)="remove(bcc, 'bccArray')">
                                {{bcc}}
                                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                            </mat-chip>
                            <input [matChipInputFor]="chipList2" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event, 'bccArray')"
                                class="b-0">
                        </mat-chip-list>
                    </mat-form-field>
                    <!-- <input type="text" formControlName="blindCarbonCopy" *ngIf="isBccSelected">
                    <div *ngIf="!emailForm.get('blindCarbonCopy').valid && emailForm.get('blindCarbonCopy').touched"
                        [ngClass]="emailForm.get('carbonCopy').valid && emailForm.get('carbonCopy').touched ? '': 'is-invalid'">
                        invalid email
                    </div> -->
                </div>
            </div>



            <div class="row pt-32">
                <div class="col-md-1 pl-0 text-left">
                    <p class="m-0 roboto f-400 text-custom pt-8 pb-8 pl-8">Subject</p>
                </div>
                <div class="col-md-11">
                    <mat-form-field>

                        <input type="text" matInput [(ngModel)]="subject" formControlName="subject"
                            class="form-control br-0">
                    </mat-form-field>
                </div>
                <div class="col-md-12" id="email-froala">
                    <div class="mt-32">
                        <app-froala [(model)]="emailBody" (modelChange)="saveData($event)"></app-froala>
                    </div>
                </div>

            </div>

            <div class="row pt-16">
                <div class="col-md-12">
                    <mat-chip-list #chipList aria-label="docName selection">
                        <!-- <mat-chip *ngFor="let doc of docObj ; let i = index" (removed)="remove(i)">
                    {{doc.documentName}}
                    <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip> -->
                    </mat-chip-list>
                    <div class="row bb-1 pt-12" *ngFor="let attachment of emailAttachments">
                        <div class="col-md-11 p-0">
                            <p class="m-0 c-p f-400 roboto" (click)="attachmentDownload(attachment)">
                                {{attachment.filename}}</p>
                        </div>
                        <div class="col-md-1 p-0 text-right">
                            <img src="/assets/images/svg/delete.svg" class="c-p" style="vertical-align: super;"
                                (click)="removeFileFromCollections(attachment)">
                        </div>
                    </div>

                    <div class="row pt-24">
                        <div class="col-md-6 d-flex align-items-center p-0">
                            <button type="submit" mat-stroked-button class="btn-primary br-0 mr-20"
                                (click)="onSendEmail()">Send</button>

                            <button mat-icon-button (click)="fileInput.click()">
                                <mat-icon>attach_file</mat-icon>
                                <input #fileInput type="file" (change)="getFileDetails($event)" style="display:none;" />
                            </button>
                            <span *ngIf="showSaving" [textContent]="saveDraftComplete? 'Saved': 'Saving...'">
                            </span>
                        </div>
                    </div>
                </div>
                <!--    <div class="col-md-3">-->
                <!--      <div class="row">-->
                <!--        <div class="col-md-8 pl-0">-->
                <!--          <p class="m-0 text-custom pt-8 c-p"> Use template</p>-->
                <!--        </div>-->
                <!--        <div class="col-md-1">-->
                <!--          <img src="/assets/images/svg/delete.svg" class="c-p pt-8">-->
                <!--        </div>-->
                <!--      </div>-->
                <!--    </div>-->
            </div>
        </form>
    </div>
</div>

<!-- <div class="bottom-fixed wrapper-12 w-50 ">
    <div class="row">
        <div class="col-md-4">
           
        </div>
        <div class="col-md-8 text-right">
            <button type="submit" mat-stroked-button class="btn-primary br-0" (click)="onSendEmail()">Send</button>
        </div>

    </div>
</div> -->