.pdfClass {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 10px;
}

.hide {
    display: none;
}

::ng-deep .rightText .mat-sort-header-container {
    display: block !important;
}

 ::ng-deep .rightText .mat-sort-header-container .mat-sort-header-arrow {
    float: right;
}

 ::ng-deep .rightText .mat-sort-header-container .mat-sort-header-button {
    float: right;
}

// ------------- new changes
::ng-deep .rightTextHide .mat-sort-header-container {
    display: block !important;
    position: relative;
}

 ::ng-deep .rightTextHide .mat-sort-header-container .mat-sort-header-arrow {
    float: right;
    opacity: 0 !important;
    position: absolute;
    right: 2px;
    width: 100%;
    height: auto;
    min-width: 100%;
    color: transparent;
}

 ::ng-deep .rightTextHide .mat-sort-header-container .mat-sort-header-button {
    float: right;
    text-align: right;
}

.uploadInput {
    position: absolute;
    font-size: 50px;
    opacity: 0;
    right: 0;
    top: 0;
}

.sticky-top {
    position: sticky;
    top: 135px;
    z-index: 1020;
}

.dot_bk {
    padding: 0px !important;
}