<div class="popup-header-fix-30">
    <div class="row bb-1">
        <div class="col-md-8 d-flex align-items-center">
            <h4 class="mb-0">No credentials</h4>
        </div>
        <div class="col-md-4 text-right">
            <div class="wrapper-16 pr-0">
        <!-- (click)="onNoClick()" prod build -->

                <i  class="material-icons c-p  v-middle"> clear</i>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="row pt-12">
        <div class="col-md-12 iconPetage">
          <h5 class="mb-8 ">Uh oh! Looks like you haven't added your credentials yet.
            Please note that the password for API is different from the regular password provided to you by NSE NMF II
            or BSE STAR MF.</h5>

        </div>
    </div>
</div>
<div class="row pt-16 pb-16">
    <div class="col-md-12 text-right">
        <!-- [mat-dialog-close]="data.investor" prod build-->
        <button class="br-0 text-inherit f-14" mat-button >
            CANCEL
        </button>
        <!-- (click)="onNoClick()" prod build -->
        <button class="btn-primary f-14 ml-12"  mat-button mat-raised-button cdkFocusInitial>OK</button>
    </div>
</div>
