<div *ngIf="showLoader">
    <mat-spinner class="loader" [diameter]="30"></mat-spinner>
</div>
<div *ngIf="showLoader==false">
<div *ngIf="sip.sipComponent==false" id="ui-category">
        <div class="wrapper-20 bg-white">
            <div class="row">
                <div class="col-md-6 pl-0">
                    <h3 class="pt-8 mb-0">Client Wise SIP
                    </h3>
                </div>
                <div class="col-md-6 pr-0">
                    <div class="right text-right">
                        <button mat-stroked-button class="btn-default addon"><i class="material-icons">add</i>XLS</button>
                        <button mat-stroked-button class="btn-success ml-8 addon" (click)="aumReport()">Back</button>
                    </div>
                </div>
            </div>
            <div ng-init="clietnFilter=''">
                <input type="text" placeholder="Search Scheme Name" [(ngModel)]="clientFilter"  (keyup)="filterArray()">
            </div>
            <table class="table-low mt-16" id="table-high" *ngIf="filteredArray">
                <thead class="text-dark">
                    <tr>
                        <th>Client Name</th>
                        <th class="text-right">SIP Amount</th>
                        <th class="text-right">% Weight</th>
                    </tr>
                </thead>
                <tbody *ngFor="let category of filteredArray; let i = index">
                    <tr>
                        <td (click)="showSubTableList(i,category.showCategory,category)">{{category.investorName}} <i class="material-icons right b-a f-14 mt-4 c-p" *ngIf="category.showCategory==true"> add  </i>
                        <i class="material-icons right b-a f-14 mt-4 c-p" *ngIf="category.showCategory==false"> remove  </i></td>
                        <td class="text-right"><span appFormatNumber>{{category.sipAmount}}</span> </td>
                        <td class="text-right">{{category.weightInPercentage}}%</td>
                     </tr>
                     <tr>
                         <tr>
                        <table *ngIf="category.showCategory==false" class="table-low mt-8 " id="table-high">
                                <thead class="bg-light text-dark">
                                        <tr>
                                            <th>Applicant Name</th>
                                            <th class="text-right">Scheme Name</th>
                                            <th class="text-right">Folio</th>
                                            <th class="text-right">Registered Date</th>
                                            <th class="text-right">From Date</th>
                                            <th class="text-right">To Date</th>
                                            <th class="text-right">Trigger Day</th>
                                            <th class="text-right">Frequency</th>
                                            <th class="text-right">Amount</th>
                                            <th class="text-right">% Weight</th>
                                            <th class="text-right">Edit/Delete</th>
                                        </tr>
                                    </thead>
                                       <tbody *ngFor="let subcategory of category.applicantList; let i = index">
                                            <tr>
                                                <td>{{subcategory.investorName}}</td>
                                                <td>{{subcategory.schemeName}}</td>
                                                <td>{{subcategory.folioNumber}}</td>
                                                <td>{{subcategory.registeredDate | date:'dd/MM/yyyy'}}</td>
                                                <td>{{subcategory.from_date | date:'dd/MM/yyyy'}}</td>
                                                <td>{{subcategory.to_date | date:'dd/MM/yyyy'}}</td>
                                                <td>{{subcategory.sipTriggerDay}}</td>
                                                <td>{{subcategory.frequency}}</td>
                                                <td><span appFormatNumber>{{subcategory.sipAmount}}</span></td>
                                                <td class="text-right">{{subcaegory.weightInPercentage}}%</td>
                                                <td class="text-right">Add cease date</td>
                                            </tr>
                                    </tbody>
                        </table>

                    </tr>
                </tbody>
                <tbody>
                    <tr>
                      <td class="p-table t-35 b-a"><strong>Total</strong></td>
                      <td class="p-table t-20 b-a text-right" ><strong><span appFormatNumber>{{totalOfSipAmount}}</span></strong></td>
                      <td class="p-table t-19 b-a text-right"><strong>{{totalWeight}}%</strong></td>
                    </tr>
                  </tbody>
            </table>
            <div  *ngIf="!filteredArray">
                <p>No data Found</p>
            </div>
        </div>
    </div>

    <!-- <div *ngIf="categoryData">
    <mat-spinner class="loader" [diameter]="30"></mat-spinner>
</div> -->
</div>

