::ng-deep #table-low tbody td.br {
    border-right: 1px solid #dee5e7 !important;
}

// ::ng-deep .liabilities {
//   height: 320px;
//   overflow: auto;
// }
// ::ng-deep .mat-sort-header-button {
//   white-space: normal !important;
// }
::ng-deep .textRight .mat-sort-header-container {
    justify-content: flex-end;
}

::ng-deep #table-low .mat-sort-header-button {
    text-align: right;
}