<div class="popup-header-fix-40">
    <div class="row bb-1">
        <div class="col-lg-8 p-0">
            <h4 class="mb-0 wrapper-20"> ARN-83865 CAMS </h4>
        </div>
        <div class="col-lg-4 text-right">
            <div class="wrapper-12">
                <!-- (click)="Close(false)" removed for prod build -->
                <i class="material-icons c-p pt-8 v-middle" (click)="dialogClose()"> clear</i>
            </div>
        </div>
    </div>
</div>

<div class="row pt-32">
    <div class="col-lg-6">
        <p class="m-0 f-12 text-primitive roboto">SCHEME NAME</p>
        <h4 class="f-14 mb-24">{{ data.name }}</h4>

        <p class="m-0 f-12 text-primitive roboto">FOLIO NUMBER</p>
        <h4 class="f-14 mb-24">{{ data.folioNumber }}</h4>

        <span *ngIf="tableEntriesType == 1">
            <p class="m-0 f-12 text-primitive roboto">INVESTOR</p>
            <h4 class="f-14 mb-24">Rahul Jain</h4>
        </span>

    </div>

    <div class="col-lg-6">
        <p class="mb-4 f-12 text-primitive roboto">STATUS</p>

        <div class=" overflow-hidden back-office-table">
            <table mat-table [dataSource]="dataSource" id="table-low" class=" ">

                <ng-container matColumnDef="unitOne">
                    <th class="b-a" mat-header-cell *matHeaderCellDef> Units (IFANOW) </th>
                    <td class="b-a" mat-cell *matCellDef="let element">
                        <div class="bar"> {{element.unitOne}} </div>
                    </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="unitsRta">
                    <th class="b-a" mat-header-cell *matHeaderCellDef> units (RTA) </th>
                    <td class="b-a" mat-cell *matCellDef="let element">
                        <div class="bar"> {{element.unitsRta}} </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="difference">
                    <th class="b-a" mat-header-cell *matHeaderCellDef> Difference </th>
                    <td class="b-a" mat-cell *matCellDef="let element">
                        <div class="bar"> {{element.difference}} </div>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-lg-6" *ngIf="tableEntriesType==1">
        <button class="ba-black" mat-stroked-button *ngIf="shouldDeleteMultiple"
            (click)="deleteSingleOrMultipleTransaction()">Delete selected</button>
        <span class="text-primitive ml-12 f-14" *ngIf="shouldDeleteMultiple"> Selected units: {{ selectedFolioUnits }}
        </span>
    </div>
    <div class="col-lg-6" *ngIf="tableEntriesType==2">
        <!-- <mat-checkbox>Show All Transactions</mat-checkbox> -->
    </div>
    <div class="col-lg-4 text-right">
        <div matTooltip="You cannot Unfreeze Folio" [matTooltipDisabled]="!disableUnfreezeBtn">
            <button [ngClass]="disableUnfreezeBtn ? 'disableClass':''" [disabled]="disableUnfreezeBtn" class="ba-black"
                mat-button (click)="unfreezeFolioData()">
                Unfreeze
            </button>
        </div>

    </div>
    <div class="col-lg-2 text-right">
        <div matTooltip="You cannot freeze Folio, as difference is not zero" [matTooltipDisabled]="!disableFreezeBtn">
            <button class="ba-black" mat-button [disabled]="disableFreezeBtn"
                [ngClass]="disableFreezeBtn ? 'disableClass':''" (click)="freezeFolioData()">
                Freeze
            </button>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 overflow-hidden back-office-table">
        <div *ngIf="tableEntriesType == 1">
            <table mat-table [dataSource]="dataSource1" id="table-low" class=" mt-8">
                <ng-container matColumnDef="checkbox">
                    <th class="b-a" mat-header-cell *matHeaderCellDef>
                        <mat-checkbox (change)="$event ? masterToggle() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                        </mat-checkbox>
                        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                            <mat-icon>arrow_drop_down</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item (click)="filterTableValues('all')">
                                <span>
                                    All
                                </span>
                            </button>
                            <button mat-menu-item (click)="filterTableValues('sip')">
                                <span>SIP</span>
                            </button>
                            <button mat-menu-item (click)="filterTableValues('stp')">
                                <span>STP</span>
                            </button>
                            <button mat-menu-item (click)="filterTableValues('swp')">
                                <span>SWP</span>
                            </button>
                            <button mat-menu-item (click)="filterTableValues('sep')">
                                <span>SEP</span>
                            </button>
                            <button mat-menu-item (click)="filterTableValues('transfer-in')">
                                <span>Transfer in</span>
                            </button>
                            <button mat-menu-item (click)="filterTableValues('transfer-out')">
                                <span>Transfer out</span>
                            </button>
                            <button mat-menu-item (click)="filterTableValues('Purchase')">
                                <span>Purchase</span>
                            </button>
                            <button mat-menu-item (click)="filterTableValues('Redemption')">
                                <span>Redemption</span>
                            </button>
                        </mat-menu>
                    </th>
                    <td mat-cell class="b-a" *matCellDef="let row">
                        <mat-checkbox (click)="$event.stopPropagation(); "
                            (change)="$event ? singleSelectionSelect(row): null" [checked]="selection.isSelected(row)"
                            [aria-label]="checkboxLabel(row)">
                        </mat-checkbox>
                    </td>

                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="transactionType">
                    <th class="b-a" mat-header-cell *matHeaderCellDef> Transaction type </th>
                    <td class="b-a" mat-cell *matCellDef="let element">
                        <div class="bar"> {{element.transactionType}} </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="date">
                    <th class="b-a" mat-header-cell *matHeaderCellDef> Date </th>
                    <td class="b-a" mat-cell *matCellDef="let element">
                        <div class="bar"> {{element.date | date: 'short'}} </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="amount">
                    <th class="b-a" mat-header-cell *matHeaderCellDef> Amount </th>
                    <td class="b-a" mat-cell *matCellDef="let element">
                        <div class="bar"> {{element.amount}} </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="units">
                    <th class="b-a" mat-header-cell *matHeaderCellDef> Units </th>
                    <td class="b-a" mat-cell *matCellDef="let element">
                        <div class="bar"> {{element.units}} </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="balanceUnits">
                    <th class="b-a" mat-header-cell *matHeaderCellDef> Balance units </th>
                    <td class="b-a" mat-cell *matCellDef="let element">
                        <div class="bar"> {{element.balanceUnits}} </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="action">
                    <th class="b-a" mat-header-cell *matHeaderCellDef> Action </th>
                    <td class="b-a" mat-cell *matCellDef="let element">
                        <div class="bar">
                            <div matTooltip="Kindly unfreeze folio, to delete transaction"
                                [matTooltipDisabled]="canDeleteTransaction">
                                <button mat-stroked-button [disabled]="!canDeleteTransaction"
                                    class="bg-primary text-white mr-12 h-22 btn-xs"
                                    (click)="deleteSingleTransaction(element)">
                                    Delete
                                </button>
                            </div>
                        </div>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns1"></tr>
            </table>
        </div>
        <div *ngIf="tableEntriesType == 2">
            <table mat-table [dataSource]="dataSource2" id="table-low" class="mt-8">
                <!-- transaction Type Column -->
                <ng-container matColumnDef="transactionType">
                    <th class="b-a" mat-header-cell *matHeaderCellDef> Transaction type </th>
                    <td class="b-a" mat-cell *matCellDef="let element">
                        <div class="bar"> {{element.transactionType}} </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="date">
                    <th class="b-a" mat-header-cell *matHeaderCellDef> Date </th>
                    <td class="b-a" mat-cell *matCellDef="let element">
                        <div class="bar"> {{element.date | date: 'short'}} </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="amount">
                    <th class="b-a" mat-header-cell *matHeaderCellDef> Amount </th>
                    <td class="b-a" mat-cell *matCellDef="let element">
                        <div class="bar"> {{element.amount}} </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="nav">
                    <th class="b-a" mat-header-cell *matHeaderCellDef> NAV </th>
                    <td class="b-a" mat-cell *matCellDef="let element">
                        <div class="bar"> {{element.nav}} </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="units">
                    <th class="b-a" mat-header-cell *matHeaderCellDef> Units </th>
                    <td class="b-a" mat-cell *matCellDef="let element">
                        <div class="bar"> {{element.units}} </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="action">
                    <th class="b-a" mat-header-cell *matHeaderCellDef> Action </th>
                    <td class="b-a" mat-cell *matCellDef="let element; index as i">
                        <div class="bar">
                            <button mat-stroked-button [ngClass]="element.keep ? 'disableClass': ''"
                                [disabled]="element.keep" (click)="shouldKeepOrRemove(1, element)"
                                class="btn-primary mr-12 text-white btn-xs h-22">
                                Keep
                            </button>
                            <button mat-stroked-button [ngClass]="element.keep ? '' : 'disableClass'"
                                [disabled]="!element.keep" (click)="shouldKeepOrRemove(0, element)"
                                class="btn-danger text-white btn-xs h-22">
                                Remove
                            </button>
                        </div>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
            </table>
            <div class="col-lg-12 text-right">
                <button class="ba-black" mat-button (click)="putAumTransactionKeepOrRemove()">
                    Update Transactions
                </button>
            </div>
        </div>
    </div>
</div>




<div class="bottom-fixed wrapper-12 pt-16">
    <div class="row">
        <div class="col-lg-4">
            <!-- (click)="Close(false)" removed for prod build -->
            <h5 class="mb-0 pt-8 text-white c-p" (click)="dialogClose()">Cancel</h5>
        </div>
    </div>
</div>