<div class="row bb popup-header-fix w-50">
    <div class="col-md-10 p-0">
        <h4 class="mb-0 wrapper-20 lh-23">Send KYC link to an Investor</h4>
    </div>
    <div class="col-md-2 full-end pr-24">
        <i class="material-icons c-p">
            clear
        </i>
    </div>
</div>
<div class="pt-90 pb-44 pl-20 pr-20">
    <div class="row">
        <div class="col-md-10 p-0">
            <h5 class="m-0 roboto f-400 pb-10 f-16">Select an investor from the search box below...</h5>
            <mat-form-field>
                <input matInput class="form-control">
            </mat-form-field>
        </div>
    </div>
    <h5 class="m-0 roboto f-500 pt-60 pb-10">Following are the details of Aditya Rahul Jain</h5>
    <div class="ba-light">
        <div class="row pt-6 pb-6 bb">
            <div class="col-md-5 pl-8 pr-0">
                <p class="m-0 roboto f-400">Full name</p>

            </div>
            <div class="col-md-1">
                <span>:</span>
            </div>

            <div class="col-md-6">
                <p class="m-0 roboto f-400"> Aditya Rahul Jain</p>
            </div>
        </div>
        <div class="row pt-6 pb-6 bb">
            <div class="col-md-5 pl-8 pr-0">
                <p class="m-0 roboto f-400">Date of birth</p>
            </div>
            <div class="col-md-1">
                <span>:</span>
            </div>
            <div class="col-md-6">
                <p class="m-0 roboto f-400"> 23/09/2010</p>
            </div>
        </div>
        <div class="row pt-6 pb-6 bb">
            <div class="col-md-5 pl-8 pr-0">
                <p class="m-0 roboto f-400">PAN</p>
            </div>
            <div class="col-md-1">
                <span>:</span>
            </div>
            <div class="col-md-6">
                <p class="m-0 roboto f-400"> AANDH9075G</p>
            </div>
        </div>
        <div class="row pt-6 pb-6 bb">
            <div class="col-md-5 pl-8 pr-0">
                <p class="m-0 roboto f-400">KYC Status</p>
            </div>
            <div class="col-md-1">
                <span>:</span>
            </div>
            <div class="col-md-6">
                <p class="m-0 roboto f-400"> Not Verified</p>
            </div>
        </div>
        <div class="row pt-6 pb-6 bb">
            <div class="col-md-5 pl-8 pr-0">
                <p class="m-0 roboto f-400">Mobile number</p>
            </div>
            <div class="col-md-1">
                <span>:</span>
            </div>
            <div class="col-md-6">
                <p class="m-0 roboto f-400"> +91 9887458745</p>
            </div>
        </div>
        <div class="row pt-6 pb-6">
            <div class="col-md-5 pl-8 pr-0">
                <p class="m-0 roboto f-400">Email</p>
            </div>
            <div class="col-md-1">
                <span>:</span>
            </div>
            <div class="col-md-6">
                <p class="m-0 roboto f-400"> adityarjain@gmail.com</p>
            </div>
        </div>
    </div>
    <div class="mt-20">
        <button mat-stroked-button class="btn-primary">PREVIEW EMAIL & SEND KYC LINK</button>
    </div>
    <!-- 
    <div class="row">
        <div class="col-md-12 p-0">
            <h3 class="m-0 f-400 roboto">Preview of KYC Link Invitation Email</h3>
        </div>
    </div>
    <div class="row pt-36">
        <div class="col-md-4 pl-0 full-end">
            <h5 class="m-0 roboto f-400">From </h5>
        </div>
        <div class="col-md-8 p-0" id="new-mail-chips">
            <mat-form-field class="form-control h-auto">
                <mat-chip-list #chipList aria-label="Fruit selection">
                    <mat-chip *ngFor="let fruit of fruits" [selectable]="selectable" [removable]="removable"
                        (removed)="remove(fruit)">
                        {{fruit.name}}
                        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                    </mat-chip>
                    <input [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                        [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)" class="b-0">
                </mat-chip-list>
            </mat-form-field>
        </div>
    </div>
    <div class="row pt-24">
        <div class="col-md-4 pl-0 full-end">
            <h5 class="m-0 roboto f-400">To </h5>
        </div>
        <div class="col-md-8 p-0">
            <mat-form-field>
                <input matInput class="form-control">
            </mat-form-field>
        </div>
    </div>
    <div class="row pt-24">
        <div class="col-md-4 pl-0 full-end">
            <h5 class="m-0 roboto f-400">Subject </h5>
        </div>
        <div class="col-md-8 p-0">
            <mat-form-field>
                <input matInput class="form-control">
            </mat-form-field>
        </div>
    </div>
    <div class="row pt-24">
        <div class="col-md-12 p-0">
          
        </div>
    </div> -->
</div>
<div class="bottom-fixed wrapper-12 w-50">
    <div class="row">
        <div class="col-md-4">
            <h5 class="mb-0 pt-12 text-white c-p">Close</h5>
        </div>

    </div>
</div>