.advisorHomeBtn {
    width: 150px;
    height: 36px;
    font-size: 14px;
    padding: 0px;
}

#ui-plan-secondhead .mat-tab-link.width70 {
    min-width: 70px !important;
}

#ui-plan-secondhead .mat-tab-link.width120 {
    min-width: 120px !important;
}