#ui-plan-secondhead .mat-tab-link.width70 {
  min-width: 70px !important;
}

#ui-plan-secondhead .mat-tab-link.width120 {
  min-width: 120px !important;
}

#ui-plan-secondhead .mat-tab-link.width110 {
  min-width: 110px !important;
}
