.example-card {
    height: 457px;
}

#uiTransactions .mat-tab-link.active {
    background-color: transparent !important;
    border-bottom: 4px solid #008FFF !important;
    color: #008FFF !important;
}

#uiTransactions .mat-tab-link {
    color: #595252 !important;
    border-bottom: 4px solid transparent;
    width: 120px;
    background: transparent !important;
    font-family: "roboto" !important;
    letter-spacing: 0.75px !important;
}

#uiTransactions .mat-tab-link.kycWidth {
    min-width: 50px !important;
    width: 50px !important;
}

#uiTransactions .mat-tab-link.transactionsWidth {
    width: 150px !important;
}

@media screen and (max-width: 767px) {
    .mobuiTransactions {
        .mob50 {
            width: 50%;
            padding-right: 15px !important;
            .mobile_traMenu {
                display: flex;
                justify-content: flex-end;
                margin-top: 7px;
                .mat-tab-links {
                    display: block !important;
                }
            }
        }
    }
}