<table mat-table [appSkeletonLoading]="isLoading" appSkeletonLoading [dataSource]="dataSource" id="table-low"
    class="skeletonAnimation ">

    <!-- Position Column -->
    <ng-container matColumnDef="financialYear">
        <th class="br-grey f-400 f-14" mat-header-cell *matHeaderCellDef> Financial year
        </th>
        <td class="br-grey f-14" mat-cell *matCellDef="let element">
            <div class="bar">
                {{element.financialYear}}
            </div>
        </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="ageH">
        <th class="br-grey f-400 text-right f-14" mat-header-cell *matHeaderCellDef> Age
            (H)
        </th>
        <td class="br-grey text-right f-14" mat-cell *matCellDef="let element">
            <div class="bar"> {{element.ageH}} </div>
        </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="ageW">
        <th class="br-grey text-right f-400 f-14" mat-header-cell *matHeaderCellDef> Age
            (W)
        </th>
        <td class="br-grey text-right f-14" mat-cell *matCellDef="let element">
            <div class="bar"> {{element.ageW}}</div>
        </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="originalSurplus">
        <th class="br-grey text-right f-400 f-14" mat-header-cell *matHeaderCellDef>
            Original surplus
        </th>
        <td class="br-grey text-right f-14" mat-cell *matCellDef="let element">
            <div class="bar">{{element.originalSurplus}} </div>
        </td>
    </ng-container>

    <ng-container matColumnDef="surplusAllocated">
        <th class="br-grey text-right f-400 f-14" mat-header-cell *matHeaderCellDef>
            Surplus allocated
        </th>
        <td class="br-grey text-right f-14" mat-cell *matCellDef="let element">
            <div class="bar"> {{element.surplusAllocated}}</div>
        </td>
    </ng-container>

    <ng-container matColumnDef="balanceSurplus">
        <th class="br-grey text-right f-400 f-14" mat-header-cell *matHeaderCellDef>
            Balance Surplus
        </th>
        <td class="br-grey text-right f-14 f-400" mat-cell *matCellDef="let element">
            <div class="bar"> {{element.balanceSurplus}} </div>
        </td>
    </ng-container>

    <ng-container matColumnDef="view">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td class="c-p text-primary text-center f-14" mat-cell *matCellDef="let element"
            (click)="openUpperSlider(element)">
            <div class="bar">{{element.view}} Allocate</div>
        </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>