<div class="p-20" [formGroup]="healthInsurance">
    <h5 class="m-0 text-black f-500">Advice on {{showInsurance.heading}} policy</h5>
    <div class="row pt-20">
        <div class="col-md-4 p-0 br-1">
            <p class="m-0 pb-8">Select primary advice<img src="/assets/images/svg/info.svg"></p>
            <mat-radio-group aria-label="Select an option" id="health-radio" formControlName="selectAdvice">
                <mat-radio-button [value]="advice.advice" class="b-ua mt-20" *ngFor="let advice of adviceData"
                    [ngClass]="healthInsurance.get('selectAdvice').value == advice.advice ? 'bu-primary b-a-custom text-primary' : ''">
                    {{advice.advice}}</mat-radio-button>
            </mat-radio-group>
            <!-- <div class="col-md-11 pl-0 pr-24">
                <p class="m-0 text-black pb-8 pt-20">Non financial advice</p>
                <div class="form-group">
                    <mat-form-field>
                        <mat-select class="form-control" formControlName="nominee">
                            <mat-option value="option">Add nominee</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div> -->
        </div>
        <div class="col-md-8 p-0 bl-1">
            <div class="row">
                <div class="col-md-8">
                    <p class="m-0 text-black pb-8">Advice header</p>
                    <div class="form-group">
                        <mat-form-field>
                            <input matInput [value]="healthInsurance.get('selectAdvice').value" class="form-control" formControlName="adviceHeader">
                        </mat-form-field>
                    </div>
                    <p class="m-0 text-black pb-8">Advice rationale</p>
                    <div class="form-group">
                        <mat-form-field>
                            <textarea matInput rows="6" class="form-control" formControlName="adviceRationale"></textarea>
                        </mat-form-field>
                    </div>
                    <p class="m-0 text-black pb-8 pt-110">Advice status</p>
                    <div class="form-group">
                        <mat-form-field>
                            <input matInput class="form-control" value="Given"
                                formControlName="adviceStatus">
                        </mat-form-field>
                    </div>
                    <p class="m-0">Consent option<img src="/assets/images/svg/info.svg"></p>
                    <mat-radio-group aria-label="Select an option" formControlName="consent">
                        <mat-radio-button value="1">Take client consent <button mat-stroked-button
                                class="btn-primary-outline btn-xs h-20 f-12">RECOMMENDED</button></mat-radio-button>
                        <p class="f-12 roboto text-custom">If this option is selected, further action on this advice is
                            possible only after your client
                            gives explicit consent via email.</p>
                        <mat-checkbox>Create a linked task</mat-checkbox>
                    </mat-radio-group>
                    <mat-radio-group aria-label="Select an option" class="pt-20" formControlName="bypassConsent">
                        <mat-radio-button value="1">Bypass client consent</mat-radio-button>
                        <p class="f-12 roboto text-custom">If this option is selected, you can directly start further
                            work on this advice without taking any explicit consent from your client.</p>
                    </mat-radio-group>

                </div>
                <div class="col-md-4">
                    <p class="m-0 text-black pb-8">Advice header</p>
                    <div class="form-group">
                        <mat-form-field class="ba-date">
                            <input matInput [matDatepicker]="picker" class="form-control b-0"
                                formControlName="adviceHeaderDate">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <p class="m-0 text-black pb-8">Implementation date</p>
                    <div class="form-group">
                        <mat-form-field class="ba-date">
                            <input matInput [matDatepicker]="picker1" class="form-control b-0"
                                formControlName="implementationDate">
                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="row pt-10">
    <div class="col-md-12 text-right">
        <button mat-button class="text-primary"(click)="saveAdviceOnHealth()">SAVE</button>
        <button mat-button (click)="close()">cancel</button>
    </div>
</div>