.height160 {
    height: 160px;
}

::ng-deep .miscellaneousBox .mat-form-field {
    height: auto !important;
}

.text_underLine {
    text-decoration: underline;
}

.shadow {
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2), 0px 4px 5px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.14);
}