<!-- <div *ngIf="showLoader">
    <mat-spinner class="loader" [diameter]="30"></mat-spinner>
    
    <img class="loader" src="https://offerscouponsdeals.in/public/ocd_images/overlay-loader.gif">
</div> -->
<div id="ui-misreport">
    <div class="bg-white pb-36">
        <div *ngIf="sipComponent==true">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="pt-36">SIP</h3>
                </div>
                <div class="col-md-12 right text-right pt-28 pb-28 pr-0">
                    <button mat-stroked-button [matMenuTriggerFor]="menu" class="ba-black br-0">
                        Select option
                        <mat-icon aria-hidden="false" aria-label="Example home icon">keyboard_arrow_down</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item>All</button>
                        <button mat-menu-item>Broker code</button>
                    </mat-menu>
                </div>
                <div class="pt-20 pr-0">
                    <div class="row ">
                        <div class="col-md-9 pl-0">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="bg-aum pt-24 pb-24 text-center br-2 height180">

                                        <h1 class="text-white f-44 f-300 pt-32">Cr
                                        </h1>
                                        <p class="f-16 pt-4 text-white">TOTAL SIP BOOK</p>

                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="bg-foliocount br-2 height180 pr-20 pl-12">

                                        <div class="row pt-12">
                                            <div class="col-md-5 text-left p-0" *ngIf="sipCount">
                                                <div class="pl-12">
                                                    <h1 class="f-24 text-white mb-0 pb-8">{{sipCount.totalCount}}
                                                    </h1>
                                                    <p class="f-12 text-white mb-0">SIP Count</p>
                                                </div>
                                            </div>
                                            <div class="col-md-7 p-0 text-right" *ngIf="sipCount">
                                                <h1 class="text-white f-24 mb-0 pb-8">{{sipCount.totalAmount}}</h1>
                                                <p class="f-12 mb-0 text-white">Average SIP</p>

                                            </div>
                                            <div class="col-md-12 pr-0">
                                                <div class="pt-20">
                                                    <mat-progress-bar mode="determinate" value="10" class="text-white">
                                                    </mat-progress-bar>
                                                    <p class="text-white f-12 pt-4 mb-0 pb-8">10 % Clients without SIP
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            
                            <div class="col-md-4">
                                <div class="bg-info p-16 br-2 pt-12 height180">
                                    <div class="row">
                                        <div class="col-md-12 p-0">
                                            <div class="text-center">
                                                <h1 class="text-white f-300 f-40 mb-4 pt-8">13.22%</h1>

                                                <p class="text-white f-14 mb-0 pt-12 l-21">Out of 5370 folios, 13.4% (716 folios) are currently linked to financial goals of your clients </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
</div>
                            <div class="col-md-12 row">
                                <p class="pt-12 mb-8 text-muted">Filter Options</p>
                                <button (click)="amcWise('Allsip')">View all Sip</button>
                            </div>
                       
                      <div class="margin-12 mt-0">
                                <div class="row">
                                    <div class=" col-md-3 p-0 ">
                                        <div class="mr-8 bg-white b-a">
                                            <div class="row ">
                                                <div class="col-md-3 pt-12 pl-8">
                                                    <img src="/assets/images/svg/cal.svg">
                                                </div>
                                                <div class="col-md-9 p-0 c-p" (click)="amcWise('amc')">
                                                    <h5 class="mb-0 text-custom pt-16 pb-16 ">Amc wise</h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 pl-0 p-0 ">
                                        <div class="mr-8 bg-white b-a">
                                            <div class="row ">
                                               <div class="col-md-3 pt-12 pl-8 ">
                                                    <img src="/assets/images/svg/cal.svg">
                                                </div>
                                                <!-- (click)="categoryWise('amc')" prod build -->
                                                <div class="col-sm-9 p-0 c-p" (click)="amcWise('scheme')">
                                                    <h5 class="mb-0 text-custom pt-16 pb-16 ">Scheme wise</h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 pl-0 p-0 ">
                                        <div class="mr-8 bg-white b-a">
                                            <div class="row ">
                                               <div class="col-md-3 pt-12 pl-8 ">
                                                    <img src="/assets/images/svg/cal.svg">
                                                </div>
                                                <!-- (click)="categoryWise('client')" prod build -->
                                                <div class="col-md-9 p-0 c-p" (click)="amcWise('client')">
                                                    <h5 class="mb-0 text-custom pt-16 pb-16 ">Client wise</h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 p-0 ">
                                        <div class="bg-white b-a">
                                            <div class="row ">
                                                <div class="col-md-3 pt-12 pl-8">
                                                    <img src="/assets/images/svg/cal.svg">
                                                </div>
                                                <!-- (click)="categoryWise('applicant')"  prod build -->
                                                <div class="col-sm-9 p-0 c-p" (click)="amcWise('applicant')">
                                                    <h5 class="mb-0 text-custom pt-16 pb-16 ">Applicant wise</h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row p-12">
                                <img src="/assets/images/grap.png"
                                    class="w-100 h-365">
                                    <div class="col-md-3 p-0">
                                        <div id="mistabs1">
                                            <mat-tab-group class="h-500 bg-white b-a ">
                                                <mat-tab label="SIP Rejections/Reversals">
                                                    <p class="b-a text-center p-8 mb-0 f-12 text-custom">List of SIP expiring in last 90 days </p>
                                                    <!-- *ngIf="clientTotalAum" prod build -->
                                                    <div class="b-white" *ngIf="rejectionSip">
                                                        <div class="row bb-dotted" *ngFor="let item of rejectionSip">
                                                            <div class="col-md-7 p-0 ">
                                                                <p class="mb-0 f-bold  p-8 ">{{item.schemeName}}|{{item.folioNumber}}</p>
                                                                <p class="mb-0 f-13 p-4 pr-8 text-custom  pt-8">
                                                                    {{item.investorName}}</p>
                                                                    <p>{{item.amount}}</p>
                                                            </div>
                                                            <div class="col-md-5 p-0 ">
                                                                <p class="mb-0 f-13 p-4 pr-8 text-custom  pt-8">
                                                                    {{item.transactionDate | date:'dd/MM/yyyy'}}</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </mat-tab>
                                            </mat-tab-group>
                                        </div>
                                    </div>
                            </div>
    </div>
      <div class="col-md-3 p-0">
                            <div id="mistabs1">
                                <mat-tab-group class="h-500 bg-white b-a ">
                                    <mat-tab label="Expiring SIP">
                                        <!-- *ngIf="clientTotalAum" prod build -->
                                        <div class="b-white" *ngIf="expiringSip">
                                            <div class="row bb-dotted" *ngFor="let item of expiringSip">
                                                <div class="col-md-7 p-0 ">
                                                    <p class="mb-0 f-bold  p-8 ">{{item.schemeName}}|{{item.folioNumber}}</p>
                                                    <p class="mb-0 f-13 p-4 pr-8 text-custom  pt-8">
                                                        {{item.investorName}}</p>
                                                        <p>{{item.sipAmount}}</p>
                                                </div>
                                            </div>

                                        </div>
                                    </mat-tab>
                                    <mat-tab label="Expired SIP ">
                                        <h6 class="f-bold b-a text-center p-12 mb-0 f-14 ">Top AMC</h6>
                                        <div class="b-white " *ngIf="expiringSip">
                                            <div class="row bb-dotted "  *ngFor="let item of expiredSip">
                                                <div class="col-md-7 p-0 ">
                                                    <p class="mb-0 f-bold  p-8 ">{{item.schemeName}}|{{item.folioNumber}}</p>
                                                    <p class="mb-0 f-13 p-4 pr-8 text-custom  pt-8">
                                                        {{item.investorName}}</p>
                                                        <p>{{item.sipAmount}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </mat-tab> 
                                </mat-tab-group>
                            </div>
                        </div>
</div>
</div>
</div>
</div>
</div>
<div *ngIf="sipcomponentWise=='amc'">
    <app-sip-amc-wise></app-sip-amc-wise>
</div>
<div *ngIf="sipcomponentWise=='scheme'">
    <app-sip-scheme-wise></app-sip-scheme-wise>
</div>
<div *ngIf="sipcomponentWise=='client'">
    <app-sip-client-wise></app-sip-client-wise>
</div>
<div *ngIf="sipcomponentWise=='applicant'">
    <app-sip-applicant-wise></app-sip-applicant-wise>
</div>
<div *ngIf="sipcomponentWise=='Allsip'">
    <app-all-sip></app-all-sip>
</div>