.h-22{
    height: 22px !important;
}
::ng-deep .mat-form-field-appearance-standard .mat-form-field-flex {
padding-top: 0px !important;
}

.pos-abs-left40{
    position: absolute;
    left: 40%;
    top: 50%;
}

.op-5{
    opacity: 0.5;
    cursor: wait;
}