::ng-deep {
  .add-transactions {
    input.mat-input-element {
      padding: 11px 0px !important;
    }
  }
}

::ng-deep .mat-progress-spinner circle,
.mat-spinner circle {
  stroke: #008FFF;
}

.ba-Tr {
  border: 1px solid transparent;
}

.radio-border {
  border: 1px solid rgba(25, 25, 25, 0.32) !important;
}

.bor_top_tb_left {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.small-primitive {
  color: #83959D;
  font-size: 12px;
  height: 25px;
  border-color: #83959D;
  line-height: 0;
  padding: 5px;
}

.newAcBtn {
  height: 48px;
  font-size: 18px;
  margin-bottom: 8px;
  color: #ffffff;
  border-radius: 4px !important;
}

.h-111 {
  height: 111px;
}
