.pe-none {
    pointer-events: none;
}

::ng-deep .rightText .mat-sort-header-container {
    display: block !important;
}

::ng-deep .rightText .mat-sort-header-container .mat-sort-header-arrow {
    float: right;
}

::ng-deep .rightText .mat-sort-header-container .mat-sort-header-button {
    float: right;
}

::ng-deep .rightTextHide .mat-sort-header-container {
    display: block !important;
    position: relative;
}

 ::ng-deep .rightTextHide .mat-sort-header-container .mat-sort-header-arrow {
    float: right;
    opacity: 0 !important;
    position: absolute;
    right: 2px;
    width: 100%;
    height: auto;
    min-width: 100%;
    color: transparent;
}

 ::ng-deep .rightTextHide .mat-sort-header-container .mat-sort-header-button {
    float: right;
    text-align: right;
}

.advisorSctionClass {
    width: 30%;
    text-align: left;
    margin-right: 10px;
}