.cash-flow-upperTable {
    #table-low {
        tr.mat-header-row {
            height: 36px !important;
        }
        tr.mat-row {
            height: 32px !important;
            td {
                padding: 0px 8px !important;
            }
        }
    }
}