<div class="popup-header-fix-60">
    <div class="row bb-1">
        <div class="col-md-10 p-0">
            <h4 class="mb-0 wrapper-20">LIfe Insurance - Detailed view</h4>
        </div>
        <div class="col-md-2 text-left">
            <div class="wrapper-12">
                <i class="material-icons c-p pt-8 v-middle" (click)="close()"> clear</i>
            </div>
        </div>
    </div>
</div>

<div class="mt-100 pl-8 pr-8">
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12 p-0">
                    <h4 class="f-16 roboto f-500">Policy details</h4>
                    <div class="insurance-ui bt">
                        <div class="row bb p-8 b-l br">
                            <div class="col-md-8 text-left f-14 roboto p-0">
                                Life assured
                            </div>
                            <div class="col-md-4 text-right f-14 roboto p-0">
                                Rahul Jain
                            </div>
                        </div>
                        <div class="row bb p-8 b-l br">
                            <div class="col-md-8 text-left f-14 roboto p-0">
                                Proposer
                            </div>
                            <div class="col-md-4 text-right f-14 roboto p-0">
                                Aryan Jain
                            </div>
                        </div>
                        <div class="row bb p-8 b-l br">
                            <div class="col-md-8 text-left f-14 roboto p-0">
                                Policy name
                            </div>
                            <div class="col-md-4 text-right f-14 roboto p-0" appFormatNumber>
                                LIC Jeevan Saral
                            </div>
                        </div>
                        <div class="row bb p-8 b-l br">
                            <div class="col-md-8 text-left f-14 roboto p-0">
                                Policy type
                            </div>
                            <div class="col-md-4 text-right f-14 roboto p-0">
                                Money back
                            </div>
                        </div>
                        <div class="row bb p-8 b-l br">
                            <div class="col-md-8 text-left f-14 roboto p-0">
                                Policy number
                            </div>
                            <div class="col-md-4 text-right f-14 roboto p-0" appFormatNumber>
                                9090889898
                            </div>
                        </div>
                        <div class="row bb p-8 b-l br">
                            <div class="col-md-8 text-left f-14 roboto p-0">
                                Commencement date
                            </div>
                            <div class="col-md-4 text-right f-14 roboto p-0" appFormatNumber>
                                23/09/2012
                            </div>
                        </div>

                        <div class="row bb p-8 b-l br">
                            <div class="col-md-8 text-left f-14 roboto p-0">
                                Sum assured
                            </div>
                            <div class="col-md-4 text-right f-14 roboto p-0">
                                8,00,000
                            </div>
                        </div>
                        <div class="row bb p-8 b-l br">
                            <div class="col-md-8 text-left f-14 roboto p-0">
                                Premium amount
                            </div>
                            <div class="col-md-4 text-right f-14 roboto p-0">
                                27,000
                            </div>
                        </div>
                        <div class="row bb p-8 b-l br">
                            <div class="col-md-8 text-left f-14 roboto p-0">
                                Premium frequency
                            </div>
                            <div class="col-md-4 text-right f-14 roboto p-0" appFormatNumber>
                                Yearly
                            </div>
                        </div>
                        <div class="row bb p-8 b-l br">
                            <div class="col-md-8 text-left f-14 roboto p-0">
                                Policy tenure
                            </div>
                            <div class="col-md-4 text-right f-14 roboto p-0">
                                20 years
                            </div>
                        </div>
                        <div class="row bb p-8 b-l br">
                            <div class="col-md-8 text-left f-14 roboto p-0">
                                Premium paying term
                            </div>
                            <div class="col-md-4 text-right f-14 roboto p-0">
                                20 years
                            </div>
                        </div>
                        <div class="row bb p-8 b-l br">
                            <div class="col-md-8 text-left f-14 roboto p-0">
                                Policy status
                            </div>
                            <div class="col-md-4 text-right f-14 roboto p-0">
                                In force
                            </div>
                        </div>
                        <div class="row bb p-8 b-l br">
                            <div class="col-md-8 text-left f-14 roboto p-0">
                                Last unpaid premium
                            </div>
                            <div class="col-md-4 text-right f-14 roboto p-0">
                                -
                            </div>
                        </div>
                        <div class="row bb p-8 b-l br" *ngFor="let data of nominee; let i = index">
                            <div class="col-md-8 text-left f-14 roboto p-0">
                                Current value
                            </div>
                            <div class="col-md-4 text-right f-14 roboto p-0">
                                37,789
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>