<div class="popup-header-fix-60">
    <div class="row bb-1">
        <div class="col-md-10 p-0">
            <h4 class="mb-0 wrapper-20">{{showInsurance}} insurance - Detailed view</h4>
        </div>
        <div class="col-md-2 text-right">
            <div class="wrapper-12">
                <i class="material-icons c-p pt-8 v-middle" (click)="close()"> clear</i>
            </div>
        </div>
    </div>
</div>

<div class="mt-100 pl-8 pb-60 pr-8">
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12 p-0">
                    <h4 class="f-16 roboto f-500">Policy details</h4>
                    <div class="insurance-ui bt">
                        <div class="row bb p-8 b-l br">
                            <div class="col-md-8 text-left f-14 roboto p-0">
                                Life assured
                            </div>
                            <div class="col-md-4 text-right f-14 roboto p-0">
                                {{(_data.lifeAssuredName) ? _data.lifeAssuredName : '-'}}
                            </div>
                        </div>
                        <div class="row bb p-8 b-l br">
                            <div class="col-md-8 text-left f-14 roboto p-0">
                                Proposer
                            </div>
                            <div class="col-md-4 text-right f-14 roboto p-0">
                                {{(_data.familyMemberName) ? _data.familyMemberName : '-'}}
                            </div>
                        </div>
                        <div class="row bb p-8 b-l br">
                            <div class="col-md-8 text-left f-14 roboto p-0">
                                Policy name
                            </div>
                            <div class="col-md-4 text-right f-14 roboto p-0">
                                {{(_data.policyName) ? _data.policyName : '-'}}
                            </div>
                        </div>
                        <div class="row bb p-8 b-l br">
                            <div class="col-md-8 text-left f-14 roboto p-0">
                                Policy type
                            </div>
                            <div class="col-md-4 text-right f-14 roboto p-0">
                                {{(_data.familyMemberName) ? _data.familyMemberName : '-'}}
                            </div>
                        </div>
                        <div class="row bb p-8 b-l br">
                            <div class="col-md-8 text-left f-14 roboto p-0">
                                Policy number
                            </div>
                            <div class="col-md-4 text-right f-14 roboto p-0" >
                                {{(_data.policyNumber) ? _data.policyNumber : '-'}}
                            </div>
                        </div>
                        <div class="row bb p-8 b-l br">
                            <div class="col-md-8 text-left f-14 roboto p-0">
                                Commencement date
                            </div>
                            <div class="col-md-4 text-right f-14 roboto p-0" appFormatNumber>
                                {{(_data.commencementDate ) ?( _data.commencementDate | date:'dd/MM/yyyy')  : '-'}}
                            </div>
                        </div>

                        <div class="row bb p-8 b-l br">
                            <div class="col-md-8 text-left f-14 roboto p-0">
                                Sum assured
                            </div>
                            <div class="col-md-4 text-right f-14 roboto p-0" >
                                    {{(_data.sumAssured) ? '₹' : ''}}<span  appFormatNumber> {{(_data.sumAssured) ? _data.sumAssured : '-'}}</span>
                            </div>
                        </div>
                        <div class="row bb p-8 b-l br">
                            <div class="col-md-8 text-left f-14 roboto p-0">
                                Premium amount
                            </div>
                            <div class="col-md-4 text-right f-14 roboto p-0" appFormatNumber>
                                    {{(_data.premiumAmount) ? '₹' : ''}}<span  appFormatNumber>{{(_data.premiumAmount) ? _data.premiumAmount : '-'}}</span>
                            </div>
                        </div>
                        <div class="row bb p-8 b-l br">
                            <div class="col-md-8 text-left f-14 roboto p-0">
                                Premium frequency
                            </div>
                            <div class="col-md-4 text-right f-14 roboto p-0" >
                                {{(_data.frequency == 1) ? 'Monthly' : (_data.frequency == 2) ? 'Quarterly' : (_data.frequency == 3) ? 'Half yearly' : (_data.frequency == 4) ? 'Yearly' : '-'}}
                            </div>
                        </div>
                        <div class="row bb p-8 b-l br">
                            <div class="col-md-8 text-left f-14 roboto p-0">
                                Policy tenure
                            </div>
                            <div class="col-md-4 text-right f-14 roboto p-0">
                                {{(_data.policyTenure) ? _data.policyTenure : '-'}}
                            </div>
                        </div>
                        <div class="row bb p-8 b-l br">
                            <div class="col-md-8 text-left f-14 roboto p-0">
                                Premium paying term
                            </div>
                            <div class="col-md-4 text-right f-14 roboto p-0">
                                {{(_data.premiumPayingTerm) ? _data.premiumPayingTerm : '-'}}
                            </div>
                        </div>
                        <div class="row bb p-8 b-l br">
                            <div class="col-md-8 text-left f-14 roboto p-0">
                                Policy status
                            </div>
                            <div class="col-md-4 text-right f-14 roboto p-0">
                                {{(_data.policyStatusId == 1) ? 'In force' : (_data.policyStatusId == 2) ? 'Lapsed' : (_data.policyStatusId == 3) ? 'Paid up' : (_data.policyStatusId == 4) ? 'Fully paid up' :  '-'}}
                            </div>
                        </div>
                        <div class="row bb p-8 b-l br">
                            <div class="col-md-8 text-left f-14 roboto p-0">
                                Last unpaid premium
                            </div>
                            <div class="col-md-4 text-right f-14 roboto p-0" >
                                    {{(_data.lastUnpaidPremium) ? '₹' : ''}}<span  appFormatNumber>{{(_data.lastUnpaidPremium) ? _data.lastUnpaidPremium : '-'}}</span>
                            </div>
                        </div>
                        <div class="row bb p-8 b-l br" >
                            <div class="col-md-8 text-left f-14 roboto p-0">
                                Current value
                            </div>
                            <div class="col-md-4 text-right f-14 roboto p-0" >
                                    {{(_data.currentValue) ? '₹' : ''}}<span  appFormatNumber>{{(_data.currentValue == 'Infinity') ? 0 : _data.currentValue}}</span>
                            </div>
                        </div>
                        
                        <div class="row bb p-8 b-l br" >
                            <div class="col-md-8 text-left f-14 roboto p-0">
                                Duration remaining
                            </div>
                            <div class="col-md-4 text-right f-14 roboto p-0" appFormatNumber>
                                {{(_data.durationRemaining) ? _data.durationRemaining : '-'}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" *ngIf="insuranceSubTypeId != 1">
                <div class="col-md-12 p-0 mt-24">
                    <h4 class="f-16 roboto f-500">Loan details</h4>
                    <div class="insurance-ui bt">
                        <div class="row bb p-8 b-l br">
                            <div class="col-md-8 text-left f-14 roboto p-0">
                                Loan available
                            </div>
                            <div class="col-md-4 text-right f-14 roboto p-0" >
                                    {{(_data.loanAvailable) ? '₹' : ''}}<span  appFormatNumber> {{(_data.loanAvailable) ? _data.loanAvailable : '-'}}</span>
                            </div>
                        </div>
                        <div class="row bb p-8 b-l br">
                            <div class="col-md-8 text-left f-14 roboto p-0">
                                Loan taken
                            </div>
                            <div class="col-md-4 text-right f-14 roboto p-0" >
                                    {{(_data.loanTaken) ? '₹' : ''}}<span  appFormatNumber>{{(_data.loanTaken) ? _data.loanTaken : '-'}}</span>
                            </div>
                        </div>
                        <div class="row bb p-8 b-l br">
                            <div class="col-md-8 text-left f-14 roboto p-0">
                                Loan taken on
                            </div>
                            <div class="col-md-4 text-right f-14 roboto p-0" >
                                {{(_data.loanTakenOn) ? (_data.loanTakenOn | date:'dd/MM/yyyy') : '-'}}
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 p-0 mt-24">
                    <h4 class="f-16 roboto f-500">Miscellaneous details</h4>
                    <div class="insurance-ui bt">
                        <div class="row bb p-8 b-l br">
                            <div class="col-md-8 text-left f-14 roboto p-0">
                                Premium payment mode
                            </div>
                            <div class="col-md-4 text-right f-14 roboto p-0" appFormatNumber>
                                {{(_data.premiumPaymentMode == '1') ? 'Cheque' :(_data.premiumPaymentMode == '2') ? 'Cash' : (_data.premiumPaymentMode == '3') ? 'Net banking' : (_data.premiumPaymentMode == '4') ? 'Credit card' : (_data.premiumPaymentMode == '5') ? 'NACH' : (_data.premiumPaymentMode == '6') ? 'ECS' : '-'}}
                            </div>
                        </div>
                        <div class="row bb p-8 b-l br">
                            <div class="col-md-8 text-left f-14 roboto p-0">
                                Advisor name
                            </div>
                            <div class="col-md-4 text-right f-14 roboto p-0" appFormatNumber>
                                {{(_data.advisorName) ? _data.advisorName : '-'}}
                            </div>
                        </div>
                        <div class="row bb p-8 b-l br">
                            <div class="col-md-8 text-left f-14 roboto p-0">
                                Service branch
                            </div>
                            <div class="col-md-4 text-right f-14 roboto p-0" appFormatNumber>
                                {{(_data.serviceBranch) ? (_data.serviceBranch) : '-'}}
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">

            <div class="row">
                <div class="col-md-12 p-0  ">
                    <h4 class="f-16 roboto f-500">Key details</h4>
                    <div class="insurance-ui bt">
                        <div class="row bb p-8 b-l br">
                            <div class="col-md-8 text-left f-14 roboto p-0">
                                Current risk cover
                            </div>
                            <div class="col-md-4 text-right f-14 roboto p-0">
                                    {{(_data.riskCover) ? '₹' : ''}}<span  appFormatNumber> {{(_data.riskCover) ? _data.riskCover : '-'}}</span>
                            </div>
                        </div>
                        <div class="row bb p-8 b-l br" *ngIf="insuranceSubTypeId != 1">
                            <div class="col-md-8 text-left f-14 roboto p-0">
                                Surrender value
                            </div>
                            <div class="col-md-4 text-right f-14 roboto p-0" appFormatNumber>
                                    {{(_data.surrenderValue) ? '₹' : ''}}<span  appFormatNumber> {{(_data.surrenderValue) ? _data.surrenderValue : '-'}}</span>
                            </div>
                        </div>
                        <div *ngIf="insuranceSubTypeId != 1">
                            <div class="row bb p-8 b-l br" *ngFor="let data of nominee; let i = index" >
                                <div bb p-8>
                                        <div class="col-md-8 text-left f-14 roboto p-0">
                                                Nominee {{i+1}}
                                            </div>
                                            <div class="col-md-4 text-right f-14 roboto p-0" appFormatNumber>
                                                {{ data.name }}
                                            </div>
                                </div>
                                <div bb p-8>
                                        <div class="col-md-8 text-left f-14 roboto p-0">
                                                Nominee relation{{i+1}}
                                            </div>
                                            <div class="col-md-4 text-right f-14 roboto p-0" appFormatNumber>
                                                {{ data.relationName }}
                                            </div>
                                </div>
                            </div>
                        </div>
                   

                        <div class="row bb p-8 b-l br" *ngIf="insuranceSubTypeId != 1">
                            <div class="col-md-8 text-left f-14 roboto p-0">
                                Assumed rate
                            </div>
                            <div class="col-md-4 text-right f-14 roboto p-0" appFormatNumber>
                                {{(_data.assumedRate) ? _data.assumedRate : '-'}}
                            </div>
                        </div>
                        <div *ngIf="_data.ulipFundDetails.length > 0 || insuranceSubTypeId != 1">
                                <div class="row bb p-8 b-l br" *ngFor="let data of _data.ulipFundDetails; let i = index">
                                        <div class="row bb p-8 b-l br">
                                                <div class="col-md-8 text-left f-14 roboto p-0">
                                                        Fund name {{i+1}}
                                                    </div>
                                                    <div class="col-md-4 text-right f-14 roboto p-0" appFormatNumber>
                                                        {{ data.fundName }}
                                                    </div>
                                        </div>
                                        <div class="row bb p-8 b-l br">
                                                <div class="col-md-8 text-left f-14 roboto p-0">
                                                        Equity ratio {{i+1}}
                                                    </div>
                                                    <div class="col-md-4 text-right f-14 roboto p-0" appFormatNumber>
                                                        {{ data.equityRatio }}
                                                    </div>
                                        </div>
                                        <div class="row bb p-8 b-l br">
                                                <div class="col-md-8 text-left f-14 roboto p-0">
                                                        Debt ratio {{i+1}}
                                                    </div>
                                                    <div class="col-md-4 text-right f-14 roboto p-0" appFormatNumber>
                                                        {{ data.debtRatio }}
                                                    </div>
                                        </div>
                                        <div class="row bb p-8 b-l br" *ngIf="data.units">
                                                <div class="col-md-8 text-left f-14 roboto p-0">
                                                        Units {{i+1}}
                                                    </div>
                                                    <div class="col-md-4 text-right f-14 roboto p-0" appFormatNumber>
                                                        {{ data.units }}
                                                    </div>
                                        </div>
                                        <div class="row bb p-8 b-l br" *ngIf="data.nav">
                                                <div class="col-md-8 text-left f-14 roboto p-0">
                                                        NAV {{i+1}}
                                                    </div>
                                                    <div class="col-md-4 text-right f-14 roboto p-0" appFormatNumber>
                                                        {{ data.nav }}
                                                    </div>
                                        </div>
                                        <div class="row bb p-8 b-l br" *ngIf="data.fundValue ">
                                                <div class="col-md-8 text-left f-14 roboto p-0">
                                                        Fund value {{i+1}}
                                                    </div>
                                                    <div class="col-md-4 text-right f-14 roboto p-0">
                                                            {{(_data.fundValue) ? '₹' : ''}}<span  appFormatNumber>{{ data.fundValue }}</span>
                                                    </div>
                                        </div>
                                    </div>
                        </div>
                        

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 p-0  mt-24">
                    <h4 class="f-16 roboto f-500">Cash flow</h4>
                    <div class="insurance-ui bt">
                        <div class="row bb p-8 b-l br">
                            <div class="col-md-6 text-left f-14 f-500 roboto p-0">
                                Type
                            </div>
                            <div class="col-md-3 text-right f-500 f-14 roboto p-0">
                                Year
                            </div>
                            <div class="col-md-3 text-right f-500 f-14 roboto p-0">
                                Amount
                            </div>
                        </div>
                        <div *ngIf="cashFlowList.length > 0">
                            <div class="row bb p-8 b-l br" *ngFor="let data of cashFlowList; let i = index">
                                <div class="col-md-6 text-left f-14 roboto p-0">
                                    {{(data.cashFlowType) ? data.cashFlowType : '-'}}
                                </div>
                                <div class="col-md-3 text-right f-14 roboto p-0">
                                    {{(data.cashFlowYear) ? data.cashFlowYear : '-'}}
                                </div>
                                <div class="col-md-3 text-right f-14 roboto p-0" >
                                        {{(_data.cashFlowApproxAmount) ? '₹' : ''}}<span  appFormatNumber>{{(data.cashFlowApproxAmount) ? data.cashFlowApproxAmount : '-'}}</span>
                                </div>
                            </div>
                        </div>
                        
                        <div *ngIf="cashFlowList.length == 0" class="text-center">
                            <p>No data found</p>
                        </div>

                        <!-- <div class="row bb p-8 b-l br">
                            <div class="col-md-6 text-left f-14 roboto p-0">
                                Survival benefit
                            </div>
                            <div class="col-md-3 text-right f-14 roboto p-0">
                                {{(_data.lastUnpaidPremium) ? _data.lastUnpaidPremium : '-'}}
                            </div>
                            <div class="col-md-3 text-right f-14 roboto p-0">
                                {{(_data.lastUnpaidPremium) ? _data.lastUnpaidPremium : '-'}}
                            </div>
                        </div>

                        <div class="row bb p-8 b-l br">
                            <div class="col-md-6 text-left f-14 roboto p-0">
                                Survival benefit
                            </div>
                            <div class="col-md-3 text-right f-14 roboto p-0">
                                {{(_data.lastUnpaidPremium) ? _data.lastUnpaidPremium : '-'}}
                            </div>
                            <div class="col-md-3 text-right f-14 roboto p-0">
                                {{(_data.lastUnpaidPremium) ? _data.lastUnpaidPremium : '-'}}
                            </div>
                        </div>

                        <div class="row bb p-8 b-l br">
                            <div class="col-md-6 text-left f-14 roboto p-0">
                                Maturity benefit
                            </div>
                            <div class="col-md-3 text-right f-14 roboto p-0">
                                {{(_data.lastUnpaidPremium) ? _data.lastUnpaidPremium : '-'}}
                            </div>
                            <div class="col-md-3 text-right f-14 roboto p-0">
                                {{(_data.lastUnpaidPremium) ? _data.lastUnpaidPremium : '-'}}
                            </div>
                        </div> -->





                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 p-0 mt-24">
                    <h4 class="f-16 roboto f-500">Riders</h4>
                    <div class="insurance-ui bt">
                        <div class="row bb p-8 b-l br">
                            <div class="col-md-8 text-left f-14 roboto p-0">
                                Accidental benefit
                            </div>
                            <div class="col-md-4 text-right f-14 roboto p-0" >
                                    {{(_data.ridersAccidentalBenifits) ? '₹' : ''}}<span  appFormatNumber>{{(_data.ridersAccidentalBenifits) ? _data.ridersAccidentalBenifits : '-'}}</span>
                            </div>
                        </div>
                        <div class="row bb p-8 b-l br">
                            <div class="col-md-8 text-left f-14 roboto p-0">
                                Double accidental benefit
                            </div>
                            <div class="col-md-4 text-right f-14 roboto p-0" >
                                    {{(_data.ridersDoubleAccidentalBenefit) ? '₹' : ''}}<span  appFormatNumber>{{(_data.ridersDoubleAccidentalBenefit) ? _data.ridersDoubleAccidentalBenefit : '-'}}</span>
                            </div>
                        </div>
                        <!-- <div class="row bb p-8 b-l br">
                            <div class="col-md-8 text-left f-14 roboto p-0">
                                Term waiver
                            </div>
                            <div class="col-md-4 text-right f-14 roboto p-0" appFormatNumber>
                                {{(_data.ridersTermWaiver) ? _data.ridersTermWaiver : '-'}}
                            </div>
                        </div> -->

                        <div class="row bb p-8 b-l br">
                            <div class="col-md-8 text-left f-14 roboto p-0">
                                Critical illness
                            </div>
                            <div class="col-md-4 text-right f-14 roboto p-0" >
                                    {{(_data.ridersCriticalIllness) ? '₹' : ''}}<span  appFormatNumber>{{(_data.ridersCriticalIllness) ? _data.ridersCriticalIllness : '-'}}</span>
                            </div>
                        </div>
<!-- 
                        <div class="row bb p-8 b-l br">
                            <div class="col-md-8 text-left f-14 roboto p-0">
                                Premium waiver
                            </div>
                            <div class="col-md-4 text-right f-14 roboto p-0" appFormatNumber>
                                {{(_data.ridersPremiumWaiver) ? _data.ridersPremiumWaiver : '-'}}
                            </div>
                        </div>

                        <div class="row bb p-8 b-l br">
                            <div class="col-md-8 text-left f-14 roboto p-0">
                                Female critical illness
                            </div>
                            <div class="col-md-4 text-right f-14 roboto p-0" appFormatNumber>
                                {{(_data.ridersFemaleCriticalIllness) ? _data.ridersFemaleCriticalIllness : '-'}}
                            </div>
                        </div> -->

                    </div>
                </div>
            </div>

        </div>

    </div>
</div>