::ng-deep .createRmBox .mat-form-field-appearance-standard .mat-form-field-flex {
    padding-top: 3px;
}

.eyesPassword {
    position: absolute;
    top: 8px;
    right: 10px;
}

.mapBtn {
    width: 50px;
    height: 25px;
    font-size: 14px;
    padding: 0px;
    line-height: 25px;
    border-radius: 2px !important;
}

.btninvite {
    width: 100%;
    height: 40px;
    border-radius: 2px;
}