<div class="row pt-16 pb-20 setting-activity">
    <div class="col-md-4">
        <button [routerLink]="['/admin/setting/activity/task/template']" routerLinkActive="active-setting-tabs-btn"
            mat-button class="bb-1">Task templates</button>
        <button [routerLink]="['/admin/setting/activity/task/setting']" routerLinkActive="active-setting-tabs-btn"
            mat-button class="bb-1">Task settings</button>
    </div>
    <div class="col-md-8 text-right" *ngIf="!hasError && !isLoading">

        <button mat-stroked-button class="btn-primary " (click)="addNewTaskTemplate()" *ngIf="taskList"> ADD
            NEW</button>
    </div>
</div>
<router-outlet></router-outlet>