<div class="folio-mapping-box" style="position: relative; top: -125px">
    <div class="row h-60">
        <div class="col-md-12 d-flex align-items-center">
            <h3 class="m-0">New Component</h3>
        </div>
    </div>
</div>


<div style="margin: 125px">
    <table _ngcontent-esm-c34="" appskeletonloading="" class="mt-16 ng-star-inserted" id="table-low"
        ng-reflect-app-skeleton-loading="false">
        <thead _ngcontent-esm-c34="" class="text-dark">
            <tr _ngcontent-esm-c34="" class="h-40">
                <th _ngcontent-esm-c34="" class="w-10 f-500">Sr No.</th>
                <th _ngcontent-esm-c34="" class="w-20 f-500 c-p"><span _ngcontent-esm-c34=""
                        class="d-flex align-items-center"> Client Name
                        <!--bindings={
    "ng-reflect-ng-if": "false"
  }-->
                        <!--bindings={
    "ng-reflect-ng-if": "false"
  }-->
                    </span></th>
                <th _ngcontent-esm-c34="" class="c-p f-500 w-20"><span _ngcontent-esm-c34=""
                        class="d-flex align-items-center">Asset Type
                        <!--bindings={
    "ng-reflect-ng-if": "false"
  }-->
                        <!--bindings={
    "ng-reflect-ng-if": "false"
  }-->
                    </span></th>
                <th _ngcontent-esm-c34="" class="w-14 text-right f-500">Due Date</th>

            </tr>
        </thead>
        <!--bindings={
    "ng-reflect-ng-for-of": "[object Object],[object Object"
  }-->
        <tbody _ngcontent-esm-c34="" class="ng-star-inserted" style="">
            <tr _ngcontent-esm-c34="">
                <td _ngcontent-esm-c34="">
                    <div _ngcontent-esm-c34="" class="bar"> 1 </div>
                </td>
                <td _ngcontent-esm-c34="">
                    <div _ngcontent-esm-c34="" class="bar"> GAURAV </div>
                </td>
                <td _ngcontent-esm-c34="">
                    <div _ngcontent-esm-c34="" class="bar" ng-reflect-klass="bar" ng-reflect-ng-class="[object Object]">

                        <span _ngcontent-esm-c34="" appformatnumber="" ng-reflect-should-round-off="true"
                            ng-reflect-value="377087064.74">Mutual Funds</span>
                    </div>
                </td>
                <td _ngcontent-esm-c34="" class="text-right">
                    <div _ngcontent-esm-c34="" class="bar" ng-reflect-klass="bar" ng-reflect-ng-class="[object Object]">
                        14/02/2021 </div>
                </td>

            </tr>

        </tbody>
        <tbody _ngcontent-esm-c34="" class="ng-star-inserted" style="">
            <tr _ngcontent-esm-c34="">
                <td _ngcontent-esm-c34="">
                    <div _ngcontent-esm-c34="" class="bar"> 2 </div>
                </td>
                <td _ngcontent-esm-c34="">
                    <div _ngcontent-esm-c34="" class="bar"> PRASAD </div>
                </td>
                <td _ngcontent-esm-c34="">
                    <div _ngcontent-esm-c34="" class="bar" ng-reflect-klass="bar" ng-reflect-ng-class="[object Object]">

                        <span _ngcontent-esm-c34="" appformatnumber="" ng-reflect-should-round-off="true"
                            ng-reflect-value="173577998.76">Stock</span>
                    </div>
                </td>
                <td _ngcontent-esm-c34="" class="text-right">
                    <div _ngcontent-esm-c34="" class="bar" ng-reflect-klass="bar" ng-reflect-ng-class="[object Object]">
                        28/02/2021 </div>
                </td>

            </tr>

        </tbody>
        <tbody _ngcontent-esm-c34="" class="ng-star-inserted" style="">
            <tr _ngcontent-esm-c34="">
                <td _ngcontent-esm-c34="">
                    <div _ngcontent-esm-c34="" class="bar"> 3 </div>
                </td>
                <td _ngcontent-esm-c34="">
                    <div _ngcontent-esm-c34="" class="bar"> RONAK </div>
                </td>
                <td _ngcontent-esm-c34="">
                    <div _ngcontent-esm-c34="" class="bar" ng-reflect-klass="bar" ng-reflect-ng-class="[object Object]">

                        <span _ngcontent-esm-c34="" appformatnumber="" ng-reflect-should-round-off="true"
                            ng-reflect-value="85017657.51">Real Estate</span>
                    </div>
                </td>
                <td _ngcontent-esm-c34="" class="text-right">
                    <div _ngcontent-esm-c34="" class="bar" ng-reflect-klass="bar" ng-reflect-ng-class="[object Object]">
                        1/03/2021 </div>
                </td>
            </tr>

        </tbody>

    </table>
</div>