<div>
    <div class="wrapper-8">
        <!-- <div class="row">
                    <div class="col-md-12 right text-right pt-28 pb-28 pr-0">
                        <button mat-stroked-button [matMenuTriggerFor]="menu" class="ba-black br-0">
                            Overview Report
                            <mat-icon aria-hidden="false" aria-label="Example home icon">keyboard_arrow_down</mat-icon>
                          </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item>Overview Report</button>
                            <button mat-menu-item>Summary</button>
                            <button mat-menu-item>All Transactions</button>
                            <button mat-menu-item>Unrealized Transactions</button>
                            <button mat-menu-item>Capital Gains</button>
                            <button mat-menu-item>Goal Linkage</button>
                        </mat-menu>
                    </div>
                </div> -->

        <div class="row pb-12">
            <div class="col-md-4 pl-0">
                <h4 class="m-0 text-black roboto pt-8">Mutual fund unrealized transactions</h4>
            </div>
            <div class="col-md-8 p-0 d-flex justify-content-end">
                <img class="c-p" src="assets/images/svg/download-bordered.svg">
                <img class="c-p" src="assets/images/svg/three-dot-bordered.svg">
                <img class="c-p mr-12" src="assets/images/svg/up-down.svg">
                <button class="btn-default addon mr-12 v-middle mat-stroked-button mat-button-base"
                    mat-stroked-button="">
                    <span class="mat-button-wrapper"><i class="material-icons">filter_list</i>FILTERS</span>
                    <div class="mat-button-ripple mat-ripple" matripple="" ng-reflect-centered="false"
                        ng-reflect-disabled="false" ng-reflect-trigger="[object HTMLButtonElement]">
                    </div>
                    <div class="mat-button-focus-overlay"></div>
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 pl-0 mb-8">
                <table matSort mat-table [dataSource]="dataSource" id="table-low" class="mutualfunds-capital-equity">
                    <ng-container matColumnDef="categoryName">
                        <th class="br" mat-sort-header="categoryName" mat-header-cell *matHeaderCellDef>
                            Sub category name </th>
                        <td class="br" mat-cell *matCellDef="let element"> {{element.categoryName}} </td>
                        <td mat-footer-cell *matFooterCellDef class="br f-600 p-8 proximaFont text-left">Grand Total
                        </td>

                    </ng-container>

                    <ng-container matColumnDef="amtInvested">
                        <th class="br text-left" mat-sort-header="amtInvested" mat-header-cell *matHeaderCellDef>
                            Amount invested</th>
                        <td class="br text-left" mat-cell *matCellDef="let element" appFormatNumber>
                            {{element.totalTransactionAmt}} </td>
                        <td *matFooterCellDef appFormatNumber class="br f-600 text-right" mat-footer-cell>
                            {{(mutualFund)?this.finalTotalTransactionAmt:'0'}}</td>

                    </ng-container>

                    <ng-container matColumnDef="currentValue">
                        <th class="br text-right" mat-sort-header="currentValue" mat-header-cell *matHeaderCellDef>
                            Current value</th>
                        <td class="br text-right" mat-cell *matCellDef="let element" appFormatNumber>
                            {{element.currentValue}}
                        </td>
                        <td *matFooterCellDef appFormatNumber class="br f-600 text-right" mat-footer-cell>
                            {{(mutualFund)?this.finalCurrentValue:'0'}}</td>

                    </ng-container>
                    <ng-container matColumnDef="dividendPayout">
                        <th class="br text-right" mat-sort-header="dividendPayout" mat-header-cell *matHeaderCellDef>
                            Dividend payout</th>
                        <td class="br text-right" mat-cell *matCellDef="let element" appFormatNumber>
                            {{element.dividendPayout}}
                        </td>
                        <td *matFooterCellDef appFormatNumber class="br f-600 text-right" mat-footer-cell>
                            {{(mutualFund)?this.finalDividendPayout:'0'}}</td>

                    </ng-container>

                    <ng-container matColumnDef="dividendReinvest">
                        <th class="br text-right" mat-sort-header="dividendReinvest" mat-header-cell *matHeaderCellDef>
                            Dividend reinvestment</th>
                        <td class="br text-right" mat-cell *matCellDef="let element" appFormatNumber>
                            {{element.dividendReinvest}}
                        </td>
                        <td *matFooterCellDef appFormatNumber class="br f-600 text-right" mat-footer-cell>
                            {{(mutualFund)?this.finalDivReinvestment:'0'}}</td>

                    </ng-container>

                    <ng-container matColumnDef="gain">
                        <th class="br text-right" mat-sort-header="gain" mat-header-cell *matHeaderCellDef>
                            Gain</th>
                        <td class="br text-right" mat-cell *matCellDef="let element" appFormatNumber>
                            {{element.gain}}
                        </td>
                        <td *matFooterCellDef appFormatNumber class="br f-600 text-right" mat-footer-cell>
                            {{(mutualFund)?this.finalGain:'0'}}</td>

                    </ng-container>

                    <ng-container matColumnDef="absReturn">
                        <th class="br text-right" mat-sort-header="absReturn" mat-header-cell *matHeaderCellDef>
                            Absolute Return%</th>
                        <td class="br text-right" mat-cell *matCellDef="let element" appFormatNumber>
                            {{element.absReturn}}
                        </td>
                        <td *matFooterCellDef appFormatNumber class="br f-600 text-right" mat-footer-cell>
                            {{(mutualFund)?this.finalAbsReturn:'0'}}</td>

                    </ng-container>

                    <ng-container matColumnDef="xirr">
                        <th class="br text-right" mat-sort-header="xirr" mat-header-cell *matHeaderCellDef>
                            Xirr%</th>
                        <td class="br text-right" mat-cell *matCellDef="let element" appFormatNumber>
                            {{element.xirr}}
                        </td>
                        <td *matFooterCellDef appFormatNumber class="br f-600 text-right" mat-footer-cell>
                            {{(mutualFund)?this.finalXirr:'0'}}</td>

                    </ng-container>

                    <ng-container matColumnDef="allocation">
                        <th class="br text-right" mat-sort-header="allocation" mat-header-cell *matHeaderCellDef>
                            Allocation%</th>
                        <td class="br text-right" mat-cell *matCellDef="let element" appFormatNumber>
                            {{element.allocation}}
                        </td>
                        <td *matFooterCellDef appFormatNumber class="br f-600 text-right" mat-footer-cell>
                            {{(mutualFund)?this.finalAllocationPer:'0'}}</td>

                    </ng-container>




                    <tr mat-header-row *matHeaderRowDef="displayedColumns2; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
                    <tr mat-footer-row *matFooterRowDef="displayedColumns2;sticky: true"></tr>


                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 pl-0 mb-8">
                <table matSort mat-table [dataSource]="subCatArray()" id="table-low" class="mutualfunds-capital-equity">
                    <ng-container matColumnDef="no">
                        <th mat-header-cell *matHeaderCellDef class="br">Sr no. </th>
                        <td mat-cell *matCellDef="let element;index as i" class="br">
                            <div class="bar"> {{ i + 1 }} </div>
                        </td>
                        <td *matFooterCellDef class="br  text-right" mat-footer-cell></td>
                    </ng-container>

                    <ng-container matColumnDef="transactionType">
                        <th class="br" mat-sort-header="transactionType" mat-header-cell *matHeaderCellDef> Transaction
                            Type </th>
                        <td class="br" mat-cell *matCellDef="let element"> {{element.fwTransactionType}} </td>
                        <td mat-footer-cell *matFooterCellDef class="br f-600 p-8 proximaFont text-left">Grand Total
                        </td>

                    </ng-container>

                    <ng-container matColumnDef="transactionDate">
                        <th class="br text-right" mat-sort-header="transactionDate" mat-header-cell *matHeaderCellDef>
                            Transaction date</th>
                        <td class="br text-right" mat-cell *matCellDef="let element" appFormatNumber>
                            {{element.transactionDate}} </td>
                        <td *matFooterCellDef appFormatNumber class="br text-right" mat-footer-cell>
                        </td>

                    </ng-container>

                    <ng-container matColumnDef="transactionAmount">
                        <th class="br text-left" mat-sort-header="transactionAmount" mat-header-cell *matHeaderCellDef>
                            Transaction amount</th>
                        <td class="br text-left" mat-cell *matCellDef="let element" appFormatNumber>
                            {{element.amount}} </td>
                        <td *matFooterCellDef appFormatNumber class="br f-600 text-right" mat-footer-cell>
                            {{(mutualFund)?this.finalTotalTransactionAmt:'0'}}</td>

                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="transactionNav">
                        <th class="br text-right" mat-sort-header="transactionNav" mat-header-cell *matHeaderCellDef>
                            Transaction NAV</th>
                        <td class="br text-right" mat-cell *matCellDef="let element" appFormatNumber>
                            {{element.transactionNav}} </td>
                        <td *matFooterCellDef appFormatNumber class="br f-600 text-right" mat-footer-cell>
                            {{(mutualFund)?this.finalTotalNav:'0'}}</td>

                    </ng-container>

                    <ng-container matColumnDef="units">
                        <th class="br text-right" mat-sort-header="units" mat-header-cell *matHeaderCellDef>Units</th>
                        <td class="br text-right" mat-cell *matCellDef="let element" appFormatNumber>
                            {{element.unit}} </td>
                        <td *matFooterCellDef appFormatNumber class="br f-600 text-right" mat-footer-cell>
                            {{(mutualFund)?this.finalTotalUnit:'0'}}</td>

                    </ng-container>

                    <ng-container matColumnDef="currentValue">
                        <th class="br text-right" mat-sort-header="currentValue" mat-header-cell *matHeaderCellDef>
                            Current value</th>
                        <td class="br text-right" mat-cell *matCellDef="let element" appFormatNumber>
                            {{element.currentValue}}
                        </td>
                        <td *matFooterCellDef appFormatNumber class="br f-600 text-right" mat-footer-cell>
                            {{(mutualFund)?this.finalCurrentValue:'0'}}</td>

                    </ng-container>
                    <ng-container matColumnDef="dividendPayout">
                        <th class="br text-right" mat-sort-header="dividendPayout" mat-header-cell *matHeaderCellDef>
                            Dividend payout</th>
                        <td class="br text-right" mat-cell *matCellDef="let element" appFormatNumber>
                            {{element.dividendPayout}}
                        </td>
                        <td *matFooterCellDef appFormatNumber class="br f-600 text-right" mat-footer-cell>
                            {{(mutualFund)?this.finalDividendPayout:'0'}}</td>

                    </ng-container>
                    <ng-container matColumnDef="dividendReinvest">
                        <th class="br text-right" mat-sort-header="dividendReinvest" mat-header-cell *matHeaderCellDef>
                            Dividend reinvestment</th>
                        <td class="br text-right" mat-cell *matCellDef="let element" appFormatNumber>
                            {{element.dividendReinvest}}
                        </td>
                        <td *matFooterCellDef appFormatNumber class="br f-600 text-right" mat-footer-cell>
                            {{(mutualFund)?this.finalDivReinvestment:'0'}}</td>

                    </ng-container>
                    <ng-container matColumnDef="totalAmount">
                        <th class="br text-right" mat-sort-header="totalAmount" mat-header-cell *matHeaderCellDef>
                            Total amount</th>
                        <td class="br text-right" mat-cell *matCellDef="let element" appFormatNumber>
                            {{element.totalAmount}}
                        </td>
                        <td *matFooterCellDef appFormatNumber class="br f-600 text-right" mat-footer-cell>
                            {{(mutualFund)?this.finalTotalAmount:'0'}}</td>

                    </ng-container>

                    <ng-container matColumnDef="gain">
                        <th class="br text-right" mat-sort-header="gain" mat-header-cell *matHeaderCellDef>
                            Gain</th>
                        <td class="br text-right" mat-cell *matCellDef="let element" appFormatNumber>
                            {{element.gain}}
                        </td>
                        <td *matFooterCellDef appFormatNumber class="br f-600 text-right" mat-footer-cell>
                            {{(mutualFund)?this.finalGain:'0'}}</td>

                    </ng-container>

                    <ng-container matColumnDef="absReturn">
                        <th class="br text-right" mat-sort-header="absReturn" mat-header-cell *matHeaderCellDef>
                            Absolute Return%</th>
                        <td class="br text-right" mat-cell *matCellDef="let element" appFormatNumber>
                            {{element.absReturn}}
                        </td>
                        <td *matFooterCellDef appFormatNumber class="br f-600 text-right" mat-footer-cell>
                            {{(mutualFund)?this.finalAbsReturn:'0'}}</td>

                    </ng-container>

                    <ng-container matColumnDef="xirr">
                        <th class="br text-right" mat-sort-header="xirr" mat-header-cell *matHeaderCellDef>
                            Xirr%</th>
                        <td class="br text-right" mat-cell *matCellDef="let element" appFormatNumber>
                            {{element.xirr}}
                        </td>
                        <td *matFooterCellDef appFormatNumber class="br f-600 text-right" mat-footer-cell>
                            {{(mutualFund)?this.finalXirr:'0'}}</td>

                    </ng-container>

                    <ng-container matColumnDef="groupHeader">
                        <td *matCellDef="let group" [attr.colspan]="displayedColumns.length"
                            class="text-center text-primary">
                            {{group.groupName}}</td>
                    </ng-container>

                    <ng-container matColumnDef="groupHeader2">
                        <td *matCellDef="let group" [attr.colspan]="displayedColumns.length">
                            {{group.schemeName}} <p class="text-right">Current NAV:{{group.nav}}</p>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="groupHeader3">
                        <td *matCellDef="let group" [attr.colspan]="displayedColumns.length"
                            class="text-center text-primary">
                            {{group.name}}(PAN:{{group.pan}})|{{group.folio}}</td>
                    </ng-container>

                    <ng-container matColumnDef="groupHeader4">
                        <td *matCellDef="let group" [attr.colspan]="displayedColumns.length" class="text-center f-600">
                            {{group.total}}{{group.totalTransactionAmt}}{{group.totalNav}}{{group.totalUnit}}{{group.totalNav}}{{group.totalCurrentValue}}{{group.dividendPayout}}{{group.divReinvestment}}{{group.totalAmount}}{{group.gain}}{{group.absReturn}}{{group.xirr}}
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    <tr *matRowDef="let row; columns: ['groupHeader']; when: isGroup" mat-row></tr>
                    <tr *matRowDef="let row; columns: ['groupHeader2']; when: isGroup2" mat-row></tr>
                    <tr *matRowDef="let row; columns: ['groupHeader3']; when: isGroup3" mat-row></tr>
                    <tr *matRowDef="let row; columns: ['groupHeader4']; when: isGroup4" mat-row></tr>
                    <tr mat-footer-row *matFooterRowDef="displayedColumns;sticky: true"></tr>


                </table>
            </div>
        </div>



    </div>
</div>