.skeletonAnimation .relClass {
  position: relative;

  .bar {
    background-color: #E7E7E7;
    width: 100%;

    &:after {
      position: absolute;
      transform: translateY(-50%);
      top: 50%;
      left: 0;
      content: "";
      display: block;
      width: 100%;
      height: 24px;
      background-image: linear-gradient(100deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0) 80%);
      background-size: 100px 24px;
      background-position: -10px 0;
      background-repeat: no-repeat;
      animation: loading 1s infinite;
    }
  }
}

.example-viewport {
  height: 200px;
  border: 1px solid black;
}

.zIndex {
  z-index: 0 !important;
}

.wrapper {
  height: 300px;
  //max-height: 300px;
  overflow-y: auto;
}

.tran-height {
  height: 100%;
  max-height: 300px;
  overflow-y: auto;
}

.tran-height-2 {
  height: 100%;
  max-height: 300px;
  overflow-y: auto;
}

.secoundTable {
  height: 300px;
}

.hide {
  display: none;
}

.pdfClass {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: end;
  margin-right: 10px;
}

// ::ng-deep .cdk-virtual-scroll-spacer {
//     height: auto !important;
// }
// .zIndex {
//     z-index: 0 !important;
// }
.nonesticky {
  position: relative !important;
}

// ::ng-deep .mutualfunds-capital-equity#table-low th {
//     top: -1px !important;
// }
// cdk-virtual-scroll-viewport {
//     height: 100%;
//     table {
//         height: 100%;
//         width: 100%;
//         border-collapse: separate;
//         border-spacing: 0;
//         color: #000000;
//         thead tr th {
//             height: 59px;
//             border-bottom: 1px solid #d0d0d0;
//             padding: 7px 20px 7px 7px;
//             position: sticky;
//             background-color: #ffffff;
//             font-weight: bold;
//         }
//         tbody tr td {
//             height: 59px;
//             border-bottom: 1px solid #d0d0d0;
//             padding: 7px 20px 7px 7px;
//         }
//     }
// }
