<div class="pt-100 pr-20 pl-20">
    <div class="row">
        <div class="col-md-8 p-0">
            <h3 class="m-0">Mandates</h3>
        </div>
        <div class="col-md-4 p-0 text-right">
            <img src="/assets/images/svg/download-black.svg" class="b-a p-5">
            <img src="/assets/images/svg/reload.svg" class="b-a p-8">
            <button mat-stroked-button class="btn-default addon ml-12 mr-12 v-middle"><i
                    class="material-icons">filter_list</i>FILTERS</button>
            <button mat-stroked-button class="btn-primary addon v-middle"><i class="material-icons">add</i>ADD
                NEW</button>
        </div>
    </div>
</div>