<div *ngIf="page==1" class="guideBox guideBackground">
  <div class="headerGuideBox bg-grey lter">
    <!-- <div class="row">
      <div class="col-md-6">
        <img class="c-p" src="/assets/images/svg/left-arrows.svg">
      </div>
    </div> -->

    <div class="headerGuidename">
      <h4 class="f-24 roboto">Hey Archit Gupta. </h4>
    </div>
  </div>

  <div class="content-guide">
    <p class="f-16 roboto"> Good to see you!
      <br><br>
      I am here to help you get started with IFANOW. By the end of this short exercise, you’ll be at ease with IFANOW.
      <br><br>
      Remember, we’re in this together!</p>

    <button mat-button (click)="showPageByIndex(2)" class="lets-begin-guide mt-32 btn-primary">
      Let’s begin
      <img src="/assets/images/svg/left-white-arrow.svg">
    </button>

  </div>
</div>

<!-- ----------------------------------- page 2 -------------------------------------- -->


<div *ngIf="page==2" class="guideBox  ">
  <div class="headerGuideBox bg-grey lter">
    <div class="row">
      <div class="col-md-6">
        <img class="c-p  mt-40 ml-20" src="/assets/images/svg/left-arrows.svg">
      </div>
    </div>

    <div class="headerGuidename">
      <h4 class="f-24 roboto">So Archit Gupta, what best describes you? </h4>
    </div>
  </div>

  <div class="content-guide">


  </div>