.guideBackground {
    background: url(/assets/images/svg/guide-bg.svg) no-repeat bottom !important;
    height: 595px;
}

.headerGuideBox {
    height: 199px;
    position: relative;
}

.headerGuidename {
    width: calc(100% - 150px);
    margin: 0px auto 0px;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 15px;
}

.lets-begin-guide {
    width: 164px;
    height: 48px;
    font-size: 18px;
    border-radius: 4px !important;
}

.content-guide {
    width: calc(100% - 150px);
    margin: 20px auto 0px;
}

.headerGuide {
    width: calc(100% - 150px);
    margin: 0px auto;
    
}
.contentGuideBox {
    width: calc(100% - 150px);
    margin: 0px auto;
}

#advisor-dashboard-popup {
    .row{
        margin-right: -15px !important;
    margin-left: -15px !important;
    }

    .posRelative {
        position: relative;
    }
    .headerRow {
        position: absolute;
        bottom: 24px;
    }


.bg-advisor-modal {
    background: url('/assets/images/bg-advsior-modal.png') no-repeat center;
    background-repeat: no-repeat;
    background-position: bottom;
     height: 402px;
  
  }

  .bg-modal-height{
    height: 402px; 
    position: relative;
    .bottomFooterDasb {
        position: absolute;
        bottom: 30px;
        width: calc(100% - 150px);
    }
  }

  .boxDescribes {
    position: relative;
    .bottomPost {
        position: absolute;
        bottom: 20px;
    }
  
  }

  .select-active-border {
    border: 1px solid #83959D;
  }

}

::ng-deep .primaryProgress .mat-progress-bar-fill::after {
    background-color: #008FFF;
}
 
