<div class="row pt-90">
    <div class="col-md-12 text-right">
        <button mat-stroked-button class="text-primary">Manage credentials</button>
        <button mat-button>Client mapping </button>
        <button mat-button>Folio mapping</button>
        <button mat-button>Client settings</button>
        <button mat-button>Empanelled AMCs</button>
    </div>
</div>


<div class="row pt-36">
    <div class="col-md-12 text-right">
        <button mat-stroked-button class="text-primary">ARN/RIA credentials</button>
        <button mat-button>Sub broker/Team member </button>
    </div>
</div>