<div class="dialogclose">
  <div class="row popup-header-fix-100">
    <div class="col-md-2 border-right-1 p-0">
      <img class="pt-8" src="https://res.cloudinary.com/futurewise/image/upload/v1566029063/icons_fakfxf.png">
    </div>
    <div class="col-md-8 p-0">
      <p class="f-16 mb-0 pt-24 text-center" *ngIf="fragmentData.data.flag=='plan' || fragmentData.data==='plan'">Add
        plan details, map
        services/documents
        to the
        selected plan</p>
      <p class="f-16 mb-0 pt-24 text-center" *ngIf="fragmentData.data.flag=='services' || fragmentData.data===''">Add
        fee structure, map
        plans/documents/modules to the selected service</p>
      <p class="f-16 mb-0 pt-24 text-center"
         *ngIf="fragmentData.data.flag=='documents' || fragmentData.data==='documents'">Add documents, map them to
        services/plans</p>
      <p class="f-16 mb-0 pt-24 text-center" *ngIf="fragmentData.data.flag=='clients' || fragmentData.data==='clients'"
         (click)="openClientDetails()">Add fee structure, send
        quotations/invoices, execute documents for the selected client</p>
    </div>
    <div class="col-md-2 text-right">
      <i (click)="dialogClose()" class="material-icons pt-16 c-p pr-16">
        clear
      </i>
    </div>
  </div>
</div>
<div *ngIf="fragmentData&&fragmentData.data.flag==='plan' || fragmentData.data==='plan'" class="row">
  <div class="col-md-12 p-0">
    <mat-tab-group (selectedTabChange)="tabClick($event)" animationDuration="0ms" class="popup-header-fix-tabs"
                   mat-align-tabs="center">
      <mat-tab #tab delay="500" label="OVERVIEW" placement="left" tooltip="tootip on left">
        <ng-template matTabContent>
          <app-overview [componentFlag]='Flag' [upperData]="upperData"></app-overview>
        </ng-template>
      </mat-tab>
      <mat-tab #tab [disabled]='upperData=="plan"' label="SERVICES">
        <ng-template matTabContent>
          <app-services [componentFlag]='services' [planData]="upperData"></app-services>
        </ng-template>
      </mat-tab>
      <mat-tab #tab [disabled]='upperData=="plan"' label="DOCUMENTS">
        <ng-template matTabContent>
          <app-document [componentFlag1]='documents' [upperData]="upperData"></app-document>
        </ng-template>
      </mat-tab>

    </mat-tab-group>
  </div>
</div>
<div *ngIf="fragmentData.data.flag=='services' || fragmentData.data===''" class="row z-value-100">
  <div class="col-md-12 p-0">
    <mat-tab-group (selectedTabChange)="tabClick($event)" [selectedIndex]="selectedServiceTab" animationDuration="0ms"
                   class="popup-header-fix-tabs" mat-align-tabs="center">
      <mat-tab label="FEE STRUCTURE">
        <!--(serviceEvent)="serviceId=$event"-->
        <app-fee-structure [upperData]="upperData"></app-fee-structure>
      </mat-tab>
      <mat-tab #tab [disabled]='upperData==""' label="PLANS">
        <ng-template matTabContent>
          <!--*ngIf="subscriptionTab=='PLANS'"-->
          <app-plans *ngIf="upperData" [componentFlag]='plans' [upperData]="upperData">
          </app-plans>
        </ng-template>
      </mat-tab>
      <mat-tab #tab [disabled]='upperData==""' label="DOCUMENTS">
        <ng-template matTabContent>
          <app-document *ngIf="upperData" [componentFlag1]='servicesDocuments' [upperData]="upperData"></app-document>
        </ng-template>
      </mat-tab>
      <mat-tab #tab [disabled]='upperData==""' label="MODULES">
        <ng-template matTabContent>
          <app-modules *ngIf="subscriptionTab=='MODULES'" [upperData]="upperData"></app-modules>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
<div *ngIf="fragmentData.data.flag=='documents' || fragmentData.data==='documents'" class="row">
  <div class="col-md-12 p-0">
    <mat-tab-group animationDuration="0ms" class="popup-header-fix-tabs" mat-align-tabs="center">
      <mat-tab label="OVERVIEW">
        <ng-template matTabContent>
          <app-overview [upperData]="upperData"></app-overview>
        </ng-template>
      </mat-tab>
      <mat-tab label="PLANS" *ngIf="upperData && upperData.documentData && upperData.documentData.mappedType == 1">
        <ng-template matTabContent>
          <app-plans [componentFlag]='"plans"' [upperData]="upperData"></app-plans>
        </ng-template>
      </mat-tab>
      <mat-tab label="SERVICES" *ngIf="upperData && upperData.documentData && upperData.documentData.mappedType == 2">
        <ng-template matTabContent>
          <app-services [componentFlag]='"services"' [upperData]="upperData"></app-services>
        </ng-template>
      </mat-tab>

    </mat-tab-group>
  </div>
</div>
<div *ngIf="fragmentData.data.flag=='clients' || fragmentData.data==='clients'" class="row">
  <div class="col-md-12 p-0 popup-header-fix-tabs">

    <mat-tab-group (selectedTabChange)="tabClick($event)" [selectedIndex]="selectedServiceTab" animationDuration="0ms"
                   mat-align-tabs="center">

      <mat-tab label="SUBSCRIPTIONS">
        <app-client-upper-subscription [upperData]="fragmentData.data">
        </app-client-upper-subscription>
      </mat-tab>
      <mat-tab label="QUOTATIONS">
        <!--                  <div class="wrapper-20 bg-grey lter heading-fix">-->
        <!--                    <h3 class="m-0 text-center head-common">{{fragmentData.clientData.name}}</h3>-->
        <!--                  </div>-->
        <!--                  <app-quotations-subscription [upperData]="fragmentData.clientData" [screenType]="1"-->
        <!--                                               *ngIf="subscriptionTab=='QUOTATIONS'"></app-quotations-subscription>-->
        <app-quotations *ngIf="subscriptionTab=='QUOTATIONS'" [clientData]="fragmentData.data">
        </app-quotations>
      </mat-tab>
      <mat-tab label="INVOICES">
        <app-invoices *ngIf="subscriptionTab=='INVOICES'" [upperData]="fragmentData.data">
        </app-invoices>
      </mat-tab>
      <mat-tab label="DOCUMENTS">
        <app-document *ngIf="subscriptionTab=='DOCUMENTS'" [clientData]="fragmentData.data"
                      [componentFlag1]='clientDocuments' [upperData]="fragmentData.data">
        </app-document>
      </mat-tab>
      <mat-tab label="SETTINGS">
        <app-settings *ngIf="subscriptionTab=='SETTINGS'" [upperData]="fragmentData.data">
        </app-settings>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>

<app-custom-dialog-container [currentState]="State">

  <!--<div [@upperRightSlider]="State" class="right_sidenav">-->
  <app-add-structure (planOuputData)="upperData=$event" [planData]="upperRightSideInputData.data"
                     *ngIf="rightSliderFlag=='addPlanDetails'"></app-add-structure>
  <app-plan-rightslider [clientData]="fragmentData.data" *ngIf="rightSliderFlag=='planRightSlider'">
  </app-plan-rightslider>
  <app-email-quotation [headerData]="headerData" *ngIf="rightSliderFlag=='eSignQuotations'"></app-email-quotation>
  <app-invoice [data]="upperRightSideInputData.data" [invoiceTab]="rightSliderFlag"
               *ngIf="rightSliderFlag=='invoiceUpperSlider'"></app-invoice>
  <app-payee-settings [data]="upperRightSideInputData" [upperData]="upperData" *ngIf="rightSliderFlag=='payeeSettings'"></app-payee-settings>
  <app-email-quotation [headerDataDocuments]="headerDataDocuments" *ngIf="rightSliderFlag=='eSignDocument'">
  </app-email-quotation>
  <app-create-subscription [data]="upperRightSideInputData" [subFeeMode]="rightSliderFlag"
                           *ngIf="rightSliderFlag=='createSubFixed' || rightSliderFlag=='createSubVariable'"></app-create-subscription>
  <app-add-variable-fee [variableFee]="upperRightSideInputData.data" (outputVariableData)="upperData=$event"
                        *ngIf="rightSliderFlag=='varibleFee'"></app-add-variable-fee>
  <app-add-fixed-fee [fixedFee]="upperRightSideInputData.data" (outputFixedData)="upperData=$event"
                     *ngIf="rightSliderFlag=='fixedFee'"></app-add-fixed-fee>
  <app-add-edit-document [inputData]="upperRightSideInputData.data" *ngIf="rightSliderFlag=='addEditDocument'"
                         [fragmentData]="fragmentData"></app-add-edit-document>
  <app-biller-settings [clientData]="upperRightSideInputData.data" *ngIf="rightSliderFlag=='billerSettings'">
  </app-biller-settings>
  <app-fixed-fee [data]="upperRightSideInputData" *ngIf="rightSliderFlag=='fixedModifyFees'"></app-fixed-fee>
  <app-variable-fee [data]="upperRightSideInputData" *ngIf="rightSliderFlag=='variableModifyFees'"></app-variable-fee>

  <app-change-payee [upperData]="upperRightSideInputData.data" *ngIf="rightSliderFlag=='changePayee'">
  </app-change-payee>
  <app-email-quotation [headerDataInvoice]="headerDataInvoice" *ngIf="rightSliderFlag=='eSignInvoices'">
  </app-email-quotation>
  <app-email-quotation [headerData]="headerData" *ngIf="rightSliderFlag=='emailQuot'"></app-email-quotation>
  <app-email-only [inputData]="upperRightSideInputData.data" *ngIf="rightSliderFlag=='emailOnly'"></app-email-only>
  <app-email-only [inputData]="upperRightSideInputData.data" *ngIf="rightSliderFlag=='emailOnlyDoc'"></app-email-only>
  <app-email-only [inputData]="upperRightSideInputData.data" *ngIf="rightSliderFlag=='emailOnlyInv'"></app-email-only>
  <app-email-only [inputData]="upperRightSideInputData.data" *ngIf="rightSliderFlag=='emailInvoiceFroala'">
  </app-email-only>

  <app-common-froala [data]="upperRightSideInputData.data" *ngIf="rightSliderFlag=='viewQuotation'"
                     [changeFooter]='rightSliderFlag'></app-common-froala>

  <!--  <app-common-froala [data]="upperRightSideInputData.data" *ngIf="rightSliderFlag=='viewQuotation'"></app-common-froala>-->
  <app-common-froala [data]="upperRightSideInputData.data" *ngIf="rightSliderFlag=='viewDocuments'"></app-common-froala>
  <!--  (valueChange)='display($event)'-->
  <!--</div>-->
</app-custom-dialog-container>
