<!--<h1>GAURAV</h1>-->
<div class="dialogclose">
  <div class="row popup-header-fix-100">
    <div class="col-md-2 border-right-1 p-0">
      <img class="pt-8" src="https://res.cloudinary.com/futurewise/image/upload/v1566029063/icons_fakfxf.png">
    </div>
    <div class="col-md-8 p-0">
      <p class="f-16 mb-0 pt-24 text-center" *ngIf="fragmentData.Flag=='plan'">Add plan details, map services/documents to the
        selected plan</p>
      <p class="f-16 mb-0 pt-24 text-center" *ngIf="fragmentData.Flag=='services'">Add fee structure, map plans/documents/modules to the selected service</p>
      <p class="f-16 mb-0 pt-24 text-center" *ngIf="fragmentData.Flag=='documents'">Add documents, map them to services/plans</p>
      <p class="f-16 mb-0 pt-24 text-center" *ngIf="fragmentData.Flag=='clients'">Add fee structure, send quotations/invoices, execute documents for the selected client</p>
    </div>
    <div class="col-md-2 text-right">
      <i (click)="dialogClose()" class="material-icons pt-16 c-p pr-16">
        clear
      </i>
    </div>
  </div>
</div>
<div *ngIf="fragmentData&&fragmentData.Flag==='plan'" class="row">
  <div class="col-md-12 p-0">
    <mat-tab-group (selectedTabChange)="tabClick($event)" animationDuration="0ms" class="popup-header-fix-tabs"
      mat-align-tabs="center">
      <mat-tab #tab delay="500" label="OVERVIEW" placement="left" tooltip="tootip on left">
        <ng-template matTabContent>
          <app-overview [componentFlag]='Flag' [upperData]="upperData"></app-overview>
        </ng-template>
      </mat-tab>
      <mat-tab #tab [disabled]='upperData==""' label="SERVICES">
        <ng-template matTabContent>
          <app-services [componentFlag]='plan' [planData]="upperData"></app-services>
        </ng-template>
      </mat-tab>
      <mat-tab #tab [disabled]='upperData==""' label="DOCUMENTS">
        <ng-template matTabContent>
          <app-document [componentFlag]='documents' [upperData]="upperData"></app-document>
        </ng-template>
      </mat-tab>

    </mat-tab-group>
  </div>
</div>
<div *ngIf="fragmentData.Flag=='services'" class="row z-value-100">
  <div class="col-md-12 p-0">
    <mat-tab-group  (selectedTabChange)="tabClick($event)" [selectedIndex]="selectedServiceTab" animationDuration="0ms"
      class="popup-header-fix-tabs" mat-align-tabs="center">
      <mat-tab label="FEE STRUCTURE">
        <!--(serviceEvent)="serviceId=$event"-->
        <app-fee-structure [upperData]="upperData"></app-fee-structure>
      </mat-tab>
      <mat-tab #tab [disabled]='upperData==""' label="PLANS" >
        <ng-template matTabContent>
          <!--*ngIf="subscriptionTab=='PLANS'"-->
          <app-plans *ngIf="upperData" [componentFlag]='plans' [upperData]="upperData">
          </app-plans>
        </ng-template>
      </mat-tab>
      <mat-tab #tab [disabled]='upperData==""' label="DOCUMENTS">
        <ng-template matTabContent>
          <app-document *ngIf="upperData" [componentFlag]='servicesDocuments' [upperData]="upperData"></app-document>
        </ng-template>
      </mat-tab>
      <mat-tab #tab [disabled]='upperData==""' label="MODULES">
        <ng-template matTabContent>
          <app-modules *ngIf="subscriptionTab=='MODULES'" [upperData]="upperData"></app-modules>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
<div *ngIf="fragmentData.Flag=='documents'" class="row">
  <div class="col-md-12 p-0">
    <mat-tab-group animationDuration="0ms" class="popup-header-fix-tabs" mat-align-tabs="center">
      <mat-tab label="OVERVIEW">
        <ng-template matTabContent>
          <app-overview></app-overview>
        </ng-template>
      </mat-tab>
      <mat-tab label="PLANS">
        <ng-template matTabContent>
          <app-plans></app-plans>
        </ng-template>
      </mat-tab>
      <mat-tab label="SERVICES">
        <ng-template matTabContent>
          <app-services></app-services>
        </ng-template>
      </mat-tab>

    </mat-tab-group>
  </div>
</div>
<div *ngIf="fragmentData.Flag=='clients'" class="row">
  <div class="col-md-12 p-0 popup-header-fix-tabs">

    <mat-tab-group (selectedTabChange)="tabClick($event)" animationDuration="0ms" mat-align-tabs="center">

      <mat-tab label="SUBSCRIPTIONS">
        <app-subscriptions-upper-slider [upperData]="fragmentData.clientData">
        </app-subscriptions-upper-slider>
      </mat-tab>
      <mat-tab label="QUOTATIONS">
        <!--                  <div class="wrapper-20 bg-grey lter heading-fix">-->
        <!--                    <h3 class="m-0 text-center head-common">{{fragmentData.clientData.name}}</h3>-->
        <!--                  </div>-->
        <!--                  <app-quotations-subscription [upperData]="fragmentData.clientData" [screenType]="1"-->
        <!--                                               *ngIf="subscriptionTab=='QUOTATIONS'"></app-quotations-subscription>-->
        <app-quotations *ngIf="subscriptionTab=='QUOTATIONS'" [upperData]="fragmentData.clientData">
        </app-quotations>
      </mat-tab>
      <mat-tab label="INVOICES">
        <app-invoices *ngIf="subscriptionTab=='INVOICES'" [upperData]="fragmentData.clientData">
        </app-invoices>
      </mat-tab>
      <mat-tab label="DOCUMENTS">
        <app-document *ngIf="subscriptionTab=='DOCUMENTS'" [componentFlag]='clientDocuments'
          [upperData]="fragmentData.clientData">
        </app-document>
      </mat-tab>
      <mat-tab label="SETTINGS">
        <app-settings *ngIf="subscriptionTab=='SETTINGS'" [upperData]="fragmentData.clientData">
        </app-settings>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>

<app-custom-dialog-container [currentState]="State">

  <!--<div [@upperRightSlider]="State" class="right_sidenav">-->
  <app-add-structure *ngIf="rightSliderData=='addPlanDetails'"></app-add-structure>
  <app-plan-rightslider [clientData]="fragmentData.clientData" *ngIf="rightSliderData=='planRightSlider'">
  </app-plan-rightslider>
  <app-email-quotation [headerData]="headerData" *ngIf="rightSliderData=='eSignQuotations'"></app-email-quotation>
  <app-invoice [invoiceTab]="rightSliderData" *ngIf="rightSliderData=='invoiceUpperSlider'"></app-invoice>
  <app-payee-settings *ngIf="rightSliderData=='payeeSettings'"></app-payee-settings>
  <app-email-quotation [headerDataDocuments]="headerDataDocuments" *ngIf="rightSliderData=='eSignDocument'">
  </app-email-quotation>
  <app-create-subscription [data]="upperFeesData" *ngIf="rightSliderData=='createSubFixed' || rightSliderData=='createSubVariable'"></app-create-subscription>
  <app-add-variable-fee *ngIf="rightSliderData=='varibleFee'"></app-add-variable-fee>
  <app-add-fixed-fee *ngIf="rightSliderData=='fixedFee'"></app-add-fixed-fee>
  <app-overview-blank-quotation [blankOverview]="blankOverview" *ngIf='blankOverview'></app-overview-blank-quotation>
  <app-biller-settings [upperData]="fragmentData.clientData" *ngIf="rightSliderData=='billerSettings'">
  </app-biller-settings>
  <app-fixed-fee *ngIf="rightSliderData=='fixedModifyFees'"></app-fixed-fee>
  <app-variable-fee *ngIf="rightSliderData=='variableModifyFees'"></app-variable-fee> 

  <app-change-payee [upperData]="fragmentData.clientData" *ngIf="rightSliderData=='changePayee'"></app-change-payee>
  <app-email-quotation [headerDataInvoice]="headerDataInvoice" *ngIf="rightSliderData=='eSignInvoices'">
  </app-email-quotation>
  <app-email-quotation [headerData]="headerData" *ngIf="rightSliderData=='emailQuot'"></app-email-quotation>

  <!--</div>-->
</app-custom-dialog-container>