<div class="row">
    <div class="col-md-10">
        <div class="logo">
            <!-- <img src="/assets/" alt="logo image" /> -->
        </div>
    </div>
    <div class="col-md-2 float-left">
        <mat-icon class="c-p" (click)="close('close')">
            close
        </mat-icon>
    </div>
</div>

<div class="row">
    <div class="col-md-12 text-right">
        <button mat-raised-button color="primary" (click)="addExpense('')">Add {{ data.tableInUse | uppercase }}
        </button>
        <button mat-raised-button color="accent" (click)="toggleEditMode()">EDIT MODE</button>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table mat-table [dataSource]="dataSource" id="table-low" class=" " *ngIf="!showSurplusTable">

            <!--- Note that these columns can be defined in any order.
                              The actual rendered columns are set as a property on the row definition" -->

            <!-- Position Column -->
            <ng-container matColumnDef="description">
                <th class="br-grey f-400 f-14" mat-header-cell *matHeaderCellDef> Description </th>
                <td class="br-grey f-14" mat-cell *matCellDef="let element">
                    Household <i class="material-icons">
                        edit
                    </i>
                </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="month1">
                <th class="br-grey text-right f-400 f-14" mat-header-cell *matHeaderCellDef>
                    Apr-{{ year.slice(-2) }}
                </th>
                <td class="br-grey text-right f-14" mat-cell *matCellDef="let element">
                    {{ element.month1 }}</td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="month2">
                <th class="br-grey text-right f-400 f-14" mat-header-cell *matHeaderCellDef>
                    May-{{ year.slice(-2) }}
                </th>
                <td class="br-grey text-right f-14" mat-cell *matCellDef="let element">
                    {{ element.month2 }} </td>
            </ng-container>

            <ng-container matColumnDef="month3">
                <th class="br-grey text-right f-400 f-14" mat-header-cell *matHeaderCellDef>
                    Jun-{{ year.slice(-2) }}
                </th>
                <td class="br-grey text-right f-14 f-400" mat-cell *matCellDef="let element">
                    {{ element.month3 }} </td>
            </ng-container>

            <ng-container matColumnDef="month4">
                <th mat-header-cell class="br-grey text-right f-400 f-14" *matHeaderCellDef> Jul-{{ year.slice(-2) }}
                </th>
                <td class="br-grey text-right f-14 f-400" mat-cell *matCellDef="let element"
                    (click)="openUpperSlider(element)">
                    {{ element.month4 }} </td>
            </ng-container>

            <ng-container matColumnDef="month5">
                <th mat-header-cell class="br-grey text-right f-400 f-14" *matHeaderCellDef> Aug-{{ year.slice(-2) }}
                </th>
                <td class="br-grey text-right f-14 f-400" mat-cell *matCellDef="let element"
                    (click)="openUpperSlider(element)">
                    {{ element.month5 }} </td>
            </ng-container>

            <ng-container matColumnDef="month6">
                <th mat-header-cell class="br-grey text-right f-400 f-14" *matHeaderCellDef> Sep-{{ year.slice(-2) }}
                </th>
                <td class="br-grey text-right f-14 f-400" mat-cell *matCellDef="let element"
                    (click)="openUpperSlider(element)">
                    {{ element.month6 }} </td>
            </ng-container>

            <ng-container matColumnDef="month7">
                <th mat-header-cell class="br-grey text-right f-400 f-14" *matHeaderCellDef> Oct-{{ year.slice(-2) }}
                </th>
                <td class="br-grey text-right f-14 f-400" mat-cell *matCellDef="let element"
                    (click)="openUpperSlider(element)">
                    {{ element.month7 }} </td>
            </ng-container>

            <ng-container matColumnDef="month8">
                <th mat-header-cell class="br-grey text-right f-400 f-14" *matHeaderCellDef> Nov-{{ year.slice(-2) }}
                </th>
                <td class="br-grey text-right f-14 f-400" mat-cell *matCellDef="let element"
                    (click)="openUpperSlider(element)">
                    {{ element.month8 }} </td>
            </ng-container>

            <ng-container matColumnDef="month9">
                <th mat-header-cell class="br-grey text-right f-400 f-14" *matHeaderCellDef> Dec-{{ year.slice(-2) }}
                </th>
                <td class="br-grey text-right f-14 f-400" mat-cell *matCellDef="let element"
                    (click)="openUpperSlider(element)">
                    {{ element.month9 }}</td>
            </ng-container>

            <ng-container matColumnDef="month10">
                <th mat-header-cell class="br-grey text-right f-400 f-14" *matHeaderCellDef> Jan-{{ year.slice(-2) }}
                </th>
                <td class="br-grey text-right f-14 f-400" mat-cell *matCellDef="let element"
                    (click)="openUpperSlider(element)">
                    {{ element.month10 }} </td>
            </ng-container>

            <ng-container matColumnDef="month11">
                <th mat-header-cell class="br-grey text-right f-400 f-14" *matHeaderCellDef> Feb-{{ year.slice(-2) }}
                </th>
                <td class="br-grey text-right f-14 f-400" mat-cell *matCellDef="let element"
                    (click)="openUpperSlider(element)">
                    {{element.month11}} </td>
            </ng-container>

            <ng-container matColumnDef="month12">
                <th mat-header-cell class="br-grey text-right f-400 f-14" *matHeaderCellDef> Mar-{{ year.slice(-2) }}
                </th>
                <td class="br-grey text-right f-14 f-400" mat-cell *matCellDef="let element"
                    (click)="openUpperSlider(element)">
                    {{ element.month12 }}</td>
            </ng-container>

            <ng-container matColumnDef="total">
                <th mat-header-cell *matHeaderCellDef> Total
                    20{{ year.slice(-2) }}-{{ addOneInYear(year.slice(-2))}} </th>
                <td class="br-grey text-right f-14  " mat-cell *matCellDef="let element"
                    (click)="openUpperSlider(element)">

                    {{ element.total }} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>