<div class="row b-b">
    <div class="col-md-3">
        <div class="logo">
            <img src="/assets/" alt="logo image" />
        </div>
    </div>
    <div class="col-md-7 ">
        <h2 class="text-center f-16 m-0"> Expense 2020 - 21 </h2>
    </div>
    <div class="col-md-2 text-right">
        <button mat-stroked-button (click)="close('close')">
            <mat-icon> close </mat-icon>
        </button>
    </div>
</div>

<div class="row">
    <div class="col-md-12 text-right mb-10 mt-20">
        <button mat-raised-button class="btn-primary addon f-14 mr-16">ADD EXPENSE</button>
        <button mat-raised-button class="greryColorBg">EDIT MODE</button>
    </div>
</div>

<div class="row">
    <div class="col-md-12 cash-flow-upperTable">
        <table mat-table [dataSource]="dataSource" id="table-low" class=" ">
            <ng-container matColumnDef="description">
                <th class="br-grey f-400 f-14" mat-header-cell *matHeaderCellDef> Description </th>
                <td class="br-grey f-14" mat-cell *matCellDef="let element">
                    Household <img src="/assets/images/svg/cash-flow-edit-icon.svg">
                </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="month1">
                <th class="br-grey text-right f-400 f-14" mat-header-cell *matHeaderCellDef>
                    Apr-20
                </th>
                <td class="br-grey text-right f-14" mat-cell *matCellDef="let element">
                    1,20,000 </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="month2">
                <th class="br-grey text-right f-400 f-14" mat-header-cell *matHeaderCellDef>
                    May-20
                </th>
                <td class="br-grey text-right f-14" mat-cell *matCellDef="let element">
                    1,20,000 </td>
            </ng-container>

            <ng-container matColumnDef="month3">
                <th class="br-grey text-right f-400 f-14" mat-header-cell *matHeaderCellDef>
                    Jun-20
                </th>
                <td class="br-grey text-right f-14 f-400" mat-cell *matCellDef="let element">
                    1,20,000 </td>
            </ng-container>

            <ng-container matColumnDef="month4">
                <th mat-header-cell class="br-grey text-right f-400 f-14" *matHeaderCellDef> Jul-20 </th>
                <td class="br-grey text-right f-14 f-400" mat-cell *matCellDef="let element" (click)="openUpperSlider(element)">
                    1,20,000 </td>
            </ng-container>

            <ng-container matColumnDef="month5">
                <th mat-header-cell class="br-grey text-right f-400 f-14" *matHeaderCellDef> Aug-20 </th>
                <td class="br-grey text-right f-14 f-400" mat-cell *matCellDef="let element" (click)="openUpperSlider(element)">
                    1,20,000 </td>
            </ng-container>

            <ng-container matColumnDef="month6">
                <th mat-header-cell class="br-grey text-right f-400 f-14" *matHeaderCellDef> Sep-20 </th>
                <td class="br-grey text-right f-14 f-400" mat-cell *matCellDef="let element" (click)="openUpperSlider(element)">
                    1,20,000 </td>
            </ng-container>

            <ng-container matColumnDef="month7">
                <th mat-header-cell class="br-grey text-right f-400 f-14" *matHeaderCellDef> Oct-20 </th>
                <td class="br-grey text-right f-14 f-400" mat-cell *matCellDef="let element" (click)="openUpperSlider(element)">
                    1,20,000 </td>
            </ng-container>

            <ng-container matColumnDef="month8">
                <th mat-header-cell class="br-grey text-right f-400 f-14" *matHeaderCellDef> Nov-20 </th>
                <td class="br-grey text-right f-14 f-400" mat-cell *matCellDef="let element" (click)="openUpperSlider(element)">
                    1,20,000 </td>
            </ng-container>

            <ng-container matColumnDef="month9">
                <th mat-header-cell class="br-grey text-right f-400 f-14" *matHeaderCellDef> Dec-20 </th>
                <td class="br-grey text-right f-14 f-400" mat-cell *matCellDef="let element" (click)="openUpperSlider(element)">
                    1,20,000 </td>
            </ng-container>

            <ng-container matColumnDef="month10">
                <th mat-header-cell class="br-grey text-right f-400 f-14" *matHeaderCellDef> Jan-21 </th>
                <td class="br-grey text-right f-14 f-400" mat-cell *matCellDef="let element" (click)="openUpperSlider(element)">
                    1,20,000 </td>
            </ng-container>

            <ng-container matColumnDef="month11">
                <th mat-header-cell class="br-grey text-right f-400 f-14" *matHeaderCellDef> Feb-21 </th>
                <td class="br-grey text-right f-14 f-400" mat-cell *matCellDef="let element" (click)="openUpperSlider(element)">
                    1,20,000 </td>
            </ng-container>

            <ng-container matColumnDef="month12">
                <th mat-header-cell class="br-grey text-right f-400 f-14" *matHeaderCellDef> Mar-21 </th>
                <td class="br-grey text-right f-14 f-400" mat-cell *matCellDef="let element" (click)="openUpperSlider(element)">
                    1,20,000 </td>
            </ng-container>

            <ng-container matColumnDef="total">
                <th mat-header-cell *matHeaderCellDef> Total 2020-21 </th>
                <td class="br-grey text-right f-14  " mat-cell *matCellDef="let element" (click)="openUpperSlider(element)">
                    1,20,000 </td>
            </ng-container>

            <ng-container matColumnDef="remove">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td class="br-grey text-right f-14  " mat-cell *matCellDef="let element" (click)="openUpperSlider(element)">
                    1,20,000 </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>