::ng-deep .mat-form-field {
    width: 100%;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-infix {
    padding: 0px;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-suffix .mat-datepicker-toggle-default-icon {
    width: 1.5em !important;
}

::ng-deep .mat-form-field-suffix {
    position: inherit !important;
}

::ng-deep .noneTopPadding .mat-form-field-appearance-standard .mat-form-field-flex {
    padding-top: 0px;
}