<div class="row">
    <div class="col-md-12 p-0 ">
        <h5 class=" mb-8 roboto f-500 d-flex justify-content-between">Market summary <span *ngIf="bscData"
                class="f-12 m-0 text-custom pl-4 pt-4">
                {{bscData.date | date:'dd/MM/yyyy'}} </span></h5>
    </div>

</div>

<div class="pb-12">
    <div class="row">
        <div class="col-md-12 p-0 text-center toggleBtnClass">
            <mat-button-toggle-group class="br0" [value]="selectedVal" #group="matButtonToggleGroup"
                (change)="onValChange(group.value)">
                <mat-button-toggle value="Equities" class=" width75" value="Equities">Equities
                </mat-button-toggle>
                <mat-button-toggle value="Debt" class="  width75" value="Debt">Debt</mat-button-toggle>
                <mat-button-toggle value="C&M" class="  width75" value="C&M">C&M</mat-button-toggle>
            </mat-button-toggle-group>
        </div>
    </div>
</div>
<div *ngIf="selectedVal=='Equities'" class="skeletonAnimation" [appSkeletonLoading]="StockFeedFlag" appSkeletonLoading>
    <div class="row">
        <div class="col-md-5 relClass p-0">
            <div>
                <p class="text-black roboto m-0 pl-4 pb-8 f-300">BSE Sensex</p>
            </div>
        </div>
        <div class="col-md-3 relClass p-0">
            <div [ngClass]="{'height23': StockFeedFlag}" class="bar">
                <p class="m-0 f-400 roboto"
                    [ngClass]="{'greenColor-text': bscData.colourFlag,'text-danger': bscData.colourFlag==false}">
                    {{bscData.change_in_percentage}}%</p>
            </div>
        </div>
        <div class="col-md-4 relClass text-right p-0">
            <div [ngClass]="{'height23': StockFeedFlag}" class="bar">
                <p class="m-0 roboto text-black f-500">₹{{bscData.current_value}}</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-5 relClass p-0">
            <div>
                <p class="text-black roboto m-0 pl-4 pb-8 f-300">Nifty 50</p>
            </div>
        </div>
        <div class="col-md-3 relClass p-0">
            <div [ngClass]="{'height23': StockFeedFlag}" class="bar">
                <p class="m-0 f-400 roboto"
                    [ngClass]="{'greenColor-text': nscData.colourFlag,'text-danger': nscData.colourFlag==false}">
                    {{nscData.change_in_percentage}}%</p>
            </div>
        </div>
        <div class="col-md-4 text-right p-0">
            <div [ngClass]="{'height23': StockFeedFlag}" class="bar">
                <p class="m-0 roboto text-black f-500">₹{{nscData.current_value}}</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-5 relClass p-0">
            <div>
                <p class="text-black m-0 roboto pl-4 pb-8 f-300">Nifty 500</p>
            </div>
        </div>
        <div class="col-md-3 relClass p-0">
            <div [ngClass]="{'height23': StockFeedFlag}" class="bar">
                <p [ngClass]="{'greenColor-text': nifty500Data.colourFlag,'text-danger': nifty500Data.colourFlag==false}"
                    class="m-0 f-400 roboto">{{nifty500Data.change_in_percentage}}</p>
            </div>
        </div>
        <div class="col-md-4 text-right relClass p-0">
            <div [ngClass]="{'height23': StockFeedFlag}" class="bar">
                <p class="m-0 roboto text-black f-500">₹{{nifty500Data.current_value}}</p>
            </div>
        </div>
    </div>

</div>

<div *ngIf="selectedVal=='Debt'" class="skeletonAnimation" [appSkeletonLoading]="deptDataFlag" appSkeletonLoading>
    <div class="row">
        <div class="col-md-5 relClass p-0">
            <div>
                <p class="text-black m-0 roboto pl-4 pb-8 f-300">Dept</p>
            </div>
        </div>
        <div class="col-md-3 relClass p-0">
            <div [ngClass]="{'height23': deptDataFlag}" class="bar">
                <p *ngIf="deptData" class="m-0 roboto f-400"
                    [ngClass]="{'greenColor-text': deptData.colourFlag,'text-danger': deptData.colourFlag==false}">
                    {{deptData.change_in_percentage}}%</p>
            </div>
        </div>
        <div class="col-md-4 relClass text-right p-0">
            <div [ngClass]="{'height23': deptDataFlag}" class="bar">
                <p *ngIf="deptData" class="m-0 roboto text-black f-500">₹{{deptData.current_value}}</p>
            </div>
        </div>

    </div>
</div>

<div class="skeletonAnimation" [appSkeletonLoading]="StockFeedFlag" appSkeletonLoading *ngIf="selectedVal=='C&M'">
    <div class="row">
        <div class="col-md-5 p-0">
            <div>
                <p class="text-black m-0 roboto pl-4 pb-8 f-300">Gold (22 CARAT)</p>
            </div>
        </div>
        <div class="col-md-3 relClass p-0">
            <div [ngClass]="{'height23': StockFeedFlag}" class="bar">
                <p *ngIf="goldData"
                    [ngClass]="{'greenColor-text': goldData.carat_22.colourFlag,'text-danger': goldData.carat_22.colourFlag==false}"
                    class="m-0 f-400 roboto">{{goldData.carat_22.change_in_percentage}}%</p>
            </div>
        </div>
        <div class="col-md-4 relClass text-right p-0">
            <div [ngClass]="{'height23': StockFeedFlag}" class="bar">
                <p *ngIf="goldData" class="m-0 roboto text-black f-500">{{goldData.carat_22.current_value}}</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-5 p-0">
            <div>
                <p class="text-black m-0 pl-4 roboto pb-8 f-300">Gold (24 CARAT)</p>
            </div>
        </div>
        <div class="col-md-3 relClass p-0">
            <div [ngClass]="{'height23': StockFeedFlag}" class="bar">
                <p *ngIf="goldData"
                    [ngClass]="{'greenColor-text': goldData.carat_24.colourFlag,'text-danger': goldData.carat_24.colourFlag==false}"
                    class="m-0 roboto f-400 ">{{goldData.carat_24.change_in_percentage}}%</p>
            </div>
        </div>
        <div class="col-md-4 relClass text-right p-0">
            <div [ngClass]="{'height23': StockFeedFlag}" class="bar">
                <p *ngIf="goldData" class="m-0 roboto text-black f-500">{{goldData.carat_24.current_value}}</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-5 p-0">
            <div>
                <p class="text-black m-0 pl-4 roboto pb-8 f-300">Silver</p>
            </div>
        </div>
        <div class="col-md-3 relClass p-0">
            <div [ngClass]="{'height23': StockFeedFlag}" class="bar">
                <p *ngIf="silverData"
                    [ngClass]="{'greenColor-text': silverData.colourFlag,'text-danger': silverData.colourFlag==false}"
                    class="m-0 f-400 roboto">{{silverData.change_in_percentage}}%</p>
            </div>
        </div>
        <div class="col-md-4 relClass text-right p-0">
            <div [ngClass]="{'height23': StockFeedFlag}" class="bar">
                <p *ngIf="silverData" class="m-0 roboto text-black f-500">{{silverData.current_value}}</p>
            </div>
        </div>
    </div>
</div>