.width75 {
    width: 75px;
    background-color: #F5F7F7;
}

.toggleBtnClass .mat-button-toggle-group-appearance-standard .mat-button-toggle+.mat-button-toggle {
    border-left: 1px solid #83959D;
}

.toggleBtnClass .mat-button-toggle-group-appearance-standard,
.mat-button-toggle-standalone.mat-button-toggle-appearance-standard {
    border: 1px solid #83959D;
}

.toggleBtnClass .mat-button-toggle-checked {
    background-color: #ffffff;
}

.toggleBtnClass .mat-button-toggle-group .mat-button-toggle .mat-button-toggle-button {
    letter-spacing: normal !important;
}