<div class="row pt-20">
    <div class="col-md-12">
        <h5>Manage categories for Non linked task</h5>
    </div>
</div>
<div class="row" id="setting-activity-task-setting">
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-4">
                <ul class="vertical-menu">
                    <li>New lead</li>
                    <li>Miscellaneous</li>
                    <li>Onboarding</li>
                    <li>Documentation</li>
                    <li>Email client</li>
                    <li>+ Add category</li>
                </ul>
            </div>


            <div class="col-md-8 p-0">
                <div class="b-a">
                    <div class="">
                        <div>
                            <div class="row">
                                <div class="col-md-10 pr-0">
                                    <h5 class="m-0 roboto f-400 pt-10">Category</h5>
                                    <mat-form-field>
                                        <input matInput class="form-control">
                                    </mat-form-field>
                                    <h5 class="m-0 roboto f-400 pt-28">Add sub category</h5>
                                    <mat-form-field>

                                        <mat-chip-list #chipList aria-label="Fruit selection">
                                            <mat-chip *ngFor="let fruit of fruits" [selectable]="selectable"
                                                [removable]="removable" (removed)="remove(fruit)">
                                                {{fruit.name}}
                                                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                                            </mat-chip>
                                            <input [matChipInputFor]="chipList"
                                                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                                [matChipInputAddOnBlur]="addOnBlur"
                                                (matChipInputTokenEnd)="add($event)">
                                        </mat-chip-list>
                                    </mat-form-field>
                                    <button mat-button>+ Add sub category</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6"></div>
        </div>
    </div>
</div>