<div class="wrapper-8" [ngClass]="{'hide': finPlanObj?.hideForFinPlan}">
    <div class="row pt-10 pb-28">
        <div class="col-md-8 pl-0" id="custom-toggle">
            <button (click)="getfixedIncomeData('1')"
                [ngClass]="{'mat-stroked-button': showRequring == '1','text-primary':showRequring == '1'}"
                class="br-0 text-custom" mat-button>
                Bank accounts
            </button>
            <button (click)="getfixedIncomeData('2')"
                [ngClass]="{'mat-stroked-button': showRequring == '2','text-primary':showRequring == '2'}"
                class="br-0 text-custom" mat-button>
                Cash in hand
            </button>
        </div>

    </div>
    <div *ngIf="showRequring == '1'">
        <div class="row">
            <div class="col-md-4 p-0">
                <h4 class="m-0 text-black roboto pt-8">Bank accounts</h4>
            </div>
            <div class="col-md-8 p-0  d-flex align-items-center justify-content-end"
                *ngIf="bankAccountList.filteredData.length > 0">
                <div class="p-0 d-flex align-items-center mr-10 justify-content-center mt-8">
                    <mat-spinner [diameter]="30" *ngIf="fragmentData.isSpinner"></mat-spinner>
                </div>
                <a [matMenuTriggerFor]="menu5" class="c-p mr-10 downloadPdfIcon ">
                    <img src="assets/images/svg/download-bordered.svg">
                </a>

                <mat-menu #menu5="matMenu">
                    <button (click)="pdf('template','Bank accounts')" mat-menu-item>PDF</button>
                    <button (click)="Excel('Bank accounts')" mat-menu-item>XLS</button>
                </mat-menu>

                <!-- <a [matMenuTriggerFor]="menu7" class="c-p downloadPdfIcon iconBorderNone">
                    <img src="assets/images/svg/up-down.svg">
                </a>

                <mat-menu #menu7="matMenu"> -->
                <!-- <button mat-menu-item>Upload file
                        <input (change)="fetchData('Bank A/c',$event)" class="uploadInput" id="file-4" multiple
                            type="file">
                    </button> -->
                <!-- </mat-menu> -->

                <!-- <img src="assets/images/svg/three-dot-bordered.svg" [matMenuTriggerFor]="menu6" class="c-p mr-8">
                <mat-menu #menu6="matMenu">
                    <button mat-menu-item>Email Report</button>
                    <button mat-menu-item>Option 2</button>
                    <button mat-menu-item>Option 3</button>
                </mat-menu> -->
                <!-- <button class="btn-default addon mr-8 v-middle" mat-stroked-button><i
                        class="material-icons">filter_list</i>FILTERS
                </button> -->
                <button (click)="openAddEdit(null, 'bankAccount')" class="btn-primary addon v-middle"
                    mat-stroked-button>ADD
                    NEW
                </button>
            </div>
        </div>
        <div [ngClass]="{'table-scroll':isLoading==false }" class="overflow-hidden mt-8 col-md-12 p-0 cash-bank">
            <table #tableEl *ngIf="bankAccountList.filteredData.length > 0" matSort #bankAccountListTable="matSort"
                [dataSource]="bankAccountList" id="tbs" mat-table class="skeletonAnimation" appSkeletonLoading
                [appSkeletonLoading]="isLoading">
                <ng-container matColumnDef="no" sticky>
                    <th mat-sort-header="no" *matHeaderCellDef class="br" mat-header-cell> No</th>
                    <td *matCellDef="let element let i = index" class="br" mat-cell>
                        <div class="bar">{{isLoading ? '' : i + 1 }} </div>
                    </td>
                    <td *matFooterCellDef class=" " mat-footer-cell class="bl-1">
                        <div class="bar"></div>
                    </td>
                </ng-container>
                <ng-container matColumnDef="owner">
                    <th mat-sort-header="ownerName" *matHeaderCellDef class="br w-14" mat-header-cell> Owner</th>
                    <td *matCellDef="let element" class="br" mat-cell>
                        <div class="bar"></div>
                        <div *ngFor="let owner of element.ownerList; let i = index">
                            <span *ngIf="i == 0">{{owner.name}}</span>
                        </div>
                    </td>
                    <td *matFooterCellDef class="br f-600 pr-20 text-right" mat-footer-cell>
                        {{isLoading ? '' : 'Total' }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="type">
                    <th mat-sort-header="accountType" *matHeaderCellDef class="br" mat-header-cell> Account type</th>
                    <td *matCellDef="let element" class="br" mat-cell>
                        <div class="bar"></div>
                        <div *ngFor="let type of accountTypes" [ngSwitch]="element.accountType">
                            <span *ngSwitchCase="type.id">{{type.name}}</span>
                        </div>
                    </td>
                    <td *matFooterCellDef class="br text-right" mat-footer-cell></td>
                </ng-container>
                <ng-container matColumnDef="amt">
                    <th mat-sort-header="balanceAsOn" *matHeaderCellDef class="br text-left" mat-header-cell> Balance as
                        on
                    </th>
                    <td *matCellDef="let element" class="br text-left" mat-cell>
                        <div class="bar"> {{element.balanceAsOn | date:'dd/MM/yyyy'}} </div>
                    </td>
                    <td *matFooterCellDef class="br text-right" mat-footer-cell></td>
                </ng-container>
                <ng-container matColumnDef="rate">
                    <th mat-sort-header="interestRate" *matHeaderCellDef class="br right-hc w-7 hide-arrow"
                        mat-header-cell> Rate
                    </th>
                    <td *matCellDef="let element" class="br text-right" mat-cell>
                        <div class="bar"> {{element.interestRate | number: '1.2-2'}} {{!isLoading? "%" : ""}} </div>
                    </td>
                    <td *matFooterCellDef class="br text-right" mat-footer-cell></td>
                </ng-container>
                <ng-container matColumnDef="bal">
                    <th mat-sort-header="accountBalance" *matHeaderCellDef class="br right-hc w-14 hide-arrow"
                        mat-header-cell>
                        Balance mentioned
                    </th>
                    <td mat-cell *matCellDef="let element" class="br text-right">
                        <div class="bar">{{!isLoading? "₹" : ""}}<span
                                appFormatNumber>{{element.accountBalance }}</span> </div>
                    </td>
                    <td mat-footer-cell class="br text-right f-600 p-8" *matFooterCellDef>
                        <div>{{isLoading ? ' ' : '₹'}}<span [value]="totalAccountBalance"
                                appFormatNumber>{{totalAccountBalance}}</span></div>
                    </td>
                </ng-container>
                <ng-container matColumnDef="account">
                    <th mat-sort-header="account" *matHeaderCellDef class="br textLeft" mat-header-cell> Account number
                    </th>
                    <td *matCellDef="let element" class="br text-left amt" mat-cell>
                        <div class="bar">
                            <div *ngIf="element.accountNo" [ngSwitch]="element.accountNo">
                                <div *ngFor="let bank of clientFamilybankList">
                                    <div *ngSwitchCase="bank.id">{{bank.accountNumber}}</div>
                                </div>
                            </div>
                            <div *ngIf="!element.accountNo">
                                {{'-'}}
                            </div>
                        </div>
                    </td>
                    <td *matFooterCellDef mat-footer-cell></td>
                </ng-container>
                <ng-container matColumnDef="bank">
                    <th mat-sort-header="bankName" *matHeaderCellDef class="br" mat-header-cell> Bank name</th>
                    <td *matCellDef="let element" class="br" mat-cell>
                        <div *ngIf="element.accountNo" [ngSwitch]="element.accountNo">
                            <div *ngFor="let bank of clientFamilybankList">
                                <div *ngSwitchCase="bank.id">{{bank.bankName}}</div>
                            </div>
                        </div>
                        <div *ngIf="!element.accountNo">
                            {{'-'}}
                        </div>
                        <!-- <div class="bar"> {{isLoading ? '' : element.bankName || '-'}} </div> -->
                    </td>
                    <td *matFooterCellDef mat-footer-cell></td>
                </ng-container>
                <ng-container matColumnDef="desc">
                    <th *matHeaderCellDef class="br" mat-header-cell> Description</th>
                    <td *matCellDef="let element" class="br" mat-cell>
                        <div class="bar"> {{isLoading ? '' : element.description || '-'}} </div>
                    </td>
                    <td *matFooterCellDef mat-footer-cell></td>
                </ng-container>
                <ng-container matColumnDef="status">
                    <th mat-sort-header="isActive" *matHeaderCellDef class="br" mat-header-cell> Status</th>
                    <td *matCellDef="let element" class="br text-primary" mat-cell>
                        <div class="bar">{{isLoading ? '' : 'LIVE' }} </div>
                    </td>
                    <td *matFooterCellDef mat-footer-cell></td>
                </ng-container>
                <ng-container matColumnDef="icons" sticky>
                    <th *matHeaderCellDef class="t-2" mat-header-cell></th>
                    <td *matCellDef="let element" [matMenuTriggerFor]="menubank" class="t-2 c-p text-center" mat-cell>

                        <img *ngIf="!isLoading" class="c-p " src="/assets/images/svg/dot-menu.svg">
                        <mat-menu #menubank="matMenu">
                            <button (click)="openAddEdit(element, 'bankAccount')" mat-menu-item>Edit
                            </button>
                            <button (click)="detailedViewbankAccount(element)" mat-menu-item>Detailed view</button>
                            <button mat-menu-item>Upload file
                                <input (change)="fetchData('Bank A/c',$event,element, 30)" class="uploadInput"
                                    id="file-4" multiple type="file">
                            </button>
                            <!-- <button mat-menu-item>Activity</button> -->
                            <button (click)="deleteModal('BANK',element)" mat-menu-item>Delete</button>
                        </mat-menu>

                    </td>
                    <td *matFooterCellDef mat-footer-cell class="br"></td>
                </ng-container>
                <tr *matHeaderRowDef="displayedColumns7; sticky: true" mat-header-row></tr>
                <tr *matRowDef="let row; columns: displayedColumns7;" mat-row></tr>
                <tr *matFooterRowDef="displayedColumns7;sticky: true" [hidden]="isLoading" mat-footer-row></tr>
            </table>
            <div *ngIf="bankAccountList.filteredData.length == 0" class="d-flex mt-60 flex-column align-items-center">
                <img src="assets/images/svg/documents-empty-states.svg">
                <h4 class="text-center mt-12 mb-20">{{noData}}</h4>
                <button (click)="openAddEdit(null, 'bankAccount')" class="btn-primary addon v-middle"
                    mat-stroked-button>ADD NEW
                </button>
            </div>
        </div>
    </div>
    <div *ngIf="showRequring == '2'">
        <div class="row">
            <div class="col-md-4 p-0">
                <h4 class="m-0 text-black roboto pt-8">Cash in hand</h4>
            </div>
            <div class="col-md-8 p-0 d-flex align-items-center justify-content-end"
                *ngIf="cashInHandList.filteredData.length > 0">
                <div class="p-0 mr-10 d-flex align-items-center justify-content-center mt-8">
                    <mat-spinner [diameter]="30" *ngIf="fragmentData.isSpinner"></mat-spinner>
                </div>
                <a [matMenuTriggerFor]="menu5" class="c-p mr-10 downloadPdfIcon ">
                    <img src="assets/images/svg/download-bordered.svg">
                </a>

                <mat-menu #menu5="matMenu">
                    <button (click)="pdf('template1','Cash in hand')" mat-menu-item>PDF</button>
                    <button (click)="Excel('Cash in hand')" mat-menu-item>XLS</button>
                </mat-menu>

                <!-- <a [matMenuTriggerFor]="menu7" class="c-p downloadPdfIcon iconBorderNone">
                    <img src="assets/images/svg/up-down.svg">
                </a> -->

                <!-- <mat-menu #menu7="matMenu"> -->
                <!-- <button mat-menu-item>Upload file
                        <input (change)="fetchData('Cash In Hand',$event)" class="uploadInput" id="file-4" multiple
                            type="file">
                    </button> -->
                <!-- </mat-menu> -->

                <!-- <img src="assets/images/svg/three-dot-bordered.svg" [matMenuTriggerFor]="menu6" class="c-p mr-8">
                <mat-menu #menu6="matMenu">
                    <button mat-menu-item>Email Report</button>
                    <button mat-menu-item>Option 2</button>
                    <button mat-menu-item>Option 3</button>
                </mat-menu> -->
                <!-- <button class="btn-default addon mr-8 v-middle" mat-stroked-button><i
                        class="material-icons">filter_list</i>FILTERS
                </button> -->
                <button (click)="openAddEdit(null, 'cashInHand')" class="btn-primary addon v-middle" mat-stroked-button>
                    ADD NEW
                </button>
            </div>
        </div>
        <div class=" mt-8 overflow-hidden col-md-12 p-0 real-estate">
            <table #tableEl *ngIf="cashInHandList.filteredData.length > 0" matSort #cashInHandListTable="matSort"
                [dataSource]="cashInHandList" id="table-low" mat-table class="skeletonAnimation" appSkeletonLoading
                [appSkeletonLoading]="isLoading">

                <ng-container matColumnDef="no">
                    <th mat-sort-header="no" *matHeaderCellDef class="br w-1" mat-header-cell> No</th>
                    <td *matCellDef="let element let i = index" class="br " mat-cell>
                        <div class="bar"> {{isLoading ? '' : i + 1 }} </div>
                    </td>
                    <td *matFooterCellDef class=" f-500 pl-4 text-left bl-1" mat-footer-cell>
                        <div class="bar"> </div>
                    </td>
                </ng-container>
                <ng-container matColumnDef="owner">
                    <th mat-sort-header="ownerName" *matHeaderCellDef class="br" mat-header-cell> Owner</th>
                    <td *matCellDef="let element" class="br" mat-cell>
                        <div class="bar"></div>
                        <div *ngFor="let owner of element.ownerList; let i = index">
                            <span *ngIf="i == 0">{{owner.name}}</span>
                        </div>
                    </td>
                    <td *matFooterCellDef class="br f-600 pr-20 text-right" mat-footer-cell>
                        {{isLoading ? '' : 'Total' }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="cash">
                    <th mat-sort-header="cashValue" *matHeaderCellDef class="br rightText right-hc hide-arrow"
                        mat-header-cell>
                        Cash balance
                    </th>
                    <td mat-cell *matCellDef="let element" class="br text-right">
                        <div class="bar">{{!isLoading? "₹" : ""}}<span appFormatNumber>{{element.cashValue }}</span>
                        </div>
                    </td>
                    <td mat-footer-cell class="br text-right f-600 p-8" *matFooterCellDef>
                        <div>{{isLoading ? ' ' : '₹'}}<span [value]="sumOfCashValue"
                                appFormatNumber>{{sumOfCashValue}}</span></div>
                    </td>
                </ng-container>
                <ng-container matColumnDef="bal">
                    <th mat-sort-header="balanceAsOn" *matHeaderCellDef class="br text-left" mat-header-cell> Balance as
                        on
                    </th>
                    <td *matCellDef="let element" class="br text-left" mat-cell>
                        <div class="bar"> {{element.balanceAsOn | date:'dd/MM/yyyy'}} </div>
                    </td>
                    <td *matFooterCellDef mat-footer-cell></td>
                </ng-container>

                <ng-container matColumnDef="desc">
                    <th mat-header-cell *matHeaderCellDef class="br w-33"> Description
                    </th>
                    <td mat-cell *matCellDef="let element" class="br">
                        <div class="bar"> {{isLoading ? '' : element.description || '-'}} </div>
                    </td>
                    <td mat-footer-cell *matFooterCellDef> </td>
                </ng-container>
                <ng-container matColumnDef="status">
                    <th mat-sort-header="isActive" mat-header-cell *matHeaderCellDef class="br t-5"> Status </th>
                    <td mat-cell *matCellDef="let element" class="br t-5 text-primary">
                        <div class="bar"> {{isLoading ? '' : 'LIVE' }} </div>
                    </td>
                    <td mat-footer-cell *matFooterCellDef> </td>
                </ng-container>
                <ng-container matColumnDef="icons">
                    <th mat-header-cell *matHeaderCellDef class="t-2"> </th>
                    <td mat-cell *matCellDef="let element" [matMenuTriggerFor]="menubank" class="t-2 c-p text-center">

                        <img *ngIf="!isLoading" class="c-p " src="/assets/images/svg/dot-menu.svg">
                        <mat-menu #menubank="matMenu">
                            <button mat-menu-item (click)="openAddEdit(element, 'cashInHand')">Edit</button>
                            <button (click)="detailedViewCashInHand(element)" mat-menu-item>Detailed
                                view</button>
                            <button mat-menu-item>Upload file
                                <input (change)="fetchData('Cash In Hand',$event,element,30)" class="uploadInput"
                                    id="file-4" multiple type="file">
                            </button>
                            <!-- <button mat-menu-item>Activity</button> -->
                            <button mat-menu-item (click)="deleteModal('CASH IN HAND',element)">Delete</button>
                        </mat-menu>

                    </td>
                    <td mat-footer-cell *matFooterCellDef> </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns8; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns8;"></tr>
                <tr mat-footer-row *matFooterRowDef="displayedColumns8;sticky: true" [hidden]="isLoading"></tr>
            </table>
            <div *ngIf="cashInHandList.filteredData.length == 0" class="d-flex mt-60 flex-column align-items-center">
                <img src="assets/images/svg/documents-empty-states.svg">
                <h4 class="text-center mt-12 mb-20">{{noData}}</h4>
                <button (click)="openAddEdit(null, 'cashInHand')" class="btn-primary addon v-middle"
                    mat-stroked-button>ADD
                    NEW
                </button>
            </div>
        </div>
    </div>
</div>
<!-- -------------------- pdf bank account ---------------------------- -->
<div #bankAccTemp id="template" class="hide" *ngIf="showRequring == '1'">
    <table style="width: 100%;border-collapse: collapse;font-family: Roboto,sans-serif;">
        <tr>
            <td>
                <table style="width: 100%;">
                    <tr>
                        <td style="text-align: left; vertical-align: top; width: 50%; " *ngIf="getOrgData">
                            <div style="width: 200px;"
                                *ngIf="getOrgData && getOrgData.reportLogoUrl != null && getOrgData.reportLogoUrl !='https://res.cloudinary.com/futurewise/image/upload/v1566029063/icons_fakfxf.png' ">
                                <img style="max-width: 100%;" *ngIf="getOrgData" [src]="getOrgData.reportLogoUrl">
                            </div>
                            <div style="width: 200px;"
                                *ngIf="getOrgData && getOrgData.logoUrl != 'https://res.cloudinary.com/futurewise/image/upload/v1566029063/icons_fakfxf.png' && getOrgData.reportLogoUrl == 'https://res.cloudinary.com/futurewise/image/upload/v1566029063/icons_fakfxf.png'">
                                <img style="max-width: 100%;" *ngIf="getOrgData" [src]="getOrgData.logoUrl">
                            </div>
                            <div
                                *ngIf="getOrgData.logoUrl == 'https://res.cloudinary.com/futurewise/image/upload/v1566029063/icons_fakfxf.png' && getOrgData.reportLogoUrl == 'https://res.cloudinary.com/futurewise/image/upload/v1566029063/icons_fakfxf.png'">
                                <span width="200px" style="font-size: 25px;">{{getOrgData.companyName}}</span>
                            </div>
                        </td>
                        <td style=" text-align: right; width: 50%;">
                            <p style="margin: 0px; font-weight: 600; font-size: 20px;padding-top: 12px;"
                                *ngIf="userInfo">
                                {{(getOrgData.companyName) ? getOrgData.companyName : '-'}}</p>
                            <p style="margin: 0px; font-size: 14px;padding-top: 12px;" *ngIf="userInfo"> <strong>
                                    Number: </strong>
                                {{(userInfo.mobileList?.length > 0) ? userInfo.mobileList[0].mobileNo : userInfo.mobile}}
                            </p>
                            <p style="margin: 0px; font-size: 14px;padding-top: 12px;" *ngIf="userInfo"> <strong> Email:
                                </strong>
                                {{getOrgData.email ? getOrgData.email  : userInfo.email}}</p>

                            <p style="margin: 0px; font-size: 14px; margin-bottom: 5px;padding-top: 12px;"> <strong>
                                    Report as on:
                                    {{reportDate | date:'dd-MMM-yyyy' }}</strong>
                            </p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>


        <tr>
            <td style="padding: 10px;"></td>
        </tr>

        <tr>
            <td
                style="font-size: 18px;line-height: 20px;color: #000000 !important;padding-top: 20px;padding-bottom: 20px;">
                Bank accounts</td>
        </tr>

        <tr>
            <td>
                <p style="margin: 0px; font-weight: 600;font-size: 14px;padding-top: 10px; padding-bottom: 10px;"
                    *ngIf="clientData">
                    Client name: {{(clientData.name) ? clientData.name : '-'}}</p>
            </td>
        </tr>

        <tr>
            <td>
                <table style="width: 100%;">
                    <tr style="background-color: #F5F7F7;height: 40px;border: 1px solid #DADCE0;">
                        <td
                            style="padding: 7px 8px;font-weight: 600;font-size: 13px !important;line-height: 16px !important;color: #202020;border-right: 1px solid #DADCE0; border-left: 1px solid #DADCE0; border-bottom: 1px solid #DADCE0; border-top: 1px solid #DADCE0;">
                            No. </td>
                        <td
                            style="padding: 7px 8px;font-weight: 600;font-size: 13px !important;line-height: 16px !important;color: #202020;border-right: 1px solid #DADCE0; border-bottom: 1px solid #DADCE0; border-top: 1px solid #DADCE0;">
                            Owner</td>
                        <td
                            style="padding: 7px 8px;font-weight: 600;font-size: 13px !important;line-height: 16px !important;color: #202020;border-right: 1px solid #DADCE0; border-bottom: 1px solid #DADCE0; border-top: 1px solid #DADCE0;">
                            Account type </td>
                        <td
                            style="padding: 7px 8px;font-weight: 600;font-size: 13px !important;line-height: 16px !important;color: #202020;border-right: 1px solid #DADCE0; border-bottom: 1px solid #DADCE0; border-top: 1px solid #DADCE0;">
                            Balance as
                        </td>
                        <td
                            style="padding: 7px 8px;font-weight: 600;font-size: 13px !important;line-height: 16px !important;color: #202020;border-right: 1px solid #DADCE0; border-bottom: 1px solid #DADCE0; border-top: 1px solid #DADCE0; text-align: right;">
                            Rate </td>
                        <td
                            style="padding: 7px 8px;font-weight: 600;font-size: 13px !important;line-height: 16px !important;color: #202020;border-right: 1px solid #DADCE0; border-bottom: 1px solid #DADCE0; border-top: 1px solid #DADCE0; text-align: right;">
                            Balance mentioned </td>
                        <td
                            style="padding: 7px 8px;font-weight: 600;font-size: 13px !important;line-height: 16px !important;color: #202020;border-right: 1px solid #DADCE0; border-bottom: 1px solid #DADCE0; border-top: 1px solid #DADCE0;">
                            Account number </td>
                        <td
                            style="padding: 7px 8px;font-weight: 600;font-size: 13px !important;line-height: 16px !important;color: #202020;border-right: 1px solid #DADCE0; border-bottom: 1px solid #DADCE0; border-top: 1px solid #DADCE0;">
                            Bank name </td>
                        <td
                            style="padding: 7px 8px;font-weight: 600;font-size: 13px !important;line-height: 16px !important;color: #202020;border-right: 1px solid #DADCE0; border-bottom: 1px solid #DADCE0; border-top: 1px solid #DADCE0;">
                            Description </td>
                        <td
                            style="padding: 7px 8px;font-weight: 600;font-size: 13px !important;line-height: 16px !important;color: #202020;border-right: 1px solid #DADCE0; border-bottom: 1px solid #DADCE0; border-top: 1px solid #DADCE0;">
                            Status </td>

                    </tr>

                    <tr style="border-left: 1px solid #DADCE0;border-bottom: 1px solid #DADCE0;height: 40px !important;"
                        *ngFor="let element of bankAccountList.data ;index as i">
                        <td
                            style="padding: 7px 8px;font-size: 13px !important;line-height: 16px !important;color: #202020;border-right: 1px solid #DADCE0; border-bottom: 1px solid #DADCE0; border-left: 1px solid #DADCE0;">
                            {{i + 1}}</td>
                        <td
                            style="padding: 7px 8px;font-size: 13px !important;line-height: 16px !important;color: #202020;border-right: 1px solid #DADCE0; border-bottom: 1px solid #DADCE0;">
                            <div *ngFor="let owner of element?.ownerList; let i = index">
                                <span *ngIf="i == 0">{{owner.name}}</span>
                            </div>
                        </td>

                        <td
                            style="padding: 7px 8px;font-size: 13px !important;line-height: 16px !important;color: #202020;border-right: 1px solid #DADCE0;text-align: left;  border-bottom: 1px solid #DADCE0;">
                            <div *ngFor="let type of accountTypes" [ngSwitch]="element.accountType">
                                <span *ngSwitchCase="type.id">{{type.name}}</span>
                            </div>
                        </td>
                        <td
                            style="padding: 7px 8px;font-size: 13px !important;line-height: 16px !important;color: #202020;border-right: 1px solid #DADCE0;text-align: left; border-bottom: 1px solid #DADCE0;">
                            {{element.balanceAsOn | date:'dd/MM/yyyy'}}</td>
                        <td
                            style="padding: 7px 8px;font-size: 13px !important;line-height: 16px !important;color: #202020;border-right: 1px solid #DADCE0;text-align: right; border-bottom: 1px solid #DADCE0;">
                            {{element.interestRate | number: '1.2-2'}} {{!isLoading? "%" : ""}}</td>
                        <td
                            style="padding: 7px 8px;font-size: 13px !important;line-height: 16px !important;color: #202020;border-right: 1px solid #DADCE0;text-align: right; border-bottom: 1px solid #DADCE0;">
                            {{!isLoading && element.accountBalance ? "₹" : ""}}<span appFormatNumber
                                [value]="element.accountBalance"></span>
                        </td>
                        <td
                            style="padding: 7px 8px;font-size: 13px !important;line-height: 16px !important;color: #202020;border-right: 1px solid #DADCE0;text-align: left; border-bottom: 1px solid #DADCE0;">
                            <div *ngIf="element.accountNo" [ngSwitch]="element.accountNo">
                                <div *ngFor="let bank of clientFamilybankList">
                                    <div *ngSwitchCase="bank.id">{{bank.accountNumber}}</div>
                                </div>
                            </div>
                            <div *ngIf="!element.accountNo">
                                {{'-'}}
                            </div>
                        </td>
                        <td
                            style="padding: 7px 8px;font-size: 13px !important;line-height: 16px !important;color: #202020;border-right: 1px solid #DADCE0; border-bottom: 1px solid #DADCE0;">
                            <div *ngIf="element.accountNo" [ngSwitch]="element.accountNo">
                                <div *ngFor="let bank of clientFamilybankList">
                                    <div *ngSwitchCase="bank.id">{{bank.bankName}}</div>
                                </div>
                            </div>
                            <div *ngIf="!element.accountNo">
                                {{'-'}}
                            </div>
                        </td>
                        <td
                            style="padding: 7px 8px;font-size: 13px !important;line-height: 16px !important;color: #202020;border-right: 1px solid #DADCE0;border-bottom: 1px solid #DADCE0;">
                            {{element.description ? element.description : '-'}}
                        </td>
                        <td
                            style="padding: 7px 8px;font-size: 13px !important;line-height: 16px !important;color: #202020;border-right: 1px solid #DADCE0;border-bottom: 1px solid #DADCE0;">
                            {{isLoading ? '' : 'LIVE' }}
                        </td>

                    </tr>

                    <tr
                        style="font-weight: 700;border-left: 1px solid #DADCE0;border-bottom: 1px solid #DADCE0;height: 40px !important;">
                        <td
                            style="padding: 7px 8px;font-size: 13px !important;line-height: 16px !important;color: #202020;border-right: 1px solid #DADCE0; border-bottom: 1px solid #DADCE0;">
                        </td>
                        <td style="padding: 7px 8px;font-size: 13px !important;line-height: 16px !important;color: #202020;border-right: 1px solid #DADCE0; border-bottom: 1px solid #DADCE0;"
                            appFormatNumber>Total</td>
                        <td style="padding: 7px 8px;font-size: 13px !important;line-height: 16px !important;color: #202020;border-right: 1px solid #DADCE0;text-align: right; border-bottom: 1px solid #DADCE0;"
                            appFormatNumber></td>
                        <td style="padding: 7px 8px;font-size: 13px !important;line-height: 16px !important;color: #202020;border-right: 1px solid #DADCE0;text-align: right; border-bottom: 1px solid #DADCE0;"
                            appFormatNumber></td>
                        <td style="padding: 7px 8px;font-size: 13px !important;line-height: 16px !important;color: #202020;border-right: 1px solid #DADCE0;text-align: right; border-bottom: 1px solid #DADCE0;"
                            appFormatNumber></td>
                        <td
                            style="padding: 7px 8px;font-size: 13px !important;line-height: 16px !important;color: #202020;border-right: 1px solid #DADCE0;text-align: right; border-bottom: 1px solid #DADCE0;">
                            {{!isLoading && totalAccountBalance ? "₹" : ""}}<span [value]="totalAccountBalance"
                                appFormatNumber>{{totalAccountBalance}}</span>
                        </td>
                        <td
                            style="padding: 7px 8px;font-size: 13px !important;line-height: 16px !important;color: #202020;border-right: 1px solid #DADCE0;text-align: right; border-bottom: 1px solid #DADCE0;">
                        </td>
                        <td
                            style="padding: 7px 8px;font-size: 13px !important;line-height: 16px !important;color: #202020;border-right: 1px solid #DADCE0;text-align: right; border-bottom: 1px solid #DADCE0;">
                        </td>
                        <td
                            style="padding: 7px 8px;font-size: 13px !important;line-height: 16px !important;color: #202020;border-right: 1px solid #DADCE0;text-align: right; border-bottom: 1px solid #DADCE0;">
                        </td>
                        <td
                            style="padding: 7px 8px;font-size: 13px !important;line-height: 16px !important;color: #202020;border-right: 1px solid #DADCE0;text-align: right; border-bottom: 1px solid #DADCE0;">
                        </td>
                    </tr>

                </table>
            </td>
        </tr>






        <tr *ngIf="bankAccountList.data.length == 0 ">
            <td style="text-align: center;text-align: center; padding-top: 12px !important;padding-bottom: 12px !important;line-height: 16px !important;font-size: 14px;border-left: 1px solid #DADCE0;border-right: 1px solid #DADCE0; border-bottom: 1px solid #DADCE0;font-family: Roboto,sans-serif;"
                colspan="9">
                No data found
            </td>
        </tr>
    </table>
</div>
<!-- -------------------- pdf cash in hand ---------------------------- -->
<div #cashInHandTemp id="template1" class="hide" *ngIf="showRequring == '2'">
    <table style="width: 100%;border-collapse: collapse;font-family: Roboto,sans-serif;">
        <tr>
            <td>
                <table style="width: 100%;">
                    <tr>
                        <td style="text-align: left; vertical-align: top;" *ngIf="getOrgData">
                            <div style="width: 200px;"
                                *ngIf="getOrgData && getOrgData.reportLogoUrl != null && getOrgData.reportLogoUrl !='https://res.cloudinary.com/futurewise/image/upload/v1566029063/icons_fakfxf.png' ">
                                <img style="max-width: 100%;" *ngIf="getOrgData" [src]="getOrgData.reportLogoUrl">
                            </div>
                            <div style="width: 200px;"
                                *ngIf="getOrgData && getOrgData.logoUrl != 'https://res.cloudinary.com/futurewise/image/upload/v1566029063/icons_fakfxf.png' && getOrgData.reportLogoUrl == 'https://res.cloudinary.com/futurewise/image/upload/v1566029063/icons_fakfxf.png'">
                                <img style="max-width: 100%;" *ngIf="getOrgData" [src]="getOrgData.logoUrl">
                            </div>
                            <div
                                *ngIf="getOrgData.logoUrl == 'https://res.cloudinary.com/futurewise/image/upload/v1566029063/icons_fakfxf.png' && getOrgData.reportLogoUrl == 'https://res.cloudinary.com/futurewise/image/upload/v1566029063/icons_fakfxf.png'">
                                <span width="200px" style="font-size: 25px;">{{getOrgData.companyName}}</span>
                            </div>
                        </td>
                        <td style=" text-align: right;">
                            <p style="margin: 0px; font-weight: 600; font-size: 20px;padding-top: 12px;"
                                *ngIf="userInfo">
                                {{(getOrgData.companyName) ? getOrgData.companyName : '-'}}</p>
                            <p style="margin: 0px; font-size: 14px;padding-top: 12px;" *ngIf="userInfo"> <strong>
                                    Number: </strong>
                                {{(userInfo.mobileList?.length > 0) ? userInfo.mobileList[0].mobileNo : userInfo.mobile}}
                            </p>
                            <p style="margin: 0px; font-size: 14px;padding-top: 12px;" *ngIf="userInfo"> <strong> Email:
                                </strong>
                                {{getOrgData.email ? getOrgData.email  : userInfo.email}}</p>

                            <p style="margin: 0px; font-size: 14px; margin-bottom: 5px;padding-top: 12px;"> <strong>
                                    Report as on:
                                    {{reportDate | date:'dd-MMM-yyyy' }}</strong>
                            </p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>


        <tr>
            <td style="padding: 10px;"></td>
        </tr>

        <tr>
            <td
                style="font-size: 18px;line-height: 20px;color: #000000 !important;padding-top: 20px;padding-bottom: 20px;">
                Cash in hand</td>
        </tr>
        <tr>
            <td>
                <p style="margin: 0px; font-weight: 600;font-size: 14px;padding-top: 10px; padding-bottom: 10px;"
                    *ngIf="clientData">
                    Client name: {{(clientData.name) ? clientData.name : '-'}}</p>
            </td>
        </tr>

        <tr>
            <td>
                <table style="width: 100%;">



                    <tr style="background-color: #F5F7F7;height: 40px;border: 1px solid #DADCE0;">
                        <td
                            style="padding: 7px 8px;font-weight: 600;font-size: 13px !important;line-height: 16px !important;color: #202020;border-right: 1px solid #DADCE0; border-left: 1px solid #DADCE0; border-top: 1px solid #DADCE0; border-bottom: 1px solid #DADCE0;">
                            No. </td>
                        <td
                            style="padding: 7px 8px;font-weight: 600;font-size: 13px !important;line-height: 16px !important;color: #202020;border-right: 1px solid #DADCE0; border-top: 1px solid #DADCE0; border-bottom: 1px solid #DADCE0;">
                            Owner</td>
                        <td
                            style="padding: 7px 8px;font-weight: 600;font-size: 13px !important;line-height: 16px !important;color: #202020;border-right: 1px solid #DADCE0; border-top: 1px solid #DADCE0; border-bottom: 1px solid #DADCE0; text-align: right;">
                            Cash balance </td>
                        <td
                            style="padding: 7px 8px;font-weight: 600;font-size: 13px !important;line-height: 16px !important;color: #202020;border-right: 1px solid #DADCE0; border-top: 1px solid #DADCE0; border-bottom: 1px solid #DADCE0;">
                            Balance as on
                        </td>
                        <td
                            style="padding: 7px 8px;font-weight: 600;font-size: 13px !important;line-height: 16px !important;color: #202020;border-right: 1px solid #DADCE0; border-top: 1px solid #DADCE0; border-bottom: 1px solid #DADCE0;">
                            Description </td>
                        <td
                            style="padding: 7px 8px;font-weight: 600;font-size: 13px !important;line-height: 16px !important;color: #202020;border-right: 1px solid #DADCE0; border-top: 1px solid #DADCE0; border-bottom: 1px solid #DADCE0;">
                            Status </td>
                    </tr>
                    <tr style="border-left: 1px solid #DADCE0;border-bottom: 1px solid #DADCE0;height: 40px !important;"
                        *ngFor="let element of cashInHandList.data ;index as i">
                        <td
                            style="padding: 7px 8px;font-size: 13px !important;line-height: 16px !important;color: #202020;border-right: 1px solid #DADCE0;   border-bottom: 1px solid #DADCE0; border-left: 1px solid #DADCE0; ">
                            {{i + 1}}</td>
                        <td *ngFor="let owner of element.ownerList; let i = index"
                            style="padding: 7px 8px;font-size: 13px !important;line-height: 16px !important;color: #202020;border-right: 1px solid #DADCE0;  border-bottom: 1px solid #DADCE0;">
                            <span *ngIf="i == 0">{{owner.name}}</span></td>

                        <td
                            style="padding: 7px 8px;font-size: 13px !important;line-height: 16px !important;color: #202020;border-right: 1px solid #DADCE0;text-align: right;  border-bottom: 1px solid #DADCE0;">
                            {{!isLoading && element.cashValue ? "₹" : ""}}<span appFormatNumber
                                [value]="element.cashValue"></span>
                        </td>
                        <td
                            style="padding: 7px 8px;font-size: 13px !important;line-height: 16px !important;color: #202020;border-right: 1px solid #DADCE0;text-align: left; border-bottom: 1px solid #DADCE0; ">
                            {{element.balanceAsOn | date:'dd/MM/yyyy'}} </td>
                        <td
                            style="padding: 7px 8px;font-size: 13px !important;line-height: 16px !important;color: #202020;border-right: 1px solid #DADCE0;text-align: left; border-bottom: 1px solid #DADCE0; ">
                            {{isLoading ? '' : element.description || '-'}} </td>
                        <td
                            style="padding: 7px 8px;font-size: 13px !important;line-height: 16px !important;color: #202020;border-right: 1px solid #DADCE0;text-align: left; border-bottom: 1px solid #DADCE0; ">
                            {{isLoading ? '' : 'LIVE' }}
                        </td>

                    </tr>
                    <tr
                        style="font-weight: 700;border-left: 1px solid #DADCE0;border-bottom: 1px solid #DADCE0;height: 40px !important;">
                        <td
                            style="padding: 7px 8px;font-size: 13px !important;line-height: 16px !important;color: #202020;border-right: 1px solid #DADCE0; border-bottom: 1px solid #DADCE0;  border-left: 1px solid #DADCE0; ">
                        </td>
                        <td
                            style="padding: 7px 8px;font-size: 13px !important;line-height: 16px !important;color: #202020;border-right: 1px solid #DADCE0; border-bottom: 1px solid #DADCE0; ">
                            Total</td>
                        <td
                            style="padding: 7px 8px;font-size: 13px !important;line-height: 16px !important;color: #202020;border-right: 1px solid #DADCE0;text-align: right; border-bottom: 1px solid #DADCE0; ">
                            {{!isLoading && sumOfCashValue ? "₹" : ""}}<span [value]="sumOfCashValue"
                                appFormatNumber>{{sumOfCashValue}}</span>
                        </td>
                        <td style="padding: 7px 8px;font-size: 13px !important;line-height: 16px !important;color: #202020;border-right: 1px solid #DADCE0;text-align: right; border-bottom: 1px solid #DADCE0; "
                            appFormatNumber></td>
                        <td style="padding: 7px 8px;font-size: 13px !important;line-height: 16px !important;color: #202020;border-right: 1px solid #DADCE0;text-align: right; border-bottom: 1px solid #DADCE0; "
                            appFormatNumber></td>
                        <td
                            style="padding: 7px 8px;font-size: 13px !important;line-height: 16px !important;color: #202020;border-right: 1px solid #DADCE0;text-align: right; border-bottom: 1px solid #DADCE0; ">
                        </td>
                    </tr>

                </table>
            </td>
        </tr>
        <tr *ngIf="cashInHandList.data.length == 0 ">
            <td
                style="text-align: center;text-align: center; padding-top: 12px !important;padding-bottom: 12px !important;line-height: 16px !important;font-size: 14px;border-left: 1px solid #DADCE0;border-right: 1px solid #DADCE0; border-bottom: 1px solid #DADCE0;font-family: Roboto,sans-serif;">
                No data found
            </td>
        </tr>
    </table>
</div>