.scenariosHeading {
    border-bottom: 1px solid #D9DEE1;
    padding: 11px 0px 8px 0px;
}

.scenariosHeadingTwo {
    padding: 22px 0px 8px 0px;
    border-bottom: 1px solid #D9DEE1;
}

.border_left {
    border-left: 1px solid #D9DEE1;
}

.chartBox {
    img {
        max-width: 100%;
    }
}

.roundChart {
    border: 1px solid #83959D;
    padding: 10px;
}