<!-- <div id="scenariosPlan">
    <div class="row">
        <div class="col-md-3">
            <div class="d-flex scenariosHeadingTwo justify-content-md-between align-items-center">
                <p class="f-20 roboto m-0"> Scenarios</p>
                <i class="material-icons">
                    more_vert
                </i>
            </div>

            <div class="row">
                <div class="col-md-12 scenarBox p-0">
                    <h3 class="f-16 mt-20 roboto mb-12 "> Goal tracker </h3>

                    <div class="row c-p lineGreen">
                        <div class="col-md-3 text-center p-0 br-green-2">
                            <h5 class="m-0 text-custom pt-12 f-14 ">Scenario 1</h5>
                            <mat-radio-group aria-label="Select an option">
                                <mat-radio-button value="1"> </mat-radio-button>
                            </mat-radio-group>

                        </div>
                        <div class="col-md-9 pr-0">
                            <h5 class="m-0 text-custom pt-12 f-14 pb-8">
                                In this scenario we have assumed continuation of most products.
                            </h5>
                        </div>
                    </div>

                    <div class="row c-p bb-0 lineGrey">
                        <div class="col-md-3 text-center p-0 br-grey-1">
                            <h5 class="m-0 text-custom pt-12 f-14">Scenario 2</h5>
                            <mat-radio-group aria-label="Select an option">
                                <mat-radio-button value="1"> </mat-radio-button>
                            </mat-radio-group>

                        </div>
                        <div class="col-md-9 pr-0">
                            <h5 class="m-0 text-custom pt-12 f-14 pb-8">
                                Here we are asking you to surrender fixed deposits to ensure higher returns on
                                investments.
                            </h5>
                        </div>
                    </div>

                    <div class="row c-p lineGrey">
                        <div class="col-md-3 text-center p-0 br-grey-1">
                            <h5 class="m-0 text-custom pt-12 f-14">Scenario 3</h5>
                            <mat-radio-group aria-label="Select an option">
                                <mat-radio-button value="1"> </mat-radio-button>
                            </mat-radio-group>

                        </div>
                        <div class="col-md-9 pr-0">
                            <h5 class="m-0 text-custom pt-12 f-14 pb-8">
                                Here we are asking you to surrender fixed deposits to and taking a home loan.
                            </h5>
                        </div>
                    </div>
                </div>
            </div>



            <div class="row">
                <div class="col-md-12 scenarBox p-0">
                    <h3 class="f-16 mt-20 roboto mb-12 "> Insurance planning </h3>
                    <div class="row c-p lineGreen">
                        <div class="col-md-3 text-center p-0 br-green-2">
                            <h5 class="m-0 text-custom pt-12 f-14 ">Scenario 1</h5>
                            <mat-radio-group aria-label="Select an option">
                                <mat-radio-button value="1"> </mat-radio-button>
                            </mat-radio-group>
                        </div>
                        <div class="col-md-9 pr-0">
                            <h5 class="m-0 text-custom pt-12 f-14 pb-8">
                                Assumed continuation of all insurance policies as discussed.
                            </h5>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-12 scenarBox p-0">
                    <h3 class="f-16 mt-20 roboto mb-12 "> Tax planning </h3>
                    <div class="row c-p lineGreen">
                        <div class="col-md-3 text-center p-0 br-green-2">
                            <h5 class="m-0 text-custom pt-12 f-14 ">Scenario 1</h5>
                            <mat-radio-group aria-label="Select an option">
                                <mat-radio-button value="1"> </mat-radio-button>
                            </mat-radio-group>
                        </div>
                        <div class="col-md-9 pr-0">
                            <h5 class="m-0 text-custom pt-12 f-14 pb-8">
                                We have assumed that you will continue doing your PPF investments.
                            </h5>
                        </div>
                    </div>

                    <div class="row c-p lineGrey">
                        <div class="col-md-3 text-center p-0 br-green-2">
                            <h5 class="m-0 text-custom pt-12 f-14 ">Scenario 2</h5>
                            <mat-radio-group aria-label="Select an option">
                                <mat-radio-button value="1"> </mat-radio-button>
                            </mat-radio-group>
                        </div>
                        <div class="col-md-9 pr-0">
                            <h5 class="m-0 text-custom pt-12 f-14 pb-8">
                                We have assumed that you will do minimum PPF investments and utilise the proceeds
                                towards..
                            </h5>
                        </div>
                    </div>
                </div>
            </div>


        </div>


        <div class="col-md-9 border_left">
            <div class="d-flex scenariosHeading justify-content-md-between align-items-center ">
                <p class="f-20 pt-8 roboto m-0"> Scenario impact</p>
                <button (click)="open('addScenarios')" class="bg-warning c-p shadow br-0 b-0 text-black b-0"
                    mat-raised-button>2 CONFLICTS</button>
            </div>

            <div class="row">
                <div class="col-md-6 pl-0">
                    <h3 class="f-16 mt-20 roboto f-normal">Life cash flows</h3>
                    <div class="chartBox">
                        <div id="flowCash"></div>
                    </div>


                </div>
                <div class="col-md-6">
                    <h3 class="f-16 mt-20 roboto f-normal">Asset allocation</h3>
                    <div class="row roundChart">
                        <div class="col-md-6 text-center">
                            <p class="f-16 mb-5 roboto">Current</p>
                            <div class="highcharts-figure" id="piechartStockCurrent"></div>
                        </div>
                        <div class="col-md-6 text-center">
                            <p class="f-16 mb-5 roboto">Proposed</p>
                            <div class="highcharts-figure" id="piechartStockProposed"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 pl-0">
                    <h3 class="f-16 mt-20 roboto f-normal">Financial goals</h3>
                    <div class="financialGoalsTable">
                        <table mat-table [dataSource]="dataSource" class=" " id="table-low">

                            <ng-container matColumnDef="description">
                                <th class="border-right-1" mat-header-cell *matHeaderCellDef> Description </th>
                                <td class="border-right-1 loading " mat-cell *matCellDef="let element">
                                    <div class="bar">
                                        {{element.description}}
                                    </div>

                                </td>
                            </ng-container>

                            <ng-container matColumnDef="year">
                                <th class="border-right-1" mat-header-cell *matHeaderCellDef> Year </th>
                                <td class="border-right-1 loading" mat-cell *matCellDef="let element">
                                    <div class="bar">
                                        {{element.year}}
                                    </div>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="month">
                                <th class="text-right border-right-1" mat-header-cell *matHeaderCellDef> Month </th>
                                <td class="text-right loading border-right-1" mat-cell *matCellDef="let element">
                                    <div class="bar">
                                        {{element.month}} </div>
                                </td>
                            </ng-container>


                            <ng-container matColumnDef="lumpsum">
                                <th class="text-right" mat-header-cell *matHeaderCellDef> Lumpsum </th>
                                <td class="text-right loading" mat-cell *matCellDef="let element">
                                    <div class="bar"> {{element.lumpsum}} </div>
                                </td>
                            </ng-container>



                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                    </div>
                </div>
                <div class="col-md-6">
                    <h3 class="f-16 mt-20 roboto f-normal">Taxation</h3>
                    <div class="financialGoalsTable">
                        <table mat-table [dataSource]="dataSource2" class="skeletonAnimation" id="table-low">

                            <ng-container matColumnDef="member">
                                <th class="border-right-1" mat-header-cell *matHeaderCellDef> Family member </th>
                                <td class="border-right-1" mat-cell *matCellDef="let element"> {{element.member}} </td>
                            </ng-container>

                            <ng-container matColumnDef="year">
                                <th class="border-right-1" mat-header-cell *matHeaderCellDef> Assessment year </th>
                                <td class="border-right-1" mat-cell *matCellDef="let element"> {{element.year}} </td>
                            </ng-container>

                            <ng-container matColumnDef="status">
                                <th class="text-right" mat-header-cell *matHeaderCellDef> Status </th>
                                <td class="text-right" mat-cell *matCellDef="let element"> {{element.status}} </td>
                            </ng-container>



                            <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div> -->

<div id="ui-scenarios">
    <!-- Empty Screen -->
    <!-- <div class="row">
        <div class="col-md-12">
            <h3 class="m-0 pt-32 pb-8 bb-1">Scenarios</h3>
        </div>
    </div>

    <div class="row pt-44">
        <div class="col-md-12 d-flex justify-content-center">
            <img src="/assets/images/svg/men-seat.svg">
        </div>
    </div>
    <div class="row pt-40 pb-44">
        <div class="col-md-12 text-center">
            <h4 class="m-0 f-500 text-black">NO SCENARIOS ADDED YET</h4>
            <p class="roboto m-0 pt-20">With scenarios, you can add alternative strategies for the purpose of analysing
                your client’s financial life in a deeper way. </p>
            <button mat-button class="text-primary f-500 mt-12 roboto">Learn more</button><br>
            <button mat-stroked-button class="btn-primary br-0 pl-8 mt-40"><img src="/assets/images/svg/plus.svg"
                    class="pr-12">ADD NEW</button>
        </div>
    </div> -->
    <!-- End Empty Screen -->

    <div class="row">
        <div class="col-md-9">
            <div class="row bb-1 pt-16 pb-8">
                <div class="col-md-9 p-0">
                    <h3 class="m-0 pt-6  pb-8">Scenarios</h3>
                </div>
                <div class="col-md-3 p-0 text-right">
                    <button mat-stroked-button class="btn-primary br-0 pl-8"><img src="/assets/images/svg/plus.svg"
                            class="pr-12">ADD NEW</button>
                </div>
            </div>
            <div class="row pt-20">
                <div class="col-md-6 pl-0 skeletonAnimation" appSkeletonLoading [appSkeletonLoading]="isLoading">
                    <mat-card class="p-0 b-a mb-20 relClass">

                        <div class="bg-grey lter p-24 ">
                            <div class="row">
                                <div class="col-md-4 pl-0">
                                    <h2 class="m-0 f-24 wb ">
                                        <div class="bar">Scenario 1</div>
                                    </h2>
                                </div>
                                <div class="col-md-8">
                                    <div class="bar"> <button mat-stroked-button class="warning-sm">UNAPPROVED</button>
                                    </div>
                                </div>
                                <div class="col-md-12 p-0 pt-12">
                                    <div class="bar">
                                        <p class="m-0 roboto text-light">In this scenario we have assumed continuation
                                            of
                                            most
                                            products.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="p-24">
                            <mat-card-content>
                                <p class="f-12 m-0 roboto text-custom">
                                    PLANNER NOTES
                                </p>
                                <div class="m-0 roboto f-14">
                                    <div class="bar">This plan is ideal for young people who are just starting off
                                        their financial journey and want to start saving with a smaller investment
                                        amount.
                                    </div>
                                </div>
                                <p class="f-12 m-0 pt-24 roboto text-custom">
                                    PLANNER NOTES
                                </p>
                                <div class="f-14 m-0 roboto">
                                    <div class="bar">
                                        This plan is ideal for young people who are just starting off
                                        their financial journey and want to start saving with a smaller investment
                                        amount.</div>
                                </div>
                            </mat-card-content>
                            <mat-card-actions class="bt-1 pt-12 mb-0 pb-0">
                                <div class="row">
                                    <div class="col-md-9 p-0">
                                        <button mat-button class="btn-black">Mark as approved</button>
                                    </div>
                                    <div class="col-md-3 p-0 pt-4">
                                        <mat-checkbox>Compare</mat-checkbox>
                                    </div>
                                </div>
                            </mat-card-actions>
                        </div>
                    </mat-card>
                </div>
            </div>
        </div>
        <div class="col-md-3 pt-20">
            <h3 class="m-0 bb-1 pt-6 pb-12">Compare scenarios</h3>
            <div class="ba-dashed mt-20">
                <p class="m-0 p-24 text-center ws-nowrap">Select two scenarios from left to compare </p>
            </div>
            <div class="row pt-16">
                <div class="col-md-6 pl-0 pr-8">
                    <p class="m-0 roboto text-center pt-20 b-a-custom h-60">Scenario 1</p>
                    <div class="cancel">
                        <i class="material-icons">
                            clear
                        </i>
                    </div>
                </div>
                <div class="col-md-6 pr-0 pl-8">
                    <p class="m-0 roboto text-center f-12 pt-12 ba-dashed text-primitive h-60">Add another scenario
                        from left to compare</p>

                </div>
                <!-- <div class="col-md-6">
                    <p class="m-0 roboto text-center pt-20">Scenario 2</p>
                    <div class="cancel">
                        <i class="material-icons">
                            clear
                        </i>
                    </div>
                </div> -->
            </div>
            <!-- <p class="f-12 text-custom m-0 roboto">Maximum 2 scenarios can be compared</p> -->
            <p class="m-0 text-black roboto pt-28"> Select a module you’d like to do comparision on</p>
            <div class="form-group pt-8 mb-0">
                <mat-form-field>
                    <mat-select class="form-control br-0" formControlName="Duration" id="sel1">
                        <mat-option value="1">Months</mat-option>
                        <mat-option value="2">Years</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <button mat-raised-button class="btn-primitive mt-12">PROCEED</button>

        </div>
        <!-- <button mat-raised-button class="btn-primary mt-12" (click)="openDialog()">Modal</button> -->
    </div>
</div>