::ng-deep .mat-form-field {
  width: 100%;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-infix {
  padding: 0px;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-suffix .mat-datepicker-toggle-default-icon {
  width: 1.5em !important;
}


.scrollHeight {
  overflow-x: auto;
  height: 580px;
}

.height50 {
  height: 50px;
}
