<div class="login_window_wrapper">
    <mat-card class="login_window_container">
        <div [formGroup]="loginForm" class="form_container_wrapper" novalidate>
            <div class="change_company_header">
                <h3>Login</h3>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group1">
                        <mat-form-field>
                            <h5 class="pt-12">User Name</h5>
                            <input (keypress)="enterEvent($event)" class="form-control br-0" formControlName="name" matInput>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group1">
                        <mat-form-field>
                            <h5>Password</h5>
                            <input (keypress)="enterEvent($event)" class="form-control br-0" formControlName="password" matInput type="password">
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="br">

            </div>
            <div class="row right pt-16">

                <div class="col-md-8 errorM" [ngStyle]="errorStyle" >Invalid username and/or password</div>
                <div class="col-md-4 blue">
                    <app-progress-button (btnClick)="progressButtonClick($event)" [options]="barButtonOptions" [logEvent] = "passEvent">
                    </app-progress-button>
                    <!-- <button class="p-0" type="submit" [disabled]="!loginForm.valid" (click)="onSubmit($event)"
               mat-stroked-button color="primary">
               &lt;!&ndash; [@btnProgress]="btnProgressData" &ndash;&gt;
&lt;!&ndash;                        <span></span>&ndash;&gt;
               <span #animationSpan class="animationBox">
                 Login
               </span>
           </button>-->
                </div>
                
            </div>


        </div>
    </mat-card>
</div>