.login_window_wrapper {
    float: left;
    width: 100%;
    background-color: #cccccc;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.login_window_container {
    width: 25%;
    display: block;
    margin: 40px auto;
    padding: 30px;
    height: 320px;
    background-color: #fff;
}

.errorM {
    color: red;
    font-size: 14px;
    display: block;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}

h3 {
    text-align: center;
    margin-bottom: 15px;
}

.m-b-xs {
    margin-bottom: 10px;
}

.form_container_btn_wrapper {
    float: right;
    text-align: right;
    margin-top: 5px;
}

.width_100 {
    width: 100%;
}

.register_text {
    text-align: center;
    text-decoration: none;
    margin-top: 15px;
}

input.mat-input-element {
    line-height: 1.2;
}

.register_text:focus {
    text-decoration: none;
}

@media(max-width:1062px) {
    .login_window_container {
        width: 30%;
    }
}

@media(max-width:862px) {
    .login_window_container {
        width: 40%;
    }
}

@media(max-width:672px) {
    .login_window_container {
        width: 50%;
    }
}

@media(max-width:490px) {
    .login_window_container {
        width: 60%;
    }
}

// .login_window_wrapper .mat-form-field {
//     height: auto !important;
// }
// ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-wrapper {
//     padding-bottom: 0px !important;
// }
.animationBox {
    display: block;
    background-color: lightskyblue;
    width: 0%;
}

// .animationBox:hover {
// }
// ------------------------------ new design --------------------
.loginBox {
    width: 60%;
    margin-top: 45px;
    //height: 515px;
}

.loginBoxverifyOtp {
    width: 60%;
    margin-top: 45px;
}

.advisorLogo {
    width: 60px;
}

.form_container_new_wrapper {
    width: 80%;
    .form-group {
        margin-bottom: 22px !important;
    }
}

.namebtn {
    button.mainloginBtn {
        width: 100% !important;
    }
}

.imgBoxlogin {
    // height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flexLogin {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

::ng-deep .mat-form-field-appearance-standard .mat-form-field-flex {
    padding-top: 0px !important;
}

.eyesPassword {
    position: absolute;
    top: 8px;
    right: 8px;
}

.otpBox {
    background: #FF7272;
    width: 176px;
    height: 40px;
    border-radius: 4px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-weight: 500;
    margin-bottom: 87px;
}

.lightRead {
    color: #FF7272;
}

.verifyDiv {
    width: 35px;
    text-align: center;
    margin-right: 10px;
}

.iconPosition {
    position: absolute;
    top: 8px;
    left: 8px;
}

// --------------------forgot-password ----------------------
.verifyBtn {
    width: 120px;
    height: 40px;
    font-size: 16px;
}

.imgLogin {
    display: none;
}

.ds-none {
    display: none;
}

@media screen and (max-width: 767px) {
    .mobileNone {
        display: none;
    }
    .ds-none {
        display: block;
    }
    .mobileLoginUi {
        background: #F2F2F2 !important;
        display: block;
        .loginBox {
            width: 100%;
            margin-top: 0px;
            .form_container_new_wrapper {
                width: 100%;
                clear: both;
                .form-group {
                    margin-bottom: 25px !important;
                }
            }
        }
        .imgLogin {
            // width: 295px;
            position: relative;
            float: right;
            display: block;
            margin-bottom: 30px;
            .bitmapImg {
                position: absolute;
                left: -15px;
                top: 235px;
            }
        }
        .loginTitleName {
            font-size: 18px;
            margin-left: 55px;
            margin-bottom: 30px;
        }
        .mobileUserBox {
            width: 83%;
            margin: 0px auto;
            .form-control {
                background: #FFFFFF;
                box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14);
                border-radius: 30px !important;
                padding-left: 25px !important;
                border: transparent !important;
            }
            .verifyDiv {
                width: 40px;
                padding-left: 0px !important;
            }
            .mobSubmit {
                font-size: 16px;
                background: #939393;
                border-radius: 40px !important;
                width: 125px;
                height: 50px;
                color: #ffffff;
            }
        }
        .mobileScreen {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .mobilerightText {
            text-align: right;
        }
        .otpBox {
            margin-bottom: 10px;
            width: 145px;
        }
        .contentText {
            color: #878787;
            margin-bottom: 25px;
        }
        .mobileFlex {
            display: flex;
        }
        .mobileCenter {
            text-align: center;
            width: 100%;
        }
        .mobilebuttonColor {
            .bg-primary {
                font-size: 16px;
                background: #939393 !important;
                border-radius: 40px !important;
                width: 100%;
                height: 50px;
                color: #ffffff;
                margin-bottom: 6px !important;
            }
        }
    }
    // --------------------- transaction--------
}

.disbleResend {
    pointer-events: none;
    color: lightgray;
}

.posRelative {
    position: relative;
}

.timeGlass {
    transform: scale(0.5);
    -webkit-transform-origin-y: 30px;
    display: block;
    width: 40px;
    height: 30px;
    //background: #574D35;
    background: #574D35;
    border-radius: 0px 0px 50px 50px;
    margin: 40px auto 30px;
    position: relative;
    animation: hglasstop 8s infinite;
    position: absolute;
    right: 0;
    top: 0px;
    .two {
        content: '';
        display: block;
        width: 40px;
        height: 30px;
        background: #727142;
        border-radius: 50px 50px 0px 0px;
        position: absolute;
        top: 30px;
        animation: hglass 8s infinite;
    }
}