<div class="login_window_wrapper">
    <mat-card class="login_window_container">
        <div [formGroup]="loginForm" novalidate class="form_container_wrapper">
            <div class="change_company_header">
                <h3>Login</h3>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group1">
                        <mat-form-field>
                            <h5 class="pt-12">User Name</h5>
                            <input formControlName="name" matInput class="form-control br-0">
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group1">
                        <mat-form-field>
                            <h5>Password</h5>
                            <input type="password" (keypress)="enterEvent($event)" class="form-control br-0" formControlName="password" matInput>
                        </mat-form-field>
                    </div>
                </div>
            </div>
          <div class="br">

          </div>
            <div class="row">
                <div class="col-md-12 text-center blue">
                    <button type="submit" [disabled]="!loginForm.valid" (click)="onSubmit();enterEvent($event)" mat-stroked-button color="primary"> Login
                    </button>
                </div>
            </div>

<!--            <div class="row w-100">-->
<!--                <div class="col-md-12">-->
<!--                    <div class="register_text" routerLinkActive="active" routerLink="/register"> Create Your account?-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->


        </div>
    </mat-card>
</div>
