<div class="container-fluid p-0">
    <div class="row h-100vh">
        <div class="col-md-6 imgBoxlogin mobileNone p-0 bg-grey lter">
            <img src="assets/images/svg/login-img.svg" class="w-100">
        </div>


        <div class="col-md-6 col-sm-12 p-0 bg-white mobileLoginUi flexLogin">
            <div *ngIf="!otpNumber" class="loginBox">
                <p class="f-16 mb-12 mobileNone">
                    <img class="advisorLogo"
                        src="https://res.cloudinary.com/futurewise/image/upload/v1568097552/icons_fnvpa7.png">
                </p>
                <h1 class="mb-16 mobileNone f-600">Welcome back!</h1>
                <p class="mb-24 mobileNone f-16">This is a secure system and you will need to provide your login details
                    to access your account.</p>

                <div class="imgLogin">
                    <img src="assets/images/svg/mobile-login-img.svg">
                    <img class="bitmapImg" src="assets/images/svg/bitmap-img.svg">
                </div>

                <div [formGroup]="loginForm" class="form_container_new_wrapper">

                    <div class="row ds-none">
                        <div class="col-md-12">
                            <h6 class="loginTitleName">Welcome to App Name</h6>
                        </div>
                    </div>

                    <div class="mobileUserBox">
                        <div class="row">
                            <div class="col-md-12 form-group  p-0">
                                <h5 class="pt-12 mb-4 mobileNone">User Name</h5>
                                <mat-form-field appearance="standard" floatLabel="never">
                                    <input (keypress)="enterEvent($event)" class="form-control br-0"
                                        formControlName="name" matInput placeholder="Enter username" tabindex="1">
                                    <mat-error *ngIf="loginForm.controls.name.touched" class="mobilerightText">Username
                                        required
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 form-group p-0">
                                <h5 class="left mb-4 mobileNone">Password</h5>
                                <a [routerLink]="[ '/login/forgotpassword']"
                                    class="right f-12 mb-4 c-p   text-primitive">
                                    Forgot
                                    password? </a>
                                <mat-form-field appearance="standard" floatLabel="never">
                                    <input (keypress)="enterEvent($event)" [type]="hide ? 'password' : 'text'"
                                        class="form-control br-0" formControlName="password" matInput
                                        placeholder="Enter password" tabindex="2" type="password">
                                    <!-- <mat-icon class="eyesPassword c-p text-primitive" matSuffix (click)="hide = !hide">
                          {{hide ? 'visibility_off' : 'visibility'}}
                      </mat-icon> -->
                                    <i (click)="hide = !hide" *ngIf="hide"
                                        class="material-icons eyesPassword c-p text-primitive">
                                        visibility
                                    </i>
                                    <i (click)="hide = !hide" *ngIf="hide==false"
                                        class="material-icons eyesPassword c-p text-primitive">
                                        visibility_off
                                    </i>
                                    <mat-error *ngIf="loginForm.controls.password.touched" class="mobilerightText">
                                        Password required
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="mobileScreen">
                            <div class="forgotClassMobile ds-none">
                                <button (click)="otpClick()" class="roboto f-15 mt-4" mat-button>Login with OTP</button>
                            </div>

                            <div class="submitBtnMobile">
                                <div class="row">
                                    <div class="col-md-12 mt-4 p-0 namebtn">
                                        <app-progress-button (btnClick)="progressButtonClick($event)"
                                            [logEvent]="passEvent" [options]="barButtonOptions" class="">
                                        </app-progress-button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row ds-none">
                            <div class="col-md-12 text-center">
                                <h5 class="mt-32">Don’t have an account? <span [routerLink]="[ '/login/signup']"
                                        class="text-primary c-p"> Sign up </span>
                                </h5>
                            </div>
                        </div>
                    </div>

                    <h5 (click)="otpClick()" class="mt-20 text-primary mobileNone  c-p f-600">Login with OTP</h5>

                    <!--          [queryParams]="{'advisorId':2808}"-->

                    <h5 class="mt-32 mobileNone mb-24">Don’t have an account? <span [routerLink]="[ '/login/signup']"
                            class="text-primary c-p"> Sign up </span></h5>
                    <h5 class="mt-32 mobileNone mb-24">Login into Support section? <span
                            [routerLink]="['/login/support-login']" class="text-primary c-p"> Support Login
                        </span>
                    </h5>
                </div>
            </div>


            <div *ngIf="otpNumber" class="loginBox">
                <p class="f-16 mobileNone mb-12">
                    <img class="advisorLogo"
                        src="https://res.cloudinary.com/futurewise/image/upload/v1568097552/icons_fnvpa7.png">
                </p>
                <h1 class="mb-16 mobileNone f-600">Welcome back!</h1>
                <p class="mb-24 mobileNone f-16">
                    This is a secure system and you will need to provide your login details to access your account.
                </p>


                <div class="imgLogin">
                    <img src="assets/images/svg/mobile-login-img.svg">
                    <img class="bitmapImg" src="assets/images/svg/bitmap-img.svg">
                </div>

                <div class="mobileUserBox">

                    <div class="form_container_new_wrapper">
                        <div class="row">
                            <div class="col-md-12 form-group p-0">
                                <h5 class="pt-12 mobileNone">User Name</h5>
                                <mat-form-field appearance="standard" floatLabel="never">
                                    <input (keyup)="getOtpOnEnter($event)" [formControl]="userName" autocomplete="off"
                                        class="form-control br-0" matInput placeholder="Enter username" tabindex="1">
                                    <mat-error *ngIf="userName.hasError('required')" class="mobilerightText">Username
                                        required
                                    </mat-error>
                                    <mat-error align="end" *ngIf="userName.errors?.incorrect">Username invalid
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>

                        <div *ngIf="getOtpFlag==false" class="row">
                            <div class="col-md-12 mobileFlex p-0">
                                <div (click)="getOtp(false)" class="otpBox c-p">
                                    <span class="mt-8">* * * *</span>
                                    <span class="mt-2">GET OTP</span>
                                </div>

                                <!-- <app-progress-button (btnClick)="getOtp()" [options]="getOtpBtnOption">
                </app-progress-button> -->

                                <button (click)="otpClick()" class="ds-none f-15 roboto" mat-button>Login with
                                    password
                                </button>
                            </div>


                            <div class="mobileCenter ds-none">
                                <h5 class="mt-12 ">Don’t have an account? <span [routerLink]="['/login/signup']"
                                        class="text-primary c-p"> Sign up </span></h5>
                            </div>


                            <h5 (click)="otpClick()" class="mt-20 mobileNone text-primary c-p f-600">Login with password
                            </h5>

                            <h5 class="mt-32 mobileNone mb-24">Don’t have an account? <span
                                    [routerLink]="['/login/signup']" class="text-primary c-p"> Sign up </span>
                            </h5>
                        </div>

                        <div *ngIf="getOtpFlag" class="row">
                            <p *ngIf="verifyFlag=='Email'" class="text-danger mb-0 f-12">4 digit OTP has been sent to
                                your email {{verifyResponseData.email}}</p>
                            <p *ngIf="verifyFlag=='Mobile'" class="text-danger mb-0 f-12">4 digit OTP has been sent to
                                your mobile {{verifyResponseData.mobileNo}}</p>
                            <div class="col-md-12 p-0">
                                <h5 class="pt-12">Verify OTP</h5>
                                <div class="form-group d-flex">
                                    <app-otp-verify (otpDataEvent)="getOtpData($event)" [otpData]="otpData">
                                    </app-otp-verify>
                                </div>
                                <!-- <h5 class="mb-0">Didn’t receive? <span (click)="getOtp()" class="lightRead c-p"> Resend
                                    </span></h5> -->
                                <h5 class="mb-24 posRelative">Didn’t receive? <span (click)="getOtp(true)"
                                        [ngClass]="{'disbleResend': showTimeRemaing>0,'lightRead':showTimeRemaing==0}"
                                        class="c-p">Resend OTP</span>
                                    <span *ngIf="showTimeRemaing>0">0.<span
                                            *ngIf="showTimeRemaing<10">0</span>{{showTimeRemaing}}</span>
                                    <!-- <span *ngIf="showTimeRemaing>0" class="hourglass">
                                        <span class="two"> </span>
                                    </span> -->

                                    <!-- new loader sunny -->
                                    <!-- <svg *ngIf="showTimeRemaing>0" class="hourglass1" xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 120 206" preserveAspectRatio="none">
                                        <path class="middle"
                                            d="M120 0H0v206h120V0zM77.1 133.2C87.5 140.9 92 145 92 152.6V178H28v-25.4c0-7.6 4.5-11.7 14.9-19.4 6-4.5 13-9.6 17.1-17 4.1 7.4 11.1 12.6 17.1 17zM60 89.7c-4.1-7.3-11.1-12.5-17.1-17C32.5 65.1 28 61 28 53.4V28h64v25.4c0 7.6-4.5 11.7-14.9 19.4-6 4.4-13 9.6-17.1 16.9z" />
                                        <path class="outer"
                                            d="M93.7 95.3c10.5-7.7 26.3-19.4 26.3-41.9V0H0v53.4c0 22.5 15.8 34.2 26.3 41.9 3 2.2 7.9 5.8 9 7.7-1.1 1.9-6 5.5-9 7.7C15.8 118.4 0 130.1 0 152.6V206h120v-53.4c0-22.5-15.8-34.2-26.3-41.9-3-2.2-7.9-5.8-9-7.7 1.1-2 6-5.5 9-7.7zM70.6 103c0 18 35.4 21.8 35.4 49.6V192H14v-39.4c0-27.9 35.4-31.6 35.4-49.6S14 81.2 14 53.4V14h92v39.4C106 81.2 70.6 85 70.6 103z" />
                                    </svg> -->
                                    <!-- end load -->
                                </h5>
                            </div>

                            <div class="mobilebuttonColor col-md-12 p-0">
                                <!-- <button (click)="verifyWithOtpResponse()" class="mt-20 mb-28 bg-primary f-16  text-white w-100 br-4 "
                  mat-button>
                  <img class="iconPosition mobileNone" src="assets/images/svg/login-btn-icon.svg">
                  Login to your
                  account
                </button> -->
                                <app-progress-button (btnClick)="verifyWithOtpResponse()" [logEvent]="passEvent"
                                    [options]="barButtonOptions" class="">
                                </app-progress-button>
                            </div>

                            <div class="mobileCenter ds-none">
                                <button [routerLink]="['/login']" class="f-15 mt-8 mb-8" mat-button>Login with
                                    password
                                </button>
                                <h5 class="mt-10 mb-16">Don’t have an account? <span [routerLink]="['/login/signup']"
                                        class="text-primary c-p"> Sign up </span></h5>
                            </div>


                            <h5 [routerLink]="['/login']" class="mt-20 mobileNone text-primary c-p f-600">Login with
                                password
                            </h5>

                            <h5 class="mt-32 mobileNone mb-24">Don’t have an account? <span
                                    [routerLink]="['/login/signup']" class="text-primary c-p"> Sign up </span>
                            </h5>
                            <h5 class="mt-32 mobileNone mb-24">Login into Support section? <span
                                    [routerLink]="['/login/support-login']" class="text-primary c-p"> Support Login
                                </span>
                            </h5>
                        </div>
                        <div *ngIf="!otpNumber">
                            <!-- <button class="mt-20 mb-28 bg-primary f-16  text-white w-100 br-4 " mat-button>
                <img class="iconPosition" src="assets/images/svg/login-btn-icon.svg"> Login to your
                account
              </button> -->
                            <h5 [routerLink]="['/login']" class="mt-20 text-primary c-p f-600">Login with password</h5>

                            <h5 class="mt-32 mb-24">Don’t have an account? <span [routerLink]="['/login/signup']"
                                    class="text-primary c-p"> Sign up </span></h5>
                        </div>
                    </div>
                </div>

            </div>
            <p class="f-12 l-18 ml-24 mb-0 mobileNone text-primitive">Before logging in, please ensure that the URL on
                the address bar starts with “https” or has a padlock icon. The communication of your private information
                from any address beginning with "https" is encrypted and secured using SSL.</p>
        </div>
    </div>
</div>