.imgLogoCLass {
    max-width: 100%;
}

::ng-deep .mat-tab-body.mat-tab-body-active {
    overflow-x: hidden !important;
    overflow-y: hidden !important;
}

.border_h2 {
    border: 1px solid #e0e0e0;
    border-bottom: transparent;
}

.borderleft_none {
    border-left: transparent !important;
}

.widthBoxUpperSlider {
    width: 34%;
    margin-bottom: 0px;
}

.btn-none {
    border: none !important;
    background: transparent !important;
    color: interit !important;
    font-size: inherit !important;
}

.bl-a {
    border-left: 1px solid #E8ECEF;
}

.classExport {
    width: 76px;
    height: 28px;
    padding: 0px !important;
    line-height: 24px;
}