<div class="popup-header-fix-60">
    <div class="row bb-1">
        <div class="col-md-8 p-0">
            <h4 class="mb-2 wrapper-20">ADD FIXED FEE STRUCTURE</h4>
        </div>
        <div class="col-md-4 text-right">
            <div class="wrapper-12">
                <i class="material-icons c-p pt-8 v-middle" (click)="Close('close');fixedFeeData.reset()"> clear</i>
            </div>
        </div>
    </div>
</div>
<div [formGroup]="fixedFeeData" class="wrapper-16 pt-44 pb-44 mb-44">
    <div class="row pt-60">
        <div class="col-md-5">
            <h5 class="text-right pt-4 mb-0">Service Name</h5>
            <p class="m-0 text-custom f-12 right roboto">This name will appear in invoices</p>
        </div>
        <div class="col-md-5 pr-0">
            <mat-form-field class="w-100">
                <input (changedValue)="getFormControl().serviceName.setValue($event)" [inputValidator]="validatorType.TEXT_ONLY" appInputValueValidation class="form-control br-0" formControlName="serviceName" matInput maxLength="{{getFormControl().serviceName.maxLength}}"
                    type="text">
                <mat-error class="f-12 pt-4" *ngIf="getFormControl().serviceName.touched" >
                    Service name is required
                </mat-error>
                <mat-hint align="end" class="f-12">
                    {{getFormControl().serviceName.value?.length ? getFormControl().serviceName.value.length : 0}} /{{getFormControl().serviceName.maxLength}}
                </mat-hint>

            </mat-form-field>
        </div>
    </div>
    <div class="row pt-44">
        <div class="col-md-5">
            <h5 class="text-right pt-8 mb-0">Code</h5>
        </div>
        <div class="col-md-3">
            <div class="form-group mb-0">
                <mat-form-field>
                    <input #code (changedValue)="getFormControl().code.setValue($event)" [inputValidator]="validatorType.ALPHA_NUMERIC_WITH_SPACE" [maxLength]="10" appInputValueValidation class="form-control br-0 text-left" formControlName="code" matInput type="text">
                    <mat-error class="f-12">{{'Invalid code'}}</mat-error>
                    <mat-hint align="end" class="f-12">{{code.value.length}}/10</mat-hint>
                </mat-form-field>
            </div>
        </div>
    </div>
    <div class="row pt-44">
        <div class="col-md-5">
            <h5 class="text-right pt-12 mb-0">Description</h5>
        </div>
        <div class="col-md-5 height60 pr-0">
            <mat-form-field>
                <textarea class="form-control br-2" matInput maxlength="{{getFormControl().description.maxLength}}" formControlName="description" rows="3"></textarea>
                <!-- <mat-error class="f-12 pt-4" *ngIf="getFormControl().description.touched && getFormControl().description.invalid">
                        Description name is required
                    </mat-error> -->
                <mat-hint align="end" class="f-12 ">
                    {{getFormControl().description.value?.length ? getFormControl().description.value.length : 0}} /{{getFormControl().description.maxLength}}
                </mat-hint>
                <mat-hint align="start" class="f-12">Optional</mat-hint>
            </mat-form-field>
        </div>
    </div>
    <div class="row pt-44">
        <div class="col-md-5">
            <h5 class="text-right pt-8 mb-0">Fees</h5>
        </div>
        <div class="col-md-5 pr-0">
            <div class="form-group mb-0">
                <mat-form-field>
                    <input #feesRef (changedValue)="getFormControl().fees.setValue($event)" [inputValidator]="validatorType.NUMBER_ONLY" [maxLength]="10" matInput appInputValueValidation class="form-control br-0" formControlName="fees" type="text">
                    <mat-error class="f-12 pt-4" [ngClass]="{'v-h':!(isFeesValid && getFormControl().fees.invalid || getFormControl().fees.touched && getFormControl().fees.invalid)}">
                        Fees is Required
                    </mat-error>
                    <mat-hint align="end" class="f-12 ">
                        {{feesRef.value.length}} /{{getFormControl().fees.maxLength}}
                    </mat-hint>
                </mat-form-field>
            </div>
        </div>
    </div>

    <div class="row pt-44">
        <div class="col-md-5">
            <h5 class="text-right pt-12 mb-0">Billing nature</h5>
        </div>
        <div class="col-md-6">
            <mat-radio-group formControlName="billingNature">
                <mat-radio-button value="1" [ngClass]="{'b-a-custom': fixedFeeData.get('billingNature').value==1,'text-primary':fixedFeeData.get('billingNature').value==1,'b-a':fixedFeeData.get('billingNature').value==2}" class="b-a-custom text-primary wrapper-8 custom-radio">Recurring
                </mat-radio-button>
                <mat-radio-button value="2" [ngClass]="{'b-a-custom': fixedFeeData.get('billingNature').value==2,'text-primary':fixedFeeData.get('billingNature').value==2,'b-a':fixedFeeData.get('billingNature').value==1}" class="b-a wrapper-8">Once
                </mat-radio-button>
            </mat-radio-group>
        </div>
    </div>

    <div class="row pt-44">
        <div class="col-md-5">
            <h5 class="text-right pt-12 mb-0">Bill every</h5>
        </div>
        <div class="col-md-7">
            <div class="form-group mb-0">
                <mat-form-field>
                    <div class="row">
                        <div class="col-md-5 p-0">
                            <input type="text" matInput appNumberOnly [maxLength]="2" formControlName="billEvery" class="form-control height38 br-0 br-none">
                        </div>
                        <div class="col-md-4 p-0">
                            <mat-select class="form-control br-0" formControlName="Duration" id="sel1">
                                <mat-option value="1">Months</mat-option>
                                <mat-option value="2">Years</mat-option>
                            </mat-select>
                        </div>
                    </div>
                    <mat-error class="f-12 pt-4" [ngClass]="{'v-h':!(isbillEvery && getFormControl().billEvery.invalid || getFormControl().billEvery.touched && getFormControl().billEvery.invalid)}">
                        Field is Required
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
    </div>


    <div class="row pt-44">
        <div class="col-md-5">
            <h5 class="text-right pt-12 mb-0">Billing Mode</h5>
        </div>
        <div class="col-md-7">
            <mat-radio-group formControlName="billingMode">
                <mat-radio-button value="1" [ngClass]="{'b-a-custom text-primary':fixedFeeData.get('billingMode').value==1,'b-a':fixedFeeData.get('billingMode').value==2}" class="text-custom wrapper-8">Start of period
                </mat-radio-button>
                <mat-radio-button value="2" [ngClass]="{'b-a-custom text-primary':fixedFeeData.get('billingMode').value==2,'b-a':fixedFeeData.get('billingMode').value==1}" class="text-custom wrapper-8">End of period
                </mat-radio-button>
            </mat-radio-group>
        </div>
    </div>
</div>
<div class="bottom-fixed wrapper-12 pt-16">
    <div class="row">
        <div class="col-md-4 pt-8">
            <h5 class="mb-0  text-white c-p" (click)="Close('close')">Cancel</h5>
        </div>
        <div class="col-md-8 right text-right">
            <!-- <button mat-button class="btn-bottom br-0 text-inherit" (click)="saveFeeTypeData('1','close')">Save</button> -->
            <app-progress-button (btnClick)="saveFeeTypeData('1','close')" [options]="barButtonOptions" >
            </app-progress-button>
        </div>
    </div>
</div>