<mat-tab-group mat-align-tabs="center">
    <mat-tab label="EMAIL ACCOUNTS">
        <div class="row">
            <div class="col-md-12 text-center mt-80">
                <p class="mb-0 pr-44 pl-44">
                    Connect your email accounts to send and receive email via IFANOW. 
                    This will automatically record email exchanges to the right clients and leads.
                </p>
                <p class="mb-0 text-primitive p-44">
                    You can connect your gmail and gsuite accounts. 
                    Personal as well as shared accounts (e.g. info@abcfinancial.com) are supported.
                </p>

                <form [formGroup]="redirectForm">
                    <p class="mb-0 text-primitive p-44" *ngIf="showEmailInput">                                      
                        <input type="email" matInput formControlName="googleConnectEmail" placeholder="Enter Your Gmail Id">
                    </p>
                    <button mat-stroked-button class="btn-primary mt-44" (click)="toggleShowEmailInput()" *ngIf="!showEmailInput">
                        CONNECT EMAIL ACCOUNT
                    </button>
                    <button mat-stroked-button *ngIf="showEmailInput" (click)="gmailRedirectUrlCreation()" class="btn-primary mt-44" >
                        SUBMIT
                    </button>

                </form>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="TEMPLATES">
        <h1>Some more tab content</h1>
        <p>...</p>
    </mat-tab>
</mat-tab-group>

