// crm
#ui-crm {
  padding-top: 64px;

  .mat-list-item-content {
    padding: 0;
  }
}

#ui-calculators {
  .mat-tab-body-content {
    overflow: hidden !important;
  }

  .mat-stroked-button .mat-button-wrapper>* {
    vertical-align: text-top !important;
  }

  .mat-tab-label {
    padding: 0 !important;
    min-width: 110px !important;
    border-bottom: 1px solid #ddd;
    height: 40px !important;
    font-weight: 400 !important;
    font-family: 'Roboto', sans-serif !important;
  }

  .mat-tab-label:focus {
    border-bottom: 0px !important;
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
  }

  .mat-ink-bar {
    display: none;
  }

  .mat-tab-header {
    border-bottom: 0px !important
  }
}

.email-crm {
  .mat-list-item-content {
    padding: 0;
  }

  #table-low {
    thead {
      display: none !important;
    }

    tr {
      border-left: 0px !important;
    }

    tbody td {
      font-weight: 500;
    }

    tr:nth-child(2) {
      background: #F5F7F7 !important;
    }
  }
}

#calender-tabs {
  .mat-tab-label {
    padding: 0 !important;
    min-width: 90px !important;
    opacity: 1;
    height: 40px !important;
  }

  .mat-checkbox-label {
    font-size: 14px !important;
  }

  .mat-checkbox-layout {
    padding-top: 20px !important;
  }

  .mat-tab-header-pagination-controls-enabled .mat-tab-header-pagination {
    display: none;
  }

  .mat-ink-bar {
    height: 2px !important;
  }

  .mat-tab-label-active {
    color: #008FFF !important;
    font-weight: 500 !important;
  }

  .mat-tab-header {
    border-bottom: 0px !important;
  }

  .mat-tab-body-content {
    overflow: hidden;
  }
}

#ui-calender {
  .main-header {
    box-shadow: 5px 1px 10px rgba(0, 0, 0, 0.2), 3px 4px 5px rgba(0, 0, 0, 0.12), 2px 2px 4px rgba(0, 0, 0, 0.14);
    background-color: #fff;
    top:64px;
    width: 100%;
    position: sticky;
    z-index: 9;
  }
}

.crm-sidebar {
  .mat-drawer-inner-container {
    background-color: #fff;
    width: 230px;
    height: 100vh;
    box-shadow: 5px 1px 10px rgba(0, 0, 0, 0.2), 3px 4px 5px rgba(0, 0, 0, 0.12), 2px 2px 4px rgba(0, 0, 0, 0.14);
  }

  .sidenav-container {
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

  .mat-select {
    border: 0px !important;
  }

  .mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
  }

  .sidenav-link {
    color: #000000 !important;
    font-size: 14px !important;
    letter-spacing: 0.25px;
    font-family: "Roboto";
  }

  .mat-list-text {
    padding-top: 18px;
  }

  .col-md-10 {
    padding-top: 5px;
  }

  .fix-top {
    position: fixed;
    top: 0;
    bottom: 20px;
    z-index: 10;
    background: #fff !important;
    /* box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .3); */
  }

  .fix-top .sidenav-link {
    padding-right: 55px !important;
    margin-top: -12px;
  }

  .sidenav-link .mat-list-icon {
    width: 24px;
    height: 24px;
  }

  .main-details {
    border-bottom: 1px solid #ddd !important;
    padding: 15px;
  }

  .main-details .mat-form-field-infix {
    border-top: 0px !important;
  }

  .heading_h4 {
    margin: 10px 10px 0px 15px;
    font-weight: 500;
  }

  .autoCompleteImg {
    img {
      width: 35px;
      border-radius: 50%;
    }
  }

  img.header-img {
    width: 30%;
    border-radius: 50%;
    padding: 15px;
  }

  .dropdowns {
    height: auto !important;
    margin-left: 0;
    overflow: auto;
    opacity: 1;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .dropdowns li {
    padding: 5px;
  }

  .scorllable {
    max-height: calc(100vh - 9rem);
    overflow-y: auto;
    padding-bottom: 80px;
  }
}
.email-crm #table-low tbody td.p-no{
  padding: 0px !important;
}
// end crm
