<div class="row bb-1 popup-header-fix w-35">
    <div class="col-md-10 p-0">
        <h4 class="wrapper-20 m-0 roboto">Record detail</h4>
    </div>
    <div class="col-md-2 full-end pr-20">
        <i class="material-icons c-p"> clear</i>
    </div>
</div>
<div class="row pt-90 pb-90">

    <div class="col-md-12 pl-20 pr-20">
        <div class="row bb p-8 b-l br bt-1">
            <div class="col-md-4 text-left f-14 roboto p-0">
                Scheme name
            </div>
            <div class="col-md-8 text-right f-14 roboto p-0">
                {{ data.schemeName }}
            </div>
        </div>
        <div class="row bb p-8 b-l br">
            <div class="col-md-8 text-left f-14 roboto p-0">
                Folio number
            </div>
            <div class="col-md-4 text-right f-14 roboto p-0">
                {{ data.folioNumber }}
            </div>
        </div>

        <div class="row bb p-8 b-l br">
            <div class="col-md-8 text-left f-14 roboto p-0">
                Investor name
            </div>
            <div class="col-md-4 text-right f-14 roboto p-0">
                {{ data.investorName }}
            </div>
        </div>

        <div class="row bb p-8 b-l br">
            <div class="col-md-8 text-left f-14 roboto p-0">
                Type
            </div>
            <div class="col-md-4 text-right f-14 roboto p-0">
                {{ data.type }}
            </div>
        </div>

        <div class="row bb p-8 b-l br">
            <div class="col-md-8 text-left f-14 roboto p-0">
                Amount/Frequency
            </div>
            <div class="col-md-4 text-right f-14 roboto p-0">
                {{ data.amount }} / {{ data.frequency }}
            </div>
        </div>

        <div class="row bb p-8 b-l br">
            <div class="col-md-8 text-left f-14 roboto p-0">
                Registered date
            </div>
            <div class="col-md-4 text-right f-14 roboto p-0">
                {{ data.registeredDate }}
            </div>
        </div>

        <div class="row bb p-8 b-l br">
            <div class="col-md-8 text-left f-14 roboto p-0">
                From date
            </div>
            <div class="col-md-4 text-right f-14 roboto p-0">
                {{ data.from_date }}
            </div>
        </div>

        <div class="row bb p-8 b-l br">
            <div class="col-md-8 text-left f-14 roboto p-0">
                To date
            </div>
            <div class="col-md-4 text-right f-14 roboto p-0">
                {{ data.to_date }}
            </div>
        </div>

        <div class="row bb p-8 b-l br">
            <div class="col-md-8 text-left f-14 roboto p-0">
                Linked bank account
            </div>
            <div class="col-md-4 text-right f-14 roboto p-0">
                -
            </div>
        </div>
        <div class="row bb p-8 b-l br">
            <div class="col-md-8 text-left f-14 roboto p-0">
                Ceased date
            </div>
            <div class="col-md-4 text-right f-14 roboto p-0">
                {{ data.hasOwnProperty('ceaseDate') ? (data.ceaseDate | date:'yyyy-MM-dd'):'-' }}
            </div>
        </div>
        <div class="row bb p-8 b-l br">
            <div class="col-md-8 text-left f-14 roboto p-0">
                Transaction #
            </div>
            <div class="col-md-4 text-right f-14 roboto p-0">
                {{ data.transactionNumber }}
            </div>
        </div>
        <div class="row bb p-8 b-l br">
            <div class="col-md-8 text-left f-14 roboto p-0">
                Status
            </div>
            <div class="col-md-4 text-right f-14 roboto p-0">
                {{ data.markedStatus== 0 ? 'Unmarked': (data.markedStatus === -1) ? 'Marked': '-' }}
            </div>
        </div>
        <div class="row bb p-8 b-l br">
            <div class="col-md-8 text-left f-14 roboto p-0">
                Broker code
            </div>
            <div class="col-md-4 text-right f-14 roboto p-0">
                {{ data.hasOwnProperty('arnRiaNumber') ? data.arnRiaNumber: '-' }}
            </div>
        </div>
        <div class="row bb p-8 b-l br">
            <div class="col-md-8 text-left f-14 roboto p-0">
                RTA remarks
            </div>
            <div class="col-md-4 text-right f-14 roboto p-0">
                -
            </div>
        </div>



    </div>
    <div class="col-md-12 text-right pt-4">
        <p class="m-0 text-custom f-12 lh-14">Updated: 04/09/2019</p>
    </div>

</div>
<div class="bottom-fixed wrapper-12 w-35">
    <div class="row">
        <div class="col-md-4">
            <h5 class="mb-0 pt-12 text-white c-p">Close</h5>
        </div>

    </div>
</div>