<div class="popup-header-fix-40">
    <div class="row bb-1">
        <div class="col-md-8 p-0">
            <h4 class="mb-0 wrapper-20"> Bulk file ordering setup</h4>
        </div>
        <div class="col-md-4 text-right">
            <div class="wrapper-12">
                <i class="material-icons c-p pt-8 v-middle" (click)="dialogClose(true)"> clear</i>
            </div>
        </div>
    </div>
</div>

<div class="pb-100 order-historical" [formGroup]="historicalFileBulkOrderingForm">
    <div class="row pt-28">
        <div class="col-md-5 pr-0 full-end">
            <h5 class="text-right mb-0">Select RTA</h5>
        </div>
        <div class="col-md-5">
            <mat-select class="form-control" formControlName="rtId" (selectionChange)="setDateValidation()">
                <mat-option>
                    None
                </mat-option>
                <mat-option [value]="rta" *ngFor="let rta of rtaList">
                    {{ rta.name }}
                </mat-option>
            </mat-select>
            <mat-error
                *ngIf="historicalFileBulkOrderingForm.get('rtId').touched && historicalFileBulkOrderingForm.get('rtId').invalid">
                This field is required
            </mat-error>
        </div>
    </div>

    <div class="row pt-40">
        <div class="col-lg-5 pr-0 full-end">
            <h5 class="text-right mb-0">File Type</h5>
        </div>
        <div class="col-lg-5">
            <mat-select class="form-control" formControlName="fileTypeId">
                <mat-option>
                    None
                </mat-option>
                <mat-option [value]="fileType.id" *ngFor="let fileType of fileTypeList">
                    {{ fileType.type }}
                </mat-option>
            </mat-select>
            <mat-error
                *ngIf="historicalFileBulkOrderingForm.get('fileTypeId').touched && historicalFileBulkOrderingForm.get('fileTypeId').invalid">
                This field is required
            </mat-error>
        </div>
    </div>

    <div class="row pt-40">
        <div class="col-lg-5 pr-0">
            <h5 class="text-right mb-0 pt-8">From Date</h5>
            <p class="text-primitive text-right roboto f-400">
                The date from which you want bulk ordering to be done
            </p>
        </div>
        <div class="col-lg-5">
            <mat-form-field class="ba-date">
                <input (click)="picker.open()" [min]="lastPastDate" formControlName="fromDate" readonly matInput
                    class="form-control b-0" [matDatepicker]="picker">
                <mat-datepicker-toggle matSuffix [for]="picker">
                </mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error
                    *ngIf="historicalFileBulkOrderingForm.get('fromDate').touched && historicalFileBulkOrderingForm.get('fromDate').invalid">
                    This field is required
                </mat-error>
            </mat-form-field>
        </div>
    </div>

    <div class="row pt-8">
        <div class="col-lg-5 pr-0">
            <h5 class="text-right mb-0 pt-8">To Date</h5>
            <p class="text-primitive text-right roboto f-400 m-0">
                The date to which you want bulk ordering to be done
            </p>
        </div>
        <div class="col-lg-5">
            <mat-form-field class="ba-date">
                <input (click)="picker1.open()" [min]="lastPastDate" [max]="presentDate" formControlName="toDate"
                    readonly matInput class="form-control b-0" [matDatepicker]="picker1">
                <mat-datepicker-toggle matSuffix [for]="picker1">
                </mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
                <mat-error
                    *ngIf="historicalFileBulkOrderingForm.get('toDate').touched && historicalFileBulkOrderingForm.get('toDate').invalid">
                    This field is required
                </mat-error>
            </mat-form-field>
        </div>
    </div>
</div>

<div class="bottom-fixed wrapper-12 pt-16 w-45">
    <div class="row">
        <div class="col-md-4">
            <h5 class="mb-0 pt-8 text-white c-p" (click)="dialogClose(false)">Cancel</h5>
        </div>
        <div class="col-md-8 right text-right">
            <button mat-button class="btn-bottom br-0 text-inherit" (click)="requestForBulkFileOrdering()">Save</button>
        </div>
    </div>
</div>