.loginBox {
  width: 60%;
  margin-top: 45px;
  height: 515px;
}

.loginBoxverifyOtp {
  margin-top: 45px;
}

.advisorLogo {
  width: 60px;
}

.form_container_new_wrapper {
  width: 80%;
}

.namebtn button.mainloginBtn {
  width: 100% !important;
}

.imgBoxlogin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flexLogin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

::ng-deep .mat-form-field-appearance-standard .mat-form-field-flex {
  padding-top: 0px !important;
}

.eyesPassword {
  position: absolute;
  top: 8px;
  right: 8px;
}

.otpBox {
  background: #FF7272;
  width: 176px;
  height: 40px;
  border-radius: 4px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-weight: 500;
  margin-bottom: 87px;
}

.lightRead {
  color: #FF7272;
}

.verifyDiv {
  width: 35px;
  text-align: center;
  margin-right: 10px;
}

.iconPosition {
  position: absolute;
  top: 8px;
  left: 8px;
}

.verifyBtn {
  width: 120px;
  height: 40px;
  font-size: 16px;
}

.imgLogin {
  display: none;
}

.ds-none {
  display: none;
}

.matErrorCss {
  font-size: 75%;
  color: #f44336;
  font-weight: 600;
}

@media screen and (max-width: 767px) {
  .imgLogin {
    position: relative;
    float: right;
    display: block;
    margin-bottom: 30px;
  }
  .imgLogin .bitmapImg {
    position: absolute;
    left: -15px;
    top: 235px;
  }
  .mobileCenter {
    text-align: center;
    width: 100%;
  }
  .mobilerightText {
    text-align: right;
  }
  .mobileNone {
    display: none;
  }
  .ds-none {
    display: block;
  }
  .loginBox {
    width: 100%;
  }
  .forgotMobileUi {
    background: #F2F2F2 !important;
    height: 100vh;
    display: block;
  }
  .forgotMobileUi .loginBoxverifyOtp {
    width: 100%;
    margin-top: 0px;
  }
  .forgotMobileUi .contentText {
    color: #878787;
  }
  .forgotMobileUi .mobileUserBox {
    width: 83%;
    margin: 0px auto;
  }
  .forgotMobileUi .mobileUserBox .form_container_new_wrapper {
    width: 100%;
  }
  .forgotMobileUi .mobileUserBox .form_container_new_wrapper .form-group {
    margin-bottom: 30px !important;
  }
  .forgotMobileUi .mobileUserBox .form-control {
    background: #FFFFFF;
    -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14);
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14);
    border-radius: 30px !important;
    padding-left: 25px !important;
    border: transparent !important;
  }
  .forgotMobileUi .mobileUserBox .bg-primary {
    font-size: 16px;
    background: #939393 !important;
    border-radius: 40px !important;
    width: 125px;
    height: 50px;
    color: #ffffff;
  }
}
/*# sourceMappingURL=signup-team-member.component.css.map */