<div class="row bb-1 popup-header-fix w-35">
  <div class="col-md-10 p-0">
    <h4 class="wrapper-20 m-0 roboto">FAQs on security & Other aspects </h4>
  </div>
  <div class="col-md-2 full-end">
    <i class="material-icons c-p" (click)="dialogClose(false)"> clear</i>
  </div>
</div>


<div class="row pt-90 pb-48">
  <div class="col-md-12 p-28 pt-0">
    <p class="m-0 f-500 roboto text-dark"> What is Email integration all about? Why should I do it?</p>
    <p class="m-0  roboto text-dark pt-4">Email is an integral part of an advisor’s practice. A lot of critical
      client interactions happen over email.
      Sometimes, you may want to checkout some past email exchanges with the client. With the email syncing service, you
      can view all these emails in one place without having to leave your IFANOW portal.</p>
    <p class="m-0  roboto text-dark pt-12">Moreover, if you read SEBIs
      regulations, you will see that Email communication is an integral aspect of the compliance that SEBI expects an
      advisor to adhere to.</p>
    <p class="m-0 f-500 roboto text-dark pt-28">How does Email integration work? </p>
    <p class="m-0  roboto text-dark pt-4">We’ve used Gmail’s APIs to integrate your Gmail inbox with IFANOW. You
      just need to connect your Email account
      and within minutes you will see your emails will start showing up here in a secure manner. Once done, you can
      compose new emails, reply to emails and do most of the critical activities that you would otherwise do on Gmail.
    </p>
    <p class="m-0 f-500 roboto text-dark pt-28">How secure is my email data? </p>
    <p class="m-0  roboto text-dark pt-4">We’ve given a lot of thought to the security aspects while creating the
      tech architecture. To that end, we’ve ensured that NONE of your email data is stored on our servers. It shows up
      only when you visit the Email tab. Once you logout, the data is erased. We do not have any access to your email
      password as well.
    </p>
    <p class="m-0 f-500 roboto text-dark pt-28">Do you store my email data on your servers? </p>
    <p class="m-0  roboto text-dark pt-4">No.</p>
    <p class="m-0 f-500 roboto text-dark pt-28">Can I unlink my email integration? </p>
    <p class="m-0  roboto text-dark pt-4">Yes. You can do it at any point.</p>
    <p class="m-0 f-500 roboto text-dark pt-28">What happens when I unlink my email integration?</p>
    <p class="m-0  roboto text-dark pt-4">When you unlink, all the emails will stop syncing and showing up. Since
      the email data is not stored on our servers there is no further scope for anything to be done at our end.</p>
  </div>
</div>

<div class="bottom-fixed wrapper-12 w-35">
  <div class="row">
    <div class="col-md-4">
      <h5 class="mb-0 pt-8 text-white c-p" (click)="dialogClose(false)">Close</h5>
    </div>

  </div>
</div>