<div id="ui-subscriptions">
    <div class="sub-header-fix">
        <div class="bg-white">
            <h1 class="cusotm-haeding-main">File ordering & uploads</h1>
            <nav class="text-right" id="ui-customer-secondhead" mat-align-tabs="end" mat-tab-nav-bar>
                <a routerLink="/support/file-ordering/historical" mat-tab-link routerLinkActive="active">HISTORICAL</a>
                <a routerLink="/support/file-ordering/bulk" mat-tab-link routerLinkActive="active">BULK</a>
            </nav>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>