<div class="row pb-10">
    <div class="col-md-12 p-0 align-items-center">
        <h4 class="m-0 text-black">Returns & inflation</h4>
    </div>
</div>
<mat-tab-group animationDuration="0ms" id="ui-return-inflations-header">
    <mat-tab label="Plan">

        <app-plan-return-inflation></app-plan-return-inflation>
    </mat-tab>
    <!-- <mat-tab label="Insurance">

        <app-insurance-return-inflation></app-insurance-return-inflation>
    </mat-tab>
    <mat-tab label="Expenses">
        <app-expenes-return-inflation></app-expenes-return-inflation>
    </mat-tab> -->
</mat-tab-group>