.loginBox {
    width: 60%;
    margin-top: 45px;
    height: 515px;
}

.loginBoxverifyOtp {
    width: 60%;
    margin-top: 45px;
}

.advisorLogo {
    width: 60px;
}

.form_container_new_wrapper {
    width: 80%;
}

.namebtn {
    button.mainloginBtn {
        width: 100% !important;
    }
}

.imgBoxlogin {
    // height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flexLogin {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

::ng-deep .mat-form-field-appearance-standard .mat-form-field-flex {
    padding-top: 0px !important;
}

.eyesPassword {
    position: absolute;
    top: 8px;
    right: 8px;
}

.otpBox {
    background: #FF7272;
    width: 176px;
    height: 40px;
    border-radius: 4px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-weight: 500;
    margin-bottom: 87px;
}

.lightRead {
    color: #FF7272;
}

.verifyDiv {
    width: 35px;
    text-align: center;
    margin-right: 10px;
}

.iconPosition {
    position: absolute;
    top: 8px;
    left: 8px;
}

// --------------------forgot-password ----------------------
.verifyBtn {
    width: 120px;
    height: 40px;
    font-size: 16px;
}

@media screen and (max-width: 767px) {
    .mobileView {
        .imgBoxlogin {
            display: none;
        }
        .flexLogin {
            .loginBoxverifyOtp {
                width: 90%;
                margin-top: 0px;
                .form_container_new_wrapper {
                    width: 100%;
                }
            }
        }
    }
}