ul {
  display: block;

}

li {
  text-align: left !important;
  padding-left: 16px;
  font-size: 14px;
}

ul>li:before {
  content: "–";
  /* en dash here */
  position: absolute;
  margin-left: -1.1em;
}

::ng-deep .in-btn {
  font-size: 12px !important;
  color: #008FFF;
  border-radius: 2px;

  height: 40px;
  width: 138px;
}

.mat-stroked-button:not([disabled]) {
  border-color: #008FFF;
}
