.c-purple {
  color: #9471fd !important;
}

.c-red {
  color: red;
}

.cus-badge {
  width: 20px;
  height: 20px;
  padding: 5px;
  border-radius: 50%;
}

.pos-ab-t-r-7 {
  position: absolute;
  top: 7px;
  right: 7px;
}

.bg-red {
  background-color: red;
  color: #fff;
}

.bg-green {
  background-color: green;
  color: #fff;
}
