<div class="row pt-40 justify-content-md-center ">
    <div class="col-md-9 bt-grey text-center">
        <button *ngIf="addTransactionList==0" (click)="addTransaction()" mat-stroked-button
            class="btn-dark-black addon mt-16"><i class="material-icons">add</i>ADD
            TRANSACTIONS</button>
        <p *ngIf="addTransactionList==0" class="f-12 text-primitive mt-12 ">
            Adding transactions is optional but highly <br> recommended to get better reports
            <span class="text-primary c-p"
                matTooltip="You can add partial transaction history too. E.g. if your A/c commenced in 2012, you can specify balance as on, say 31/03/2017 and enter transactions after 31/03/2017.">
                More info </span>
        </p>
    </div>
</div>
<div *ngIf="addTransactionList>0" class="row pt-20 add-liabilities">
    <div class="col-md-4">
        <label class="f-14"> {{transactionViewData.transactionHeader[0]}}
        </label>
    </div>
    <div class="col-md-3 pl-0">
        <label class="f-14"> {{transactionViewData.transactionHeader[1]}}
        </label>
    </div>
    <div class="col-md-3 pl-0">
        <label class="f-14 ws-nowrap">{{transactionViewData.transactionHeader[2]}}</label>
    </div>
</div>
<div [formGroup]="transactionForm">
    <div class="pb-28" *ngFor="let singleTransForm of getTransFormList.controls;index as i"
        [formGroup]="transactionForm">
        <div [formGroup]="singleTransForm" class="row ">
            <div class="col-md-4">
                <mat-form-field>
                    <mat-select formControlName="type" class="form-control br-0">
                        <!-- <mat-option value="1">Deposit</mat-option>
                        <mat-option value="2">Withdrawal</mat-option> -->
                        <mat-option *ngFor="let singleOption of transactionViewData.optionList"
                            [value]="singleOption.value">
                            {{singleOption.name}}</mat-option>
                    </mat-select>
                    <mat-error>
                        This field is required
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-3 pl-0">
                <div class="form-group mb-0">
                    <mat-form-field class="ba-date">
                        <input class="form-control b-0 br-0" [min]="minDate" [max]="maxDate" matInput
                            formControlName="date" [matDatepicker]="picker" readonly>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                        <mat-error>
                            This field is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-md-3 pl-0">
                <div class="form-group mb-0 iconRupess">
                    <mat-form-field>
                        <input matInput type="text" autocomplete="off" formControlName="amount" maxlength="10"
                            #partPayment class="form-control rupess br-0">
                        <mat-error>
                            This field is required
                        </mat-error>
                        <mat-hint align="end" class="f-12">{{partPayment.value.length}}/10</mat-hint>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-md-2 p-0">
                <div class="pt-8">
                    <i class="material-icons text-primitive c-p f-20 float-left" *ngIf="i==addTransactionList-1"
                        (click)="addTransaction()">add</i>
                    <i class="material-icons text-primitive c-p f-20 pl-10 " (click)="removeTransaction(i)">remove</i>
                </div>
            </div>
        </div>
    </div>
</div>