::ng-deep .mat-form-field-appearance-legacy .mat-form-field-infix {
  padding: 0px;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-suffix .mat-datepicker-toggle-default-icon {
  width: 1.5em !important;
}

::ng-deep .mat-form-field {
  width: 100%;
}


.widthBox {
  width: 85%;
  margin: 20px auto 0px;
  margin-left: 16%;
}
