<div #mfCapitalTemplate id="template" style="display: none;">

    <table cellpadding="0" width="100%" cellspacing="0" border="0" style="font-family: 'Roboto', sans-serif; margin: 0px auto;" align="center; page-break-before: always;">
        <tr>
            <td style=" color: #008FFF;text-align: left; padding-left: 8px; padding-top: 12px !important;padding-bottom: 12px !important;line-height: 16px !important;font-size: 14px; border-top: 1px solid #DADCE0; border-left: 1px solid #DADCE0;border-right: 1px solid #DADCE0; border-bottom: 1px solid #DADCE0;font-family: Roboto,sans-serif;"
                colspan="17">
                EQUITY
            </td>
        </tr>

        <tr *ngIf="dataSource.data?.length == 0">

            <td style="font-weight: 600; text-align: center;text-align: center; padding-top: 12px !important;padding-bottom: 12px !important;line-height: 16px !important;font-size: 14px;border-left: 1px solid #DADCE0;border-right: 1px solid #DADCE0; border-bottom: 1px solid #DADCE0;font-family: Roboto,sans-serif;"
                colspan="17">
                No Data Found
            </td>
        </tr>

        <tr *ngIf="dataSource.data?.length > 0">

            <td style="background: #F5F7F7; width:10%;text-align: left; font-size: 13px; padding: 8px; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; border-top: 1px solid #dee5e7; border-right: 1px solid #dee5e7;">
                <b>Date </b> </td>

            <td style="background: #F5F7F7; width:10%;text-align: right; font-size: 13px; padding: 8px; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; border-top: 1px solid #dee5e7; border-right: 1px solid #dee5e7;">
                <b> Transaction type </b> </td>

            <td style="background: #F5F7F7; width:10%;text-align: left; font-size: 13px; padding: 8px; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; border-top: 1px solid #dee5e7; border-right: 1px solid #dee5e7;">
                <b> Amount </b> </td>

            <td style="background: #F5F7F7; width:10%;text-align: right; font-size: 13px; padding: 8px; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; border-top: 1px solid #dee5e7; border-right: 1px solid #dee5e7;">
                <b> STT </b> </td>

            <td style="background: #F5F7F7; width:10%;text-align: right; font-size: 13px; padding: 8px; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; border-top: 1px solid #dee5e7; border-right: 1px solid #dee5e7;">
                <b> Units </b> </td>

            <td style="background: #F5F7F7; width:10%;text-align: right; font-size: 13px; padding: 8px; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; border-top: 1px solid #dee5e7; border-right: 1px solid #dee5e7;">
                <b> Sale rate </b> </td>

            <td style="background: #F5F7F7; width:10%;text-align: left; font-size: 13px; padding: 8px; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; border-top: 1px solid #dee5e7; border-right: 1px solid #dee5e7;">
                <b>Date </b> </td>

            <td style="background: #F5F7F7; width:10%;text-align: left; font-size: 13px; padding: 8px; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; border-top: 1px solid #dee5e7; border-right: 1px solid #dee5e7;">
                <b> Amount </b> </td>

            <td style="background: #F5F7F7; width:10%;text-align: right; font-size: 13px; padding: 8px; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; border-top: 1px solid #dee5e7; border-right: 1px solid #dee5e7;">
                <b> Units </b> </td>

            <td style="background: #F5F7F7; width:10%;text-align: right; font-size: 13px; padding: 8px; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; border-top: 1px solid #dee5e7; border-right: 1px solid #dee5e7;">
                <b> Purchase rate ST </b> </td>

            <td style="background: #F5F7F7; width:10%;text-align: right; font-size: 13px; padding: 8px; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; border-top: 1px solid #dee5e7; border-right: 1px solid #dee5e7;">
                <b> ST gain </b> </td>

            <td style="background: #F5F7F7; width:10%;text-align: right; font-size: 13px; padding: 8px; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; border-top: 1px solid #dee5e7; border-right: 1px solid #dee5e7;">
                <b> ST loss </b> </td>

            <td style="background: #F5F7F7; width:10%;text-align: right; font-size: 13px; padding: 8px; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; border-top: 1px solid #dee5e7; border-right: 1px solid #dee5e7;">
                <b> LT gain </b> </td>

            <td style="background: #F5F7F7; width:10%;text-align: right; font-size: 13px; padding: 8px; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; border-top: 1px solid #dee5e7; border-right: 1px solid #dee5e7;">
                <b> LT loss </b> </td>

            <td style="background: #F5F7F7; width:10%;text-align: right; font-size: 13px; padding: 8px; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; border-top: 1px solid #dee5e7; border-right: 1px solid #dee5e7;">
                <b> Indexed gain </b> </td>

            <td style="background: #F5F7F7; width:10%;text-align: right; font-size: 13px; padding: 8px; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; border-top: 1px solid #dee5e7; border-right: 1px solid #dee5e7;">
                <b> Indexed loss </b> </td>

            <td style="background: #F5F7F7; width:10%;text-align: right; font-size: 13px; padding: 8px; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; border-top: 1px solid #dee5e7; border-right: 1px solid #dee5e7;">
                <b> Days </b> </td>
        </tr>

        <tr *ngFor="let element of dataSource.data">

            <td colspan="17">
                <table style="width: 100%">
                    <tr>
                        <td colspan="16" style="border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; padding: 8px; font-size: 13px; font-weight: 600;" *ngIf="element.schemeName || element.folioNumber || element.ownerName">
                            {{element.schemeName}}|{{element.folioNumber}}|{{element.ownerName}}
                        </td>
                    </tr>

                    <tr>
                        <td valign="top" style="width:10%; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; padding: 8px; font-size: 13px;">
                            <span *ngIf="element.redeemTransactionDate">
                                {{(element.redeemTransactionDate) ? (element.redeemTransactionDate  | date:'dd/MM/yyyy') : ''}}
                            </span>
                        </td>

                        <td valign="top" style="width:10%; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; padding: 8px; font-size: 13px;">
                            <span *ngIf="element.transactionType">
                                {{((element.transactionType) ? element.transactionType : 'N.A')}}</span>
                        </td>

                        <td valign="top" style="width:10%; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; padding: 8px; font-size: 13px;">
                            <span appFormatNumber *ngIf="element.redeemAmount">
                                {{((element.redeemAmount) ? element.redeemAmount : '0')}}</span>

                        </td>

                        <td valign="top" style="width:10%; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; padding: 8px; font-size: 13px;">
                            <span *ngIf="element.redeemStt || element.redeemStt == 0">{{((element.redeemStt) ? (element.redeemStt | number:'1.2-2') : '0')}}</span>
                        </td>

                        <td valign="top" style="width:10%; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; padding: 8px; font-size: 13px;">
                            <span *ngIf="element.redeemUnit == 0 || element.redeemUnit">{{((element.redeemUnit == 0 || element.redeemUnit) ? (element.redeemUnit | number:'1.2-2') : '0')}}</span>
                        </td>

                        <td valign="top" style="width:10%; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; padding: 8px; font-size: 13px;">
                            <span *ngIf="element.redeemRate == 0 || element.redeemRate  ">{{((element.redeemRate == 0 || element.redeemRate) ? (element.redeemRate | number:'1.2-2') : '0')}}</span>
                        </td>

                        <td valign="top" style="width:10%; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; padding: 8px; font-size: 13px;">
                            <span *ngIf="element.transactionDate || element.transactionDate == ''">
                                {{((element.transactionDate) ? (element.transactionDate  | date:'dd/MM/yyyy') : 'N.A.') }}</span>
                        </td>

                        <td valign="top" style="width:10%; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; padding: 8px; font-size: 13px;">
                            <span *ngIf="element.amount || element.amount == 0" appFormatNumber>{{((element.amount) ? (element.amount | number:'1.2-2') : 0)}}</span>
                        </td>

                        <td valign="top" style="width:10%; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; padding: 8px; font-size: 13px;">
                            <span *ngIf="element.unit || element.unit == 0">{{((element.unit) ? (element.unit | number:'1.2-2') : (element.unit == 0) ? 0 : 0)}}</span>
                        </td>

                        <td valign="top" style="width:10%; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; padding: 8px; font-size: 13px;">
                            <span *ngIf="element.purchasePrice || element.purchasePrice == 0">{{((element.purchasePrice) ? (element.purchasePrice | number:'1.2-2') : (element.purchasePrice == 0) ? 0 : 0)}}</span>
                        </td>

                        <td valign="top" style="width:10%; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; padding: 8px; font-size: 13px;">
                            <span *ngIf="element.stGain || element.stGain == 0">
                                {{((element.stGain) ? (element.stGain | number:'1.2-2') : (element.stGain == 0) ? 0 : 0)}}</span>

                        </td>

                        <td valign="top" style="width:10%; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; padding: 8px; font-size: 13px;">
                            <span *ngIf="element.stLoss == 0">{{((element.stLoss) ? (element.stLoss | number:'1.2-2') : (element.stLoss == 0) ? 0 : 0)}}</span>
                        </td>

                        <td valign="top" style="border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; padding: 8px; font-size: 13px;">
                            <span *ngIf="element.ltGain || element.ltGain == 0">
                                {{((element.ltGain) ? (element.ltGain | number:'1.2-2') : (element.ltGain == 0) ? 0 : 0)}}</span>

                        </td>

                        <td valign="top" style="width:10%; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; padding: 8px; font-size: 13px;">
                            <span *ngIf="element.ltLoss || element.ltLoss == 0">{{((element.ltLoss) ? (element.ltLoss | number:'1.2-2') : (element.ltLoss == 0) ? 0 : 0)}}</span>
                        </td>

                        <td valign="top" style="width:10%; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; padding: 8px; font-size: 13px;">
                            <span *ngIf="element.indexGain || element.indexGain == 0">{{((element.indexGain) ? (element.indexGain | number:'1.2-2') : (element.indexGain == 0) ? 0 : 0)}}</span>
                        </td>

                        <td valign="top" style="width:10%; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; padding: 8px; font-size: 13px;">
                            <span *ngIf="element.indexLoss || element.indexLoss == 0">
                                {{((element.indexLoss) ? (element.indexLoss | number:'1.2-2') : (element.indexLoss == 0) ? 0 : 0)}}</span>
                        </td>

                        <td valign="top" style="width:10%; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; padding: 8px; font-size: 13px;">
                            <span *ngIf="element.days || element.days == 0">{{((element.days) ? (element.days) : 'N.A')}}</span>
                        </td>
                    </tr>

                </table>
            </td>



        </tr>

        <tr *ngFor="let element of dataSource.data">

            <td valign="top" style="width:10%; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; padding: 8px; font-size: 13px; font-weight: 600;" *ngIf="element.totalAmt">
                {{element.totalAmt}}
            </td>

            <td valign="top" style="width:10%; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; padding: 8px; font-size: 13px;">

            </td>

            <td valign="top" style=" width:10%; font-weight: 600; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; padding: 8px; font-size: 13px;" *ngIf="element.totalAmount">
                {{((element.totalAmount) ? element.totalAmount : '0')}}
            </td>

            <td valign="top" style="width:10%;  font-weight: 600;border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; padding: 8px; font-size: 13px;" *ngIf="element.totalStt">
                {{(isLoading) ? '' : ((element.totalStt) ? (element.totalStt | number:'1.2-2') : '0')}}
            </td>

            <td valign="top" style="width:10%; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; padding: 8px; font-size: 13px;">
            </td>

            <td valign="top" style="width:10%; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; padding: 8px; font-size: 13px;">
            </td>

            <td valign="top" style="width:10%; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; padding: 8px; font-size: 13px;">
            </td>

            <td valign="top" style="width:10%; font-weight: 600;border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; padding: 8px; font-size: 13px;" *ngIf="element.purchaseAmount || element.purchaseAmount == 0">
                {{((element.purchaseAmount) ? element.purchaseAmount : 0)}}
            </td>
            <td valign="top" style="width:10%; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; padding: 8px; font-size: 13px;">
            </td>

            <td valign="top" style="width:10%; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; padding: 8px; font-size: 13px;">
            </td>

            <td valign="top" style="width:10%; font-weight: 600; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; padding: 8px; font-size: 13px;" *ngIf="element.totalStGain || element.totalStGain == 0">
                {{((element.totalStGain) ? (element.totalStGain | number:'1.2-2') : (element.totalStGain == 0) ? 0 : 0)}}
            </td>

            <td valign="top" style="width:10%; font-weight: 600; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; padding: 8px; font-size: 13px;" *ngIf="element.totalStLoss || element.totalStLoss == 0">
                {{((element.totalStLoss) ? (element.totalStLoss | number:'1.2-2') : (element.totalStLoss == 0) ? 0 : 0)}}
            </td>

            <td valign="top" style="width:10%; font-weight: 600; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; padding: 8px; font-size: 13px;" *ngIf="element.totalLtGain || element.totalLtGain == 0">
                {{((element.totalLtGain) ? (element.totalLtGain | number:'1.2-2') : (element.totalLtGain == 0) ? 0 : 0)}}
            </td>

            <td valign="top" style="width:10%; font-weight: 600; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; padding: 8px; font-size: 13px;" *ngIf="element.totalStLoss || element.totalStLoss == 0">
                {{((element.totalStLoss) ? (element.totalStLoss | number:'1.2-2') : (element.totalStLoss == 0) ? 0 : 0)}}
            </td>

            <td valign="top" style="width:10%; font-weight: 600; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; padding: 8px; font-size: 13px;" *ngIf="element.totalIndexGain || element.totalIndexGain == 0">
                {{((element.totalIndexGain) ? (element.totalIndexGain | number:'1.2-2') : (element.totalIndexGain == 0) ? 0 : 0)}}
            </td>

            <td valign="top" style="width:10%; font-weight: 600; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; padding: 8px; font-size: 13px;" *ngIf="element.totalIndexLoss || element.totalIndexLoss == 0">
                {{((element.totalIndexLoss) ? (element.totalIndexLoss | number:'1.2-2') : (element.totalIndexLoss == 0) ? 0 : 0)}}
            </td>

            <td valign="top" style="width:10%;  border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; padding: 8px; font-size: 13px;">
            </td>
        </tr>

        <tr *ngIf="dataSource.data.length > 0">
            <td valign="top" style="width:10%; font-weight: 600; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; padding: 8px; font-size: 13px;">
                EQUITY TOTAL
            </td>

            <td valign="top" style="width:10%; font-weight: 600;border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; padding: 8px; font-size: 13px;">

            </td>

            <td valign="top" style="width:10%; font-weight: 600;border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; padding: 8px; font-size: 13px;" appFormatNumber [value]="equityObj ? equityObj.totalAmount : 0">

            </td>

            <td valign="top" style="width:10%; font-weight: 600;border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; padding: 8px; font-size: 13px;">
                {{(equityObj) ? ((equityObj.totalStt == 0 ) ? 0 : (equityObj.totalStt | number:'1.2-2')) : '0'}}
            </td>

            <td valign="top" style="width:10%; font-weight: 600;border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; padding: 8px; font-size: 13px;">
            </td>

            <td valign="top" style="width:10%; font-weight: 600;border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; padding: 8px; font-size: 13px;">
            </td>

            <td valign="top" style="width:10%; font-weight: 600;border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; padding: 8px; font-size: 13px;">
            </td>

            <td valign="top" style="width:10%; font-weight: 600;border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; padding: 8px; font-size: 13px;" appFormatNumber [value]="equityObj ? equityObj.purchaseAmount : 0">
            </td>
            <td valign="top" style="width:10%; font-weight: 600;border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; padding: 8px; font-size: 13px;">
            </td>
            <td valign="top" style="width:10%; font-weight: 600;border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; padding: 8px; font-size: 13px;">
            </td>
            <td valign="top" style="width:10%; font-weight: 600;border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; padding: 8px; font-size: 13px;">
                {{(equityObj) ? ((equityObj.totalStGain == 0 ) ? 0 : (equityObj.totalStGain | number:'1.2-2')) : '0'}}
            </td>
            <td valign="top" style="width:10%; font-weight: 600;border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; padding: 8px; font-size: 13px;">
                {{(equityObj) ? ((equityObj.totalStLoss == 0 ) ? 0 : (equityObj.totalStLoss | number:'1.2-2')) : '0'}}
            </td>
            <td valign="top" style="width:10%; font-weight: 600;border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; padding: 8px; font-size: 13px;">
                {{(equityObj) ? ((equityObj.totalLtGain == 0 ) ? 0 : (equityObj.totalLtGain | number:'1.2-2')) : '0'}}
            </td>
            <td valign="top" style="width:10%; font-weight: 600;border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; padding: 8px; font-size: 13px;">
                {{(equityObj) ? ((equityObj.totalStLoss == 0 ) ? 0 : (equityObj.totalStLoss | number:'1.2-2')) : '0'}}
            </td>
            <td valign="top" style="width:10%; font-weight: 600;border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; padding: 8px; font-size: 13px;">
                {{(equityObj) ? ((equityObj.totalIndexGain == 0 ) ? 0 : (equityObj.totalIndexGain | number:'1.2-2')) : '0'}}
            </td>
            <td valign="top" style="width:10%; font-weight: 600;border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; padding: 8px; font-size: 13px;">
                {{(equityObj) ? ((equityObj.totalIndexLoss == 0 ) ? 0 : (equityObj.totalIndexLoss | number:'1.2-2')) : '0'}}
            </td>
            <td valign="top" style="width:10%; font-weight: 600;border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; padding: 8px; font-size: 13px;">
            </td>
        </tr>

        <tr>
            <td style=" color: #008FFF;text-align: left; padding-left: 8px; padding-top: 12px !important;padding-bottom: 12px !important;line-height: 16px !important;font-size: 14px; border-top: 1px solid #DADCE0; border-left: 1px solid #DADCE0;border-right: 1px solid #DADCE0; border-bottom: 1px solid #DADCE0;font-family: Roboto,sans-serif;"
                colspan="17">
                DEBT
            </td>
        </tr>

        <tr *ngIf="dataSource1.data?.length == 0">
            <td style="font-weight: 600; text-align: center;text-align: center; padding-top: 12px !important;padding-bottom: 12px !important;line-height: 16px !important;font-size: 14px;border-left: 1px solid #DADCE0;border-right: 1px solid #DADCE0; border-bottom: 1px solid #DADCE0;font-family: Roboto,sans-serif;"
                colspan="17">
                No Data Found
            </td>
        </tr>

        <tr>
            <td colspan="6" style="  padding: 8px; font-weight: 600; background: #F5F7F7; font-size: 13px; border-right: 1px solid #dee5e7;">
                REDEMPTION DETAILS
            </td>

            <td colspan="4" style="padding: 8px; font-weight: 600; background: #F5F7F7; font-size: 13px; border-right: 1px solid #dee5e7;">
                REDEMPTION AGAINST (PURCHASES)
                <!-- *ngIf="(fromDate) ? fromDate.getFullYear() > 2018 : ''" prod build -->
                <span>AS
                    ON 31 JAN
                    2018</span>
            </td>

            <td colspan="7" style=" font-weight: 600; background: #F5F7F7; padding: 8px; font-size: 13px; border-right: 1px solid #dee5e7;">
                GAIN/LOSS
            </td>
        </tr>

        <tr *ngIf="dataSource1.data?.length > 0">
            <td style="background: #F5F7F7; width:10%;text-align: left; font-size: 13px; padding: 8px; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; border-top: 1px solid #dee5e7; border-right: 1px solid #dee5e7;">
                <b>Date </b> </td>

            <td style="background: #F5F7F7; width:10%;text-align: right; font-size: 13px; padding: 8px; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; border-top: 1px solid #dee5e7; border-right: 1px solid #dee5e7;">
                <b> Transaction type </b> </td>

            <td style="background: #F5F7F7; width:10%;text-align: left; font-size: 13px; padding: 8px; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; border-top: 1px solid #dee5e7; border-right: 1px solid #dee5e7;">
                <b> Amount </b> </td>

            <td style="background: #F5F7F7; width:10%;text-align: right; font-size: 13px; padding: 8px; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; border-top: 1px solid #dee5e7; border-right: 1px solid #dee5e7;">
                <b> STT </b> </td>

            <td style="background: #F5F7F7; width:10%;text-align: right; font-size: 13px; padding: 8px; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; border-top: 1px solid #dee5e7; border-right: 1px solid #dee5e7;">
                <b> Units </b> </td>

            <td style="background: #F5F7F7; width:10%;text-align: right; font-size: 13px; padding: 8px; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; border-top: 1px solid #dee5e7; border-right: 1px solid #dee5e7;">
                <b> Sale rate </b> </td>

            <td style="background: #F5F7F7;width:10%;text-align: left; font-size: 13px; padding: 8px; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; border-top: 1px solid #dee5e7; border-right: 1px solid #dee5e7;">
                <b>Date </b> </td>

            <td style="background: #F5F7F7;width:10%;text-align: left; font-size: 13px; padding: 8px; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; border-top: 1px solid #dee5e7; border-right: 1px solid #dee5e7;">
                <b> Amount </b> </td>

            <td style="background: #F5F7F7;width:10%;text-align: right; font-size: 13px; padding: 8px; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; border-top: 1px solid #dee5e7; border-right: 1px solid #dee5e7;">
                <b> Units </b> </td>

            <td style="background: #F5F7F7;width:10%;text-align: right; font-size: 13px; padding: 8px; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; border-top: 1px solid #dee5e7; border-right: 1px solid #dee5e7;">
                <b> Purchase rate ST </b> </td>

            <td style="background: #F5F7F7; width:10%;text-align: right; font-size: 13px; padding: 8px; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; border-top: 1px solid #dee5e7; border-right: 1px solid #dee5e7;">
                <b> ST gain </b> </td>

            <td style="background: #F5F7F7;width:10%;text-align: right; font-size: 13px; padding: 8px; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; border-top: 1px solid #dee5e7; border-right: 1px solid #dee5e7;">
                <b> ST loss </b> </td>

            <td style="background: #F5F7F7;width:10%;text-align: right; font-size: 13px; padding: 8px; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; border-top: 1px solid #dee5e7; border-right: 1px solid #dee5e7;">
                <b> LT gain </b> </td>

            <td style="background: #F5F7F7;width:10%;text-align: right; font-size: 13px; padding: 8px; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; border-top: 1px solid #dee5e7; border-right: 1px solid #dee5e7;">
                <b> LT loss </b> </td>

            <td style="background: #F5F7F7;width:10%;text-align: right; font-size: 13px; padding: 8px; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; border-top: 1px solid #dee5e7; border-right: 1px solid #dee5e7;">
                <b> Indexed gain </b> </td>

            <td style="background: #F5F7F7;width:10%;text-align: right; font-size: 13px; padding: 8px; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; border-top: 1px solid #dee5e7; border-right: 1px solid #dee5e7;">
                <b> Indexed loss </b> </td>

            <td style="background: #F5F7F7;width:10%;text-align: right; border-right: 1px solid #dee5e7; font-size: 13px; padding: 8px; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; border-top: 1px solid #dee5e7; border-right: 1px solid #dee5e7;">
                <b> Days </b> </td>
        </tr>
        <tr *ngFor="let element of dataSource1.data">
            <td colspan="17">
                <table style="width: 100%">
                    <tr>
                        <td *ngIf="element.schemeName || element.folioNumber || element.ownerName" colspan="17" style="border-right: 1px solid #dee5e7; font-weight: 600; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; padding: 8px; font-size: 13px;">
                            {{element.schemeName}}|{{element.folioNumber}}|{{element.ownerName}}
                        </td>
                    </tr>

                    <tr *ngIf="element.redeemTransactionDate">
                        <td valign="top" style="width:10%; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; padding: 8px; font-size: 13px;">
                            <span *ngIf="element.redeemTransactionDate">
                                {{(element.redeemTransactionDate) ? (element.redeemTransactionDate  | date:'dd/MM/yyyy') : ''}}
                            </span>
                        </td>

                        <td valign="top" style="width:10%; font-size: 13px; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; padding: 8px;">
                            <span *ngIf="element.transactionType">
                                {{((element.transactionType) ? element.transactionType : 'N.A')}}</span>
                        </td>

                        <td valign="top" style="width:10%; font-size: 13px; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; padding: 8px;">
                            <span appFormatNumber *ngIf="element.redeemAmount">
                                {{((element.redeemAmount) ? element.redeemAmount : '0')}}</span>
                        </td>

                        <td valign="top" style=" width:10%;  font-size: 13px; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; padding: 8px;">
                            <span *ngIf="element.redeemStt || element.redeemStt == 0">{{((element.redeemStt) ? (element.redeemStt | number:'1.2-2') : '0')}}</span>
                        </td>

                        <td valign="top" style=" width:10%; font-size: 13px; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; padding: 8px;">
                            <span *ngIf="element.redeemUnit == 0 || element.redeemUnit">{{((element.redeemUnit == 0 || element.redeemUnit) ? (element.redeemUnit | number:'1.2-2') : '0')}}</span>
                        </td>

                        <td valign="top" style=" width:10%;font-size: 13px; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; padding: 8px;">
                            <span *ngIf="element.redeemRate == 0 || element.redeemRate  ">{{((element.redeemRate == 0 || element.redeemRate) ? (element.redeemRate | number:'1.2-2') : '0')}}</span>
                        </td>

                        <td valign="top" style=" width:10%; font-size: 13px; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; padding: 8px;">
                            <span *ngIf="element.transactionDate || element.transactionDate == ''">
                                {{((element.transactionDate) ? (element.transactionDate  | date:'dd/MM/yyyy') : 'N.A.') }}</span>
                        </td>

                        <td valign="top" style=" width:10%;font-size: 13px; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; padding: 8px;">
                            <span *ngIf="element.amount || element.amount == 0" appFormatNumber>{{((element.amount) ? (element.amount | number:'1.2-2') : 0)}}</span>
                        </td>

                        <td valign="top" style=" width:10%;font-size: 13px; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; padding: 8px;">
                            <span *ngIf="element.unit || element.unit == 0">{{((element.unit) ? (element.unit | number:'1.2-2') : (element.unit == 0) ? 0 : 0)}}</span>
                        </td>

                        <td valign="top" style=" width:10%;font-size: 13px; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; padding: 8px;">
                            <span *ngIf="element.purchasePrice || element.purchasePrice == 0">{{((element.purchasePrice) ? (element.purchasePrice | number:'1.2-2') : (element.purchasePrice == 0) ? 0 : 0)}}</span>
                        </td>

                        <td valign="top" style="width:10%; font-size: 13px; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; padding: 8px;">
                            <span *ngIf="element.stGain || element.stGain == 0">
                                {{((element.stGain) ? (element.stGain | number:'1.2-2') : (element.stGain == 0) ? 0 : 0)}}</span>
                        </td>

                        <td valign="top" style=" width:10%;font-size: 13px; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; padding: 8px;">
                            <span *ngIf="element.stLoss == 0">{{((element.stLoss) ? (element.stLoss | number:'1.2-2') : (element.stLoss == 0) ? 0 : 0)}}</span>
                        </td>

                        <td valign="top" style=" width:10%;font-size: 13px; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; padding: 8px;">
                            <span *ngIf="element.ltGain || element.ltGain == 0">
                                {{((element.ltGain) ? (element.ltGain | number:'1.2-2') : (element.ltGain == 0) ? 0 : 0)}}</span>
                        </td>

                        <td valign="top" style=" width:10%;font-size: 13px; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; padding: 8px;">
                            <span *ngIf="element.ltLoss || element.ltLoss == 0">{{((element.ltLoss) ? (element.ltLoss | number:'1.2-2') : (element.ltLoss == 0) ? 0 : 0)}}</span>
                        </td>

                        <td valign="top" style=" width:10%;font-size: 13px; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; padding: 8px;">
                            <span *ngIf="element.indexGain || element.indexGain == 0">{{((element.indexGain) ? (element.indexGain | number:'1.2-2') : (element.indexGain == 0) ? 0 : 0)}}</span>
                        </td>

                        <td valign="top" style=" width:10%;font-size: 13px; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; padding: 8px;">
                            <span *ngIf="element.indexLoss || element.indexLoss == 0">
                                {{((element.indexLoss) ? (element.indexLoss | number:'1.2-2') : (element.indexLoss == 0) ? 0 : 0)}}</span>
                        </td>

                        <td valign="top" style="width:10%; font-size: 13px; border-left: 1px solid #dee5e7; border-right: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; padding: 8px;">
                            <span *ngIf="element.days || element.days == 0">{{((element.days) ? (element.days) : 'N.A')}}</span>
                        </td>
                    </tr>
                    <tr *ngIf="element.totalAmt">
                        <td valign="top" *ngIf="element.totalAmt" style="width:10%; font-size: 13px; font-weight: 600; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; padding: 8px;">
                            {{element.totalAmt}}
                        </td>

                        <td valign="top" style="width:10%;font-size: 13px; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; padding: 8px;">

                        </td>

                        <td valign="top" *ngIf="element.totalAmount" style="width:10%;font-size: 13px; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; padding: 8px;">
                            <span appFormatNumber>{{((element.totalAmount) ? element.totalAmount : '0')}}</span>
                        </td>

                        <td valign="top" *ngIf="element.totalStt" style="width:10%;font-size: 13px; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; padding: 8px;">
                            {{(isLoading) ? '' : ((element.totalStt) ? (element.totalStt | number:'1.2-2') : '0')}}
                        </td>

                        <td valign="top" style="width:10%;font-size: 13px; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; padding: 8px;">
                        </td>

                        <td valign="top" style="width:10%;font-size: 13px; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; padding: 8px;">
                        </td>

                        <td valign="top" style="width:10%;font-size: 13px; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; padding: 8px;">
                        </td>

                        <td valign="top" *ngIf="element.purchaseAmount || element.purchaseAmount == 0" style="font-size: 13px; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; padding: 8px; width:10%;">
                            {{((element.purchaseAmount) ? element.purchaseAmount : 0)}}
                        </td>
                        <td valign="top" style="font-size: 13px; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; padding: 8px;width:10%;" valign="top">
                        </td>
                        <td valign="top" style="width:10%;font-size: 13px; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; padding: 8px;width:10%;">
                        </td>
                        <td valign="top" *ngIf="element.totalStGain || element.totalStGain == 0" style="width:10%;font-size: 13px; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; padding: 8px;">
                            {{((element.totalStGain) ? (element.totalStGain | number:'1.2-2') : (element.totalStGain == 0) ? 0 : 0)}}
                        </td>
                        <td valign="top" *ngIf="element.totalStLoss || element.totalStLoss == 0" style="width:10%;font-size: 13px; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; padding: 8px;">
                            {{((element.totalStLoss) ? (element.totalStLoss | number:'1.2-2') : (element.totalStLoss == 0) ? 0 : 0)}}
                        </td>
                        <td valign="top" *ngIf="element.totalLtGain || element.totalLtGain == 0" style="width:10%;font-size: 13px; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; padding: 8px;">
                            {{((element.totalLtGain) ? (element.totalLtGain | number:'1.2-2') : (element.totalLtGain == 0) ? 0 : 0)}}
                        </td>
                        <td valign="top" *ngIf="element.totalStLoss || element.totalStLoss == 0" style="width:10%;font-size: 13px; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; padding: 8px;">
                            {{((element.totalStLoss) ? (element.totalStLoss | number:'1.2-2') : (element.totalStLoss == 0) ? 0 : 0)}}
                        </td>
                        <td valign="top" *ngIf="element.totalIndexGain || element.totalIndexGain == 0" style="width:10%;font-size: 13px; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; padding: 8px;">
                            {{((element.totalIndexGain) ? (element.totalIndexGain | number:'1.2-2') : (element.totalIndexGain == 0) ? 0 : 0)}}
                        </td>
                        <td valign="top" *ngIf="element.totalIndexLoss || element.totalIndexLoss == 0" style="width:10%;font-size: 13px; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; padding: 8px;">
                            {{((element.totalIndexLoss) ? (element.totalIndexLoss | number:'1.2-2') : (element.totalIndexLoss == 0) ? 0 : 0)}}
                        </td>
                        <td valign="top" style="width:10%;font-size: 13px; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; padding: 8px;">
                        </td>
                    </tr>
                </table>
            </td>
        </tr>




        <tr *ngIf="dataSource1.data.length > 0">
            <td valign="top" style="width:10%;font-weight: 600; font-size: 13px; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; padding: 8px;">
                DEBT TOTAL
            </td>

            <td valign="top" style="width:10%;font-weight: 600; font-size: 13px; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; padding: 8px;">

            </td>

            <td valign="top" style="width:10%;font-weight: 600; font-size: 13px; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; padding: 8px;" appFormatNumber [value]="debtObj ? debtObj.totalAmount : 0">

            </td>

            <td valign="top" style="width:10%;font-weight: 600; font-size: 13px; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; padding: 8px;">
                {{(debtObj) ? ((debtObj.totalStt == 0 ) ? 0 : (debtObj.totalStt | number:'1.2-2')) : '0'}}
            </td>

            <td valign="top" style="width:10%;font-weight: 600; font-size: 13px; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; padding: 8px;" style="font-size: 13px; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; padding: 8px;">
            </td>

            <td valign="top" style="width:10%;font-weight: 600; font-size: 13px; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; padding: 8px;">
            </td>

            <td valign="top" style="width:10%;font-weight: 600; font-size: 13px; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; padding: 8px;">
            </td>

            <td valign="top" style="width:10%;font-weight: 600; font-size: 13px; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; padding: 8px;" appFormatNumber [value]="debtObj ? debtObj.purchaseAmount : 0">
            </td>
            <td valign="top" style="width:10%;font-weight: 600; font-size: 13px; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; padding: 8px;">
            </td>
            <td valign="top" style="width:10%;font-weight: 600; font-size: 13px; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; padding: 8px;">
            </td>
            <td valign="top" style="width:10%;font-weight: 600; font-size: 13px; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; padding: 8px;">
                {{(debtObj) ? ((debtObj.totalStGain == 0 ) ? 0 : (debtObj.totalStGain | number:'1.2-2')) : '0'}}
            </td>
            <td valign="top" style="width:10%;font-weight: 600; font-size: 13px; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; padding: 8px;">
                {{(debtObj) ? ((debtObj.totalStLoss == 0 ) ? 0 : (debtObj.totalStLoss | number:'1.2-2')) : '0'}}
            </td>
            <td valign="top" style="width:10%;font-weight: 600; font-size: 13px; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; padding: 8px;">
                {{(debtObj) ? ((debtObj.totalLtGain == 0 ) ? 0 : (debtObj.totalLtGain | number:'1.2-2')) : '0'}}
            </td>
            <td valign="top" style="width:10%;font-weight: 600; font-size: 13px; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; padding: 8px;">
                {{(debtObj) ? ((debtObj.totalStLoss == 0 ) ? 0 : (debtObj.totalStLoss | number:'1.2-2')) : '0'}}
            </td>
            <td valign="top" style="width:10%;font-weight: 600; font-size: 13px; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; padding: 8px;">
                {{(debtObj) ? ((debtObj.totalIndexGain == 0 ) ? 0 : (debtObj.totalIndexGain | number:'1.2-2')) : '0'}}
            </td>
            <td valign="top" style="width:10%;font-weight: 600; font-size: 13px; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; padding: 8px;">
                {{(debtObj) ? ((debtObj.totalIndexLoss == 0 ) ? 0 : (debtObj.totalIndexLoss | number:'1.2-2')) : '0'}}
            </td>
            <td valign="top" style="width:10%;font-weight: 600; font-size: 13px; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; padding: 8px;">
            </td>
        </tr>

        <tr *ngIf="dataSource1.data.length > 0">
            <td valign="top" style="width:10%;font-weight: 600; font-size: 13px; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; padding: 8px;">
                GRAND TOTAL
            </td>

            <td valign="top" style="width:10%;font-weight: 600; font-size: 13px; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; padding: 8px;">

            </td>

            <td valign="top" style="width:10%;font-weight: 600; font-size: 13px; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; padding: 8px;" appFormatNumber [value]="redeemAmount">

            </td>

            <td valign="top" style="width:10%;font-weight: 600; font-size: 13px; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; padding: 8px;">
                {{(total_stt) ? (total_stt | number:'1.2-2') : '0'}}
            </td>

            <td valign="top" style="width:10%;font-weight: 600; font-size: 13px; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; padding: 8px;">
            </td>

            <td valign="top" style="width:10%;font-weight: 600; font-size: 13px; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; padding: 8px;">
            </td>

            <td valign="top" style="width:10%;font-weight: 600; font-size: 13px; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; padding: 8px;">
            </td>

            <td valign="top" style="width:10%;font-weight: 600; font-size: 13px; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; padding: 8px;" appFormatNumber [value]="purchaseAmount">
            </td>
            <td valign="top" style="width:10%;font-weight: 600; font-size: 13px; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; padding: 8px;">
            </td>
            <td valign="top" style="width:10%;font-weight: 600; font-size: 13px; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; padding: 8px;">
            </td>
            <td valign="top" style="width:10%;font-weight: 600; font-size: 13px; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; padding: 8px;">
                {{(total_stGain) ? ((total_stGain == 0 ) ? 0 : (total_stGain | number:'1.2-2')) : '0'}}
            </td>
            <td valign="top" style="width:10%;font-weight: 600; font-size: 13px; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; padding: 8px;">
                {{(debtObj) ? ((debtObj.totalStLoss == 0 ) ? 0 : (debtObj.totalStLoss | number:'1.2-2')) : '0'}}
            </td>
            <td valign="top" style="width:10%;font-weight: 600; font-size: 13px; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; padding: 8px;">
                {{(debtObj) ? ((debtObj.totalLtGain == 0 ) ? 0 : (debtObj.totalLtGain | number:'1.2-2')) : '0'}}
            </td>
            <td valign="top" style="width:10%;font-weight: 600; font-size: 13px; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; padding: 8px;">
                {{(debtObj) ? ((debtObj.totalStLoss == 0 ) ? 0 : (debtObj.totalStLoss | number:'1.2-2')) : '0'}}
            </td>
            <td valign="top" style="width:10%;font-weight: 600; font-size: 13px; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; padding: 8px;">
                {{(debtObj) ? ((debtObj.totalIndexGain == 0 ) ? 0 : (debtObj.totalIndexGain | number:'1.2-2')) : '0'}}
            </td>
            <td valign="top" style="width:10%;font-weight: 600; font-size: 13px; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; padding: 8px;">
                {{(debtObj) ? ((debtObj.totalIndexLoss == 0 ) ? 0 : (debtObj.totalIndexLoss | number:'1.2-2')) : '0'}}
            </td>
            <td valign="top" style="width:10%;font-weight: 600; font-size: 13px; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; padding: 8px;">
            </td>
        </tr>

        <tr>
            <td style="color: #008FFF;text-align: left; padding-left: 8px; padding-top: 12px !important;padding-bottom: 12px !important;line-height: 16px !important;font-size: 14px;border-left: 1px solid #DADCE0;border-right: 1px solid #DADCE0; border-bottom: 1px solid #DADCE0;font-family: Roboto,sans-serif;"
                colspan="17">
                DIVIDEND SUMMARY
            </td>
        </tr>

        <tr *ngIf="dataSource2.data.length == 0">
            <td style="font-weight: 600; text-align: center;text-align: center; padding-top: 12px !important;padding-bottom: 12px !important;line-height: 16px !important;font-size: 14px;border-left: 1px solid #DADCE0;border-right: 1px solid #DADCE0; border-bottom: 1px solid #DADCE0;font-family: Roboto,sans-serif;"
                colspan="17">
                No Data Found
            </td>
        </tr>

        <tr *ngIf="dataSource2.data.length > 0">
            <td style="background: #F5F7F7; width:10%;text-align: left; font-size: 13px; padding: 8px; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; border-top: 1px solid #dee5e7; border-right: 1px solid #dee5e7;">
                <b>Scheme name </b> </td>

            <td style="background: #F5F7F7; width:10%;text-align: right; font-size: 13px; padding: 8px; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; border-top: 1px solid #dee5e7; border-right: 1px solid #dee5e7;">
                <b> Folio number </b> </td>

            <td style="background: #F5F7F7; width:10%;text-align: left; font-size: 13px; padding: 8px; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; border-top: 1px solid #dee5e7; border-right: 1px solid #dee5e7;">
                <b> Dividend payout </b> </td>

            <td style="background: #F5F7F7; width:10%;text-align: right; font-size: 13px; padding: 8px; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; border-top: 1px solid #dee5e7; border-right: 1px solid #dee5e7;">
                <b> Dividend reinvestment </b> </td>

            <td style="background: #F5F7F7; width:10%;text-align: right; font-size: 13px; padding: 8px; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; border-top: 1px solid #dee5e7; border-right: 1px solid #dee5e7;">
                <b> Total reinvesment </b> </td>

        </tr>


        <tr *ngFor="let element of dataSource2.data">
            <td valign="top" style="width:10%;font-size: 13px; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; padding: 8px;">
                {{element.schemeName}}
            </td>

            <td valign="top" style="width:10%;font-size: 13px; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; padding: 8px;">
                {{element.folioNumber}}
            </td>

            <td valign="top" style="width:10%;font-size: 13px; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; padding: 8px;">
                {{(isLoading) ? '' : ((element.dividendPayout) ? element.dividendPayout : 'N.A')}}
            </td>

            <td valign="top" style="width:10%;font-size: 13px; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; padding: 8px;">
                {{(element.dividendReinvestment == 0) ? (element.dividendReinvestment) : (element.dividendReinvestment | number:'1.2-2' ) }}
            </td>

            <td valign="top" style="width:10%;font-size: 13px; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; padding: 8px;">
                {{(element.totalReinvesment == 0 ) ? (element.totalReinvesment) : (element.totalReinvesment | number:'1.2-2')}}
            </td>


        </tr>


        <tr *ngIf="dataSource2.data.length > 0">
            <td valign="top" style="width:10%;font-size: 13px; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; padding: 8px;">
                Total
            </td>

            <td valign="top" style="width:10%;font-size: 13px; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; padding: 8px;">
            </td>

            <td valign="top" style="width:10%;font-size: 13px; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; padding: 8px;">
                {{(GTdividendPayout == 0 ) ? (totaldividendPayout) : (GTdividendPayout | number:'1.2-2')}}
            </td>

            <td valign="top" style="width:10%;font-size: 13px; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; padding: 8px;">
                {{(GTdividendReinvestment == 0 ) ? (GTdividendReinvestment) : (GTdividendReinvestment | number:'1.2-2')}}
            </td>

            <td valign="top" style="width:10%;font-size: 13px; border-left: 1px solid #dee5e7; border-bottom: 1px solid #dee5e7; padding: 8px;">
                {{(GTReinvesment == 0 ) ? (GTReinvesment) : (GTReinvesment | number:'1.2-2')}}
            </td>

        </tr>

    </table>

</div>