<div class="p-24">
    <h3>Manage exclusions</h3>
    <div [formGroup]="manageExclusionsForm" class="row pt-4">
        <div class="col-md-4 form-group">
            <mat-form-field>
                <p>Dervied amount</p>
                <input matInput formControlName="derivedAmount" class="form-control" autocomplete="off">
                <mat-error>This field is required</mat-error>
            </mat-form-field>
        </div>
        <div class="col-md-4 form-group">
            <mat-form-field>
                <p>Available amount</p>
                <input matInput formControlName="availableAmount" class="form-control" autocomplete="off">
                <mat-error>This field is required</mat-error>
            </mat-form-field>
        </div>
        <div class="col-md-4 form-group">
            <mat-form-field>
                <p>Exclusion amount</p>
                <input matInput formControlName="exclusionAmount" class="form-control" autocomplete="off">
                <mat-error>This field is required</mat-error>
            </mat-form-field>
        </div>
        <div class="row pt-8">
            <div class="col-md-12 form-group">
                <mat-form-field>
                    <p>Exclusion reason</p>
                    <input matInput formControlName="exclusionReason" class="form-control" autocomplete="off">
                    <mat-error>This field is required</mat-error>
                </mat-form-field>
            </div>
        </div>
    </div>

    <button mat-raised-button (click)="close()">CANCEL</button>
    <button mat-raised-button class="text-primary">ADD</button>
</div>