#ui-dashboard-advisor {
  #advisor-radio {
    .mat-tab-label {
      height: 40px !important;
    }

    .mat-tab-body-content {
      overflow: hidden;
    }



    .mat-radio-label {
      height: auto !important;
    }

    .mat-radio-label-content {

      white-space: normal !important;
      font-size: 14px;
      padding-bottom: 15px;
      padding-top: 15px;
      padding-left: 10px;
      line-height: 20px;

    }

    hr.ad {
      height: 0.5px;
      background-color: rgba(0, 0, 0, 0.12);
      margin: 0px !important;
      border: 0px !important;
      width: 80%;
      margin-left: 38px !important;

    }


  }

  .advisor-status {
    background: #FFFFFF;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2), 0px 3px 14px rgba(0, 0, 0, 0.12), 0px 8px 10px rgba(0, 0, 0, 0.14);
    border-radius: 0px;
  }

  .bg-advisors {
    background: linear-gradient(180deg, rgba(253, 175, 64, 0.79) 12.92%, #FDAF40 99.1%, rgba(253, 175, 64, 0.890604) 99.11%);
  }

  .text-open-guide {
    color: #FF9F00;
  }

  .ba-advisor {
    border: 1px solid #FF9F00;
  }

  .bg-hred {
    background: #FF7272;
  }

  .bussiness-snapshot {
    #table-low {

      tr.mat-header-row,
      tr.mat-row {
        height: 36px !important;
      }

      tr {
        border: 0px !important;
      }

      th,
      thead tr {
        background-color: transparent !important;
      }
    }
  }

  .advisor-view-all {
    border-radius: 2px !important;
    border: 1px solid #83959D;
    height: 20px;
    font-size: 12px;
    line-height: 16px;
    padding: 0 3px;
    min-width: 55px;
    color: #83959D;
    letter-spacing: 0.4px;
  }

  .today-task {

    tr.mat-header-row {
      height: 40px !important;
    }

    tr.mat-row {
      height: 38px !important
    }
  }

  .progress-advisors {
    .mat-progress-bar {
      height: 30px;
      margin-bottom: 10px;
      border-radius: 4px;
    }

    .mat-progress-bar-background {
      fill: #fff;
    }

    .mat-progress-bar-buffer {
      background-color: #fff;
    }

    .mat-progress-bar-fill::after {
      background-color: #D9DEE1;
    }

    p.top {
      position: absolute;
      margin-top: -34px !important;
      left: 9px;
    }
  }

  .progress-advisors-goal {
    .mat-progress-bar {
      height: 30px;
      margin-bottom: 10px;
      border-radius: 4px;
    }

    .mat-progress-bar-background {
      fill: #fff;
    }

    .mat-progress-bar-buffer {
      background-color: #fff;
    }


    .light-red {
      .mat-progress-bar-fill::after {
        background-color: rgba(255, 114, 114, 0.4);
        border-radius: 4px;

      }
    }

    .light-green {
      .mat-progress-bar-fill::after {
        background-color: rgba(93, 198, 68, 0.4);
        border-radius: 4px;
      }
    }

    p.top {
      position: absolute;
      margin-top: -34px !important;
      left: 9px;
    }
  }

  .transctions-status-advisor,
  .subscription-summary-advisor {
    tr.mat-header-row {
      height: 52px;
    }

    tr.mat-row {
      height: 40px;
    }
  }

  .rejections-advisor {
    tr.mat-header-row {
      height: 44px;
    }

    tr.mat-row {
      height: 40px;
    }
  }

  .reconciliation-report-advisor {
    tr.mat-header-row {
      height: 40px;
    }

    tr.mat-row {
      height: 38px;
    }
  }

  .family-details-advisor {

    overflow-y: auto;
  }

  .w-1800,
  .upcoming-goals-advisor {
    width: 2000px;
  }

  .join-img {
    position: relative;
    left: -15px;
  }

  .upcoming-goal {
    .mat-progress-bar {
      height: 16px;
      margin-bottom: 10px;
      border-radius: 4px;
    }

    .mat-progress-bar-background {
      fill: #D9DEE1;

    }

    .mat-progress-bar-buffer {
      background-color: #D9DEE1;

    }

    .mat-progress-bar-fill::after {
      background-color: #008FFF;

      border-radius: 2px;

    }
  }

}


 

.box-1 {
  background: #F5F7F7;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2), 0px 4px 5px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.14);
  border-radius: 4px;
  width: 240px;
  height: 160px;
  border: 1px solid transparent;

  .ribbon {
    width: 58px;
    height: 58px;
    overflow: hidden;
    position: absolute;
  }

  .ribbon::before,
  .ribbon::after {
    position: absolute;
    z-index: -1;
    content: '';
    display: block;
    border: 5px solid #2980b9;
  }

  .ribbon span {
    position: absolute;
    display: block;
    width: 203px;
    padding: 15px 0;
    background-color: #C4C4C4;

    color: #fff;
    font: 700 18px/1 'Lato', sans-serif;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    text-transform: uppercase;
    text-align: center;
  }

  .ribbon-bottom-right {
     
    bottom: 0px;
    right: 0px;
  }

  .ribbon-bottom-right::before,
  .ribbon-bottom-right::after {
    border-bottom-color: transparent;
    border-right-color: transparent;
  }

  .ribbon-bottom-right::before {
    bottom: 0;
    left: 0;

    top: -6px;
  }

  .ribbon-bottom-right::after {
    top: 0;
    right: 0;
  }

  .ribbon-bottom-right span {
    bottom: 30px;
    transform: rotate(-225deg);
  }

  img {
    position: relative;
    left: 68px;
    top: 12px;
    transform: rotate(-136deg);
  }

}



.advisor-cards {
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.14);
  border-radius: 2px;
  height: 48px;
  padding: 10px 15px ;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.box-2 {
  background: url(/assets/images/box1.png), #F5F7F7;

  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2), 0px 4px 5px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.14);
  border-radius: 4px;
  width: 280px;
  height: 200px;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid transparent;
}

.box-2-1 {
  background: url(/assets/images/box2.png);
border: 1px solid transparent;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2), 0px 4px 5px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.14);
  border-radius: 4px;
  width: 280px;
  height: 200px;
  background-repeat: no-repeat;
  background-position: center;
}

.editDasImg {
  width: 163px;
  height: 163px;
  position: relative;
  img{
max-width: 100%;
max-height: 100%;
  }
}

.avisor-caption {
  position: absolute;
  margin-top: -28px;
  padding-left: 30px;
}

.profile-img {
  width: 163px;
  height: 163px;
  position: relative;
  img{
max-width: 100%;
max-height: 100%;
  }
}

.slider-9,
.cams-advsior {
  .mat-form-field-appearance-standard .mat-form-field-flex {
    padding-top: 0px !important;
  }
}

#ui-dashboard-guide {
  .mat-tab-header {
    border-bottom: 0px !important;
  }

  .mat-tab-body-content {
    overflow: hidden;
  }

  .mat-tab-body-wrapper {
    border-top: 1px solid #e9eaec;
    margin-top: -1px;
  }

  .mat-tab-label {
    height: 50px !important;
    min-width: 75px;
    font-weight: 400;
  }

  .mat-tab-label-active {
    border: 1px solid #e9eaec;
    border-bottom: 0px !important;
    opacity: initial;
    background: #fff;
    color: #212121;
  }

  .mat-ink-bar {
    display: none;
  }
}



#advisor-dashboard-popup {
  // background-color: #E5E5E5;
  min-height: 100%;

  .h-130 {
    height: 130px !important;
  }

  .mat-progress-bar {

    border-radius: 2px;
    height: 8px;
  }

  .mat-progress-bar-buffer {
    background: #D9DEE1;
  }

  #table-low {

    tr.mat-header-row,
    tr.mat-header-row {
      height: 40px;
    }
  }


}
