.star-active {
  color: #C4C4C4;
}

.faq-colors {
  background: rgba(255, 193, 0, 0.3);
}

.yes-no {
  .mat-radio-button {
    min-width: 110px !important;
  }
}
.rounded-numbers{
      height: 36px;
    width: 36px;
    text-align: center;
    padding: 0 !important;
        line-height: 26px !important;
        min-width: auto !important;
        background:#C4C4C4 !important;
        border:0px !important;
        border-radius:50% !important;
        font-family: Playfair Display !important;
        font-style: normal !important;
        font-weight: normal !important;
        font-size: 30px !important;
        cursor: pointer;

}
.review-start {
  border: 1px solid #008FFF !important;
  border-radius: 4px !important;
  height: 30px !important;
  line-height: 30px !important;
  color: #008FFF !important;
  padding-right: 8px !important;
  padding-left: 8px !important;
}

.fixed-fees {
  position: fixed;
  width: 375px;
}

.mobile-isd {
  .mat-select-arrow-wrapper {
    padding-top: 14px !important;
    padding-right: 2px !important;
  }
}

.bg-diff-20 {
  background-color: #5866FF !important;
  height: 30px;
}

.mpc {
  color: #5866FF !important;
}

#marketplave-header {
  position: fixed;
  width: 100%;
  height: 70px;
  border-bottom: 1px solid #ddd;
  float: right;
  width: 100%;
  padding-right: 0px;
  z-index: 101;
  background: #fff !important;
  // box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.2), 0px 1px 0px rgba(0, 0, 0, 0.12),
  // 0px 3px 3px rgba(0, 0, 0, 0.14);
  .mat-stroked-button {
    padding: 0 5px;
  }
  .custom-input-market {
    background: #F1F3F4;
    font-size: 14px;
    border: 0px !important;
    color: #83959D;
  }
  a,
  button {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    color: #595252;
    border: 0px !important;
  }
  .mat-button-focus-overlay {
    background-color: transparent !important;
  }
  button {
    border: 1px solid #83959D !important;
    box-sizing: border-box;
    border-radius: 2px !important;
    font-size: 13px !important;
    line-height: 16px;
    height: 30px !important;
    letter-spacing: 0.4px;
    color: #83959D !important;
  }
}

#marketplace-content {
  h4,
  h5 {
    color: #484848;
    font-family: roboto;
  }
  .spaceing {
    padding: 95px 60px;
  }
  .bg-1 {
    background: rgba(88, 191, 194, 0.4);
  }
  .bg-2 {
    background: rgba(88, 191, 194, 0.4);
  }
  .bg-3 {
    background: rgba(132, 189, 243, 0.2);
  }
  .bg-4 {
    background: rgba(253, 175, 64, 0.2);
  }
  .bg-5 {
    background: rgba(93, 198, 68, 0.2);
  }
  .bg-6 {
    background: rgba(253, 175, 64, 0.7);
    .col-md-12 {
      p:nth-child(1) {
        border: 1px solid #A25F00;
        border-radius: 50%;
        height: 50px;
        width: 50px;
        font-size: 16px;
        padding-top: 15px;
        font-family: roboto;
        text-align: center;
        color: #A25F00;
      }
    }
    h2,
    h1 {
      color: #A15F00;
    }
  }
  .bg-7 {
    background: rgba(132, 189, 243, 0.7);
    .col-md-12 {
      p:nth-child(1) {
        border: 1px solid #3A79B6;
        border-radius: 50%;
        height: 50px;
        width: 50px;
        font-size: 16px;
        padding-top: 15px;
        font-family: roboto;
        text-align: center;
        color: #3A79B6;
      }
    }
    h2,
    h1 {
      color: #3A79B6;
    }
  }
  .bg-8 {
    background: rgba(93, 198, 68, 0.7);
    .col-md-12 {
      p:nth-child(1) {
        border: 1px solid #2E6F1F;
        border-radius: 50%;
        height: 50px;
        width: 50px;
        font-size: 16px;
        padding-top: 15px;
        font-family: roboto;
        text-align: center;
        color: #2E6F1F;
      }
    }
    h2,
    h1 {
      color: #2E6F1F;
    }
  }
  .ba-1 {
    border: 1px solid #43ABAE;
    display: unset;
  }
  .btn-financial-expert {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px !important;
    line-height: 19px !important;
    background: #43ABAE !important;
    border-radius: 4px !important;
    color: #fff;
    margin-top: 32px !important;
  }
  .articles {
    padding-top: 10px;
    img {
      width: 100%;
      border: 0.5px solid #83959D;
      cursor: pointer;
    }
    h5 {
      font-family: Georgia;
      font-style: normal;
      font-weight: normal;
      color: #000000;
      line-height: 18px;
      letter-spacing: 0.2px;
      cursor: pointer;
    }
    p {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.2px;
      color: #83959D;
      cursor: pointer;
    }
  }
}

#marketplace-advisors {
  padding-top: 70px;
  .selected-filters {
    position: fixed;
    width: 100%;
    background: #214B75;
    box-shadow: 5px 1px 10px rgba(0, 0, 0, 0.2), 3px 4px 5px rgba(0, 0, 0, 0.12),
     2px 2px 4px rgba(0, 0, 0, 0.14);
    z-index: 9;
    .mat-select-arrow-wrapper {
      height: 35px;
      padding-right: 4px;
      .mat-select-arrow {
        color: #fff !important;
      }
      .mat-select {
        border: 1px solid #fff !important;
      }
    }
  }
}

#marketplace-advisors-details {
  padding-top: 70px;
  ul.d-block {
    li {
      text-align: left !important;
      padding-top: 10px;
      color: #484848 !important;
      font-family: roboto;
      font-size: 14px;
    }
  }
  .chief-manger {
    ul {
      padding-top: 10px;
      list-style: disc;
    }
    li {
      text-align: left !important;
      padding-top: 0px !important;
      font-family: roboto;
      font-size: 13px;
    }
  }
  .mat-progress-bar-fill::after {
    background-color: #0092ff;
  }
}

#market-advisor-payment {
  hr {
    width: 10%;
    height: 3px;
    margin: 0;
    margin-left: 20px;
    border-top: 0px;
    background-color: #5866FF !important;
  }
  .market-payment-options {
    .f-500.mat-line {
      font-size: 14px;
    }
    .mat-list-base .mat-list-item .mat-line:nth-child(n+2) {
      font-size: 13px !important;
      color: #83959D !important;
    }
    .mat-icon {
      color: #5866ff;
    }
  }
  .mat-list-base .mat-list-item.mat-list-item-with-avatar {
    height: 55px !important;
  }
}

#marketplace-advisors-call {
  .markteplace-time {
    button {
      height: 40px !important;
      line-height: 40px !important;
      width: 100%;
      margin-bottom: 20px;
    }
  }
}

#marketplace-article {
  padding-top: 100px !important;
  .buttons-headers {
    button {
      height: 33px !important;
      line-height: 33px !important;
    }
    .btn-actived {
      background-color: #D9DEE1;
      border-radius: 5px !important;
    }
  }
  hr {
    border-top: 0px !important;
    height: 1px;
    background-color: #000;
    width: 50%;
    margin: 0;
  }
  p {
    font-weight: normal;
  }
  .authors-1 {
    background: rgba(255, 114, 114, 0.2);
    height: 230px !important;
    img {
      padding-top: 40px;
    }
  }
  .authors-2 {
    background: rgba(88, 191, 194, 0.2);
    height: 230px !important;
    img {
      padding-top: 26px;
    }
  }
  .authors-3 {
    background: rgba(93, 198, 68, 0.2);
    height: 230px !important;
    img {
      padding-top: 42px;
    }
  }
  .authors-4 {
    background: rgba(132, 189, 243, 0.2);
    height: 230px !important;
    img {
      padding-top: 52px;
    }
  }
  .activites{
     h4{
      font-family: Roboto;
      font-weight: bold;
font-size: 25px;
line-height: 29px;
      margin: 0;
      padding-bottom:4px;
    }
    p{
font-family: Roboto;
margin-bottom: 0;
font-size: 16px;
line-height: 19px;
    }
    button{
      margin-top: 28px;
    }
  }
  .activites-1 {
    background: rgba(255, 193, 0, 0.5);
    h4,
    p{
      color: #A68520;
    }
    button {
      background: #A68520 !important;
      border-radius: 4px !important;
      color: #fff;
    }
  }
  .activites-2 {
    background: rgba(0, 143, 255, 0.5);
    button {
      background: #0064B1 !important;
      border-radius: 4px !important;
      color: #fff;
    }
    h4,
    p{
      color: #0064B1;
    }
  }
  .activites-3 {
    background: rgba(93, 198, 68, 0.5);
    button {
      background: #3B8828;
      border-radius: 4px !important;
      color: #fff;
    }
    h4,
    p{
      color: #3B8828;
    }
  }
  .category{
    button{
      background: #D9DEE1;
border-radius: 2px !important;
line-height: 33px !important;
height: 33px !important;
color: rgba(0, 0, 0, 0.54) !important;
margin-right: 8px;
    }
  }
}
#marketplace-profile{
  .col-md-8{
    border-right: 1px dashed rgba(0, 0, 0, 0.12);
  }
  p{
    font-weight: normal;
    line-height: 16px;
    
  }
  .aboutus
  {
    p{
    color: #484848;
  }
}
.mat-progress-bar{
  height: 8px;
}
.mat-progress-bar-fill::after{
  background-color: #008FFF !important;
}
.mat-progress-bar-buffer{
  background-color:#D9DEE1 !important;
}
p{
  font-family: Roboto;
}
li{
  text-align: left;
    font-size: 14px;
   font-family: Roboto;
}
.chief-manger {
    ul {
      padding-top: 10px;
      list-style: disc;
      padding-left:20px;
    }
    li {
      text-align: left !important;
      padding-top: 0px !important;
     

    }
  }
}
#marketplace-leads,#marketplace-post,#marketplace-call{
  #table-low{
    tr.mat-header-row{
      height: 44px !important;
    }
    tr.mat-row{
      height: 36px !important;
    }
   tbody td {
    padding: 0px 7px !important;
}
  }
}
#marketplace-post{
  li{
    text-align: left !important;
    font-size: 14px;
    line-height: 16px;
    font-family: Roboto;
  }
  li,p{
    font-weight:normal !important;
  }
  p:nth-child(1){
    font-weight: 500 !important;
  }

}
#marketplace-call{
  .mat-radio-button{
    min-width: 120px !important
  }
  .main-row{
    border:1px solid rgba(25, 25, 25, 0.32);
    border-bottom:0px;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    .columns{
      width: 14.28%;
      height: 152px;
      border-bottom:1px solid rgba(25, 25, 25, 0.32);
      border-right:1px solid rgba(25, 25, 25, 0.32);
      p{
        padding:8px;
        text-align: right;
      }
      button{
        background: #83959D;
        border-radius: 2px !important;
        color: #fff;
        height: 20px !important;
        line-height: 20px !important;
        font-size: 12px !important;
        padding: 0 2px !important;
      }
    }
    .columns:nth-child(7),.columns:nth-child(14),.columns:nth-child(21),.columns:nth-child(28){
      border-right:0px !important;
    }
  }
}
.reviews-rating{
  .mat-progress-bar-fill::after{
  background-color: #008FFF !important;
}
.mat-progress-bar-buffer{
  background-color:#D9DEE1 !important;
}
}
.request-review-table{
  #table-low{
    thead tr{
      display: none !important;
    }
  }
}