<div [ngClass]="{'hide': finPlanObj?.hideForFinPlan}">
    <div class="row">
        <div class="col-md-6 p-0">
            <h4 class="m-0 text-black roboto pt-8">Post office monthly income scheme (PO MIS)</h4>
        </div>

        <div class="col-md-6 p-0 d-flex align-items-center justify-content-end">
            <div class="p-0 d-flex align-items-center justify-content-center mt-8">
                <mat-spinner *ngIf="isLoadingUpload==true" [diameter]="30"></mat-spinner>
            </div>
            <a [matMenuTriggerFor]="menu5" class="c-p downloadPdfIcon ">
                <img src="assets/images/svg/download-bordered.svg">
            </a>

            <mat-menu #menu5="matMenu">
                <button (click)="pdf('PO MIS')" mat-menu-item>PDF</button>
                <button (click)="Excel('PO MIS')" mat-menu-item>XLS</button>
            </mat-menu>

            <!-- <a [matMenuTriggerFor]="menu7" class="c-p downloadPdfIcon iconBorderNone">
                <img src="assets/images/svg/up-down.svg">
            </a> -->


            <!-- <mat-menu #menu7="matMenu"> -->
            <!-- <button mat-menu-item>Upload file
                    <input (change)="fetchData('Po MIS',$event)" class="uploadInput" id="file-4" multiple type="file">
                </button> -->
            <!-- </mat-menu> -->
            <!-- <img [matMenuTriggerFor]="menu6" class="c-p mr-12" src="assets/images/svg/three-dot-bordered.svg">
            <mat-menu #menu6="matMenu">
                <button mat-menu-item>Email Report</button>
                <button mat-menu-item>Option 2</button>
                <button mat-menu-item>Option 3</button>
            </mat-menu> -->

            <button [matMenuTriggerFor]="pomis" class="btn-default addon mr-8 v-middle" mat-stroked-button><i
                    class="material-icons">filter_list</i>FILTERS
            </button>
            <mat-menu #pomis>
                <!-- <button mat-menu-item (click)="filterFixedIncome('ownerName', 'Vinayak Nerlekar')">
                                                            Vinayak Nerlekar
                                                        </button>
                                                        <button mat-menu-item (click)="filterFixedIncome('fdType', 1)">
                                                            BANK FD
                                                        </button> -->
                <!-- <button mat-menu-item (click)="filterFixedIncome('fdType', '2')">
                                                    CORPORATE FD
                                                  </button> -->
                <button mat-menu-item [ngClass]="activeFilter == 'All'?'filterActive':''"
                    (click)="filterPomis(null, 'All')">
                    All
                </button>
                <button mat-menu-item [ngClass]="activeFilter == 'LIVE'?'filterActive':''"
                    (click)="filterPomis('statusId', 'LIVE')">
                    STATUS - LIVE
                </button>
                <button mat-menu-item [ngClass]="activeFilter == 'PENDING'?'filterActive':''"
                    (click)="filterPomis('statusId', 'MATURED')">
                    STATUS - Matured
                </button>
            </mat-menu>
            <button (click)="openAddPOMIS(null)" class="btn-primary addon v-middle" mat-stroked-button> ADD NEW</button>
        </div>
    </div>
    <div [ngClass]="{'table-scroll':isLoading==false }" class="overflow-hidden mt-8 col-md-12 p-0 real-estate">
        <table #tableEl *ngIf="datasource.data.length > 0" [appSkeletonLoading]="isLoading" [dataSource]="datasource"
            appSkeletonLoading class="skeletonAnimation" id="tbs" mat-table matSort>

            <ng-container matColumnDef="no" sticky>
                <th *matHeaderCellDef class="br" mat-header-cell mat-sort-header="no"> No</th>
                <td *matCellDef="let element;let i=index " class="br" mat-cell>
                    <div class="bar"> {{isLoading ? '' : i + 1 }} </div>
                </td>
                <td *matFooterCellDef class=" text-left pl-4 f-500 bl-1" mat-footer-cell>
                    <div class="bar"></div>
                </td>
            </ng-container>
            <ng-container matColumnDef="owner">
                <th *matHeaderCellDef class="br w-17" mat-header-cell mat-sort-header="ownerName"> Owner</th>
                <td *matCellDef="let element" class="br w-17" mat-cell>
                    <div class="bar"></div>
                    <div *ngFor="let owner of element.ownerList; let i = index">
                        <span *ngIf="i == 0">{{owner.name}}</span>
                    </div>
                    <span *ngIf="element.ownerList && element.ownerList.length > 1"> +
                        {{element.ownerList.length - 1}}</span>
                </td>
                <td *matFooterCellDef class="br text-right pr-20 f-600 " mat-footer-cell>
                    {{isLoading ? '' : 'Total' }}
                </td>
            </ng-container>
            <ng-container matColumnDef="cvalue">
                <th *matHeaderCellDef class="br right-hcb text-right hide-arrow" mat-header-cell
                    mat-sort-header="currentValue">
                    Current value
                </th>
                <td mat-cell *matCellDef="let element" class="br text-right">
                    <div class="bar">{{!isLoading && element.currentValue? "₹" : ""}}<span
                            appFormatNumber>{{element.currentValue?element.currentValue:!isLoading?'-':''}}</span>
                    </div>
                </td>
                <td mat-footer-cell class="br text-right f-600 p-8" *matFooterCellDef>
                    <div *ngIf="sumOfCurrentValue">{{isLoading ? ' ' : '₹'}}<span [value]="sumOfCurrentValue"
                            appFormatNumber>{{sumOfCurrentValue}}</span>
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="mpayout">
                <th mat-sort-header="monthlyPayout" mat-header-cell *matHeaderCellDef
                    class="br text-right right-hcb hide-arrow">
                    Monthly payout
                </th>
                <td mat-cell *matCellDef="let element" class="br text-right">
                    <div class="bar">{{!isLoading? "₹" : ""}}<span appFormatNumber>{{element.monthlyPayout }}</span>
                    </div>
                </td>
                <td mat-footer-cell class="br text-right f-600 p-8" *matFooterCellDef>
                    <div>{{isLoading ? ' ' : '₹'}}<span [value]="sumOfMonthlyPayout"
                            appFormatNumber>{{sumOfMonthlyPayout}}</span>
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="payoutTill">
                <th mat-sort-header="TotalPayoutTillNow" mat-header-cell *matHeaderCellDef
                    class="br text-right right-hcb hide-arrow w-12">
                    Payout received till now
                </th>
                <td mat-cell *matCellDef="let element" class="br text-right">
                    <div class="bar">{{!isLoading? "₹" : ""}}<span
                            appFormatNumber>{{element.totalPayoutTillToday }}</span>
                    </div>
                </td>
                <td mat-footer-cell class="br text-right f-600 p-8" *matFooterCellDef>
                    <div>{{isLoading ? ' ' : '₹'}}<span [value]="sumOfPayoutTillToday"
                            appFormatNumber>{{sumOfPayoutTillToday}}</span></div>
                </td>
            </ng-container>

            <ng-container matColumnDef="rate">
                <th mat-sort-header="rate" mat-header-cell *matHeaderCellDef class="br right-hcb text-right hide-arrow">
                    Rate </th>
                <td mat-cell *matCellDef="let element" class="br text-right">
                    <div class="bar"> {{element.rate | number: '1.2-2'}}{{isLoading ? ' ' : '%'}}</div>
                </td>
                <td mat-footer-cell *matFooterCellDef class="br"> </td>
            </ng-container>
            <ng-container matColumnDef="amt">
                <th mat-sort-header="amountInvested" mat-header-cell *matHeaderCellDef
                    class="br text-right right-hcb hide-arrow">
                    Amount invested
                </th>
                <td mat-cell *matCellDef="let element" class="br text-right">
                    <div class="bar">{{!isLoading? "₹" : ""}}<span appFormatNumber>{{element.amountInvested }}</span>
                    </div>
                </td>
                <td mat-footer-cell class="br text-right f-600 p-8" *matFooterCellDef>
                    <div>{{isLoading ? ' ' : '₹'}}<span [value]="sumOfAmountInvested"
                            appFormatNumber>{{sumOfAmountInvested}}</span>
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="mvalue">
                <th mat-sort-header="maturityValue" mat-header-cell *matHeaderCellDef
                    class="br text-right right-hcb hide-arrow">
                    Maturity value </th>
                <td mat-cell *matCellDef="let element" class="br text-right">
                    <div class="bar">{{!isLoading? "₹" : ""}}<span appFormatNumber>{{element.maturityValue }}</span>
                    </div>
                </td>
                <td mat-footer-cell class="br text-right f-600 p-8" *matFooterCellDef>
                    <div>{{isLoading ? ' ' : '₹'}}<span [value]="sumOfMaturityValue"
                            appFormatNumber>{{sumOfMaturityValue}}</span>
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="mdate">
                <th mat-sort-header="maturityDate" mat-header-cell *matHeaderCellDef class="br w-10 t-left">Maturity
                    date
                </th>
                <td mat-cell *matCellDef="let element" class="br text-left">
                    <div class="bar"> {{element.maturityDate | date:'dd/MM/yyyy'}} </div>
                </td>
                <td mat-footer-cell *matFooterCellDef class="br"> </td>
            </ng-container>
            <ng-container matColumnDef="poMisNo">
                <th mat-sort-header="maturityDate" mat-header-cell *matHeaderCellDef class="br t-left">POMIS number
                </th>
                <td mat-cell *matCellDef="let element" class="br text-left">
                    <div class="bar"> {{element.poMisNumber?element.poMisNumber:'-'}} </div>
                </td>
                <td mat-footer-cell *matFooterCellDef class="br"> </td>
            </ng-container>
            <ng-container matColumnDef="desc">
                <th *matHeaderCellDef class="br" mat-header-cell mat-sort-header="description"> Description</th>
                <td *matCellDef="let element" class="br" mat-cell>
                    <div class="bar"> {{isLoading ? '' : element.description || '-'}} </div>
                </td>
                <td *matFooterCellDef class="br" mat-footer-cell></td>
            </ng-container>
            <ng-container matColumnDef="status">
                <th *matHeaderCellDef class="br" mat-header-cell mat-sort-header="status"> Status</th>
                <td *matCellDef="let element" class="br text-primary" mat-cell>
                    <div class="bar"> {{element.statusId}} </div>
                </td>
                <td *matFooterCellDef class="br" mat-footer-cell></td>
            </ng-container>
            <ng-container matColumnDef="icons" sticky>
                <th *matHeaderCellDef class="" mat-header-cell></th>
                <td *matCellDef="let element" [matMenuTriggerFor]="menubank" class=" c-p text-center" mat-cell>

                    <img *ngIf="!isLoading" class="c-p " src="/assets/images/svg/dot-menu.svg">
                    <mat-menu #menubank="matMenu">
                        <button (click)="openAddPOMIS(element)" mat-menu-item>Edit</button>
                        <button (click)="openDetailPOMIS(element)" mat-menu-item>Detailed view</button>
                        <button mat-menu-item>Upload file
                            <input (change)="fetchData('Po MIS',$event,element)" class="uploadInput" id="file-4"
                                multiple type="file">
                        </button>
                        <!-- <button mat-menu-item>Activity</button> -->
                        <button (click)="deleteModal('PO MIS',element)" mat-menu-item>Delete</button>
                    </mat-menu>

                </td>
                <td *matFooterCellDef mat-footer-cell class="br"></td>
            </ng-container>
            <tr *matHeaderRowDef="displayedColumns; sticky: true" mat-header-row></tr>
            <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
            <tr *matFooterRowDef="displayedColumns;sticky: true" [hidden]="isLoading" mat-footer-row></tr>
        </table>
        <div *ngIf="datasource.data.length == 0" class="d-flex mt-60 flex-column align-items-center">
            <img src="assets/images/svg/documents-empty-states.svg">
            <h4 class="text-center mt-12 mb-20">No PO MIS found</h4>
            <button (click)="openAddPOMIS(null )" class="btn-primary addon v-middle" mat-stroked-button> ADD
                NEW</button>
        </div>

    </div>
</div>
<!-- -------------------- pdf ---------------------------- -->
<div #pomisTemp id="template" class="hide">
    <table style="width: 100%;border-collapse: collapse;font-family: Roboto,sans-serif;">

        <tr>
            <td style="text-align: left; vertical-align: top;" *ngIf="getOrgData">
                <div style="width: 200px;"
                    *ngIf="getOrgData && getOrgData.reportLogoUrl != null && getOrgData.reportLogoUrl !='https://res.cloudinary.com/futurewise/image/upload/v1566029063/icons_fakfxf.png' ">
                    <img style="max-width: 100%;" *ngIf="getOrgData" [src]="getOrgData.reportLogoUrl">
                </div>
                <div style="width: 200px;"
                    *ngIf="getOrgData && getOrgData.logoUrl != 'https://res.cloudinary.com/futurewise/image/upload/v1566029063/icons_fakfxf.png' && getOrgData.reportLogoUrl == 'https://res.cloudinary.com/futurewise/image/upload/v1566029063/icons_fakfxf.png'">
                    <img style="max-width: 100%;" *ngIf="getOrgData" [src]="getOrgData.logoUrl">
                </div>
                <div
                    *ngIf="getOrgData.logoUrl == 'https://res.cloudinary.com/futurewise/image/upload/v1566029063/icons_fakfxf.png' && getOrgData.reportLogoUrl == 'https://res.cloudinary.com/futurewise/image/upload/v1566029063/icons_fakfxf.png'">
                    <span width="200px" style="font-size: 25px;">{{getOrgData.companyName}}</span>
                </div>
            </td>
            <td style=" text-align: right;" colspan="12">
                <p style="margin: 0px; font-weight: 600; font-size: 20px;padding-top: 12px;" *ngIf="userInfo">
                    {{(getOrgData.companyName) ? getOrgData.companyName : '-'}}</p>
                <p style="margin: 0px; font-size: 14px;padding-top: 12px;" *ngIf="userInfo"> <strong> Number: </strong>
                    {{(userInfo.mobileList?.length > 0) ? userInfo.mobileList[0].mobileNo : userInfo.mobile}}</p>
                <p style="margin: 0px; font-size: 14px;padding-top: 12px;" *ngIf="userInfo"> <strong> Email: </strong>
                    {{getOrgData.email ? getOrgData.email  : userInfo.email}}</p>

                <p style="margin: 0px; font-size: 14px; margin-bottom: 5px;padding-top: 12px;"> <strong> Report as on:
                        {{reportDate | date:'dd-MMM-yyyy' }}</strong>
                </p>
            </td>
        </tr>

        <tr>
            <td colspan="2" style="padding: 10px;"></td>
        </tr>

        <tr>
            <td colspan="9"
                style="font-size: 18px;line-height: 20px;color: #000000 !important;padding-top: 20px;padding-bottom: 20px;">
                Post office monthly income scheme (PO MIS)</td>
        </tr>
        <tr>
            <td colspan="11">
                <p style="margin: 0px; font-weight: 600;font-size: 14px;padding-top: 10px; padding-bottom: 10px;"
                    *ngIf="clientData">
                    Client name: {{(clientData.name) ? clientData.name : '-'}}</p>
            </td>
        </tr>
        <tr style="background-color: #F5F7F7;height: 40px;border: 1px solid #DADCE0;">
            <td
                style="padding: 7px 8px;font-weight: 600;font-size: 13px !important;line-height: 16px !important;color: #202020;border-right: 1px solid #DADCE0;">
                No. </td>
            <td
                style="padding: 7px 8px;font-weight: 600;font-size: 13px !important;line-height: 16px !important;color: #202020;border-right: 1px solid #DADCE0;">
                Owner</td>
            <td
                style="padding: 7px 8px;font-weight: 600;font-size: 13px !important;line-height: 16px !important;color: #202020;border-right: 1px solid #DADCE0;">
                Current value </td>
            <td
                style="padding: 7px 8px;font-weight: 600;font-size: 13px !important;line-height: 16px !important;color: #202020;border-right: 1px solid #DADCE0;">
                Monthly payout
            </td>
            <td
                style="padding: 7px 8px;font-weight: 600;font-size: 13px !important;line-height: 16px !important;color: #202020;border-right: 1px solid #DADCE0;">
                Payout received till now </td>
            <td
                style="padding: 7px 8px;font-weight: 600;font-size: 13px !important;line-height: 16px !important;color: #202020;border-right: 1px solid #DADCE0;">
                Rate </td>
            <td
                style="padding: 7px 8px;font-weight: 600;font-size: 13px !important;line-height: 16px !important;color: #202020;border-right: 1px solid #DADCE0;">
                Amount invested </td>
            <td
                style="padding: 7px 8px;font-weight: 600;font-size: 13px !important;line-height: 16px !important;color: #202020;border-right: 1px solid #DADCE0;">
                Maturity value </td>
            <td
                style="padding: 7px 8px;font-weight: 600;font-size: 13px !important;line-height: 16px !important;color: #202020;border-right: 1px solid #DADCE0;">
                Maturity date </td>
            <td
                style="padding: 7px 8px;font-weight: 600;font-size: 13px !important;line-height: 16px !important;color: #202020;border-right: 1px solid #DADCE0;">
                POMIS number</td>
            <td
                style="padding: 7px 8px;font-weight: 600;font-size: 13px !important;line-height: 16px !important;color: #202020;border-right: 1px solid #DADCE0;">
                Description </td>
            <td
                style="padding: 7px 8px;font-weight: 600;font-size: 13px !important;line-height: 16px !important;color: #202020;border-right: 1px solid #DADCE0;">
                Status </td>


        </tr>
        <tr style="border-left: 1px solid #DADCE0;border-bottom: 1px solid #DADCE0;height: 40px !important;"
            *ngFor="let element of datasource.data ;index as i">
            <td
                style="padding: 7px 8px;font-size: 13px !important;line-height: 16px !important;color: #202020;border-right: 1px solid #DADCE0;">
                {{isLoading ? '' : i + 1 }}</td>
            <td *ngFor="let owner of element.ownerList; let i = index"
                style="padding: 7px 8px;font-size: 13px !important;line-height: 16px !important;color: #202020;border-right: 1px solid #DADCE0;">
                <span *ngIf="i == 0">{{owner.name}}</span>
                <span *ngIf="element.ownerList && element.ownerList.length > 1"> +
                    {{element.ownerList.length - 1}}</span>
            </td>

            <td
                style="padding: 7px 8px;font-size: 13px !important;line-height: 16px !important;color: #202020;border-right: 1px solid #DADCE0;text-align: right;">
                <span appFormatNumber>{{element.currentValue?element.currentValue:!isLoading?'-':''}}</span>
            </td>
            <td
                style="padding: 7px 8px;font-size: 13px !important;line-height: 16px !important;color: #202020;border-right: 1px solid #DADCE0;text-align: right;">
                <span appFormatNumber>{{element.monthlyPayout }}</span></td>
            <td
                style="padding: 7px 8px;font-size: 13px !important;line-height: 16px !important;color: #202020;border-right: 1px solid #DADCE0;text-align: right;">
                <span appFormatNumber>{{element.totalPayoutTillToday }}</span></td>
            <td
                style="padding: 7px 8px;font-size: 13px !important;line-height: 16px !important;color: #202020;border-right: 1px solid #DADCE0;text-align: right;">
                {{element.rate | number: '1.2-2'}}{{isLoading ? ' ' : '%'}}
            </td>
            <td
                style="padding: 7px 8px;font-size: 13px !important;line-height: 16px !important;color: #202020;border-right: 1px solid #DADCE0;text-align: right;">
                <span appFormatNumber>{{element.amountInvested }}</span> </td>
            <td
                style="padding: 7px 8px;font-size: 13px !important;line-height: 16px !important;color: #202020;border-right: 1px solid #DADCE0;text-align: right;">
                <span appFormatNumber>{{element.maturityValue }}</span> </td>
            <td
                style="padding: 7px 8px;font-size: 13px !important;line-height: 16px !important;color: #202020;border-right: 1px solid #DADCE0;text-align: left;">
                {{element.maturityDate | date:'dd/MM/yyyy'}}</td>
            <td
                style="padding: 7px 8px;font-size: 13px !important;line-height: 16px !important;color: #202020;border-right: 1px solid #DADCE0;text-align: left;">
                {{element.poMisNumber?element.poMisNumber:'-'}} </td>
            <td
                style="padding: 7px 8px;font-size: 13px !important;line-height: 16px !important;color: #202020;border-right: 1px solid #DADCE0;text-align: left;">
                {{isLoading ? '' : element.description || '-'}}</td>
            <td
                style="padding: 7px 8px;font-size: 13px !important;line-height: 16px !important;color: #202020;border-right: 1px solid #DADCE0;text-align: left;">
                {{element.statusId}} </td>
        </tr>
        <tr
            style="font-weight: 700;border-left: 1px solid #DADCE0;border-bottom: 1px solid #DADCE0;height: 40px !important;">
            <td
                style="padding: 7px 8px;font-size: 13px !important;line-height: 16px !important;color: #202020;border-right: 1px solid #DADCE0;">
            </td>
            <td style="padding: 7px 8px;font-size: 13px !important;line-height: 16px !important;color: #202020;border-right: 1px solid #DADCE0;"
                appFormatNumber>Total</td>
            <td
                style="padding: 7px 8px;font-size: 13px !important;line-height: 16px !important;color: #202020;border-right: 1px solid #DADCE0;text-align: right;">
                <span [value]="sumOfCurrentValue" appFormatNumber>{{sumOfCurrentValue}}</span>
            </td>
            <td
                style="padding: 7px 8px;font-size: 13px !important;line-height: 16px !important;color: #202020;border-right: 1px solid #DADCE0;text-align: right;">
                <span [value]="sumOfMonthlyPayout" appFormatNumber>{{sumOfMonthlyPayout}}</span>
            </td>
            <td
                style="padding: 7px 8px;font-size: 13px !important;line-height: 16px !important;color: #202020;border-right: 1px solid #DADCE0;text-align: right;">
                <span [value]="sumOfPayoutTillToday" appFormatNumber>{{sumOfPayoutTillToday}}</span></td>
            <td
                style="padding: 7px 8px;font-size: 13px !important;line-height: 16px !important;color: #202020;border-right: 1px solid #DADCE0;text-align: right;">
            </td>
            <td
                style="padding: 7px 8px;font-size: 13px !important;line-height: 16px !important;color: #202020;border-right: 1px solid #DADCE0;text-align: right;">
                <span [value]="sumOfAmountInvested" appFormatNumber>{{sumOfAmountInvested}}</span>
            </td>
            <td
                style="padding: 7px 8px;font-size: 13px !important;line-height: 16px !important;color: #202020;border-right: 1px solid #DADCE0;text-align: right;">
                <span [value]="sumOfMaturityValue" appFormatNumber>{{sumOfMaturityValue}}</span>
            </td>
            <td
                style="padding: 7px 8px;font-size: 13px !important;line-height: 16px !important;color: #202020;border-right: 1px solid #DADCE0;text-align: right;">
            </td>
            <td
                style="padding: 7px 8px;font-size: 13px !important;line-height: 16px !important;color: #202020;border-right: 1px solid #DADCE0;text-align: right;">
            </td>
            <td
                style="padding: 7px 8px;font-size: 13px !important;line-height: 16px !important;color: #202020;border-right: 1px solid #DADCE0;text-align: right;">
            </td>
            <td
                style="padding: 7px 8px;font-size: 13px !important;line-height: 16px !important;color: #202020;border-right: 1px solid #DADCE0;text-align: right;">
            </td>
        </tr>
        <tr *ngIf="datasource.data.length == 0 ">
            <td style="text-align: center;text-align: center; padding-top: 12px !important;padding-bottom: 12px !important;line-height: 16px !important;font-size: 14px;border-left: 1px solid #DADCE0;border-right: 1px solid #DADCE0; border-bottom: 1px solid #DADCE0;font-family: Roboto,sans-serif;"
                colspan="9">
                No data found
            </td>
        </tr>
    </table>
</div>