<div class="row">
    <div class="col-md-4 p-0">
        <h4 class="m-0 text-black roboto pt-8">Post office savings a/c</h4>
    </div>
    <div *ngIf="datasource.filteredData.length > 0" class="col-md-8 p-0  d-flex align-items-center justify-content-end">
        <div class="p-0 d-flex align-items-center justify-content-center mt-8">
            <mat-spinner *ngIf="isLoadingUpload==true" [diameter]="30"></mat-spinner>
        </div>
        <a [matMenuTriggerFor]="menu5" class="c-p downloadPdfIcon">
            <img src="assets/images/svg/download-bordered.svg">
        </a>

        <mat-menu #menu5="matMenu">
            <button (click)="pdf('OP Savings')" mat-menu-item>PDF</button>
            <button (click)="Excel('OP Savings')" mat-menu-item>XLS</button>
        </mat-menu>


        <a [matMenuTriggerFor]="menu7" class="c-p downloadPdfIcon iconBorderNone">
            <img src="assets/images/svg/up-down.svg">
        </a>


        <mat-menu #menu7="matMenu">
            <button mat-menu-item>Upload file
                <input (change)="fetchData('Po Savings',$event)" class="uploadInput" id="file-4" multiple type="file">
            </button>
        </mat-menu>

        <img [matMenuTriggerFor]="menu6" class="c-p mr-8" src="assets/images/svg/three-dot-bordered.svg">
        <mat-menu #menu6="matMenu">
            <button mat-menu-item>Email Report</button>
            <button mat-menu-item>Option 2</button>
            <button mat-menu-item>Option 3</button>
        </mat-menu>

        <button class="btn-default addon mr-8 v-middle" mat-stroked-button><i
                class="material-icons">filter_list</i>FILTERS
        </button>
        <button (click)="openAddPOSAVING(null)" class="btn-primary addon v-middle" mat-stroked-button>
            ADD NEW
        </button>
    </div>
</div>
<div [ngClass]="{'table-scroll':isLoading==false }" class="mt-8 overflow-hidden col-md-12 p-0 real-estate">
    <table #tableEl *ngIf="datasource.filteredData.length > 0" [appSkeletonLoading]="isLoading" [dataSource]="datasource" appSkeletonLoading class="skeletonAnimation" id="tbs" mat-table matSort>

        <ng-container matColumnDef="no" sticky>
            <th *matHeaderCellDef class="br w-4" mat-header-cell mat-sort-header="no"> No</th>
            <td *matCellDef="let element;index as i" class="br" mat-cell>
                <div class="bar"> {{isLoading ? '' : i + 1 }} </div>
            </td>
            <td *matFooterCellDef class=" pl-4 f-500 text-left " mat-footer-cell>
                <div class="bar"> </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="owner">
            <th *matHeaderCellDef class="br w-22" mat-header-cell mat-sort-header="ownerName"> Owner</th>
            <td *matCellDef="let element" class="br" mat-cell>
                <div class="bar"></div>
                <div *ngFor="let owner of element.ownerList; let i = index">
                    <span *ngIf="i == 0">{{owner.name}}</span>
                </div>
            </td>
            <td *matFooterCellDef class="br text-right pr-20 f-600" mat-footer-cell>
                {{isLoading ? '' : 'Total' }}
            </td>
        </ng-container>

        <ng-container matColumnDef="cvalue">
            <th *matHeaderCellDef class="br rightText w-13 text-right" mat-header-cell mat-sort-header="currentValue">
                Current value
            </th>
            <td mat-cell *matCellDef="let element" class="br text-right">
                <div class="bar">{{!isLoading? "₹" : ""}}<span appFormatNumber>{{element.accumalatedValue }}</span>
                </div>
            </td>
            <td mat-footer-cell class="br text-right f-600 p-8" *matFooterCellDef>
                <div>{{isLoading ? ' ' : '₹'}}<span [value]="SumOfCurrentValue" appFormatNumber>{{SumOfCurrentValue}}</span></div>
            </td>
        </ng-container>

        <ng-container matColumnDef="rate">
            <th *matHeaderCellDef class="br rightText w-6 text-right" mat-header-cell mat-sort-header="rate"> Rate</th>
            <td *matCellDef="let element" class="br amt text-right" mat-cell>
                <div class="bar"> {{element.rate | number: '1.2-2'}}{{!isLoading? "%" : ""}}</div>
            </td>
            <td *matFooterCellDef class="br text-left" mat-footer-cell></td>
        </ng-container>

        <ng-container matColumnDef="balanceM">
            <th *matHeaderCellDef class="br rightText w-14 text-right" mat-header-cell mat-sort-header="balance">Balance mentioned
            </th>
            <td mat-cell *matCellDef="let element" class="br text-right">
                <div class="bar">{{!isLoading? "₹" : ""}}<span appFormatNumber>{{element.accountBalance }}</span> </div>
            </td>
            <td mat-footer-cell class="br text-right f-600 p-8" *matFooterCellDef>
                <div>{{isLoading ? ' ' : '₹'}}<span [value]="SumOfBalancementioned" appFormatNumber>{{SumOfBalancementioned}}</span></div>
            </td>
        </ng-container>
        <ng-container matColumnDef="balAs">
            <th *matHeaderCellDef class="br text-right" mat-header-cell mat-sort-header="balanceAsOn">
                Balance as on</th>
            <td *matCellDef="let element" class="br amt text-left" mat-cell>
                <div class="bar"> {{element.balanceAsOn |date:'dd/MM/yyyy'}} </div>
            </td>
            <td *matFooterCellDef mat-footer-cell></td>
        </ng-container>
        <ng-container matColumnDef="desc">
            <th *matHeaderCellDef class="br" mat-header-cell mat-sort-header="description"> Description</th>
            <td *matCellDef="let element" class="br" mat-cell>
                <div class="bar"> {{isLoading ? '' : element.description || '-'}} </div>
            </td>
            <td *matFooterCellDef mat-footer-cell></td>
        </ng-container>
        <ng-container matColumnDef="status">
            <th *matHeaderCellDef class="br" mat-header-cell mat-sort-header="status"> Status</th>
            <td *matCellDef="let element" class="br text-primary" mat-cell>
                <div class="bar"> {{isLoading ? '' : 'LIVE' }}</div>
            </td>
            <td *matFooterCellDef mat-footer-cell></td>
        </ng-container>
        <ng-container matColumnDef="icons" sticky>
            <th *matHeaderCellDef class="t-2" mat-header-cell></th>
            <td *matCellDef="let element" class="t-2 text-center" mat-cell>
                <div *ngIf="!isLoading">
                    <img [matMenuTriggerFor]="menubank" class="c-p " src="/assets/images/svg/dot-menu.svg">
                    <mat-menu #menubank="matMenu">
                        <button (click)="openAddPOSAVING(element)" mat-menu-item>Edit</button>
                        <button (click)="openDetailPoSaving(element)" mat-menu-item>Detailed view</button>
                        <button mat-menu-item>Activity</button>
                        <button (click)="deleteModal('PO SAVINGS',element)" mat-menu-item>Delete</button>
                    </mat-menu>
                </div>
            </td>
            <td *matFooterCellDef mat-footer-cell></td>
        </ng-container>
        <tr *matHeaderRowDef="displayedColumns20; sticky: true" mat-header-row></tr>
        <tr *matRowDef="let row; columns: displayedColumns20;" mat-row></tr>
        <tr *matFooterRowDef="footerRowColumn;sticky: true" [hidden]="isLoading" mat-footer-row></tr>
    </table>
    <div *ngIf="datasource.filteredData.length == 0" class="d-flex flex-column align-items-center">
        <img class="width300" src="assets/images/svg/noDataFound.svg">
        <h4 class="text-center pt-12">No PO savings found</h4>
        <button (click)="openAddPOSAVING(null)" class="btn-primary addon v-middle" mat-stroked-button>
            ADD NEW
        </button>
    </div>
</div>