<!-- ADD PORTFOLIO SUMMARY NPS -->
<div class="popup-header-fix-60">
    <div class="row bb-1">
        <div class="col-md-8 p-0">
            <h4 class="mb-0 wrapper-20">ADD PORTFOLIO SUMMARY</h4>
        </div>
        <div class="col-md-4 text-right">
            <div class="wrapper-12">
                <i class="material-icons c-p pt-8 v-middle" (click)="Close()"> clear</i>
            </div>
        </div>
    </div>
</div>
<div class="pb-44 mb-48 pt-100" [formGroup]="summaryNPS">
    <app-owner-component [data]='ownerData' (valueChange)='display($event)'></app-owner-component>

    <div class="row pt-24">
        <div class="col-md-5 text-right">
            <h5 class="m-0 pt-8">Current valuation</h5>
            <p class="m-0 text-custom f-12">This has to be updated<br> manually at all times</p>
        </div>
        <div class="col-md-3">
            <div class="form-group mb-0">
                <mat-form-field>
                    <input matInput #currentValue type="number" (utils.keypress)="utils.keyPress($event)" maxlength="20" class="form-control br-0 rupess" formControlName="currentValue">
                    <mat-error class="f-12 pt-4" [ngClass]="{'v-h':!(isCurrentValue && getFormControl().currentValue.invalid || getFormControl().currentValue.touched && getFormControl().currentValue.invalid)}">
                        Pension amount is required
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
    </div>
    <div class="row pt-40">
        <div class="col-md-5 pr-0 text-right">
            <h5 class="m-0 pt-8">Value as on</h5>
        </div>
        <div class="col-md-3">
            <mat-form-field>
                <input matInput formControlName="valueAsOn" class="form-control br-0" [matDatepicker]="picker">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error class="f-12 pt-4" [ngClass]="{'v-h':!(isValueAsOn && getFormControl().valueAsOn.invalid || getFormControl().valueAsOn.touched && getFormControl().valueAsOn.invalid)}">
                    Commencement date is required
                </mat-error>
            </mat-form-field>

        </div>
    </div>
    <div class="row pt-24">
        <div class="col-md-5 text-right">
            <h5 class="m-0 pt-8">Total contribution</h5>
        </div>
        <div class="col-md-3">
            <div class="form-group mb-0">
                <mat-form-field>
                    <input matInput #totalContry type="number" (utils.keypress)="utils.keyPress($event)" maxlength="20" class="form-control br-0 rupess" formControlName="totalContry">
                    <mat-error class="f-12 pt-4" [ngClass]="{'v-h':!(isTotalContry && getFormControl().totalContry.invalid || getFormControl().totalContry.touched && getFormControl().totalContry.invalid)}">
                        Pension amount is required
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
    </div>

    <div class="row pt-44">
        <div class="col-md-3">
            <h5 class="m-0">Future contribution</h5>
        </div>
        <div class="col-md-9 p-0">
            <div class="row">
                <div class="col-md-3 pr-0">
                    <h5 class="m-0">Account preference</h5>
                </div>
                <div class="col-md-3 pr-0">
                    <h5 class="m-0">Frequency</h5>
                </div>
                <div class="col-md-3 pr-0">
                    <h5 class="m-0">Approx contribution</h5>
                </div>

            </div>
            <div class="row" formArrayName="futureContry" *ngFor="let creds of summaryNPS.controls.futureContry?.value; let i = index">
                <div class="col-md-3 pr-0">

                    <div class="form-group mb-0">
                        <mat-form-field>
                            <mat-select formControlName="accountPref" class="form-control br-0">
                                <mat-option value="">Select option</mat-option>
                                <mat-option value="1">1</mat-option>
                                <mat-option value="2">2</mat-option>
                                <mat-option value="3">3</mat-option>
                            </mat-select>
                            <mat-error class="f-12 pt-4" [ngClass]="{'v-h':!(isAccountPref && getFormControl().accountPref.invalid || getFormControl().accountPref.touched && getFormControl().accountPref.invalid)}">
                                is required
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-md-3 pr-0">
                    <div class="form-group mb-0">
                        <mat-form-field>
                            <mat-select formControlName="frequency" class="form-control br-0">
                                <mat-option value="">Select option</mat-option>
                                <mat-option value="1">1</mat-option>
                                <mat-option value="2">2</mat-option>
                                <mat-option value="3">3</mat-option>
                            </mat-select>
                            <mat-error class="f-12 pt-4" [ngClass]="{'v-h':!(isFrequency && getFormControl().frequency.invalid || getFormControl().frequency.touched && getFormControl().frequency.invalid)}">
                                required
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-md-3 pr-0">
                    <div class="form-group mb-0">
                        <mat-form-field>
                            <mat-select formControlName="approxContry" class="form-control br-0">
                                <mat-option value="">Select option</mat-option>
                                <mat-option value="1">1</mat-option>
                                <mat-option value="2">2</mat-option>
                                <mat-option value="3">3</mat-option>
                            </mat-select>
                            <mat-error class="f-12 pt-4" [ngClass]="{'v-h':!(isApproxContry && getFormControl().approxContry.invalid || getFormControl().approxContry.touched && getFormControl().approxContry.invalid)}">
                                is required
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="pt-8">
                        <i class="material-icons text-custom c-p" (click)="addFutureContry()">
                            add
                        </i>
                        <i class="material-icons text-custom c-p right text-right">
                            remove
                        </i>
                    </div>
                </div>
            </div>
            <div class="row pt-24">
                <div class="col-md-3 pr-0">

                    <div class="form-group mb-0">
                        <input type="text" class="form-control br-0">
                    </div>
                </div>
                <div class="col-md-3 pr-0">
                    <div class="form-group mb-0">
                        <input type="text" class="form-control br-0">
                    </div>
                </div>
                <div class="col-md-3 pr-0">
                    <div class="form-group mb-0">
                        <input type="text" class="form-control br-0" value="₹">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="pt-8">
                        <i class="material-icons text-custom c-p">
                            add
                        </i>
                        <i class="material-icons text-custom c-p right text-right">
                            remove
                        </i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row pt-44">
        <div class="col-md-5 text-right">
            <h5 class="m-0 pt-8">Scheme choice</h5>
        </div>
        <div class="col-md-5">
            <div class="form-group mb-0">
                <select class="form-control br-2">
                    <option>Active-choice investment</option>
                    <option>Auto-choice investment</option>
                </select>
            </div>
            <div class="col-md-12">
                <p class="f-12 text-custom pt-4 mb-0">Optional</p>
            </div>
        </div>
    </div>
    <div class="row pt-44">
        <div class="col-md-5 text-right">
            <h5 class="m-0 pt-8">Scheme choice</h5>
        </div>
        <div class="col-md-5">
            <div class="form-group mb-0">
                <input type="text" class="form-control br-2">
            </div>
            <div class="col-md-12">
                <p class="f-12 text-custom pt-4 mb-0">Optional</p>
            </div>
        </div>
    </div>
    <div class="row pt-44">
        <div class="col-md-5 text-right">
            <h5 class="m-0 pt-8">PRAN</h5>
        </div>
        <div class="col-md-5">
            <div class="form-group mb-0">
                <input type="text" class="form-control br-2">
            </div>
            <div class="col-md-12">
                <p class="f-12 text-custom pt-4 mb-0">Optional</p>
            </div>
        </div>
    </div>
    <div class="row pt-44">
        <div class="col-md-5 text-right">
            <h5 class="m-0 pt-8">Nominee</h5>
        </div>
        <div class="col-md-3 pr-0">
            <div class="form-group mb-0">

                <select class="form-control br-2" id="sel2">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p class="f-12 text-custom pt-4 mb-0">Optional</p>
                </div>
            </div>
        </div>
        <!-- <div class="col-md-2 pr-0">
            <div class="form-group mb-0"><p>nps-summary-portfolio works!</p>

                <input type="text">

            </div>
        </div> -->
        <div class="col-md-2">
            <p class="m-0 text-custom pt-12">+ Add nominee</p>
        </div>
    </div>
    <div class="row pt-44">
        <div class="col-md-5 text-right">
            <h5 class="m-0 pt-8">Nominee 2</h5>
        </div>
        <div class="col-md-3 pr-0">
            <div class="form-group mb-0">
                <select class="form-control br-2" id="sel1">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p class="f-12 text-custom pt-4 mb-0">Optional</p>
                </div>
            </div>
        </div>
        <div class="col-md-2 pr-0">
            <div class="form-group mb-0">
                <input type="text" class="form-control br-2">
            </div>
        </div>
        <div class="col-md-2">
            <p class="m-0 text-custom pt-12">Remove</p>
        </div>
    </div>
    <div class="row pt-44">
        <div class="col-md-5 text-right">
            <h5 class="m-0 pt-8">Description</h5>
        </div>
        <div class="col-md-5 pr-0">
            <div class="form-group mb-0">
                <input type="text" class="form-control br-2" value="%">
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p class="f-12 text-custom pt-4 mb-0">Optional</p>
                </div>
            </div>
        </div>

    </div>
</div>