::ng-deep .mat-menu-panel {
    min-height: auto !important;
}

.dashedClass {
    border: 1px dashed #BCC6CA;
    //height: 490px;
    padding: 20px;
    width: 357px;
    p {
        color: #484848;
    }
    strong {
        font-weight: 600 !important;
    }
}

.boxEmpty {
    width: 70%;
    display: flex;
    align-items: center;
    flex-direction: column;
}