<div>
    <div *ngIf="sip.sipComponent==false" id="ui-category">
        <div class="wrapper-20 bg-white">
            <div class="row">
                <div class="col-md-6 pl-0">
                    <h3 class="pt-8 mb-0">Scheme Wise SIP
                    </h3>
                </div>
                <div class="col-md-6 pr-0">
                    <div class="right text-right">
                        <button mat-stroked-button class="btn-default addon"
                            (click)="exportToExcelSheet('scheme-wise', null,null)"><i
                                class="material-icons">add</i>XLXS</button>
                        <button mat-stroked-button class="btn-success ml-8 addon" (click)="aumReport()">Back</button>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-8"></div>
                <div ng-init="schemeFilter=''" class="col-md-4 pr-0 mt-12 mb-12">
                    <input type="text" class="form-control" placeholder="Search Scheme Name" [(ngModel)]="schemeFilter"
                        (keyup)="filterArray()">
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 p-0 cat-wise overflow-hidden">
                    <table class="mt-16 skeletonAnimation" appSkeletonLoading [appSkeletonLoading]="isLoading"
                        id="table-low" *ngIf="filteredArray.length>0">
                        <thead class="text-dark">
                            <tr class="h-40">
                                <th class="w-10">Sr No.</th>
                                <th class="w-40 c-p" (click)="sortBy(filteredArray,'schemeName')">
                                    <span class="d-flex align-items-center">Scheme Name
                                        <i class="material-icons ml-4 f-14 text-primitive"
                                            *ngIf="propertyName=='schemeName' && !reverse">
                                            arrow_upward </i>
                                        <i class="material-icons ml-4 f-14 text-primitive"
                                            *ngIf="propertyName=='schemeName' && reverse">arrow_downward</i> </span>
                                </th>
                                <th (click)="sortBy(filteredArray,'sipAmount')" class="c-p">
                                    <span class="d-flex align-items-center">SIP Amount
                                        <i class="material-icons ml-4 f-14 text-primitive"
                                            *ngIf="propertyName=='sipAmount' && !reverse">
                                            arrow_upward </i>
                                        <i class="material-icons ml-4 f-14 text-primitive"
                                            *ngIf="propertyName=='sipAmount' && reverse">arrow_downward</i> </span>
                                </th>
                                <th (click)="sortBy(filteredArray,'sipCount')" class="c-p">
                                    <span class="d-flex align-items-center">SIP Count
                                        <i class="material-icons ml-4 f-14 text-primitive"
                                            *ngIf="propertyName=='sipCount' && !reverse">
                                            arrow_upward </i>
                                        <i class="material-icons ml-4 f-14 text-primitive"
                                            *ngIf="propertyName=='sipCount' && reverse">arrow_downward</i> </span>
                                </th>
                                <th>% Weight</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let data of filteredArray; let i = index">
                            <tr>
                                <td>
                                    <div class="bar">
                                        {{(isLoading)?'':i+1}}
                                    </div>
                                </td>
                                <td>
                                    <div class="bar">
                                        {{data.schemeName}}
                                    </div>
                                </td>
                                <td>
                                    <div class="bar">
                                        <span appFormatNumber>{{data.sipAmount}} </span>
                                    </div>
                                </td>
                                <td>
                                    <div class="bar"> {{data.sipCount}} </div>
                                </td>
                                <td>
                                    <div class="bar">
                                        {{data.weightInPercentage}}{{(isLoading?'':'%') }}</div>
                                </td>
                                <td class="text-center" (click)="showSubTableList(i,data.showCategory,data)">
                                    <div class="bar text-center">
                                        <i class="material-icons b-a f-14 mt-4 c-p" *ngIf="data.showCategory==true">
                                            add </i>
                                        <i class="material-icons b-a f-14 mt-4 c-p" *ngIf="data.showCategory==false">
                                            remove
                                        </i>
                                    </div>
                                </td>
                            </tr>
                            <tr style="border: transparent !important">
                                <td colspan="6" class="innerTd one">
                                    <div class="d-block text-right">
                                        <button (click)="exportToExcelSheet('investor-wise', i,i)" mat-icon-button>
                                            <mat-icon>
                                                save_alt
                                            </mat-icon>
                                        </button>
                                    </div>
                                    <table *ngIf="data.showCategory==false" class=" mb-8 mt-8 skeletonAnimation"
                                        appSkeletonLoading [appSkeletonLoading]="isLoadingCategory" id="table-low">
                                        <thead class="bg-light text-dark">
                                            <tr class="h-40">
                                                <th class="w-10">Sr No.</th>
                                                <th class="c-p"
                                                    (click)="sortByInvestor(data.subCatList,'investorName')">
                                                    <span class="d-flex align-items-center"> Investor Name
                                                        <i class="material-icons ml-4 f-14 text-primitive"
                                                            *ngIf="propertyName2=='investorName' && !reverse2">
                                                            arrow_upward </i>
                                                        <i class="material-icons ml-4 f-14 text-primitive"
                                                            *ngIf="propertyName2=='investorName' && reverse2">arrow_downward</i>
                                                    </span>
                                                </th>
                                                <th (click)="sortByInvestor(data.subCatList,'sipAmount')" class="c-p">
                                                    <span class="d-flex align-items-center">SIP
                                                        Amount
                                                        <i class="material-icons ml-4 f-14 text-primitive"
                                                            *ngIf="propertyName2=='sipAmount' && !reverse2">
                                                            arrow_upward </i>
                                                        <i class="material-icons ml-4 f-14 text-primitive"
                                                            *ngIf="propertyName2=='sipAmount' && reverse2">arrow_downward</i>
                                                    </span>
                                                </th>

                                                <th (click)="sortByInvestor(data.subCatList,'sipCount')" class="c-p">
                                                    <span class="d-flex align-items-center"> SIP Count
                                                        <i class="material-icons ml-4 f-14 text-primitive"
                                                            *ngIf="propertyName2=='sipCount' && !reverse2">
                                                            arrow_upward </i>
                                                        <i class="material-icons ml-4 f-14 text-primitive"
                                                            *ngIf="propertyName2=='sipCount' && reverse2">arrow_downward</i>
                                                    </span>
                                                </th>

                                                <th>% Weight</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody *ngFor="let subInvList of data.subCatList; let i = index">
                                            <tr>
                                                <td>
                                                    <div class="bar">
                                                        {{isLoadingCategory?'':i+1}}

                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="bar">
                                                        {{subInvList.investorName}}

                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="bar">
                                                        <span appFormatNumber>{{subInvList.sipAmount}}</span>

                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="bar">
                                                        {{subInvList.sipCount}}

                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="bar">
                                                        {{subInvList.weightInPercentage}}{{(isLoadingCategory?'':'%') }}

                                                    </div>
                                                </td>
                                                <td (click)="showSchemeName(i,subInvList.showSubCategory,subInvList)">
                                                    <i *ngIf="subInvList.showSubCategory==true"
                                                        class="material-icons   b-a f-14 mt-4 c-p">add</i>
                                                    <i *ngIf="subInvList.showSubCategory==false"
                                                        class="material-icons   b-a f-14 mt-4 c-p"> remove </i>
                                                </td>
                                            </tr>
                                            <tr style="border: transparent !important">
                                                <td colspan="6" class="innerTd two">
                                                    <div class="d-block text-right">
                                                        <button (click)="exportToExcelSheet('applicant-wise', i,null)"
                                                            mat-icon-button>
                                                            <mat-icon>
                                                                save_alt
                                                            </mat-icon>
                                                        </button>
                                                    </div>
                                                    <table class="mb-8 mt-8 skeletonAnimation" appSkeletonLoading
                                                        [appSkeletonLoading]="isLoadingSubCategory" id="table-low"
                                                        *ngIf="subInvList.showSubCategory==false">
                                                        <thead>
                                                            <tr class="h-40">
                                                                <th (click)="sortByApplicant(subInvList.applicantList,'investorName')"
                                                                    class="c-p">
                                                                    <span class="d-flex align-items-center">Applicant
                                                                        Name
                                                                        <i class="material-icons ml-4 f-14 text-primitive"
                                                                            *ngIf="propertyName3=='investorName' && !reverse3">
                                                                            arrow_upward </i>
                                                                        <i class="material-icons ml-4 f-14 text-primitive"
                                                                            *ngIf="propertyName3=='investorName' && reverse3">arrow_downward</i>
                                                                    </span>
                                                                </th>
                                                                <th (click)="sortByApplicant(subInvList.applicantList,'schemeName')"
                                                                    class="c-p"> <span
                                                                        class="d-flex align-items-center"> Scheme Name
                                                                        <i class="material-icons ml-4 f-14 text-primitive"
                                                                            *ngIf="propertyName3=='schemeName' && !reverse3">
                                                                            arrow_upward </i>
                                                                        <i class="material-icons ml-4 f-14 text-primitive"
                                                                            *ngIf="propertyName3=='schemeName' && reverse3">arrow_downward</i>
                                                                    </span>
                                                                </th>
                                                                <th (click)="sortByApplicant(subInvList.applicantList,'folioNumber')"
                                                                    class="c-p"> <span
                                                                        class="d-flex align-items-center"> Folio
                                                                        <i class="material-icons ml-4 f-14 text-primitive"
                                                                            *ngIf="propertyName3=='folioNumber' && !reverse3">
                                                                            arrow_upward </i>
                                                                        <i class="material-icons ml-4 f-14 text-primitive"
                                                                            *ngIf="propertyName3=='folioNumber' && reverse3">arrow_downward</i>
                                                                    </span>
                                                                </th>
                                                                <th (click)="sortByApplicant(subInvList.applicantList,'registeredDate')"
                                                                    class="c-p"> <span
                                                                        class="d-flex align-items-center"> Registered
                                                                        Date
                                                                        <i class="material-icons ml-4 f-14 text-primitive"
                                                                            *ngIf="propertyName3=='registeredDate' && !reverse3">
                                                                            arrow_upward </i>
                                                                        <i class="material-icons ml-4 f-14 text-primitive"
                                                                            *ngIf="propertyName3=='registeredDate' && reverse3">arrow_downward</i>
                                                                    </span>
                                                                </th>
                                                                <th (click)="sortByApplicant(subInvList.applicantList,'from_date')"
                                                                    class="c-p"> <span
                                                                        class="d-flex align-items-center"> From Date
                                                                        <i class="material-icons ml-4 f-14 text-primitive"
                                                                            *ngIf="propertyName3=='from_date' && !reverse3">
                                                                            arrow_upward </i>
                                                                        <i class="material-icons ml-4 f-14 text-primitive"
                                                                            *ngIf="propertyName3=='from_date' && reverse3">arrow_downward</i>
                                                                    </span>
                                                                </th>
                                                                <th (click)="sortByApplicant(subInvList.applicantList,'to_date')"
                                                                    class="c-p"> <span
                                                                        class="d-flex align-items-center"> To Date
                                                                        <i class="material-icons ml-4 f-14 text-primitive"
                                                                            *ngIf="propertyName3=='to_date' && !reverse3">
                                                                            arrow_upward </i>
                                                                        <i class="material-icons ml-4 f-14 text-primitive"
                                                                            *ngIf="propertyName3=='to_date' && reverse3">arrow_downward</i>
                                                                    </span>
                                                                </th>
                                                                <th (click)="sortByApplicant(subInvList.applicantList,'sipTriggerDay')"
                                                                    class="c-p"> <span
                                                                        class="d-flex align-items-center"> To Trigger
                                                                        Day
                                                                        <i class="material-icons ml-4 f-14 text-primitive"
                                                                            *ngIf="propertyName3=='sipTriggerDay' && !reverse3">
                                                                            arrow_upward </i>
                                                                        <i class="material-icons ml-4 f-14 text-primitive"
                                                                            *ngIf="propertyName3=='sipTriggerDay' && reverse3">arrow_downward</i>
                                                                    </span>
                                                                </th>
                                                                <th (click)="sortByApplicant(subInvList.applicantList,'frequency')"
                                                                    class="c-p"> <span
                                                                        class="d-flex align-items-center"> Frequency
                                                                        <i class="material-icons ml-4 f-14 text-primitive"
                                                                            *ngIf="propertyName3=='frequency' && !reverse3">
                                                                            arrow_upward </i>
                                                                        <i class="material-icons ml-4 f-14 text-primitive"
                                                                            *ngIf="propertyName3=='frequency' && reverse3">arrow_downward</i>
                                                                    </span>
                                                                </th>
                                                                <th (click)="sortByApplicant(subInvList.applicantList,'sipAmount')"
                                                                    class="c-p"> <span
                                                                        class="d-flex align-items-center"> Amount
                                                                        <i class="material-icons ml-4 f-14 text-primitive"
                                                                            *ngIf="propertyName3=='sipAmount' && !reverse3">
                                                                            arrow_upward </i>
                                                                        <i class="material-icons ml-4 f-14 text-primitive"
                                                                            *ngIf="propertyName3=='sipAmount' && reverse3">arrow_downward</i>
                                                                    </span>
                                                                </th>
                                                                <th>% Weight </th>
                                                                <th>Edit/Delete</th>
                                                                <th></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody
                                                            *ngFor="let scheme of subInvList.applicantList;let i = index">
                                                            <tr>
                                                                <td>
                                                                    <div class="bar">
                                                                        {{scheme.investorName}}
                                                                    </div>
                                                                </td>
                                                                <td>

                                                                    <div class="bar">
                                                                        {{scheme.schemeName}}
                                                                    </div>
                                                                </td>
                                                                <td>

                                                                    <div class="bar">
                                                                        {{scheme.folioNumber}}
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="bar">
                                                                        {{scheme.registeredDate | date:'dd/MM/yyyy'}}
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="bar">
                                                                        {{scheme.from_date | date:'dd/MM/yyyy'}}
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="bar">
                                                                        {{scheme.to_date | date:'dd/MM/yyyy'}}
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="bar">
                                                                        {{scheme.sipTriggerDay}}
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="bar">
                                                                        {{scheme.frequency}}
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="bar"><span
                                                                            appFormatNumber>{{scheme.sipAmount}}
                                                                        </span>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="bar">
                                                                        {{scheme.weightInPercentage}}{{(isLoadingSubCategory?'':'%') }}
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    {{(isLoadingSubCategory?'':'Add Ceased') }}
                                                                </td>
                                                                <td>
                                                                    <i class="material-icons  b-a f-14 mt-4 c-p"
                                                                        *ngIf="scheme.showSubCategory==false">add</i>
                                                                    <i class="material-icons  b-a f-14 mt-4 c-p"
                                                                        *ngIf="scheme.showSubCategory==true"> remove
                                                                    </i>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <div *ngIf="subInvList.applicantList.length==0"
                                                        class="d-flex flex-column align-items-center">
                                                        <h4 class="text-center pt-12">No data Found</h4>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div *ngIf="data.subCatList.length==0"
                                        class="d-flex flex-column align-items-center">
                                        <h4 class="text-center pt-12">No data Found</h4>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tbody *ngIf="!isLoading && filteredArray.length>0">
                            <tr>
                                <td class="p-table">&nbsp;</td>
                                <td class="p-table"><strong>Total</strong></td>
                                <td class="p-table"><strong><span appFormatNumber>{{totalOfSipAmount}}</span></strong>
                                </td>
                                <td class="p-table"><strong>{{totalOfSipCount}}</strong></td>
                                <td class="p-table"><strong>{{totalWeight}}%</strong></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>

                    <div *ngIf="filteredArray.length==0" class="d-flex flex-column align-items-center">
                        <img class="width300" src="assets/images/svg/noDataFound.svg">
                        <h4 class="text-center pt-12">No data found</h4>
                    </div>

                </div>
            </div>


        </div>
    </div>

    <!-- <div *ngIf="categoryData">
    <mat-spinner class="loader" [diameter]="30"></mat-spinner>
</div> -->
</div>