<div>
    <div *ngIf="sip.sipComponent==false" id="ui-category">
        <div class="wrapper-20 bg-white">
            <div class="row">
                <div class="col-md-6 pl-0">
                    <h3 class="pt-8 mb-0">Scheme Wise SIP
                    </h3>
                </div>
                <div class="col-md-6 pr-0">
                    <div class="right text-right">
                        <button mat-stroked-button class="btn-default addon"><i
                                class="material-icons">add</i>XLS</button>
                        <button mat-stroked-button class="btn-success ml-8 addon" (click)="aumReport()">Back</button>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-8"></div>
                <div ng-init="schemeFilter=''" class="col-md-4 pr-0 mt-12 mb-12">
                    <input type="text" class="form-control" placeholder="Search client Name" [(ngModel)]="schemeFilter" (keyup)="filterArray()">
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 p-0 cat-wise overflow-hidden">
                    <table class="mt-16 skeletonAnimation" appSkeletonLoading [appSkeletonLoading]="isLoading" id="table-low" *ngIf="filteredArray">
                        <thead class="text-dark">
                            <tr>
                                <th class="w-10">Sr No.</th>
                                <th class="w-40">Scheme Name</th>
                                <th>SIP Amount</th>
                                <th>SIP Count</th>
                                <th>% Weight</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let data of filteredArray; let i = index">
                            <tr>
                                <td>
                                    <div class="bar">
                                        {{i+1}}
                                    </div>
                                </td>
                                <td>
                                    <div class="bar">
                                        {{data.schemeName}}
                                    </div>
                                </td>
                                <td>
                                    <div class="bar">
                                        <span appFormatNumber>{{data.sipAmount}} </span>
                                    </div>
                                </td>
                                <td>
                                    <div class="bar"> {{data.sipCount}} </div>
                                </td>
                                <td>
                                    <div class="bar">
                                        {{data.weightInPercentage}}%
                                    </div>
                                </td>
                                <td class="text-center" (click)="showSubTableList(i,data.showCategory,data)">
                                    <div class="bar text-center">
                                        <i class="material-icons b-a f-14 mt-4 c-p" *ngIf="data.showCategory==true">
                                            add </i>
                                        <i class="material-icons b-a f-14 mt-4 c-p" *ngIf="data.showCategory==false">
                                            remove
                                        </i>
                                    </div>
                                </td>
                            </tr>
                            <tr style="border: transparent !important">
                                <td colspan="6" class="innerTd one">
                                    <table *ngIf="data.showCategory==false" class=" mb-8 mt-8 " id="table-low">
                                        <thead class="bg-light text-dark">
                                            <tr>
                                                <th class="w-10">Sr No.</th>
                                                <th class="w-40">Investor Name</th>
                                                <th>SIP Amount</th>
                                                <th>SIP Count</th>
                                                <th>% Weight</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody *ngFor="let subInvList of data.InvestorList; let i = index">
                                            <tr>
                                                <td>{{i+1}}</td>
                                                <td>
                                                    {{subInvList.investorName}}
                                                </td>
                                                <td><span appFormatNumber>{{subInvList.sipAmount}}</span>
                                                </td>
                                                <td>{{subInvList.sipCount}} </td>
                                                <td>{{subInvList.weightInPercentage}}%</td>
                                                <td (click)="showSchemeName(i,subInvList.showSubCategory,subInvList)">
                                                    <i *ngIf="subInvList.showSubCategory==true" class="material-icons   b-a f-14 mt-4 c-p">add</i>
                                                    <i *ngIf="subInvList.showSubCategory==false" class="material-icons   b-a f-14 mt-4 c-p"> remove </i>
                                                </td>
                                            </tr>
                                            <tr style="border: transparent !important">
                                                <td colspan="6" class="innerTd two">
                                                    <table class=" mb-8 mt-8 " id="table-low" *ngIf="subInvList.showSubCategory==false">
                                                        <thead>
                                                            <tr>
                                                                <th>Applicant Name</th>
                                                                <th>Scheme Name</th>
                                                                <th>Folio</th>
                                                                <th>Registered Date</th>
                                                                <th>From Date</th>
                                                                <th>To Date</th>
                                                                <th>To Trigger Day</th>
                                                                <th>Frequency</th>
                                                                <th>Amount</th>
                                                                <th>% Weight </th>
                                                                <th>Edit/Delete</th>
                                                                <th></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody *ngFor="let scheme of subInvList.applicantList;let i = index">
                                                            <tr>
                                                                <td>{{i+1}}</td>
                                                                <td>{{scheme.investorName}}
                                                                </td>
                                                                <td>{{scheme.schemeName}} </td>
                                                                <td>{{scheme.folioNumber}} </td>
                                                                <td>
                                                                    {{scheme.registeredDate | date:'dd/MM/yyyy'}}
                                                                </td>
                                                                <td>
                                                                    {{scheme.from_date | date:'dd/MM/yyyy'}}
                                                                </td>
                                                                <td>
                                                                    {{scheme.to_date | date:'dd/MM/yyyy'}}
                                                                </td>
                                                                <td>{{scheme.sipTriggerDay}} </td>
                                                                <td>{{scheme.frequency}} </td>
                                                                <td><span appFormatNumber>{{scheme.sipAmount}}
                                                                    </span></td>
                                                                <td>{{scheme.weightInPercentage}}</td>
                                                                <td>Add Ceased</td>
                                                                <td>
                                                                    <i class="material-icons  b-a f-14 mt-4 c-p" *ngIf="scheme.showSubCategory==false">add</i>
                                                                    <i class="material-icons  b-a f-14 mt-4 c-p" *ngIf="scheme.showSubCategory==true"> remove
                                                                    </i>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td class="p-table">&nbsp;</td>
                                <td class="p-table"><strong>Total</strong></td>
                                <td class="p-table"><strong><span appFormatNumber>{{totalOfSipAmount}}</span></strong>
                                </td>
                                <td class="p-table"><strong>{{totalOfSipCount}}</strong></td>
                                <td class="p-table"><strong>{{totalWeight}}%</strong></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                    <div *ngIf="!filteredArray">
                        <p>No data Found</p>
                    </div>
                </div>
            </div>


        </div>
    </div>

    <!-- <div *ngIf="categoryData">
    <mat-spinner class="loader" [diameter]="30"></mat-spinner>
</div> -->
</div>