.cat-wise #table-low tbody td.innerTd {
    padding: 0px !important;
}

.cat-wise #table-low tr.noneBorder {
    border: transparent !important;
}


.table95 {
    width: 95% !important;
    margin: 0px auto;
}

.table98 {
    width: 98% !important;
    margin: 0px auto;
}

.table96 {
    width: 96% !important;
    margin: 0px auto;
}

.floatRight {
    float: right;
}


.tableScrollSip {
    // overflow-x: scroll;
    // width: 630px; 
}

@media screen and (min-width: 768px) and (max-width: 991px) {


.tableScrollSip {
    overflow-x: scroll;
    width: 630px; 
}
 }