.height180 {
    height: 180px !important;
    padding-top: 20px !important;
}


/* .mis-header-shadow {
    box-shadow: 5px 1px 10px rgba(0, 0, 0, 0.2), 3px 4px 5px rgba(0, 0, 0, 0.12), 2px 2px 4px rgba(0, 0, 0, 0.14);
} */

.bxo {
    box-shadow: inset 0px 4px 5px rgba(0, 0, 0, 0.2);
}
.bg-aum{
    background: linear-gradient(90deg, #004680 0%, #4484BA 100%) !important;
    border: 1px solid #BCC6CA;
}
.bg-foliocount {
    background: linear-gradient(90deg, #FF0099 0%, #493240 100%) !important;
    border: 1px solid #BCC6CA;
}

.bg-goal {
    background: linear-gradient(90deg, #00B4DB 0%, #0083B0 100%) !important;
    border: 1px solid #BCC6CA;
}

.h-365 {
    height: 365px !important;
}
.second-header{
    position: fixed;
    padding-right: 100px;
    margin-top: 125px;
    padding-top: 16px;
    padding-bottom: 16px;
    // left: 0;
    z-index: 2;
    // right: 0;
    background: #fff;
    // border-left: 1px solid #e8ecef;
}
