#pieChartAum {
    height: 400px;
}

.highcharts-figure,
.highcharts-data-table table {
    min-width: 310px;
    max-width: 800px;
    margin: 1em auto;
}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #EBEBEB;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}

.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
    padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}

.highcharts-data-table tr:hover {
    background: #f1f7ff;
}

.height180 {
    height: 180px !important;
    padding-top: 20px !important;
}


/* .mis-header-shadow {
    box-shadow: 5px 1px 10px rgba(0, 0, 0, 0.2), 3px 4px 5px rgba(0, 0, 0, 0.12), 2px 2px 4px rgba(0, 0, 0, 0.14);
} */

.bxo {
    box-shadow: inset 0px 4px 5px rgba(0, 0, 0, 0.2);
}

.bg-aum {
    background: linear-gradient(90deg, #004680 0%, #4484BA 100%) !important;
    //border: 1px solid #BCC6CA;
}

.bg-foliocount {
    background: linear-gradient(90deg, #FF0099 0%, #493240 100%) !important;
    // border: 1px solid #BCC6CA;
}

.bg-goal {
    background: linear-gradient(90deg, #00B4DB 0%, #0083B0 100%) !important;
    //border: 1px solid #BCC6CA;
}

.h-365 {
    height: 365px !important;
}

.second-header {
    position: fixed;
    padding-right: 100px;
    margin-top: 125px;
    padding-top: 16px;
    padding-bottom: 16px;
    // left: 0;
    z-index: 2;
    // right: 0;
    background: #fff;
    // border-left: 1px solid #e8ecef;
}

::ng-deep #mistabs1 .mat-ink-bar {
    display: block !important
}

::ng-deep #mistabs2 .mat-ink-bar {
    display: block !important
}

.borderBottom {
    border-bottom: 1px solid #BCC6CA !important;
}

::ng-deep #mistabs1 .mat-tab-label {
    border-bottom: 1px solid #DADCE0;
}

::ng-deep #mistabs2 .mat-tab-label {
    border-bottom: 1px solid #DADCE0;
}

.width183 {
    min-width: 185px;
    margin-right: 20px;
}
.skeletonAnimation .relClass {
    position: relative;
    .bar {
        background-color: #E7E7E7;
        width: 100%;
        &:after {
            position: absolute;
            transform: translateY(-50%);
            top: 50%;
            left: 0;
            content: "";
            display: block;
            width: 100%;
            height: 24px;
            background-image: linear-gradient(100deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0) 80%);
            background-size: 100px 24px;
            background-position: -10px 0;
            background-repeat: no-repeat;
            animation: loading 1s infinite;
        }
    }
}
.height23 {
    height: 23px;
}