<div class="row popup-header-fix-100">
    <div class="col-md-2   p-0">

    </div>
    <div class="col-md-8 p-0 d-flex justify-content-center align-items-center ">

        <p class="f-16 mb-0">
            Customise setting for clients
        </p>
    </div>
    <div class="col-md-2 text-right">
        <i class="material-icons pt-16 c-p pr-16" (click)="close()">
            clear
        </i>
    </div>
</div>

<div class="mt-70">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input class="form-control" placeholder="Start typing to search client" matInput
                    (input)="searchClient($event.target.value)">
            </div>

        </div>
        <!-- <div class="col-md-8 text-right">
            <button class="btn-primary f-14 ml-12" (click)="saveSetting()" mat-stroked-button cdkFocusInitial>Save
                Setting</button>
        </div> -->
    </div>

    <div class="row">
        <div class="col-md-12">
            <div [ngClass]="{'tableScrollBox':isLoading==false }" (scroll)="onWindowScroll($event)"
                class="ox-hide people-clients-scroll">
                <table #tableEl mat-table [dataSource]="dataSource" class=" skeletonAnimation"
                    [appSkeletonLoading]="isLoading" id="tbs" class="mt-8">
                    <ng-container matColumnDef="name">
                        <th class="br" mat-header-cell *matHeaderCellDef sticky> Client name </th>
                        <td class="br" mat-cell *matCellDef="let element">
                            <div class="bar">
                                {{element.name}}
                            </div>
                        </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="mfoverview">
                        <th class="br" mat-header-cell *matHeaderCellDef sticky> MF overview
                            <mat-checkbox *ngIf="!isLoading" [checked]="overviewAll" class="example-margin ml-2"
                            (change)="selectReportAll($event,1)"></mat-checkbox>
                        </th>
                        <td class="br text-center" mat-cell *matCellDef="let element">
                            <div class="bar c-p">
                                <mat-checkbox *ngIf="!isLoading" [checked]="element.overview"
                                    (change)="element.overview=$event.checked;selectReport($event,element)"
                                    class="example-margin"></mat-checkbox>
                            </div>
                        </td>
                    </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="mfsummary">
                        <th class="br" mat-header-cell *matHeaderCellDef sticky> MF summary
                            <mat-checkbox *ngIf="!isLoading" [checked]="summaryAll" class="example-margin ml-2"
                            (change)="selectReportAll($event,2)"></mat-checkbox>
                        </th>
                        <td class="br text-center" mat-cell *matCellDef="let element">
                            <div class="bar c-p">
                                <mat-checkbox *ngIf="!isLoading" [checked]="element.summary"
                                    (change)="element.summary=$event.checked;selectReport($event,element)"
                                    class="example-margin"></mat-checkbox>
                            </div>
                        </td>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="mftransaction">
                        <th class="br" mat-header-cell *matHeaderCellDef sticky> MF all transaction
                            <mat-checkbox *ngIf="!isLoading" [checked]="transactionAll" class="example-margin ml-2"
                            (change)="selectReportAll($event,3)"></mat-checkbox>
                        </th>
                        <td class="br text-center" mat-cell *matCellDef="let element">
                            <div class="bar c-p">
                                <mat-checkbox *ngIf="!isLoading" [checked]="element.allTransaction"
                                    (change)="element.allTransaction=$event.checked;selectReport($event,element)"
                                    class="example-margin"></mat-checkbox>
                            </div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="mfunrealised">
                        <th class="br" mat-header-cell *matHeaderCellDef sticky> MF unrealised transaction
                            <mat-checkbox *ngIf="!isLoading" [checked]="unrealisedAll" class="example-margin ml-2"
                            (change)="selectReportAll($event,4)"></mat-checkbox>
                        </th>
                        <td class="br text-center" mat-cell *matCellDef="let element">
                            <div class="bar c-p">
                                <mat-checkbox *ngIf="!isLoading" [checked]="element.unrealizedTransaction"
                                    (change)="element.unrealizedTransaction=$event.checked;selectReport($event,element)"
                                    class="example-margin"></mat-checkbox>
                            </div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="mfcapitalgain">
                        <th class="br" mat-header-cell *matHeaderCellDef sticky> MF capital gain summary
                            <mat-checkbox *ngIf="!isLoading" [checked]="capitalGainAll" class="example-margin ml-2"
                            (change)="selectReportAll($event,5)"></mat-checkbox>
                        </th>
                        <td class="br text-center" mat-cell *matCellDef="let element">
                            <div class="bar c-p">
                                <mat-checkbox *ngIf="!isLoading" [checked]="element.capitalGainSummary"
                                    (change)="element.capitalGainSummary=$event.checked;selectReport($event,element)"
                                    class="example-margin"></mat-checkbox>
                            </div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="mfcapitalgaindetailed">
                        <th class="br" mat-header-cell *matHeaderCellDef sticky> MF capital gain detailed
                            <mat-checkbox *ngIf="!isLoading" [checked]="capitalGainDetailedAll" class="example-margin ml-2"
                            (change)="selectReportAll($event,6)"></mat-checkbox>
                        </th>
                        <td class="br text-center" mat-cell *matCellDef="let element">
                            <div class="bar c-p">
                                <mat-checkbox *ngIf="!isLoading" [checked]="element.capitalGainDetailed"
                                    (change)="element.capitalGainDetailed=$event.checked;selectReport($event,element)"
                                    class="example-margin"></mat-checkbox>
                            </div>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
        </div>
    </div>
</div>