<div class="row" id="ui-customer-secondhead">
  <div class="col-md-2 pt-16">
    <button (click)="goToAdvisorHome()" class="btn-warning-outline br-2" mat-stroked-button><i
        class="material-icons mr-12">
        keyboard_backspace
      </i>ADVISOR HOME
    </button>
  </div>
  <div class="col-md-8 p-0">
    <nav mat-align-tabs="center" mat-tab-nav-bar>
      <a [routerLink]="['/customer/detail/account/summary']" mat-tab-link routerLinkActive="active">SUMMARY</a>
      <a [routerLink]="['/customer/detail/account/assets']" mat-tab-link routerLinkActive="active">ASSETS</a>
      <a [routerLink]="['/customer/detail/account/liabilities']" mat-tab-link routerLinkActive="active">LIABILITIES</a>
      <a [routerLink]="['/customer/detail/account/insurance']" mat-tab-link routerLinkActive="active">INSURANCE</a>
      <a [routerLink]="['/customer/detail/account/documents']" mat-tab-link routerLinkActive="active">DOCUMENTS</a>
    </nav>
  </div>

</div>
<div class="row">
  <div class="col-md-12 p-0">
    <div [@routeAnimations]="routingStateService.prepareRoute(outlet)">

      <router-outlet #outlet="outlet">

      </router-outlet>
      <ng-template>
        <router-outlet></router-outlet>
      </ng-template>
    </div>
  </div>
</div>