<div id="advisor-home">
    <button mat-stroked-button class="btn-yellow"> <i class="material-icons mr-12">
            keyboard_backspace
        </i>ADVISOR HOME</button>
</div>
<mat-tab-group mat-align-tabs="center" id="ui-account-second-head" animationDuration="0ms">
    <mat-tab label="SUMMARY">
        <ng-template matTabContent>
            <app-summary></app-summary>
        </ng-template>
        <!-- <app-assets></app-assets> -->
    </mat-tab>
    <mat-tab label="ASSETS">
                <ng-template matTabContent>
            <app-assets></app-assets>
            <!-- <app-mutual-funds-capital></app-mutual-funds-capital> -->
            </ng-template>
        </mat-tab>
    <mat-tab label="LIABILITIES">
        <ng-template matTabContent>
            <app-liabilities></app-liabilities>
        </ng-template>
    </mat-tab>
    <mat-tab label="INSURANCE">
        <ng-template matTabContent>
            <app-insurance></app-insurance>
        </ng-template>
    </mat-tab>
    <mat-tab label="INCOME">
        <ng-template matTabContent>
            <app-income></app-income>
        </ng-template>
    </mat-tab>
    <mat-tab label="EXPENSES">
        <ng-template matTabContent>
            <app-expenses></app-expenses>
        </ng-template>
    </mat-tab>
    <mat-tab label="DOCUMENTS">
        <ng-template matTabContent>
            <app-documents></app-documents>
        </ng-template>
    </mat-tab>
</mat-tab-group>