<div class="row p-8 bg-dark text-white">
    <div class="col-md-10">
        Copy 1 item to
    </div>
    <div class="col-md-2 p-0 text-right">
        <i class="material-icons c-p v-middle" (click)="close()"> clear</i>
    </div>
</div>

<div class="row pt-10 pb-10 bg-grey lter">
    <div class="col-md-12 f-14">
        Documents
    </div>
</div>

<div class="row pt-10 bb pb-10 c-p">
    <div class="col-md-10">
        <img class="mr-12" src="/assets/images/svg/folder-icon.svg"> Identity & address proofs
    </div>
    <div class="col-md-2 text-right">
        <i class="material-icons"> navigate_next</i>
    </div>
</div>

<div class="row pt-10 bb pb-10 c-p">
    <div class="col-md-10">
        <img class="mr-12" src="/assets/images/svg/folder-icon.svg"> Accounts
    </div>
    <div class="col-md-2 text-right">
        <i class="material-icons"> navigate_next</i>
    </div>
</div>

<div class="row pt-10 bb pb-10 c-p">
    <div class="col-md-10">
        <img class="mr-12" src="/assets/images/svg/folder-icon.svg"> Planning
    </div>
    <div class="col-md-2 text-right">
        <i class="material-icons"> navigate_next</i>
    </div>
</div>

<div class="row pt-10 bb pb-10 c-p">
    <div class="col-md-10">
        <img class="mr-12" src="/assets/images/svg/folder-icon.svg"> Transaction
    </div>
    <div class="col-md-2 text-right">
        <i class="material-icons"> navigate_next</i>
    </div>
</div>

<div class="row pt-44">
    <div class="col-md-12 pr-0 right text-right">
        <button class="text-custom f-500 c-p"> CANCEL </button>
        <button class="text-danger f-500 c-p"> DELETE </button>
    </div>
</div>