<!--<div [@dialogContainer]="dialogState" *ngIf="isOverlayVisible" class="custom-overlay">-->
<!--</div>-->
<app-custom-dialog-container [currentState]="currentState">
  <!--  <div [@openClose]="currentState" class="right_sidenav">-->
  <app-common-froala *ngIf="subscriptionTab=='viewDocuments'" [changeFooter]='subscriptionTab'
                     [screenType]="subscriptionTab"></app-common-froala>
  <app-common-froala *ngIf="subscriptionTab=='viewDoc'" [changeFooter]='subscriptionTab'
                     [screenType]="subscriptionTab"></app-common-froala>
  <app-common-froala *ngIf="subscriptionTab=='openEmailQuot'" [changeEmailOnly]='subscriptionTab'></app-common-froala>
  <app-common-froala *ngIf="subscriptionTab=='emailQuotation'" [changeFooter]='subscriptionTab'></app-common-froala>
  <app-common-froala *ngIf="subscriptionTab=='viewQuotation'" [changeFooter]='subscriptionTab'></app-common-froala>
  <app-email-quotation *ngIf="subscriptionTab=='eSignRequest'" [headerData]="headerData"></app-email-quotation>
  <app-email-quotation *ngIf="subscriptionTab=='eSignRequestDocuments'"
                       [headerDataDocuments]="headerDataDocuments"></app-email-quotation>
  <app-invoice-history *ngIf="subscriptionTab=='SUBSCRIPTIONS'"
                       [invoiceHistoryData]='invoiceHisData'></app-invoice-history>
  <app-invoice-history *ngIf="subscriptionTab=='subscriptionFees'"
                       [invoiceHistoryData]='invoiceHisData'></app-invoice-history>
  <app-clients-dashboard *ngIf="subscriptionTab=='dashboardSubscription'"></app-clients-dashboard>
  <app-modify-fee-structure *ngIf="subscriptionTab=='fixedModifyFees' || subscriptionTab =='variableModifyFees'"
                            [ModifyFeesChange]="subscriptionTab"></app-modify-fee-structure>
  <app-biller-profile-advisor *ngIf="subscriptionTab=='billerProfile'"
                              [Selected]="selectedSubscriptionTab"></app-biller-profile-advisor>
  <app-help *ngIf="subscriptionTab=='clientHelp'"></app-help>
  <app-biller-settings *ngIf="subscriptionTab=='billerSettings'"></app-biller-settings>
  <!-- <app-payee-settings *ngIf="subscriptionTab=='payeeSettings'"></app-payee-settings> -->
  <app-help *ngIf="subscriptionTab=='documentHelp'"></app-help>
  <app-invoice *ngIf="subscriptionTab=='invoiceUpperSlider'"></app-invoice>
  <app-change-payee *ngIf="subscriptionTab=='changePayee'"></app-change-payee>
  <app-create-subscription *ngIf="subscriptionTab=='createSub'"></app-create-subscription>
<!-- <app-liabilityright *ngIf="subscriptionTab=='liabilityright'"></app-liabilityright> -->
  <app-libilities-right *ngIf="subscriptionTab=='portfolioSummary'"></app-libilities-right>
</app-custom-dialog-container>

<div [@upperSliderOpenClose]="upperSliderData.state" class="upper_slider">
  <app-upper-slider></app-upper-slider>
</div>
