::ng-deep .sub_input .mat-form-field-appearance-legacy .mat-form-field-infix {
    padding: 0px !important;
    border: 1px solid #BCC6CA !important;
}

.width400 {
    width: 400px;
    margin-top: 50px;
}