footer {
  padding: 0;
  margin: 0;
}

@media(max-width: 767px) {
  .bottom-mob-footer {
    background: #E5E5E5;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 401;
    ul {
      background-color: #ffffff;
      padding: 15px 20px;
      border-top: 1px solid #dee5e7 !important;
      width: 100%;
    }
    li {
      width: 20%;
    }
  }
  #mobile-footer-tabs {
    //  height: 100vh;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // margin: 0;
    background: #E5E5E5;
    position: fixed;
    width: 100%;
    bottom: 0;
    nav {
      position: relative;
      display: block;
      background-color: #ffffff;
      padding: 10px 20px;
      border-top: 1px solid #dee5e7 !important;
      width: 100%;
      overflow: hidden;
    }
    nav p {
      position: relative;
      text-decoration: none;
      color: #000000;
      font-family: Roboto;
      font-size: 14px;
      line-height: 1;
      text-align: left;
      display: inline-block;
      padding-top: 8px;
      // padding-left: 15px;
      height: 36px;
      box-sizing: border-box;
      z-index: 2;
      margin: 0;
    }
    nav p b {
      position: relative;
      top: 40px;
      transition: 0.3s ease top;
      font-style: normal;
      font-weight: normal;
      text-transform: capitalize;
      left: 8px;
    }
    nav p img {
      position: relative;
      left: 20%;
      transition: 0.3s ease left;
      font-size: 18px;
      display: initial;
    }
    nav span {
      position: absolute;
      min-width: 29%;
      background-color: #e5eeff;
      top: 10px;
      bottom: 10px;
      left: 20px;
      border-radius: 50px;
      z-index: 1;
      transition: 0.3s ease left;
    }
    nav span:nth-child(4) {}
    nav p:hover b {
      top: 2px;
    }
    nav p:hover img {
      left: 0;
    }
    p:nth-child(1) b {
      top: 2px;
    }
    p:nth-child(1) img {
      left: 0;
    }
    nav span:nth-child(1) {
      min-width: 26%;
    }
    nav p:nth-child(1):hover~span {
      left: 3%;
    }
    nav p:nth-child(2):hover~span {
      left: 26%;
    }
    nav p:nth-child(3):hover~span {
      left: 49%;
    }
    nav p:nth-child(4):hover~span {
      left: 70%;
    }
    nav p:nth-child(1),
    nav span:nth-child(1) {
      width: 26.35%;
    }
    nav p:nth-child(2),
    nav span:nth-child(2) {
      width: 25.35%;
    }
    nav p:nth-child(3),
    nav span:nth-child(3) {
      width: 25.35%;
    }
    nav p:nth-child(4),
    nav span:nth-child(4) {
      width: 22.35%;
    }
  }
  #mobile-footer-tabs {
    nav.mob-five {
      display: flex;
      p {
        width: 20% !important;
        // min-width: 30% !important;
      }
      // p:nth-child(1) b{
      //  top: 40px !important; 
      // }
      span {
        min-width: 25%;
        left: 10px;
      }
      // span:nth-child(5){
      //      min-width: 26%;
      // }
      nav p:nth-child(1):hover~span {
        left: 3%;
      }
      nav p:nth-child(2):hover~span {
        left: 21%;
      }
      nav p:nth-child(3):hover~span {
        left: 39%;
      }
      nav p:nth-child(4):hover~span {
        left: 57%;
      }
      nav p:nth-child(5):hover~span {
        left: 73%;
      }
      .minw-30 {
        min-width: 30% !important;
      }
    }
  }
}