.mat-form-field {
    font-size: 14px !important;
    height: 43px !important;
    font-weight: 500;
}

.m-t-md button {
    font-size: 12px;
}

.m-t-md button:focus {
    outline: none;
}

.mat-form-field-outline {
    top: 20% !important;
    bottom: 10% !important;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.ui-mff .form-control{
    border: 0px !important;
}
.form-control:focus{
    box-shadow: none !important;
    border-color: #ced4da !important;
}
.mat-form-field-underline{
    display:  none !important;
}
input.mat-input-element{
    margin: 0;
    line-height: 2.3;
    padding-left: 6px;
    padding-right: 6px;
}
input.mat-input-element:focus{
    outline: none;
}
// .form-group{
//     margin-bottom: 0 !important;
// }
.form-control{
    border: 1px solid #E8ECEF !important
}
#custom-radio{
    .mat-radio-label{
        margin: 0;
        padding: 8px;
    }
.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {

    background-color: #008FFF !important;
  }

 .mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color: #008FFF !important;   /*inner circle color change*/
  }

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
   border-color:#008FFF !important; /*outer ring color change*/
  }
}