.skeletonAnimation td {
  position: relative;

  .bar {
    background-color: #E7E7E7;
    height: 20px;
    width: 80%;

    &:after {
      position: absolute;
      transform: translateY(-50%);
      top: 50%;
      left: 0;
      content: "";
      display: block;
      width: 50%;
      height: 24px;
      background-image: linear-gradient(100deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0) 80%);
      background-size: 200px 24px;
      background-position: -100px 0;
      background-repeat: no-repeat;
      animation: loading 1s infinite;
    }
  }
}

@keyframes loading {
  100% {
    transform: translateX(100%);
  }
}


.skeletonAnimation .relClass {
  position: relative;

  .bar {
    background-color: #E7E7E7;
    width: 100%;

    &:after {
      position: absolute;
      transform: translateY(-50%);
      top: 50%;
      left: 0;
      content: "";
      display: block;
      width: 100%;
      height: 24px;
      background-image: linear-gradient(100deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0) 80%);
      background-size: 100px 24px;
      background-position: -10px 0;
      background-repeat: no-repeat;
      animation: loading 1s infinite;
    }
  }
}

.skeletonAnimation .relClass {
  position: relative;

  .bar40 {
    background-color: #E7E7E7;
    width: 40%;

    &:after {
      position: absolute;
      transform: translateY(-50%);
      top: 50%;
      left: 0;
      content: "";
      display: block;
      width: 40%;
      height: 24px;
      background-image: linear-gradient(100deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0) 80%);
      background-size: 100px 24px;
      background-position: -10px 0;
      background-repeat: no-repeat;
      animation: loading 1s infinite;
    }
  }
}

.skeletonAnimation .relClass {
  position: relative;

  .bar180 {
    background-color: #E7E7E7;
    width: 100%;

    &:after {
      position: absolute;
      transform: translateY(-50%);
      top: 50%;
      left: 0;
      content: "";
      display: block;
      width: 100%;
      height: 180px;
      background-image: linear-gradient(100deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0) 80%);
      background-size: 100px 180px;
      background-position: -10px 0;
      background-repeat: no-repeat;
      animation: loading 1s infinite;
    }
  }
}

.loader-text {
  z-index: 999;
  position: absolute;
  top: 45%;
  text-align: center;
  left: 45%;

  &:after {
    content: ' ...';
    animation: dots 1s steps(5, end) infinite;
  }

  @keyframes dots {

    0%,
    20% {
      color: rgba(0, 0, 0, 0);
      text-shadow:
        .25em 0 0 rgba(0, 0, 0, 0),
        .5em 0 0 rgba(0, 0, 0, 0);
    }

    40% {
      color: white;
      text-shadow:
        .25em 0 0 rgba(0, 0, 0, 0),
        .5em 0 0 rgba(0, 0, 0, 0);
    }

    60% {
      text-shadow:
        .25em 0 0 white,
        .5em 0 0 rgba(0, 0, 0, 0);
    }

    80%,
    100% {
      text-shadow:
        .25em 0 0 white,
        .5em 0 0 white;
    }
  }
}
