<div class="popup-header-fix-35">
    <div class="row bb-1">
        <div class="col-md-10 p-0">
            <h4 class="mb-0 wrapper-20">GRATUITY - DETAILED VIEW</h4>
        </div>
        <div class="col-md-2 text-left">
            <div class="wrapper-12">
                <i class="material-icons c-p pt-8 v-middle" (click)="close()"> clear</i>
            </div>
        </div>
    </div>
</div>
accountPreference: 0
accountStatus: 0
accountSummaryAsOn: 0
advisorId: 0
clientId: 0
contributionAmount: 0
contributionFrequency: 0
currentValuation: 0
familyMemberId: 3
futureContributionList: [{…}]
holdingList: [{…}]
id: 33
isActive: 0
noOfContribution: 0
npsNomineesList: (2) [{…}, {…}]
ownerName: "hema"
pran: "3243"
schemeId: 0
totalUnitsAsOn: 0

Owner
Scheme name (PFM)
Holdings as on
Total Net Contribution contributionAmount
Total Units totalUnitsAsOn
PRAN pran
Approx contribution
Frequency
Nominee Nominee %
Description

<div class="pl-20 pr-20 pb-48 pt-40">
    <div class="row pt-40">
        <div class="col-md-12 p-0">
            <div class="insurance-ui bt">
                <div class="row bb p-4 b-l br">
                    <div class="col-md-8 text-left f-14 roboto">
                        Owner Name
                    </div>
                    <div class="col-md-4 text-right f-14 roboto">
                        {{gratuity.ownerName}}
                    </div>
                </div>
                <div class="row bb p-4 b-l br">
                    <div class="col-md-8 text-left f-14 roboto">
                        Future Contribution
                    </div>
                    <div class="col-md-4 text-right f-14 roboto">
                    
                    </div>
                </div>
                <div class="row bb p-4 b-l br">
                    <div class="col-md-8 text-left f-14 roboto">
                      
                    </div>
                    <div class="col-md-4 text-right f-14 roboto">
                    
                    </div>
                </div>
                <div class="row bb p-4 b-l br">
                    <div class="col-md-8 text-left f-14 roboto">
                        No. of completed years
                    </div>
                    <div class="col-md-4 text-right f-14 roboto">
                        {{gratuity.yearsCompleted}}
                    </div>
                </div>
                <div class="row bb p-4 b-l br">
                    <div class="col-md-8 text-left f-14 roboto">
                        Amount Received
                    </div>
                    <div class="col-md-4 text-right f-14 roboto">
                        {{gratuity.amountReceived}}
                    </div>
                </div>
                <div class="row bb p-4 b-l br">
                    <div class="col-md-8 text-left f-14 roboto">
                        Year of receipt
                    </div>
                    <div class="col-md-4 text-right f-14 roboto">
                        {{gratuity.yearReceipt}}
                    </div>
                </div>
                <div class="row bb p-4 b-l br">
                    <div class="col-md-8 text-left f-14 roboto">
                        Reason of receipt
                    </div>
                    <div class="col-md-4 text-right f-14 roboto">
                        {{gratuity.reasonOfReceipt}}
                    </div>
                </div>
                <div class="row bb p-4 b-l br">
                    <div class="col-md-8 text-left f-14 roboto">
                        Bank account number
                    </div>
                    <div class="col-md-4 text-right f-14 roboto">
                        {{gratuity.bankAccountNumber}}
                    </div>
                </div>
                <div class="row bb p-4 b-l br">
                    <div class="col-md-8 text-left f-14 roboto">
                        Description
                    </div>
                    <div class="col-md-4 text-right f-14 roboto">
                        {{gratuity.description}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>