::ng-deep {
  .offline-alert {
    display: block;
    margin: 0 auto;
    position: absolute;
    width: 36%;
    right: 0;
    left: 0;
    top: 2em;


    .alert {
      position: absolute;
      z-index: 99;
      width: 100%;

    }

  }
}
