.suspended-class-name {
    background: #F1F3F4;
}

.userMenuDots {
    position: absolute;
    top: -2px;
}

.skeletonAnimation .relClass {
    position: relative;
    .bar {
        background-color: #E7E7E7;
        width: 100%;
        &:after {
            position: absolute;
            transform: translateY(-50%);
            top: 50%;
            left: 0;
            content: "";
            display: block;
            width: 100%;
            height: 24px;
            background-image: linear-gradient(100deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0) 80%);
            background-size: 100px 24px;
            background-position: -10px 0;
            background-repeat: no-repeat;
            animation: loading 1s infinite;
        }
    }
    .bar80 {
        background-color: #E7E7E7;
        width: 100%;
        &:after {
            position: absolute;
            transform: translateY(-50%);
            top: 50%;
            left: 0;
            content: "";
            display: block;
            width: 100%;
            height: 80px;
            background-image: linear-gradient(100deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0) 80%);
            background-size: 100px 80px;
            background-position: -10px 0;
            background-repeat: no-repeat;
            animation: loading 1s infinite;
        }
    }
}

.txt-underline:hover {
    text-decoration: underline !important;
}

.dashedClass {
    border: 1px dashed #BCC6CA;
    height: 420px;
    padding: 20px;
    width: 357px;
    p {
        color: #484848;
    }
    strong {
        font-weight: 600 !important;
    }
    ul {
        display: block;
        li {
            font-size: 14px;
            font-family: "proxima-nova", sans-serif;
            font-weight: 300;
            text-align: left;
            padding-left: 25px;
            color: #484848;
        }
    }
}

.boxEmpty {
    width: 70%;
    display: flex;
    align-items: center;
    flex-direction: column;
}