<!-- start ADD Fixed DEPOSIT (fixed DEPOSIT) -->
<div class="popup-header-fix-60">
    <div class="row bb-1">
        <div class="col-md-8 p-0">
            <h4 class="mb-0 wrapper-20">ADD Fixed DEPOSIT</h4>
        </div>
        <div class="col-md-4 text-right">
            <div class="wrapper-12">
                <i class="material-icons c-p pt-8 v-middle" (click)="Close()"> clear</i>
            </div>
        </div>
    </div>
</div>
<div [formGroup]="fixedDeposit" class="pt-72 pl-24 pr-24 pb-48 mb-44">
    <!-- <div class="row pt-40">
        <div class="col-md-5 text-right">
            <h5 class="m-0 pt-8">Owner</h5>
            <p class="m-0 f-12 text-custom">In whose name is this asset</p>
        </div>
        <div class="col-md-5">
            <div class="form-group mb-0">
                    <mat-select formControlName="ownerName" class="form-control br-0">       
                     <mat-option value = ''>Search family members</mat-option>      
                    <mat-option *ngFor="let f of family" [value]="f">
                        <span>{{f}}</span>
                    </mat-option>
                    </mat-select>
                <div class="row">
                    <div class="col-md-10">
                        <mat-error class="f-12 pt-4"
                            [ngClass]="{'v-h':!(isownerName && getFormControl().ownerName.invalid || getFormControl().ownerName.touched && getFormControl().ownerName.invalid)}">
                            This field is required
                        </mat-error>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <app-owner-component></app-owner-component>
    <div class="row pt-40">
        <div class="col-md-5 text-right">
            <h5 class="m-0 pt-8">Type of fixed deposit</h5>
        </div>
        <div class="col-md-5">
            <div class="form-group mb-0">
                <mat-select formControlName="FDType" class="form-control br-0">
                    <mat-option value="">Select option</mat-option>
                    <mat-option value="1">Bank FD</mat-option>
                    <mat-option value="2">Corporate FD</mat-option>
                </mat-select>
                <div class="col-md-10">
                    <mat-error class="f-12 pt-4"
                        [ngClass]="{'v-h':!(isFDType && getFormControl().FDType.invalid || getFormControl().FDType.touched && getFormControl().FDType.invalid)}">
                        This field is required
                    </mat-error>
                </div>
            </div>
        </div>
    </div>

    <div class="row pt-40">
        <div class="col-md-5 text-right">
            <h5 class="m-0 pt-8">Amount invested</h5>
        </div>
        <div class="col-md-4">
            <div class="form-group mb-0">
                <input matInput #amountInvest type="text" (keypress)="keyPress($event)" maxlength="20"
                    class="form-control br-0" value="₹" formControlName="amountInvest">
            </div>
            <div class="row">
                <div class="col-md-10">
                    <mat-error class="f-12 pt-4"
                        [ngClass]="{'v-h':!(isAmountInvest && getFormControl().amountInvest.invalid || getFormControl().amountInvest.touched && getFormControl().amountInvest.invalid)}">
                        This field is required
                    </mat-error>
                </div>
            </div>
        </div>
    </div>
    <div class="row pt-40">
        <div class="col-md-5 text-right">
            <h5 class="m-0 pt-8">Commencement date</h5>
        </div>
        <div class="col-md-4">
            <div class="form-group mb-0">
                <input matInput formControlName="commencementDate" [matDatepicker]="picker" placeholder="Choose a date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <mat-error class="f-12 pt-4"
                        [ngClass]="{'v-h':!(isCommencementDate && getFormControl().commencementDate.invalid || getFormControl().commencementDate.touched && getFormControl().commencementDate.invalid)}">
                        This field is required
                    </mat-error>
                </div>
            </div>
        </div>
    </div>
    <div class="row pt-40">
        <div class="col-md-5 text-right">
            <h5 class="m-0 pt-8">Interest rate</h5>
        </div>
        <div class="col-md-4">
            <div class="form-group mb-0">
                <input matInput type="text" (keypress)="keyPress($event)" class="form-control br-0" value="%"
                    formControlName="interestRate">
                <div class="col-md-10">
                    <mat-error class="f-12 pt-4"
                        [ngClass]="{'v-h':!(isInterestRate && getFormControl().interestRate.invalid || getFormControl().interestRate.touched && getFormControl().interestRate.invalid)}">
                        This field is required
                    </mat-error>
                </div>
            </div>
        </div>
    </div>
    <div class="row pt-40">
        <div class="col-md-5 text-right">
            <h5 class="m-0 pt-8">Interest compounding</h5>
        </div>
        <div class="col-md-4">
            <mat-select formControlName="compound" class="form-control br-0">
                <mat-option value="">Select option</mat-option>
                <mat-option value="1">Daily</mat-option>
                <mat-option value="2">Monthly</mat-option>
                <mat-option value="3">Quarterly</mat-option>
                <mat-option value="4">Semi annually </mat-option>
                <mat-option value="5">Annually</mat-option>
            </mat-select>
            <div class="col-md-10">
                <mat-error class="f-12 pt-4"
                    [ngClass]="{'v-h':!(isCompound && getFormControl().compound.invalid || getFormControl().compound.touched && getFormControl().compound.invalid)}">
                    This field is required
                </mat-error>
            </div>
        </div>
    </div>
    <div class="row pt-40">
        <div class="col-md-5 text-right">
            <h5 class="m-0 pt-8">FD end date</h5>
        </div>
        <div class="col-md-6 pr-0">
            <mat-radio-group aria-label="Select an option" id="custom-radio" formControlName="maturity">
                <mat-radio-button value="1" class="b-ua text-custom" (click)="haveMaturity(maturity = false)">I have
                    tenure
                </mat-radio-button>
                <mat-radio-button value="2" class="b-a-custom text-primary" (click)="haveMaturity(maturity = true)">I
                    have maturity
                    date</mat-radio-button>
            </mat-radio-group>
            <div class="col-md-10">
                <mat-error class="f-12 pt-4"
                    [ngClass]="{'v-h':!(isMaturity && getFormControl().maturity.invalid || getFormControl().maturity.touched && getFormControl().maturity.invalid)}">
                    This field is required
                </mat-error>
            </div>
        </div>
    </div>
    <div class="row pt-40" *ngIf="showTenure == true">
        <div class="col-md-5 text-right">
            <h5 class="m-0 pt-8">Tenure</h5>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-4 p-0">
                    <mat-select formControlName="tenure" class="form-control br-0">
                        <mat-option value="">Years</mat-option>
                        <mat-option *ngFor="let Y of fdYears">
                            <span>{{Y}}</span>
                        </mat-option>
                    </mat-select>
                </div>
                <div class="col-md-4 p-0">
                    <mat-select formControlName="tenure" class="form-control br-0">
                        <mat-option value="">Months</mat-option>
                        <mat-option *ngFor="let M of fdMonths">
                            <span>{{M}}</span>
                        </mat-option>
                    </mat-select>
                </div>
                <div class="col-md-4 p-0">
                    <mat-select formControlName="tenure" class="form-control br-0">
                        <mat-option value="">Days</mat-option>
                        <mat-option *ngFor="let D of fdDays">
                            <span>{{D}}</span>
                        </mat-option>
                    </mat-select>
                </div>
            </div>
            <div class="col-md-12">
                <mat-error class="f-12 pt-4"
                    [ngClass]="{'v-h':!(isTenure && getFormControl().tenure.invalid || getFormControl().tenure.touched && getFormControl().tenure.invalid)}">
                    This field is required
                </mat-error>
            </div>
        </div>
    </div>
    <div class="row pt-40" *ngIf="showTenure == false">
        <div class="col-md-5 text-right">
            <h5 class="m-0 pt-8">Maturity date</h5>
        </div>
        <div class="col-md-4">
            <div class="form-group mb-0">
                <input matInput formControlName="maturityDate" [matDatepicker]="picker1" placeholder="Choose a date">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
                <div class="col-md-10">
                    <mat-error class="f-12 pt-4"
                        [ngClass]="{'v-h':!(isMaturityDate && getFormControl().maturityDate.invalid || getFormControl().maturityDate.touched && getFormControl().maturityDate.invalid)}">
                        Maturity date is required
                    </mat-error>
                </div>
            </div>
        </div>
    </div>
    <div class="row pt-40">
        <div class="col-md-5 text-right">
            <h5 class="m-0 pt-8">Interest Payout option</h5>
        </div>
        <div class="col-md-4">
            <mat-select formControlName="payOpt" class="form-control br-0">
                <mat-option value=""> Select option</mat-option>
                <mat-option value="1"> Cumulative payout</mat-option>
                <mat-option value="2">Interest payout</mat-option>
            </mat-select>
            <div class="col-md-10">
                <mat-error class="f-12 pt-4"
                    [ngClass]="{'v-h':!(isPayOpt && getFormControl().payOpt.invalid || getFormControl().payOpt.touched && getFormControl().payOpt.invalid)}">
                    This field is required
                </mat-error>
            </div>
        </div>
    </div>
    <div class="row pt-40">
        <div class="col-md-5 text-right">
            <h5 class="m-0 pt-8">Ownership type</h5>
        </div>
        <div class="col-md-5">
            <mat-select formControlName="ownerType" class="form-control br-0">
                <mat-option value=""> Select option </mat-option>
                <mat-option value="1"> Joint </mat-option>
                <mat-option value="2">Single </mat-option>
            </mat-select>
            <div class="col-md-10">
                <mat-error class="f-12 pt-4"
                    [ngClass]="{'v-h':!(isOwnerType && getFormControl().ownerType.invalid || getFormControl().ownerType.touched && getFormControl().ownerType.invalid)}">
                    This field is required
                </mat-error>
            </div>
        </div>
    </div>
    <div class="row pt-40">
        <div class="col-md-5 text-right" *ngIf="showHide == true">
            <h5 class="m-0 pt-8 text-custom c-p" (click)="showLess(showHide)">Show less</h5>
        </div>
        <div class="col-md-5 text-right" *ngIf="showHide == false">
            <h5 class="m-0 pt-8 text-custom c-p" (click)="showLess(showHide)">+ Add more [optional data] </h5>
        </div>
        <div class="col-md-5">

        </div>
    </div>
    <div *ngIf="showHide == true">
        <div class="row pt-40">
            <div class="col-md-5 text-right">
                <h5 class="m-0 pt-8">FD Number</h5>
            </div>
            <div class="col-md-5">
                <div class="form-group mb-0">
                    <input matInput #fdNo type="text" (keypress)="keyPress($event)" maxlength="10"
                        class="form-control br-0" formControlName="fdNo">
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <p class="f-12 m-0 text-custom">Optional</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pt-40">
            <div class="col-md-5 text-right">
                <h5 class="m-0 pt-8">Bank Account Number</h5>
            </div>
            <div class="col-md-5">
                <div class="form-group mb-0">
                    <input matInput #bankACNo type="text" (keypress)="keyPress($event)" maxlength="15"
                        class="form-control br-0" formControlName="bankACNo">

                </div>
                <div class="row">
                    <div class="col-md-10">
                        <p class="f-12 m-0 text-custom">Optional</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pt-40">
            <div class="col-md-5 text-right">
                <h5 class="m-0 pt-8">Institution name</h5>
            </div>
            <div class="col-md-5">
                <div class="form-group mb-0">
                    <input matInput #institution maxlength="30" class="form-control br-0" formControlName="institution">
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <p class="f-12 m-0 text-custom">Optional</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pt-40">
            <div class="col-md-5 text-right">
                <h5 class="m-0 pt-8">Description</h5>
            </div>
            <div class="col-md-5">
                <div class="form-group mb-0">
                    <input matInput #description maxlength="60" class="form-control br-0" formControlName="description">
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <p class="f-12 m-0 text-custom">Optional</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bottom-fixed wrapper-12 pt-16">
    <div class="row">
        <div class="col-md-4">
            <h5 class="mb-0 pt-8 text-white c-p" (click)="Close()">Cancel</h5>
        </div>
        <div class="col-md-8 right text-right">
            <button mat-button class="btn-bottom br-0 text-inherit" (click)="saveFixedDeposit()">Save</button>
        </div>
    </div>
</div>