<!-- start ADD Fixed DEPOSIT (fixed DEPOSIT) -->
<div class="popup-header-fix-60">
    <div class="row bb-1">
        <div class="col-md-8 p-0">
            <h4 class="mb-0 wrapper-20">ADD Fixed DEPOSIT</h4>
        </div>
        <div class="col-md-4 text-right">
            <div class="wrapper-12">
                <i class="material-icons c-p pt-8 v-middle" > clear</i>
            </div>
        </div>
    </div>
</div>
<div [formGroup]="fixedDeposit" class="pt-72 pl-24 pr-24 pb-48 mb-44">
    <div class="row pt-40">
        <div class="col-md-5 text-right">
            <h5 class="m-0 pt-8">Owner</h5>
            <p class="m-0 f-12 text-custom">In whose name is this asset</p>
        </div>
        <div class="col-md-5">
            <div class="form-group mb-0">
                <input matInput #ownerName class="form-control br-0" formControlName="ownerName">
                <div class="row">
                    <div class="col-md-10">
                        <mat-error class="f-12 pt-4"
                            [ngClass]="{'v-h':!(isownerName && getFormControl().ownerName.invalid || getFormControl().ownerName.touched && getFormControl().ownerName.invalid)}">
                            Owner name is required
                        </mat-error>
                    </div>
                    <div class="col-md-2">
                        <mat-hint align="end" class="f-12">{{ownerName.value.length}}/40</mat-hint>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row pt-40">
        <div class="col-md-5 text-right">
            <h5 class="m-0 pt-8">Type of fixed deposit</h5>
        </div>
        <div class="col-md-3">
            <div class="form-group mb-0">
                <mat-select formControlName="FDType" class="form-control br-0">
                    <mat-option value="option1">Bank FD</mat-option>
                    <mat-option value="option2">Corporate FD</mat-option>
                </mat-select>
                <div class="col-md-10">
                    <mat-error class="f-12 pt-4"
                        [ngClass]="{'v-h':!(isFDType && getFormControl().FDType.invalid || getFormControl().FDType.touched && getFormControl().FDType.invalid)}">
                        Fixed deposit type is required
                    </mat-error>
                </div>
            </div>
        </div>
    </div>

    <div class="row pt-40">
        <div class="col-md-5 text-right">
            <h5 class="m-0 pt-8">Amount invested</h5>
        </div>
        <div class="col-md-3">
            <div class="form-group mb-0">
                <input matInput #amountInvest class="form-control br-0" value="₹" formControlName="amountInvest">
                <div class="col-md-10">
                    <mat-error class="f-12 pt-4"
                        [ngClass]="{'v-h':!(isAmountInvest && getFormControl().amountInvest.invalid || getFormControl().amountInvest.touched && getFormControl().amountInvest.invalid)}">
                        Amount invested is required
                    </mat-error>
                </div>
                <div class="col-md-2">
                    <mat-hint align="end" class="f-12">{{amountInvest.value.length}}/20</mat-hint>
                </div>
            </div>
        </div>
    </div>
    <div class="row pt-40">
        <div class="col-md-5 text-right">
            <h5 class="m-0 pt-8">Commencement date</h5>
        </div>
        <div class="col-md-3">
            <div class="form-group mb-0">
                <input type="date" class="form-control br-0" value="date" formControlName="commencementDate">
                <div class="col-md-10">
                    <mat-error class="f-12 pt-4"
                        [ngClass]="{'v-h':!(isCommencementDate && getFormControl().commencementDate.invalid || getFormControl().commencementDate.touched && getFormControl().commencementDate.invalid)}">
                        Commencement date is required
                    </mat-error>
                </div>
            </div>
        </div>
    </div>
    <div class="row pt-40">
        <div class="col-md-5 text-right">
            <h5 class="m-0 pt-8">Interest rate</h5>
        </div>
        <div class="col-md-3">
            <div class="form-group mb-0">
                <input matInput class="form-control br-0" value="%" formControlName="interestDate">
                <div class="col-md-10">
                    <mat-error class="f-12 pt-4"
                        [ngClass]="{'v-h':!(isInterestDate && getFormControl().interestDate.invalid || getFormControl().interestDate.touched && getFormControl().interestDate.invalid)}">
                        Interest rate is required
                    </mat-error>
                </div>
            </div>
        </div>
    </div>
    <div class="row pt-40">
        <div class="col-md-5 text-right">
            <h5 class="m-0 pt-8">Interest compounding</h5>
        </div>
        <div class="col-md-3">
            <mat-select formControlName="compound" class="form-control br-0">
                <mat-option value="option1">Daily</mat-option>
                <mat-option value="option2">Monthly</mat-option>
                <mat-option value="option1">Quarterly</mat-option>
                <mat-option value="option2">Semi annually </mat-option>
                <mat-option value="option1">Annually</mat-option>
            </mat-select>
            <div class="col-md-10">
                <mat-error class="f-12 pt-4"
                    [ngClass]="{'v-h':!(isCompound && getFormControl().compound.invalid || getFormControl().compound.touched && getFormControl().compound.invalid)}">
                    Interest compounding is required
                </mat-error>
            </div>
        </div>
    </div>
    <div class="row pt-40">
        <div class="col-md-5 text-right">
            <h5 class="m-0 pt-8">FD end date</h5>
        </div>
        <div class="col-md-6 pr-0">
            <mat-radio-group aria-label="Select an option" id="custom-radio" formControlName="maturity">
                <mat-radio-button value="1" class="b-ua text-custom">I have tenure</mat-radio-button>
                <mat-radio-button value="2" class="b-a-custom text-primary">I have maturity date</mat-radio-button>
            </mat-radio-group>
            <div class="col-md-10">
                <mat-error class="f-12 pt-4"
                    [ngClass]="{'v-h':!(isMaturity && getFormControl().maturity.invalid || getFormControl().maturity.touched && getFormControl().maturity.invalid)}">
                    FD end date is required
                </mat-error>
            </div>
        </div>
    </div>
    <div class="row pt-40">
        <div class="col-md-5 text-right">
            <h5 class="m-0 pt-8">Maturity date</h5>
        </div>
        <div class="col-md-3">
            <div class="form-group mb-0">
                <input type="date" class="form-control br-0" value="date" formControlName="maturityDate">
                <div class="col-md-10">
                    <mat-error class="f-12 pt-4"
                        [ngClass]="{'v-h':!(isMaturityDate && getFormControl().maturityDate.invalid || getFormControl().maturityDate.touched && getFormControl().maturityDate.invalid)}">
                        Maturity date is required
                    </mat-error>
                </div>
            </div>
        </div>
    </div>
    <div class="row pt-40">
        <div class="col-md-5 text-right">
            <h5 class="m-0 pt-8">Interest Payout option</h5>
        </div>
        <div class="col-md-3">
            <mat-select formControlName="payOpt" class="form-control br-0">
                <mat-option value="option1"> Cumulative payout</mat-option>
                <mat-option value="option2">Interest payout</mat-option>
            </mat-select>
            <div class="col-md-10">
                <mat-error class="f-12 pt-4"
                    [ngClass]="{'v-h':!(isPayOpt && getFormControl().payOpt.invalid || getFormControl().payOpt.touched && getFormControl().payOpt.invalid)}">
                    Interest Payout option is required
                </mat-error>
            </div>
        </div>
    </div>
    <div class="row pt-40">
        <div class="col-md-5 text-right">
            <h5 class="m-0 pt-8">Ownership type</h5>
        </div>
        <div class="col-md-5">
            <mat-select formControlName="ownerType" class="form-control br-0">
                <mat-option value="option1"> Joint </mat-option>
                <mat-option value="option2">Single </mat-option>
            </mat-select>
            <div class="col-md-10">
                <mat-error class="f-12 pt-4"
                    [ngClass]="{'v-h':!(isOwnerType && getFormControl().ownerType.invalid || getFormControl().ownerType.touched && getFormControl().ownerType.invalid)}">
                    Ownership type is required
                </mat-error>
            </div>
        </div>
    </div>
    <div class="row pt-40">
        <div class="col-md-5 text-right" *ngIf="showHide == true">
            <h5 class="m-0 pt-8 text-custom c-p" (click)="showLess(showHide)">Show less</h5>
        </div>
        <div class="col-md-5 text-right" *ngIf="showHide == false">
            <h5 class="m-0 pt-8 text-custom c-p" (click)="showLess(showHide)">+ Add more [optional data] </h5>
        </div>
        <div class="col-md-5">

        </div>
    </div>
    <div *ngIf="showHide == true">
        <div class="row pt-40">
            <div class="col-md-5 text-right">
                <h5 class="m-0 pt-8">FD Number</h5>
            </div>
            <div class="col-md-5">
                <div class="form-group mb-0">
                    <input matInput #fdNo class="form-control br-0" formControlName="fdNo">
                    <div class="col-md-10">
                        <!-- <mat-error class="f-12 pt-4"
                            [ngClass]="{'v-h':!(isFdNo && getFormControl().fdNo.invalid || getFormControl().fdNo.touched && getFormControl().fdNo.invalid)}">
                            FD Number is required
                        </mat-error> -->
                    </div>
                    <div class="col-md-2">
                        <mat-hint align="end" class="f-12">{{fdNo.value.length}}/10</mat-hint>
                    </div>
                </div>
                <div class="col-md-12">
                    <p class="f-12 m-0 text-custom">Optional</p>
                </div>
            </div>
        </div>
        <div class="row pt-40">
            <div class="col-md-5 text-right">
                <h5 class="m-0 pt-8">Bank Account Number</h5>
            </div>
            <div class="col-md-5">
                <div class="form-group mb-0">
                    <input matInput #bankACNo class="form-control br-0" formControlName="bankACNo">
                    <div class="col-md-10">
                        <!-- <mat-error class="f-12 pt-4"
                            [ngClass]="{'v-h':!(isBankACNo && getFormControl().bankACNo.invalid || getFormControl().bankACNo.touched && getFormControl().bankACNo.invalid)}">
                            Bank Account Number is required
                        </mat-error> -->
                    </div>
                    <div class="col-md-2">
                        <mat-hint align="end" class="f-12">{{bankACNo.value.length}}/15</mat-hint>
                    </div>
                </div>
                <div class="col-md-12">
                    <p class="f-12 m-0 text-custom">Optional</p>
                </div>
            </div>
        </div>
        <div class="row pt-40">
            <div class="col-md-5 text-right">
                <h5 class="m-0 pt-8">Institution name</h5>
            </div>
            <div class="col-md-5">
                <div class="form-group mb-0">
                    <input matInput #institution class="form-control br-0" formControlName="institution">
                    <div class="col-md-10">
                        <!-- <mat-error class="f-12 pt-4"
                            [ngClass]="{'v-h':!(isInstitution && getFormControl().institution.invalid || getFormControl().institution.touched && getFormControl().institution.invalid)}">
                            Institution name is required
                        </mat-error> -->
                    </div>
                    <div class="col-md-2">
                        <mat-hint align="end" class="f-12">{{institution.value.length}}/30</mat-hint>
                    </div>
                </div>
                <div class="col-md-12">
                    <p class="f-12 m-0 text-custom">Optional</p>
                </div>
            </div>
        </div>
        <div class="row pt-40">
            <div class="col-md-5 text-right">
                <h5 class="m-0 pt-8">Description</h5>
            </div>
            <div class="col-md-5">
                <div class="form-group mb-0">
                    <input matInput #description class="form-control br-0" formControlName="description">
                    <div class="col-md-10">
                        <!-- <mat-error class="f-12 pt-4"
                            [ngClass]="{'v-h':!(isDescription && getFormControl().description.invalid || getFormControl().description.touched && getFormControl().description.invalid)}">
                            Description is required
                        </mat-error> -->
                    </div>
                    <div class="col-md-2">
                        <mat-hint align="end" class="f-12">{{description.value.length}}/60</mat-hint>
                    </div>
                </div>
                <div class="col-md-12">
                    <p class="f-12 m-0 text-custom">Optional</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bottom-fixed wrapper-12 pt-16">
    <div class="row">
        <div class="col-md-4">
            <h5 class="mb-0 pt-8 text-white c-p" >Cancel</h5>
        </div>
        <div class="col-md-8 right text-right">
            <button mat-button class="btn-bottom br-0 text-inherit" (click)="saveFixedDeposit()">Save</button>
        </div>
    </div>
</div>