::ng-deep input.mat-input-element {
    border: 1px solid rgba(25, 25, 25, 0.32);
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-suffix .mat-datepicker-toggle-default-icon {
    width: 1.5em !important;
}

::ng-deep .mat-datepicker-toggle {
    position: absolute;
    right: 8px !important;
    top: 10px !important;
    left: auto !important;
}

.classBlue {
    border: 1px solid #008FFF;
    color: #008FFF;
}

::ng-deep .mat-form-field-suffix {
    position: inherit !important;
}

::ng-deep .radioBtn .mat-radio-label {
    min-width: 152px;
    height: 45px;
    display: flex !important;
    justify-content: left;
    align-items: center;
    padding-left: 10px !important;
}