.bgColor {
    background: #D9DEE1;
}

.customColor {
    color: #83959D;
}

.paddRight10 {
    padding-right: 10px;
}

.boxColorGreen {
    border: 1px solid #02B875;
    border-radius: 2px;
    padding: 10px;
    margin-bottom: 10px;
}

.greenColor {
    color: #02B875;
}

.orengeColor {
    color: #FF6823;
}

.boxColorOrenge {
    border: 1px solid #FF6823;
    border-radius: 2px;
    padding: 10px;
    margin-bottom: 10px;
}