<div class="popup-header-fix w-45">
    <div class="row bb-1">
        <div class="col-md-10 p-0">
            <h4 class="mb-0 wrapper-20">SIP DETAILS</h4>
        </div>
        <div class="col-md-2 text-left">
            <div class="wrapper-12">
                <i class="material-icons c-p pt-8 v-middle" (click)="close(false)"> clear</i>
            </div>
        </div>
    </div>
</div>

<div class="ptb-100 pl-20 pr-20">
    <div class="row">
        <div class="col-md-12 p-0">
            <h5 class="m-0 f-500 text-black roboto">Scheme details</h5>
        </div>
    </div>
    <div class="ba-light mt-20">
        <div class="row bb-1 pt-8 pb-8 pl-4 pr-4">
            <div class="col-md-4 p-0">
                <p class="m-0 roboto">Applicant name</p>
            </div>
            <div class="col-md-8 p-0 text-right">
                <p class="m-0 roboto">Aakanksha Tanwar</p>
            </div>
        </div>
        <div class="row bb-1 pt-8 pb-8 pl-4 pr-4">
            <div class="col-md-4 p-0">
                <p class="m-0 roboto">Scheme name</p>
            </div>
            <div class="col-md-8 p-0 text-right">
                <p class="m-0 roboto">DSP Tax Saver Fund - Regular plan - Growth</p>
            </div>
        </div>
        <div class="row bb-1 pt-8 pb-8 pl-4 pr-4">
            <div class="col-md-4 p-0">
                <p class="m-0 roboto">Folio number</p>
            </div>
            <div class="col-md-8 p-0 text-right">
                <p class="m-0 roboto">4327911/08</p>
            </div>
        </div>
        <div class="row bb-1 pt-8 pb-8 pl-4 pr-4">
            <div class="col-md-4 p-0">
                <p class="m-0 roboto">Registered date</p>
            </div>
            <div class="col-md-8 p-0 text-right">
                <p class="m-0 roboto">22/04/2017</p>
            </div>
        </div>
        <div class="row bb-1 pt-8 pb-8 pl-4 pr-4">
            <div class="col-md-4 p-0">
                <p class="m-0 roboto">From date</p>
            </div>
            <div class="col-md-8 p-0 text-right">
                <p class="m-0 roboto">08/06/2017</p>
            </div>
        </div>
        <div class="row bb-1 pt-8 pb-8 pl-4 pr-4">
            <div class="col-md-4 p-0">
                <p class="m-0 roboto">To date</p>
            </div>
            <div class="col-md-8 p-0 text-right">
                <p class="m-0 roboto">08/05/2027</p>
            </div>
        </div>
        <div class="row bb-1 pt-8 pb-8 pl-4 pr-4">
            <div class="col-md-4 p-0">
                <p class="m-0 roboto">Trigger day</p>
            </div>
            <div class="col-md-8 p-0 text-right">
                <p class="m-0 roboto">8</p>
            </div>
        </div>
        <div class="row bb-1 pt-8 pb-8 pl-4 pr-4">
            <div class="col-md-4 p-0">
                <p class="m-0 roboto">Frequency</p>
            </div>
            <div class="col-md-8 p-0 text-right">
                <p class="m-0 roboto">Monthly</p>
            </div>
        </div>
        <div class="row pt-8 pb-8 pl-4 pr-4">
            <div class="col-md-4 p-0">
                <p class="m-0 roboto">Amount</p>
            </div>
            <div class="col-md-8 p-0 text-right">
                <p class="m-0 roboto">50000</p>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-12 p-0 text-right">
            <p class="m-0 f-12 roboto text-primitive">Updated: 04/09/2019</p>
        </div>
    </div>
    <div class="row pt-20">
        <div class="col-md-12 p-0">
            <h5 class="m-0 f-500 text-black roboto">Bank details</h5>
        </div>
    </div>
    <div class="ba-light mt-20">
        <div class="row bb-1 pt-8 pb-8 pl-4 pr-4">
            <div class="col-md-4 p-0">
                <p class="m-0 roboto">Bank name</p>
            </div>
            <div class="col-md-8 p-0 text-right">
                <p class="m-0 roboto">ICICI bank</p>
            </div>
        </div>
        <div class="row pt-8 pb-8 pl-4 pr-4">
            <div class="col-md-4 p-0">
                <p class="m-0 roboto">Bank account number</p>
            </div>
            <div class="col-md-8 p-0 text-right">
                <p class="m-0 roboto">65765765987</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 p-0 text-right">
            <p class="m-0 f-12 roboto text-primitive">Updated: 04/09/2019</p>
        </div>
    </div>
</div>