<div class="popup-header-fix w-45">
    <div class="row bb-1">
        <div class="col-md-10 p-0">
            <h4 class="mb-0 wrapper-20">SIP DETAILS</h4>
        </div>
        <div class="col-md-2 text-left">
            <div class="wrapper-12">
                <i class="material-icons c-p pt-8 v-middle" (click)="close(false)"> clear</i>
            </div>
        </div>
    </div>
</div>

<div class="ptb-100 pl-20 pr-20" *ngFor="let item of sipDetails">
    <div class="row">
        <div class="col-md-12 p-0">
            <h5 class="m-0 f-500 text-black roboto">Scheme details</h5>
        </div>
    </div>
    <div class="ba-light mt-20">
        <div class="row bb-1 pt-8 pb-8 pl-4 pr-4">
            <div class="col-md-4 p-0">
                <p class="m-0 roboto">Applicant name</p>
            </div>
            <div class="col-md-8 p-0 text-right">
                <p class="m-0 roboto">{{(item.investorName)?item.investorName:'-'}}</p>
            </div>
        </div>
        <div class="row bb-1 pt-8 pb-8 pl-4 pr-4">
            <div class="col-md-4 p-0">
                <p class="m-0 roboto">Scheme name</p>
            </div>
            <div class="col-md-8 p-0 text-right">
                <p class="m-0 roboto">{{(item.schemeName)?item.schemeName:'-'}}</p>
            </div>
        </div>
        <div class="row bb-1 pt-8 pb-8 pl-4 pr-4">
            <div class="col-md-4 p-0">
                <p class="m-0 roboto">Folio number</p>
            </div>
            <div class="col-md-8 p-0 text-right">
                <p class="m-0 roboto">{{(item.folioNumber)?item.folioNumber:'-'}}</p>
            </div>
        </div>
        <div class="row bb-1 pt-8 pb-8 pl-4 pr-4">
            <div class="col-md-4 p-0">
                <p class="m-0 roboto">Registered date</p>
            </div>
            <div class="col-md-8 p-0 text-right">
                <p class="m-0 roboto">{{(item.registeredDate)?(item.registeredDate | date:'dd/MM/yyyy'):'-'}}</p>
            </div>
        </div>
        <div class="row bb-1 pt-8 pb-8 pl-4 pr-4">
            <div class="col-md-4 p-0">
                <p class="m-0 roboto">From date</p>
            </div>
            <div class="col-md-8 p-0 text-right">
                <p class="m-0 roboto">{{(item.fromDate)?(item.fromDate | date:'dd/MM/yyyy'):'-'}}</p>
            </div>
        </div>
        <div class="row bb-1 pt-8 pb-8 pl-4 pr-4">
            <div class="col-md-4 p-0">
                <p class="m-0 roboto">To date</p>
            </div>
            <div class="col-md-8 p-0 text-right">
                <p class="m-0 roboto">{{(item.toDate)?(item.toDate | date:'dd/MM/yyyy'):'-'}}</p>
            </div>
        </div>
        <div class="row bb-1 pt-8 pb-8 pl-4 pr-4">
            <div class="col-md-4 p-0">
                <p class="m-0 roboto">Trigger day</p>
            </div>
            <div class="col-md-8 p-0 text-right">
                <p class="m-0 roboto">{{(item.triggerDay)?item.triggerDay:'-'}}</p>
            </div>
        </div>
        <div class="row bb-1 pt-8 pb-8 pl-4 pr-4">
            <div class="col-md-4 p-0">
                <p class="m-0 roboto">Frequency</p>
            </div>
            <div class="col-md-8 p-0 text-right">
                <p class="m-0 roboto">{{(item.frequency)?item.frequency:'-'}}</p>
            </div>
        </div>
        <div class="row pt-8 pb-8 pl-4 pr-4">
            <div class="col-md-4 p-0">
                <p class="m-0 roboto">Amount</p>
            </div>
            <div class="col-md-8 p-0 text-right">
                <p class="m-0 roboto">{{(item.amount)?item.amount:'-'}}</p>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-12 p-0 text-right">
            <p class="m-0 f-12 roboto text-primitive">Updated: 04/09/2019</p>
        </div>
    </div>
    <div class="row pt-20">
        <div class="col-md-12 p-0">
            <h5 class="m-0 f-500 text-black roboto">Bank details</h5>
        </div>
    </div>
    <div class="ba-light mt-20">
        <div class="row bb-1 pt-8 pb-8 pl-4 pr-4">
            <div class="col-md-4 p-0">
                <p class="m-0 roboto">Bank name</p>
            </div>
            <div class="col-md-8 p-0 text-right">
                <p class="m-0 roboto">{{(item.bankName)?item.bankName:'-'}}</p>
            </div>
        </div>
        <div class="row pt-8 pb-8 pl-4 pr-4">
            <div class="col-md-4 p-0">
                <p class="m-0 roboto">Bank account number</p>
            </div>
            <div class="col-md-8 p-0 text-right">
                <p class="m-0 roboto">{{(item.accountNumber)?item.accountNumber:'-'}}</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 p-0 text-right">
            <p class="m-0 f-12 roboto text-primitive">Updated: 04/09/2019</p>
        </div>
    </div>
</div>