<div class="popup-header-fix-60">
    <div class="row bb-1">
        <div class="col-md-8 p-0">
            <h4 class="mb-0 wrapper-20">ADD OTHERS </h4>
        </div>
        <div class="col-md-4 text-right">
            <div class="wrapper-12">
                <i class="material-icons c-p pt-8 v-middle" (click)="Close()"> clear</i>
            </div>
        </div>
    </div>
</div>

<div [formGroup]="others" class="pb-44 mb-48 pt-44">
    <app-owner-component [data]='ownerData' (valueChange)='display($event)'></app-owner-component>
    <div class="row pt-40">
        <div class="col-md-5 pr-0 text-right">
            <h5 class="m-0 pt-8">Type of commodity</h5>
        </div>
        <div class="col-md-3">
            <div class="form-group mb-0">
                <mat-form-field>
                    <mat-select formControlName="typeOfCommodity" class="form-control br-0">
                        <mat-option value="">Select option</mat-option>
                        <mat-option value="1">Art</mat-option>
                        <mat-option value="2">Antiques</mat-option>
                        <mat-option value="3">Liquor</mat-option>
                        <mat-option value="4">Stamps</mat-option>
                        <mat-option value="5">Coins</mat-option>
                        <mat-option value="6">Silver</mat-option>
                        <mat-option value="7">Diamond</mat-option>
                        <mat-option value="7">Other</mat-option>
                    </mat-select>
                    <mat-error class="f-12 pt-4"
                        [ngClass]="{'v-h':!(isTypeOfCommodity && getFormControl().typeOfCommodity.invalid || getFormControl().typeOfCommodity.touched && getFormControl().typeOfCommodity.invalid)}">
                        This field is required
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
    </div>
    <div class="row pt-24">
        <div class="col-md-5 text-right">
            <h5 class="m-0 pt-8">Market value</h5>
        </div>
        <div class="col-md-3">
            <div class="form-group mb-0">
                <mat-form-field>
                    <input matInput #marketValue type="number" (utils.keypress)="utils.keyPress($event)" maxlength="20"
                        class="form-control br-0" formControlName="marketValue">
                    <mat-error class="f-12 pt-4"
                        [ngClass]="{'v-h':!(isMarketValue && getFormControl().marketValue.invalid || getFormControl().marketValue.touched && getFormControl().marketValue.invalid)}">
                        this field is required
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
    </div>

    <div class="row pt-24">
        <div class="col-md-5 text-right" *ngIf="showHide == true">
            <h5 class="m-0 pt-8 text-custom c-p" (click)="showLess(showHide)">Show less</h5>
        </div>
        <div class="col-md-5 text-right" *ngIf="showHide == false">
            <h5 class="m-0 pt-8 text-custom c-p" (click)="showLess(showHide)">+ Add more [optional data] </h5>
        </div>
        <div class="col-md-5">

        </div>
    </div>
    <div *ngIf="showHide == true">
        <div class="row pt-24">
            <div class="col-md-5 text-right">
                <h5 class="m-0 pt-8">Purchase value</h5>
            </div>
            <div class="col-md-3">
                <div class="form-group mb-0">
                    <mat-form-field>
                        <input matInput #purchaseValue type="number" (utils.keypress)="utils.keyPress($event)"
                            maxlength="20" class="form-control br-0" formControlName="purchaseValue">
                        <mat-hint align="start" class="f-12">Optional</mat-hint>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="row pt-24">
            <div class="col-md-5 pr-0 text-right">
                <h5 class="m-0 pt-8">Date of purchase</h5>
            </div>
            <div class="col-md-3">
                <mat-form-field>
                    <input matInput formControlName="dateOfPurchase" class="form-control br-0" [matDatepicker]="picker">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-hint align="start" class="f-12">Optional</mat-hint>
                </mat-form-field>

            </div>
        </div>
        <div class="row pt-40">
            <div class="col-md-5 pr-0 text-right">
                <h5 class="m-0 pt-8"> Growth rate </h5>
            </div>
            <div class="col-md-5">
                <div class="form-group mb-0">
                    <mat-form-field>
                        <input matInput #growthRate type="number" (utils.keypress)="utils.keyPress($event)" maxlength="30"
                            class="form-control br-0" formControlName="growthRate">
                        <mat-hint align="start" class="f-12">Optional</mat-hint>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="row pt-40">
            <div class="col-md-5 pr-0 text-right">
                <h5 class="m-0 pt-8">Description</h5>
            </div>
            <div class="col-md-5">
                <div class="form-group mb-0">
                    <mat-form-field>
                        <input matInput #description maxlength="60" class="form-control br-0"
                            formControlName="description">
                        <mat-hint align="start" class="f-12">Optional</mat-hint>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bottom-fixed wrapper-12 pt-16">
    <div class="row">
        <div class="col-md-4">
            <h5 class="mb-0 pt-8 text-white c-p" (click)="Close()">Cancel</h5>
        </div>
        <div class="col-md-8 right text-right">
            <button mat-button class="btn-bottom br-0 text-inherit" (click)="saveOthers()">Save</button>
        </div>
    </div>
</div>