.clientTable {
    tr.mat-header-row {
        height: 52px;
    }
}

#table-low th {
    padding: 7px 8px !important;
    font-weight: 600;
    font-size: 13px !important;
}

.width400 {
    width: 400px;
    margin-top: 50px;
}