.folio-mapping-box {
    position: fixed;
    margin-top: 64px;
    float: right;
    width: 100%;
    padding-right: 0px;
    z-index: 101;
    background: #fff !important;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.2), 0px 1px 0px rgba(0, 0, 0, 0.12), 0px 3px 3px rgba(0, 0, 0, 0.14);
    height: 60px;
}

.mapBoxWidth {
    border: 1px solid #BCC6CA;
    border-radius: 1px;
    width: 87px;
     height: 33px;
     display: flex;
     align-items: center;
     justify-content: center;
     margin-right: 16px;
}

.searchBox {
    position: relative;
    .searchIconfolio {
        position: absolute;
        top: 10px;
    left: 7px;
    }
    .form-control {
        padding-left: 35px !important;
    }
}