<div *ngIf="invoiceSubscription !='true' && invoiceSubscription !='EditInInvoice'" class="bg-white" id="ui-subs">
  <!-- (scroll)="scrollCall(true)" -->
  <div class="bg-white p-20 pb-0 filterBox">
    <div class="row">

      <div class="col-md-1 p-0">
        <h4 class="pt-8 mb-0">Invoices</h4>
      </div>
      <div class="col-md-5 p-0">
        <div class="row">
          <div class="col-md-3 p-0" *ngIf="dataSource.data.length > 0">
            <button [matMenuTriggerFor]="menu" class="b-a pr-0 br-0" mat-button>Actions <i
              class="material-icons text-custom">
              arrow_drop_down
            </i></button>
            <mat-menu #menu="matMenu">
              <button *ngIf="dataCount == 0" mat-menu-item>Select invoice to see more
                actions
              </button>
              <button (click)="deleteModal('INVOICE')" *ngIf="dataCount != 0" mat-menu-item>Delete
                Invoices
              </button>
            </mat-menu>
          </div>
          <div class="col-md-8 p-0" *ngIf="dataSource.data.length > 0 && dataCount > 0">
            <p class="m-0 text-black text-left pt-12" *ngIf="dataCount == 1">{{dataCount}} invoice selected</p>
            <p class="m-0 text-black text-left pt-12" *ngIf="dataCount > 1">{{dataCount}} invoices selected</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 right text-right p-0" *ngIf="dataSource.data.length > 0">
        <i class="material-icons mr-12 icon-light c-p v-sub">
          search
        </i>
        <button (click)="showFilters(showFilter)" class="btn-default addon mr-12" mat-stroked-button><i
          class="material-icons">filter_list</i>FILTERS
        </button>
        <button (click)="addInvoice('EditInInvoice')" class="btn-primary addon" mat-stroked-button><i
          class="material-icons">add</i>ADD NEW
        </button>
      </div>
    </div>
    <div [ngClass]="showFilter === true ? 'block' : 'none'" class="row pt-12">
      <div class="row">


      </div>
      <div class="row pt-12">
        <div class="col-md-8 p-0 custom-tags">
          <mat-chip-list>
            <mat-chip *ngFor="let status of filterStatus; let ind = index" class="bg-white b-a c-p f-400 p-12">
              {{status.name}}<i (click)="remove(ind)" class="material-icons text-custom ml-12">
              cancel
            </i></mat-chip>
            <mat-chip-list class="newDateIcon">
              <mat-chip *ngFor="let dateFilter of filterDate; let i = index" class="bg-white b-a c-p f-400 p-12">
                <p>{{dateFilter.name}}</p>
                <input (click)="picker2.open()" [(ngModel)]="selectedDateRange" [max]="maxDate"
                       [satDatepicker]="picker2" class="pL-20" matInput placeholder="Choose a date" readonly>
                <sat-datepicker #picker2 [closeAfterSelection]="false" [rangeMode]="true">
                </sat-datepicker>
                <sat-datepicker-toggle [for]="picker2" matSuffix></sat-datepicker-toggle>
                <i (click)="removeDate(i)" class="material-icons text-custom c-p">
                  cancel
                </i>
              </mat-chip>
            </mat-chip-list>
          </mat-chip-list>
        </div>
        <div class="col-md-4 right text-right p-0">
          <div class="row">
            <div class="col-md-6">
              <mat-form-field>
                <mat-select (selectionChange)="addFilters(selectedStatusFilter)" [(ngModel)]='selectedStatusFilter'
                            class="form-control br-0" id="sel11">
                  <mat-option [disabled]="true" value="statusFilter">FILTER ONE</mat-option>
                  <mat-option *ngFor="let chip of chips" [value]="chip">{{chip.name}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field>
                <mat-select (selectionChange)="addFiltersDate($event)" [(ngModel)]='selectedDateFilter'
                            class="form-control br-0" id="sel12">
                  <mat-option [disabled]="true" value="dateFilter">FILTER TWO</mat-option>
                  <mat-option *ngFor="let dateAdd of dateChips" [value]="dateAdd">{{dateAdd.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- (scroll)="scrollCall()" -->
  <!-- id="pdfDoc"  removed from above div-->
  <div class="wrapper-20 pt-0 bg-white" id="wrapper" *ngIf="dataSource.data.length > 0">

    <div class="tableClass">
      <table [appSkeletonLoading]="isLoading" [dataSource]="dataSource" appSkeletonLoading
             class="mt-8 skeletonAnimation" id="table-low" mat-table matSort>
        <ng-container matColumnDef="checkbox">
          <th *matHeaderCellDef class="f-18" mat-header-cell>
            <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="dataCount > 0 && isAllSelected()"
                          [indeterminate]="dataCount > 0 && !isAllSelected()" name="selectAll">
            </mat-checkbox>
          </th>
          <td *matCellDef="let element" mat-cell>
            <mat-checkbox (change)="changeSelect()" [(ngModel)]="element.selected" class="c-p" name="selectedData">
            </mat-checkbox>
          </td>
        </ng-container>
        <ng-container matColumnDef="date">
          <th *matHeaderCellDef class="f-18" mat-header-cell mat-sort-header="invoiceDate"> Date</th>
          <td (click)="openInvoice(element,'invoiceSubscription','open')" *matCellDef="let element" class="c-p"
              mat-cell>
            <div class="bar"> {{element.invoiceDate | date:'dd/MM/yyyy'}} </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="invoicenum">
          <th *matHeaderCellDef class="f-18" mat-header-cell mat-sort-header="invoiceNumber"> Invoice number
          </th>
          <td (click)="openInvoice(element,'invoiceSubscription','open')" *matCellDef="let element" class="c-p"
              mat-cell>
            <div class="bar"> {{element.invoiceNumber}} </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="name">
          <th *matHeaderCellDef class="f-18" mat-header-cell mat-sort-header="clientName"> Client name</th>
          <td (click)="openInvoice(element,'invoiceSubscription','open')" *matCellDef="let element" class="c-p"
              mat-cell>
            <div class="bar"> {{element.clientName}} </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="email">
          <th *matHeaderCellDef class="f-18" mat-header-cell mat-sort-header="email"> Email</th>
          <td (click)="openInvoice(element,'invoiceSubscription','open')" *matCellDef="let element" class="c-p"
              mat-cell>
            <div class="bar"> {{element.email}} </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th *matHeaderCellDef class="f-18" mat-header-cell mat-sort-header="status"> Status</th>
          <td (click)="openInvoice(element,'invoiceSubscription','open')" *matCellDef="let element"
              [ngClass]="{'text-danger':element.status==2,'text-primary':element.status==0,'text-success':element.status==1}"
              class="c-p" mat-cell ngcl>
            <div class="bar">
              {{(element.status == 0) ? 'UNPAID' : (element.status == 1) ? 'PAID' : (element.status == 2) ? 'OVERDUE' : ''}}
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="duedate">
          <th *matHeaderCellDef class="f-18" mat-header-cell mat-sort-header="dueDate"> Due date</th>
          <td (click)="openInvoice(element,'invoiceSubscription','open')" *matCellDef="let element" mat-cell>
            <div class="bar"> {{element.dueDate | date:'dd/MM/yyyy'}} </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="amt">
          <th *matHeaderCellDef class="f-18" mat-header-cell mat-sort-header="finalAmount"> Amount(₹)</th>
          <td (click)="openInvoice(element,'invoiceSubscription','open')" *matCellDef="let element" class="c-p"
              mat-cell>
            <div class="bar"> {{formatter(element.finalAmount) || ''}} </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="balance">
          <th *matHeaderCellDef class="f-18 text-right common-right pr-24" mat-header-cell mat-sort-header="balanceDue">
            Balance due(₹)
          </th>
          <td (click)="openInvoice(element,'invoiceSubscription','open')" *matCellDef="let element"
              class="text-right pr-8 c-p" mat-cell>
            <div class="bar"> {{formatter(element.balanceDue) || ''}} </div>
          </td>
        </ng-container>
        <tr *matHeaderRowDef="displayedColumns; sticky: true;"
            [ngClass]="!showFilter ? 'stickyHeader1' : 'stickyHeader2'" mat-header-row></tr>
        <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
      </table>

    </div>
  </div>


</div>
<div *ngIf="invoiceSubscription =='true'">
  <app-invoice (valueChange)='display($event)' [clientData]='invoiceClientData' [invoiceInSub]='invoiceSub'>
  </app-invoice>
</div>
<div class="pt-60" *ngIf="invoiceSubscription=='EditInInvoice'">
  <app-invoice (valueChange)='display($event)' [invoiceValue]="invoiceSubscription"></app-invoice>
</div>

<div class="row" *ngIf="dataSource.data.length == 0 && invoiceSubscription !='EditInInvoice'">
  <div class="col-md-12  d-flex align-items-center flex-column justify-content-center">
    <img class="width400" src="assets/images/svg/clients-img.svg">
    <p class="f-22 f-600 pt-28"> No Data Found </p>
    <button mat-stroked-button class="btn-primary mt-20 br-0 right text-right addon" (click)="addInvoice('EditInInvoice')"> ADD
        INVOICE
    </button>
  </div>
</div>


<!-- ********** -->

<!-- <div *ngIf="invoiceSubscription=='false'" class="bg-white pb-36 pt-80" id="ui-invoice">
  <div class="wrapper-20">
    <div *ngIf="dataSource.data.length > 0">
      <div *ngIf="showFilter==false" class="row">
        <div class="col-md-1 p-0">
          <h4 class="pt-8 mb-0">Invoices</h4>
        </div>
        <div class="col-md-5 p-0">
          <div class="row">
            <div class="col-md-3 p-0">
              <button [matMenuTriggerFor]="menu" class="b-a pr-0 br-0" mat-button>Actions <i
                class="material-icons text-custom">
                arrow_drop_down
              </i></button>
              <mat-menu #menu="matMenu">
                <button *ngIf="dataCount == 0" mat-menu-item>Select invoice to see more actions</button>
                <button (click)="deleteModal('INVOICE')" *ngIf="dataCount != 0" mat-menu-item>Delete
                  Invoices
                </button>
              </mat-menu>
            </div>
            <div class="col-md-8 p-0">
              <p class="m-0 text-black text-left pt-12">{{dataCount}} invoices selected</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 right text-right p-0">
          <i class="material-icons mr-12 icon-light v-sub c-p">
            search
          </i>
          <button (click)="showFilters(showFilter)" class="btn-default addon mr-12" mat-stroked-button><i
            class="material-icons">filter_list</i>FILTERS
          </button>
          <button (click)="addInvoice('EditInInvoice')" class="btn-primary addon" mat-stroked-button><i
            class="material-icons">add</i>ADD NEW
          </button>
        </div>
      </div>
      <div [ngClass]="showFilter === true ? 'block' : 'none'" class="row pt-12">
        <div class="row">
          <div class="col-md-1 p-0">
            <h4 class="pt-8 mb-0">Invoices</h4>
          </div>
          <div class="col-md-5 p-0">
            <div class="row">
              <div class="col-md-3 p-0">
                <button [matMenuTriggerFor]="menu" class="b-a pr-0 br-0" mat-button>Actions <i
                  class="material-icons text-custom">
                  arrow_drop_down
                </i></button>
                <mat-menu #menu="matMenu">
                  <button *ngIf="dataCount == 0" mat-menu-item>Select invoice to see more
                    actions
                  </button>
                  <button (click)="deleteModal('INVOICE')" *ngIf="dataCount != 0" mat-menu-item>Delete
                    Invoices
                  </button>
                </mat-menu>
              </div>
              <div class="col-md-8 p-0">
                <p class="m-0 text-black text-left pt-12">{{dataCount}} invoices selected</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 right text-right p-0">
            <i class="material-icons mr-12 icon-light v-sub c-p">
              search
            </i>
            <button (click)="showFilters(showFilter)" class="btn-default addon mr-12" mat-stroked-button><i
              class="material-icons">filter_list</i>FILTERS
            </button>
            <button (click)="addInvoice('EditInInvoice')" class="btn-primary addon" mat-stroked-button><i
              class="material-icons">add</i>ADD NEW
            </button>
          </div>
        </div>
        <div class="row pt-12">
          <div class="col-md-8 p-0 custom-tags">
            <mat-chip-list>
              <mat-chip *ngFor="let status of filterStatus; let ind = index" class="bg-white b-a c-p f-400 p-12">
                {{status.name}}<i (click)="remove(ind)" class="material-icons text-custom ml-12">
                cancel
              </i></mat-chip>
              <mat-chip-list>
                <mat-chip *ngFor="let dateFilter of filterDate; let i = index" class="bg-white b-a c-p f-400 p-12">
                  <p>{{dateFilter.name}}</p>
                  <input (click)="picker2.open()" [(ngModel)]="selectedDateRange" [max]="maxDate"
                         [satDatepicker]="picker2" class="pl-24"
                         matInput placeholder="Choose a date">
                  <sat-datepicker #picker2 [closeAfterSelection]="false" [rangeMode]="true">
                  </sat-datepicker>
                  <sat-datepicker-toggle [for]="picker2" matSuffix></sat-datepicker-toggle>
                  <i (click)="removeDate(i)" class="material-icons text-custom c-p">
                    cancel
                  </i>
                </mat-chip>
              </mat-chip-list>
            </mat-chip-list>
          </div>
          <div class="col-md-4 right text-right p-0">
            <div class="row">
              <div class="col-md-6">
                <mat-form-field>
                  <mat-select (selectionChange)="addFilters(selectedStatusFilter)" [(ngModel)]='selectedStatusFilter'
                              class="form-control br-0"
                              id="sel11">
                    <mat-option [disabled]="true" value="">FILTERS ONE</mat-option>
                    <mat-option *ngFor="let chip of chips" [value]="chip">{{chip.name}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field>
                  <mat-select (selectionChange)="addFiltersDate($event)" [(ngModel)]='selectedDateFilter'
                              class="form-control br-0"
                              id="sel12">
                    <mat-option [disabled]="true" [value]="">FILTERS TWO</mat-option>
                    <mat-option *ngFor="let dateAdd of dateChips" [value]="dateAdd">{{dateAdd.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
      </div>
      <table [appSkeletonLoading]="isLoading" [dataSource]="dataSource" appSkeletonLoading
             class="mt-8 skeletonAnimation" id="table-low"
             mat-table matSort>
        <ng-container matColumnDef="checkbox">
          <th *matHeaderCellDef class="f-18" mat-header-cell>

            <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="dataCount > 0 && isAllSelected()"
                          [indeterminate]="dataCount > 0 && !isAllSelected()" name="selectAll">
            </mat-checkbox>

          </th>
          <td *matCellDef="let element" mat-cell>
            <div class="bar">
              <mat-checkbox (change)="changeSelect()" [(ngModel)]="element.selected" class="c-p" name="selectedData">
              </mat-checkbox>
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="date">
          <th *matHeaderCellDef class="f-18" mat-header-cell mat-sort-header="invoiceDate"> Date</th>
          <td (click)="openInvoice(element,'invoiceSubscription','open')" *matCellDef="let element" class="c-p"
              mat-cell>
            <div class="bar"> {{element.invoiceDate | date:'dd/MM/yyyy'}} </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="invoicenum">
          <th *matHeaderCellDef class="f-18" mat-header-cell mat-sort-header="invoiceNumber"> Invoice number
          </th>
          <td (click)="openInvoice(element,'invoiceSubscription','open')" *matCellDef="let element" class="c-p"
              mat-cell>
            <div class="bar"> {{element.invoiceNumber}} </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="name">
          <th *matHeaderCellDef class="f-18" mat-header-cell mat-sort-header="clientName"> Client name</th>
          <td (click)="openInvoice(element,'invoiceSubscription','open')" *matCellDef="let element" class="c-p"
              mat-cell>
            <div class="bar"> {{element.clientName}} </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="email">
          <th *matHeaderCellDef class="f-18" mat-header-cell mat-sort-header="email"> Email</th>
          <td (click)="openInvoice(element,'invoiceSubscription','open')" *matCellDef="let element" class="c-p"
              mat-cell>
            <div class="bar"> {{element.email}} </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th *matHeaderCellDef class="f-18" mat-header-cell mat-sort-header="status"> Status</th>
          <td (click)="openInvoice(element,'invoiceSubscription','open')" *matCellDef="let element"
              [ngClass]="{'text-danger':element.status==2,'text-primary':element.status==0,'text-success':element.status==1}"
              class="c-p" mat-cell ngcl>
            <div class="bar">
              {{(element.status == 0) ? 'UNPAID' : (element.status == 1) ? 'PAID' : (element.status == 2) ? 'OVERDUE' : ''}}
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="duedate">
          <th *matHeaderCellDef class="f-18" mat-header-cell mat-sort-header="dueDate"> Due date</th>
          <td (click)="openInvoice(element,'invoiceSubscription','open')" *matCellDef="let element" mat-cell>
            <div class="bar"> {{element.dueDate | date:'dd/MM/yyyy'}} </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="amt">
          <th *matHeaderCellDef class="f-18" mat-header-cell mat-sort-header="finalAmount"> Amount(₹)</th>
          <td (click)="openInvoice(element,'invoiceSubscription','open')" *matCellDef="let element" class="c-p"
              mat-cell>
            <div class="bar"> {{formatter(element.finalAmount) || ''}} </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="balance">
          <th *matHeaderCellDef class="f-18 text-right pr-24" mat-header-cell mat-sort-header="balanceDue">
            Balance due(₹)
          </th>
          <td (click)="openInvoice(element,'invoiceSubscription','open')" *matCellDef="let element"
              class="text-right pr-8 c-p"
              mat-cell>
            <div class="bar"> {{formatter(element.balanceDue) || ''}} </div>
          </td>
        </ng-container>
        <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
        <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
      </table>
      <h4 *ngIf="dataSource==undefined" class="text-center pt-72">{{noData}}</h4>
    </div>
    <div *ngIf="dataSource.data.length == 0" class="row">
      <div class="col-md-12 d-flex align-items-center flex-column justify-content-center">
        <img class="width400" src="assets/images/svg/clients-img.svg">
        <p class="f-22 f-600 pt-28"> No Data Found </p>
        <button (click)="addInvoice('EditInInvoice')" class="btn-primary addon " mat-stroked-button><i
          class="material-icons">add</i>ADD NEW
        </button>
      </div>
    </div>
  </div>
</div>
<div *ngIf="invoiceSubscription =='true'">
  <app-invoice (valueChange)='display($event)' [clientData]='invoiceClientData' [invoiceInSub]='invoiceSub'>
  </app-invoice>
</div>
<div class="pt-60" *ngIf="invoiceSubscription=='EditInInvoice'">
  <app-invoice (valueChange)='display($event)' [invoiceValue]="invoiceSubscription"></app-invoice>
</div> -->
