.cash-flow-advice,
.advice-mutual-funds,
.advice-stock,
.advice-fixed-income,
.advice-fix-desposit,
.advice-real-estate,
.advice-cash-and-hand,
.advice-commodities,
.advice-retirment-account,
.all-retirement-assest,
.advice-smallsaving-scheme,
.all-advice-smallsaving-scheme {
  #table-low .mat-sort-header-button {
    white-space: nowrap;
  }

  tr.mat-header-row {
    height: 48px !important;
  }

  #table-low {
    th {
      padding: 5px 8px !important;
    }

    tbody td {
      padding: 5px 8px !important;
    }

    tr.mat-row {
      height: 40px !important;
    }
  }
}

// .advice-commodities {
//   #table-low {
//     th {
//       border: 0px !important;
//     }
//   }
// }
