.preview
{
    padding: 15px;
}
.bg-black
{
    background-color: black;
}
.bg-gray
{
    background-color: grey;
}
.height-preview
{
    height: 100vh;
}
.mat-toolbar-row, .mat-toolbar-single-row 
{
    height: 50px;
}
.color-white
{
    color: white;
}