<div class="posRelavativeClass">
    <div class="p-20 pb-0">
        <div class="row  ">
            <div class="col-md-12 p-0">
                <h4 class="mb-10  f-20">
                    For better experience download the "My Planner 2.0" mobile app
                </h4>
                <p class="f-16">My Planner app allows you to track your portfolio across asset classes like Mutual
                    Funds, Stocks, Insurance, Fixed Deposits, Post Office Schemes, etc.</p>
                <p class="f-16">
                    Your portfolios are available at a family level with drill-down options available at the family
                    member level.
                </p>
                <p class="f-16">
                    There are multi-level drill-down options available for a more granular control understanding of
                    your entire financial portfolio..</p>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
        </div>
    </div>
    <div class="row pt-16 pb-16">
        <div class="col-md-12 d-flex align-items-center justify-content-end">
            <p class="br-0 text-primitive mb-0 mr-20 f-14" (click)="close()">
                CANCEL
            </p>
            <button class="text-primary f-14 ml-12 sendNowBtn " mat-stroked-button cdkFocusInitial>
                BUY NOW
            </button>
            <!-- <app-progress-button (btnClick)="sendClientId()" class="br-0 text-inherit  " [options]="barButtonOptions">
            </app-progress-button> -->
        </div>
    </div>

</div>