.profile-web-app-img {
    border: 2px solid rgba(25, 25, 25, 0.32);
    height: 56px;
    width: 256px;
    display: flex;
    margin-top: 12px;
}

.profile-img {
    margin-top: 12px;
    img {
        max-width: 100%;
    }
}

.image-cropper {
    position: relative;
}

.zoomClassPosition {
    position: absolute;
    top: 50%;
    left: 0px;
    right: 0px;
    text-align: center;
}