<div class="row">
    <div class="col-md-12 p-22">
        <h3 class="strong">Select ARN/RIA for AUM Reconciliation</h3>
        <mat-radio-group aria-label="Select an option">
            <mat-radio-button class="d-block" value="1"> RIA-INA000004409 </mat-radio-button>
            <mat-radio-button class="d-block" value="2"> ARN-83865 </mat-radio-button>
        </mat-radio-group>
    </div>
    <div class="col-md-12 right">
        <button mat-button>
            CANCEL
        </button>
        <button mat-stroked-button>
            START
        </button>
    </div>
</div>