<div class="row">
    <div class="col-md-12 pt-14 pl-24 pr-24">
        <h2 class="f-20 f-500 roboto">Select ARN/RIA for AUM Reconciliation</h2>
    </div>
</div>

<div class="row" [formGroup]="selectArnRiaForm">
    <div class="col-md-12 pr-24 pl-24 pt-8" *ngFor="let opt of options">
        <mat-radio-group aria-label="Select an option" formControlName="arnOrRia">
            <mat-radio-button class="d-block f-14" (click)='selectedOtp(opt)'[value]="1"
            [checked]="opt.selected"> {{opt.brokerCode}} </mat-radio-button>
        </mat-radio-group>
        <mat-error class="f-12 pt-8 f-500"
            *ngIf="selectArnRiaForm.get('arnOrRia').touched && selectArnRiaForm.get('arnOrRia').invalid">
            This field is required
        </mat-error>
    </div>
</div>

<div class="row">
    <div class="col-md-12 text-right pt-44 pb-20">
        <button mat-button (click)="dialogClose()" class="f-500 text-primitive mr-20">
            CANCEL
        </button>
        <button mat-button (click)="openUpperSliderBackoffice()" class="text-danger">
            START
        </button>
    </div>
</div>