<div class="popup-header-fix-45">
    <div class="row bb-1">
        <div class="col-md-8 p-0">
            <h4 class="mb-0 wrapper-20">ADD REPORTING MANAGER</h4>
        </div>
        <div class="col-md-4 text-right">
            <div class="wrapper-12">
                <i class="material-icons pt-20 c-p pr-16" (click)="Close(null)">
                    clear
                </i>
            </div>
        </div>
    </div>
</div>

<div class="wrapper-16 pt-90 pb-44 mb-44" [formGroup]="teamMember">
    <div class="row">
        <div class="col-md-12 p-0">
            <h5>Select a team member from the search box below...</h5>
            <div class="from-group">
                <mat-form-field>
                    <input [matAutocomplete]="auto1"
                        aria-label="client" class="form-control br-0 pl-8" formControlName="userInput" matInput>
                    <mat-autocomplete #auto1="matAutocomplete">
                        <mat-option  *ngFor="let c of teamMembers" (click)="selectTeamMember(c)"
                            [value]="c.adminAdvisorId">
                            <span>{{c.adminAdvisorId}}</span>
                        </mat-option>
                    </mat-autocomplete>
                    <mat-error
                        class="f-12">
                        This field is required
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
    </div>


    <h3 class="roboto f-16 f-500 mt-60 mb-10">Following are the details of Rupa Hindocha</h3>

    <div class="detailsBorder" *ngIf="selectedMember">
        <div class="row borderBtm">
            <div class="col-md-6 pl-10 text-left">
                <p class="m-0 pt-6 pb-6">Full name</p>
            </div>
            <div class="col-md-6 pr-10 text-right">
                <p class="m-0 pt-6 pb-6">{{selectedMember.name}}</p>
            </div>
        </div>
        <div class="row borderBtm">
            <div class="col-md-6 pl-10 text-left">
                <p class="m-0 pt-6 pb-6">Status</p>
            </div>
            <div class="col-md-6 pr-10 text-right">
                <p class="m-0 pt-6 pb-6">{{(selectedMember.isActive == 1)? 'Active':'Deactive'}}</p>
            </div>
        </div>
        <div class="row borderBtm">
            <div class="col-md-6 pl-10 text-left">
                <p class="m-0 pt-6 pb-6">Mobile number</p>
            </div>
            <div class="col-md-6 pr-10 text-right">
                <p class="m-0 pt-6 pb-6">{{selectedMember.mobileNo}}</p>
            </div>
        </div>
        <div class="row borderBtm">
            <div class="col-md-6 pl-10 text-left">
                <p class="m-0 pt-6 pb-6">Email</p>
            </div>
            <div class="col-md-6 pr-10 text-right">
                <p class="m-0 pt-6 pb-6"> {{selectedMember.emailId}}</p>
            </div>
        </div>

        <div class="row ">
            <div class="col-md-6 pl-10 text-left">
                <p class="m-0 pt-6 pb-6">Role</p>
            </div>
            <div class="col-md-6 pr-10 text-right">
                <p class="m-0 pt-6 pb-6"> {{selectedMember.role.roleName}}</p>
            </div>
        </div>
    </div>

</div>

<div class="bottom-fixed-45 wrapper-12 pt-16">
    <div class="row">
        <div class="col-md-4 pt-8">
            <!--        TODO    <h5 class="mb-0  text-white c-p" (click)="Close('close')">Cancel</h5>-->
        </div>
        <div class="col-md-8 right text-right">
            <button mat-button class="btn-bottom br-0 text-inherit">Save</button>

        </div>
    </div>
</div>