.searchBox {
  position: relative;

  .searchIconfolio {
    position: absolute;
    top: 10px;
    left: 7px;
  }

  .form-control {
    padding-left: 35px !important;
  }

.mapBoxWidth {
  border: 1px solid #BCC6CA;
  border-radius: 1px;
  width: 87px;
  height: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 16px;
}

}
