<div class="row pt-24">
    <div class="col-md-6 align-items-center d-flex">
        <h4 class="m-0 text-black pt-8">Client mapping</h4>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-5 pl-0">
                <div class="form-group mb-0">
                    <mat-form-field>
                        <mat-select class="form-control br-0">
                            <mat-option value="Unmapped clients">Unmapped clients</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-md-5 pl-0">
                <div class="form-group mb-0">
                    <mat-form-field>
                        <mat-select class="form-control br-0">
                            <mat-option value="ARN-83865">ARN-83865</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-md-2 pl-0">
                <div class="form-group mb-0">
                    <mat-form-field>
                        <mat-select (selectionChange)="getDefaultDetails($event.value)" class="form-control br-0">
                            <mat-option value="1">NSE</mat-option>
                            <mat-option value="1">BSE</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </div>

    </div>
    <div class="col-md-12 client-mapping">
        <table mat-table [dataSource]="dataSource" class="mt-8" id="table-low">
            <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef class="br"> Platform </th>
                <td mat-cell *matCellDef="let element" class="br"> {{element.position}} </td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef class="br"> ARN/RIA </th>
                <td mat-cell *matCellDef="let element" class="br"> {{element.name}} </td>
            </ng-container>

            <ng-container matColumnDef="weight">
                <th mat-header-cell *matHeaderCellDef class="br"> Client code </th>
                <td mat-cell *matCellDef="let element" class="br"> {{element.clientCode}} </td>
            </ng-container>

            <ng-container matColumnDef="symbol">
                <th mat-header-cell *matHeaderCellDef class="br"> Investor name </th>
                <td mat-cell *matCellDef="let element" class="br"> {{element.firstApplicantName}} </td>
            </ng-container>
            <ng-container matColumnDef="pan">
                <th mat-header-cell *matHeaderCellDef class="br"> First holder PAN </th>
                <td mat-cell *matCellDef="let element" class="br"> {{element.firstApplicantPan}} </td>
            </ng-container>
            <ng-container matColumnDef="hold">
                <th mat-header-cell *matHeaderCellDef class="br"> Holding nature </th>
                <td mat-cell *matCellDef="let element" class="br"> {{element.holdingType}} </td>
            </ng-container>
            <ng-container matColumnDef="tstatus">
                <th mat-header-cell *matHeaderCellDef class="br"> Tax status </th>
                <td mat-cell *matCellDef="let element" class="br"> {{element.taxStatus}} </td>
            </ng-container>
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef class="br"> Status </th>
                <td mat-cell *matCellDef="let element" class="br"> Active </td>
            </ng-container>
            <ng-container matColumnDef="map">
                <th mat-header-cell *matHeaderCellDef> Map </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-stroked-button class="primary-sm text-white bg-primary br-0"
                        (click)="openAddMappiing(element,'')">MAP</button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>