<div class="p-24">
    <h3>Search scheme</h3>
    <div [formGroup]="searchSchemeForm" class="row pt-4">
        <div class="row">
            <div class="col-md-11 p-0">
                <div class="form-group">
                    <mat-form-field floatLabel="never" appearance="standard">
                        <!-- (keyup)="getSchemeList($event.target.value)" removed for prod build -->
                        <input type="text" aria-label="Number" formControlName="schemeName" class="form-control"
                        matInput  [matAutocomplete]="auto"
                            placeholder="Start typing to see scheme names">
                        <mat-autocomplete #auto="matAutocomplete">
                            <!--(onSelectionChange)="selectedScheme(scheme)"  *ngFor="let scheme of schemeList" removed for prod build [value]="scheme.schemeName" -->
                            <mat-option 
                                >
                                <!-- {{scheme.schemeName}} removed for prod build-->
                            </mat-option>
                        </mat-autocomplete>
                        <!-- <mat-error class="f-12"
                                    *ngIf="purchaseTransaction.get('schemePurchase').errors?.required">
                                    This field is required
                                </mat-error>
                                <mat-error class="f-12"
                                    *ngIf="purchaseTransaction.get('schemePurchase').errors?.setValue">
                                    Selected scheme does not exist
                                </mat-error> -->
                        <mat-hint align="start" class="f-12 text-custom">Last closing NAV:
                        </mat-hint>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="row pt-40">
            <div class="col-md-5 pr-0 text-right">
                <h5 class="m-0 pt-8">Amount</h5>
            </div>
            <div class="col-md-5">
                <div class="form-group mb-0 iconRupess">
                    <mat-form-field>
                        <!-- [inputValidator]="validatorType.NUMBER_ONLY" removed for prod build -->
                        <input matInput #accBal appInputValueValidation 
                            autocomplete="off" class="form-control rupess br-0" formControlName="amount"
                            matInput type="text" maxlength="10">
                        <mat-error  class="f-12">
                            This field is required
                        </mat-error>
                        <mat-hint align="end" class="f-12">{{accBal.value.length}}/10</mat-hint>
                    </mat-form-field>
                </div>
            </div>
        </div>

    </div>
    <div class="f-right mt-44">
        <button mat-raised-button (click)="close()">CANCEL</button>
        <!-- (click)="addExclusions()" removed for prod build -->
        <button mat-raised-button class="text-primary">ADD</button>
    </div>
</div>