<div class="wrapper-20" *ngIf="allAdvice == false">
    <div class="row">
        <div class="col-md-6 p-0">
            <button mat-stroked-button class="btn-primary mr-12 br-0">Advice
                given</button>
            <button mat-stroked-button class="text-primary br-0 b-priamry" (click)="allAdvice = true">All small savings
                scheme</button>
        </div>
        <div class="col-md-6 p-0 text-right">
            <button mat-button [matMenuTriggerFor]="menu" class="right b-a br-0 pr-8">Scenario 2<i
                    class="material-icons pl-8 text-light">
                    keyboard_arrow_down
                </i></button>
            <mat-menu #menu="matMenu">
                <div class="row pt-16">
                    <div class="col-md-6 ">
                        <p class="m-0 text-black">Scenario 1</p>
                    </div>
                    <div class="col-md-6 p-0">
                        <button mat-stroked-button class="warning-sm">UNAPPROVED</button>
                    </div>
                </div>
                <div class="row pt-16">
                    <div class="col-md-6 ">
                        <p class="m-0 text-black">Scenario 2</p>
                    </div>
                    <div class="col-md-6 p-0">
                        <button mat-stroked-button class="primary-sm">APPROVED</button>
                    </div>
                </div>
                <div class="row pt-16">
                    <div class="col-md-6 ">
                        <p class="m-0 text-black">Scenario 3</p>
                    </div>
                    <div class="col-md-6 p-0">
                        <button mat-stroked-button class="warning-sm">UNAPPROVED</button>
                    </div>
                </div>
            </mat-menu>
        </div>
    </div>
    <div class="row ">
        <div class="col-md-12 p-0">
            <app-advice-action [data]="selectedAssetId" [ngClass]="{'v-h': selectedAssetId.length==0}">
            </app-advice-action>
        </div>
    </div>
    <div class="row pt-32">
        <div class="col-md-6 p-0">
            <h5 class="m-0 text-black pt-8">PPF</h5>
        </div>
        <div class="col-md-6 p-0 text-right">
            <button mat-stroked-button class="br-0 text-light pl-8 mr-12"><img src="/assets/images/svg/addon-three.svg"
                    class="pr-8">Filters</button>
            <button mat-stroked-button class="btn-primary br-0 pl-8 " [matMenuTriggerFor]="menu1"><img
                    src="/assets/images/svg/plus.svg" class="pr-8">Add new PPF</button>
            <mat-menu #menu1="matMenu">
                <button mat-menu-item (click)="openAddEdit('advicePPF',null)">Suggest new
                    PPF</button>
                <button mat-menu-item>Add misc. advice</button>
            </mat-menu>
        </div>
    </div>
    <table matSort mat-table appSkeletonLoading [appSkeletonLoading]="isLoading" [dataSource]="ppfDataSource"
        class="mt-8 skeletonAnimation" id="table-low">
        <ng-container matColumnDef="checkbox">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <mat-checkbox [checked]="ppfCount==ppfDataSource.data.length"
                    [indeterminate]="ppfCount>0 && ppfCount<ppfDataSource.data.length"
                    *ngIf="isLoading==false && ppfDataSource.tableFlag" (change)="checkAll($event,ppfDataSource,'ppf')">
                </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let element">
                <mat-checkbox *ngIf="isLoading==false" (change)="checkSingle($event,element,ppfDataSource,'ppf')"
                    [checked]="element.selected">
                </mat-checkbox>
            </td>
        </ng-container>
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Investor name </th>
            <td mat-cell *matCellDef="let element">
                <div class="bar">
                    <span *ngIf="element.assetDataOfAdvice">
                        {{element.assetDataOfAdvice.ownerName}}
                    </span>
                </div>
            </td>
        </ng-container>
        <ng-container matColumnDef="desc">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
            <td mat-cell *matCellDef="let element">
                <div class="bar"><span *ngIf="element.adviceToAsset">{{element.adviceToAsset.adviceDescription}}</span>
                </div>
            </td>
        </ng-container>
        <ng-container matColumnDef="cvalue">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Current value </th>
            <td mat-cell *matCellDef="let element">
                <div class="bar">
                    <span *ngIf="element.assetDataOfAdvice">
                        {{element.assetDataOfAdvice.currentValue}}
                    </span>
                </div>
            </td>
        </ng-container>
        <ng-container matColumnDef="empcon">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Total amount invested </th>
            <td mat-cell *matCellDef="let element">
                <div class="bar">{{element.empcon}}</div>
            </td>
        </ng-container>
        <ng-container matColumnDef="emprcon">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Maturity date </th>
            <td mat-cell *matCellDef="let element">
                <div class="bar">
                    <span *ngIf="element.assetDataOfAdvice">
                        <span>{{element.assetDataOfAdvice.maturityDate | date:'dd/MM/yyyy'}}</span>
                    </span>
                </div>
            </td>
        </ng-container>
        <ng-container matColumnDef="advice">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Advice </th>
            <td mat-cell *matCellDef="let element">
                <div class="bar">
                    <span *ngIf="element.adviceToAsset">
                        <span *ngIf="element.adviceToAsset.adviceId==1">Continue till maturity</span>
                        <span *ngIf="element.adviceToAsset.adviceId==2">Withdraw as on same date as per rules</span>
                        <span *ngIf="element.adviceToAsset.adviceId==3">Premature close</span>
                        <span *ngIf="element.adviceToAsset.adviceId==4">Open new account</span>
                        <span *ngIf="element.adviceToAsset.adviceId==5">Take loan against PPF</span>
                        <span *ngIf="element.adviceToAsset.adviceId==6">Extend for period</span>
                        <span *ngIf="element.adviceToAsset.adviceId==7">Increase the period</span>
                        <span *ngIf="element.adviceToAsset.adviceId==8">Decrease the period</span>
                    </span>
                </div>
            </td>
        </ng-container>
        <ng-container matColumnDef="astatus">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Advice status</th>
            <td mat-cell *matCellDef="let element">
                <div class="bar">
                    <span *ngIf="element.adviceToAsset">
                        <span *ngIf="element.adviceToAsset.adviceStatusId==1">GIVEN</span>
                        <span *ngIf="element.adviceToAsset.adviceStatusId==2">AWAITING CONSENT</span>
                        <span *ngIf="element.adviceToAsset.adviceStatusId==3">ACCEPTED</span>
                        <span *ngIf="element.adviceToAsset.adviceStatusId==4">IN PROGRESS</span>
                        <span *ngIf="element.adviceToAsset.adviceStatusId==5">IMPLEMENTED</span>
                        <span *ngIf="element.adviceToAsset.adviceStatusId==6">DECLINED</span>
                        <span *ngIf="element.adviceToAsset.adviceStatusId==7">PENDING</span>
                        <span *ngIf="element.adviceToAsset.adviceStatusId==8">SYSTEM GENERATED</span>
                        <span *ngIf="element.adviceToAsset.adviceStatusId==9">REVISED</span>
                    </span>
                </div>
            </td>
        </ng-container>
        <ng-container matColumnDef="adate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Applicable date </th>
            <td mat-cell *matCellDef="let element">
                <div class="bar">{{element.applicableDate | date:'dd/MM/yyyy'}}</div>
            </td>
        </ng-container>
        <ng-container matColumnDef="icon">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
            <td mat-cell *matCellDef="let element">
                <div class="bar">
                    <i *ngIf="isLoading==false" class="material-icons c-p" [matMenuTriggerFor]="menu">
                        more_vert
                    </i>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="openAddEdit('advicePPF',element)">Edit</button>
                        <button mat-menu-item>Delete</button>
                    </mat-menu>
                </div>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <div *ngIf="ppfDataSource.tableFlag==false" class="b-a">
        <h4 class="text-center p-44">No Data Found</h4>
    </div>
    <div class="row pt-32">
        <div class="col-md-6 p-0">
            <h5 class="m-0 text-black pt-8">NSC</h5>
        </div>
        <div class="col-md-6 p-0 text-right">
            <button mat-stroked-button class="br-0 text-light pl-8 mr-12"><img src="/assets/images/svg/addon-three.svg"
                    class="pr-8">Filters</button>
            <button [matMenuTriggerFor]="menu2" mat-stroked-button class="btn-primary br-0 pl-8 "><img
                    src="/assets/images/svg/plus.svg" class="pr-8">Add new NSC</button>
            <mat-menu #menu2="matMenu">
                <button mat-menu-item (click)="openAddEdit('adviceNSC',null)">Suggest new
                    NSC</button>
                <button mat-menu-item>Add misc. advice</button>
            </mat-menu>
        </div>
    </div>
    <table matSort appSkeletonLoading [appSkeletonLoading]="isLoading" mat-table [dataSource]="nscDataSource"
        class="mt-8 skeletonAnimation" id="table-low">
        <ng-container matColumnDef="checkbox">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <mat-checkbox [checked]="nscCount==nscDataSource.data.length"
                    [indeterminate]="nscCount>0 && nscCount<nscDataSource.data.length"
                    *ngIf="isLoading==false && nscDataSource.tableFlag" (change)="checkAll($event,nscDataSource,'nsc')">
                </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let element">
                <mat-checkbox [checked]="element.selected" (change)="checkSingle($event,element,nscDataSource,'nsc')"
                    *ngIf="isLoading==false"></mat-checkbox>
            </td>
        </ng-container>
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Investor name </th>
            <td mat-cell *matCellDef="let element">
                <div class="bar">
                    <span *ngIf="element.assetDataOfAdvice">
                        <span>
                            {{element.assetDataOfAdvice.ownerName}}
                        </span>
                    </span>
                </div>
            </td>
        </ng-container>
        <ng-container matColumnDef="desc">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
            <td mat-cell *matCellDef="let element">
                <div class="bar"> <span *ngIf="element.adviceToAsset">{{element.adviceToAsset.adviceDescription}}</span>
                </div>
            </td>
        </ng-container>
        <ng-container matColumnDef="cvalue">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Current value </th>
            <td mat-cell *matCellDef="let element">
                <div class="bar">
                    <span *ngIf="element.assetDataOfAdvice">
                        {{element.assetDataOfAdvice.currentValue}}
                    </span>
                </div>
            </td>
        </ng-container>
        <ng-container matColumnDef="emprcon">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Maturity date </th>
            <td mat-cell *matCellDef="let element">
                <div class="bar"> {{element.emprcon}}</div>
            </td>
        </ng-container>
        <ng-container matColumnDef="advice">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Advice </th>
            <td mat-cell *matCellDef="let element">
                <div class="bar">
                    <span *ngIf="element.adviceToAsset">
                        <span *ngIf="element.adviceToAsset.adviceId==1">Continue till maturity</span>
                        <span *ngIf="element.adviceToAsset.adviceId==2">Open new account</span>
                        <span *ngIf="element.adviceToAsset.adviceId==3">Take loan against NSC</span>
                    </span>
                </div>
            </td>
        </ng-container>
        <ng-container matColumnDef="astatus">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Advice status</th>
            <td mat-cell *matCellDef="let element">
                <div class="bar">
                    <span *ngIf="element.adviceToAsset">
                        <span *ngIf="element.adviceToAsset.adviceStatusId==1">GIVEN</span>
                        <span *ngIf="element.adviceToAsset.adviceStatusId==2">AWAITING CONSENT</span>
                        <span *ngIf="element.adviceToAsset.adviceStatusId==3">ACCEPTED</span>
                        <span *ngIf="element.adviceToAsset.adviceStatusId==4">IN PROGRESS</span>
                        <span *ngIf="element.adviceToAsset.adviceStatusId==5">IMPLEMENTED</span>
                        <span *ngIf="element.adviceToAsset.adviceStatusId==6">DECLINED</span>
                        <span *ngIf="element.adviceToAsset.adviceStatusId==7">PENDING</span>
                        <span *ngIf="element.adviceToAsset.adviceStatusId==8">SYSTEM GENERATED</span>
                        <span *ngIf="element.adviceToAsset.adviceStatusId==9">REVISED</span>
                    </span>
                </div>
            </td>
        </ng-container>
        <ng-container matColumnDef="adate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Applicable date </th>
            <td mat-cell *matCellDef="let element">
                <div class="bar"> {{element.applicableDate | date:'dd/MM/yyyy'}}</div>
            </td>
        </ng-container>
        <ng-container matColumnDef="icon">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
            <td mat-cell *matCellDef="let element">
                <div class="bar">
                    <i *ngIf="isLoading==false" class="material-icons c-p" [matMenuTriggerFor]="menu">
                        more_vert
                    </i>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="openAddEdit('adviceNSC',element)">Edit</button>
                        <button mat-menu-item>Delete</button>
                    </mat-menu>
                </div>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
    </table>
    <div *ngIf="nscDataSource.tableFlag==false" class="b-a">
        <h4 class="text-center p-44">No Data Found</h4>
    </div>
    <div class="row pt-32">
        <div class="col-md-6 p-0">
            <h5 class="m-0 text-black pt-8">SSY</h5>
        </div>
        <div class="col-md-6 p-0 text-right">
            <button mat-stroked-button class="br-0 text-light pl-8 mr-12"><img src="/assets/images/svg/addon-three.svg"
                    class="pr-8">Filters</button>
            <button mat-stroked-button class="btn-primary br-0 pl-8 " [matMenuTriggerFor]="menu3"><img
                    src="/assets/images/svg/plus.svg" class="pr-8">Add new SSY</button>
            <mat-menu #menu3="matMenu">
                <button mat-menu-item (click)="openAddEdit('adviceSSY',null)">Suggest new
                    SSY</button>
                <button mat-menu-item>Add misc. advice</button>
            </mat-menu>
        </div>
    </div>
    <table matSort appSkeletonLoading [appSkeletonLoading]="isLoading" mat-table [dataSource]="ssyDataSource"
        class="mt-8 skeletonAnimation" id="table-low">
        <ng-container matColumnDef="checkbox">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <mat-checkbox [checked]="ssyCount==ssyDataSource.data.length"
                    [indeterminate]="ssyCount>0 && ssyCount<ssyDataSource.data.length"
                    *ngIf="isLoading==false && ssyDataSource.tableFlag" (change)="checkAll($event,nscDataSource,'ssy')">
                </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let element">
                <mat-checkbox *ngIf="isLoading==false" (change)="checkSingle($event,element,ssyDataSource,'ssy')">
                </mat-checkbox>
            </td>
        </ng-container>
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Investor name </th>
            <td mat-cell *matCellDef="let element">
                <div class="bar">
                    <span *ngIf="element.assetDataOfAdvice">
                        {{element.assetDataOfAdvice.ownerName}}
                    </span>
                </div>
            </td>
        </ng-container>
        <ng-container matColumnDef="desc">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
            <td mat-cell *matCellDef="let element">
                <div class="bar">
                    <span *ngIf="element.adviceToAsset">{{element.adviceToAsset.adviceDescription}}</span>
                </div>
            </td>
        </ng-container>
        <ng-container matColumnDef="cvalue">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Current value </th>
            <td mat-cell *matCellDef="let element">
                <div class="bar">
                    <span *ngIf="element.assetDataOfAdvice">
                        {{element.assetDataOfAdvice.currentValue}}
                    </span>
                </div>
            </td>
        </ng-container>
        <ng-container matColumnDef="empcon">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Total amount invested </th>
            <td mat-cell *matCellDef="let element">
                <div class="bar">{{element.empcon}}</div>
            </td>
        </ng-container>
        <ng-container matColumnDef="emprcon">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Maturity date </th>
            <td mat-cell *matCellDef="let element">
                <div class="bar">
                    <span *ngIf="element.assetDataOfAdvice">
                        <span>{{element.assetDataOfAdvice.maturityDate | date:'dd/MM/yyyy'}}</span>
                    </span>
                </div>
            </td>
        </ng-container>
        <ng-container matColumnDef="advice">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Advice </th>
            <td mat-cell *matCellDef="let element">
                <div class="bar">{{element.advice}}</div>
            </td>
        </ng-container>
        <ng-container matColumnDef="astatus">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Advice status</th>
            <td mat-cell *matCellDef="let element">
                <div class="bar">
                    <span *ngIf="element.adviceToAsset">
                        <span *ngIf="element.adviceToAsset.adviceStatusId==1">GIVEN</span>
                        <span *ngIf="element.adviceToAsset.adviceStatusId==2">AWAITING CONSENT</span>
                        <span *ngIf="element.adviceToAsset.adviceStatusId==3">ACCEPTED</span>
                        <span *ngIf="element.adviceToAsset.adviceStatusId==4">IN PROGRESS</span>
                        <span *ngIf="element.adviceToAsset.adviceStatusId==5">IMPLEMENTED</span>
                        <span *ngIf="element.adviceToAsset.adviceStatusId==6">DECLINED</span>
                        <span *ngIf="element.adviceToAsset.adviceStatusId==7">PENDING</span>
                        <span *ngIf="element.adviceToAsset.adviceStatusId==8">SYSTEM GENERATED</span>
                        <span *ngIf="element.adviceToAsset.adviceStatusId==9">REVISED</span>
                    </span>
                </div>
            </td>
        </ng-container>
        <ng-container matColumnDef="adate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Applicable date </th>
            <td mat-cell *matCellDef="let element">
                <div class="bar">{{element.applicableDate | date:'dd/MM/yyyy'}}</div>
            </td>
        </ng-container>
        <ng-container matColumnDef="icon">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
            <td mat-cell *matCellDef="let element">
                <div class="bar">
                    <i *ngIf="isLoading==false" class="material-icons c-p" [matMenuTriggerFor]="menu">
                        more_vert
                    </i>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="openAddEdit('adviceSSY',element)">Edit</button>
                        <button mat-menu-item>Delete</button>
                    </mat-menu>
                </div>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <div *ngIf="ssyDataSource.tableFlag==false" class="b-a">
        <h4 class="text-center p-44">No Data Found</h4>
    </div>
    <div class="row pt-32">
        <div class="col-md-6 p-0">
            <h5 class="m-0 text-black pt-8">KVP</h5>
        </div>
        <div class="col-md-6 p-0 text-right">
            <button mat-stroked-button class="br-0 text-light pl-8 mr-12"><img src="/assets/images/svg/addon-three.svg"
                    class="pr-8">Filters</button>
            <button mat-stroked-button class="btn-primary br-0 pl-8 " [matMenuTriggerFor]="menu4"><img
                    src="/assets/images/svg/plus.svg" class="pr-8">Add new KVP</button>
            <mat-menu #menu4="matMenu">
                <button mat-menu-item (click)="openAddEdit('adviceKVP',null)">Suggest new
                    KVP</button>
                <button mat-menu-item>Add misc. advice</button>
            </mat-menu>
        </div>
    </div>
    <table matSort mat-table appSkeletonLoading [appSkeletonLoading]="isLoading" [dataSource]="kvpDataSource"
        class="mt-8 skeletonAnimation" id="table-low">
        <ng-container matColumnDef="checkbox">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <mat-checkbox [checked]="kvpCount==kvpDataSource.data.length"
                    [indeterminate]="kvpCount>0 && kvpCount<kvpDataSource.data.length"
                    *ngIf="isLoading==false && kvpDataSource.tableFlag" (change)="checkAll($event,kvpDataSource,'kvp')">
                </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let element">
                <mat-checkbox *ngIf="isLoading==false" (change)="checkSingle($event,element,kvpDataSource,'kvp')"
                    [checked]="element.selected"></mat-checkbox>
            </td>
        </ng-container>
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Investor name </th>
            <td mat-cell *matCellDef="let element">
                <div class="bar">
                    <span *ngIf="element.assetDataOfAdvice">
                        {{element.assetDataOfAdvice.ownerName}}
                    </span>
                </div>
            </td>
        </ng-container>
        <ng-container matColumnDef="desc">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
            <td mat-cell *matCellDef="let element">
                <div class="bar"> <span *ngIf="element.adviceToAsset">{{element.adviceToAsset.adviceDescription}}</span>
                </div>
            </td>
        </ng-container>
        <ng-container matColumnDef="cvalue">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Current value </th>
            <td mat-cell *matCellDef="let element">
                <div class="bar">
                    <span *ngIf="element.assetDataOfAdvice">
                        {{element.assetDataOfAdvice.currentValue}}
                    </span>
                </div>
            </td>
        </ng-container>
        <ng-container matColumnDef="empcon">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Anuual employee's contribution </th>
            <td mat-cell *matCellDef="let element">
                <div class="bar"> {{element.empcon}}</div>
            </td>
        </ng-container>
        <ng-container matColumnDef="emprcon">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Anuual employer's contribution </th>
            <td mat-cell *matCellDef="let element">
                <div class="bar"> {{element.emprcon}}</div>
            </td>
        </ng-container>
        <ng-container matColumnDef="advice">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Advice </th>
            <td mat-cell *matCellDef="let element">
                <div class="bar">
                    <span *ngIf="element.adviceToAsset">
                        <span *ngIf="element.adviceToAsset.adviceId==1">Continue contributions as per rule</span>
                        <span *ngIf="element.adviceToAsset.adviceId==2">Withdraw as on same date</span>
                        <span *ngIf="element.adviceToAsset.adviceId==3">Premature encashment</span>
                        <span *ngIf="element.adviceToAsset.adviceId==4">Withdrawal</span>
                        <span *ngIf="element.adviceToAsset.adviceId==5">Take loan against Kvp</span>
                    </span>
                </div>
            </td>
        </ng-container>
        <ng-container matColumnDef="astatus">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Advice status</th>
            <td mat-cell *matCellDef="let element">
                <div class="bar">
                    <span *ngIf="element.adviceToAsset">
                        <span *ngIf="element.adviceToAsset.adviceStatusId==1">GIVEN</span>
                        <span *ngIf="element.adviceToAsset.adviceStatusId==2">AWAITING CONSENT</span>
                        <span *ngIf="element.adviceToAsset.adviceStatusId==3">ACCEPTED</span>
                        <span *ngIf="element.adviceToAsset.adviceStatusId==4">IN PROGRESS</span>
                        <span *ngIf="element.adviceToAsset.adviceStatusId==5">IMPLEMENTED</span>
                        <span *ngIf="element.adviceToAsset.adviceStatusId==6">DECLINED</span>
                        <span *ngIf="element.adviceToAsset.adviceStatusId==7">PENDING</span>
                        <span *ngIf="element.adviceToAsset.adviceStatusId==8">SYSTEM GENERATED</span>
                        <span *ngIf="element.adviceToAsset.adviceStatusId==9">REVISED</span>
                    </span>
                </div>
            </td>
        </ng-container>
        <ng-container matColumnDef="adate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Applicable date </th>
            <td mat-cell *matCellDef="let element">
                <div class="bar"> {{element.applicableDate | date:'dd/MM/yyyy'}}</div>
            </td>
        </ng-container>
        <ng-container matColumnDef="icon">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
            <td mat-cell *matCellDef="let element">
                <div class="bar">
                    <i *ngIf="isLoading==false" class="material-icons c-p" [matMenuTriggerFor]="menu">
                        more_vert
                    </i>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="openAddEdit('adviceKVP',element)">Edit</button>
                        <button mat-menu-item>Delete</button>
                    </mat-menu>
                </div>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <div *ngIf="kvpDataSource.tableFlag==false" class="b-a">
        <h4 class="text-center p-44">No Data Found</h4>
    </div>
    <div class="row pt-32">
        <div class="col-md-6 p-0">
            <h5 class="m-0 text-black pt-8">SCSS</h5>
        </div>
        <div class="col-md-6 p-0 text-right">
            <button mat-stroked-button class="br-0 text-light pl-8 mr-12"><img src="/assets/images/svg/addon-three.svg"
                    class="pr-8">Filters</button>
            <button mat-stroked-button class="btn-primary br-0 pl-8 " [matMenuTriggerFor]="menu5"><img
                    src="/assets/images/svg/plus.svg" class="pr-8">Add new SCSS</button>
            <mat-menu #menu5="matMenu">
                <button mat-menu-item (click)="openAddEdit('adviceSCSS',null)">Suggest new
                    SCSS</button>
                <button mat-menu-item>Add misc. advice</button>
            </mat-menu>
        </div>
    </div>
    <table matSort appSkeletonLoading [appSkeletonLoading]="isLoading" mat-table [dataSource]="scssDataSource"
        class="mt-8 skeletonAnimation" id="table-low">
        <ng-container matColumnDef="checkbox">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <mat-checkbox [checked]="scssCount==scssDataSource.data.length"
                    [indeterminate]="scssCount>0 && scssCount<scssDataSource.data.length"
                    (change)="checkAll($event,scssDataSource,'scss')"
                    *ngIf="isLoading==false && scssDataSource.tableFlag">
                </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let element">
                <mat-checkbox *ngIf="isLoading==false" (change)="checkSingle($event,element,scssDataSource,'scss')"
                    [checked]="element.selected"></mat-checkbox>
            </td>
        </ng-container>
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Investor name </th>
            <td mat-cell *matCellDef="let element">
                <div class="bar">
                    <span *ngIf="element.assetDataOfAdvice">
                        {{element.assetDataOfAdvice.ownerName}}
                    </span>
                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="desc">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
            <td mat-cell *matCellDef="let element">
                <div class="bar"><span *ngIf="element.adviceToAsset">{{element.adviceToAsset.adviceDescription}}</span>
                </div>
            </td>
        </ng-container>
        <ng-container matColumnDef="advice">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Advice </th>
            <td mat-cell *matCellDef="let element">
                <div class="bar">
                    <span *ngIf="element.adviceToAsset">
                        <span *ngIf="element.adviceToAsset.adviceId==1">Continue contributions as per rule</span>
                        <span *ngIf="element.adviceToAsset.adviceId==2">Withdraw as on same date</span>
                        <span *ngIf="element.adviceToAsset.adviceId==3">Premature encashment</span>
                    </span>
                </div>
            </td>
        </ng-container>
        <ng-container matColumnDef="astatus">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Advice status </th>
            <td mat-cell *matCellDef="let element">
                <div class="bar">
                    <span *ngIf="element.adviceToAsset">
                        <span *ngIf="element.adviceToAsset.adviceStatusId==1">GIVEN</span>
                        <span *ngIf="element.adviceToAsset.adviceStatusId==2">AWAITING CONSENT</span>
                        <span *ngIf="element.adviceToAsset.adviceStatusId==3">ACCEPTED</span>
                        <span *ngIf="element.adviceToAsset.adviceStatusId==4">IN PROGRESS</span>
                        <span *ngIf="element.adviceToAsset.adviceStatusId==5">IMPLEMENTED</span>
                        <span *ngIf="element.adviceToAsset.adviceStatusId==6">DECLINED</span>
                        <span *ngIf="element.adviceToAsset.adviceStatusId==7">PENDING</span>
                        <span *ngIf="element.adviceToAsset.adviceStatusId==8">SYSTEM GENERATED</span>
                        <span *ngIf="element.adviceToAsset.adviceStatusId==9">REVISED</span>
                    </span>
                </div>
            </td>
        </ng-container>
        <ng-container matColumnDef="adate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Applicable date </th>
            <td mat-cell *matCellDef="let element">
                <div class="bar">{{element.applicableDate | date:'dd/MM/yyyy'}}</div>
            </td>
        </ng-container>
        <ng-container matColumnDef="icon">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
            <td mat-cell *matCellDef="let element">
                <div class="bar">
                    <i *ngIf="isLoading==false" class="material-icons c-p" [matMenuTriggerFor]="menu">
                        more_vert
                    </i>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="openAddEdit('adviceSCSS',element)">Edit</button>
                        <button mat-menu-item>Delete</button>
                    </mat-menu>
                </div>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns3"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns3;"></tr>
    </table>
    <div *ngIf="scssDataSource.tableFlag==false" class="b-a">
        <h4 class="text-center p-44">No Data Found</h4>
    </div>
    <div class="row pt-32">
        <div class="col-md-6 p-0">
            <h5 class="m-0 text-black pt-8">PO SAVINGS</h5>
        </div>
        <div class="col-md-6 p-0 text-right">
            <button mat-stroked-button class="br-0 text-light pl-8 mr-12"><img src="/assets/images/svg/addon-three.svg"
                    class="pr-8">Filters</button>
            <button mat-stroked-button class="btn-primary br-0 pl-8 " [matMenuTriggerFor]="menu6"><img
                    src="/assets/images/svg/plus.svg" class="pr-8">Add new PO SAVINGS</button>
            <mat-menu #menu6="matMenu">
                <button mat-menu-item (click)="openAddEdit('advicePoSaving',null)">Suggest new
                    PO SAVINGS</button>
                <button mat-menu-item>Add misc. advice</button>
            </mat-menu>
        </div>
    </div>
    <table matSort appSkeletonLoading [appSkeletonLoading]="isLoading" mat-table [dataSource]="posavingDataSource"
        class="mt-8 skeletonAnimation" id="table-low">
        <ng-container matColumnDef="checkbox">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <mat-checkbox [checked]="posavingCount==posavingDataSource.data.length"
                    [indeterminate]="posavingCount>0 && posavingCount<posavingDataSource.data.length"
                    (change)="checkAll($event,posavingDataSource,'posaving')"
                    *ngIf="isLoading==false && posavingDataSource.tableFlag"></mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let element">
                <mat-checkbox *ngIf="isLoading==false" [checked]="element.selected"
                    (change)="checkSingle($event, element,posavingDataSource,'posaving')"></mat-checkbox>
            </td>
        </ng-container>
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Investor name </th>
            <td mat-cell *matCellDef="let element">
                <div class="bar">
                    <span *ngIf="element.assetDataOfAdvice">
                        {{element.assetDataOfAdvice.ownerName}}
                    </span>
                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="desc">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
            <td mat-cell *matCellDef="let element">
                <div class="bar"> <span *ngIf="element.adviceToAsset">{{element.adviceToAsset.adviceDescription}}</span>
                </div>
            </td>
        </ng-container>
        <ng-container matColumnDef="cvalue">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Current value </th>
            <td mat-cell *matCellDef="let element">
                <div class="bar">
                    <span *ngIf="element.assetDataOfAdvice">
                        {{element.assetDataOfAdvice.currentValue}}
                    </span>
                </div>
            </td>
        </ng-container>
        <ng-container matColumnDef="advice">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Advice </th>
            <td mat-cell *matCellDef="let element">
                <div class="bar"> {{element.astatus}}</div>
            </td>
        </ng-container>
        <ng-container matColumnDef="astatus">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Advice status </th>
            <td mat-cell *matCellDef="let element">
                <div class="bar">
                    <span *ngIf="element.adviceToAsset">
                        <span *ngIf="element.adviceToAsset.adviceStatusId==1">GIVEN</span>
                        <span *ngIf="element.adviceToAsset.adviceStatusId==2">AWAITING CONSENT</span>
                        <span *ngIf="element.adviceToAsset.adviceStatusId==3">ACCEPTED</span>
                        <span *ngIf="element.adviceToAsset.adviceStatusId==4">IN PROGRESS</span>
                        <span *ngIf="element.adviceToAsset.adviceStatusId==5">IMPLEMENTED</span>
                        <span *ngIf="element.adviceToAsset.adviceStatusId==6">DECLINED</span>
                        <span *ngIf="element.adviceToAsset.adviceStatusId==7">PENDING</span>
                        <span *ngIf="element.adviceToAsset.adviceStatusId==8">SYSTEM GENERATED</span>
                        <span *ngIf="element.adviceToAsset.adviceStatusId==9">REVISED</span>
                    </span>
                </div>
            </td>
        </ng-container>
        <ng-container matColumnDef="adate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Applicable date </th>
            <td mat-cell *matCellDef="let element">
                <div class="bar"> {{element.applicableDate | date:'dd/MM/yyyy'}}</div>
            </td>
        </ng-container>
        <ng-container matColumnDef="icon">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
            <td mat-cell *matCellDef="let element">
                <div class="bar">
                    <i *ngIf="isLoading==false" class="material-icons c-p" [matMenuTriggerFor]="menu">
                        more_vert
                    </i>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="openAddEdit('advicePoSaving',element)">Item 1</button>
                        <button mat-menu-item>Item 2</button>
                    </mat-menu>
                </div>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns3"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns3;"></tr>
    </table>
    <div *ngIf="posavingDataSource.tableFlag==false" class="b-a">
        <h4 class="text-center p-44">No Data Found</h4>
    </div>
    <div class="row pt-32">
        <div class="col-md-6 p-0">
            <h5 class="m-0 text-black pt-8">PO RD</h5>
        </div>
        <div class="col-md-6 p-0 text-right">
            <button mat-stroked-button class="br-0 text-light pl-8 mr-12"><img src="/assets/images/svg/addon-three.svg"
                    class="pr-8">Filters</button>
            <button mat-stroked-button class="btn-primary br-0 pl-8 " [matMenuTriggerFor]="menu7"><img
                    src="/assets/images/svg/plus.svg" class="pr-8">Add new PO RD</button>
            <mat-menu #menu7="matMenu">
                <button mat-menu-item (click)="openAddEdit('advicePORD',null)">Suggest new
                    PO RD</button>
                <button mat-menu-item>Add misc. advice</button>
            </mat-menu>
        </div>
    </div>
    <table matSort appSkeletonLoading [appSkeletonLoading]="isLoading" mat-table [dataSource]="pordDataSource"
        class="mt-8 skeletonAnimation" id="table-low">
        <ng-container matColumnDef="checkbox">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <mat-checkbox (change)="checkAll($event,scssDataSource,'pord')"
                    [checked]="pordCount==pordDataSource.data.length"
                    [indeterminate]="pordCount>0 && pordCount<pordDataSource.data.length"
                    *ngIf="isLoading==false && pordDataSource.tableFlag"></mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let element">
                <mat-checkbox *ngIf="isLoading==false" (change)="checkSingle($event,element,pordDataSource,'pord')">
                </mat-checkbox>
            </td>
        </ng-container>
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Investor name </th>
            <td mat-cell *matCellDef="let element">
                <div class="bar">
                    <span *ngIf="element.assetDataOfAdvice">
                        {{element.assetDataOfAdvice.ownerName}}
                    </span>}</div>
            </td>
        </ng-container>
        <ng-container matColumnDef="desc">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
            <td mat-cell *matCellDef="let element">
                <div class="bar"><span *ngIf="element.adviceToAsset">{{element.adviceToAsset.adviceDescription}}</span>
                </div>
            </td>
        </ng-container>
        <ng-container matColumnDef="cvalue">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Current value </th>
            <td mat-cell *matCellDef="let element">
                <div class="bar">
                    <span *ngIf="element.assetDataOfAdvice">
                        {{element.assetDataOfAdvice.currentValue}}
                    </span>
                </div>
            </td>
        </ng-container>
        <ng-container matColumnDef="empcon">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Anuual employee's contribution </th>
            <td mat-cell *matCellDef="let element">
                <div class="bar">{{element.empcon}}</div>
            </td>
        </ng-container>
        <ng-container matColumnDef="emprcon">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Anuual employer's contribution </th>
            <td mat-cell *matCellDef="let element">
                <div class="bar">{{element.emprcon}}</div>
            </td>
        </ng-container>
        <ng-container matColumnDef="advice">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Advice </th>
            <td mat-cell *matCellDef="let element">
                <div class="bar">{{element.advice}} </div>
            </td>
        </ng-container>
        <ng-container matColumnDef="astatus">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Advice status</th>
            <td mat-cell *matCellDef="let element">
                <div class="bar">
                    <span *ngIf="element.adviceToAsset">
                        <span *ngIf="element.adviceToAsset.adviceStatusId==1">GIVEN</span>
                        <span *ngIf="element.adviceToAsset.adviceStatusId==2">AWAITING CONSENT</span>
                        <span *ngIf="element.adviceToAsset.adviceStatusId==3">ACCEPTED</span>
                        <span *ngIf="element.adviceToAsset.adviceStatusId==4">IN PROGRESS</span>
                        <span *ngIf="element.adviceToAsset.adviceStatusId==5">IMPLEMENTED</span>
                        <span *ngIf="element.adviceToAsset.adviceStatusId==6">DECLINED</span>
                        <span *ngIf="element.adviceToAsset.adviceStatusId==7">PENDING</span>
                        <span *ngIf="element.adviceToAsset.adviceStatusId==8">SYSTEM GENERATED</span>
                        <span *ngIf="element.adviceToAsset.adviceStatusId==9">REVISED</span>
                    </span>
                </div>
            </td>
        </ng-container>
        <ng-container matColumnDef="adate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Applicable date </th>
            <td mat-cell *matCellDef="let element">
                <div class="bar">{{element.adate}} </div>
            </td>
        </ng-container>
        <ng-container matColumnDef="icon">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
            <td mat-cell *matCellDef="let element">
                <div class="bar">
                    <i *ngIf="isLoading==false" class="material-icons c-p" [matMenuTriggerFor]="menu">
                        more_vert
                    </i>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="openAddEdit('advicePORD',element)">Edit</button>
                        <button mat-menu-item>Delete</button>
                    </mat-menu>
                </div>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <div *ngIf="pordDataSource.tableFlag==false" class="b-a">
        <h4 class="text-center p-44">No Data Found</h4>
    </div>
    <div class="row pt-32">
        <div class="col-md-6 p-0">
            <h5 class="m-0 text-black pt-8">PO TD</h5>
        </div>
        <div class="col-md-6 p-0 text-right">
            <button mat-stroked-button class="br-0 text-light pl-8 mr-12"><img src="/assets/images/svg/addon-three.svg"
                    class="pr-8">Filters</button>
            <button mat-stroked-button class="btn-primary br-0 pl-8 " [matMenuTriggerFor]="menu8"><img
                    src="/assets/images/svg/plus.svg" class="pr-8">Add new PO TD</button>
            <mat-menu #menu8="matMenu">
                <button mat-menu-item (click)="openAddEdit('advicePOTD',null)">Suggest new
                    PO TD</button>
                <button mat-menu-item>Add misc. advice</button>
            </mat-menu>
        </div>
    </div>
    <table matSort appSkeletonLoading [appSkeletonLoading]="isLoading" mat-table [dataSource]="potdDataSource"
        class="mt-8 skeletonAnimation" id="table-low">
        <ng-container matColumnDef="checkbox">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <mat-checkbox [checked]="potdCount==potdDataSource.data.length"
                    [indeterminate]="potdCount>0 && potdCount<potdDataSource.data.length"
                    *ngIf="isLoading==false && potdDataSource.tableFlag"
                    (change)="checkAll($event,potdDataSource,'potd')">
                </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let element">
                <mat-checkbox *ngIf="isLoading==false" (change)="checkSingle($event,element,potdDataSource,'potd')"
                    [checked]="element.selected"></mat-checkbox>
            </td>
        </ng-container>
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Investor name </th>
            <td mat-cell *matCellDef="let element">
                <div class="bar">
                    <span *ngIf="element.assetDataOfAdvice">
                        {{element.assetDataOfAdvice.ownerName}}
                    </span>
                </div>
            </td>
        </ng-container>
        <ng-container matColumnDef="desc">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
            <td mat-cell *matCellDef="let element">
                <div class="bar"> <span *ngIf="element.adviceToAsset">{{element.adviceToAsset.adviceDescription}}</span>
                </div>
            </td>
        </ng-container>
        <ng-container matColumnDef="cvalue">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Current value </th>
            <td mat-cell *matCellDef="let element">
                <div class="bar">
                    <span *ngIf="element.assetDataOfAdvice">
                        {{element.assetDataOfAdvice.currentValue}}
                    </span>
                </div>
            </td>
        </ng-container>
        <ng-container matColumnDef="emprcon">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Maturity date </th>
            <td mat-cell *matCellDef="let element">
                <div class="bar"> {{element.emprcon}}</div>
            </td>
        </ng-container>
        <ng-container matColumnDef="advice">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Advice </th>
            <td mat-cell *matCellDef="let element">
                <div class="bar">
                    <span *ngIf="element.adviceToAsset">
                        <span *ngIf="element.adviceToAsset.adviceId==1">Open new account</span>
                        <span *ngIf="element.adviceToAsset.adviceId==2">Withdraw</span>
                        <span *ngIf="element.adviceToAsset.adviceId==3">Premature close</span>
                        <span *ngIf="element.adviceToAsset.adviceId==4">Extend</span>
                        <span *ngIf="element.adviceToAsset.adviceId==5">Take loan against po</span>
                    </span>
                </div>
            </td>
        </ng-container>
        <ng-container matColumnDef="astatus">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Advice status</th>
            <td mat-cell *matCellDef="let element">
                <div class="bar"> <span *ngIf="element.adviceToAsset">
                        <span *ngIf="element.adviceToAsset.adviceStatusId==1">GIVEN</span>
                        <span *ngIf="element.adviceToAsset.adviceStatusId==2">AWAITING CONSENT</span>
                        <span *ngIf="element.adviceToAsset.adviceStatusId==3">ACCEPTED</span>
                        <span *ngIf="element.adviceToAsset.adviceStatusId==4">IN PROGRESS</span>
                        <span *ngIf="element.adviceToAsset.adviceStatusId==5">IMPLEMENTED</span>
                        <span *ngIf="element.adviceToAsset.adviceStatusId==6">DECLINED</span>
                        <span *ngIf="element.adviceToAsset.adviceStatusId==7">PENDING</span>
                        <span *ngIf="element.adviceToAsset.adviceStatusId==8">SYSTEM GENERATED</span>
                        <span *ngIf="element.adviceToAsset.adviceStatusId==9">REVISED</span>
                    </span></div>
            </td>
        </ng-container>
        <ng-container matColumnDef="adate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Applicable date </th>
            <td mat-cell *matCellDef="let element">
                <div class="bar"> {{element.applicableDate | date:'dd/MM/yyyy'}}</div>
            </td>
        </ng-container>
        <ng-container matColumnDef="icon">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
            <td mat-cell *matCellDef="let element">
                <div class="bar">
                    <i *ngIf="isLoading==false" class="material-icons c-p" [matMenuTriggerFor]="menu">
                        more_vert
                    </i>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="openAddEdit('advicePOTD',element)">Edit</button>
                        <button mat-menu-item>Delete</button>
                    </mat-menu>
                </div>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
    </table>
    <div *ngIf="potdDataSource.tableFlag==false" class="b-a">
        <h4 class="text-center p-44">No Data Found</h4>
    </div>
    <div class="row pt-32">
        <div class="col-md-6 p-0">
            <h5 class="m-0 text-black pt-8">PO MIS</h5>
        </div>
        <div class="col-md-6 p-0 text-right">
            <button mat-stroked-button class="br-0 text-light pl-8 mr-12"><img src="/assets/images/svg/addon-three.svg"
                    class="pr-8">Filters</button>
            <button mat-stroked-button class="btn-primary br-0 pl-8 " [matMenuTriggerFor]="menu9"><img
                    src="/assets/images/svg/plus.svg" class="pr-8">Suggest new PO MIS</button>
            <mat-menu #menu9="matMenu">
                <button mat-menu-item (click)="openAddEdit('advicePOMIS',null)">Suggest new
                    PO MIS</button>
                <button mat-menu-item>Add misc. advice</button>
            </mat-menu>
        </div>
    </div>
    <table matSort appSkeletonLoading [appSkeletonLoading]="isLoading" mat-table [dataSource]="pomisDataSource"
        class="mt-8 skeletonAnimation" id="table-low">
        <ng-container matColumnDef="checkbox">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <mat-checkbox [checked]="pomisCount==pomisDataSource.data.length"
                    [indeterminate]="pomisCount>0 && pomisCount<pomisDataSource.data.length"
                    *ngIf="isLoading==false && pomisDataSource.tableFlag"
                    (change)="checkAll($event,pomisDataSource,'pomis')">
                </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let element">
                <mat-checkbox *ngIf="isLoading==false" (change)="checkSingle($event,element,pomisDataSource,'pomis')"
                    [checked]="element.selected"></mat-checkbox>
            </td>
        </ng-container>
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Investor name </th>
            <td mat-cell *matCellDef="let element">
                <div class="bar">
                    <span *ngIf="element.assetDataOfAdvice">
                        {{element.assetDataOfAdvice.ownerName}}
                    </span>
                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="desc">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
            <td mat-cell *matCellDef="let element">
                <div class="bar"><span *ngIf="element.adviceToAsset">{{element.adviceToAsset.adviceDescription}}</span>
                </div>
            </td>
        </ng-container>
        <ng-container matColumnDef="advice">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Advice </th>
            <td mat-cell *matCellDef="let element">
                <div class="bar">
                    <span *ngIf="element.adviceToAsset">
                        <span *ngIf="element.adviceToAsset.adviceId==1">Open new account</span>
                        <span *ngIf="element.adviceToAsset.adviceId==2">Withdraw</span>
                        <span *ngIf="element.adviceToAsset.adviceId==3">Close the account</span>

                    </span>
                </div>
            </td>
        </ng-container>
        <ng-container matColumnDef="astatus">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Advice status </th>
            <td mat-cell *matCellDef="let element">
                <div class="bar">
                    <span *ngIf="element.adviceToAsset">
                        <span *ngIf="element.adviceToAsset.adviceStatusId==1">GIVEN</span>
                        <span *ngIf="element.adviceToAsset.adviceStatusId==2">AWAITING CONSENT</span>
                        <span *ngIf="element.adviceToAsset.adviceStatusId==3">ACCEPTED</span>
                        <span *ngIf="element.adviceToAsset.adviceStatusId==4">IN PROGRESS</span>
                        <span *ngIf="element.adviceToAsset.adviceStatusId==5">IMPLEMENTED</span>
                        <span *ngIf="element.adviceToAsset.adviceStatusId==6">DECLINED</span>
                        <span *ngIf="element.adviceToAsset.adviceStatusId==7">PENDING</span>
                        <span *ngIf="element.adviceToAsset.adviceStatusId==8">SYSTEM GENERATED</span>
                        <span *ngIf="element.adviceToAsset.adviceStatusId==9">REVISED</span>
                    </span>
                </div>
            </td>
        </ng-container>
        <ng-container matColumnDef="adate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Applicable date </th>
            <td mat-cell *matCellDef="let element">
                <div class="bar">{{element.applicableDate | date:'dd/MM/yyyy'}}</div>
            </td>
        </ng-container>
        <ng-container matColumnDef="icon">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
            <td mat-cell *matCellDef="let element">
                <div class="bar">
                    <i *ngIf="isLoading==false" class="material-icons c-p" [matMenuTriggerFor]="menu">
                        more_vert
                    </i>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="openAddEdit('advicePOMIS',element)">Edit</button>
                        <button mat-menu-item>Delete</button>
                    </mat-menu>
                </div>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns3"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns3;"></tr>
    </table>
    <div *ngIf="pomisDataSource.tableFlag==false" class="b-a">
        <h4 class="text-center p-44">No Data Found</h4>
    </div>
</div>
<div *ngIf="allAdvice == true">
    <app-all-advice-small-savings-scheme></app-all-advice-small-savings-scheme>
</div>