<div class="popup-header-fix-60">
    <div class="row bb-1">
        <div class="col-md-8 p-0">
            <h4 class="mb-0 wrapper-20" *ngIf="_inputData=='Add'">ADD POST OFFICE MONTHLY INCOME SCHEME (PO-MIS)</h4>
            <h4 class="mb-0 wrapper-20" *ngIf="_inputData!='Add'">EDIT POST OFFICE MONTHLY INCOME SCHEME (PO-MIS)</h4>
        </div>
        <div class="col-md-4 text-right">
            <div class="wrapper-12"> <i class="material-icons c-p pt-8 v-middle" (click)="close()"> clear</i> </div>
        </div>
    </div>
</div>
<div class="pt-100 pl-24 pr-24 pb-48 mb-48" [formGroup]="pomisForm">
    <!-- <div class="row pt-40">
        <div class="col-md-5 pr-0 text-right">
            <h5 class="m-0 pt-8">Owner</h5>
            <p class="m-0 f-12 text-custom">In whose name is this asset</p>
        </div>
        <div class="col-md-5">
            <div class="form-group mb-0">
                <mat-form-field>
                    <mat-select class="form-control br-0">
                        <mat-option>Search family members</mat-option>
                        <mat-option> <span>DFASDFSD</span> </mat-option>
                    </mat-select>
                    <mat-error class="f-12 pt-4"> This field is required </mat-error>
                </mat-form-field>
            </div>
        </div>
    </div> -->
    <div class="row">
        <div class="col-md-5 pr-0 text-right">
            <h5 class="m-0 pt-8">Owner</h5>
            <p class="m-0 f-12 text-custom">In whose name is this asset</p>
        </div>
        <div class="col-md-5">
            <app-owner-component [data]='ownerData' (valueChange)='display($event)'></app-owner-component>
        </div>
    </div>
    <div class="row pt-40">
        <div class="col-md-5 pr-0 text-right">
            <h5 class="m-0 pt-8">Amount invested</h5>
        </div>
        <div class="col-md-3">
            <div class="form-group mb-0">
                <mat-form-field>
                    <input matInput type="number" autocomplete="off" #amtInvested type="text" maxlength="20" class="form-control br-0 rupess" formControlName="amtInvested">
                    <mat-error *ngIf="pomisForm.get('amtInvested').errors?.required && pomisForm.get('amtInvested').touched" class="f-12 pt-4">
                        This field is required
                    </mat-error>
                    <mat-error *ngIf="(pomisForm.get('amtInvested').errors?.min)" class="f-12 pt-4">
                        Should be greater than 200
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
    </div>
    <div class="row pt-40">
        <div class="col-md-5 pr-0 text-right">
            <h5 class="m-0 pt-8">Commencement date</h5>
        </div>
        <div class="col-md-3">
            <div class="form-group mb-0">
                <mat-form-field>
                    <input matInput [matDatepicker]="KVPpicker" class="form-control br-0" formControlName="commencementdate">
                    <mat-datepicker-toggle matSuffix [for]="KVPpicker"></mat-datepicker-toggle>
                    <mat-datepicker #KVPpicker></mat-datepicker>
                    <mat-error class="f-12 pt-4" *ngIf="pomisForm.get('commencementdate').errors?.required">
                        Commencement date is required
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
    </div>
    <div class="row pt-40">
        <div class="col-md-5 pr-0 text-right">
            <h5 class="m-0 pt-8">Ownership type</h5>
        </div>
        <div class="col-md-3">
            <mat-form-field>
                <mat-select class="form-control br-0" formControlName="ownershipType">
                    <mat-option value=""> Select option </mat-option>
                    <mat-option value="0"> Joint </mat-option>
                    <mat-option value="1">Single </mat-option>
                </mat-select>
                <mat-error class="f-12 pt-4" *ngIf="pomisForm.get('ownershipType').errors?.required">
                    This field is required
                </mat-error>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5 text-right">
            <h5 class="pt-20 text-custom m-0 c-p" (click)="showMore()" *ngIf="show==false">+ Add more [optional data]
            </h5>
            <h5 class="pt-20 text-custom m-0 c-p" (click)="showLess()" *ngIf="show==true">Show less</h5>
        </div>
    </div>
    <div *ngIf="show==true">
        <div class="row pt-40">
            <div class="col-md-5 pr-0 text-right">
                <h5 class="m-0 pt-8">PO branch</h5>
            </div>
            <div class="col-md-5">
                <div class="form-group mb-0">
                    <mat-form-field>
                        <input matInput #fdNo type="text" maxlength="10" class="form-control br-0" formControlName="poBranch">
                        <mat-hint align="start" class="f-12">Optional</mat-hint>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="row pt-40">
            <div class="col-md-5 pr-0 text-right">
                <h5 class="m-0 pt-8">Nominee</h5>
            </div>
            <div class="col-md-5">
                <div class="form-group mb-0">
                    <mat-form-field>
                        <input matInput #bankACNo type="text" maxlength="15" class="form-control br-0" formControlName="nominee">
                        <mat-hint align="start" class="f-12">Optional</mat-hint>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="row pt-40">
            <div class="col-md-5 pr-0 text-right">
                <h5 class="m-0 pt-8">Bank account number</h5>
            </div>
            <div class="col-md-5">
                <div class="form-group mb-0">
                    <mat-form-field>
                        <input matInput #institution maxlength="30" class="form-control br-0" formControlName="accNumber">
                        <mat-hint align="start" class="f-12">Optional</mat-hint>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="row pt-40">
            <div class="col-md-5 pr-0 text-right">
                <h5 class="m-0 pt-8">Description</h5>
            </div>
            <div class="col-md-5">
                <div class="form-group mb-0">
                    <mat-form-field>
                        <input matInput #description maxlength="60" class="form-control br-0" formControlName="description">
                        <mat-hint align="start" class="f-12">Optional</mat-hint>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>
    <div>

    </div>
</div>
<div class="bottom-fixed wrapper-12 pt-16">
    <div class="row">
        <div class="col-md-4">
            <h5 class="mb-0 pt-8 text-white c-p" (click)="close()">Cancel</h5>
        </div>
        <div class="col-md-8 right text-right"> <button mat-button class="btn-bottom br-0 text-inherit" (click)="saveFormData('close')">Save</button>
        </div>
    </div>
</div>