#ui-dashboard {
  // padding-top: 130px;

  .subscription-summary {
    p {
      color: #000000;
    }
  }

  h4, h2 {
    font-family: "proxima-nova", sans-serif;
  }
}

.ima {

  //background-image: url(/assets/images/svg/Receivablessummary.svg);
  background-position: left;
  background-size: cover;
  min-height: 200px;
  width: 100%;

}

hr {
  border-bottom: 1px solid #DADCE0;
  width: 90%;
  margin: 0 auto;
  display: block;
}

.bg-red {
  background-color: #FFD8D8
}

.full-lights {
  background-color: #F7F8F9;
}

.btn-red {
  background-color: #D01010;
  color: #FFD5D5 !important;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.2px;
}

h1 {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: normal;
  padding-top: 16px;
  line-height: 40px;
  letter-spacing: 0.2px;
  margin-bottom: 0;
  color: #D01010 !important;
}

p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0.2px;
  color: #004164;
}

.btn-red .material-icons {
  margin-left: 2px;
  padding-top: 2px;
}

.dashboard-img {
  position: relative;
  margin-top: -85px;
}

#ui-subscription-completeness {
  padding-top: 50px;

  .done-icons {
    background: #02B875;
    border-radius: 50%;
    padding: 5px;
    color: #fff;
    font-size: 30px;
    margin-top: 2px;
    text-align: center;
  }

  .default-icons {
    background: #BCC6CA;
    border-radius: 50%;
    padding: 5px;
    color: #fff;
    font-size: 30px;
    margin-top: 2px;
    text-align: center;
  }

  .mat-card:not([class*=mat-elevation-z]) {
    box-shadow: none !important;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
  }

  .w-110 {
    width: 110px !important;
  }
}

.example-container {
  height: 225px;
  overflow: auto;
}

//::ng-deep .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
//
//    background-color: #008FFF !important;
//  }
//
//  ::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
//    background-color: #008FFF !important;   /*inner circle color change*/
//  }
//
//  ::ng-deep.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
//   border-color:#008FFF !important; /*outer ring color change*/
//  }
//  ::ng-deep .mat-horizontal-stepper-header{
//    pointer-events: none !important;
//  }


@import '~@angular/material/theming';

@include mat-core();

$app-primary: mat-palette($mat-indigo);
$app-accent:  mat-palette($mat-light-blue, A200, A100, A400);

$app-theme: mat-light-theme($app-primary, $app-accent);

@mixin mix-app-theme($app-theme) {
  $primary: map-get($app-theme, primary);
  $accent: map-get($app-theme, accent);

  .mat-button-toggle {
    //border: 0px !important;
    //outline: 0px  !important;
    //z-index: inherit;
    background-color: white;
    color: #595252;
    align-content: center;
  }

  .mat-button-toggle-checked {
    background-color: white;
    //border: 0px !important;
    //outline: 1px solid #BCC6CA !important;
    align-content: center;
    //z-index: inherit;
    //background-color: mat-color($accent);
    color: mat-color($accent);
  }
}

// Include the mixin
@include mix-app-theme($app-theme);
