.ima {
    //background-image: url(/assets/images/svg/Receivablessummary.svg);
    background-position: left;
    background-size: cover;
    min-height: 200px;
    width: 100%;
}

hr {
    border-bottom: 1px solid #DADCE0;
    width: 90%;
    margin: 0 auto;
    display: block;
}

.bg-red {
    background-color: #FFD8D8
}

.dash-info-header{width: 100%; height: 30px; text-align: right; display: flex; padding: 0px 1%; align-items: center; justify-content: right; margin-bottom: -26px;
    p{margin: 3%; margin-right:2%; font-size: 13px; color: #888 !important;}
    div{margin: 0px !important; padding: 0px !important;}
    .dash-info-menu{width: 10px;}
    .dash-info-p{width: 100%;}
    .dash-info-menu-ho{ text-align: right; width: 100%; margin: 3%;
        .material-icons{transform: rotate(90deg);}
    }
}

::ng-deep .h-290 {
    height: 290px;
    overflow-x: auto;
     ::-webkit-scrollbar-track {
        margin-top: 0px !important;
    }
}

.full-lights {
    background-color: #F7F8F9;
}

.btn-red {
    background-color: #D01010;
    color: #FFD5D5 !important;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.2px;
}

h1 {
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: normal;
    padding-top: 16px;
    line-height: 40px;
    letter-spacing: 0.2px;
    margin-bottom: 0;
    color: #D01010 !important;
}

p {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0.2px;
    color: #004164;
}

.btn-red .material-icons {
    margin-left: 2px;
    padding-top: 2px;
}

.dashboard-img {
    position: relative;
    margin-top: -85px;
}

#ui-subscription-completeness {
    padding-top: 50px;
    .done-icons {
        background: #02B875;
        border-radius: 50%;
        padding: 5px;
        color: #fff;
        font-size: 30px;
        margin-top: 2px;
        text-align: center;
    }
    .default-icons {
        background: #BCC6CA;
        border-radius: 50%;
        padding: 5px;
        color: #fff;
        font-size: 30px;
        margin-top: 2px;
        text-align: center;
    }
    .mat-card:not([class*=mat-elevation-z]) {
        box-shadow: none !important;
        border: 1px solid rgba(0, 0, 0, 0.1);
        padding: 0;
    }
    .w-110 {
        width: 110px !important;
    }
}

// ::-webkit-scrollbar-track {
//   margin-top: 8px !important;
// }
//::ng-deep .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
//
//    background-color: #008FFF !important;
//  }
//
//  ::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
//    background-color: #008FFF !important;   /*inner circle color change*/
//  }
//
//  ::ng-deep.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
//   border-color:#008FFF !important; /*outer ring color change*/
//  }
//  ::ng-deep .mat-horizontal-stepper-header{
//    pointer-events: none !important;
//  }
.chart {
    height: 200px;
}

.noDataFound {
    width: 100%;
    text-align: center;
    padding: 10px;
    img {
        width: 200px;
    }
}

::ng-deep #table-low tbody td {
    padding: 9px 8px !important;
}

.font100 {
    font-size: 100px;
}

.height23 {
    height: 23px;
}

.h-290::-webkit-scrollbar {
    width: 4px;
    cursor: pointer;
}

.h-290::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.h-290::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.h-290::-webkit-scrollbar-thumb:window-inactive {
    background: #555;
}

.h-290::-webkit-scrollbar-button:horizontal:decrement:hover {
    background: #555;
}