<div class="row bb-1 popup-header-fix w-35">
    <div class="col-md-10 p-0">
        <h4 class="mb-0 wrapper-20 lh-23">ADD CREDENTIALS</h4>
    </div>
    <div class="col-md-2">
        <i class="material-icons right text-right pt-16 pr-16 c-p" (click)="Close('close')">
            clear
        </i>
    </div>
</div>

<div class="pt-90 pb-44">
    <div class="row">
        <div class="col-md-5 text-right p-0">
            <h5 class="m-0 pt-8">Platform</h5>
        </div>
        <div class="col-md-4 pr-0">
            <div class="form-group mb-0">
                <mat-form-field>
                    <mat-select class="form-control br-0">
                        <mat-option value="option">Option</mat-option>
                    </mat-select>
                    <mat-error class="f-12 pt-4">
                        This is required
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
    </div>
    <div class="row pt-44">
        <div class="col-md-5 text-right p-0">
            <h5 class="m-0 pt-8">Account type</h5>
        </div>
        <div class="col-md-4 pr-0">
            <div class="form-group mb-0">
                <mat-form-field>
                    <mat-select class="form-control br-0">
                        <mat-option value="option">Option</mat-option>
                    </mat-select>
                    <mat-error class="f-12 pt-4">
                        This is required
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
    </div>
    <div class="row pt-44">
        <div class="col-md-5 text-right p-0">
            <h5 class="m-0 pt-8">ARN/RIA code</h5>
        </div>
        <div class="col-md-4 pr-0">
            <div class="form-group mb-0">
                <mat-form-field>
                    <input matInput class="form-control br-0" type="text">
                </mat-form-field>
            </div>
        </div>
    </div>
    <div class="row pt-44">
        <div class="col-md-5 text-right p-0">
            <h5 class="m-0 pt-8">Application Id</h5>
        </div>
        <div class="col-md-4 pr-0">
            <div class="form-group mb-0">
                <mat-form-field>
                    <input matInput class="form-control br-0" type="text">
                </mat-form-field>
            </div>
        </div>
    </div>
    <div class="row pt-44">
        <div class="col-md-5 text-right p-0">
            <h5 class="m-0 pt-8">Password</h5>
        </div>
        <div class="col-md-4 pr-0">
            <div class="form-group mb-0">
                <mat-form-field>
                    <input matInput class="form-control br-0" type="text">
                </mat-form-field>
            </div>
        </div>
    </div>
    <div class="row pt-44">
        <div class="col-md-5 text-right p-0">
            <h5 class="m-0 pt-8">EUIN</h5>
        </div>
        <div class="col-md-4 pr-0">
            <div class="form-group mb-0">
                <mat-form-field>
                    <input matInput class="form-control br-0" type="text">
                </mat-form-field>
            </div>
        </div>
    </div>
    <div class="row pt-44">
        <div class="col-md-5 text-right p-0">
            <h5 class="m-0 pt-8">Set as default</h5>
        </div>
        <div class="col-md-4 pr-0 pt-6">
            <mat-checkbox></mat-checkbox>
        </div>
    </div>
</div>

<div class="bottom-fixed wrapper-12 w-35">
    <div class="row">

        <div class="col-md-4">
            <h5 class="mb-0 pt-8 text-white c-p">Cancel</h5>
        </div>
        <div class="col-md-8 right text-right">
            <button mat-button class="btn-bottom br-0 text-inherit">Save</button>
        </div>
    </div>
</div>