@media(max-width:1224px) {}

@media(max-width:1200px) {

  #ui-assets-account,
  #ui-insurance {
    li {
      padding: 0 0px 24px 13px !important;
    }
  }

  #ui-insurance {
    li {
      .f-700 {
        font-size: 13px;
      }

      .row {
        flex-wrap: nowrap;
      }
    }

  }

  .cashflow,
  .familymember-wise {
    padding-left: 0px !important;
    padding-top: 20px;
  }

  .scheme-wise {
    padding-right: 0px !important;
  }

  div.overflow-y {

    overflow: auto;
    white-space: nowrap;

    .w-1024 {
      width: 1024px;
    }
  }
}

@media(max-width:1142px) {}
