.fddate {
  .radioBtn .mat-radio-label {
    padding-left: 8px !important;
    height: 40px !important;
  }
}

// .mutualfunds-capital-equity#tabele-low {

//   #table-low th.mat-column-header-row-first-group,
//   #table-low th.mat-column-header-row-second-group,
//   #table-low th.mat-column-header-row-third-group {
//     background-color: #fff !important;
//   }

//   .th.mat-header-cell
// }
#table-low th.header-tables {
  background-color: #fff !important;
  border-bottom: 0px !important;
}

.remove-padding-matfield {
  .mat-form-field-appearance-standard .mat-form-field-flex {
    padding-top: 0px !important;
  }
}

.account-empty-state {
  height: 150px;
  justify-content: center;
  border: 1px solid #ddd;
}

.gain-loss {
  width: calc(100% - 62.24%);
  padding-left: 5px;
  border-left: 1px solid #dee5e7;
}

.redemption {
  width: calc(100% - 54.50%);
  border-right: 1px solid #dee5e7;
}

#ui-profile-plan {
  pointer-events: initial !important;
}

@media(max-width:1292px) {
  .btn140 {
    width: 135px !important;

  }

  .recommendations,
  .btn140 {
    font-size: 13px;
  }
}

@media(max-width:1224px) {}

@media(max-width:1200px) {

  #ui-assets-account,
  #ui-profile-plan {
    li {
      padding: 0 0px 24px 13px !important;
    }
  }

  .pb-md-0 {
    padding-bottom: 0px !important;
  }

  .pb-md-20 {
    padding-bottom: 20px !important;
  }

  #ui-insurance {
    li {
      padding: 13px !important;


      .f-700 {
        font-size: 12px;
      }

      .row {
        flex-wrap: nowrap;
      }
    }

  }


  .cashflow,
  .familymember-wise {
    padding-left: 0px !important;
    padding-top: 20px !important;
  }

  .scheme-wise {
    padding-right: 0px !important;

    #table-low th {
      background-color: #fff !important;
    }
  }

  div.overflow-y {

    overflow: auto;
    white-space: nowrap;

    .w-1024 {
      width: 1024px;
    }
  }
}

.scheme-wise-allocation#table-low,
.category-wise-allocation#table-low,
.family-member-wise-allocation#table-low,
.sub-category-wise#table-low {
  th {
    background-color: #fff !important;
    font-weight: 500;
  }
}

@media(max-width:1142px) {
  // .mat-radio-button#mat-radio-3 {
  //   min-width: 135px;
  //   width: 165px;
  // }

  #ui-insurance {
    li {
      padding: 10px !important;
    }
  }

  .future-contribution {
    .f-14 {
      font-size: 13px !important;
    }

    h5 {
      font-size: 14px !important;
    }
  }

  .tabView {
    .mat-tab-header-pagination-controls-enabled .mat-tab-header-pagination {
      display: none !important;
    }

    .mat-tab-label {
      padding: 0 16px !important;
    }
  }

  .individual-income {
    .incomeSourcesBox {
      display: block !important;
      margin: 0 auto !important;
    }

    .ws-nowrap {
      white-space: inherit !important;
    }

    h5.text-custom {
      font-size: 14px;
    }

    .col-md-3.d-flex {
      display: block !important;

      .mr-28 {
        margin-right: 0px !important;
      }

      .ml-12 {
        margin-left: 0px !important;
      }
    }
  }
}

@media(max-width:1092px) {

  #ui-assets-account,
  #ui-liabilities,
  #ui-profile-plan {
    li {
      padding: 0 0px 0px 8px !important;
      font-size: 13px;
    }
  }

  .add-liabilities {
    .f-14 {
      font-size: 13px !important;
    }
  }

  .superannuation {
    #tbs .mat-sort-header-button {
      white-space: nowrap !important;
    }
  }


}

@media(max-width:1042px) {
  h5 {
    font-size: 15px;
  }

  h4 {
    font-size: 16px;
  }

  .fddate {
    .radioBtn .mat-radio-label {
      padding-left: 5px !important;
    }

    #mat-radio-5 {
      min-width: 130px !important;
    }

    #mat-radio-6 {
      min-width: 150px !important;
    }
  }
}

@media(max-width:1024px) {
  .radioBtn .mat-radio-label {
    min-width: 125px !important;
    height: 37px !important;
  }

  .popup-header-fix-60 {
    .f-17 {
      font-size: 16px !important;
    }
  }

  #ui-assets-account,
  #ui-profile-plan,
  #ui-liabilities {
    li {
      font-size: 13px !important;
    }
  }

  .tabView {

    .f-16,
    h5 {
      font-size: 14px !important;
    }

  }
}
