@media(max-width:1224px) {
  #ui-subscriptions {
    h3 {
      font-size: 18px;
    }

    .mat-tab-link {
      font-size: 12px !important;
      padding-right: 10px !important;
      padding-left: 10px !important;
      min-width: 100px !important;
    }

    .subnav-fixed {
      margin-right: 8px !important;
    }
  }

  .mat-radio-button {
    min-width: 150px;
  }

  .radioBtn .mat-radio-label {
    min-width: 135px !important;
  }

  #ui-subscription-completeness {
    .mat-card {
      .col-md-2 {
        padding-right: 8px;
        padding-left: 8px;
      }
    }
  }
}

@media(max-width:1200px) {
  .variblefee {
    h5 {
      font-size: 14px;
    }
  }

}

@media(max-width:1142px) {
  #ui-dashboard {
    .bg-red {
      p {
        font-size: 14px;
        margin-bottom: 10px;
      }
    }
  }

  .plans {
    .wrapper-100 {
      padding: 60px !important;
    }
  }

  .padder-80 {
    padding-right: 40px !important;
    padding-left: 40px !important;
  }

  .plan-service {

    .col-md-6 {
      h3 {
        font-size: 15px !important;
      }
    }
  }

  .radioBtn .mat-radio-label {
    font-size: 14px;
  }

  .settings {


    .wrapper-100 {
      padding: 60px;
    }
  }

  #ui-dashboard {
    .subscription-summary {
      p {
        font-size: 14px !important;
      }
    }
  }

  #ui-subscriptions {
    h3 {
      font-size: 16px;
    }

    .mat-tab-link {
      font-size: 12px !important;
      height: 54px !important;
      min-width: 90px !important;

    }
  }

  #ui-settings-subs .mat-tab-label {
    font-size: 11px;
  }

  #ui-subscription-completeness {
    .mat-card {
      h4 {
        font-size: 16px;
      }

      p {
        padding-top: 0px;
      }
    }
  }

  .filterBox {
    h4 {
      font-size: 16px;
    }
  }

  // #ui-stepper {
  //   .mat-radio-button {
  //     min-width: 135px;
  //   }
  // }

  .mat-radio-button {
    min-width: 135px;
  }
}
