.img-set {
  padding: 12px;
  border: 2px solid #83959D;
  background: #F5F7F7;
  float: right;
}

.mat-radio-button {
  min-width: 0 !important;
}

::ng-deep .mat-radio-group {
  color: #83959D;
  font-size: 14px;
}

::ng-deep .mat-radio-outer-circle {
  border-color: #DADADA !important;
}

::ng-deep .mat-expansion-panel:not([class*=mat-elevation-z]) {
  box-shadow: none !important;
}

::ng-deep .mat-expansion-panel-header {
  background-color: #F5F7F7 !important;
  font-size: 14px !important;
}

::ng-deep .mat-progress-bar-fill::after {
  background-color: #008FFF !important;
}

// ::ng-deep .mat-progress-bar {
//     height: 30px !important;
// }

::ng-deep .mat-progress-bar-buffer {
  background-color: #D9DEE1 !important;
}

.f-56 {
  font-size: 56px !important;
}

::ng-deep #fp-modules {
  .mat-expansion-panel-body {
    padding: 0 !important;

  }

  .mat-expansion-panel-header {
    height: 40px !important;
    border: 1px solid rgba(0, 0, 0, 0.12);

  }

  .mat-expansion-panel {
    border-radius: 0px !important;
  }
}

::ng-deep {
  #ui-fp-planmodule {
    margin-top: 12px;


    .mat-tab-label-active {
      border-top: 1px solid #e0e0e0;
      border-right: 1px solid #e0e0e0;
      border-left: 1px solid #e0e0e0;
    }

    .mat-ink-bar {
      display: none;
    }

    .mat-tab-label {
      height: 40px !important;
    }

    .mat-tab-body-wrapper {
      border: 1px solid #e0e0e0;
      border-top: 0px !important;
    }
  }
}

::ng-deep {
  #ui-profileplan-card {
    .mat-expansion-panel-body {
      padding: 0 !important;
      margin-top: 20px;
    }

    img {
      margin: 0 auto;
      display: block;
    }

    .example-card {
      border: 1px solid #E8ECEF !important;

      h5 {
        padding-top: 10px;
        color: #000000;
      }
    }

    .mat-card-actions {
      padding-bottom: 10px;
    }

    .mat-expansion-panel-header {
      height: 40px !important;
      border: 1px solid rgba(0, 0, 0, 0.12);
    }

    .mat-expansion-indicator {
      display: none;
    }
  }
}
