<div id="ui-profile-plan">

    <div class="row">
        <div class="col-md-2 p-0 pt-8 pb-20 bg-grey lter">
            <ul class="vertical-menu">
                <li (click)="viewMode ='tab1'" [ngClass]="{'b-ua':viewMode =='tab1'}" class="b-ua c-p">
                        <div class="row">
                            <div class="col-md-12 p-0">Income</div>
                        </div>
                </li>
                <li (click)="viewMode ='tab2'" [ngClass]="{'b-ua':viewMode =='tab2'}" class="b-ua c-p">
                    <div class="row">
                        <div class="col-md-12 p-0">Expenses</div>
                    </div>
            </li>
                <li (click)="viewMode ='tab3'" [ngClass]="{'b-ua':viewMode =='tab3'}" class="b-ua c-p">
                    <div class="row">
                        <div class="col-md-12 p-0">Family details</div>
                    </div>
                </li>
                <li (click)="viewMode ='tab4'" [ngClass]="{'b-ua':viewMode =='tab4'}" class="c-p">
                    <div class="row">
                        <div class="col-md-12 p-0">Risk profile</div>
                    </div>
                </li>
                <li (click)="viewMode ='tab5'" [ngClass]="{'b-ua':viewMode =='tab5'}" class="c-p">
                    <div class="row">
                        <div class="col-md-12 p-0">Financial health</div>

                    </div>
                </li>
                <li (click)="viewMode ='tab7'" [ngClass]="{'b-ua':viewMode =='tab6'}" class=" c-p">
                    <div class="row">
                        <div class="col-md-12 p-0">Financial plans</div>
                    </div>
                </li>
                <li (click)="viewMode ='tab6'" [ngClass]="{'b-ua':viewMode =='tab7'}" class=" c-p">
                    <div class="row">
                        <div class="col-md-12 p-0">Preferences</div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-md-10 b-a p-0" [ngSwitch]="viewMode">
            <div *ngSwitchCase="'tab1'">
              <app-income></app-income>
            </div>
            <div *ngSwitchCase="'tab2'">
                <app-expenses></app-expenses>
            </div>
            <div *ngSwitchCase="'tab3'">
                <div class="d-flex justify-content-center mt-150">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h3 class="f-22 m-0">Hi Rahul, welcome!</h3>
                            <h5 class="m-0 pt-28 pb-28">Please help us know about your family.</h5>
                            <button (click)="open('addprofilePlan')" mat-stroked-button class="btn-primary br-0">Add
                                members</button>
                        </div>
                    </div>
                </div>
                <!-- <div class="pt-28 pb-28">
                  <div class="row">
                      <div class="col-md-10">
                          <h3 class="m-0">Rahul Jain’s family details</h3>
                      </div>
                      <div class="col-md-2">
                            <button mat-stroked-button class="text-primary br-0">EDIT</button>
                      </div>
                  </div>
                 <div class="row pt-48">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-8 left">
                                <img src="/assets/images/svg/income-man.svg" class="img-set">
                            </div>
                            <div class="col-md-4 left pt-36">
                                <h5 class="m-0">Rahul Jain</h5>
                                <p class="text-custom">Self, 37 Years</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                            <div class="row">
                                    <div class="col-md-4 left">
                                        <img src="/assets/images/svg/womenIcon.svg" class="img-set">
                                    </div>
                                    <div class="col-md-8 left pt-36">
                                        <h5 class="m-0">Shilpa Jain</h5>
                                        <p class="text-custom">Wife, 35 Years</p>
                                    </div>
                                </div>
                    </div>
                 </div>
                 <div class="row pt-48">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-8 left">
                                    <img src="/assets/images/svg/familyMember1.svg" class="img-set">
                                </div>
                                <div class="col-md-4 left pt-36">
                                    <h5 class="m-0">Santosh Jain</h5>
                                    <p class="text-custom">Father, 75 Years</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                                <div class="row">
                                        <div class="col-md-4 left">
                                            <img src="/assets/images/svg/familyMember2.svg" class="img-set">
                                        </div>
                                        <div class="col-md-8 left pt-36">
                                            <h5 class="m-0">Rita Jain</h5>
                                            <p class="text-custom">72 Years</p>
                                        </div>
                                    </div>
                        </div>
                     </div>
                     <div class="row pt-48">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-8 left">
                                        <img src="/assets/images/svg/familyMember2.svg" class="img-set">
                                    </div>
                                    <div class="col-md-4 left pt-36">
                                        <h5 class="m-0">Santosh Jain</h5>
                                        <p class="text-custom">Father, 75 Years</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                    <div class="row">
                                            <div class="col-md-4 left">
                                                <img src="/assets/images/svg/familyMember2.svg" class="img-set">
                                            </div>
                                            <div class="col-md-8 left pt-36">
                                                <h5 class="m-0">Rita Jain</h5>
                                                <p class="text-custom">72 Years</p>
                                            </div>
                                        </div>
                            </div>
                         </div>
                         <div class="row pt-48">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-8 left">
                                            <img src="/assets/images/svg/familyMember2.svg" class="img-set">
                                        </div>
                                        <div class="col-md-4 left pt-36">
                                            <h5 class="m-0">Santosh Jain</h5>
                                            <p class="text-custom">Father, 75 Years</p>
                                        </div>
                                    </div>
                                </div>
                                    <-- <div class="col-md-6">
                                            <div class="row">
                                                    <div class="col-md-4 left">
                                                        <img src="/assets/images/svg/income-man.svg" class="img-set">
                                                    </div>
                                                    <div class="col-md-8 left pt-36">
                                                        <h5 class="m-0">Rita Jain</h5>
                                                        <p class="text-custom">72 Years</p>
                                                    </div>
                                                </div>
                                    </div> -->
                <!-- <div class="wrapper-28">
                                        <div class="row">
                                            <div class="col-md-12 right text-right">
                                                    <button mat-stroked-button class="text-primary br-0 ba-2xb mr-20">Retake risk assessment</button>
                                                    <button mat-stroked-button class="text-primary br-0 ba-2xb">History</button>
                                            </div>
                                        </div>
                                    </div> -->

                <!-- <div class="pt-44 pb-44">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <div class="col-md-8"></div>
                                                    <div class="col-md-4">
                                                            <h5 class="m-0 f-500 text-black">Your risk score</h5>
                                                            <div class="ba-3x text-center p-24 mt-12">
                                                                <h1 class="f-48 m-0">38</h1>
                                                                <p class="m-0 text-custom f-12 ">Max: 60</p>
                                                            </div>
                                                            
                                                    </div>
                                                </div>
                                               
                                            </div>
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <div class="col-md-8 p-0">
                                                            <h5 class="m-0 f-500 text-black">Your risk profile: Moderately aggressive</h5>
                                                            <img src="/assets/images/svg/riskprofile.svg" class="w-100 pt-20">
                                                            <p class="m-0 text-custom roboto">You are an investor who is willing to take moderately high risk for moderately high returns</p>
                                                    </div>
                                                    <div class="col-md-4">
            
                                                    </div>
            
                                                </div>
                                                
                                            </div>
                                        </div>
                                        <div class="row">
                                                <div class="col-md-4">
                                                    <div class="row">
                                                        <div class="col-md-5"></div>
                                                        <div class="col-md-7">
                                                                <h5 class="m-0 f-500 text-black">Your risk score</h5>
                                                                <div class="ba-3x text-center p-24 mt-12">
                                                                    <h1 class="f-48 m-0">38</h1>
                                                                    <p class="m-0 text-custom f-12 ">Max: 60</p>
                                                                </div>
                                                        </div>
                                                    </div>
                                                        
                                                </div>
                                                <div class="col-md-8">
                                                    <p class="m-0 roboto pb-12 pt-4">Over the next 12 months</p>
                                                    <div class="row">
                                                        <div class="col-md-5 bg-danger pt-12 pl-16 pb-8">
                                                            <div class="row">
                                                                <div class="col-md-10 p-0">
                                                                        <h5 class="m-0 text-white">You’re ok if your portfolio 
                                                                                goes down this much...</h5>
                                                                                <h1 class="m-0 f-32 text-white pt-8">-10%</h1>
                                                                </div>
                                                                <div class="col-md-2 pl-0">
                                                                        <img src="/assets/images/svg/down-arrow.svg">
                                                                </div>
                                                            </div>
                                                           
                                                        </div>
                                                        <div class="col-md-5 bg-success pt-12 pl-16 pb-8">
                                                                <div class="row">
                                                                        <div class="col-md-10 p-0">
                                                                                <h5 class="m-0 text-white">...for a chance of getting
                                                                                        this much</h5>
                                                                                        <h1 class="m-0 f-32 text-white pt-8">10%</h1>
                                                                        </div>
                                                                        <div class="col-md-2 pl-0">
                                                                                <img src="/assets/images/svg/up-arrow.svg">
                                                                        </div>
                                                                    </div>
                                                        </div>
                                                        <div class="col-md-10 pr-0">
                                                                <p class="m-0 text-custom roboto text-right pt-4">with a 95% probability</p>
                                                        </div>
                                                        <div class="col-md-2"></div>
                                                    </div>
                                                    
                                                </div>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h5 class="m-0 f-500 text-black">Equity asset allocation </h5>
                                                <img src="/assets/images/svg/assest-allocation.svg" class="w-100">
                                            </div>
                                        </div>
                                    </div>
                             </div>-->
            </div>

            <div *ngSwitchCase="'tab4'">
                <app-risk-profile></app-risk-profile> 
                <!-- <div class="d-flex justify-content-center mt-150">
                      <div class="row">
                        <div class="col-md-12 text-center">
                            <h3 class="f-22 m-0">Hi Rahul, welcome!</h3>
                            <h5 class="m-0 pt-28 pb-28">Did you know your risk profile score? Find it out here.</h5>
                            <button mat-stroked-button class="btn-primary br-0">Take the test</button>
                        </div>
                      </div>
                      </div> -->
                <!-- <div class="wrapper-28">
                    <div class="row">
                        <div class="col-md-9">
                            <h3 class="m-0 f-500">Your risk profile helps us understand how much investment risk you can
                                take.</h3>
                            <div class="pt-20">
                                <mat-accordion>
                                    <mat-expansion-panel>
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>
                                                1. What is your age?
                                            </mat-panel-title>

                                        </mat-expansion-panel-header>

                                        <mat-radio-group aria-label="Select an option" id="custom-radio">
                                            <mat-radio-button value="1">0-35</mat-radio-button>
                                            <mat-radio-button value="2">36-45</mat-radio-button>
                                            <mat-radio-button value="3">46-55</mat-radio-button>
                                            <mat-radio-button value="4">56-55</mat-radio-button>
                                            <mat-radio-button value="5">>65</mat-radio-button>
                                        </mat-radio-group>



                                    </mat-expansion-panel>
                                    <mat-expansion-panel (opened)="panelOpenState = true"
                                        (closed)="panelOpenState = false" class="mt-12">
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>
                                                2. You have saved for a big vacation.Two weeks before your departure you
                                                lose your job. What would you do?

                                            </mat-panel-title>

                                        </mat-expansion-panel-header>

                                    </mat-expansion-panel>
                                    <mat-expansion-panel class="mt-12">
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>
                                                3. You have a substantial/huge sum of money to spare for about 6 months
                                                after which you need this sum to repay a loan, this sum is currently not
                                                invested anywhere. You would:

                                            </mat-panel-title>

                                        </mat-expansion-panel-header>

                                    </mat-expansion-panel>
                                </mat-accordion>
                            </div>
                            <button mat-stroked-button class="btn-primary mt-150 br-0 right">SUBMIT</button>
                        </div>
                        <div class="col-md-3 pr-0">
                            <div class="p-20 b-primitive mt-8">
                                <mat-progress-bar mode="determinate" value="30"></mat-progress-bar>
                                <h5 class="pt-8 m-0 pt-12 text-center">3 of 15 completed</h5>
                            </div>
                        </div>
                    </div>
                </div> -->
                <button mat-raised-button color="primary" (click)="open('riskProfile')">History</button>
            </div>
            <!-- <div *ngSwitchCase="'tab4'">
              
            </div> -->
        </div>
    </div>
</div>