<div class="popup-header-fix-30">
    <div class="row bb-1 pt-16 pb-16">
        <div class="col-8 d-flex align-items-center p-0">
            <h4 class="mb-0 text-uppercase ml-16">
                Preview document
            </h4>
        </div>
        <div class="col-4 full-end pr-24">

            <i (click)="onNoClick('clear')" class="material-icons c-p"> clear</i>

        </div>
    </div>
</div>
<div class="scrllo-height-505">
    <div *ngIf="selectedElement=='' && !data.bank.content">
        <img src="{{data.bank.imageUrl}}" viewer="google" style="width:100%;">
    </div>
    <div id="dId"></div>
    <div *ngIf="link">
        <ngx-doc-viewer [url]="link" style="height: 100vh;" viewer="google">
        </ngx-doc-viewer>
    </div>
    <div *ngIf="loadSpinner == true">
        <mat-spinner class="loader" [diameter]="30"></mat-spinner>
    </div>
</div>

<div class="popup-footer-fix-bottom-30">
    <div class="row">
        <div class="col-md-12 mt-10 mb-10 text-right">
            <button class="br-0 text-inherit f-14" mat-button [mat-dialog-close]="data.investor">
                CANCEL
            </button>
        </div>
    </div>
</div>