<div class="p-20 overflow-scroll">
    <div class="row bb-half">
        <div class="col-md-12 p-0">
            <h3 class="f-20 mb-28">Map selected folios</h3>

            <p class="f-16 mb-28 roboto f-500">Now mapping folio(s) belonging to investor
                {{ selectedFolioInvestorName }}</p>

            <p class="f-16  mb-4">To map the folio, search the family member of client from the search box below.</p>
            <p class="  mb-20">If you have not created the family member or client from the <span
                    class="f-600"> People > Clients </span> section then they will not show up here. </p>
        </div>
    </div>
    <div class="row pt-40">
        <div class="col-md-12 p-0">
            <h4 class="f-16 mb-0">Family member / Client name</h4>
            <div class="form-group classEmpty">
                <!-- <mat-form-field floatLabel="never" appearance="standard">
                    <input matInput class="form-control">
                 </mat-form-field> -->

                <mat-form-field floatLabel="never" appearance="standard" [formGroup]="searchFamilyOrClientForm">
                    <input class="form-control" matInput placeholder="Start typing to see Family member / Client name"
                        aria-label="State" [matAutocomplete]="auto1" #searchFamilyClientRef
                        formControlName="searchFamilyOrClient" [value]="userNameInput">
                    <mat-autocomplete #auto1="matAutocomplete" [displayWith]="displayFn">
                        <mat-option *ngIf="isLoadingForDropDown" class="is-loading">Loading...
                        </mat-option>
                        <ng-container *ngIf="!isLoadingForDropDown">
                            <mat-option (click)="setUserDetail(item, searchFamilyClientRef.value)"
                                *ngFor="let item of arrayOfFamilyMemberOrClient" [value]="item.showName"
                                [matTooltip]="item.showName" matTooltipPosition="after">
                                <span>
                                    <b>
                                        {{item.showName}}
                                    </b>
                                </span>
                            </mat-option>
                        </ng-container>
                    </mat-autocomplete>
                    <mat-error
                        *ngIf="searchFamilyOrClientForm.get('searchFamilyOrClient').invalid && searchFamilyOrClientForm.get('searchFamilyOrClient').touched">
                        This field is required
                    </mat-error>
                </mat-form-field>
                <br>
                <ng-container *ngIf="arrayOfFamilyMemberOrClientError">
                    <span class="f-12 pt-20">
                        {{errorMsg}}
                    </span>
                </ng-container>

            </div>
        </div>
    </div>

    <div class="row" *ngIf="doShowDetails">
        <div class="col-md-12 p-0">
            <h4 class="f-16 mb-10">Following are the details of <selected fm/client name>
            </h4>

            <div class="bt">
                <div class="row bb p-8 b-l br">
                    <div class="col-md-8 text-left f-14 roboto p-0"> Full name </div>
                    <div class="col-md-4 text-right f-14 roboto p-0"> {{ selectedClientFullName }}</div>
                </div>

                <div class="row bb p-8 b-l br">
                    <div class="col-md-8 text-left f-14 roboto p-0"> Date of birth </div>
                    <div class="col-md-4 text-right f-14 roboto p-0"> {{ selectedClientDob | date: 'mediumDate' }}
                    </div>
                </div>

                <div class="row bb p-8 b-l br">
                    <div class="col-md-8 text-left f-14 roboto p-0"> PAN </div>
                    <div class="col-md-4 text-right f-14 roboto p-0"> {{ selectedClientPan }} </div>
                </div>

                <div class="row bb p-8 b-l br">
                    <div class="col-md-8 text-left f-14 roboto p-0"> Group head’s name </div>
                    <div class="col-md-4 text-right f-14 roboto p-0"> {{ selectedClientGrpHeadName }} </div>
                </div>

                <div class="row bb p-8 b-l br">
                    <div class="col-md-8 text-left f-14 roboto p-0"> Group head’s mobile number </div>
                    <div class="col-md-4 text-right f-14 roboto p-0"> {{ selectedClientGrpHeadMobNum }} </div>
                </div>

                <div class="row bb p-8 b-l br">
                    <div class="col-md-8 text-left f-14 roboto p-0"> Group head’s email </div>
                    <div class="col-md-4 text-right f-14 roboto p-0"> {{ selectedClientGrpHeadEmail }} </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12 d-flex align-items-center mt-16 justify-content-end p-0">
            <button mat-button class="text-primitive f-14" (click)="dialogClose(false)">
                CANCEL
            </button>

            <button mat-button class="text-primary f-14" (click)="mapFolio()">
                SAVE
            </button>
        </div>
    </div>

</div>