.italicText {
    font-style: italic;
}

::ng-deep .classEmpty .mat-form-field-appearance-standard .mat-form-field-flex {
    padding-top: 0px !important;
}

.overflow-scroll{
    overflow-y: scroll;
    height: 100vh;
}