    h5 {
        color: #212121;
    }
    
    span {
        font-size: 12px;
        float: right;
        color: #A0AEB4;
    }
    
    .bottom-fixed {
        z-index: 1 !important;
    }
    
    .form-control.is-invalid {
        background-image: none !important;
        border-color: red !important;
    }
    
     ::ng-deep.event-none {
        .mat-tab-header {
            pointer-events: none !important;
        }
    }
    
    .imgBox {
        width: 230px;
        height: 130px;
    }
    
     ::ng-deep .right-line {
        margin-right: 40px;
        margin-top: 161px;
        height: 0.4px;
        background-color: rgba(233, 234, 236, 0);
        width: 38%;
        right: 0;
        position: absolute;
        padding-right: 20px;
    }
    
    .height75 {
        height: 75px;
    }
    
    .height90 {
        height: 90px;
    }