<div id="ui-customer-container">

  <!-- <div *ngIf="clientId && upperSliderData.state == 'close'"> -->
  <div class="show">
    <img class="img-top" src="https://res.cloudinary.com/futurewise/image/upload/v1566029063/icons_fakfxf.png">
  </div>
  <!--<mat-tab-group [selectedIndex]="selected" animationDuration="0ms" mat-align-tabs="center" id="ui-customer">

      <mat-tab label="OVERVIEW">
        &lt;!&ndash;      <app-plan></app-plan>&ndash;&gt;
      </mat-tab>
      <mat-tab label="ACCOUNTS">
        <app-accounts></app-accounts>
      </mat-tab>
      <mat-tab label="PLAN">
        <app-plan></app-plan>
      </mat-tab>
      <mat-tab label="ACTIVITY">Content 2</mat-tab>
      <mat-tab label="TRANSACT">Content 3</mat-tab>

    </mat-tab-group>-->
  <h1 *ngIf="!clientId">Please select client</h1>
  <div *ngIf="isOverlayVisible" [@dialogContainer]="dialogState" class="custom-overlay">
  </div>
  <div [@upperSliderOpenClose]="upperSliderData.state" class="upper_slider">
    <ng-template #dynamicUpper></ng-template>
  </div>
  <div [@openClose]="currentState" class="right_sidenav">
    <ng-template #dynamic></ng-template>
  </div>
  <nav (selectedTabChange)="tabClick($event)" id="ui-customer" mat-tab-nav-bar>
    <a (click)="value=1" [ngClass]="_value == 1 ?'successBorder': 'danger'"
       [routerLink]="'./overview'" mat-tab-link>OVERVIEW</a>
    <a (click)="value=2" [ngClass]="_value == 2  ?'successBorder': 'danger'"
       [routerLink]="['./account','summary']" mat-tab-link>ACCOUNTS</a>
    <a (click)="value=3" [ngClass]="_value == 3?'successBorder': 'danger'"
       [routerLink]="['./plan','summary']" mat-tab-link>PLAN</a>
    <a (click)="value=4" [ngClass]="_value == 4  ?'successBorder': 'danger'"
       [routerLink]="'./activity'" mat-tab-link>ACTIVITY</a>
    <a (click)="value=5" [ngClass]="_value == 5 ?'successBorder': 'danger'"
       [routerLink]="'./transact'" mat-tab-link>TRANSACT</a>
  </nav>
  <router-outlet></router-outlet>
</div>
<!-- </div> -->

<!--<app-dialog-container [parentComponentName]="'customer'"></app-dialog-container>-->

<!-- <div class="right-side">
  <img src="/src/assets/images/svg/bell.svg">
  <img src="/src/assets/images/svg/bell.svg">
  <img src="/src/assets/images/svg/bell.svg">
</div> -->
