<link href="https://cdn.jsdelivr.net/npm/@css-pkg/circular-std@2.0.0/dist/woff.min.css" rel="stylesheet">
<!-- protfolio mobile screen start -->
<div id="mob-portfolio">
  <div class="row mob-bg-common pb-12 mobtop-navfixed">
    <div class="col-2">
      <span class="material-icons text-white">
      menu
      </span>
    </div>
    <div class="col-7 pl-0">
      <h5 class="m-0 f-18 text-white pt-4">Portfolio</h5>
    </div>
    <div class="col-3 text-right">
      <span class="material-icons text-white">
      search
      </span>
    </div>
  </div> 
  <div class="p-8 pt-80 pb-28">
    <div class="row chart-details">
      <div class="col-12 text-center p-0">
        <p class="mob-text-xs pt-16">Current Value:</p>
        <p class="m-0 pt-4">Rs. 10,29,091</p>
      </div>
      <div class="col-12 p-0 pt-28">
        <img src="/assets/images/svg/chart-mob.svg">
        <div class="row pl-20 pb-16 pt-24">
          <div class="col-6 p-0">
            <div class="row">
              <div class="col-1 p-0">
                <div class="i-1"></div>
              </div>
              <div class="col-11 pr-0 pl-8">
                <p class="f-12 mb-0">Rs. 2,35,098</p>
                <p class="mob-text-xs pt-4">Equity</p>
              </div>
            </div>
          </div>
          <div class="col-6 p-0">
            <div class="row">
              <div class="col-1 p-0">
                <div class="i-2"></div>
              </div>
              <div class="col-11 pr-0 pl-8">
                <p class="f-12 mb-0">Rs. 4,00,500</p>
                <p class="mob-text-xs pt-4">Others</p>
              </div>
            </div>
          </div>
          <div class="col-6 p-0">
            <div class="row pt-20">
              <div class="col-1 p-0">
                <div class="i-3"></div>
              </div>
              <div class="col-11 pr-0 pl-8">
                <p class="f-12 mb-0">Rs. 3,56,500</p>
                <p class="mob-text-xs pt-4">Debt</p>
              </div>
            </div>
          </div>
          <div class="col-6 p-0">
            <div class="row pt-20">
              <div class="col-1 p-0">
                <div class="i-4"></div>
              </div>
              <div class="col-11 pr-0 pl-8">
                <p class="f-12 mb-0">Rs. 1,25,000</p>
                <p class="mob-text-xs pt-4">Solution Oriented</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row pt-28 pb-20">
      <div class="col-md-12 pl-8">
        <p class="m-0 f-16">Asset Breakdown</p>
      </div>
    </div>
    <div class="row breakdown pt-16 pb-16">
      <div class="col-10">
        <div class="row pt-8">
          <div class="col-1 pl-0">
            <div class="mf">MF</div>
          </div>
          <div class="col-11 pl-8">
            <h4 class="m-0">Rs. 10,29,091</h4>
            <p class="f-12 m-0 pt-4">Mutual funds</p>
          </div>
        </div>
      </div>
      <div class="col-2 pl-0 pt-8">
        <button mat-flat-button class="view-all">View all</button>
      </div>
    </div>
    <div class="row pt-16 mob-assets">
      <div class="col-6 pl-0 pr-8">
        <div class="bg-white pb-16">
          <div class="row pt-16 pb-16">
            <div class="col-12">
              <h4 class="m-0 f-18">Rs. 12,600</h4>
            </div>
          </div>
          <div class="row f-nowrap">
            <div class="col-2">
              <div class="st">ST</div>
            </div>
            <div class="col-10">
              <p class="m-0 pt-4">Stocks</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6 pl-8 pr-0">
        <div class="bg-white pb-16">
          <div class="row pt-16 pb-16">
            <div class="col-12">
              <h4 class="m-0 f-18">Rs. 10,29,600</h4>
            </div>
          </div>
          <div class="row f-nowrap">
            <div class="col-2">
              <div class="fi">FI</div>
            </div>
            <div class="col-10">
              <p class="m-0 pt-4">Fix income</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row pt-16 mob-assets">
      <div class="col-6 pl-0 pr-8">
        <div class="bg-white pb-16">
          <div class="row pt-16 pb-16">
            <div class="col-12">
              <h4 class="m-0 f-18">Rs. 12,600</h4>
            </div>
          </div>
          <div class="row f-nowrap">
            <div class="col-2">
              <div class="re">ST</div>
            </div>
            <div class="col-10">
              <p class="m-0 pt-4">Real estate</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6 pl-8 pr-0">
        <div class="bg-white pb-16">
          <div class="row pt-16 pb-16">
            <div class="col-12">
              <h4 class="m-0 f-18">Rs. 10,29,600</h4>
            </div>
          </div>
          <div class="row f-nowrap">
            <div class="col-2">
              <div class="ra">FI</div>
            </div>
            <div class="col-10">
              <p class="m-0 pt-4 ws-nowrap">Retirement A/c</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row pt-16 mob-assets">
      <div class="col-6 pl-0 pr-8">
        <div class="bg-white pb-16">
          <div class="row pt-16 pb-16">
            <div class="col-12">
              <h4 class="m-0 f-18">Rs. 12,600</h4>
            </div>
          </div>
          <div class="row f-nowrap">
            <div class="col-2">
              <div class="sss">ST</div>
            </div>
            <div class="col-10">
              <p class="m-0 pt-4 ws-nowrap">Small saving</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6 pl-8 pr-0">
        <div class="bg-white pb-16">
          <div class="row pt-16 pb-16">
            <div class="col-12">
              <h4 class="m-0 f-18">Rs. 12,600</h4>
            </div>
          </div>
          <div class="row f-nowrap">
            <div class="col-2">
              <div class="ca">CA</div>
            </div>
            <div class="col-10">
              <p class="m-0 pt-4">Cash & Bank</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row pt-16 mob-assets">
      <div class="col-6 pl-0 pr-8">
        <div class="bg-white pb-16">
          <div class="row pt-16 pb-16">
            <div class="col-12">
              <h4 class="m-0 f-18">Rs. 12,600</h4>
            </div>
          </div>
          <div class="row f-nowrap">
            <div class="col-2">
              <div class="commodities">C</div>
            </div>
            <div class="col-10">
              <p class="m-0 pt-4">Commodities</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6 pl-8 pr-0">
        <div class="bg-white pb-16">
          <div class="row pt-16 pb-16">
            <div class="col-12">
              <h4 class="m-0 f-18">Rs. 10,29,600</h4>
            </div>
          </div>
          <div class="row f-nowrap">
            <div class="col-2">
              <div class="liabi">L</div>
            </div>
            <div class="col-10">
              <p class="m-0 pt-4">Libilities</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row pt-16 mob-assets">
      <div class="col-6 pl-0 pr-8">
        <div class="bg-white pb-16">
          <div class="row pt-16 pb-16">
            <div class="col-12">
              <h4 class="m-0 f-18">Rs. 10,29,600</h4>
            </div>
          </div>
          <div class="row f-nowrap">
            <div class="col-2">
              <div class="insur">I</div>
            </div>
            <div class="col-10">
              <p class="m-0 pt-4">Insurnace</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6 pr-0 pl-8">
        <div class="bg-white pb-16">
          <div class="row pt-16 pb-16">
            <div class="col-12">
              <h4 class="m-0 f-18">Rs. 10,29,600</h4>
            </div>
          </div>
          <div class="row f-nowrap">
            <div class="col-2">
              <div class="insur">GI</div>
            </div>
            <div class="col-10">
              <p class="m-0 pt-4">General Insurance</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--   <div class="row">
    <div class="col-2">
      <img src="/assets/images/svg/home.svg">
    </div>
    <div class="col-2">
       <img src="/assets/images/svg/home.svg">
    </div>
    <div class="col-2">
       <img src="/assets/images/svg/home.svg">
    </div>
    <div class="col-2">
       <img src="/assets/images/svg/home.svg">
    </div>
    <div class="col-2">
       <img src="/assets/images/svg/home.svg">
    </div>
    </div> -->
  <ul class="mob-footer">
    <li><img src="/assets/images/svg/home.svg"></li>
    <li><img src="/assets/images/svg/mob-2.svg"></li>
    <li>
      <div class="mob-add-center">
        <span class="material-icons text-white">
        add
        </span>
      </div>
    </li>
    <li><img src="/assets/images/svg/mob-4.svg"></li>
    <li><img src="/assets/images/svg/mob-5.svg"></li>
  </ul>
</div>
<!-- end protfolio  -->
<!-- Mutul funds -->
<!--  <div id="mob-mutualfunds">
  <div class="row mob-bg-common pb-12 mobtop-navfixed">
    <div class="col-2">
      <span class="material-icons text-white">
      menu
      </span>
    </div>
    <div class="col-7 pl-0">
      <h5 class="m-0 f-18 text-white pt-4">Mutual Funds</h5>
    </div>
    <div class="col-3 text-right">
      <span class="material-icons text-white">
      search
      </span>
    </div>
  </div>
  <div class="pt-80 p-8 pb-20">
    <div class="row bg-white pt-20 pb-20">
      <div class="col-2">
        <div class="mf">MF</div>
      </div>
      <div class="col-10 pl-8">
        <p class="m-0 f-10">Mutual Funds Current Value:</p>
        <h4 class="f-22 m-0">Rs. 24,98,098</h4>
      </div>
    </div>
    <div class="mt-16">
      <div class="row pt-16 pb-16 bg-white">
        <div class="col-4 mob-br-1">
          <p class="mob-text-xs">Amt. Invested</p>
          <p class="pt-4 m-0">Rs. 10,29,091</p>
        </div>
        <div class="col-4 mob-br-1">
          <p class="mob-text-xs">Amt. Invested</p>
          <p class="pt-4 m-0 mob-text-success">Rs. 10,29,091</p>
        </div>
        <div class="col-4">
          <p class="mob-text-xs">Amt. Invested</p>
          <p class="pt-4 m-0 mob-text-success">Rs. 10,29,091</p>
        </div>
      </div>
    </div>
    <div class="row pt-28 pb-16">
      <div class="col-md-12">
        <p class="m-0">Scheme Details</p>
      </div>
    </div>
    <div class="bg-white">
      <div class="row pt-16 pb-16">
        <div class="col-11">
          <p class="f-13 mb-0">Canara Robecco Emerging Equity Fund Growth</p>
          <div class="row pt-12">
            <div class="col-6 mob-br-1 p-0">
              <p class="mob-text-xs">Amt. Invested</p>
              <p class="m-0 f-13 pt-4">Rs. 81,21,50,000</p>
            </div>
            <div class="col-6 pr-0">
              <p class="mob-text-xs">XIRR</p>
              <p class="m-0 f-13 pt-4 mob-text-success">9.67%</p>
            </div>
          </div>
        </div>
        <div class="col-1 pl-0 pt-28">
          <img src="/assets/images/svg/mob-down-arrow.svg">
        </div>
      </div>
    </div>
    <div class="mt-16">
      <div class="bg-white">
        <div class="row pt-16 pb-16">
          <div class="col-11">
            <p class="f-13 mb-0">Reliance Agro Fund</p>
            <div class="row pt-12">
              <div class="col-6 mob-br-1 p-0">
                <p class="mob-text-xs">Amt. Invested</p>
                <p class="m-0 f-13 pt-4">Rs. 81,21,50,000</p>
              </div>
              <div class="col-6 pr-0">
                <p class="mob-text-xs">XIRR</p>
                <p class="m-0 f-13 pt-4 mob-text-success">9.67%</p>
              </div>
            </div>
          </div>
          <div class="col-1 pl-0 pt-28">
            <img src="/assets/images/svg/mob-up-arrow.svg">
          </div>
        </div>
    
      <div class="mob-bg-success">
  
        <div class="row pt-16">
          <div class="col-4 pr-0">
            <p class="m-0 mob-wbb">Sunanda Singh</p>
          </div>
          <div class="col-4 pl-0">
            <p class="mob-text-xs">Folio - 123345454</p>
          </div>
        </div>
        <div class="row pt-12 pb-16">
            <div class="col-4 mob-br-success-1">
          <p class="mob-text-xs">Amt. Invested</p>
          <p class="pt-4 m-0">Rs. 10,29,091</p>
        </div>
        <div class="col-4 mob-br-success-1">
          <p class="mob-text-xs">Gain/Loss</p>
          <p class="pt-4 m-0 mob-text-success">Rs. 10,29,091</p>
        </div>
        <div class="col-3">
          <p class="mob-text-xs">Returns</p>
          <p class="pt-4 m-0 mob-text-success">9.25%</p>
        </div>
        <div class="col-1 pl-0">
           <img src="/assets/images/svg/mob-right-arrow-selected.svg">
        </div>
        </div>
      
      </div>
        <div class="mt-4 mob-bg-success">
           <div class="row pt-16">
          <div class="col-4 pr-0">
            <p class="m-0 mob-wbb">Sunanda Singh</p>
          </div>
          <div class="col-4 pl-0">
            <p class="mob-text-xs">Folio - 123345454</p>
          </div>
        </div>
           <div class="row pt-12 pb-16">
            <div class="col-4 mob-br-success-1">
          <p class="mob-text-xs">Amt. Invested</p>
          <p class="pt-4 m-0">Rs. 10,29,091</p>
        </div>
        <div class="col-4 mob-br-success-1">
          <p class="mob-text-xs">Gain/Loss</p>
          <p class="pt-4 m-0 mob-text-success">Rs. 10,29,091</p>
        </div>
        <div class="col-3">
          <p class="mob-text-xs">Returns</p>
          <p class="pt-4 m-0 mob-text-success">9.25%</p>
        </div>
        <div class="col-1 pl-0">
           <img src="/assets/images/svg/mob-right-arrow-selected.svg">
        </div>
        </div>
        </div>
    </div>
      </div>
  </div>
  </div> -->
<!-- End Mutul funds -->
<!-- full Scheme Details screen -->
<!-- <div id="mob-schemes">
  <div class="bg-white br-0">
    <div class="row mob-bg-common pb-12 mobtop-navfixed">
    <div class="col-2">
      <span class="material-icons text-white">
      keyboard_backspace
      </span>
    </div>
  </div>
  <div class="pt-80">
    <div class="row pb-20">
      <div class="col-3">
        <img src="/assets/images/svg/relince.svg">
      </div>
      <div class="col-6 p-0">
        <p class="m-0 lh-24 pt-2">Motilal Oswal NASDAQ 100 Exchange Traded Fund</p>
      </div>
    </div>
    <div class="mob-bg-success">
     <div class="row pt-16">
          <div class="col-8">
            <p class="m-0">Sunanda Singh</p>
          </div>
          <div class="col-4 pl-0">
            <p class="m-0 ws-nowrap">Folio - 123345454</p>
          </div>
        </div>
        <div class="row pt-12 pb-16">
            <div class="col-4 mob-br-success-1">
          <p class="mob-text-xs">Amt. Invested</p>
          <p class="pt-4 m-0">Rs. 10,29,091</p>
        </div>
        <div class="col-4 mob-br-success-1">
          <p class="mob-text-xs">Gain/Loss</p>
          <p class="pt-4 m-0 mob-text-success">Rs. 10,29,091</p>
        </div>
        <div class="col-4">
          <p class="mob-text-xs">Returns</p>
          <p class="pt-4 m-0 mob-text-success">9.25%</p>
        </div>
    
        </div>
  </div>
  </div>
  <div class="mt-4 mb-20">
    <div class="row mob-bg-success pt-16 pb-16">
      <div class="col-8">
        <p class="mob-text-xs f-14">Dividend Earned</p>
      </div>
      <div class="col-4 pl-0">
        <p class="m-0">Rs. 12,10,29,091</p>
      </div>
    </div>
  </div>
  </div>
  <div class="p-8">
    <div class="row bg-white pt-12">
      <div class="col-6 pl-8">
        <p class="mob-text-xs">NAV (09 Nov 2018)</p>
        <h5 class="m-0 f-16 mob-text-success">Rs. 24.53</h5>
      </div>
      <div class="col-6">
         <p class="mob-text-xs">Units</p>
        <h5 class="m-0 f-16">40.009</h5>
      </div>
      <div class="col-12">
        <img src="/assets/images/svg/mob-line-chart.svg" class="pt-40 pb-20 w-100">
      </div>
    </div>
    <p class="mob-text-xs pt-12">*Mutual Funds Investments are subject to market risks, please read the Offer Document carefully before investing. </p>
    <h4 class="m-0 pt-28 pb-16">Transaction History</h4>
    <div class="bg-white">
    <div class="row pt-20 pb-20">
      <div class="col-7 pr-0">
        <div class="row">
        <div class="col-1 pl-0">
          <div class="circular-small"></div>
        </div>
        <div class="col-11">
          <p class="f-11 m-0">Purchase</p>
          <p class="mob-text-xs pt-4">Units : 23.987</p>
        </div>
      </div>
      </div>
      <div class="col-5 text-right">
        <p class="m-0 pr-4">Rs. 1,50,000</p>
        <p class="mob-text-xs pt-4 pr-4">27/01/2018</p>
      </div>
    </div>
    <hr>
      <div class="row pt-20 pb-20">
      <div class="col-7 pr-0">
        <div class="row">
        <div class="col-1 pl-0">
          <div class="circular-small"></div>
        </div>
        <div class="col-11">
          <p class="f-11 m-0">Redeem</p>
          <p class="mob-text-xs pt-4">Units : 23.987</p>
        </div>
      </div>
      </div>
      <div class="col-5 text-right">
        <p class="m-0 pr-4">Rs. 10,000</p>
        <p class="mob-text-xs pt-4 pr-4">27/01/2018</p>
      </div>
    </div>
    <hr> 
    <div class="row pt-20 pb-20">
      <div class="col-7 pr-0">
        <div class="row">
        <div class="col-1 pl-0">
          <div class="circular-small"></div>
        </div>
        <div class="col-11">
          <p class="f-11 m-0">SIP</p>
          <p class="mob-text-xs pt-4">Units : 23.987</p>
        </div>
      </div>
      </div>
      <div class="col-5 text-right">
        <p class="m-0 pr-4">Rs. 10,000</p>
        <p class="mob-text-xs pt-4 pr-4">27/01/2018</p>
      </div>
    </div>
    <hr>
     <div class="row pt-20 pb-20">
      <div class="col-7 pr-0">
        <div class="row">
        <div class="col-1 pl-0">
          <div class="circular-small"></div>
        </div>
        <div class="col-11">
          <p class="f-11 m-0">Dividend Re-Investment</p>
          <p class="mob-text-xs pt-4">Units : 23.987</p>
        </div>
      </div>
      </div>
      <div class="col-5 text-right">
        <p class="m-0 pr-4">Rs. 10,000</p>
        <p class="mob-text-xs pt-4 pr-4">27/01/2018</p>
      </div>
    </div>
    <hr>
    <div class="row pt-20 pb-20">
      <div class="col-7 pr-0">
        <div class="row">
        <div class="col-1 pl-0">
          <div class="circular-small"></div>
        </div>
        <div class="col-11">
          <p class="f-11 m-0">Purchase</p>
          <p class="mob-text-xs pt-4">Units : 23.987</p>
        </div>
      </div>
      </div>
      <div class="col-5 text-right">
        <p class="m-0 pr-4">Rs. 1,50,000</p>
        <p class="mob-text-xs pt-4 pr-4">27/01/2018</p>
      </div>
    </div>
    <hr>
    <div class="row pt-20 pb-20">
      <div class="col-7 pr-0">
        <div class="row">
        <div class="col-1 pl-0">
          <div class="circular-small"></div>
        </div>
        <div class="col-11">
          <p class="f-11 m-0">Purchase</p>
          <p class="mob-text-xs pt-4">Units : 23.987</p>
        </div>
      </div>
      </div>
      <div class="col-5 text-right">
        <p class="m-0 pr-4">Rs. 1,50,000</p>
        <p class="mob-text-xs pt-4 pr-4">27/01/2018</p>
      </div>
    </div>
    <hr>
    <div class="row pt-20 pb-20">
      <div class="col-7 pr-0">
        <div class="row">
        <div class="col-1 pl-0">
          <div class="circular-small"></div>
        </div>
        <div class="col-11">
          <p class="f-11 m-0">Purchase</p>
          <p class="mob-text-xs pt-4">Units : 23.987</p>
        </div>
      </div>
      </div>
      <div class="col-5 text-right">
        <p class="m-0 pr-4">Rs. 1,50,000</p>
        <p class="mob-text-xs pt-4 pr-4">27/01/2018</p>
      </div>
    </div>
    <hr>      
  </div>
  <div class="mob-add">
    <span class="material-icons text-white">
  add
  </span>
  </div>
  </div>
  </div> -->
<!-- end full Scheme Details screen -->
<!-- Transaction Details -->
<!-- <div id="mob-transactiondetails">
  <div class="row mob-bg-common pb-12 mobtop-navfixed">
    <div class="col-2">
      <span class="material-icons text-white">
      keyboard_backspace
      </span>
    </div>
    <div class="col-7 p-0">
      <h5 class="m-0 f-18 text-white pt-4">Transaction Details</h5>
    </div>
  </div>
  
  <div class="pt-80 p-8 h-100vh">
    <div class="bg-white">
      <div class="row pt-20 pb-20">
        <div class="col-2">
           <div class="circular-small hw-34"></div>
        </div>
        <div class="col-10 pl-0 pt-4">
          <p class="m-0">Reliance Equity Fund</p>
          <p class="mob-text-success mb-0 pt-10"> Purchase</p>
        </div>
      </div>
    </div>
    <div class="pt-16">
      <div class="bg-white">
        <div class="row pt-20 pb-20">
          <div class="col-8">
            <p class="mob-text-xs f-14">Transaction Date</p>
             <p class="mob-text-xs f-14 pt-24">Transaction Type</p>
             <p class="mob-text-xs f-14 pt-24">Units</p>
             <p class="mob-text-xs f-14 pt-24">NAV</p>
             <p class="mob-text-xs f-14 pt-24">Amount</p>
          </div>
           <div class="col-4 text-right pl-0">
             <p class="m-0">30 Jan 2018</p>
               <p class="m-0 pt-24">Purchase</p>
               <p class="m-0 pt-24">40.003</p>
               <p class="m-0 pt-24">98.876</p>
               <p class="m-0 pt-24">Rs. 12,10,29,091</p>
           </div>
        </div>
      </div>
    </div>
  </div>
  </div> -->
<!-- Fixed income -->
<!-- <div id="mob-fixed-income">
  <div class="row mob-bg-common pb-12 mobtop-navfixed">
    <div class="col-2">
      <span class="material-icons text-white">
      keyboard_backspace
      </span>
    </div>
    <div class="col-7 p-0">
      <h5 class="m-0 f-18 text-white pt-4">Fixed income</h5>
    </div>
    <div class="col-3 text-right">
      <span class="material-icons text-white">
      filter_list
      </span>
    </div>
  </div>
    <div class="pt-80 p-8 h-100vh">
    <div class="bg-white">
      <div class="row pt-20 pb-20">
        <div class="col-2">
           <div class="mf hw-40 f-14 pt-16">FI</div>
        </div>
        <div class="col-10 pl-8 pt-4">
          <p class="m-0 f-10">Current Value:</p>
          <h3 class="mob-text-success mb-0 pt-4"> Rs. 10,29,091</h3>
        </div>
      </div>
    </div>
  <div class="pt-16">
      <div class="bg-white">
        <div class="row pt-20 pb-20 mob-bb-1">
          <div class="col-8">
            <p class="mb-0">Fixed deposit</p>
          </div>
          <div class="col-4 text-right">
            <p class="m-0">₹5,00,000</p>
          </div>
        </div>
        <div class="row pt-20 pb-20 mob-bb-1">
          <div class="col-8">
            <p class="mb-0">Recurring deposit</p>
          </div>
          <div class="col-4 text-right">
            <p class="m-0">₹3,00,000</p>
          </div>
        </div>
        <div class="row pt-20 pb-20 mob-bb-1">
          <div class="col-8">
            <p class="mb-0">Bonds</p>
          </div>
          <div class="col-4 text-right">
            <p class="m-0">₹2,29,091</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div> -->
<!-- 
  end fixed income -->
<!-- fixed desposits -->
<!-- <div id="mob-fixed-income">
  <div class="row mob-bg-common pb-12 mobtop-navfixed">
    <div class="col-2">
      <span class="material-icons text-white">
      keyboard_backspace
      </span>
    </div>
    <div class="col-7 p-0">
      <h5 class="m-0 f-18 text-white pt-4">Fixed deposits</h5>
    </div>
    <div class="col-3 text-right">
      <span class="material-icons text-white">
      filter_list
      </span>
    </div>
  </div>
  <div class="pt-80 p-8 h-100vh">
    <div class="pt-16">
      <div class="bg-white">
        <div class="row pt-20 pb-20 mob-bb-1">
          <div class="col-8">
            <p class="mb-0">ICICI bank  |  908908484</p>
          </div>
          <div class="col-4 text-right">
            <p class="m-0">₹5,00,000</p>
          </div>
        </div>
        <div class="row pt-20 pb-20 mob-bb-1">
          <div class="col-8">
            <p class="mb-0">HDFC bank</p>
          </div>
          <div class="col-4 text-right">
            <p class="m-0">₹3,00,000</p>
          </div>
        </div>
        <div class="row pt-20 pb-20 mob-bb-1">
          <div class="col-8">
            <p class="mb-0">Kotak mahindra</p>
          </div>
          <div class="col-4 text-right">
            <p class="m-0">₹1,50,000</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div> -->
<!-- end fixed desposits -->
<!-- fixed desposits icici bank screen -->
<!-- <div id="mob-fixed-income">
  <div class="row mob-bg-common pb-12 mobtop-navfixed">
    <div class="col-2">
      <span class="material-icons text-white">
      keyboard_backspace
      </span>
    </div>
    <div class="col-7 p-0">
      <h5 class="m-0 f-18 text-white pt-4">Fixed deposits</h5>
    </div>
    <div class="col-3 text-right">
      <span class="material-icons text-white">
      filter_list
      </span>
    </div>
  </div>
  <div class="pt-80 p-8">
      <div class="bg-white">
        <div class="row pt-12 pb-12">
          <div class="col-2">
            <div class="circular-small"></div>
          </div>
          <div class="col-7 pl-0">
            <p class="mb-0 pt-8">ICICI bank</p>
          </div>
          <div class="col-3 text-right pl-0">
            <p class="m-0 pt-8">₹2,00,000</p>
          </div>
        </div>
      </div>
      <div class="pt-16">
       <div class="bg-white">
        <div class="row pt-20 pb-20">
          <div class="col-7">
            <p class="mob-text-xs f-14">Owner</p>
            <p class="mob-text-xs f-14 pt-24">Co-owner 1</p>
            <p class="mob-text-xs f-14 pt-24">Co-owner 1</p>
            <p class="mob-text-xs f-14 pt-24">Type of FD</p>
            <p class="mob-text-xs f-14 pt-24">Amount invested</p>
            <p class="mob-text-xs f-14 pt-24">Commencement date</p>
            <p class="mob-text-xs f-14 pt-24">Interest rate</p>
            <p class="mob-text-xs f-14 pt-24">Maturity Date</p>
            <p class="mob-text-xs f-14 pt-24">Interest payout option</p>
            <p class="mob-text-xs f-14 pt-24">Frequency of payout per year</p>
            <p class="mob-text-xs f-14 pt-12">Ownership type</p>
            <p class="mob-text-xs f-14 pt-24">Current value</p>
            <p class="mob-text-xs f-14 pt-24">Maturity value</p>
            <p class="mob-text-xs f-14 pt-24">FD number</p>
            <p class="mob-text-xs f-14 pt-24">Bank account number</p>
            <p class="mob-text-xs f-14 pt-24">Institution name</p>
             <p class="mob-text-xs f-14 pt-24">Description</p>
          </div>
          <div class="col-5 text-right pl-0">
            <p class="m-0">Rahul Jain</p>
            <p class="m-0 pt-24">Shilpa Jain</p>
            <p class="m-0 pt-24">Corporate FD</p>
            <p class="m-0 pt-24">₹10000</p>
            <p class="m-0 pt-24">01/03/2019</p>
            <p class="m-0 pt-24">6%</p>
            <p class="m-0 pt-24">01/04/2020</p>
            <p class="m-0 pt-24">Interest payout</p>
            <p class="m-0 pt-24">Yearly</p>
            <p class="m-0 pt-24">Single</p>
            <p class="m-0 pt-12">₹10000</p>
            <p class="m-0 pt-24">₹10600</p>
            <p class="m-0 pt-24 wb">fd2155gtt445jjj5555</p>
            <p class="m-0 pt-24">-</p>
            <p class="m-0 pt-24">-</p>
            <p class="m-0 pt-24">This is a very long description. Let's see how you handle it</p>
          </div>
        </div>
      </div>
      </div>
  </div>
  </div> -->