.show {
  z-index: 999;
}

.img-top {
  position: fixed;
  width: 18% !important;

}

.right-side img {
  right: 0;
  position: fixed;
  z-index: 9999;
}

::ng-deep .headerClassNav .mat-tab-link {
  height: 65px;
  min-width: auto;
  border-bottom: 5px solid #fff;
}


.successBorder {
  border-bottom: 1px solid #008FFF;
  color: #008FFF !important;
  opacity: 1;
  border-bottom: 5px solid;
  margin-bottom: -5px;
}

#ui-router-outlet {
  z-index: 10;
}


#ui-customer-container .mat-tab-link.active {
  background-color: transparent !important;
  border-bottom: 4px solid #008FFF !important;
  color: #008FFF !important
}

#ui-customer-container .mat-tab-link {
  color: #595252 !important;
  border-bottom: 4px solid transparent;
  width: 120px !important;
  background: transparent !important;
}
