<div id="ui-customer-container">

    <div class="col-md-12">
        <!-- <h1 *ngIf="!clientId">Please select client</h1> -->
        <div *ngIf="isOverlayVisible" [@dialogContainer]="dialogState" class="custom-overlay" (click)="close()">
        </div>
        <div [@upperSliderOpenClose]="upperSliderData.state" class="upper_slider">
            <ng-template #dynamicUpper></ng-template>
        </div>
        <div [@openClose]="currentState" class="right_sidenav">
            <ng-template #dynamic></ng-template>
        </div>
    </div>
    <div class="row" id="ui-customer">
        <div class="col-md-2 p-0 d-flex align-items-center c-p" (click)="goHome()">
            <img class="w-100" src="https://res.cloudinary.com/futurewise/image/upload/v1566029063/icons_fakfxf.png">
        </div>
        <div class="col-md-8">
            <nav mat-tab-nav-bar>
                <a [routerLink]="['/customer/detail/overview']" routerLinkActive="successBorder"
                    mat-tab-link>OVERVIEW</a>
                <a [routerLink]="['/customer/detail/account']" routerLinkActive="successBorder"
                    mat-tab-link>PORTFOLIO</a>
                <a class="planWidth" [routerLink]="['/customer/detail/plan']" routerLinkActive="successBorder"
                    mat-tab-link>PLAN</a>
                <a [routerLink]="['/customer/detail/activity']" routerLinkActive="successBorder"
                    mat-tab-link>ACTIVITY</a>
                <a [routerLink]="['/customer/detail/transact']" mat-tab-link
                    routerLinkActive="successBorder">TRANSACT</a>
            </nav>
        </div>
        <div
            class="col-md-2 hide-on-800 d-flex align-items-center justify-content-end right-fixed tablate-none ng-tns-c1-0">
            <nav mat-tab-nav-bar>
                <a class="sidenav-link" mat-list-item *ngIf="user.userType == 1">
                    <img [src]="authService.profilePic" [matMenuTriggerFor]="menu" class="c-p header-img">
                    <mat-menu #menu="matMenu">
                        <button (click)="logout()" mat-menu-item>Logout</button>
                    </mat-menu>
                </a>
                <a class="sidenav-link" mat-list-item *ngIf="user.userType == 2">
                    <img [src]="'/assets/images/svg/comment-icon.svg'" [matMenuTriggerFor]="menu"
                        class="c-p header-img">
                    <mat-menu #menu="matMenu">
                        <button (click)="logout()" mat-menu-item>Logout</button>
                    </mat-menu>
                </a>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 p-0">
            <router-outlet></router-outlet>
            <ng-template>
                <router-outlet></router-outlet>
            </ng-template>
        </div>
    </div>

</div>