<link href="https://cdn.jsdelivr.net/npm/@css-pkg/circular-std@2.0.0/dist/woff.min.css" rel="stylesheet">
<!-- transactions search -->
<!-- <div id="mob-transactions-search" class="h-100vh mob-transaction-search">
  <div class="row bg-white br-0">
    <div class="col-12">
      <div class="form-group mb-0">
        <mat-form-field floatLabel="never">
          <input type="text"
          value="Search Funds"
          aria-label="Number"
          matInput
          [formControl]="myControl"
          [matAutocomplete]="auto">
          <span class="material-icons" matPrefix>keyboard_backspace</span>
          <mat-icon matSuffix>clear</mat-icon>
          <mat-autocomplete #auto="matAutocomplete" class="w-100">
            <mat-option [value]="option" class="p-0">
              <div class="row">
                <div class="col-2">
                  <mat-icon matSuffix class="text-custom">search</mat-icon>
                </div>
                <div class="col-10 pl-0">
                  <p class="m-0 pt-20 text-custom">Reliance</p>
                </div>
              </div>
            </mat-option>
            <mat-option [value]="option" class="p-0">
              <div class="row">
                <div class="col-2">
                  <mat-icon matSuffix class="text-custom">search</mat-icon>
                </div>
                <div class="col-10 pl-0">
                  <p class="m-0 pt-20 text-custom">Reliance Equity Large cap fund - Growth</p>
                </div>
              </div>
            </mat-option>
            <mat-option [value]="option" class="p-0">
              <div class="row">
                <div class="col-2">
                  <mat-icon matSuffix class="text-custom">search</mat-icon>
                </div>
                <div class="col-10 pl-0">
                  <p class="m-0 pt-20 text-custom">Reliance Liquid Debt fund - Regular plan</p>
                </div>
              </div>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="row pt-20">
    <div class="col-12">
      <p class="m-0 lh-22">Quick Search</p>
    </div>
    <div class="col-12">
      <p class="m-0 pt-24 pb-10 lh-22">Category</p>
      <div class="quick-search-button">
         <button mat-stroked-button class="mr-12 mb-12 mob-btn-selected">Equity</button>
         <button mat-stroked-button class="mr-12 mb-12">Debt</button>
         <button mat-stroked-button class="mr-12 mb-12">Taxsaving</button>
      </div>
    </div>
  </div>
   <div class="row">
    <div class="col-12">
      <p class="m-0 pt-24 pb-10 lh-22">Sub Category</p>
      <div class="quick-search-button">
         <button mat-stroked-button class="mr-12 mb-12 mob-btn-selected">Growth</button>
         <button mat-stroked-button class="mr-12 mb-12">Dividend</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p class="m-0 pt-24 pb-10 lh-22">Fund House</p>
      <div class="quick-search-button">
         <button mat-stroked-button class="mr-12 mb-12">ICICI Pru</button>
         <button mat-stroked-button class="mr-12 mb-12">DSP Blackrock</button>
         <button mat-stroked-button class="mr-12 mb-12 mob-btn-selected">Reliance</button>
         <button mat-stroked-button class="mr-12 mb-12">Sundaram</button>
          <button mat-stroked-button class="mr-12 mb-12">Birla Sunlife</button>
         <button mat-stroked-button class="mr-12 mb-12">Pramerica</button>
      </div>
    </div>
  </div>
  <div class="row mob-bottom-search">
    <div class="col-12">
      <mat-form-field floatLabel="never">
    <mat-label>Clear All</mat-label>
    <input matInput placeholder="Placeholder">
     <button mat-stroked-button class="btn-search" matSuffix>Search</button>
  </mat-form-field>
    </div>
  </div>
  </div> -->
<!-- serach result -->
<!-- <div id="transactions-searchresult" class="mob-transaction-search">
  <div class="row bg-white br-0">
    <div class="col-12">
      <div class="form-group mb-0">
        <mat-form-field floatLabel="never">
          <input type="text"
          value="Search Funds"
          aria-label="Number"
          matInput
          [formControl]="myControl"
          [matAutocomplete]="auto">
          <span class="material-icons" matPrefix>keyboard_backspace</span>
          <mat-icon matSuffix>clear</mat-icon>
          <mat-autocomplete #auto="matAutocomplete" class="w-100">
            <mat-option [value]="option" class="p-0">
              <div class="row">
                <div class="col-2">
                  <mat-icon matSuffix class="text-custom">search</mat-icon>
                </div>
                <div class="col-10 pl-0">
                  <p class="m-0 pt-20 text-custom">Reliance</p>
                </div>
              </div>
            </mat-option>
            <mat-option [value]="option" class="p-0">
              <div class="row">
                <div class="col-2">
                  <mat-icon matSuffix class="text-custom">search</mat-icon>
                </div>
                <div class="col-10 pl-0">
                  <p class="m-0 pt-20 text-custom">Reliance Equity Large cap fund - Growth</p>
                </div>
              </div>
            </mat-option>
            <mat-option [value]="option" class="p-0">
              <div class="row">
                <div class="col-2">
                  <mat-icon matSuffix class="text-custom">search</mat-icon>
                </div>
                <div class="col-10 pl-0">
                  <p class="m-0 pt-20 text-custom">Reliance Liquid Debt fund - Regular plan</p>
                </div>
              </div>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="row pt-20 pb-16">
    <div class="col-8 pl-8">
      <p class="m-0 pt-4">Equity Funds</p>
    </div>
    <div class="col-4 text-right">
       <button mat-stroked-button class="view-all">View All</button>
    </div>
  </div>
  <div class="mt-16">
    <div class="p-8">
    <div class="row pt-16 pb-16 bg-white">
      <div class="col-2 pt-4">
        <div class="circular-small"></div>
      </div>
      <div class="col-7 pl-0">
        <p class="m-0 f-11 pb-6">Reliance Equity Fund</p>
        <button mat-stroked-button class="eql-btn" matSuffix>Equity - Largecap</button>
      </div>
      <div class="col-3 pl-0 text-right">
        <p class="mob-text-xs">% XIRR (Yly)</p>
        <p class="m-0 text-success pt-12">9.25%</p>
      </div>
    </div>
  
    <div class="mt-8">
    <div class="row pt-16 pb-16 bg-white">
      <div class="col-2 pt-4">
        <div class="circular-small"></div>
      </div>
      <div class="col-7 pl-0">
        <p class="m-0 f-11 pb-6">Reliance Quantum Fund</p>
        <button mat-stroked-button class="eql-btn" matSuffix>Equity - Largecap</button>
      </div>
      <div class="col-3 pl-0 text-right">
        <p class="mob-text-xs">% XIRR (Yly)</p>
        <p class="m-0 text-success pt-12">9.25%</p>
      </div>
    </div>
  </div>
    <div class="mt-8">
    <div class="row pt-16 pb-16 bg-white">
      <div class="col-2 pt-4">
        <div class="circular-small"></div>
      </div>
      <div class="col-7 pl-0">
        <p class="m-0 f-11 pb-6">Reliance Top 100 Fund</p>
        <button mat-stroked-button class="eql-btn" matSuffix>Equity - Largecap</button>
      </div>
      <div class="col-3 pl-0 text-right">
        <p class="mob-text-xs">% XIRR (Yly)</p>
        <p class="m-0 text-success pt-12">9.25%</p>
      </div>
    </div>
  </div>
    <div class="row pt-36 pb-16">
    <div class="col-8 pl-8">
      <p class="m-0 pt-4">Debt Funds</p>
    </div>
    <div class="col-4 text-right">
       <button mat-stroked-button class="view-all">View All</button>
    </div>
  </div>
      <div class="mt-16">
    <div class="row pt-16 pb-16 bg-white">
      <div class="col-2 pt-4">
        <div class="circular-small"></div>
      </div>
      <div class="col-7 pl-0">
        <p class="m-0 f-11 pb-6">Reliance Top 100 Fund</p>
        <button mat-stroked-button class="debt-btn" matSuffix>Debt</button>
      </div>
      <div class="col-3 pl-0 text-right">
        <p class="mob-text-xs">% XIRR (Yly)</p>
        <p class="m-0 text-success pt-12">9.25%</p>
      </div>
    </div>
  </div>
     <div class="mt-8">
    <div class="row pt-16 pb-16 bg-white">
      <div class="col-2 pt-4">
        <div class="circular-small"></div>
      </div>
      <div class="col-7 pl-0">
        <p class="m-0 f-11 pb-6">Reliance Top 100 Fund</p>
        <button mat-stroked-button class="debt-btn" matSuffix>Debt</button>
      </div>
      <div class="col-3 pl-0 text-right">
        <p class="mob-text-xs">% XIRR (Yly)</p>
        <p class="m-0 text-success pt-12">9.25%</p>
      </div>
    </div>
  </div>
     <div class="mt-8">
    <div class="row pt-16 pb-16 bg-white">
      <div class="col-2 pt-4">
        <div class="circular-small"></div>
      </div>
      <div class="col-7 pl-0">
        <p class="m-0 f-11 pb-6">Reliance Top 100 Fund</p>
        <button mat-stroked-button class="debt-btn" matSuffix>Debt</button>
      </div>
      <div class="col-3 pl-0 text-right">
        <p class="mob-text-xs">% XIRR (Yly)</p>
        <p class="m-0 text-success pt-12">9.25%</p>
      </div>
    </div>
  </div>
   <div class="row pt-36 pb-16">
    <div class="col-8 pl-8">
      <p class="m-0 pt-4">Balanced Funds</p>
    </div>
    <div class="col-4 text-right">
       <button mat-stroked-button class="view-all">View All</button>
    </div>
  </div>
   <div class="mt-16">
    <div class="row pt-16 pb-16 bg-white">
      <div class="col-2 pt-4">
        <div class="circular-small"></div>
      </div>
      <div class="col-7 pl-0">
        <p class="m-0 f-11 pb-6">Reliance Top 100 Fund</p>
        <button mat-stroked-button class="balanced-btn" matSuffix>Balanced</button>
      </div>
      <div class="col-3 pl-0 text-right">
        <p class="mob-text-xs">% XIRR (Yly)</p>
        <p class="m-0 text-success pt-12">9.25%</p>
      </div>
    </div>
  </div>
     <div class="mt-8">
    <div class="row pt-16 pb-16 bg-white">
      <div class="col-2 pt-4">
        <div class="circular-small"></div>
      </div>
      <div class="col-7 pl-0">
        <p class="m-0 f-11 pb-6">Reliance Top 100 Fund</p>
        <button mat-stroked-button class="balanced-btn" matSuffix>Balanced</button>
      </div>
      <div class="col-3 pl-0 text-right">
        <p class="mob-text-xs">% XIRR (Yly)</p>
        <p class="m-0 text-success pt-12">9.25%</p>
      </div>
    </div>
  </div>
     <div class="mt-8 mb-28">
    <div class="row pt-16 pb-16 bg-white">
      <div class="col-2 pt-4">
        <div class="circular-small"></div>
      </div>
      <div class="col-7 pl-0">
        <p class="m-0 f-11 pb-6">Reliance Top 100 Fund</p>
        <button mat-stroked-button class="balanced-btn" matSuffix>Balanced</button>
      </div>
      <div class="col-3 pl-0 text-right">
        <p class="mob-text-xs">% XIRR (Yly)</p>
        <p class="m-0 text-success pt-12">9.25%</p>
      </div>
    </div>
  </div>
  </div>
  </div> -->
<!-- <div id="mob-transaction-profile" class="h-100vh">
  <div class="bg-white mob-bx blr-40">
  <div class="row pt-20">
    <div class="col-6">
      <span class="material-icons">
  keyboard_backspace
  </span>
    </div>
     <div class="col-6">
     <img src="/assets/images/svg/mob-cart.svg" class="right">
     </div>
  </div>
  <div class="row pt-24">
  <div class="col-12">
    <img src="/assets/images/svg/realinace.svg" class="left">
  </div>
  <div class="col-12 pt-16">
    <p class="m-0 f-16">Reliance Quant Fund</p>
  </div>
  </div>
  <div class="row pt-12 pb-24 mob-realinace">
    <div class="col-3">
      <button mat-stroked-button>Direct</button>
    </div>
      <div class="col-8">
        <button mat-stroked-button >Equity - Largecap</button>
      </div>
  </div>
  </div>
  <div class="p-8">
  <div class="mt-20 bg-white">
  <div class="row pt-10">
    <div class="col-4 pr-0">
      <p class="mob-text-xs">NAV (09 Nov 2018)</p>
      <h5 class="mb-0 mob-text-success f-16 pt-2">Rs. 24.53</h5>
    </div>
    <div class="col-4 pr-0">
      <p class="mob-text-xs">Min. Investment</p>
      <h5 class="mb-0 f-16 pt-2">Rs. 5,000</h5>
    </div>
    <div class="col-4 pr-0">
      <p class="mob-text-xs">Min. Investment</p>
      <h5 class="mb-0 f-16 pt-2">Rs. 5,000</h5>
    </div>
  </div>
  <div class="row pt-44 pb-28">
    <div class="col-12">
      <img src="/assets/images/svg/mob-line-chart.svg">
    </div>
  </div>
  </div>
  <div class="row pt-10">
  <div class="col-12 p-0">
    <p class="mob-text-xs lh-18">*Mutual Funds Investments are subject to market risks, please read the Offer Document carefully before investing. </p>
  </div>
  </div>
  </div>
  <div class="mob-add-center mt-20 hw-40 pt-2">
  <button mat-stroked-button><span class="material-icons text-white f-28">
        add
        </span></button>
        
      </div>
  </div> -->
<!-- no result -->
<!-- <div id="mob-noresult" class="mob-transaction-search">
  <div class="row bg-white br-0">
   <div class="col-12 mob-bbx">
     <div class="form-group mb-0">
       <mat-form-field floatLabel="never">
         <input type="text"
         value="Search Funds"
         aria-label="Number"
         matInput
         [formControl]="myControl"
         [matAutocomplete]="auto">
         <span class="material-icons" matPrefix>keyboard_backspace</span>
         <mat-icon matSuffix>clear</mat-icon>
         <mat-autocomplete #auto="matAutocomplete" class="w-100">
           <mat-option [value]="option" class="p-0">
             <div class="row">
               <div class="col-2">
                 <mat-icon matSuffix class="text-custom">search</mat-icon>
               </div>
               <div class="col-10 pl-0">
                 <p class="m-0 pt-20 text-custom">Reliance</p>
               </div>
             </div>
           </mat-option>
           <mat-option [value]="option" class="p-0">
             <div class="row">
               <div class="col-2">
                 <mat-icon matSuffix class="text-custom">search</mat-icon>
               </div>
               <div class="col-10 pl-0">
                 <p class="m-0 pt-20 text-custom">Reliance Equity Large cap fund - Growth</p>
               </div>
             </div>
           </mat-option>
           <mat-option [value]="option" class="p-0">
             <div class="row">
               <div class="col-2">
                 <mat-icon matSuffix class="text-custom">search</mat-icon>
               </div>
               <div class="col-10 pl-0">
                 <p class="m-0 pt-20 text-custom">Reliance Liquid Debt fund - Regular plan</p>
               </div>
             </div>
           </mat-option>
         </mat-autocomplete>
       </mat-form-field>
     </div>
   </div>
  </div>
  <div class="row">
   <div class="col-12 d-flex justify-content-center align-items-center mob-h-100vh">
     <p class="m-0">No Results Found</p>
   </div>
  </div>
  </div>
  -->
<!-- L quick in vest -->
<!-- <div id="mob-quick-invest" class="h-100vh">
  <div class="bg-white mob-bx blr-40">
  <div class="row pt-20">
   <div class="col-6">
     <span class="material-icons">
  keyboard_backspace
  </span>
   </div>
   <div class="row pt-24 pb-20">
  <div class="col-3">
   <img src="/assets/images/svg/realinace.svg" class="left">
  </div>
  <div class="col-8">
   <p class="m-0 lh-24 pt-12">Motilal Oswal NASDAQ 100 
  Exchange Traded Fund</p>
  </div>
  </div>
  
  </div>
  </div>
  <div class="p-8">
  <div class="mt-20">
  <div class="row">
   <div class="col-2 pt-20">
     <p class="mob-text-xs">Monthly</p>
   </div>
   <div class="col-8">
     <mat-button-toggle-group name="fontStyle" aria-label="Font Style" class="row">
  <mat-button-toggle class="col-5 p-0">SIP</mat-button-toggle>
  <mat-button-toggle class="col-7 p-0 mob-btn-blacked bl-25">Lumpsum</mat-button-toggle>
  </mat-button-toggle-group>
   </div>
   <div class="col-2 p-0 pt-20">
      <p class="mob-text-xs">One Time</p>
   </div>
  </div>
  </div>
  <div class="row pt-28">
   <div class="col-6 text-right pr-8">
     <p class="m-0">Enter Amount</p>
   </div>
   <div class="col-6 text-left pl-8">
     <p class="mob-text-xs">(Min. Investment Rs. 5,000)</p>
   </div>
  </div>
  <div class="row pt-10">
  <div class="col-2"></div>
  <div class="col-8 pr-0">
   <div class="form-group mb-0">
     <mat-form-field>
   <input matInput class="form-control mob-input f-16" value="Rs. 5,05,000">
  </mat-form-field>
   </div>
   <p class="mob-text-xs pt-12">Rupees Five Lakhs & Five Thousand Only</p>
  </div>
  <div class="col-2"></div>
  </div>
  <div class="row pt-28 pb-10">
  <div class="col-12 text-center">
   <p class="m-0">Quick Select</p>
  </div>
  </div>
  <div class="row">
  <div class="col-12">
   <mat-chip-list class="mob-amt">
  <mat-chip>+1,000</mat-chip>
  <mat-chip>+5,000</mat-chip>
   <mat-chip>+10,000</mat-chip>
  </mat-chip-list>
  </div>
  </div>
  <div class="row pt-10 text-center">
  <div class="col-12 p-0">
   <p class="mob-text-xs">*Tap twice to increase the amount</p>
   <p class="pt-28 mob-text-xs lh-18">By continuing, I agree with the <span class="m-0 text-primary">Terms & Conditions</span> and <span class="m-0 text-primary">Disclaimers </span>
  of IFA Now app. Mutual funds and investments are subject to market risk please read the offer document carefully brefore investing.</p>
  </div>
  </div>
  </div>
  <div class="row bg-white mob-proccess-fixed">
  <div class="col-12 text-center pt-8 pb-8">
    <button mat-stroked-button class="mob-btn-primary">Proceed To Payment</button>
  </div>
  </div>
  </div> -->
<!-- Investment Amount -->
<!-- <div id="mob-quick-invest-payment" class="h-100vh">
  <div class="bg-white mob-bx blr-40">
  <div class="row pt-20">
    <div class="col-6">
      <span class="material-icons">
  keyboard_backspace
  </span>
    </div>
  </div>
    <div class="row pt-24 pb-10">
  <div class="col-12 text-center">
   <p class="f-12 m-0 lh-24">Investment Amount</p>
   <p class="m-0 f-20 pt-4 lh-24 f-600">Rs. 5,05,000</p>
   <p class="mob-text-xs pt-2 lh-18">Rupees Five Lakhs & Five Thousand Only</p>
  </div>
  </div>
  
  </div>
  
  <div class="row pt-20">
  <div class="col-1"></div>
  <div class="col-10 p-0">
      <mat-button-toggle-group class="row mob-amt h-48">
  <mat-button-toggle class="col-6 p-0 mob-btn-blacked br-25">Netbanking</mat-button-toggle>
  <mat-button-toggle class="col-6 p-0 bl-0">Debit Mandate</mat-button-toggle>
  </mat-button-toggle-group>
  </div>
    <div class="col-1"></div>
  </div>
  <div class="row pt-20">
  <div class="col-12">
    <p class="m-0 lh-22">Registered Bank</p>
  </div>
  </div>
  <div class="row">
  <div class="col-12">
    <mat-radio-group>
  <mat-radio-button value="1" class="d-grid mt-24">
  
  <div class="row bg-white pt-10 pb-10">
    <div class="col-3">
      <img src="/assets/images/svg/realinace.svg" class="h-40">
    </div>
    <div class="col-9 pl-0">
      <p class="m-0 pt-8">State Bank of India</p>
    <p class="mob-text-xs pt-4">A/c: 303189189000</p>
    </div>
  </div>
  </mat-radio-button>
  <mat-radio-button value="2" class="mt-40 d-grid">
      <div class="row bg-white pt-10 pb-10">
    <div class="col-3">
      <img src="/assets/images/icici.png" class="h-40">
    </div>
    <div class="col-9 pl-0">
      <p class="m-0 pt-8">ICICI Bank</p>
    <p class="mob-text-xs pt-4">A/c: 303189189000</p>
    </div>
  </div>
  </mat-radio-button>
  </mat-radio-group>
  </div>
  </div>
  <div class="row bg-white mob-proccess-fixed">
  <div class="col-12 text-center pt-8 pb-8">
     <button mat-stroked-button class="mob-btn-primary w-60">Make Payment</button>
  </div>
  </div>
  </div> -->
<!-- Payment Gateway -->
<!-- <div id="mob-payment-gateway">
  <div class="row mob-bg-common pb-12 mobtop-navfixed">
     <div class="col-2">
       <span class="material-icons text-white">
       keyboard_backspace
       </span>
     </div>
   </div>
   <div class="row">
      <div class="col-12 d-flex justify-content-center align-items-center h-100vh">
       <p class="m-0">Payment Gateway</p>
     </div>
   </div>
  </div>
  -->
<!-- <div id="mob-payment-gateway-copy">
  <div class="row mob-bg-common pb-12 mobtop-navfixed">
  <div class="col-2">
    <span class="material-icons text-white">
    keyboard_backspace
    </span>
  </div>
  </div>
  <div class="p-8 pt-80 pb-28">
  <div class="row bg-white">
    <div class="col-12 text-center">
      <img src="/assets/images/svg/payment-copy.svg">
      <p class="m-0 lh-20">You are almost there.<br>Just follow these simple steps<br> on your mobile phone…</p>
    </div>
    <div class="col-12 p-0 pt-24">
      <div class="row pt-2 pb-10">
        <div class="col-2 pt-12 text-center">
          <span class="material-icons f-8 payment-copy hw-16">
            done
            </span>
        </div>
        <div class="col-10 pl-0">
          <h5 class="m-0">OTP</h5>
          <p class="mob-text-xs f-12 pt-2">An One Time Password has been sent to you mobile phone.</p>
        </div>
      </div>
        <div class="row mob-bg-success pt-10 pb-10">
        <div class="col-2 pt-12 text-center">
          <span class="material-icons f-8 payment-copy hw-16">
            done
            </span>
        </div>
        <div class="col-10 pl-0">
          <h5 class="m-0">OTP</h5>
          <p class="mob-text-xs f-12 pt-2">An One Time Password has been sent to you mobile phone.</p>
        </div>
      </div>
        <div class="row pt-16 pb-10">
        <div class="col-2 pt-12 text-center">
          <span class="f-8 payment-empty hw-16">
            
            </span>
        </div>
        <div class="col-10 pl-0">
          <h5 class="m-0">Request</h5>
          <p class="mob-text-xs f-12 pt-2">Transaction request submitted.</p>
        </div>
      </div>
        <div class="row pt-16 pb-10">
        <div class="col-2 pt-12 text-center">
          <span class="f-8 payment-empty hw-16">
            
            </span>
        </div>
        <div class="col-10 pl-0">
          <h5 class="m-0">Transaction Successful</h5>
          <p class="mob-text-xs f-12 pt-2">Units have been allocated to your folio.</p>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div> -->

<!-- <div id="mob-quick-invest-new">
  <div class="bg-white mob-bx blr-40">
    <div class="row pt-20">
      <div class="col-6">
        <span class="material-icons">
        keyboard_backspace
        </span>
      </div>
      <div class="row pt-24 pb-20">
        <div class="col-3">
          <img src="/assets/images/svg/realinace.svg" class="left">
        </div>
        <div class="col-8">
          <p class="m-0 lh-24 pt-12">Motilal Oswal NASDAQ 100 
            Exchange Traded Fund
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="p-8">
    <div class="mt-20">
      <div class="row">
        <div class="col-2 pt-20">
          <p class="mob-text-xs">Monthly</p>
        </div>
        <div class="col-8">
          <mat-button-toggle-group name="fontStyle" aria-label="Font Style" class="row">
            <mat-button-toggle class="col-6 p-0 mob-btn-blacked bl-25">SIP</mat-button-toggle>
            <mat-button-toggle class="col-6 p-0 bl-0">Lumpsum</mat-button-toggle>
          </mat-button-toggle-group>
        </div>
        <div class="col-2 p-0 pt-20">
          <p class="mob-text-xs">One Time</p>
        </div>
      </div>
    </div>
    <div class="row pt-28">
      <div class="col-6 text-right pr-8">
        <p class="m-0 f-500">Enter Amount</p>
      </div>
      <div class="col-6 text-left pl-8">
        <p class="mob-text-xs">(Min. Investment Rs. 5,000)</p>
      </div>
    </div>
    <div class="row pt-10">
      <div class="col-2"></div>
      <div class="col-8 pr-0">
        <div class="form-group mb-0">
          <mat-form-field>
            <input matInput class="form-control mob-input f-16" value="Rs. 5,05,000">
          </mat-form-field>
        </div>
        <p class="mob-text-xs pt-12">Rupees Five Thousand Only</p>
      </div>
      <div class="col-2"></div>
    </div>
    <div class="row pt-28 pb-10">
      <div class="col-6">
        <p class="m-0">Select Frequency</p>
        <div class="form-group mb-0">
          <mat-form-field appearance="fill">
    <mat-select class="form-control">
      <mat-option value="option">Monthly</mat-option>
    </mat-select>
  </mat-form-field>
        </div>
      </div>
       <div class="col-6">
        <p class="m-0">SIP Date</p>
         <div class="form-group mb-0">
          <mat-form-field appearance="fill">
    <mat-select class="form-control">
      <mat-option value="option">Select Date</mat-option>
    </mat-select>
  </mat-form-field>
        </div>
      </div>
    </div>
    <div class="row pt-20">
      <div class="col-12 text-center">
        <p class="m-0">SIP Tenure</p>
           <div class="form-group mb-0 pl-48 pr-48">
          <mat-form-field appearance="fill">
    <mat-select class="form-control">
      <mat-option value="option">Continue until cancelled</mat-option>
    </mat-select>
  </mat-form-field>
        </div>
        <p class="m-0 pt-28 lh-18 mob-text-xs pb-90">
          By continuing, I agree with the <span class="text-primary">Terms & Conditions</span> and <span class="text-primary">Disclaimers </span>
of IFA Now app. Mutual funds and investments are subject to market risk  please read the offer document carefully brefore investing.
        </p>
      </div>
    </div>

  </div>
  <div class="row bg-white mob-proccess-fixed br-0">
  <div class="col-12 text-center pt-8 pb-8">
    <button mat-stroked-button class="mob-btn-primary">Proceed To Payment</button>
  </div>
  </div>
</div> -->


<!-- <div id="mob-funds-page">
  <div class="bg-white mob-bx blr-40">
    <div class="row pt-20">
      <div class="col-6">
        <span class="material-icons">
        keyboard_backspace
        </span>
      </div>
      <div class="row pt-24 pb-28">
        <div class="col-3">
          <img src="/assets/images/svg/realinace.svg" class="left">
        </div>
        <div class="col-8">
          <p class="m-0 lh-24 pt-12">Motilal Oswal NASDAQ 100 
            Exchange Traded Fund
          </p>
        </div>
        <div class="col-12 pt-16">
          <div class="form-group mb-0">
          <mat-form-field appearance="fill">
            <mat-select class="form-control">
              <mat-option value="option">Vishwaroopam</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="pl-4">
        <p class="mob-text-xs f-12 lh-24 pt-12">IIN: 1234034934014</p>
        <p class="mob-text-xs f-12 lh-24">Folio No.: 109239844</p>
      </div>
        </div>
      </div>
    </div>
  </div>
    <div class="mt-20">
       <div class="p-8">
        <div class="row bg-white pt-16 pb-16">
          <div class="col-6">
            <p class="mob-text-xs lh-22">Current Value</p>
            <h5 class="mob-text-success m-0 f-500 lh-22">Rs. 24,587</h5>
          </div>
          <div class="col-6 bl-1 text-right">
               <p class="mob-text-xs lh-22">Available Units</p>
            <h5 class="f-500 lh-22 m-0">26.50</h5>
          </div>
        </div>
        <div class="row pt-32">
          <div class="col-6 text-right pr-12">
            <p class="mob-text-xs f-14 f-500">Enter Amount</p>
          </div>
           <div class="col-6 pl-0">
             <p class="mob-text-xs">(Min. Redemption Rs. 100)</p>
           </div>
        </div>
        <div class="row pt-12">
          <div class="col-2">
            <mat-radio-group>
            <mat-radio-button value="1"></mat-radio-button>
          </mat-radio-group>
          </div>
          <div class="col-8 pl-0">
            <div class="form-group mb-0">
              <mat-form-field>
              <input matInput class="form-control mob-input b-0" value="Rs. 5,000">
            </mat-form-field>
            </div>
            <p class="mob-text-xs pt-16">Rupees Five Thousand Only</p>
          </div>
        </div>
         <div class="row pt-32">
          <div class="col-12 text-center pr-12">
            <p class="mob-text-xs f-14 f-500">Units to Redeem</p>
          </div>
        </div>
        <div class="row pt-12 pb-90">
          <div class="col-2">
            <mat-radio-group>
            <mat-radio-button value="1"></mat-radio-button>
          </mat-radio-group>
          </div>
          <div class="col-8 pl-0">
            <div class="form-group">
              <mat-form-field>
              <input matInput class="form-control mob-input b-0" value="26.50">
            </mat-form-field>
            </div>
           <mat-checkbox>
            <div class="row pt-4">
             <div class="col-6 pr-12 pl-12">
               <p class="mob-text-xs f-14 f-500">All Units</p>
             </div>
             <div class="col-6 pl-0">
               <p class="mob-text-xs">(Total Units 26.50)</p>
             </div>
           </div> </mat-checkbox>
          </div>
        </div>
    </div>
  </div>
   <div class="row bg-white mob-proccess-fixed br-0">
  <div class="col-12 text-center pt-8 pb-8">
    <button mat-stroked-button class="mob-btn-primary w-60">Submit</button>
  </div>
  </div>
</div> -->



  <!-- <div id="mob-payment-gateway" class="h-100vh">
  <div class="bg-white mob-bx blr-40">
  <div class="row pt-20">
    <div class="col-6">
      <span class="material-icons">
  keyboard_backspace
  </span>
    </div>
  </div>
    <div class="row pt-24 pb-10">
  <div class="col-12 text-center">
   <p class="f-12 m-0 lh-24">Investment Amount</p>
   <p class="m-0 f-20 pt-4 lh-24 f-600">Rs. 5,05,000</p>
   <p class="mob-text-xs pt-2 lh-18">Rupees Five Lakhs & Five Thousand Only</p>
  </div>
  </div>
  
  </div>
  <div class="row pt-20">
  <div class="col-1"></div>
  <div class="col-10 p-0 text-center">
      <mat-button-toggle-group class="row mob-amt h-48 bg-white w-90 br-25">
  <mat-button-toggle class="col-6 p-0 mob-btn-blacked br-25">Netbanking</mat-button-toggle>
  <mat-button-toggle class="col-6 p-0 bl-0">Debit Mandate</mat-button-toggle>
  </mat-button-toggle-group>
  </div>
    <div class="col-1"></div>
  </div>
  <div class="row">
    <div class="col-12 text-center">
      <p class="m-0 lh-22 pt-100">No banks registered yet.  <br> Please contact your advisor <br>
for further actions. </p>
    </div>
  </div>
</div> -->



<!-- <div id="mob-existing-investor">
    <div class="bg-white mob-bx blr-40">
  <div class="row pt-20">
    <div class="col-6">
      <span class="material-icons">
  keyboard_backspace
  </span>
    </div>
  </div>
     <div class="row pt-24 pb-20">
  <div class="col-3">
   <img src="/assets/images/svg/realinace.svg" class="left">
  </div>
  <div class="col-8">
   <p class="m-0 lh-24 pt-12">Motilal Oswal NASDAQ 100 
  Exchange Traded Fund</p>
  </div>
  
  </div>
</div>
<div class="p-8">
<div class="mt-20 mr-12">
  <div class="row">
    <div class="col-2 pt-12">
      <mat-radio-group>
            <mat-radio-button value="1"></mat-radio-button>
          </mat-radio-group>
    </div>
    <div class="col-10 bg-white">
      <p class="m-0 lh-22 pt-10">Invest in existing folio</p>
      <p class="mob-text-xs pb-10 pt-2 lh-22">Folio No. : 12323422455</p>
    </div>
  
  </div>
  <div class="mt-20">
      <div class="row">
    <div class="col-2 pt-12">
      <mat-radio-group>
            <mat-radio-button value="1"></mat-radio-button>
          </mat-radio-group>
    </div>
    <div class="col-10 bg-white">
      <p class="m-0 lh-22 pt-20 pb-20">Create new folio</p>
    </div>
  </div>
  </div>
  </div>
   <div class="row pt-28">
   <div class="col-2 pt-20">
     <p class="mob-text-xs">Monthly</p>
   </div>
   <div class="col-8">
     <mat-button-toggle-group class="row">
  <mat-button-toggle class="col-5 p-0">SIP</mat-button-toggle>
  <mat-button-toggle class="col-7 p-0 mob-btn-blacked bl-25">Lumpsum</mat-button-toggle>
  </mat-button-toggle-group>
   </div>
   <div class="col-2 p-0 pt-20">
      <p class="mob-text-xs">One Time</p>
   </div>
  </div>
  <div class="row pt-28">
    <div class="col-6 text-right">
      <p class="m-0 f-500">Enter Amount</p>
    </div>
    <div class="col-6 pl-0">
     <p class="m-0 mob-text-xs">(Min. Investment Rs. 5,000)</p>
     </div>
  </div>
    <div class="row pt-10">
      <div class="col-2"></div>
      <div class="col-8 pr-0">
        <div class="form-group mb-0">
          <mat-form-field>
            <input matInput class="form-control mob-input f-16 text-dark" value="Rs. 5,05,000">
          </mat-form-field>
        </div>
        <p class="mob-text-xs pt-12 pl-8">Rupees Five Lakhs & Five Thousand Only</p>
      </div>
      <div class="col-2"></div>
    </div>
    <div class="row pt-28">
      <div class="col-12 text-center">
        <p class="m-0 l-22">Quick Select</p>
      </div>
    </div>
    <div class="row pt-10">
  <div class="col-12">
   <mat-chip-list class="mob-amt">
  <mat-chip>+1,000</mat-chip>
  <mat-chip>+5,000</mat-chip>
   <mat-chip>+10,000</mat-chip>
  </mat-chip-list>
  <p class="mob-text-xs pt-10 text-center">*Tap twice to increase the amount</p>
  <p class="pt-28 mob-text-xs lh-18 text-center pb-90">By continuing, I agree with the <span class="text-primary">Terms & Conditions</span> and <span class="text-primary">Disclaimers</span><br> 
of IFA Now app. Mutual funds and investments are subject to market risk  please read the offer document carefully brefore investing.</p>
  </div>
  </div>
</div>
  <div class="row bg-white mob-proccess-fixed br-0">
  <div class="col-12 text-center pt-8 pb-8">
    <button mat-stroked-button class="mob-btn-primary">Proceed To Payment</button>
  </div>
  </div>
</div> -->

<div id="mob-existing-investor">
    <div class="bg-white mob-bx blr-40">
  <div class="row pt-20">
    <div class="col-6">
      <span class="material-icons">
  keyboard_backspace
  </span>
    </div>
  </div>
     <div class="row pt-24 pb-20">
  <div class="col-3">
   <img src="/assets/images/svg/realinace.svg" class="left">
  </div>
  <div class="col-8">
   <p class="m-0 lh-24 pt-12">Motilal Oswal NASDAQ 100 
  Exchange Traded Fund</p>
  </div>
    <div class="col-12 mob-folio pt-16 pb-16">
       <div class="form-group mb-0">
          <mat-form-field appearance="fill">
    <mat-select class="form-control">
      <mat-option value="option">Select Folio</mat-option>
    </mat-select>
  </mat-form-field>
        </div>
    </div>
  </div>
</div>
<div class="p-8">

   <div class="row pt-28">
   <div class="col-2 pt-20">
     <p class="mob-text-xs">Monthly</p>
   </div>
   <div class="col-8">
     <mat-button-toggle-group class="row">
  <mat-button-toggle class="col-5 p-0">SIP</mat-button-toggle>
  <mat-button-toggle class="col-7 p-0 mob-btn-blacked bl-25">Lumpsum</mat-button-toggle>
  </mat-button-toggle-group>
   </div>
   <div class="col-2 p-0 pt-20">
      <p class="mob-text-xs">One Time</p>
   </div>
  </div>
  <div class="row pt-28">
    <div class="col-6 text-right">
      <p class="m-0 f-500">Enter Amount</p>
    </div>
    <div class="col-6 pl-0">
     <p class="m-0 mob-text-xs">(Min. Investment Rs. 5,000)</p>
     </div>
  </div>
    <div class="row pt-10">
      <div class="col-2"></div>
      <div class="col-8 pr-0">
        <div class="form-group mb-0">
          <mat-form-field>
            <input matInput class="form-control mob-input f-16 text-dark" value="Rs. 5,05,000">
          </mat-form-field>
        </div>
        <p class="mob-text-xs pt-12 pl-8">Rupees Five Lakhs & Five Thousand Only</p>
      </div>
      <div class="col-2"></div>
    </div>
    <div class="row pt-28">
      <div class="col-12 text-center">
        <p class="m-0 l-22">Quick Select</p>
      </div>
    </div>
    <div class="row pt-10">
  <div class="col-12">
   <mat-chip-list class="mob-amt">
  <mat-chip>+1,000</mat-chip>
  <mat-chip>+5,000</mat-chip>
   <mat-chip>+10,000</mat-chip>
  </mat-chip-list>
  <p class="mob-text-xs pt-10 text-center">*Tap twice to increase the amount</p>
  <p class="pt-28 mob-text-xs lh-18 text-center pb-90">By continuing, I agree with the <span class="text-primary">Terms & Conditions</span> and <span class="text-primary">Disclaimers</span><br> 
of IFA Now app. Mutual funds and investments are subject to market risk  please read the offer document carefully brefore investing.</p>
  </div>
  </div>
</div>
  <div class="row bg-white mob-proccess-fixed br-0">
  <div class="col-12 text-center pt-8 pb-8">
    <button mat-stroked-button class="mob-btn-primary">Proceed To Payment</button>
  </div>
  </div>
</div>