<div id="mob-transact">
  <div class="row mob-bg-common pb-12 mobtop-navfixed">
    <div class="col-2">
      <img src="/assets/images/svg/mob-left-arrow.svg" class="c-p pt-4">
    </div>
    <div class="col-10 pl-0">
      <h5 class="m-0 f-18 text-white pt-4 roboto">Create investment account</h5>
    </div>
  </div>


<!-- Create investment account -->
<div class="pt-90 bg-white h-100vh">
<div class="row">
	<div class="col-12 text-center pb-40">
		<p class="f-16 m-0 roboto f-400 text-dark">Over the next few steps we will help you<br> become investment ready.</p>
	</div>
	<div class="col-12 mob-timeline">
		<div class="row">
			<div class="col-9 pl-0">
			<ul class="timeline">
				<li class="selected-mob">
					<span>PAN Check</span>
					<p class="m-0 roboto text-danger f-400">Your PAN has been verified!</p>
				</li>
				<li>
				<span>Personal details</span>
				</li>
				<li class="non-mob">
					<span>Contact details</span>
				</li>
				<li class="non-mob">
					<span>Nominee details</span>
				</li>
				<li class="non-mob">
					<span>FATCA details</span>
				</li>
				<li class="non-mob">
					<span>Bank details</span>
				</li>
				<li class="non-mob">
					<span>Review & Submit</span>
				</li>
			</ul>
		</div>
		<div class="col-3">
			<button mat-stroked-button class="btn-primitive-outline mt-20">VIEW</button>
			 <button mat-stroked-button class="btn-primary-outline mt-52">ADD</button>
			  <button mat-stroked-button class="btn-primary-outline mt-40">ADD</button>
			   <button mat-stroked-button class="btn-primary-outline mt-40">ADD</button>
			   <button mat-stroked-button class="btn-primary-outline mt-36">ADD</button>
			 <button mat-stroked-button class="btn-primary-outline mt-36">ADD</button>
			  <button mat-stroked-button class="btn-primary-outline mt-36">ADD</button>
		</div>
     </div>
</div>
<!-- end -->
  <!-- Upload pan card -->
<!--   <div class="row pt-90">
    <div class="col-12 mob-pl-10 mob-pr-10">
      <h5 class="m-0 roboto text-dark pb-10 f-16">Enter your PAN</h5>
      <div class="form-group mb-0">
        <mat-form-field >
          <input matInput class="form-control text-primitive" value="Enter PAN">
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="row pt-36">
    <div class="col-11 mob-pl-10 mob-pr-10">
      <h5 class="m-0 roboto text-dark pb-10 f-16">Enter your PAN</h5>
      <button mat-stroked-button class="w-100 btn-primary upload-pan-mob">
        <div class="row">
          <div class="col-2">
            <img src="/assets/images/svg/upload-up-arrow.svg">
          </div>
          <div class="col-10 text-left">
            Upload PAN card
          </div>
        </div>
      </button>
    </div>
  </div> -->
<!-- end -->

<!--after Upload pan card -->

<!--  <div class="row pt-90">
    <div class="col-12 mob-pl-10 mob-pr-10">
      <h5 class="m-0 roboto text-dark pb-10 f-16">Enter your PAN</h5>
      <div class="form-group mb-0">
        <mat-form-field >
          <input matInput class="form-control text-primitive" value="Enter PAN">
        </mat-form-field>
      </div>
    </div>
  </div>

  <div class="row pt-36">
  	<div class="col-7 mob-pl-10">
  		<p class="m-0 text-dark roboto f-400">PAN card</p>
  	</div>
  	<div class="col-5 text-left pl-0">
  		<p class="m-0 text-danger roboto f-400">Remove</p>
  	</div>
  	<div class="col-6 mob-pl-10 pt-4">
  		<img src="/assets/images/pan.png">
  	</div>
  </div> -->

<!-- end -->

<!-- Personal details -->

<!-- <div class="row pt-70">
	<div class="col-12 mob-pr-10 mob-pl-10">
		<div class="bg-white mob-shadow">
		<div class="row pt-20 pb-12">
			<div class="col-10">
				<p class="m-0 text-dark roboto f-400">Personal details</p>
			</div>
			<div class="col-2">
				<span class="material-icons bg-success mob-kyc-active">
					done
					</span>
			</div>
		</div>
	</div>
	</div>
	<div class="col-12 mob-pr-10 mob-pl-10">
		<h5 class="m-0 f-500 roboto f-16 text-dark pt-20">Photo</h5>
		<p class="m-0 f-500 pt-20 roboto text-dark">Add a photo</p>
		<p class="m-0 f-400 pt-20 roboto text-dark pt-4">Make sure it looks like a passport size photo</p>
	</div>
	<div class="col-12 text-center pt-20">
		<img src="/assets/images/photo.png">
		<div class="pt-20 pl-16 pr-16">
		   <button mat-stroked-button class="w-100 btn-primary upload-pan-mob">
        <div class="row">
          <div class="col-2">
            <img src="/assets/images/svg/upload-up-arrow.svg">
          </div>
          <div class="col-10 text-left pt-2">
            Upload PAN card
          </div>
        </div>
      </button>
	</div>
</div>
</div> -->

<!-- end -->

<!-- profile after upload -->

<!-- <div class="row pt-70">
	<div class="col-12 mob-pr-10 mob-pl-10">
		<div class="bg-white mob-shadow">
		<div class="row pt-20 pb-12">
			<div class="col-10">
				<p class="m-0 text-dark roboto f-400">Personal details</p>
			</div>
			<div class="col-2">
				<span class="material-icons bg-success mob-kyc-active">
					done
					</span>
			</div>
		</div>
	</div>
	</div>
	<div class="col-12 mob-pr-10 mob-pl-10">
		<h5 class="m-0 f-500 roboto f-16 text-dark pt-20">Photo</h5>
		
		<p class="m-0 f-400 pt-20 roboto text-success pt-4">Done! Your photo has been uploaded successfully.</p>
	</div>
	<div class="col-12 text-center pt-32">
		<p class="m-0 text-danger roboto f-400 f-12 text-right pr-72 pb-4">Remove</p>
		<img src="/assets/images/abhi-mane.png">
</div>
</div> -->

<!-- end -->

<!-- video empty -->
<!-- <div class="row pt-70">
	<div class="col-12 mob-pr-10 mob-pl-10">
		<div class="bg-white mob-shadow">
		<div class="row pt-20 pb-12">
			<div class="col-10">
				<p class="m-0 text-dark roboto f-400">Personal details</p>
			</div>
			<div class="col-2">
				<span class="material-icons bg-success mob-kyc-active">
					done
					</span>
			</div>
		</div>
	</div>
		<div class="bg-white mob-shadow mt-20">
		<div class="row pt-20 pb-12">
			<div class="col-10">
				<p class="m-0 text-dark roboto f-400">Photo</p>
			</div>
			<div class="col-2">
				<span class="material-icons bg-success mob-kyc-active">
					done
					</span>
			</div>
		</div>
	</div>
	</div>
	<div class="col-12 mob-pr-10 mob-pl-10">
		<h5 class="m-0 f-500 roboto f-16 text-dark pt-20">Video</h5>
		<p class="m-0 f-500 pt-20 roboto text-dark">Okay, it’s time for a selfie video</p>
		<p class="m-0 f-400 roboto text-dark pt-4 f-12">Keep your face in the center of the recording area. Speak the digits displayed on the top of the screen loudly.</p>
	</div>
	<div class="col-12 text-center pt-20">
		<img src="/assets/images/video.png">
		<div class="pt-20 pl-16 pr-16">
		   <button mat-stroked-button class="w-100 btn-primary upload-pan-mob">
        <div class="row">
          <div class="col-2">
            <img src="/assets/images/svg/upload-up-arrow.svg">
          </div>
          <div class="col-10 text-left pt-2">
            Record your video
          </div>
        </div>
      </button>
	</div>
</div>
</div -->

<!-- end -->


<!-- video record screen -->

<!-- <div class="row pt-70">
	<div class="col-12 mob-pr-10 mob-pl-10">
		<h5 class="m-0 f-500 roboto f-16 text-dark pt-20">Video</h5>
		
		<p class="m-0 f-400 roboto text-dark pt-10 lh-17">Click <span class="text-primary c-p">Record</span> and then <span class="text-primary c-p">Speak</span> the digits displayed below loudly. The video will automatically stop after 15 seconds.</p>
	</div>
</div>
<div class="row pt-28">
	<div class="col-1"></div>
	<div class="col-10">
		<div class="row otp-mob">
			<div class="col-2 pl-0 pr-8">
				<div class="form-group mb-0">
					 <mat-form-field class="text-center">
			          <input matInput class="form-control text-primary f-500 f-16" value="6">
			        </mat-form-field>
				</div>
			</div>
			<div class="col-2 pl-0 pr-8">
				<div class="form-group mb-0">
					 <mat-form-field class="text-center">
			          <input matInput class="form-control text-primary f-500 f-16" value="0">
			        </mat-form-field>
				</div>
			</div>
			<div class="col-2 pl-0 pr-8">
				<div class="form-group mb-0">
					 <mat-form-field class="text-center">
			          <input matInput class="form-control text-primary f-500 f-16" value="0">
			        </mat-form-field>
				</div>
			</div>
			<div class="col-2 pl-0 pr-8">
				<div class="form-group mb-0">
					 <mat-form-field class="text-center">
			          <input matInput class="form-control text-primary f-500 f-16" value="0">
			        </mat-form-field>
				</div>
			</div>
			<div class="col-2 pl-0 pr-8">
				<div class="form-group mb-0">
					 <mat-form-field class="text-center">
			          <input matInput class="form-control text-primary f-500 f-16" value="3">
			        </mat-form-field>
				</div>
			</div>
			<div class="col-2 pl-0 pr-8">
				<div class="form-group mb-0">
					 <mat-form-field class="text-center">
			          <input matInput class="form-control text-primary f-500 f-16" value="1">
			        </mat-form-field>
				</div>
			</div>
		</div>
	</div>
	<div class="col-2"></div>
</div>
<div class="row pt-40">
	<div class="col-12 text-center pt-20">
		<img src="/assets/images/video.png">
		  
</div>
<div class="col-12 text-center pt-20">
	 <button mat-stroked-button class="record-mob">RECORD <img src="/assets/images/svg/record.svg" class="pl-10"></button>
</div>
</div> -->
<!-- end -->

<!-- after upload retake screen -->

<!-- <div class="row pt-70">
	<div class="col-12 mob-pr-10 mob-pl-10">
		<h5 class="m-0 f-500 roboto f-16 text-dark pt-20">Video</h5>
		
		<p class="m-0 f-400 roboto text-success pt-10 lh-17">Done! The video has been recorded successfully.</p>
	</div>
	  <div class="col-12 text-center pt-40">
    	<img src="/assets/images/retake.png">
    </div>
    <div class="col-12 pt-28 text-center">
    	<button mat-stroked-button class="retake-mob">RETAKE</button>
    </div>
</div> -->
<!-- end -->


<!-- Signature first screen -->
<!-- <div class="row pt-70">
	<div class="col-12 mob-pr-10 mob-pl-10">
		<div class="bg-white mob-shadow">
		<div class="row pt-20 pb-12">
			<div class="col-10">
				<p class="m-0 text-dark roboto f-400">Personal details</p>
			</div>
			<div class="col-2">
				<span class="material-icons bg-success mob-kyc-active">
					done
					</span>
			</div>
		</div>
	</div>
		<div class="bg-white mob-shadow mt-20">
		<div class="row pt-20 pb-12">
			<div class="col-10">
				<p class="m-0 text-dark roboto f-400">Photo</p>
			</div>
			<div class="col-2">
				<span class="material-icons bg-success mob-kyc-active">
					done
					</span>
			</div>
		</div>
	</div>
		<div class="bg-white mob-shadow mt-20">
		<div class="row pt-20 pb-12">
			<div class="col-10">
				<p class="m-0 text-dark roboto f-400">Video</p>
			</div>
			<div class="col-2">
				<span class="material-icons bg-success mob-kyc-active">
					done
					</span>
			</div>
		</div>
	</div>
	</div>
	<div class="col-12 mob-pr-10 mob-pl-10">
		<h5 class="m-0 f-500 roboto f-16 text-dark pt-20">Signature</h5>
		<p class="m-0 f-500 roboto text-dark pt-20 lh-17">Let’s verify your signature</p>
	</div>
</div>
<div class="row pt-20">
	<div class="col-12 pl-28 pr-28">
		<div class="row b-primitive pt-20 pb-20">
			<div class="col-5">
				<img src="/assets/images/sing.png">
			</div>
			<div class="col-7">
				<p class="m-0 f-12 f-400 roboto text-dark">Make sure it is as per bank records.</p>
				<p class="m-0 f-10 f-400 roboto text-primitive pt-10">Tip:If you are uploading a scanned sign then do it on a blank white paper with a black/blue pen. </p>
			</div>
		</div>
	</div>
</div> -->
<!-- end -->


<!-- Signature box -->
<!-- <div class="row pt-70">
	<div class="col-12">
		<div class="form-group mb-0">
			<mat-form-field class="text-center">
				<textarea matInput class="form-control h-210 bg-white"></textarea>
			  </mat-form-field>
		</div>
	</div>
</div> -->
<!-- end -->

<!-- Singnature compltaed screen -->
<!-- <div class="row pt-70">
	<div class="col-12 mob-pr-10 mob-pl-10">
		<div class="bg-white mob-shadow">
		<div class="row pt-20 pb-12">
			<div class="col-10">
				<p class="m-0 text-dark roboto f-400">Personal details</p>
			</div>
			<div class="col-2">
				<span class="material-icons bg-success mob-kyc-active">
					done
					</span>
			</div>
		</div>
	</div>
		<div class="bg-white mob-shadow mt-20">
		<div class="row pt-20 pb-12">
			<div class="col-10">
				<p class="m-0 text-dark roboto f-400">Photo</p>
			</div>
			<div class="col-2">
				<span class="material-icons bg-success mob-kyc-active">
					done
					</span>
			</div>
		</div>
	</div>
		<div class="bg-white mob-shadow mt-20">
		<div class="row pt-20 pb-12">
			<div class="col-10">
				<p class="m-0 text-dark roboto f-400">Video</p>
			</div>
			<div class="col-2">
				<span class="material-icons bg-success mob-kyc-active">
					done
					</span>
			</div>
		</div>
	</div>
	</div>
	<div class="col-12 mob-pr-10 mob-pl-10">
		<h5 class="m-0 f-500 roboto f-16 text-dark pt-20">Signature</h5>
		<p class="m-0 f-400 roboto text-success pt-20 lh-17">Done! Your signature has been uploaded.</p>
	</div>
</div>
<div class="row pt-20">
	<div class="col-12 pl-28 pr-28">
		<div class="row pt-20 pb-20">
			<div class="col-12">
				<p class="text-danger m-0 f-12 roboto f-400 text-right">Remove</p>
				<img src="/assets/images/sing-img.png" class="w-100">
			</div>
		</div>
	</div>
</div> -->

<!-- end -->

<!-- after singnautre screen -->
<!-- <div class="row pt-70">
	<div class="col-12 mob-pr-10 mob-pl-10">
		<div class="bg-white mob-shadow">
		<div class="row pt-20 pb-12">
			<div class="col-10">
				<p class="m-0 text-dark roboto f-400">Personal details</p>
			</div>
			<div class="col-2">
				<span class="material-icons bg-success mob-kyc-active">
					done
					</span>
			</div>
		</div>
	</div>
		<div class="bg-white mob-shadow mt-20">
		<div class="row pt-20 pb-12">
			<div class="col-10">
				<p class="m-0 text-dark roboto f-400">Photo</p>
			</div>
			<div class="col-2">
				<span class="material-icons bg-success mob-kyc-active">
					done
					</span>
			</div>
		</div>
	</div>
		<div class="bg-white mob-shadow mt-20">
		<div class="row pt-20 pb-12">
			<div class="col-10">
				<p class="m-0 text-dark roboto f-400">Video</p>
			</div>
			<div class="col-2">
				<span class="material-icons bg-success mob-kyc-active">
					done
					</span>
			</div>
		</div>
	</div>
	<div class="bg-white mob-shadow mt-20">
		<div class="row pt-20 pb-12">
			<div class="col-10">
				<p class="m-0 text-dark roboto f-400">Signature</p>
			</div>
			<div class="col-2">
				<span class="material-icons bg-success mob-kyc-active">
					done
					</span>
			</div>
		</div>
	</div>
	</div>
</div> -->
<!-- end -->

<!-- transact contact deatils -->

<!-- <div class="row pt-70">
	<div class="col-12 mob-pr-10 mob-pr-10">
		<p class="m-0 roboto f-400 pb-4">Email</p>
		<div class="form-group mb-0">
			<mat-form-field>
			          <input matInput class="form-control text-primitive" value="Enter email">
			   </mat-form-field>
		</div>
	</div>
</div>
<div class="row pt-36">
	<div class="col-12 mob-pr-10 mob-pr-10">
		<p class="m-0 roboto f-400 pb-4">Mobile</p>
		<div class="row">
			<div class="col-4 mob-pr-10 pl-0">
				<div class="form-group mb-0">
					<mat-form-field>
					  <mat-select class="form-control text-primitive">
					    <mat-option>
					      +91 (IND)
					    </mat-option>
					  </mat-select>
					</mat-form-field>
				</div>
			</div>
			<div class="col-8 p-0">
				<div class="form-group mb-0">
			<mat-form-field>
			          <input matInput class="form-control text-primitive" value="Enter mobile">
			   </mat-form-field>
		</div>
			</div>
		</div>
		
	</div>
</div>
<div class="row pt-36">
	<div class="col-12 mob-pr-10 mob-pr-10">
		<p class="m-0 roboto f-400 pb-4">Aadhaar</p>
		<div class="form-group mb-0">
			<mat-form-field>
			          <input matInput class="form-control text-primitive" value="Enter Aadhaar">
			   </mat-form-field>
		</div>
	</div>
</div> -->
<!-- end -->

<!-- contact deatails-2 -->
<!-- <div class="row pt-70">
	<div class="col-12 mob-pr-10 mob-pl-10">
		<div class="bg-white mob-shadow">
		<div class="row pt-20 pb-12">
			<div class="col-10">
				<p class="m-0 text-dark roboto f-400">Contact details</p>
			</div>
			<div class="col-2">
				<span class="material-icons bg-success mob-kyc-active">
					done
					</span>
			</div>
		</div>
	</div>
	</div>
	<div class="col-12 mob-pr-10 mob-pl-10 pt-28">
		<h5 class="m-0 f-500 roboto text-dark">Address</h5>
	</div>
</div>
<div class="row pt-20">
	<div class="col-12 mob-pr-10 mob-pr-10">
		<p class="m-0 roboto f-400 pb-4">Address line 1</p>
		<div class="form-group mb-0">
			<mat-form-field>
			          <input matInput class="form-control text-primitive" value="Enter Address line 1">
			   </mat-form-field>
		</div>
	</div>
	</div>
	<div class="row pt-36">
	<div class="col-12 mob-pr-10 mob-pr-10">
		<p class="m-0 roboto f-400 pb-4">Address line 2</p>
		<div class="form-group mb-0">
			<mat-form-field>
			          <input matInput class="form-control text-primitive" value="Enter Address line 2">
			   </mat-form-field>
		</div>
	</div>
	</div>
	<div class="row pt-36">
	<div class="col-12 mob-pr-10 mob-pr-10">
		<p class="m-0 roboto f-400 pb-4">Pin code</p>
		<div class="form-group mb-0">
			<mat-form-field>
			          <input matInput class="form-control text-primitive" value="Enter pin code">
			           <mat-hint align="end" class="text-primitive">0/6</mat-hint>
			   </mat-form-field>
		</div>
	</div>
	</div>
	<div class="row pt-28">
	<div class="col-12 mob-pr-10 mob-pr-10">
		<p class="m-0 roboto f-400 pb-4">City</p>
		<div class="form-group mb-0">
			<mat-form-field>
			          <input matInput class="form-control text-primitive" value="Enter city">
			   </mat-form-field>
		</div>
	</div>
	</div> -->
<!-- end -->

<!-- contact details - 3 -->
<!-- <div class="row pt-70">
	<div class="col-12 mob-pr-10 mob-pl-10">
		<div class="bg-white mob-shadow">
		<div class="row pt-20 pb-12">
			<div class="col-10">
				<p class="m-0 text-dark roboto f-400">Contact details</p>
			</div>
			<div class="col-2">
				<span class="material-icons bg-success mob-kyc-active">
					done
					</span>
			</div>
		</div>
	</div>
		<div class="bg-white mob-shadow mt-20">
		<div class="row pt-20 pb-12">
			<div class="col-10">
				<p class="m-0 text-dark roboto f-400">Address details</p>
			</div>
			<div class="col-2">
				<span class="material-icons bg-success mob-kyc-active">
					done
					</span>
			</div>
		</div>
	</div>
	</div>
	<div class="col-12 mob-pr-10 mob-pl-10 pt-28">
		<h5 class="m-0 f-500 roboto text-dark">Address proof</h5>
	</div>
</div>
<div class="row pt-20">
	<div class="col-12 mob-pr-10 mob-pr-10">
		<p class="m-0 roboto f-400 pb-4">Address proof type</p>
		<div class="form-group mb-0">
			<mat-form-field>
			          <mat-form-field>
					  <mat-select class="form-control text-primitive">
					    <mat-option>
					     Select type
					    </mat-option>
					  </mat-select>
					</mat-form-field>
			   </mat-form-field>
		</div>
	</div>
	</div>
	<div class="row pt-36">
	<div class="col-12 mob-pr-10 mob-pr-10">
		<p class="m-0 roboto f-400 pb-4">ID type</p>
		<div class="form-group mb-0">
			<mat-form-field>
			          <mat-form-field>
					  <mat-select class="form-control text-primitive">
					    <mat-option>
					     Select type
					    </mat-option>
					  </mat-select>
					</mat-form-field>
			   </mat-form-field>
		</div>
	</div>
	</div>
	<div class="row pt-28">
	<div class="col-12 mob-pr-10 mob-pr-10">
		<p class="m-0 roboto f-400 pb-4">ID number</p>
		<div class="form-group mb-0">
			<mat-form-field>
			          <input matInput class="form-control text-primitive" value="Enter ID number">
			   </mat-form-field>
		</div>
	</div>
</div> -->
<!-- end -->

<!-- contact details- Nominee details -->
<!-- <div class="row pt-90">
	<div class="col-12 mob-pr-10 mob-pl-10">
				<p class="m-0 text-dark roboto f-18 f-400 pb-20">Nominee</p>
				<mat-radio-group aria-label="Select an option" class="nomineedetails-mob">
				  <mat-radio-button value="1" class="text-primitive b-ua bg-white">Add</mat-radio-button>
				  <mat-radio-button value="2" class="text-primitive b-ua bg-white">Skip</mat-radio-button>
				</mat-radio-group>
			</div>
</div> -->
<!-- end -->

<!-- Nominee details- 2 -->

<!-- <div class="row pt-70">

	<div class="col-12 mob-pr-10 mob-pl-10 pt-28">
		<h3 class="m-0 f-500 roboto text-dark">Add nominee</h3>
	</div>
</div>
	<div class="row pt-28">
	<div class="col-12 mob-pl-10 mob-pr-10">
		<p class="m-0 roboto f-400 pb-4">Nominee name</p>
		<div class="form-group mb-0">
			<mat-form-field>
			          <input matInput class="form-control text-primitive" value="Select a nominee">
			   </mat-form-field>
		</div>
	</div>
</div> 
	<div class="row pt-36">
	<div class="col-12 mob-pl-10 mob-pr-10">
		<p class="m-0 roboto f-400 pb-4">Nominee relation</p>
		<div class="form-group mb-0">
			<mat-form-field>
			          <mat-form-field>
					  <mat-select class="form-control text-primitive">
					    <mat-option>
					    Select relation
					    </mat-option>
					  </mat-select>
					</mat-form-field>
			   </mat-form-field>
		</div>
	</div>
	</div>
	<div class="row pt-36">
		<div class="col-12 mob-pr-10 mob-pl-10">
				<p class="m-0 text-dark roboto f-18 f-400 pb-20">Nominee</p>
				<mat-radio-group aria-label="Select an option" class="nomineedetails-mob">
				  <mat-radio-button value="1" class="text-primary bu-primary bg-white">Major</mat-radio-button>
				  <mat-radio-button value="2" class="text-primitive b-ua bg-white">Minor</mat-radio-button>
				</mat-radio-group>
			</div>
	</div>
	<div class="row pt-36">
		<div class="col-12 mob-pr-10 mob-pl-10">
				<p class="m-0 text-dark roboto f-18 f-400 pb-20">Nominee date of birth</p>
			</div>
		</div>
		<div class="row pt-36">
	<div class="col-12 mob-pl-10 mob-pr-10">
		<p class="m-0 roboto f-400 pb-4">Nominee percentage</p>
		<div class="form-group mb-0">
		
			          <mat-form-field>
					  <mat-select class="form-control text-primitive">
					    <mat-option>
					    Select relation
					    </mat-option>
					  </mat-select>
					</mat-form-field>
			
		</div>
	</div>
	</div><br> -->
<!-- end -->

<!-- Nominee added successfully -->
<!-- <div class="row pt-250">
	<div class="col-12 text-center">
	<p class="m-0 f-16 text-success roboto f-400 text-center">Nominee added successfully!</p>
</div>
</div>

<div class="row add-nominee-mob">
	<div class="col-12 text-center pt-8 pb-8">
      <button mat-stroked-button class="btn-nominee h-40 br-4 w-60">Add another nominee</button>
    </div>
</div>
 -->

<!-- end -->

<!-- FATCA details -->
<!-- <div class="row pt-70">
	<div class="col-12 mob-pl-10">
		<p class="m-0 f-16 roboto f-400 lh-19 text-dark pb-4">Nationality</p>
		<mat-radio-group aria-label="Select an option">
			  <mat-radio-button value="1" class="text-primary bu-primary bg-white mw-88">India</mat-radio-button>
			  <mat-radio-button value="2" class="text-custom b-ua bg-white mw-145">USA/Canada</mat-radio-button>
			  <mat-radio-button value="3" class="text-custom b-ua bg-white mw-101">Others</mat-radio-button>
			</mat-radio-group>
	</div>
</div>
<div class="row pt-36">
	<div class="col-12 mob-pr-10 mob-pr-10">
		<p class="m-0 roboto f-400 pb-4">Place of birth</p>
		<div class="form-group mb-0">
			<mat-form-field>
			          <input matInput class="form-control text-primitive" value="Enter place of birth">
			   </mat-form-field>
		</div>
	</div>
</div>
<div class="row pt-36">
	<div class="col-12 mob-pr-10 mob-pr-10">
		<p class="m-0 roboto f-400 pb-4">Country of birth</p>
		<div class="form-group mb-0">
			<mat-form-field>
			          <input matInput class="form-control text-primitive" value="Enter country of birth">
			   </mat-form-field>
		</div>
	</div>
</div>
<div class="row pt-36">
	<div class="col-12 mob-pr-10 mob-pr-10">
		<p class="m-0 roboto f-400 pb-4">Gross annual income</p>
		<div class="form-group mb-0">
			 <mat-form-field>
					  <mat-select class="form-control text-primitive">
					    <mat-option>
					    Select one
					    </mat-option>
					  </mat-select>
					</mat-form-field>
		</div>
	</div>
</div>
<div class="row pt-36">
	<div class="col-12 mob-pr-10 mob-pr-10">
		<p class="m-0 roboto f-400 pb-4">Source of wealth</p>
		<div class="form-group mb-0">
		 <mat-form-field>
					  <mat-select class="form-control text-primitive">
					    <mat-option>
					    Select one
					    </mat-option>
					  </mat-select>
					</mat-form-field>
		</div>
	</div>
</div> -->
<!-- end -->


<!-- Bank details(add ifsc) -->

<!-- <div class="row pt-80">
	<div class="col-12 mob-pr-10 mob-pl-10">
		<h3 class="m-0 roboto f-400 text-dark">Add new bank</h3>
	</div>
	<div class="col-12 pt-28 mob-pr-10 mob-pl-10">
		<p class="m-0 roboto f-400 text-dark f-16 pb-10">Add IFSC</p>
		<div class="form-group mb-0">
			<mat-form-field>
			          <input matInput class="form-control text-primitive" value="Enter IFSC">
			   </mat-form-field>
		</div>
	</div>
</div> -->
<!-- end -->

<!-- add bank-2  -->
<!-- <div class="row pt-80">
	<div class="col-12 mob-pr-10 mob-pl-10">
		<h3 class="m-0 roboto f-400 text-dark">Add new bank</h3>
	</div>
	<div class="col-12 pt-28 pb-20 mob-pr-10 mob-pl-10">
		<p class="m-0 roboto f-400 text-dark f-16 pb-10">Add IFSC</p>
		<div class="form-group mb-0">
			<mat-form-field>
			          <input matInput class="form-control text-primitive" value="ICIC0000012">
			   </mat-form-field>
		</div>
	</div>
	<div class="col-12 mob-pl-10 mob-pr-10">
		<div class="bg-white br-4">
			<div class="row pt-20 pb-20">
				<div class="col-2">
					<img src="assets/images/icici.png">
				</div>
				<div class="col-10">
					<p class="m-0 roboto f-400">ICICI Bank</p>
					<p class="m-0 roboto f-400 text-custom">Jaipur - 700089</p>
				</div>
			</div>
		</div>
	</div>
	<div class="col-12 pt-28 pb-20 mob-pr-10 mob-pl-10">
		<p class="m-0 roboto f-400 text-dark f-16 pb-10">Account number</p>
		<div class="form-group mb-0">
			<mat-form-field>
			          <input matInput class="form-control text-primitive" value="Enter bank account number">
			          <mat-hint class="text-custom">Bank grade security  |  256 bit encryption</mat-hint>
			   </mat-form-field>
		</div>
	</div>
	<div class="col-12 pt-28 pb-20 mob-pr-10 mob-pl-10">
		<p class="m-0 roboto f-400 text-dark f-16 pb-10">Confirm account number</p>
		<div class="form-group mb-0">
			<mat-form-field>
			          <input matInput class="form-control text-primitive" value="Re-enter bank account number">
			   </mat-form-field>
		</div>
	</div>
</div> -->
<!-- end -->


<!-- Verify bank -->
<!-- <div class="row pt-80">
	<div class="col-12 mob-pr-10 mob-pl-10">
		<h3 class="m-0 roboto f-400 text-dark">Verify bank</h3>
	</div>
	<div class="col-12 mob-pl-10 mob-pr-10 pt-16">
		<div class="bg-white br-4">
			<div class="row pt-20 pb-20">
				<div class="col-2">
					<img src="assets/images/icici.png">
				</div>
				<div class="col-10">
					<p class="m-0 roboto f-400">ICICI Bank</p>
					<p class="m-0 roboto f-400 text-custom">A/c: 303189189000</p>
					<div class="row pt-20">
						<div class="col-5 pl-0">
							<p class="f-12 m-0 roboto f-400 text-custom">IFSC</p>
							<p class="m-0 roboto f-400 text-dark">ICIC0000011</p>
						</div>
						<div class="col-7 pl-0">
							<p class="f-12 m-0 roboto f-400 text-custom">Branch</p>
							<p class="m-0 roboto f-400 text-dark">Mumbai - 400089</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-12 pt-60 text-center pb-28">
		<p class="f-16 roboto f-400 text-dark m-0">We will transfer ₹ 1.00 to this bank account to ensure that the account exists</p>
	</div>
	<div class="col-12">
		<div class="b-a mob-rupess">
		<h2 class="text-dark f-24 m-0 roboto f-400">₹ 1.00</h2>
		</div>
	</div>

</div> -->
<!-- end -->

<!-- Thank you -->
<!-- <div class="row pt-120">
	<div class="col-12">
		<h3 class="mb-0 roboto f-400 text-dark">Thank you!</h3>
		<h5 class="mb-0 roboto f-400 heterogenous-yellow f-16 pt-20 pr-4 pl-4">The bank will be verified soon. We need some additional proof to confirm that it belongs to you.</h5>
	</div>
	<div class="col-12 mob-pl-10 mob-pr-10 pt-70">
		<p class="roboto f-400 m-0 pb-4">Select bank proof type</p>
		<div class="form-group mb-0">
		 <mat-form-field>
					  <mat-select class="form-control text-primitive">
					    <mat-option>
					    Select type
					    </mat-option>
					  </mat-select>
					</mat-form-field>
		</div>
	</div>
	<div class="col-12 mob-pr-10 mob-pl-10 pt-40">
		 <button mat-stroked-button class="w-100 btn-primary upload-pan-mob">
        <div class="row">
          <div class="col-2">
            <img src="/assets/images/svg/upload-up-arrow.svg">
          </div>
          <div class="col-10 text-left">
           Upload bank proof
          </div>
        </div>
      </button>
      <p class="f-12 text-custom m-0 roboto f-400 pt-10">Please ensure that your name & a/c no. is clearly visible</p>
	</div>
</div> -->
<!-- end -->

<!-- thank you 2 -->
<!-- <div class="row pt-120">
	<div class="col-12 text-center">
		<h3 class="mb-0 roboto f-400 text-dark">Thank you!</h3>
		<h5 class="mb-0 roboto f-400 heterogenous-yellow f-16 pt-20 pr-12 pl-12">Your bank account proof has been securely uploaded.</h5>

<h5 class="mb-0 roboto f-400 heterogenous-yellow f-16 pt-16 pr-12 pl-12">You will be notified once the same has been approved.</h5>
	</div>
	<div class="col-12 mob-pl-10 mob-pr-10 pt-24">
		<div class="bg-white br-4">
			<div class="row pt-20 pb-20">
				<div class="col-2">
					<img src="assets/images/icici.png">
				</div>
				<div class="col-10">
					<p class="m-0 roboto f-400">ICICI Bank</p>
					<p class="m-0 roboto f-400 text-custom">A/c: 303189189000</p>
					<div class="row pt-20">
						<div class="col-5 pl-0">
							<p class="f-12 m-0 roboto f-400 text-custom">IFSC</p>
							<p class="m-0 roboto f-400 text-dark">ICIC0000011</p>
						</div>
						<div class="col-7 pl-0">
							<p class="f-12 m-0 roboto f-400 text-custom">Branch</p>
							<p class="m-0 roboto f-400 text-dark">Mumbai - 400089</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	

</div>
<div class="row add-bank-mob">
	<div class="col-12 text-center pt-8 pb-8">
      <button mat-stroked-button class="btn-bank h-40 br-4 w-60">Setup a bank mandate</button>
      <p class="pt-12 m-0 roboto f-400 f-12">This allows you to start SIP investments</p>
    </div>
</div> -->
<!-- end -->

<!-- thank you-2 -->

<!-- <div class="row pt-80">
		<div class="col-12 mob-pl-10 mob-pr-10 pt-16">
		<div class="bg-white br-4">
			<div class="row pt-20 pb-20">
				<div class="col-2">
					<img src="assets/images/icici.png">
				</div>
				<div class="col-10">
					<p class="m-0 roboto f-400">ICICI Bank</p>
					<p class="m-0 roboto f-400 text-custom">A/c: 303189189000</p>
					<div class="row pt-20">
						<div class="col-5 pl-0">
							<p class="f-12 m-0 roboto f-400 text-custom">IFSC</p>
							<p class="m-0 roboto f-400 text-dark">ICIC0000011</p>
						</div>
						<div class="col-7 pl-0">
							<p class="f-12 m-0 roboto f-400 text-custom">Branch</p>
							<p class="m-0 roboto f-400 text-dark">Mumbai - 400089</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-12 pt-28 pb-20 mob-pr-10 mob-pl-10">
		<p class="m-0 roboto f-400 text-dark f-16 pb-10">Set maximum daily limit</p>
		<div class="form-group mb-0">
			<mat-form-field>
			          <input matInput class="form-control text-primitive" value="Enter amount">
			   </mat-form-field>
		</div>
	</div>
</div>
<div class="row pt-36">
	<div class="col-6 mob-pr-10 mob-pl-10">
		<p class="m-0 roboto f-400 pb-4">Start date</p>
	</div>
	<div class="col-6 mob-pr-10 mob-pl-10">
			<p class="m-0 roboto f-400 pb-4">Start date</p>
	</div>
</div>
<div class="row pt-100">
	<div class="col-12">
		<p class="f-12 roboto text-custom f-400">I authorize BSE Star MF / NSE NMF to debit my account, based on the instructions as agreed and signed by me. I have understood that I am authorized to cancel / amend this mandate by appropriately communicating the cancellation / amendment request to BSE Star MF / NSE NMF or the bank where I have authorized debit.</p>
	</div>
</div> -->
<!-- end -->

<!-- success screen -->
<!-- <div class="row pt-90">
	<div class="col-12 pl-48 pr-48">
		<img src="assets/images/svg/like.svg">
		<h5 class="m-0 text-success roboto f-400 f-16 pt-28">Success!</h5>
		<p class="m-0 pt-6 roboto f-400 pb-4">NACH Mandate generated successfully</p>
		 <button mat-stroked-button class="btn-id mb-20">Save & Next</button>
		 <p class="pt-20 roboto f-400 text-dark m-0 bt-1 lh-18">Your pre filled NACH mandate form has been mailed to rahuljain01@gmail.com</p>
		 <p class="m-0 pt-40 roboto f-400 text-dark pb-10">Follow these 3 simple steps -</p>
		 <ul class="d-grid mob-points">
		 	<li><span>1</span>Take a printout of the mandate</li>
		 	<li class="mt-10"><span>2</span>Sign the mandate</li>
		 	<li class="mt-10"><span>3</span>Upload it here</li>
		 </ul>

		 <img src="assets/images/Mandate-Form.png" alt="bank Mandate Form 2 screen">
	</div>
</div>
<div class="row bg-white mob-proccess-fixed br-0">
    <div class="col-6 text-center pt-8 pb-8 mob-pl-10 pr-4">
      <button mat-stroked-button class="btn-primary h-40 br-4 w-100">Upload mandate</button>
    </div>
  <div class="col-6 text-center pt-8 pb-8 mob-pr-10 p4-4">
      <button mat-stroked-button class="btn-primary-outline h-40 br-4 w-100">Upload later</button>
    </div>
  </div> -->
<!-- end -->

<!-- Mandate uploaded successfully -->
<!-- <div class="row pt-90">
	<div class="col-12 pl-48 pr-48">
		<img src="assets/images/svg/like.svg">
		<h5 class="m-0 text-success roboto f-400 f-16 pt-28">Success!</h5>
		<p class="m-0 pt-6 roboto f-400 pb-4">Mandate uploaded successfully</p>
		 <p class="pt-20 roboto f-400 text-dark m-0 bt-1 lh-18">The signed Mandate will now be physically submitted to the bank. Your bank will approve the same once everything is in order.
		<p class="pt-20 roboto f-400 text-dark m-0 lh-18">The approval process takes upto 15 days depending on the bank.</p>
	</div>
</div> -->
<!-- end -->

<!-- Congratulations! -->
<!-- <div class="row pt-100">
	<div class="col-12 text-center">
		<img src="assets/images/svg/mob-cogno.svg">
		<p class="m-0 f-18 text-dark roboto f-500 pt-20">Congratulations!</p>
		<p class="m-0 text-dark roboto f-400 pt-20 lh-16">Your investment account has been <br> successfully created. </p>
		<p class="m-0 text-dark roboto f-400 pt-20">You are now ready to invest!</p>
	</div>
</div> -->
<!-- end -->
<!--   <div class="row bg-white mob-proccess-fixed br-0">
    <div class="col-12 text-center pt-8 pb-8">
      <button mat-stroked-button class="btn-primary h-40 br-4 w-60">Save & Next</button>
    </div>
  
  </div>
</div> -->