<div class="popup-header-fix-60">
    <div class="row bb-1">
        <div class="col-md-8 p-0">
            <h4 class="mb-0 wrapper-20">ADD GRATUITY</h4>
        </div>
        <div class="col-md-4 text-right">
            <div class="wrapper-12">
                <i class="material-icons c-p pt-8 v-middle" (click)="Close(false)"> clear</i>
            </div>
        </div>
    </div>
</div>
<div [formGroup]="gratuity" class="pb-44 mb-48 pt-100">
        <div class="row">
                <div class="col-md-5 pr-0 text-right">
                    <h5 class="m-0 pt-8">Owner</h5>
                    <p class="m-0 f-12 text-custom">In whose name is this asset</p>
                </div>
                <div class="col-md-5">
                  <app-owner-column (valueChange)='display($event)' [data]='ownerData'></app-owner-column>
                </div>
            </div>
    <div class="row pt-40">
        <div class="col-md-5 pr-0  text-right">
            <h5 class="m-0 pt-8">Number of completed years</h5>
        </div>
        <div class="col-md-3">
            <div class="form-group mb-0">
                <mat-form-field>
                    <input matInput #noOfcompleteYrs type="number" (keypress)="utils.keyPress($event)" maxlength="20" class="form-control br-0" formControlName="noOfcompleteYrs">
                    <mat-error class="f-12 pt-4" [ngClass]="{'v-h':!(isNoOfcompleteYrs && getFormControl().noOfcompleteYrs.invalid || getFormControl().noOfcompleteYrs.touched && getFormControl().noOfcompleteYrs.invalid)}">
                        This field is required
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
    </div>
    <div class="row pt-40">
        <div class="col-md-5 pr-0  text-right">
            <h5 class="m-0 pt-8">Amount recieved</h5>
        </div>
        <div class="col-md-3">
            <div class="form-group mb-0">
                <mat-form-field>
                    <input matInput #amountRecived type="text" (keypress)="utils.keyPress($event)" maxlength="10" class="form-control br-0 rupess" formControlName="amountRecived">
                    <mat-error class="f-12 pt-4" [ngClass]="{'v-h':!(isAmountRecived && getFormControl().amountRecived.invalid || getFormControl().amountRecived.touched && getFormControl().amountRecived.invalid)}">
                        This field is required
                    </mat-error>
                    <mat-hint align="end" class="f-12">{{amountRecived.value.length}}/10</mat-hint>
                </mat-form-field>
            </div>
        </div>
    </div>


    <div class="row pt-24">
        <div class="col-md-5 text-right" *ngIf="showHide == true">
            <h5 class="m-0 pt-8 text-custom c-p" (click)="showLess(showHide)">Show less</h5>
        </div>
        <div class="col-md-5 text-right" *ngIf="showHide == false">
            <h5 class="m-0 pt-8 text-custom c-p" (click)="showLess(showHide)">+ Add more [optional data] </h5>
        </div>
        <div class="col-md-5">

        </div>
    </div>

    <div *ngIf="showHide == true">
        <div class="row pt-40">
            <div class="col-md-5 pr-0 text-right">
                <h5 class="m-0 pt-8">Name of organization</h5>
            </div>
            <div class="col-md-5">
                <div class="form-group mb-0">
                    <mat-form-field>
                        <input matInput #nameOfOrg maxlength="40" class="form-control br-0" formControlName="nameOfOrg">
                        <mat-hint align="start" class="f-12">Optional</mat-hint>
                        <mat-hint align="end" class="f-12">{{nameOfOrg.value.length}}/40</mat-hint>
                    </mat-form-field>
                </div>
            </div>
        </div>

        <div class="row pt-40">
            <div class="col-md-5 pr-0 text-right">
                <h5 class="m-0 pt-8">Year of receipt</h5>
            </div>
            <div class="col-md-3">
                <div class="form-group mb-0">
                    <mat-form-field>
                        <input matInput maxlength="30" formControlName="yearOfReceipt" class="form-control br-0">
                        <mat-hint align="start" class="f-12">Optional</mat-hint>
                    </mat-form-field>
                </div>
            </div>
        </div>

        <div class="row pt-40">
            <div class="col-md-5 pr-0 text-right">
                <h5 class="m-0 pt-8">Reason of receipt</h5>
            </div>
            <div class="col-md-5">
                <div class="form-group mb-0">
                    <mat-form-field>
                        <input matInput #resonOfRecipt maxlength="40" class="form-control br-0" formControlName="resonOfRecipt">
                        <mat-hint align="start" class="f-12">Optional</mat-hint>
                        <mat-hint align="end" class="f-12">{{resonOfRecipt.value.length}}/40</mat-hint>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="row pt-40">
            <div class="col-md-5 pr-0 text-right">
                <h5 class="m-0 pt-8">Bank account number</h5>
            </div>
            <div class="col-md-5">
                <div class="form-group mb-0">
                    <mat-form-field>
                        <input matInput #bankAcNo type="text" (keypress)="utils.keyPress($event)" maxlength="16" class="form-control br-0" formControlName="bankAcNo">
                        <mat-hint align="start" class="f-12">Optional</mat-hint>
                        <mat-hint align="end" class="f-12">{{bankAcNo.value.length}}/16</mat-hint>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="row pt-40">
            <div class="col-md-5 pr-0 text-right">
                <h5 class="m-0 pt-8">Description</h5>
            </div>
            <div class="col-md-5">
                <div class="form-group mb-0">
                    <mat-form-field>
                        <input matInput #description maxlength="60" class="form-control br-0" formControlName="description">
                        <mat-hint align="start" class="f-12">Optional</mat-hint>
                        <mat-hint align="end" class="f-12">{{description.value.length}}/60</mat-hint>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bottom-fixed wrapper-12 pt-16">
    <div class="row">
        <div class="col-md-4">
            <h5 class="mb-0 pt-8 text-white c-p" (click)="Close(false)">Cancel</h5>
        </div>
        <div class="col-md-8 right text-right">
            <button mat-button class="btn-bottom br-0 text-inherit" (click)="saveEPF()">Save</button>
        </div>
    </div>
</div>
