<div class="row">
    <div class="col-md-8 p-0">
        <h4 class="m-0 text-black pt-10">Scheme basket</h4>
    </div>
    <div class="col-md-4 text-right p-0">
        <button class="btn-primary " (click)="openAddSchemeDetails(null, null)" mat-stroked-button>
            ADD NEW
        </button>
    </div>
</div>

<!-- empty screen -->
<!-- <div class="row pt-48">
    <div class="col-md-6 text-center">
        <img src="/assets/images/Scheme-basket.png">
    </div>
    <div class="col-md-6 pt-60">
        <p class="m-0 lh-16 f-400 roboto">Scheme baskets are the perfect way to keep a curated list of schemes which you
            routinely advice to your clients.</p>

        <p class="m-0 lh-16 f-400 roboto pt-16"> You can manage the rationale / factsheets etc here. From there on, the
            schemes are picked up while creating model portfolios or giving advice or doing transactions and so on. </p>
        <p class="m-0 lh-16 f-400 roboto pt-16">
            There’s a lot of automation in store once you get going. So, let’s get going!</p>
        <button class="btn-primary mt-20" mat-stroked-button>
            Add schemes
        </button>
    </div>
</div> -->
<!-- end -->
<div class="scheme-basket">
    <div class="col-md-12 p-0">
        <table mat-table [dataSource]="dataSource" class="mt-8 skeletonAnimation" appSkeletonLoading
            [appSkeletonLoading]="isLoading" id="table-low">

            <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef> Scheme name </th>
                <td (click)="openSchemeDetails(null, null)" mat-cell *matCellDef="let element" class="c-p">
                    <div class="bar">
                        {{element.position}} </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Category </th>
                <td mat-cell *matCellDef="let element">
                    <div class="bar"> {{element.name}} </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="weight">
                <th mat-header-cell *matHeaderCellDef> Sub category </th>
                <td mat-cell *matCellDef="let element">
                    <div class="bar"> {{element.weight}} </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="symbol">
                <th mat-header-cell *matHeaderCellDef> Added date </th>
                <td mat-cell *matCellDef="let element">
                    <div class="bar"> {{element.symbol}} </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="ldate">
                <th mat-header-cell *matHeaderCellDef> Last updated</th>
                <td mat-cell *matCellDef="let element">
                    <div class="bar"> {{element.ldate}} </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="rdate">
                <th mat-header-cell *matHeaderCellDef> Removed date </th>
                <td mat-cell *matCellDef="let element">
                    <div class="bar"> {{element.rdate}} </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef> Status </th>
                <td mat-cell *matCellDef="let element">
                    <div class="bar"> {{element.status}} </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="icons">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let element">
                    <i class="material-icons c-p">
                        more_vert
                    </i>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>

</div>