p {
    margin: 0;
    font-size: 12px;
    color: #83959D;
    font-family: "Proxima Nova", sans-serif;
}

h5 {
    color: #3F3F3F;
    line-height: 24px;
}

// ::ng-deep .hoverable {
//     transition: box-shadow 0.3s;
// }
::ng-deep .hoverable:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

::ng-deep .hoverable {
    width: 950px !important;
}

.fontPlayfair {
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
}

.width200 {
  width: 200px;
  margin-top: 220px;
}

.height23 {
  height: 24px;
}

.skeletonAnimation .relClass {
  position: relative;

  .bar {
    background-color: #E7E7E7;
    width: 100%;

    &:after {
      position: absolute;
      transform: translateY(-50%);
      top: 50%;
      left: 0;
      content: "";
      display: block;
      width: 100%;
      height: 24px;
      background-image: linear-gradient(100deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0) 80%);
      background-size: 100px 24px;
      background-position: -10px 0;
      background-repeat: no-repeat;
      animation: loading 1s infinite;
    }
  }
}
