<div id="ui-plan-summary">
    <div class="row">

        <div class="col-md-2 p-0 bg-white pb-44">
            <div class="wrapper-16 bb-2 c-p">
                <p class="m-0 text-black roboto">ANNUAL SURPLUS <span class="text-primitive"></span> 2019-20</p>
                <h1 class="f-35 m-0 text-black pt-8">₹1,25,35,470</h1>

                <div class="row pt-20">
                    <div class="col-md-6 p-0">
                        <p class="text-black f-12 m-0 roboto">INCOME</p>
                    </div>
                    <div class="col-md-6 p-0">
                        <p class="text-black f-12 m-0 text-right roboto">₹28,30,500</p>
                    </div>
                    <div class="col-md-12 p-0 pt-4">
                        <mat-progress-bar class="light-blue" mode="determinate" value="40"></mat-progress-bar>
                    </div>
                </div>

                <div class="row pt-20">
                    <div class="col-md-6 p-0">
                        <p class="text-black f-12 m-0 roboto">EXPENSES</p>
                    </div>
                    <div class="col-md-6 p-0">
                        <p class="text-black f-12 m-0 text-right roboto">₹19,77,000</p>
                    </div>
                    <div class="col-md-12 p-0 pt-4">
                        <mat-progress-bar class="light-red" mode="determinate" value="40"></mat-progress-bar>
                    </div>
                </div>
            </div>

            <div class="row pt-20">
                <div class="col-md-10 pr-0">
                    <p class="mb-0 f-16 roboto"> Budget status <span class="text-primitive"> Dec-20 </span> </p>
                </div>
                <div class="col-md-2 pl-0  ">
                    <i class="material-icons">
                        more_horiz
                    </i>
                </div>
            </div>


            <div class="row bb c-p pt-10">
                <div class="col-md-6 pr-0">
                    <p class="mb-0 f-14 text-black  roboto"> Groceries </p>
                    <p class="mb-10 f-14 roboto"> ₹9,000 / 8,400</p>
                </div>
                <div class="col-md-6 pl-0 d-flex justify-content-end align-items-end ">
                    <p class="mb-10 f-14 text-success roboto"> 83% </p>
                </div>
            </div>

            <div class="row bb c-p pt-10">
                <div class="col-md-6 pr-0">
                    <p class="mb-0 f-14 text-black  roboto"> Transportation </p>
                    <p class="mb-10 f-14 roboto"> ₹8,000 / 7,200 </p>
                </div>
                <div class="col-md-6 pl-0 d-flex justify-content-end align-items-end ">
                    <p class="mb-10 f-14 text-success roboto"> 80% </p>
                </div>
            </div>


            <div class="row bb c-p pt-10">
                <div class="col-md-6 pr-0">
                    <p class="mb-0 f-14 text-black  roboto"> School fees </p>
                    <p class="mb-10 f-14 roboto">₹5,600 / 5,600 </p>
                </div>
                <div class="col-md-6 pl-0 d-flex justify-content-end align-items-end ">
                    <p class="mb-10 f-14 text-success roboto"> 100% </p>
                </div>
            </div>

            <div class="row bb c-p pt-10">
                <div class="col-md-6 pr-0">
                    <p class="mb-0 f-14 text-black  roboto"> Dining out </p>
                    <p class="mb-10 f-14 roboto"> ₹3,000 / 3,700</p>
                </div>
                <div class="col-md-6 pl-0 d-flex justify-content-end align-items-end ">
                    <p class="mb-10 f-14 text-danger roboto"> 122% </p>
                </div>
            </div>


            <div class="row bb c-p pt-10">
                <div class="col-md-6 pr-0">
                    <p class="mb-0 f-14 text-black  roboto"> Leisure & entertainment</p>
                    <p class="mb-10 f-14 roboto"> ₹2,000 / 0 </p>
                </div>
                <div class="col-md-6 pl-0 d-flex justify-content-end align-items-end ">
                    <p class="mb-10 f-14 text-primary roboto"> 0% </p>
                </div>
            </div>

            <div class="row bb c-p pt-10">
                <div class="col-md-6 pr-0">
                    <p class="mb-0 f-14 text-black  roboto"> Mutual fund SIP </p>
                    <p class="mb-10 f-14 roboto"> ₹1000 / 1200 </p>
                </div>
                <div class="col-md-6 pl-0 d-flex justify-content-end align-items-end ">
                    <p class="mb-10 f-14 text-primary roboto"> 80% </p>
                </div>
            </div>

        </div>


        <div class="col-md-8 p-0 b-l">
            <div class="row b-b">
                <div class="col-md-8 p-0">
                    <h3 class="m-0 roboto wrapper-20 f-500 text-black">Plan summary</h3>
                </div>
                <div class="col-md-4 pl-0">
                    <button [matMenuTriggerFor]="menu" class="right text-right b-a mt-12 br-0" mat-button>
                        Scenario 2 <i class="material-icons text-custom">
                            keyboard_arrow_down
                        </i></button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item>Item 1</button>
                        <button mat-menu-item>Item 2</button>
                    </mat-menu>
                </div>
            </div>

            <div class="bg-grey lter">
                <div class="row">
                    <div class="col-md-8 mt-16 pr-8">
                        <div class="bg-white p-20">
                            <h5 class="f-500 mb-20">Goal summary</h5>
                            <div class="row">
                                <div class="col-md-4 pl-0">
                                    <div class="row">
                                        <div class="col-md-12 p-0 mb-16">
                                            <div class="totalGoalsBox bg-grey lter">
                                                <p class="f-14 mb-5">Total goals</p>
                                                <h1 class="text-primary">5</h1>
                                            </div>
                                        </div>

                                        <div class="col-md-12 p-0">
                                            <div class="totalGoalsBox bg-grey lter">
                                                <p class="f-14 mb-5">Upcoming</p>
                                                <h1 class="text-primary">5</h1>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 pl-0 pr-8">
                                    <div class="investmentBox text-center bg-grey lter">
                                        <p class="f-14 mb-10 l-18">Investments <br> mapped to goals</p>

                                        <span class="linebr"></span>

                                        <p class="f-14 mb-0">Monthly</p>
                                        <h4 class="text-primary">₹57,000</h4>

                                        <p class="f-14 mb-0">Lumpsum</p>
                                        <h4 class="text-primary">₹22,92,500</h4>

                                    </div>
                                </div>

                                <div class="col-md-4 pl-8 pr-0">
                                    <div class="investmentBox text-center bg-grey lter">
                                        <p class="f-14 mb-10 l-18">Additional <br> suggestions</p>

                                        <span class="linebr"></span>

                                        <p class="f-14 mb-0">Monthly</p>
                                        <h4 class="text-primary">₹14,000</h4>

                                        <p class="f-14 mb-0">Lumpsum</p>
                                        <h4 class="text-primary">₹5,75,000</h4>

                                    </div>
                                </div>
                            </div>

                            <div class="row pt-20">

                                <div class="col-md-12 p-0">
                                    <p class="f-14 left m-0">Quick view</p>
                                    <p class="f-14 right m-0">
                                        <i class="material-icons">
                                            keyboard_arrow_left
                                        </i>
                                        <i class="material-icons">
                                            keyboard_arrow_right
                                        </i>
                                    </p>
                                </div>


                                <div class="col-md-12 planTable p-0">
                                    <table mat-table [dataSource]="dataSource" id="table-low" class=" ">

                                        <!--- Note that these columns can be defined in any order.
                                                      The actual rendered columns are set as a property on the row definition" -->

                                        <!-- Position Column -->
                                        <ng-container matColumnDef="details">
                                            <th mat-header-cell *matHeaderCellDef> Goal details </th>
                                            <td mat-cell *matCellDef="let element">
                                                <div class="d-flex align-items-center justify-content-around">
                                                    <div>
                                                        <img src="assets/images/svg/planGoalsIcon.svg">
                                                    </div>
                                                    <div>
                                                        <p class="f-14 m-0"> Shreya’s higher education </p>
                                                        <mat-progress-bar mode="determinate" value="40">
                                                        </mat-progress-bar>

                                                    </div>
                                                </div>
                                            </td>
                                        </ng-container>

                                        <!-- Name Column -->
                                        <ng-container matColumnDef="value">
                                            <th mat-header-cell *matHeaderCellDef> Goal value </th>
                                            <td mat-cell *matCellDef="let element"> {{element.value}} </td>
                                        </ng-container>

                                        <!-- Weight Column -->
                                        <ng-container matColumnDef="month">
                                            <th mat-header-cell *matHeaderCellDef> Monthly </th>
                                            <td mat-cell *matCellDef="let element"> {{element.month}} </td>
                                        </ng-container>

                                        <!-- Symbol Column -->
                                        <ng-container matColumnDef="lumpsum">
                                            <th mat-header-cell *matHeaderCellDef> Lumpsum </th>
                                            <td mat-cell *matCellDef="let element"> {{element.lumpsum}} </td>
                                        </ng-container>

                                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                    </table>


                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mt-16 pl-8">
                        <div class="bg-white p-20">
                            <h5 class="f-500 mb-10"> Insurance summary</h5>

                            <div class="row b-b pt-14">
                                <div class="col-md-2 p-0">
                                    <img src="assets/images/svg/plan-life-insurance.svg">
                                </div>
                                <div class="col-md-10 pr-0 ">
                                    <p class="f-14 m-0">Life insurance</p>
                                    <p class="f-14 mb-16 f-600">₹5,75,000 </p>
                                </div>
                            </div>

                            <div class="row b-b pt-14">
                                <div class="col-md-2 p-0">
                                    <img src="assets/images/svg/plan-health-insurance.svg">
                                </div>
                                <div class="col-md-10 pr-0 ">
                                    <p class="f-14 m-0">Health insurance</p>
                                    <p class="f-14 mb-16 f-600">₹25,00,000 </p>
                                </div>
                            </div>

                            <div class="row b-b pt-14">
                                <div class="col-md-2 p-0">
                                    <img src="assets/images/svg/plan-accident-insu.svg">
                                </div>
                                <div class="col-md-10 pr-0 ">
                                    <p class="f-14 m-0">Personal accident</p>
                                    <p class="f-14 mb-16 f-600">₹25,00,000 </p>
                                </div>
                            </div>

                            <div class="row b-b pt-14">
                                <div class="col-md-2 p-0">
                                    <img src="assets/images/svg/plan-critical-insu.svg">
                                </div>
                                <div class="col-md-10 pr-0 ">
                                    <p class="f-14 m-0">Critical illness</p>
                                    <p class="f-14 mb-16 f-600">₹25,00,000 </p>
                                </div>
                            </div>

                            <div class="row b-b pt-14">
                                <div class="col-md-2 p-0">
                                    <img src="assets/images/svg/plan-cancer-insu.svg">
                                </div>
                                <div class="col-md-10 pr-0 ">
                                    <p class="f-14 m-0">Cancer care</p>
                                    <p class="f-14 mb-16 f-600">₹25,00,000 </p>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-8 mt-16 pr-8">
                        <div class="bg-white p-20">
                            <h5 class="f-500 mb-20">Ratios</h5>

                            <div class="row">
                                <div class="col-md-3 pl-0">
                                    <div class="ratiosGreen">
                                        <p class="f-14 l-18 mb-8">Basic <br>liquidity</p>
                                        <h4 class="text-success m-0">55.8</h4>
                                    </div>
                                </div>
                                <div class="col-md-3 pl-0 pr-8">
                                    <div class="ratiosOrange">
                                        <p class="f-14 l-18 mb-8"> Expanded <br>liquidity</p>
                                        <h4 class="text-danger m-0">20%</h4>
                                    </div>
                                </div>
                                <div class="col-md-3 pl-8 pr-0">
                                    <div class="ratiosGreen">
                                        <p class="f-14 l-18 mb-8"> Savings <br> ratio </p>
                                        <h4 class="text-success m-0">63%</h4>
                                    </div>
                                </div>
                                <div class="col-md-3 pr-0">
                                    <div class="ratiosGreen">
                                        <p class="f-14 l-18 mb-8"> Investment <br>ratio</p>
                                        <h4 class="text-success m-0">82%</h4>
                                    </div>
                                </div>
                            </div>

                            <div class="row pt-16">
                                <div class="col-md-3 pl-0">
                                    <div class="ratiosGreen">
                                        <p class="f-14 l-18 mb-8">Debt <br>asset</p>
                                        <h4 class="text-success m-0">0%</h4>
                                    </div>
                                </div>
                                <div class="col-md-3 pl-0 pr-8">
                                    <div class="ratiosGreen">
                                        <p class="f-14 l-18 mb-8"> Solvency <br>ratio</p>
                                        <h4 class="text-success m-0">100%</h4>
                                    </div>
                                </div>
                                <div class="col-md-3 pl-8 pr-0">
                                    <div class="ratiosGreen">
                                        <p class="f-14 l-18 mb-8"> Debt
                                            <br> service </p>
                                        <h4 class="text-success m-0">0%</h4>
                                    </div>
                                </div>
                                <div class="col-md-3 pr-0">
                                    <div class="ratiosGreen">
                                        <p class="f-14 l-18 mb-8"> Financial
                                            <br>investment</p>
                                        <h4 class="text-success m-0">85%</h4>
                                    </div>
                                </div>
                            </div>



                        </div>
                    </div>

                    <div class="col-md-4 mt-16 pl-8">
                        <div class="bg-white p-20">
                            <div class="row d-flex align-items-center justify-content-between b-b">
                                <h5 class="f-500 mb-10"> Cash flows </h5>
                                <p class="f-14 text-primitive mb-10"> 2019-20 </p>
                            </div>

                            <div class="row pt-8 pb-8 d-flex align-items-center justify-content-between b-b">
                                <p class="f-14 m-0">Incomes</p>
                                <p class="f-14 m-0">28,30,500</p>
                            </div>

                            <div class="row pt-8 pb-8 d-flex align-items-center justify-content-between b-b">
                                <p class="f-14 m-0">Expenses</p>
                                <p class="f-14 m-0">12,78,000</p>
                            </div>

                            <div class="row pt-8 pb-8 d-flex align-items-center justify-content-between b-b">
                                <p class="f-14 m-0">Assets</p>
                                <p class="f-14 m-0">0</p>
                            </div>

                            <div class="row pt-8 pb-8 d-flex align-items-center justify-content-between b-b">
                                <p class="f-14 m-0">Insurance</p>
                                <p class="f-14 m-0">3,57,000</p>
                            </div>

                            <div class="row pt-8 pb-8 d-flex align-items-center justify-content-between b-b">
                                <p class="f-14 m-0">Liabilities</p>
                                <p class="f-14 m-0">1,09,000</p>
                            </div>

                            <div class="row pt-8 pb-8 d-flex align-items-center justify-content-between b-b">
                                <p class="f-14 f-600 m-0">Surplus</p>
                                <p class="f-14 f-600 m-0">8,73,500</p>
                            </div>





                        </div>
                    </div>

                </div>

            </div>


        </div>

        <div class="col-md-2 p-0">
            <div class="b-a">
                <div class="row b-b">
                    <div class="col-md-3 p-0">
                        <img class="t-85 pt-16 pb-20 pl-8 rounded-circle" src="http://localhost:4200/assets/images/img1.jpg">
                    </div>
                    <div class="col-md-9 p-0 text-left">
                        <p class="text-black m-0 f-500 pt-20">Acme Financial Advisors</p>
                        <p class="text-custom m-0">Contact</p>
                    </div>
                </div>
                <div class="height174 b-b">

                </div>


                <div class="">
                    <div class="wrapper-20 pl-12 pr-12">
                        <div class="row">
                            <div class="col-md-12 p-0">
                                <h5 class="m-0 text-black pb-12">Activity log</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 p-0">
                                <p class="m-0 f-13 f-300 text-black">Fixed deposit - 980787870909 -
                                    <br>ICICI FD was created manually.</p>
                                <p class="text-custom m-0 f-13 pt-4 f-300">by Acme Financial Advisors</p>
                                <p class="m-0 text-black f-12 text-right f-300">04/09/2019 6:00 AM</p>
                            </div>
                        </div>
                    </div>
                    <div class="wrapper-20 pl-12 pt-12 pr-12 pb-12 bt-1">
                        <div class="row">
                            <div class="col-md-12 p-0">
                                <p class="m-0 f-13 f-300 text-black">Fixed deposit - 980787870909 -
                                    <br>ICICI FD was created manually.</p>
                                <p class="text-custom m-0 f-13 pt-4 f-300">by Acme Financial Advisors</p>
                                <p class="m-0 text-black f-12 pb-12 text-right f-300">04/09/2019 6:00 AM</p>
                            </div>
                        </div>
                    </div>
                    <div class="wrapper-20 pl-12 pt-12 pb-12 pr-12 bt-1">
                        <div class="row">
                            <div class="col-md-12 p-0">
                                <p class="m-0 f-13 f-300 text-black">Fixed deposit - 980787870909 -
                                    <br>ICICI FD was created manually.</p>
                                <p class="text-custom m-0 pt-4 f-13 f-300">by Acme Financial Advisors</p>
                                <p class="m-0 text-black f-12 pb-12 text-right f-300">04/09/2019 6:00 AM</p>
                            </div>
                        </div>
                    </div>
                    <div class="wrapper-20 pl-12 pt-12 pb-12 pr-12 bt-1">
                        <div class="row">
                            <div class="col-md-12 p-0">
                                <p class="m-0 f-13 f-300 text-black">Fixed deposit - 980787870909 -
                                    <br>ICICI FD was created manually.</p>
                                <p class="text-custom m-0 pt-4 f-300">by Acme Financial Advisors</p>
                                <p class="m-0 text-black f-12 pb-12 text-right f-300">04/09/2019 6:00 AM</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>