::ng-deep #ui-plan-summary .light-blue .mat-progress-bar-fill::after {
    background-color: #84BDF3;
}

::ng-deep #ui-plan-summary .light-red .mat-progress-bar-fill::after {
    background-color: #EA5970;
}

.totalGoalsBox {
    height: 90px;
    border: 0.5px solid #BCC6CA;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.investmentBox {
    border: 0.5px solid #BCC6CA;
    height: 196px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.linebr {
    display: block;
    border: 0.5px solid #83959D;
    width: 104px;
    margin: 12px auto;
}

.height174 {
    height: 174px;
}

.planTable {
    tr.mat-header-row {
        height: 46px !important;
    }
}

.ratiosGreen {
    background: rgba(2, 184, 117, 0.1);
    border: 1px solid #02B875;
    border-radius: 2px;
    height: 96px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.ratiosOrange {
    background: rgba(255, 104, 35, 0.1);
    border: 1px solid #FF6823;
    border-radius: 2px;
    height: 96px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.detailsPDF {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}