.boxone {
    width: 276px;
    height: 180px;
    border: 2px solid #83959D;
    background: #F5F7F7;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    flex-direction: column;
}