<!-- ADD INSURANCE -->
<div class="popup-header-fix-60">
    <div class="row bb-1">
        <div class="col-md-6 p-0">
            <h4 class="mb-0 wrapper-20 pr-0">{{flag}} HEALTH INSURANCE</h4>
        </div>
        <div class="col-md-6 text-right">
            <div class="wrapper-12">
                <button matTooltip="Have lots of policies?You can bulk upload these policies using excel import option"
                    mat-button class="btn-dark-black addon mr-8 ">
                    <img src="assets/images/svg/insurance-download-icon.svg" class="c-p mr-8"> Import policies
                </button>
                <i class="material-icons c-p v-middle" (click)="close(null)"> clear</i>
            </div>
        </div>
    </div>
</div>

<div #chnageScrollPosition class="pt-72 pl-24 pr-24 pb-24 mb-48">
    <div class="lifeInsuranceMainBox" [formGroup]="healthInsuranceForm">
        <div formArrayName="getCoOwnerName">
            <div class="row"
                *ngFor="let obj of healthInsuranceForm.controls['getCoOwnerName'].controls; let pointIndex=index"
                [formGroupName]="pointIndex">
                <div class="col-md-5 pr-0 text-right">
                    <h5 class="m-0 pt-8 ">{{pointIndex != 0?'Co-o' : 'O'}}wner{{pointIndex != 0?pointIndex:''}}</h5>
                </div>
                <div class="pr-0"
                    [ngClass]="healthInsuranceForm.value.getCoOwnerName.length > 1?'col-md-3' : 'col-md-5'">
                    <div class="form-group mb-0">
                        <mat-form-field>
                            <mat-select appOwnerNominee matInput formControlName="name" [data]='ownerData'
                                (selectionChange)="disabledMember($event.value,'owner')"
                                (valueChange3)='displayControler($event)' (valueChange1)='lisNominee($event)'
                                class="form-control br-0" [callMethod]='callMethod'>
                                <mat-option value='' disabled>Select family members</mat-option>
                                <mat-option *ngFor="let f of nomineesListFM" [disabled]="f.disable"
                                    [value]="f.userName">
                                    <span>{{f.userName}}</span>
                                </mat-option>
                            </mat-select>
                            <mat-error class="f-12">
                                This field is required
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-md-2" *ngIf="healthInsuranceForm.value.getCoOwnerName.length > 1">
                    <div class="form-group mb-0 iconPetage">
                        <mat-form-field>
                            <input matInput class="form-control br-0 percentage" type="number" formControlName="share"
                                (focusout)="onChangeJointOwnership('owner')">
                            <mat-error class="f-12" *ngIf="obj.controls['share'].hasError('required')">
                                This field is required
                            </mat-error>
                            <mat-error class="f-12" *ngIf="obj.controls['share'].hasError('incorrect') ">
                                Total percent should be 100%
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-md-2 p-0 d-flex align-items-center">
                    <!-- <i *ngIf="pointIndex==0" class="material-icons text-primitive f-20 c-p float-left" (click)="addNewCoOwner(undefined)">add</i> -->
                    <i *ngIf="pointIndex!=0" class="material-icons text-primitive f-20 c-p pl-10 pt-8"
                        (click)="removeCoOwner(pointIndex)">remove</i>
                </div>

            </div>
        </div>
        <div class="row pt-40">
            <div class="col-md-5 pr-0 text-right">
                <h5 class="m-0 pt-28">Plan type</h5>
            </div>
            <div class="col-md-3">
                <div class="form-group mb-0 iconRupess">
                    <mat-form-field>
                        <mat-select matInput formControlName="PlanType" autocomplete="true" class="form-control br-0">
                            <mat-option *ngFor="let option of policyList ;index as i" [value]="option.policy_type">
                                {{option.policy_type}}</mat-option>
                        </mat-select>
                        <mat-error>This field is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group mb-0">
                    <mat-form-field>
                        <mat-select matInput formControlName="planDetails" #frequency autocomplete="off"
                            class="form-control br-0">
                            <mat-option value='1'>Standard</mat-option>
                            <mat-option value='2'>Top up</mat-option>
                            <mat-option value='3'>Super top up</mat-option>
                        </mat-select>
                        <mat-error>This field is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="row pt-40 justify-content-center">
                <!-- <div class="col-md-3 pr-12">
                    <h5 class="m-0 pb-8">Insured members</h5>
                </div>
                <div class="col-md-3 pr-12">
                    <h5 class="m-0 pb-8">Sum insured</h5>
                </div> -->
                <div formArrayName="InsuredMemberForm">
                    <div [ngClass]="{'pt-36': pointIndex > 0}" class="row pt-4 justify-content-center"
                        *ngFor="let obj of insuredMembersForm.controls; let pointIndex=index"
                        [formGroupName]="pointIndex">
                        <div class="col-md-3">
                            <div class="form-group mb-0">
                               <label class="f-16 roboto">Name</label>
                                <mat-form-field>
                                        <mat-select matInput formControlName="insuredMembers" autocomplete="true"
                                            class="form-control br-0">
                                            <mat-option (click)="getFamilyMember(option,i)"
                                                *ngFor="let option of FamilyMember;index as i" [value]="option">
                                                {{option.userName}}</mat-option>
                                        </mat-select>
                                        <mat-error>This field is required
                                        </mat-error>
                                    </mat-form-field>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group mb-0">
                                <label class="f-16 roboto">Sum insured</label>
                                <mat-form-field>
                                        <input matInput type="number" formControlName="sumAssured"
                                            [inputValidator]="validatorType.ALPHA_NUMERIC" appInputValueValidation #premiumdetails
                                            autocomplete="true" [maxLength]="10" class="form-control rupess br-0">
                                        <mat-error>This field is required
                                        </mat-error>
                                    </mat-form-field>
                            </div>
                        </div>

                        <div class="col-md-1 p-0 pt-8 d-flex">
                            <i class="material-icons text-primitive c-p float-left"
                                (click)="addTransaction()">add</i>
                            <i class="material-icons text-primitive c-p float-right"
                                (click)="removeTransaction(pointIndex)">remove</i>
                        </div>
                    </div>
                </div>
            </div>
        <div class="row pt-40">
            <div class="col-md-5 pr-0 text-right">
                <h5 class="m-0 pt-8">Deductible sum insured</h5>
            </div>
            <div class="col-md-5">
                <div class="form-group mb-0">
                    <mat-form-field>
                        <input matInput type="number" formControlName="deductibleAmt"
                            [inputValidator]="validatorType.ALPHA_NUMERIC" appInputValueValidation #premiumdetails
                            autocomplete="true" [maxLength]="10" class="form-control rupess br-0">
                        <mat-error>This field is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="row pt-40">
            <div class="col-md-5 pr-0 text-right">
                <h5 class="m-0 pt-8">Policy number</h5>
            </div>
            <div class="col-md-5">
                <div class="form-group mb-0">
                    <mat-form-field>
                        <input matInput type="text" [inputValidator]="validatorType.ALPHA_NUMERIC" [maxLength]="10"
                            formControlName="policyNum" #policynumber appInputValueValidation autocomplete="off"
                            class="form-control br-0">
                        <mat-error>This field is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="row pt-40">
            <div class="col-md-5 pr-0 text-right">
                <h5 class="m-0 pt-8">Name of insurer</h5>
            </div>
            <div class="col-md-5">
                <div class="form-group mb-0">
                    <mat-form-field>
                        <input matInput type="text" [inputValidator]="validatorType.ALPHA_NUMERIC" [maxLength]="10"
                            formControlName="insurerName" #insureerName appInputValueValidation autocomplete="off"
                            class="form-control br-0">
                        <mat-error>This field is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="row pt-40">
            <div class="col-md-5 pr-0 text-right">
                <h5 class="m-0 pt-8">Plan name</h5>
            </div>
            <div class="col-md-5">
                <div class="form-group mb-0">
                    <mat-form-field>
                        <input matInput type="text" [maxLength]="10" formControlName="planeName" #planName
                            appInputValueValidation autocomplete="off" class="form-control br-0">
                        <mat-error>This field is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="row pt-40">
            <div class="col-md-5 pr-0 text-right">
                <h5 class="m-0 pt-8">Original loan amount</h5>
            </div>
            <div class="col-md-3 pr-0">
                <div class="form-group mb-0 iconRupess">
                    <mat-form-field>
                        <input type="text" matInput #loanAmountRef class="form-control rupess br-0"
                            appInputValueValidation [inputValidator]="validatorType.NUMBER_ONLY"
                            formControlName="loanAmount">
                        <mat-error class="f-12 pt-4">
                            This field is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="row pt-40">
            <div class="col-md-5 pr-0 text-right">
                <h5 class="m-0 pt-8">Policy start date</h5>
            </div>
            <div class="col-md-3">
                <div class="form-group mb-0">
                    <mat-form-field class="ba-date">
                        <input matInput formControlName="policyStartDate" [max]="maxDate" class="form-control br-0 b-0"
                            [matDatepicker]="policyStartDatePicker" (focus)="policyStartDatePicker.open()"
                            (input)="preventDefault($event)">
                        <mat-datepicker-toggle matSuffix [for]="policyStartDatePicker"></mat-datepicker-toggle>
                        <mat-datepicker #policyStartDatePicker></mat-datepicker>
                        <mat-error>This field is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="row pt-40">
            <div class="col-md-5 pr-0 text-right">
                <h5 class="m-0 pt-8">Policy expiry date</h5>
            </div>
            <div class="col-md-3">
                <div class="form-group mb-0">
                    <mat-form-field class="ba-date">
                        <input matInput formControlName="policyExpiryDate" [max]="maxDate" class="form-control br-0 b-0"
                            [matDatepicker]="policyExpiryDatePicker" (focus)="policyExpiryDatePicker.open()"
                            (input)="preventDefault($event)">
                        <mat-datepicker-toggle matSuffix [for]="policyExpiryDatePicker"></mat-datepicker-toggle>
                        <mat-datepicker #policyExpiryDatePicker></mat-datepicker>
                        <mat-error>This field is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div *ngIf="addMoreFlag==false" class="row pt-40 pb-48">
            <div (click)="openOptionField()" class="col-md-5 text-right">
                <p class="m-0 text-primitive f-16 c-p"> + Add more [optional data] </p>
            </div>
            <div class="col-md-3">
            </div>
        </div>

        <div *ngIf="addMoreFlag" class="row pt-40">
            <div (click)="openOptionField()" class="col-md-5 text-right">
                <p class="m-0 text-primitive f-16 c-p">Show less</p>
            </div>
            <div class="col-md-3">
            </div>
            <div class="row pt-40">
                <div class="col-md-5 pr-0 text-right">
                    <h5 class="m-0 pt-28">Copay</h5>
                </div>
                <div class="col-md-3">
                    <div class="form-group mb-0 iconRupess">
                        <mat-form-field>
                            <input matInput type="number" formControlName="copay"
                                [inputValidator]="validatorType.ALPHA_NUMERIC" appInputValueValidation #premiumdetails
                                autocomplete="true" [maxLength]="10" class="form-control rupess br-0">
                            <mat-error>This field is required
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group mb-0">
                        <mat-form-field>
                            <mat-select matInput formControlName="copayType" #frequency autocomplete="off"
                                class="form-control br-0">
                                <mat-option value='1'>Rupees</mat-option>
                                <mat-option value='2'>Percentage</mat-option>
                            </mat-select>
                            <mat-error>This field is required
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="row pt-40">
                <div class="col-md-5 pr-0 text-right">
                    <h5 class="m-0 pt-28">Cumulative bonus</h5>
                </div>
                <div class="col-md-3">
                    <div class="form-group mb-0 iconRupess">
                        <mat-form-field>
                            <input matInput type="number" formControlName="cumulativeBonus"
                                [inputValidator]="validatorType.ALPHA_NUMERIC" appInputValueValidation #premiumdetails
                                autocomplete="true" [maxLength]="10" class="form-control rupess br-0">
                            <mat-error>This field is required
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group mb-0">
                        <label class="f-14 roboto">Rupees</label>
                        <mat-form-field>
                            <mat-select matInput formControlName="bonusType" #frequency autocomplete="off"
                                class="form-control br-0">
                                <mat-option value='1'>Rupees</mat-option>
                                <mat-option value='2'>Percentage</mat-option>
                            </mat-select>
                            <mat-error>This field is required
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="row pt-40">
                <div class="col-md-5 pr-0 text-right">
                    <h5 class="m-0 pt-28">Additional covers</h5>
                </div>
                <div class="col-md-3">
                    <div class="form-group mb-0 iconRupess">
                            <mat-form-field>
                                    <mat-select matInput formControlName="PlanType" autocomplete="true" class="form-control br-0">
                                        <mat-option *ngFor="let option of addOns ;index as i" [value]="option.add_on">
                                            {{option.add_on}}</mat-option>
                                    </mat-select>
                                    <mat-error>This field is required
                                    </mat-error>
                                </mat-form-field>

                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group mb-0">
                        <mat-form-field>
                            <input matInput type="number" formControlName="coversAmount"
                                [inputValidator]="validatorType.ALPHA_NUMERIC" appInputValueValidation #premiumdetails
                                autocomplete="true" [maxLength]="10" class="form-control rupess br-0">
                            <mat-error>This field is required
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="row pt-40">
                <div class="col-md-5 pr-0 text-right">
                    <h5 class="m-0 pt-8">Exclusions/Special conditions</h5>
                </div>
                <div class="col-md-5">
                    <div class="form-group mb-0">
                        <mat-form-field>
                            <input matInput type="text" [inputValidator]="validatorType.ALPHA_NUMERIC" [maxLength]="10"
                                formControlName="exclusion" #exclusion appInputValueValidation autocomplete="off"
                                class="form-control br-0">
                            <mat-error>This field is required
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="row pt-40">
                <div class="col-md-5 pr-0 text-right">
                    <h5 class="m-0 pt-8">Policy inception date</h5>
                </div>
                <div class="col-md-3">
                    <div class="form-group mb-0">
                        <mat-form-field class="ba-date">
                            <input matInput formControlName="inceptionDate" [max]="maxDate"
                                class="form-control br-0 b-0" [matDatepicker]="inceptionDatePicker"
                                (focus)="inceptionDatePicker.open()" (input)="preventDefault($event)">
                            <mat-datepicker-toggle matSuffix [for]="inceptionDatePicker"></mat-datepicker-toggle>
                            <mat-datepicker #inceptionDatePicker></mat-datepicker>
                            <mat-error>This field is required
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div formArrayName="getNomineeName">
                <div class="row pt-36" *ngFor="let obj of healthInsuranceForm.controls['getNomineeName'].controls; let pointIndex=index"
                    [formGroupName]="pointIndex">
                    <div class="col-md-5 pr-0 text-right">
                        <h5 class="m-0 pt-8 ">Nominee {{pointIndex + 1}}</h5>
                    </div>
                    <div [ngClass]="getNominee.length > 1?'col-md-3' : 'col-md-5'">
                        <div class="form-group mb-0">
                            <mat-form-field>
                                <mat-select appOwnerNominee matInput formControlName="name" [data]='ownerData'
                                    (selectionChange)="disabledMember($event.value,'nominee')"
                                    (valueChange1)='lisNominee($event)' class="form-control br-0" [callMethod]='callMethod'>
                                    <mat-option value='' disabled>Select family members</mat-option>
                                    <mat-option *ngFor="let f of nomineesListFM" [disabled]="f.disable"
                                        [value]="f.userName">
                                        <span>{{f.userName}}</span>
                                    </mat-option>
                                </mat-select>
                                <mat-error class="f-12">
                                    This field is required
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-md-2" *ngIf="getNominee.length > 1">
                        <div class="form-group mb-0 iconPetage">
                            <mat-form-field>
                                <input matInput class="form-control br-0 percentage" type="number"
                                    formControlName="sharePercentage" (focusout)="onChangeJointOwnership('nominee')">
                                <mat-error class="f-12" *ngIf="obj.controls['sharePercentage'].hasError('required')">
                                    This field is required
                                </mat-error>
                                <mat-error class="f-12" *ngIf="obj.controls['sharePercentage'].hasError('incorrect') ">
                                    Total percent should be 100%
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-md-2 p-0 d-flex align-items-center">
                        <i *ngIf="healthInsuranceForm.value.getNomineeName.length < 3"
                            class="material-icons text-primitive f-20 c-p float-left"
                            (click)="addNewNominee(undefined)">add</i>
                        <i *ngIf="healthInsuranceForm.value.getNomineeName.length > 1"
                            class="material-icons text-primitive f-20 c-p pl-10"
                            (click)="removeNewNominee(pointIndex)">remove</i>
                    </div>
    
                </div>
            </div>
            <div class="row pt-40">
                <div class="col-md-5 pr-0 text-right">
                    <h5 class="m-0 pt-8">Nominee relation</h5>
                </div>
                <div class="col-md-5">
                    <div class="form-group mb-0">
                        <mat-form-field>
                            <input matInput type="text" [inputValidator]="validatorType.ALPHA_NUMERIC" [maxLength]="10"
                                formControlName="nomineeRelation" #nomineeRelation appInputValueValidation
                                autocomplete="off" class="form-control br-0">
                            <mat-error>This field is required
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="row pt-40">
                <div class="col-md-5 pr-0 text-right">
                    <h5 class="m-0 pt-8">TPA name</h5>
                </div>
                <div class="col-md-5">
                    <div class="form-group mb-0">
                        <mat-form-field>
                            <input matInput type="text" [inputValidator]="validatorType.ALPHA_NUMERIC" [maxLength]="10"
                                formControlName="tpaName" #tpaName appInputValueValidation autocomplete="off"
                                class="form-control br-0">
                            <mat-error>This field is required
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="row pt-40">
                <div class="col-md-5 pr-0 text-right">
                    <h5 class="m-0 pt-8">Advisor name</h5>
                </div>
                <div class="col-md-5">
                    <div class="form-group mb-0">
                        <mat-form-field>
                            <input matInput type="text" [inputValidator]="validatorType.ALPHA_NUMERIC" [maxLength]="10"
                                formControlName="advisorName" #advisorName appInputValueValidation autocomplete="off"
                                class="form-control br-0">
                            <mat-error>This field is required
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="row pt-40">
                <div class="col-md-5 pr-0 text-right">
                    <h5 class="m-0 pt-8">Service branch</h5>
                </div>
                <div class="col-md-5">
                    <div class="form-group mb-0">
                        <mat-form-field>
                            <input matInput type="text" [inputValidator]="validatorType.ALPHA_NUMERIC" [maxLength]="10"
                                formControlName="serviceBranch" #serviceBranch appInputValueValidation
                                autocomplete="off" class="form-control br-0">
                            <mat-error>This field is required
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="row pt-40">
                <div class="col-md-5 pr-0 text-right">
                    <h5 class="m-0 pt-8">Linked bank account</h5>
                </div>
                <div class="col-md-5">
                    <div class="form-group mb-0">
                        <mat-form-field>
                            <input matInput type="text" [inputValidator]="validatorType.ALPHA_NUMERIC" [maxLength]="10"
                                formControlName="bankAccount" #bankAccount appInputValueValidation autocomplete="off"
                                class="form-control br-0">
                            <mat-error>This field is required
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bottom-fixed wrapper-16 pb-12">
    <div class="row">
        <div class="col-md-4 p-0">
            <h5 class="mb-0 pt-8 text-white c-p text-left" (click)="close(null)">Cancel</h5>
        </div>
        <div class="col-md-8 right text-right">
            <button mat-button class="btn-bottom br-0 text-inherit" (click)="saveHealthInsurance()">SAVE</button>

        </div>
    </div>
</div>


<!-- Detailed view -->