::ng-deep .mat-form-field-appearance-legacy .mat-form-field-suffix .mat-datepicker-toggle-default-icon {
    width: 1.5em !important;
}

.text-transform-inherit {
    text-transform: inherit;
}

.uploadPhotoBox {
    border: 1px dashed #83959D;
    background: #F5F7F7;
    width: 340px;
    height: 200px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.perviewPhotoBox {
    border: 1px solid #83959D;
    border-radius: 2px;
    width: 140px;
    height: 160px;
}