<div class="row bb-1 popup-header-fix w-25">
    <div class="col-md-6 p-0">
        <h4 class="mb-0 wrapper-20">ALLOCATIONS</h4>
    </div>
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-6">
                <img src="/assets/images/svg/people.svg" class="pt-16 c-p" [matMenuTriggerFor]="peopleMenu">
                <mat-menu #peopleMenu="matMenu">
                    <mat-button-toggle-group vertical (change)="filterAndSortAssets()"
                        [(ngModel)]="currentFamilyFilter">
                        <mat-button-toggle class="bt-0 h-48" *ngFor="let member of familyList"
                            [value]="member.familyMemberId">
                            <div class="row">
                                <div class="col-md-3 pl-0">
                                    <img src="/assets/images/svg/right.svg" class="c-p"
                                        *ngIf="member.familyMemberId == currentFamilyFilter">
                                </div>
                                <div class="col-md-9 text-left pl-0 f-14">
                                    {{member.displayName}}
                                </div>
                            </div>
                        </mat-button-toggle>
                    </mat-button-toggle-group>
                </mat-menu>
            </div>
            <div class="col-md-6">
                <img src="/assets/images/svg/lines-3.svg" class="pt-16 c-p" [matMenuTriggerFor]="menu">
                <mat-menu #menu="matMenu">
                    <mat-button-toggle-group vertical (change)="filterAndSortAssets()"
                        [(ngModel)]="currentAllocationFilter" class="w-100">
                        <mat-button-toggle class="bt-0 h-48" *ngFor="let allocation_filter of allocationBtnList"
                            [value]="allocation_filter.filter">
                            <div class="row">
                                <div class="col-md-3">
                                    <img src="/assets/images/svg/right.svg" class="c-p"
                                        *ngIf="allocation_filter.filter == currentAllocationFilter">
                                </div>
                                <div class="col-md-9 text-left pl-0 f-14">
                                    {{allocation_filter.name}}
                                </div>
                            </div>
                        </mat-button-toggle>
                    </mat-button-toggle-group>
                    <p class="text-primitive roboto m-0 pl-12 pt-12 pb-12">Sort</p>
                    <mat-button-toggle-group class="w-100" vertical (change)="sortList()" [(ngModel)]="currentSort">
                        <mat-button-toggle class="bt-0 h-48" *ngFor="let sortMenu of sortBtnList"
                            [value]="sortMenu.sortKey">
                            <div class="row">
                                <div class="col-md-3">
                                    <img src="/assets/images/svg/right.svg" class="c-p"
                                        *ngIf="sortMenu.sortKey == currentSort">
                                </div>
                                <div class="col-md-9 text-left f-14 pl-0">
                                    {{sortMenu.name}}
                                </div>
                            </div>
                        </mat-button-toggle>
                    </mat-button-toggle-group>
                </mat-menu>
            </div>
        </div>
    </div>
    <div class="col-md-2 pr-0">
        <i class="material-icons right text-right pt-16 pr-16 c-p" (click)="close()">
            clear
        </i>
    </div>
</div>
<div class="pt-72 pl-12 pr-12 pb-44 bl-1">
    <div class="row">
        <div class="col-md-12 p-0 mb-8">
            <h5 class="m-0 f-14 text-primary">Drag items & drop in goals section to allocate!</h5>
        </div>

    </div>
    <div cdkDropList [cdkDropListData]="displayedAssets" cdkDropListConnectedTo="allottedList"
        [cdkDropListSortingDisabled]="true">
        <div class="mb-12" *ngFor="let asset of displayedAssets" cdkDrag [cdkDragData]="asset">
            <div class="row goal-border pb-8">
                <div class="col-md-12 pl-8 pt-8">
                    <p class="m-0 roboto f-400">{{asset.assetName}}</p>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <button mat-stroked-button class="br-0 mt-12 text-white goal-box-btn" [ngClass]="{'btn-danger': asset.absAllocation == 100, 
                                        'btn-success': asset.absAllocation > 0 && asset.absAllocation < 100, 
                                        'btn-primary': asset.absAllocation == 0}">
                            {{asset.absAllocation}}%
                        </button>
                        <button *ngIf="asset.maturityValue !=0" mat-stroked-button
                            class="btn-default br-0 mt-12 mb-12 goal-box-btn">{{asset.MaturityYear}}</button>
                        <button *ngIf="asset.maturityValue ==0" mat-stroked-button
                            class="btn-default br-0 mt-12 mb-12 goal-box-btn">-</button>
                    </div>
                    <div class="col-md-4 pt-12 pr-0">
                        <p class="m-0 f-12 roboto text-primitive f-400">Owner</p>
                        <p class="m-0 roboto text-lighter f-400">
                            {{asset.familyMemberName ? asset.familyMemberName  : asset.ownerInfoName}}</p>
                        <p class="m-0 f-12 roboto text-primitive pt-8 f-400">Current value</p>
                        <p class="m-0 roboto text-lighter f-400">₹<span appFormatNumber>{{asset.currentValue}}</span>
                        </p>
                    </div>
                    <div class="col-md-4 pt-58 pr-0">
                        <p class="m-0 f-12 roboto text-primitive pt-4 f-400">Maturity value</p>
                        <p class="m-0 roboto text-lighter f-400" *ngIf="asset.maturityValue !=0">₹<span appFormatNumber
                                [value]="asset.maturityValue"></span></p>
                        <p class="m-0 roboto text-lighter f-400" *ngIf="asset.maturityValue ==0"><span
                                appFormatNumber>-</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>