<div class="row" id="ui-activity-secondhead">
    <div class="col-md-2 pt-16">
        <button (click)="goToAdvisorHome()" class="btn-warning-outline br-2" mat-stroked-button><i
                class="material-icons mr-12">
                keyboard_backspace
            </i>ADVISOR HOME</button>
    </div>
    <div class="col-md-8">
        <nav mat-tab-nav-bar mat-align-tabs="center">

            <a mat-tab-link routerLinkActive="active" [routerLink]="['/customer/detail/activity/summary']">SUMMARY</a>
            <a mat-tab-link routerLinkActive="active" [routerLink]="['/customer/detail/activity/advice']">ADVICE</a>
            <a mat-tab-link routerLinkActive="active"
                [routerLink]="['/customer/detail/activity/deployments']">DEPLOYMENTS</a>
            <a mat-tab-link routerLinkActive="active" [routerLink]="['/customer/detail/activity/action-plan']">ACTION
                PLANS</a>
            <a mat-tab-link routerLinkActive="active" [routerLink]="['/customer/detail/activity/task']">TASKS</a>
            <a mat-tab-link routerLinkActive="active" [routerLink]="['/customer/detail/activity/notes']">NOTES</a>

        </nav>
    </div>
</div>

<div class="row">
    <div class="col-md-12 p-0">
        <router-outlet></router-outlet>
    </div>
</div>