<div class="row pt-130">
    <div class="col-md-12 text-right">
        <button mat-button [ngClass]="orgProfile == false ? 'active-btn'  : ''" (click)="openOrg(false)">
            Personal profile</button>
        <button mat-button [ngClass]="orgProfile == true ? 'active-btn'  : ''" (click)="openOrg(true)">
            Organization profile</button>
    </div>
</div>
<div class="row pt-28" *ngIf="userList && !isLoading && !orgProfile">
    <div class="col-md-12">
        <h4 class="m-0">Personal profile</h4>
    </div>
</div>

<div class="row pt-40 pb-20" id="ui-setting-profile" *ngIf="userList && !isLoading && !orgProfile">
    <div class="col-xl-1"></div>
    <div class="col-xl-10">
        <mat-card class="b-a p-0 br-4">
            <mat-card-header class="bg-grey lter wrapper-18">
                <div class="row w-100" *ngIf="userList">
                    <div class="col-md-9 pl-0">
                        <h2 class="m-0">{{userList.fullName}}</h2>
                    </div>
                    <div class="col-md-3 p-0 text-right autoHeight">
                        <button mat-stroked-button class="text-primary">ADMIN</button>
                        <mat-icon class="text-custom" [matMenuTriggerFor]="menu" class="c-p v-middle">more_vert
                        </mat-icon>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item (click)="OpenpersonalProfile(userList, '')">Edit</button>
                            <button mat-menu-item (click)="resetPassword()">Reset Password</button>
                        </mat-menu>
                    </div>
                </div>
            </mat-card-header>
            <mat-card-content class="">
                <div class="row">
                    <div class="col-md-6 pb-28 skeletonAnimation" appSkeletonLoading [appSkeletonLoading]="isLoading">
                        <div class="relClass">
                            <p class="f-12 mb-0 text-custom mt-28"> EMAIL</p>
                            <div class="bar" [ngClass]="{'height23': isLoading}">
                                <p class="m-0">{{userList.emailId}}</p>
                            </div>
                        </div>
                        <div class="relClass">
                            <p class="f-12 mb-0 text-custom mt-28"> MOBILE</p>
                            <div class="bar" [ngClass]="{'height23': isLoading}">
                                <p class="m-0">{{userList.isdCodeValue}} {{userList.mobileNo}}</p>
                            </div>
                        </div>
                        <div class="relClass">
                            <p class="f-12 mb-0 text-custom mt-28"> USERNAME</p>
                            <div class="bar" [ngClass]="{'height23': isLoading}">
                                <p class="m-0">{{userList.userName}}</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 bl-1 pb-28">
                        <p class="f-12 mb-0 text-custom mt-28 pb-16 text-uppercase"> profile picture </p>
                        <div class="profilePhoto containerOne">
                            <img [src]="userList.profilePic">
                            <div class="middleOne" (click)="OpenpersonalProfile(userList, '',1)">
                                <p class="c-p"> Edit Image </p>
                            </div>
                        </div>

                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-xl-1"></div>
</div>

<!-- Organization profile -->
<div class="row pt-28" *ngIf="orgDetails && !isLoading && orgProfile">
    <div class="col-md-12">
        <h4 class="m-0">Organization profile</h4>
    </div>
</div>

<div class="row pt-40 pb-20" id="ui-setting-profile" *ngIf="orgDetails && !isLoading && orgProfile">
    <div class="col-xl-1"></div>
    <div class="col-xl-10">
        <mat-card class="b-a p-0 br-4">
            <mat-card-header class="bg-grey lter wrapper-18">
                <div class="row w-100" *ngIf="orgDetails">
                    <div class="col-md-9 pl-0">
                        <h2 class="m-0">{{orgDetails.companyName}}</h2>
                    </div>
                    <div class="col-md-3 p-0 text-right">
                        <button mat-stroked-button class="text-primary">ADMIN</button>
                        <button mat-icon-button [matMenuTriggerFor]="menu">
                            <mat-icon class="text-custom">more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item (click)="OpenOrgProfile(orgDetails,'')">Edit</button>
                        </mat-menu>
                    </div>
                </div>
            </mat-card-header>
            <mat-card-content class="">
                <div class="row">
                    <div class="col-md-6 pb-28 skeletonAnimation" appSkeletonLoading [appSkeletonLoading]="isLoading">
                        <div class="relClass">
                            <p class="f-12 m-0 text-custom pt-28"> EMAIL</p>
                            <div class="bar" [ngClass]="{'height23': isLoading}">
                                <p class="m-0">{{orgDetails.email}}</p>
                            </div>
                        </div>
                        <div class="relClass">
                            <p class="f-12 m-0 text-custom pt-28"> MOBILE</p>
                            <div class="bar" [ngClass]="{'height23': isLoading}">
                                <p class="m-0">{{orgDetails.isdCodeValue}} - {{orgDetails.mobileNumber}}</p>
                            </div>
                        </div>
                        <div class="relClass">
                            <div class="bar" [ngClass]="{'height23': isLoading}">
                                <p class="f-12 m-0 text-custom pt-28"> WEBSITE</p>
                                <p class="m-0">{{orgDetails.website}}</p>
                            </div>
                        </div>
                        <div class="relClass">
                            <p class="f-12 m-0 text-custom pt-28"> ADDRESS</p>
                            <div class="bar" [ngClass]="{'height23': isLoading}">
                                <p class="m-0">{{orgDetails.billerAddress}}</p>
                            </div>
                        </div>
                        <div class="row pt-36" *ngIf="orgDetails.gstTreatmentId != 3">
                            <div class="col-md-4 pl-0">
                                <div class="bar" [ngClass]="{'height23': isLoading}">
                                    <p class="m-0 f-12 text-custom">PIN</p>
                                    <p class="m-0">{{orgDetails.zipCode}}</p>
                                </div>
                            </div>
                            <div class="col-md-4 pl-0">
                                <div class="bar" [ngClass]="{'height23': isLoading}">
                                    <p class="m-0 f-12 text-custom">CITY</p>
                                    <p class="m-0">{{orgDetails.city}}</p>
                                </div>
                            </div>
                            <div class="col-md-4 pl-0">
                                <div class="bar" [ngClass]="{'height23': isLoading}">
                                    <p class="m-0 f-12 text-custom">STATE</p>
                                    <p class="m-0">{{orgDetails.state}}</p>
                                </div>
                            </div>
                        </div>

                        <div class="row pt-36">
                            <div class="col-md-6 pl-0">
                                <div class="bar" [ngClass]="{'height23': isLoading}">
                                    <p class="m-0 f-12 text-custom">GST TREATMENT</p>
                                    <p class="m-0">{{getGSTTreatmentType(orgDetails.gstTreatmentId)}}</p>
                                </div>
                            </div>
                            <div class="col-md-6 pr-0" *ngIf="orgDetails.gstTreatmentId == 4">
                                <div class="bar" [ngClass]="{'height23': isLoading}">
                                    <p class="m-0 f-12 text-custom">GST</p>
                                    <p class="m-0">{{orgDetails.gstin}}</p>
                                </div>
                            </div>
                            <div class="col-md-6 pr-0" *ngIf="orgDetails.gstTreatmentId == 3">
                                <div class="bar" [ngClass]="{'height23': isLoading}">
                                    <p class="m-0 f-12 text-custom">Country</p>
                                    <p class="m-0">{{orgDetails.country}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 bl-1 pb-28">
                        <p class="f-12 m-0 text-custom pt-28 pb-16"> WEB APP LOGO</p>
                        <div class="containerOne widthwebLogo p-0">
                            <img [src]="orgDetails.logoUrl" class="w-100">
                            <div (click)="OpenOrgProfile(orgDetails, '',1)" class="middleTwo">
                                <p class="c-p">Edit Image</p>
                                <!-- <button (click)="OpenOrgProfile(orgDetails, '',1)">Edit Image</button> -->
                            </div>
                        </div>
                        <p class="m-0 text-black pt-16">This logo is visible on top left of web login, About section in mobile app etc.</p>
                        <p class="m-0 text-black pt-4 bb-1 pb-16">Image dimension: 50px x 200px</p>
                        <p class="f-12 m-0 text-custom pt-28 pb-16"> LOGO FOR REPORTS</p>

                        <div class="row">
                            <div class="col-md-4 pl-0 containerOne">
                                <div class="profilePhoto containerOne">
                                    <img [src]="orgDetails.reportLogoUrl">
                                    <div (click)="OpenOrgProfile(orgDetails, '',2)" class="middleOne">
                                        <p class="c-p"> Edit Image </p>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-8 pl-0">
                                <p class="m-0 text-black pt-16">This logo is visible on various reports (MF, Financial Plan etc.). If left blank, we will use the Web App Logo to show in reports.</p>
                                <p class="m-0 text-black pt-16">Image dimension: 200px x 200px</p>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-xl-1"></div>
</div>
<div *ngIf="orgDetails == undefined && orgProfile &&  !isLoading" class="d-flex flex-column align-items-center">
    <img class="width300" src="assets/images/svg/noDataFound.svg">
    <h4 class="text-center pt-12">No {{orgProfile ? 'organization' : 'personal'}} profile found</h4>
</div>
<div *ngIf="userList == undefined && !orgProfile && !isLoading" class="d-flex flex-column align-items-center">
    <img class="width300" src="assets/images/svg/noDataFound.svg">
    <h4 class="text-center pt-12">No {{orgProfile ? 'organization' : 'personal'}} profile found</h4>
</div>