.profilePhoto {
    width: 130px;
    height: 130px;
    position: relative;
    img {
        max-width: 100%;
        max-height: 100%;
    }
}

.height23 {
    height: 23px;
}

.active-btn {
    border: 1px solid #BCC6CA;
    color: #008FFF;
}

::ng-deep .mat-menu-panel {
    min-height: auto !important;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    background: #BCC6CA;
}

.containerOne {
    position: relative;
}

.containerOne:hover .image {
    opacity: 0.3;
}

.containerOne:hover .middle {
    opacity: 1;
}

.widthwebLogo {
    width: 270px;
    height: 68px;
}