.profilePhoto {
    width: 130px;
    height: 130px;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    img {
        max-width: 100%;
        max-height: 100%;
        border-radius: 50%;
    }
}

.height23 {
    height: 23px;
}

.active-btn {
    border: 1px solid #BCC6CA;
    color: #008FFF;
}

::ng-deep .mat-menu-panel {
    min-height: auto !important;
}

.middleOne {
    position: absolute;
    cursor: pointer;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 70px;
    top: 60px;
    opacity: 0;
    p {
        color: #ffffff;
        margin: 15px 0px 0px 0px;
    }
}

.containerOne {
    position: relative;
}

.containerOne:hover .image {
    opacity: 0.3;
}

.containerOne:hover .middleOne {
    opacity: 1;
}

.containerOne:hover .middleTwo {
    opacity: 1;
}

.widthwebLogo {
    width: 270px;
    height: 68px;
    position: relative;
    overflow: hidden;
}

.middleTwo {
    position: absolute;
    cursor: pointer;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 70px;
    top: 20px;
    opacity: 0;
    p {
        color: #ffffff;
        margin: 15px 0px 0px 0px;
    }
}

.settingBtnHme {
    height: 40px;
    ;
}