<!--<div *ngIf="componentFlag=='servicesPlans'">-->
<div class="bg-grey lter wrapper-20 heading-fix">
    <h3 class="text-center m-0 head-common">
        {{componentFlag == 'servicesPlans' ? _upperData.serviceName : _upperData.docName}}</h3>
</div>

<div class="bg-white pt-72">
    <div class="row text-right pt-130">
        <div class="col-md-7 p-0 pt-4">
            <p>Map Plans to the isActive service.</p>
        </div>
        <div class="col-md-1 text-left">
            <img src="/assets/images/svg/info.svg" class="c-p">
        </div>
        <div class="col-md-4 right text-right">
            <button mat-stroked-button class="btn-primary br-0 mt-8">{{mappedPlan.length}} Plans mapped</button>
        </div>
    </div>
    <div *ngIf="servicePlanData" class="wrapper-100 pt-44">
        <div class="row">
            <div class="col-md-4 pb-40 c-p" *ngFor="let singleServicePlan of servicePlanData">
                <div class="example-card">
                    <mat-card class="p-0 b-ua" (click)="selectServicePlan(singleServicePlan)"
                        [ngClass]="{'p-0': singleServicePlan.selected==false,'b-ua':singleServicePlan.selected==false,'ba-blue':singleServicePlan.selected==true}">
                        <div class="row bg-grey lter">
                            <div class="col-md-12 heightplan">
                                <mat-checkbox
                                    [ngStyle]="{'pointer-events':(singleServicePlan.selected==false)?'none':'all'}"
                                    class="custom-checkbox positionAbsulate" checked="false"
                                    [ngClass]="{'v-h': singleServicePlan.selected==false}">
                                </mat-checkbox>
                                <h3 class="mb-10 l-26 playairFont f-24">{{singleServicePlan.name}}</h3>
                                <h5 class="m-0">{{singleServicePlan.code}}</h5>
                            </div>
                        </div>
                        <div class="wrapper-20">
                            <div class="row">
                                <div class="col-md-12 p-0">
                                    <p class="f-12 mb-0">DESCRIPTION</p>
                                    <h5 class="mb-0">{{singleServicePlan.description}}</h5>
                                </div>
                            </div>
                        </div>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="servicePlanData == undefined || servicePlanData.length == 0">
        <div class="col-md-12 d-flex align-items-center flex-column justify-content-center">
            <img class="width200" src="assets/images/svg/add-services-img.svg">
            <p class="f-22 f-600 pt-28">Create Services </p>
            <p class="f-16 text-center l-21">
                Next up, you create Services. More than one Service can be added to a Plan. E.g. <br> Plan could be
                Financial Planning. It’s Services could be 1) Planning fees 2) <br> Implementation services 3) Retainer
                services.
            </p>
            <!-- 
            <button (click)="openFragment('','services')" class="btn-primary d-flex align-items-center">
                ADD SERVICES
            </button> -->
        </div>
    </div>
</div>
<mat-toolbar class="bottom-fixed">
    <div class="row w-100">
        <div class="col-md-6 text-left">
            <p class="text-white f-16 mb-0 pt-12 c-p" (click)="dialogClose()">Cancel</p>
        </div>
        <div class="col-md-6 text-right">
            <button type="button" mat-stroked-button class="btn-bottom br-0" (click)="saveMapping()">Save</button>
        </div>
    </div>
</mat-toolbar>
<!--</div>-->
<!--<div *ngIf="componentFlag!='servicesPlans'">-->
<!--    <p>-->
<!--        This is plans in Document-->
<!--    </p>-->
<!--</div>-->