<div class="row bg-white bb-1 popup-header-fix w-35">
        <div class="col-md-10 p-0">
          <h5 class="m-0 p-20">PAST PLANNER NOTES</h5>
        </div>
        <div class="col-md-2 p-0">
          <i class="material-icons pt-16 pb-12 c-p right pr-16" (click)="close('close')">
          close
          </i>
        </div>
      </div>
      <div class="pt-80 pl-20 pr-20">
<div class="row">
    <div class="col-md-4 p-0">
            <div class="form-group mb-0">
                    <mat-form-field>
                        <mat-select class="form-control br-0">
                            <mat-option selected>Action</mat-option>
                            <mat-option value="1">Action</mat-option>
                        </mat-select>
                    </mat-form-field>
    </div>
    </div>
    <div class="col-md-3">
            <p class="m-0 roboto pt-16 text-black">1 selected</p>
    </div>
</div>

<div class="mt-12 viewpast">
        <table mat-table [dataSource]="dataSource" id="table-low">
         <ng-container matColumnDef="checkbox">
          <th mat-header-cell *matHeaderCellDef class="br w-2"><mat-checkbox></mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let element" class="br w-2"> <mat-checkbox></mat-checkbox> </td>
          </ng-container>
            <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef class="br"> Last updated date </th>
            <td mat-cell *matCellDef="let element" class="br"> {{element.position}} </td>
          </ng-container>
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef class="br"> Planner note name </th>
            <td mat-cell *matCellDef="let element" class="br"> {{element.name}} </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
      </div>