<div id="ui-activies">
    <div class="row main-header">
        <div class="col-md-12 p-0">
            <h3 class="m-0 p-20">Advice</h3>
        </div>
    </div>
    <div class="row pt-100 pr-8">
        <div class="col-md-12 right text-right">
            <img src="assets/images/svg/download-bordered.svg" class="c-p">
            <img src="assets/images/svg/up-down.svg" class="">
            <img src="assets/images/svg/three-dot-bordered.svg" class="c-p mr-12">
            <button mat-stroked-button class="mr-12 br-0 pl-8 text-primitive"><img
                    src="/assets/images/svg/addon-three.svg" class="pr-12">FILTERS</button>
            <button mat-stroked-button class="btn-primary br-0 pl-8"><img src="/assets/images/svg/plus.svg"
                    class="pr-12">ADD NEW</button>
        </div>
    </div>
    <div class="wrapper-20 pt-0">
        <table mat-table [dataSource]="dataSource" class="mt-8" id="table-low">
            <ng-container matColumnDef="checkbox">
                <th mat-header-cell *matHeaderCellDef>
                    <mat-checkbox></mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let element">
                    <mat-checkbox></mat-checkbox>
                </td>
            </ng-container>
            <ng-container matColumnDef="client">
                <th mat-header-cell *matHeaderCellDef> Client </th>
                <td mat-cell *matCellDef="let element"> {{element.client}} </td>
            </ng-container>
            <ng-container matColumnDef="cat">
                <th mat-header-cell *matHeaderCellDef> Category </th>
                <td mat-cell *matCellDef="let element"> {{element.cat}} </td>
            </ng-container>
            <ng-container matColumnDef="des">
                <th mat-header-cell *matHeaderCellDef> Description </th>
                <td mat-cell *matCellDef="let element"> {{element.des}} </td>
            </ng-container>
            <ng-container matColumnDef="assige">
                <th mat-header-cell *matHeaderCellDef> Assigned to </th>
                <td mat-cell *matCellDef="let element"> {{element.assige}} </td>
            </ng-container>
            <ng-container matColumnDef="due">
                <th mat-header-cell *matHeaderCellDef> Due date </th>
                <td mat-cell *matCellDef="let element"> {{element.due}} </td>
            </ng-container>
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef> Status </th>
                <td mat-cell *matCellDef="let element"> {{element.status}} </td>
            </ng-container>
            <ng-container matColumnDef="icons">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let element">
                    <mat-icon [matMenuTriggerFor]="menu" class="c-p">more_vert</mat-icon>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item>Item 1</button>
                        <button mat-menu-item>Item 2</button>
                    </mat-menu>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>