<div id="marketplace-article">
	<div class="row">
		<div class="col-md-12 text-center buttons-headers">
			  <button mat-stroked-button class="btn-actived">Home</button>
				  <button mat-button>Coronavirus</button>
				  <button mat-button>Financial Planning</button>
				  <button mat-button>Budgeting</button>
				  <button mat-button>Investing</button>
				  <button mat-button>Basic</button>
				  <button mat-button>Videos</button>
		</div>
	</div>
	<div class="container">
		<div class="row pt-28">
			<div class="col-md-5">
				<img src="/assets/images/helloquence.png" class="w-100">
				<p class="m-0 roboto pt-8 text-custom">CORONAVIRUS</p> 
				<h3 class="m-0 pt-4 georgia">Five Things to do for your Personal Finance during Covid-19 Outbreak</h3>
				<p class="m-0 pt-10 roboto text-custom">Deepesh Raghaw</p>
			</div>
			<div class="col-md-7 pr-0">
				<div class="row">
					<div class="col-md-4">
						<img src="/assets/images/family.png" class="w-100">
					</div>
					<div class="col-md-8">
						<p class="m-0 text-custom roboto">FINANCIAL PLANNING</p>
						<h3 class="m-0 pt-4 georgia pt-4">Six secrets to a happy financial life</h3>
						<p class="m-0 text-custom roboto pt-10">Sonesh Dedhia</p>
					</div>
				</div>
				<div class="row pt-10">
					<div class="col-md-4">
						<img src="/assets/images/family.png" class="w-100">
					</div>
					<div class="col-md-8">
						<p class="m-0 text-custom roboto">BUDGETING</p>
						<h3 class="m-0 pt-4 georgia pt-4">Why having an emergency fund makes utmost sense</h3>
						<p class="m-0 text-custom roboto pt-10">Vivek Shah</p>
					</div>
				</div>
				<div class="row pt-10">
					<div class="col-md-4">
						<img src="/assets/images/family.png" class="w-100">
					</div>
					<div class="col-md-8">
						<p class="m-0 text-custom roboto">FINANCIAL PLANNING</p>
						<h3 class="m-0 pt-4 georgia pt-4">Six secrets to a happy financial life</h3>
						<p class="m-0 text-custom roboto pt-10">Sonesh Dedhia</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="bg-grey lter mt-32">
		<div class="container">
			<h4 class="pt-20 roboto text-dark pb-10 mb-0">Featured authors</h4>
			<div class="row">
				<div class="col-md-3 pl-0">
					<div class="row authors-1">
						<div class="col-md-12 pr-0">
							<h4 class="m-0 roboto text-dark pt-20">Sonesh Dedhia</h4>
						</div>

						<div class="col-md-5 pr-0">
					<p class="m-0 text-dark roboto pb-20">RIA, CFP, MBA</p>
					<hr>
					<p class="m-0 text-dark pt-20 f-500 roboto pb-20">12 articles</p>
						</div>
						<div class="col-md-7 p-0">
							<img src="/assets/images/Capture.PNG" class="w-100 pt-12">
						</div>
					</div>
				</div>
				<div class="col-md-3 pl-0">
					<div class="row authors-4">
						<div class="col-md-12 pr-0">
							<h4 class="m-0 roboto text-dark pt-20">Sonesh Dedhia</h4>
						</div>

						<div class="col-md-5 pr-0">
					<p class="m-0 text-dark roboto pb-20">RIA, CFP, MBA</p>
					<hr>
					<p class="m-0 text-dark pt-20 f-500 roboto pb-20">12 articles</p>
						</div>
						<div class="col-md-7 p-0">
							<img src="/assets/images/Capture.PNG" class="w-100 pt-12">
						</div>
					</div>
				</div>
				<div class="col-md-3 pl-0">
					<div class="row authors-3">
						<div class="col-md-12 pr-0">
							<h4 class="m-0 roboto text-dark pt-20">Sonesh Dedhia</h4>
						</div>

						<div class="col-md-5 pr-0">
					<p class="m-0 text-dark roboto pb-20">RIA, CFP, MBA</p>
					<hr>
					<p class="m-0 text-dark pt-20 f-500 roboto pb-20">12 articles</p>
						</div>
						<div class="col-md-7 p-0">
							<img src="/assets/images/Capture.PNG" class="w-100 pt-12">
						</div>
					</div>
				</div>
				<div class="col-md-3 pl-0">
					<div class="row authors-4">
						<div class="col-md-12 pr-0">
							<h4 class="m-0 roboto text-dark pt-20">Sonesh Dedhia</h4>
						</div>

						<div class="col-md-5 pr-0">
					<p class="m-0 text-dark roboto pb-20">RIA, CFP, MBA</p>
					<hr>
					<p class="m-0 text-dark pt-20 f-500 roboto pb-20">12 articles</p>
						</div>
						<div class="col-md-7 p-0">
							<img src="/assets/images/Capture.PNG" class="w-100 pt-12">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>