::ng-deep .mat-bottom-sheet-container {
    padding: 0px !important;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

::ng-deep .mat-list-base {
    padding-top: 0px !important;
}

::ng-deep .mat-progress-spinner {
    width: 20px !important;
    height: 20px !important;
    float: right;
    svg {
        width: 20px !important;
        height: 20px !important;
    }
}