.custom-grid {
  width: 100%;
  //   float: left;
  display: flex;
  padding: 16px;

  .column {

    width: 14.88%;
    text-align: center;

    p {
      cursor: pointer;
    }

    .column:last-child {
      border-right: 0px !important;
    }
  }

  .main-header {
    position: fixed;
    top: 0;
    background: #FFFFFF;
    box-shadow: 5px 1px 10px rgba(0, 0, 0, 0.2), 3px 4px 5px rgba(0, 0, 0, 0.12), 2px 2px 4px rgba(0, 0, 0, 0.14);
  }

  .rounded-primary {
    border-radius: 50%;
    height: 20px;
    width: 20px;
    padding-top: 3px;
    color: #fff !important;
    background: #008FFF;
    cursor: pointer;
  }
}

::ng-deep .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
  line-height: 0 !important;
}

.actived {
  padding: 5px 8px;
  color: #fff !important;
  background: #008FFF;
  float: right;
}

.calender-column {
  div {
    height: 106px;
    width: 106px;
    border-right: 0.5px solid #DADCE0;
    border-bottom: 0.5px solid #DADCE0;

  }

  p {
    text-align: right;
    padding: 8px;
  }
}

.pink {
  .mat-chip.mat-standard-chip {
    background-color: #EA5970;
    color: #fff;
    border-radius: 2px;
    font-size: 12px;
    font-weight: normal;
    padding: 1px 4px;
    cursor: pointer;
    min-height: 24px;
  }
}

ul.blue {
  padding-top: 32px;
  display: block;

  li {
    font-size: 12px;
    cursor: pointer;
  }

  li:before {
    content: "\2022";
    color: #84BDF3;
    font-weight: bold;
    padding-top: 4px;
    padding-right: 4px;
    font-size: 16px;
  }
}

ul.yellow {

  display: block;

  li {
    font-size: 12px;
    cursor: pointer;
  }

  li:before {
    content: "\2022";
    color: #FDAF40;
    font-weight: bold;
    padding-top: 4px;
    padding-right: 4px;
    font-size: 16px;
  }
}

.side-arrow {
  width: 60px;
  height: 40px;
  background: #fff;
  border-radius: 27px;
  -webkit-transition: width 1s;
  /* For Safari 3.1 to 6.0 */
  transition: width 1s;
  position: fixed;
  z-index: 9;
  margin-top: 80px;
  margin-left: -20px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2), 0px 1px 18px rgba(0, 0, 0, 0.12), 0px 6px 10px rgba(0, 0, 0, 0.14);

  // &:hover {
  //   width: 80px;

  // }

  img {
    position: fixed;
    left: 0;
    padding: 8px 12px;
    cursor: pointer;
  }
}
