<div class="row bg-grey lter p-16">
    <div class="col-md-12 p-0">
        <p>header</p>
    </div>
</div>
<div class="row h-100vh">
    <div class="col-md-2 p-0 bg-grey lter">
        <div class="p-12 text-right">
            <button mat-stroke-button class="btn-primary br-0"><img src="/assets/images/svg/plus.svg" class="pr-12">ADD
                NEW</button>
        </div>

        <div class="row pt-16">
            <div class="col-md-8">
                <h5 class="m-0">December 2019</h5>
            </div>
            <div class="col-md-2">
                <img src="/assets/images/svg/arrowright-black.svg" class="c-p">
            </div>
            <div class="col-md-2 pr-">
                <img src="/assets/images/svg/arrowleft-black.svg" class="c-p">
            </div>
        </div>
        <div class="custom-grid">
            <div class="column">
                <p class="m-0 roboto text-black f-11 f-500">M</p>
            </div>
            <div class="column">
                <p class="m-0 roboto text-black f-11 f-500">T</p>
            </div>
            <div class="column">
                <p class="m-0 roboto text-black f-11 f-500">W</p>
            </div>
            <div class="column">
                <p class="m-0 roboto text-black f-11 f-500">T</p>
            </div>
            <div class="column">
                <p class="m-0 roboto text-black f-11 f-500">F</p>
            </div>
            <div class="column">
                <p class="m-0 roboto text-black f-11 f-500">S</p>
            </div>
            <div class="column">
                <p class="m-0 roboto text-black f-11 f-500">S</p>
            </div>
        </div>
        <div class="custom-grid pt-0">
            <div class="column">
                <p class="m-0 roboto text-primitive f-11">30</p>
            </div>
            <div class="column">
                <p class="m-0 roboto text-black f-11">1</p>
            </div>
            <div class="column">
                <p class="m-0 roboto text-black f-11">2</p>
            </div>
            <div class="column">
                <p class="m-0 roboto text-black f-11">3</p>
            </div>
            <div class="column">
                <p class="m-0 roboto text-black f-11">4</p>
            </div>
            <div class="column">
                <p class="m-0 roboto text-black f-11">5</p>
            </div>
            <div class="column">
                <p class="m-0 roboto text-black f-11">6</p>
            </div>
        </div>
        <div class="custom-grid pt-0">
            <div class="column">
                <p class="m-0 roboto text-primitive f-11">7</p>
            </div>
            <div class="column">
                <p class="m-0 roboto text-black f-11">8</p>
            </div>
            <div class="column">
                <p class="m-0 roboto text-black f-11">9</p>
            </div>
            <div class="column">
                <p class="m-0 roboto text-black f-11">10</p>
            </div>
            <div class="column">
                <p class="m-0 roboto text-black f-11">11</p>
            </div>
            <div class="column">
                <p class="m-0 roboto text-black f-11">12</p>
            </div>
            <div class="column">
                <p class="m-0 roboto text-black f-11">13</p>
            </div>
        </div>
        <div class="custom-grid pt-0">
            <div class="column">
                <p class="m-0 roboto f-11 rounded-primary">14</p>
            </div>
            <div class="column">
                <p class="m-0 roboto text-black f-11">15</p>
            </div>
            <div class="column">
                <p class="m-0 roboto text-black f-11">16</p>
            </div>
            <div class="column">
                <p class="m-0 roboto text-black f-11">17</p>
            </div>
            <div class="column">
                <p class="m-0 roboto text-black f-11">18</p>
            </div>
            <div class="column">
                <p class="m-0 roboto text-black f-11">19</p>
            </div>
            <div class="column">
                <p class="m-0 roboto text-black f-11">20</p>
            </div>
        </div>
        <div class="custom-grid pt-0">
            <div class="column">
                <p class="m-0 roboto text-primitive f-11">21</p>
            </div>
            <div class="column">
                <p class="m-0 roboto text-black f-11">22</p>
            </div>
            <div class="column">
                <p class="m-0 roboto text-black f-11">23</p>
            </div>
            <div class="column">
                <p class="m-0 roboto text-black f-11">24</p>
            </div>
            <div class="column">
                <p class="m-0 roboto text-black f-11">25</p>
            </div>
            <div class="column">
                <p class="m-0 roboto text-black f-11">26</p>
            </div>
            <div class="column">
                <p class="m-0 roboto text-black f-11">27</p>
            </div>
        </div>
        <div class="custom-grid pt-0">
            <div class="column">
                <p class="m-0 roboto text-primitive f-11">28</p>
            </div>
            <div class="column">
                <p class="m-0 roboto text-black f-11">29</p>
            </div>
            <div class="column">
                <p class="m-0 roboto text-black f-11">30</p>
            </div>
            <div class="column">
                <p class="m-0 roboto text-black f-11">31</p>
            </div>
            <div class="column">
                <p class="m-0 roboto text-black f-11">1</p>
            </div>
            <div class="column">
                <p class="m-0 roboto text-black f-11">2</p>
            </div>
            <div class="column">
                <p class="m-0 roboto text-black f-11">3</p>
            </div>
        </div>
        <div class="custom-grid pt-0">
            <div class="column">
                <p class="m-0 roboto text-primitive f-11">4</p>
            </div>
            <div class="column">
                <p class="m-0 roboto text-black f-11">5</p>
            </div>
            <div class="column">
                <p class="m-0 roboto text-black f-11">6</p>
            </div>
            <div class="column">
                <p class="m-0 roboto text-black f-11">7</p>
            </div>
            <div class="column">
                <p class="m-0 roboto text-black f-11">8</p>
            </div>
            <div class="column">
                <p class="m-0 roboto text-black f-11">9</p>
            </div>
            <div class="column">
                <p class="m-0 roboto text-black f-11">10</p>
            </div>
        </div>
        <div class="p-16" id="calender-tabs">
            <mat-tab-group animationDuration="0ms">
                <mat-tab label="Categories">
                    <div class="row">
                        <div class="col-md-12 p-0 d-grid">
                            <mat-checkbox>Meetings</mat-checkbox>
                            <mat-checkbox>Client reviews</mat-checkbox>
                            <mat-checkbox>Action plans</mat-checkbox>
                            <mat-checkbox>Opportunities</mat-checkbox>
                            <mat-checkbox>Birthdays</mat-checkbox>
                            <mat-checkbox>Holidays</mat-checkbox>
                            <mat-checkbox>Uncategorised</mat-checkbox>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Team">

                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
    <div class="col-md-10">

    </div>
</div>