::ng-deep .mat-form-field-appearance-legacy .mat-form-field-suffix .mat-datepicker-toggle-default-icon {
    width: 1.5em !important;
}

.borderBtn {
    border: 1px solid rgba(25, 25, 25, 0.32) !important;
    padding: 0px !important;
}

.inputBorderTransparent {
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-left: transparent !important;
}