.cli-wise #table-low tbody td.innerTd {
    padding: 0px !important;
}

.cli-wise #table-low tr.noneBorder {
    border: transparent !important;
}

.floatRight {
    float: right;
}

.table95 {
    width: 95% !important;
    margin: 0px auto;
}

.table98 {
    width: 98% !important;
    margin: 0px auto;
}

.table96 {
    width: 96% !important;
    margin: 0px auto;
}