<!-- <div *ngIf="showLoader">
    <mat-spinner class="loader" [diameter]="30"></mat-spinner>
</div> -->
<div>
    <div *ngIf="aum.aumComponent==false">
        <div>
            <div class="wrapper-20 bg-white">
                <div class="row">
                    <div class="col-md-6 pl-0">
                        <h3 class="pt-8 mb-0">Applicant Wise AUM</h3>
                    </div>
                    <div class="col-md-6 pr-0">
                        <div class="right text-right">
                            <button mat-stroked-button class="btn-default addon"><i
                                    class="material-icons">add</i>XLS</button>
                            <button mat-stroked-button class="btn-success ml-8 addon" (click)="aumReport()">Back</button>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 p-0 cli-wise overflow-hidden">

                        <table class="skeletonAnimation mt-16" appSkeletonLoading [appSkeletonLoading]="isLoading" id="table-low" *ngIf="applicantName">
                            <thead class="text-dark">
                                <tr>
                                    <th class="w-10">Sr No.</th>
                                    <th class="w-35">Applicant Name</th>
                                    <th class="w-25">Current Value</th>
                                    <th class="">% Weight</th>
                                    <th></th>

                                </tr>
                            </thead>
                            <tbody *ngFor="let name of applicantName; index as i">
                                <tr>
                                    <td>
                                        <div class="bar"> {{(isLoading)?'':i+1}} </div>
                                    </td>
                                    <td>
                                        <div class="bar"> {{(isLoading)?'':((name.name)?name.name:'-')}} </div>
                                    </td>
                                    <td class="">
                                        <div class="bar"><span appFormatNumber> {{name.totalAum}} </span></div>
                                    </td>
                                    <td class="">
                                        <div class="bar"> {{name.weightInPercentage}}{{(isLoading?'':'%') }}</div>
                                    </td>
                                    <td class="text-center" (click)="category(name)">
                                        <div class="bar text-center">
                                            <i class="material-icons  b-a f-14 mt-4 c-p" *ngIf="name.show==true">
                                                add
                                            </i>
                                            <i class="material-icons  b-a f-14 mt-4 c-p" *ngIf="name.show==false">
                                                remove </i>
                                        </div>
                                    </td>
                                </tr>

                                <tr style="border: transparent !important">
                                    <td class="innerTd one" colspan="5">
                                        <table *ngIf="!name.show && !isLoading" class=" mb-8 mt-8 " id="table-low">
                                            <thead class="bg-light text-dark">
                                                <tr>
                                                    <th class="w-10">Sr No.</th>
                                                    <th class="w-35">Category Name</th>
                                                    <th class="w-25">Current Value</th>
                                                    <th>% Weight</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody *ngFor="let category of name.categoryList; index as i">
                                                <tr>
                                                    <td>{{i+1}}</td>
                                                    <td>{{category.name}} </td>
                                                    <td><span appFormatNumber>{{category.totalAum}}</span></td>
                                                    <td>{{category.weightInPercentage}}%</td>
                                                    <td class="text-center" (click)="subCategory(category)">
                                                        <i class="material-icons  b-a f-14 mt-4 c-p" *ngIf="category.showCategory">add</i>
                                                        <i class="material-icons  b-a f-14 mt-4 c-p" *ngIf="!category.showCategory"> remove </i> </td>
                                                </tr>
                                                <tr style="border: transparent !important">
                                                    <td class="innerTd two" colspan="5">
                                                        <table class=" mb-8 mt-8 " id="table-low" *ngIf="!category.showCategory">
                                                            <thead>
                                                                <tr>
                                                                    <th class="w-10">Sr No.</th>
                                                                    <th class="w-35">Sub Category Name</th>
                                                                    <th class="w-25">Current Value</th>
                                                                    <th class="">% Weight</th>
                                                                    <th> </th>
                                                                </tr>
                                                            </thead>
                                                            <tbody *ngFor="let sub of category.subCatList; index as i">
                                                                <tr>
                                                                    <td>{{i+1}}</td>
                                                                    <td>{{sub.name}}
                                                                    </td>
                                                                    <td class=""><span appFormatNumber>{{sub.totalAum}}</span></td>
                                                                    <td class="">{{sub.weightInPercentage}}</td>
                                                                    <td class="text-center" (click)="getScheme(sub)"><i class="material-icons   b-a f-14 mt-4 c-p" *ngIf="sub.showSubCategory">add</i>
                                                                        <i class="material-icons   b-a f-14 mt-4 c-p" *ngIf="!sub.showSubCategory"> remove
                                                                        </i> </td>
                                                                </tr>
                                                                <tr *ngIf="!sub.showSubCategory" style="border: transparent !important">
                                                                    <td class="innerTd three" colspan="6">
                                                                        <table class=" mb-8 mt-8 " id="table-low" *ngIf="!sub.showSubCategory">
                                                                            <thead>
                                                                                <tr>
                                                                                    <th class="w-10">Sr No.</th>
                                                                                    <th class="w-35">Scheme Name</th>
                                                                                    <th class="w-15">Folio</th>
                                                                                    <th class="w-15">Current Value</th>
                                                                                    <th class="w-15">% Weight</th>
                                                                                    <th></th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody *ngFor="let client of sub.schemeList; index as i">
                                                                                <tr>
                                                                                    <td>{{i+1}}</td>
                                                                                    <td>{{client.schemeName}}</td>
                                                                                    <td>{{client.folioNumber}}</td>
                                                                                    <td><span appFormatNumber>{{client.totalAum}}</span>
                                                                                    </td>
                                                                                    <td>{{client.weightInPercentage}}
                                                                                    </td>
                                                                                    <td class="text-center" (click)="getSchemeFolio(client)">
                                                                                        <i class="material-icons   b-a f-14 mt-4 c-p" *ngIf="client.showFolio">add</i>
                                                                                        <i class="material-icons   b-a f-14 mt-4 c-p" *ngIf="!client.showFolio">
                                                                                            remove
                                                                                        </i>
                                                                                    </td>
                                                                                </tr>

                                                                                <tr style="border: transparent !important">
                                                                                    <td class="innerTd four" colspan="6">

                                                                                        <table class=" mb-8 mt-8 " id="table-low" *ngIf="!client.showFolio">
                                                                                            <thead>
                                                                                                <tr>
                                                                                                    <th class="w-10">
                                                                                                        Sr No.</th>
                                                                                                    <th class="w-35">
                                                                                                        Scheme Name
                                                                                                    </th>
                                                                                                    <th class="w-15">
                                                                                                        Folio Number
                                                                                                    </th>
                                                                                                    <th class="w-15">
                                                                                                        Current Value
                                                                                                    </th>
                                                                                                    <th class="w-15">
                                                                                                        Balance unit
                                                                                                    </th>
                                                                                                    <th class="">% Weight
                                                                                                    </th>
                                                                                                    <th></th>
                                                                                                </tr>
                                                                                            </thead>

                                                                                            <tbody *ngFor="let client of sub.schemeList; index as i">
                                                                                                <tr>
                                                                                                    <td>{{i+1}}
                                                                                                    </td>
                                                                                                    <td>{{client.schemeName}}
                                                                                                    </td>
                                                                                                    <td>{{client.folioNumber}}
                                                                                                    </td>
                                                                                                    <td><span appFormatNumber>{{client.totalAum}}</span>
                                                                                                    </td>
                                                                                                    <td>{{client.balanceUnit}}
                                                                                                    </td>
                                                                                                    <td>{{client.weightInPercentage}}
                                                                                                    </td>
                                                                                                    <td></td>
                                                                                                </tr>
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                            <tbody *ngIf="!isLoading">
                                <tr>
                                    <td class="p-table"><strong>Total</strong></td>
                                    <td class="p-table">&nbsp;</td>
                                    <td class="p-table"><strong><span
                                                appFormatNumber>{{totalCurrentValue}}</span></strong></td>
                                    <td class="p-table"><strong>{{totalWeight}}%</strong></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>

                        <div *ngIf="!applicantName" class="d-flex flex-column align-items-center">
                            <img class="width300" src="assets/images/svg/noDataFound.svg">
                            <h4 class="text-center pt-12">No data Found</h4>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>