::ng-deep .large-input{
	font-family: Georgia;
font-style: normal !important;
font-weight: normal;
font-size: 40px;
line-height: 45px !important;
letter-spacing: 0.2px;
height: 69px !important;
color: #83959D;
}
