<div class="popup-header-fix-40">
    <div class="row bb-1">
        <div class="col-md-10 p-0">
            <h4 class="mb-0 wrapper-20">FOLIO MASTER DETAILS</h4>
        </div>
        <div class="col-md-2 text-left">
            <div class="wrapper-12">
                <i class="material-icons c-p pt-8 v-middle" (click)="close()"> clear</i>
            </div>
        </div>
    </div>
</div>

<div class="pl-20 pr-20 pb-48" *ngIf="canShowData">
    <div class="row pt-40">
        <div class="col-md-12 p-0 mat-tab-class">
            <mat-tab-group anmimationDuration="0ms" id="ui-add-client">
                <mat-tab label="Scheme Details">
                    <div>
                        <div class="row bb p-8 b-l br">
                            <div class="col-md-8 text-left f-14 roboto p-0">
                                Investor Name
                            </div>
                            <div class="col-md-4 text-right f-14 roboto p-0">
                                {{ folioDetailData.invName }}
                            </div>
                        </div>
                        <div class="row bb p-8 b-l br">
                            <div class="col-md-8 text-left f-14 roboto p-0">
                                Investor PAN
                            </div>
                            <div class="col-md-4 text-right f-14 roboto p-0">
                                {{ folioDetailData.panNumber  }}
                            </div>
                        </div>
                        <div class="row bb p-8 b-l br">
                            <div class="col-md-8 text-left f-14 roboto p-0">
                                Mode of Holding
                            </div>
                            <div class="col-md-4 text-right f-14 roboto p-0">
                                {{ folioDetailData.modeOfHold === 'SI'? "Single": '' }}
                            </div>
                        </div>
                        <div class="row bb p-8 b-l br">
                            <div class="col-md-8 text-left f-14 roboto p-0">
                                Scheme Name
                            </div>
                            <div class="col-md-4 text-right f-14 roboto p-0">
                                {{ folioDetailData.schemeName }}
                            </div>
                        </div>
                    </div>
                    <div class="mt-20">
                        <h4 class="strong">
                            Joint Holder Detail
                        </h4>
                        <div class="row bb p-8 b-l br">
                            <div class="col-md-8 text-left f-14 roboto p-0">
                                First joint Holder
                            </div>
                            <div class="col-md-4 text-right f-14 roboto p-0">
                                N.A.
                            </div>
                        </div>
                        <div class="row bb p-8 b-l br">
                            <div class="col-md-8 text-left f-14 roboto p-0">
                                First joint Holder PAN
                            </div>
                            <div class="col-md-4 text-right f-14 roboto p-0">
                                N.A.
                            </div>
                        </div>
                        <div class="row bb p-8 b-l br">
                            <div class="col-md-8 text-left f-14 roboto p-0">
                                Second joint Holder
                            </div>
                            <div class="col-md-4 text-right f-14 roboto p-0">
                                N.A.
                            </div>
                        </div>
                        <div class="row bb p-8 b-l br">
                            <div class="col-md-8 text-left f-14 roboto p-0">
                                Second joint Holder PAN
                            </div>
                            <div class="col-md-4 text-right f-14 roboto p-0">
                                N.A.
                            </div>
                        </div>
                    </div>
                    <div class="mt-20">
                        <h4 class="strong">
                            Guardian Detail
                        </h4>
                        <div class="row bb p-8 b-l br">
                            <div class="col-md-8 text-left f-14 roboto p-0">
                                Guardian
                            </div>
                            <div class="col-md-4 text-right f-14 roboto p-0">
                                N.A.
                            </div>
                        </div>
                        <div class="row bb p-8 b-l br">
                            <div class="col-md-8 text-left f-14 roboto p-0">
                                Guardian PAN
                            </div>
                            <div class="col-md-4 text-right f-14 roboto p-0">
                                N.A.
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Bank Details">
                    <div>
                        <div class="row bb p-8 b-l br">
                            <div class="col-md-8 text-left f-14 roboto p-0">
                                Bank Name
                            </div>
                            <div class="col-md-4 text-right f-14 roboto p-0">
                                {{ folioDetailData.bankName }}
                            </div>
                        </div>
                        <div class="row bb p-8 b-l br">
                            <div class="col-md-8 text-left f-14 roboto p-0">
                                Branch
                            </div>
                            <div class="col-md-4 text-right f-14 roboto p-0">
                                {{ folioDetailData.branchName }}
                            </div>
                        </div>
                        <div class="row bb p-8 b-l br">
                            <div class="col-md-8 text-left f-14 roboto p-0">
                                Account Type
                            </div>
                            <div class="col-md-4 text-right f-14 roboto p-0">
                                {{ folioDetailData.accountType }}
                            </div>
                        </div>
                        <div class="row bb p-8 b-l br">
                            <div class="col-md-8 text-left f-14 roboto p-0">
                                Account Number
                            </div>
                            <div class="col-md-4 text-right f-14 roboto p-0">
                                {{ folioDetailData.accountNumber }}
                            </div>
                        </div>
                        <div class="row bb p-8 b-l br">
                            <div class="col-md-8 text-left f-14 roboto p-0">
                                IFSC Code
                            </div>
                            <div class="col-md-4 text-right f-14 roboto p-0">
                                {{ folioDetailData.ifscCode }}
                            </div>
                        </div>
                        <div class="row bb p-8 b-l br">
                            <div class="col-md-8 text-left f-14 roboto p-0">
                                Bank City
                            </div>
                            <div class="col-md-4 text-right f-14 roboto p-0">
                                {{ folioDetailData.bankCity }}
                            </div>
                        </div>
                        <div class="row bb p-8 b-l br">
                            <div class="col-md-8 text-left f-14 roboto p-0">
                                Bank Pin Code
                            </div>
                            <div class="col-md-4 text-right f-14 roboto p-0">
                                {{ folioDetailData.bankPin }}
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Nominee Details" *ngIf="folioNomineesPresent">
                    <div *ngFor="let item of folioDetailData.nominees; index as i">
                        <div class="row bb p-8 b-l br">
                            <div class="col-md-8 text-left f-14 roboto p-0">
                                {{ i+1 }} Name
                            </div>
                            <div class="col-md-4 text-right f-14 roboto p-0">
                                {{ item.name }}
                            </div>
                        </div>
                        <div class="row bb p-8 b-l br">
                            <div class="col-md-8 text-left f-14 roboto p-0">
                                {{i+1}} Percentage Allocation
                            </div>
                            <div class="col-md-4 text-right f-14 roboto p-0">
                                {{ item.percentageAllocation }}
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Broker Details">
                    <div>
                        <div class="row bb p-8 b-l br">
                            <div class="col-md-8 text-left f-14 roboto p-0">
                                Broker Code
                            </div>
                            <div class="col-md-4 text-right f-14 roboto p-0">
                                {{ folioDetailData.brokerCode }}
                            </div>
                        </div>
                        <div class="row bb p-8 b-l br">
                            <div class="col-md-8 text-left f-14 roboto p-0">
                                Sub Broker Code
                            </div>
                            <div class="col-md-4 text-right f-14 roboto p-0">
                                {{ folioDetailData.subBrokerCode ? folioDetailData.subBrokerCode: 'N. A.' }}
                            </div>
                        </div>
                        <div class="row bb p-8 b-l br">
                            <div class="col-md-8 text-left f-14 roboto p-0">
                                EIUN
                            </div>
                            <div class="col-md-4 text-right f-14 roboto p-0">
                                {{ folioDetailData.euin ? folioDetailData.nominees.euin: 'N. A.' }}
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Investor Details">
                    <div>
                        <div class="row bb p-8 b-l br">
                            <div class="col-md-8 text-left f-14 roboto p-0">
                                Address 1
                            </div>
                            <div class="col-md-4 text-right f-14 roboto p-0">
                                {{ folioDetailData.address1 }}
                            </div>
                        </div>
                        <div class="row bb p-8 b-l br">
                            <div class="col-md-8 text-left f-14 roboto p-0">
                                Address 2
                            </div>
                            <div class="col-md-4 text-right f-14 roboto p-0">
                                {{ folioDetailData.address2 ? folioDetailData.address2: '' }}
                            </div>
                        </div>
                        <div class="row bb p-8 b-l br">
                            <div class="col-md-8 text-left f-14 roboto p-0">
                                City
                            </div>
                            <div class="col-md-4 text-right f-14 roboto p-0">
                                {{ folioDetailData.city }}
                            </div>
                        </div>
                        <div class="row bb p-8 b-l br">
                            <div class="col-md-8 text-left f-14 roboto p-0">
                                Pin
                            </div>
                            <div class="col-md-4 text-right f-14 roboto p-0">
                                {{ folioDetailData.pincode }}
                            </div>
                        </div>
                        <div class="row bb p-8 b-l br">
                            <div class="col-md-8 text-left f-14 roboto p-0">
                                Email
                            </div>
                            <div class="col-md-4 text-right f-14 roboto p-0">
                                {{ folioDetailData.email ?folioDetailData.email : 'N. A.'  }}
                            </div>
                        </div>
                        <div class="row bb p-8 b-l br">
                            <div class="col-md-8 text-left f-14 roboto p-0">
                                Date Of Birth
                            </div>
                            <div class="col-md-4 text-right f-14 roboto p-0">
                                {{ folioDetailData.invDob | date: 'short' }}
                            </div>
                        </div>
                        <div class="row bb p-8 b-l br">
                            <div class="col-md-8 text-left f-14 roboto p-0">
                                Mobile Number
                            </div>
                            <div class="col-md-4 text-right f-14 roboto p-0">
                                {{ folioDetailData.mobileNumber ? folioDetailData.mobileNumber: 'N. A.' }}
                            </div>
                        </div>

                        <div class="row bb p-8 b-l br">
                            <div class="col-md-8 text-left f-14 roboto p-0">
                                Aadhar Number
                            </div>
                            <div class="col-md-4 text-right f-14 roboto p-0">
                                {{ folioDetailData.aadharNumber ? folioDetailData.aadharNumber: 'N. A.' }}
                            </div>
                        </div>
                        <div class="row bb p-8 b-l br">
                            <div class="col-md-8 text-left f-14 roboto p-0">
                                Occupation
                            </div>
                            <div class="col-md-4 text-right f-14 roboto p-0">
                                {{ folioDetailData.occupation  ? folioDetailData.occupation: 'N. A.' }}
                            </div>
                        </div>
                        <div class="row bb p-8 b-l br">
                            <div class="col-md-8 text-left f-14 roboto p-0">
                                Mobile Number
                            </div>
                            <div class="col-md-4 text-right f-14 roboto p-0">
                                {{ folioDetailData.mobileNumber ? folioDetailData.mobileNumber: 'N. A.' }}
                            </div>
                        </div>

                        <div class="row bb p-8 b-l br">
                            <div class="col-md-8 text-left f-14 roboto p-0">
                                Office Phone
                            </div>
                            <div class="col-md-4 text-right f-14 roboto p-0">
                                {{ folioDetailData.officePhone ? folioDetailData.officePhone: 'N. A.' }}
                            </div>
                        </div>
                        <div class="row bb p-8 b-l br">
                            <div class="col-md-8 text-left f-14 roboto p-0">
                                Residence Phone
                            </div>
                            <div class="col-md-4 text-right f-14 roboto p-0">
                                {{ folioDetailData.residencePhone ? folioDetailData.residencePhone: 'N. A.' }}
                            </div>
                        </div>
                        <div class="row bb p-8 b-l br">
                            <div class="col-md-8 text-left f-14 roboto p-0">
                                Tax Status
                            </div>
                            <div class="col-md-4 text-right f-14 roboto p-0">
                                {{ folioDetailData.taxStatus ? folioDetailData.taxStatus: 'N. A.' }}
                            </div>
                        </div>
                        <div class="row bb p-8 b-l br">
                            <div class="col-md-8 text-left f-14 roboto p-0">
                                DP ID
                            </div>
                            <div class="col-md-4 text-right f-14 roboto p-0">
                                {{ folioDetailData.dpId ? folioDetailData.dpId: 'N. A.' }}
                            </div>
                        </div>
                        <div class="row bb p-8 b-l br">
                            <div class="col-md-8 text-left f-14 roboto p-0">
                                Demat
                            </div>
                            <div class="col-md-4 text-right f-14 roboto p-0">
                                {{ folioDetailData.demat ? folioDetailData.demat: 'N. A.' }}
                            </div>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>