#ui-settingsHeaders .mat-tab-header {
  background: transparent !important;
  box-shadow: none;
  position: inherit;
  z-index: 0;
}

.remove-sip-clenup,
.keep-sip-clenup {
  padding: 0 5px !important;
  min-width: 0px !important;
}

.sip-cleanup {
  .sip-cleanup-scroll {
    overflow-y: auto !important;
    height: calc(100vh - 245px);
  }

  #table-low {
    tr.mat-header-row {
      height: 40px !important;
    }

    tr.mat-row {
      height: 38px !important;
    }
  }
}

// #ui-settingsHeaders .mat-tab-group {
//     padding-top: 60px !important;
// }
#ui-settingsHeaders {
  .mat-tab-labels {
    display: flex;
    justify-content: flex-end;
    padding-right: 2px;
  }

  .mat-tab-body-content {
    overflow: hidden !important;
  }
}

#mistabs1,
#mistabs2,
#siptabs1,
#siptabs2 {
  .mat-tab-group {
    padding-top: 0px !important;
  }

  .mat-tab-header {
    margin-right: 0px !important;
  }

  .mat-tab-labels {
    justify-content: flex-start;
    padding-right: 0px !important;
  }

  .mat-tab-label.mat-tab-label-active {
    outline: none !important;
  }

  .mat-tab-label {
    margin: 0px !important;
    // min-width: 125px !important;
  }
}

.foliodetails {
  #table-low {
    tr.mat-header-row {
      height: 40px !important;
    }

    tr.mat-row {
      height: 38px !important;
    }
  }
}

.view-folios {
  line-height: 26px !important;
  padding: 0 11px !important;
  height: 26px !important;
  min-width: auto !important;

}

.data-operations {

  .recon-cams,
  .recon-karvy {
    overflow-y: auto !important;
    height: calc(100vh - 275px);
  }
}

.recon-cams,
.recon-karvy,
.recon-franklin {
  tr.mat-header-row {
    height: 40px !important;
  }

  tr.mat-row {
    height: 39px !important;
  }

  #table-low tbody td {
    padding: 1px 8px !important;
  }

  .reports-cams,
  .report-karvy,
  .report-franklin {
    height: 28px !important;
    line-height: 26px !important;
    padding: 0px 10px !important;
  }
}

#ui-misreport {
  // margin-top: 65px;

  h3.top-head {
    padding-left: 20px !important;
    padding-top: 20px !important;
  }

  li {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  li:after {
    font-family: "Material Icons";
    content: "\e5cc";
    color: #83959D;
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    font-weight: 900;
  }

  li:last-child:after {
    content: '';
  }

  a {
    text-decoration: none;
    color: #83959D;
  }

  .height180 {
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .width183 {
    width: calc(100vw - 185px);
    margin-right: 20px;
  }

  .mat-tab-label {
    padding: 0px 15px !important;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #595252;
    text-transform: uppercase;
  }

  .actions {
    color: #757575;
    text-align: right;
  }

  .mat-progress-bar-fill::after {
    background-color: #484848;
  }

  .mat-progress-bar-buffer {
    background-color: #BCC6CA;
  }
}

#mistabs1 .mat-tab-label {
  min-width: 50% !important;
}

#mistabs2 .mat-tab-label {
  min-width: 49% !important;
}

#ui-backoffice-day,
#ui-backoffice-week {
  // padding-top: 90px;

  li {
    font-size: 10px;
    height: 40px;
    // padding-right: 8px;
    text-align: right;
    color: #757575;

  }

  span {
    top: -6px;
    position: relative;
  }

  .day-details {
    height: 40px;
    border-bottom: 1px solid #ddd;
  }


  .right-details {
    position: relative;
    margin-left: -10px;
  }

  .week-date {
    border-radius: 50%;
    background-color: #008FFF !important;
    font-size: 24px;
    font-weight: 500;
    font-family: "Roboto";
    color: #fff;
    width: 46px;
    height: 46px;
    padding-top: 5px;
    text-align: center;

  }

  .day-clicks {
    background-color: #008FFF;
    border-radius: 6px;
    color: #fff;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-right: 12px;
    margin-left: 10px;

    p {
      line-height: 16px;
    }
  }

  .main-days {
    hr.red-lines {
      margin-top: 0;
      margin-bottom: 0;
      height: 1px;
      background-color: #ea4335;
      width: 100%;
      position: relative;
      top: 10px;
      margin-left: 6px;
    }

    .circle {
      background-color: #ea4335;
      border-radius: 50%;
      content: "";
      position: absolute;
      height: 12px;
      margin-left: 2px;
      margin-top: 4px;
      width: 12px;
      z-index: 8;

    }
  }
}

#ui-calendar-bo {
  position: fixed;
  margin-top: 64px;
  float: right;
  width: 100%;
  padding-right: 0px;
  z-index: 101;
  background: #fff !important;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.2), 0px 1px 0px rgba(0, 0, 0, 0.12), 0px 3px 3px rgba(0, 0, 0, 0.14);
  height: 60px;
}

#ui-calendar {
  .main-header {
    .mat-button-toggle-label-content {
      line-height: 38px;

    }
  }
}

#ui-backoffice-week {
  .custom-grid {
    width: 100%;
    //   float: left;
    flex-wrap: wrap;
    display: flex;
    padding: 16px;

    .column {
      position: relative;
      width: 14.28%;
      text-align: center;

      p {
        cursor: pointer;
      }

      .column:last-child {
        border-right: 0px !important;
      }
    }
  }

  .all-schedule {

    padding: 0;

    .column {
      border-right: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
      height: 40px;
      overflow: hidden;
    }
  }

  .all-schedule.fix-div {
    .column {
      height: 20px !important;
    }
  }

  .day-schedule {
    position: relative;
    margin-top: -25px !important;

    span {
      position: relative;
      top: 14px;
    }
  }

  .week-clicks {
    background-color: #008FFF;
    border-radius: 6px;
    color: #fff;
    padding-top: 2px;
    padding-bottom: 2px;
    margin: 2px;
    text-align: left;

    p {
      line-height: 16px;
    }
  }

  .day-holiday {
    background-color: #007F6A;
    color: #fff;
    padding: 2px 4px;
  }
}

@media(max-width:1124px) {

  .data-operations,
  .sip-cleanup {
    #tbs th {
      white-space: nowrap;
    }
  }
}
