#ui-settingsHeaders .mat-tab-header {
  background: transparent !important;
  box-shadow: none;
  position: inherit;
  z-index: 0;
}

// #ui-settingsHeaders .mat-tab-group {
//     padding-top: 60px !important;
// }
#ui-settingsHeaders .mat-tab-labels {
  display: flex;
  justify-content: flex-end;
  padding-right: 2px;
}

#mistabs1,
#mistabs2,
#siptabs1,
#siptabs2 {
  .mat-tab-group {
    padding-top: 0px !important;
  }

  .mat-tab-header {
    margin-right: 0px !important;
  }

  .mat-tab-labels {
    justify-content: flex-start;
    padding-right: 0px !important;
  }

  .mat-tab-label.mat-tab-label-active {
    outline: none !important;
  }

  .mat-tab-label {
    margin: 0px !important;
    // min-width: 125px !important;
  }
}

.foliodetails {
  #table-low {
    tr.mat-header-row {
      height: 40px !important;
    }

    tr.mat-row {
      height: 38px !important;
    }
  }
}

.view-folios {
  line-height: 26px !important;
  padding: 0 11px !important;
  height: 26px !important;
  min-width: auto !important;

}

.recon-cams,
.recon-karvy,
.recon-franklin {
  tr.mat-header-row {
    height: 40px !important;
  }

  tr.mat-row {
    height: 39px !important;
  }

  #table-low tbody td {
    padding: 1px 8px !important;
  }

  .reports-cams,
  .report-karvy,
  .report-franklin {
    height: 28px !important;
    line-height: 26px !important;
    padding: 0px 10px !important;
  }
}

#ui-misreport {
  // margin-top: 65px;

  h3.top-head {
    padding-left: 20px !important;
    padding-top: 20px !important;
  }

  li {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  li:after {
    font-family: "Material Icons";
    content: "\e5cc";
    color: #83959D;
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    font-weight: 900;
  }

  li:last-child:after {
    content: '';
  }

  a {
    text-decoration: none;
    color: #83959D;
  }

  .height180 {
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .width183 {
    width: calc(100vw - 185px);
    margin-right: 20px;
  }

  .mat-tab-label {
    padding: 0px 15px !important;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #595252;
    text-transform: uppercase;
  }

  .actions {
    color: #757575;
    text-align: right;
  }

  .mat-progress-bar-fill::after {
    background-color: #484848;
  }

  .mat-progress-bar-buffer {
    background-color: #BCC6CA;
  }
}

#mistabs1 .mat-tab-label {
  min-width: 50% !important;
}

#mistabs2 .mat-tab-label {
  min-width: 49% !important;
}
