<div class="pt-16 pb-10 pl-24 pr-24">
    <div class="row " *ngIf="hideCount == false">
        <div class="col-md-12 p-0">
            <h4 class="f-20 m-0 roboto f-500 ">What this wizard does?</h4>
            <div class="text-right">
                <div class="wrapper-12">
                    <i class="material-icons c-p v-middle" (click)="close()"> clear</i>
                </div>
            </div>
            <p class="f-16 roboto f-400 pt-20">This wizard will intelligently identify SIPs which are correct and mark
                them
                as
                Keep. With this automation exericse, we believe, your 90% manual efforts will be reduced. </p>

            <p class="f-16 roboto f-400">We suggest, you run this wizard once a month or fortnightly, at least,
                depending on
                your business scale.</p>

            <p class="f-16 roboto f-400">To get started, just click on the “Run SIP Mapping wizard” button. </p>
            <div class="bg-grey lter p-10 w-25" class="skeletonAnimation" [appSkeletonLoading]="isLoding"
                appSkeletonLoading>
                <p class="m-0 roboto f-400 text-black">Total SIP records</p>
                <div class="relClass">
                    <div class="bar height24">
                        <h5 class="m-0 f-500 roboto pt-10 text-black">
                            {{(isLoading) ? '': (countOfWizard)?countOfWizard:0}}</h5>
                    </div>
                </div>

            </div>

            <button mat-stroked-button class="btn-primary mt-24" (click)="runWizard()">Run SIP Mapping Wizard</button>
            <button mat-stroked-button class="btn-primary mt-24 ml-24" (click)="previousWizard()">Previous SIP Mapping
                Wizard</button>
            <p class="text-primitive f-400 m-0 pt-60">Note: This wizard will only run for SIPs that are Unmarked, i.e.
                where
                you have not marked them as either Keep or Remove.</p>


        </div>

        <div class="col-md-12 p-0" *ngIf="showWizard == true">
            <h4 class="f-20 m-0 roboto f-500 pb-40">Running the SIP mapping wizard...</h4>


        </div>
    </div>
    <div class="row running-sip-table" *ngIf="showWizard == true">
        <div class="col-md-8 p-0">
            <mat-progress-bar mode="determinate" [value]="percentage" class="running-sip-progress-bar">
            </mat-progress-bar>
            <div class="goal-progress">
                <span class="pl-8" appFormatNumber [value]="percentage">
                    {{percentage}} %
                </span>
                <span> %</span>
            </div>
            <p class="m-0 f-400 pt-20 roboto pb-12">Summary</p>
            <table mat-table [dataSource]="wizardList" id="table-low" class="skeletonAnimation" appSkeletonLoading
                [appSkeletonLoading]="isLoading">

                <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->
                <!-- Position Column -->
                <ng-container matColumnDef="position">
                    <th mat-header-cell *matHeaderCellDef class="br f-500">Total records </th>
                    <td mat-cell *matCellDef="let element" class="br">
                        <div class="bar">
                            {{(isLoading) ? '':element.totalSip}}
                        </div>
                    </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef class="br f-500"> Records processed </th>
                    <td mat-cell *matCellDef="let element" class="br">
                        <div class="bar">
                            {{(isLoading) ? '':element.processedCount}}
                            <button mat-button (click)="refreshWizard(element)"
                                class="refersh-btn right">Refresh</button>
                        </div>
                    </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="weight">
                    <th mat-header-cell *matHeaderCellDef class="br f-500"> Marked as Keep </th>
                    <td mat-cell *matCellDef="let element" class="br">
                        <div class="bar">
                            {{(isLoading) ? '':element.isKeepCount}}
                        </div>
                    </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="symbol">
                    <th mat-header-cell *matHeaderCellDef class="f-500"> Ignored </th>
                    <td mat-cell *matCellDef="let element">
                        <div class="bar">
                            {{(isLoading) ? '':element.ignoredCount}}
                        </div>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

        </div>
    </div>
    <div class="row pt-28" *ngIf="showWizard == true">
        <div class="col-md-12 p-0">
            <p class="m-0 roboto f-400">The records which are marked as Ignored could be because of one or more of the
                following reasons:</p>
            <p class="m-0 roboto f-400">- We could not verify with 100% accuracy, the correctness of the said record</p>
            <p class="m-0 roboto f-400">- We did not have enough corresponding data to match</p>
            <p class="m-0 roboto f-400">- There were complex cases like multiple SIPs in the same scheme folio</p>
            <p class="m-0 roboto f-400">- Recently started / stopped SIP are mostly ignored unless we can verify them
                accurately.</p>

            <p class="m-0 roboto f-400 pt-16">For such records, we suggest you manually mark them by cross checking
                thoroughly.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 full-end p-0 pt-40">
            <button mat-button class="text-primitive f-400" (click)="close()">CANCEL</button>
        </div>
    </div>
</div>