.searchInputWidth {
    width: 300px;
    margin-right: 8px;
}

.numBox {
    margin-right: 20px;
    text-align: center;
    span{
        color: #484848;
        background-color: #C4C4C4;
        width: 25px;
        height: 25px;
        display: block;
        line-height: 20px;
        border-radius: 50%;
        font-family: Playfair Display;
        font-size: 20px;
    }
}

.h-64 {
    height: 64px;
}

.italicText {
    font-style: italic;
}
 
.z100 {
    z-index: 100;
}

.w-200 {
    width: 200px;
}

::ng-deep .eventPadd .mat-form-field-appearance-standard .mat-form-field-flex {
    padding-top: 0px !important;
}

// .stepTwoBox {
//    // border-bottom: 0.5px dashed #000000;
// }