.numBox {
    margin-right: 10px;
    text-align: center;
    span{
        color: #000000;
        background-color: #C4C4C4;
        width: 25px;
        height: 25px;
        display: block;
        border-radius: 50%;
    }
}

.w-300 {
    width: 300px;
}