<div class="dialogclose">
    <div class="row z100 h-64 popup-header-fix-100">
        <div class="col-md-2 border-right-1 d-flex justify-content-center align-items-center p-0">
            <div class="logoWrap">
                <img *ngIf="authService.appPic" [src]="authService.appPic" class="logo pr-1">
                <h5 *ngIf="!authService.appPic">{{logoText | uppercase}}</h5>
            </div>
        </div>
        <div class="col-md-8 p-0 d-flex justify-content-center align-items-center ">
            <p class="f-16 mb-0">
                Bulk welcome email- Review & Send</p>
        </div>
        <div class="col-md-2 text-right">
            <i (click)="close(false)" class="material-icons pt-16 c-p pr-16">
                clear
            </i>
        </div>
    </div>
</div>
<div *ngIf="step1Flag">
    <div class="pt-90 pb-100">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="d-flex align-items-center">
                    <div class="numBox">
                        <span class="">1</span>
                    </div>
                    <div class="contBox">
                        <h5 class="roboto mb-0 f-500">Review client list</h5>
                    </div>
                </div>

                <p class="mb-4"> You can select multiple clients and proceed to the next step on the right</p>

                <div class="form-group mb-28">
                    <mat-form-field appearance="standard" class="searchInputWidth" floatLabel="never">
                        <input (keyup)="applyFilter($event)" autocomplete="off" class="form-control br-0 pt-8 mb-0"
                            matInput placeholder="Start typing to see client names">
                    </mat-form-field>
                </div>
                <div class="mt-16">
                    <p [ngClass]="{'v-h': dataCount==0}" class="text-right italicText text-primitive mb-0 f-14">
                        {{dataCount}} clients
                        selected</p>
                    <table *ngIf="dataSource.filteredData.length>0" [dataSource]="dataSource" id="tbs" mat-table
                        matSort>
                        <ng-container matColumnDef="checkbox" sticky>
                            <th mat-header-cell *matHeaderCellDef class="br">
                                <mat-checkbox (change)="selectAll($event)" name="selectAll"
                                    [indeterminate]="dataCount > 0 && dataCount != dataSource.data.length"
                                    [checked]="dataCount == dataSource.data.length">
                                </mat-checkbox>
                            </th>
                            <td mat-cell *matCellDef="let element" class="c-p br">
                                <mat-checkbox name="selectedData" [(ngModel)]="element.selected"
                                    (change)="changeSelect()">
                                </mat-checkbox>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="name">
                            <th *matHeaderCellDef class="br" mat-header-cell mat-sort-header="name"> Name</th>
                            <td *matCellDef="let element" class="c-p br" mat-cell>
                                {{element.displayName}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="email">
                            <th *matHeaderCellDef class="br" mat-header-cell mat-sort-header="email"> Email
                            </th>
                            <td *matCellDef="let element" class="c-p br" mat-cell>
                                {{element.email}}
                            </td>
                        </ng-container>
                      <ng-container matColumnDef="status">
                        <th *matHeaderCellDef class="br" mat-header-cell mat-sort-header="status"> Status
                        </th>
                        <td *matCellDef="let element" class="c-p br" mat-cell>
                          {{element.status==1? 'Client':'Lead'}}
                        </td>
                      </ng-container>
                        <tr *matHeaderRowDef="displayedColumns; sticky: true" mat-header-row></tr>
                        <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
                    </table>
                    <div class="text-center" *ngIf="dataSource.filteredData.length==0">
                        <img class="width200" src="assets/images/svg/noDataFound.svg">
                        <p class="f-14 f-600 pt-28"> No Data Found </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>

    <div class="bottom-fixed  pl-20 pr-20 d-flex  w-100 row">
        <div class="col-md-6 d-flex align-items-center">
            <a class="text-white f-300"> Cancel </a>
        </div>
        <div class="col-md-6 d-flex align-items-center justify-content-end">
            <!-- <app-progress-button class="br-0 text-inherit ml-12">
    </app-progress-button> -->
            <button (click)="selectedClientListStep()" mat-stroked-button class="btn-primary btnNewEmail">
                PROCEED
            </button>
        </div>
    </div>
</div>

<div class="pt-90 pb-40" *ngIf="step2Flag">

    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="stepTwoBox b-h-dashed">
                <div class="d-flex align-items-center mb-8">
                    <div class="numBox">
                        <span class="">2</span>
                    </div>
                    <div class="contBox">
                        <h5 class="roboto mb-0 f-500">Verify your FROM email address</h5>
                    </div>
                </div>
                <div class="d-flex align-items-center justify-content-between mb-24">
                    <p class="mb-0">Since your email is <span *ngIf="verifiedAccountsList.length==0">not verified</span>
                        <span *ngIf="verifiedAccountsList.length>0">verified</span>, the bulk email will be sent from
                        <span *ngIf="verifiedAccountsList.length==1">{{verifiedAccountsList[0].emailAddress}}</span>
                        <span *ngIf="verifiedAccountsList.length==0"> no-reply@my-planner.in</span> <span
                            *ngIf="verifiedAccountsList.length==0" class="text-primary c-p"
                            (click)="bulkEmail('')">Change</span> </p>
                    <mat-form-field class="w-200" *ngIf="verifiedAccountsList.length>1">
                        <mat-select class="form-control" [formControl]="selectedFromEmail">
                            <mat-option *ngFor="let singleClient of verifiedAccountsList"
                                [value]="singleClient.emailAddress">
                                {{singleClient.emailAddress}}
                            </mat-option>
                        </mat-select>
                        <mat-error>This field is required</mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="stepThreeBox mt-24">
                <div class="d-flex align-items-center mb-8">
                    <div class="numBox">
                        <span class="">3</span>
                    </div>
                    <div class="contBox">
                        <h5 class="roboto mb-0 f-500">Review email and send </h5>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-1 p-0 d-flex align-items-center">
                        <h5 class="f-14 mb-0">Subject</h5>
                    </div>
                    <div class="col-md-11 pr-0 eventPadd event-none">
                        <mat-form-field appearance="standard" floatLabel="never">
                            <input [formControl]="subject" matInput class="form-control">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row pt-20">
                    <div class="col-md-12 p-0">
                        <form [formGroup]="mailForm">
                            <app-froala class="event-none" [(model)]="emailBody"></app-froala>
                        </form>
                    </div>
                </div>

            </div>


        </div>
        <div class="col-md-3">
            <p class="mb-0 posP text-primary">Email will be sent to {{dataCount}} <span
                    *ngIf="dataCount==1">client</span><span *ngIf="dataCount>1">clients</span></p>
        </div>
    </div>

    <div class="bottom-fixed  pl-20 pr-20 d-flex  w-100 row">
        <div class="col-md-6 d-flex align-items-center">
            <a (click)="step1Flag=true;step2Flag=false" class="text-white f-300 c-p"> Back </a>
        </div>
        <div class="col-md-6 d-flex align-items-center justify-content-end">
            <app-progress-button (btnClick)="sendEmailToclients()" [options]="barButtonOptions"
                class="br-0 text-inherit ml-12">
            </app-progress-button>
        </div>
    </div>

</div>
