::ng-deep .mat-sort-header-button {
    height: auto;
    letter-spacing: normal;
}

#table-low th {
    padding: 7px 8px !important;
    font-weight: 600;
    font-size: 13px !important;
}

.width400 {
    width: 400px;
}