<div class="bg-white">
    <div class="row bb-1 popup-header-fix-65">
        <div class="col-md-10 p-0">
            <h4 class="f-16 mb-0 pb-20 wrapper-20">MF ALLOCATIONS</h4>
        </div>
        <div class="col-md-2">
            <i class="material-icons right pt-16 pb-12 c-p" (click)="close()">
                close
            </i>
        </div>
    </div>
    <div class="row pt-36">
        <div class="col-md-4 br-grey">
            <p class="roboto">Additional savings required</p>
            <div class="mt-8 additional-saving">
                    <table mat-table [dataSource]="dataSource" id="table-low">
                  
                      <!-- Position Column -->
                      <ng-container matColumnDef="position">
                        <th mat-header-cell *matHeaderCellDef>  </th>
                        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                      </ng-container>
                  
                      <!-- Name Column -->
                      <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> Equity </th>
                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                      </ng-container>
                  
                      <!-- Weight Column -->
                      <ng-container matColumnDef="weight">
                        <th mat-header-cell *matHeaderCellDef> Debt </th>
                        <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
                      </ng-container>
                      <i [matMenuTriggerFor]="menu"
                      class="material-icons c-p iconscolors">
                      more_vert
                   </i>
                  
                      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                  </div>
        </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-10 p-0">
                        <p class="m-0 roboto">Allocate mutual funds to goals from here</p>
                    </div>
                    <div class="col-md-1">
                      <img src="/assets/images/svg/people.svg" class="c-p" [matMenuTriggerFor]="menu">
                      <mat-menu #menu="matMenu">
                        <button mat-menu-item>All family</button>
                        <button mat-menu-item>Rahul jain </button>
                        <button mat-menu-item>Shilpa jain </button>
                        <button mat-menu-item>Shreya jain </button>
                        <button mat-menu-item>Aryan jain </button>
                      </mat-menu>
                    </div>
                    <div class="col-md-1" id="filters">
                        <img src="/assets/images/svg/lines-3.svg" class="c-p" [matMenuTriggerFor]="menu1">
                        <mat-menu #menu1="matMenu">
                                <p class="text-primitive m-0 pl-24 pb-4 pt-8">Categories</p>
                                <button mat-menu-item class="p-0">
                                <div class="row">
                                    <div class="col-md-3">
                                            <i class="material-icons pt-12">
                                                    done
                                                    </i>
                                    </div>
                                    <div class="col-md-9 p-0 f-13">
                                           All
                                    </div>
                                </div>
                            </button>
                            <button mat-menu-item>
                            <div class="row">
                              <div class="col-md-3"></div>
                              <div class="col-md-9 p-0 f-13">
                               Equity
                              </div>
                            </div>
                          </button>
                          <button mat-menu-item>
                            <div class="row">
                              <div class="col-md-3"></div>
                              <div class="col-md-9 p-0 f-13">
                                Debt
                              </div>
                            </div>
                          </button>
                            <p class="text-primitive m-0 pl-24 pb-4 pt-8">Folios</p>
                            <button mat-menu-item>
                            <div class="row">
                              <div class="col-md-3"></div>
                              <div class="col-md-9 p-0 f-13">
                                All
                              </div>
                            </div>
                          </button>
                          <button mat-menu-item>
                            <div class="row">
                              <div class="col-md-3"></div>
                              <div class="col-md-9 p-0 f-13">
                                Zero folios
                              </div>
                            </div>
                          </button>
                          <button mat-menu-item>
                            <div class="row">
                              <div class="col-md-3"></div>
                              <div class="col-md-9 p-0 f-13">
                                Non zero folios   
                              </div>
                            </div>
                           
                          </button>
                           
                            <p class="text-primitive m-0 pl-24 pb-4 pt-8">Schemes</p>
                            <button mat-menu-item>
                            <div class="row">
                              <div class="col-md-3"></div>
                              <div class="col-md-9 p-0 f-13">
                               All schemes
                              </div>
                            </div>
                          </button>
                          <button mat-menu-item>
                            <div class="row">
                              <div class="col-md-3"></div>
                              <div class="col-md-9 p-0 f-13">
                                Unallocated schemes
                              </div>
                            </div>
                          </button>
                          <button mat-menu-item>
                            <div class="row">
                              <div class="col-md-3"></div>
                              <div class="col-md-9 p-0 f-13">
                                Allocated schemes
                              </div>
                            </div>
                          </button>
                          </mat-menu>
                    </div>
                </div>
                <div class="mt-8">
                    <table mat-table [dataSource]="dataSource1" id="table-low">
                     
                      <!-- Position Column -->
                      <ng-container matColumnDef="scheme">
                        <th mat-header-cell *matHeaderCellDef> Scheme </th>
                        <td mat-cell *matCellDef="let element"> {{element.scheme}}<span class="text-success pl-8">[SIP]</span> </td>
                      </ng-container>
                      <!-- <ng-container matColumnDef="disclaimer">
                        <td mat-header-cell *matHeaderCellDef colspan="12" class="text-center text-primary">
                          Rahul Jain
                        </td>
                      </ng-container> -->
                      <!-- Name Column -->
                      <ng-container matColumnDef="value">
                        <th mat-header-cell *matHeaderCellDef> Value | Units </th>
                        <td mat-cell *matCellDef="let element"> {{element.value}} <span class="text-primitive f-12">4000</span></td>
                      </ng-container>
                  
                      <!-- Weight Column -->
                      <ng-container matColumnDef="goal">
                        <th mat-header-cell *matHeaderCellDef> Goal </th>
                        <td mat-cell *matCellDef="let element"> {{element.goal}} </td>
                      </ng-container>
                  
                      <!-- Symbol Column -->
                      <ng-container matColumnDef="allocation">
                        <th mat-header-cell *matHeaderCellDef> Allocations </th>
                        <td mat-cell *matCellDef="let element"> {{element.allocation}} </td>
                      </ng-container>
                      <ng-container matColumnDef="icons">
                        <th mat-header-cell *matHeaderCellDef class="t-2"> </th>
                        <td mat-cell *matCellDef="let element" class="t-2">
                            <i class="material-icons c-p text-black" [matMenuTriggerFor]="menu4">
      more_vert
      </i>
                            <mat-menu #menu4="matMenu">
                                <button mat-menu-item>Edit</button>
                                <button mat-menu-item>Deatiled View</button>
                                <button mat-menu-item>Activity</button>
                                <button mat-menu-item>Delete</button>
                            </mat-menu>
                        </td>
                    </ng-container>
                    <!-- <tr mat-header-row *matHeaderRowDef="['disclaimer']"></tr> -->

                      <tr mat-header-row *matHeaderRowDef="displayedColumns1; sticky: true"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>
                    </table>
                  </div>
            </div>
        </div>
    </div>
    