.allcoateBtn {
    width: 82px;
    height: 30px;
    border: 1px solid #008FFF;
    background: transparent;
    padding: 0px;
}

.unallcoateBtn {
    width: 82px;
    height: 30px;
    border: 1px solid #FF6823;
    background: transparent;
    padding: 0px;
}

