.camsTable {
    tr.mat-row {
        height: 40px;
    }
    td.mat-cell {
        border-bottom-style: none;
    }
    tr.mat-header-row {
        height: 40px;
    }
}

.dashedClass {
    border: 1px dashed #BCC6CA;
    //height: 490px;
    padding: 20px;
    width: 357px;
    p {
        color: #484848;
    }
}

.boxEmpty {
    width: 70%;
    display: flex;
    align-items: center;
    flex-direction: column;
}