<div class="popup-header-fix-35">
        <div class="row bb-1">
            <div class="col-md-10 p-0">
                <h4 class="mb-0 wrapper-20">OTHERS - DETAILED VIEW</h4>
            </div>
            <div class="col-md-2 text-left">
                <div class="wrapper-12">
                    <i class="material-icons c-p pt-8 v-middle" (click)="close()"> clear</i>
                </div>
            </div>
        </div>
    </div>
    
    
    <div class="pl-20 pr-20 pb-48 pt-40">
        <div class="row pt-40">
            <div class="col-md-12 p-0">
                <div class="insurance-ui bt">
                    <div class="row bb p-4 b-l br">
                        <div class="col-md-8 text-left f-14 roboto">
                            Owner Name
                        </div>
                        <div class="col-md-4 text-right f-14 roboto">
                            {{others.ownerName}}
                        </div>
                    </div>
                    <div class="row bb p-4 b-l br">
                        <div class="col-md-8 text-left f-14 roboto">
                                Type of commodity
                        </div>
                        <div class="col-md-4 text-right f-14 roboto">
                            {{others.approximatePurchaseValue}}
                        </div>
                    </div>
                    <div class="row bb p-4 b-l br">
                        <div class="col-md-8 text-left f-14 roboto">
                                Market value
                        </div>
                        <div class="col-md-4 text-right f-14 roboto">
                            {{others.gramsOrTola}}
                        </div>
                    </div>
                    <div class="row bb p-4 b-l br">
                        <div class="col-md-8 text-left f-14 roboto">
                                Purchase value
                        </div>
                        <div class="col-md-4 text-right f-14 roboto">
                            {{others.purchasedGramsOrTola}}
                        </div>
                    </div>
                    <div class="row bb p-4 b-l br">
                        <div class="col-md-8 text-left f-14 roboto">
                                Date of purchase
                        </div>
                        <div class="col-md-4 text-right f-14 roboto">
                            {{others.carat}}
                        </div>
                    </div>
                    <div class="row bb p-4 b-l br">
                        <div class="col-md-8 text-left f-14 roboto">
                                Growth rate
                        </div>
                        <div class="col-md-4 text-right f-14 roboto">
                            {{others.purchaseYear}}
                        </div>
                    </div>
                    <div class="row bb p-4 b-l br">
                        <div class="col-md-8 text-left f-14 roboto">
                            Description
                        </div>
                        <div class="col-md-4 text-right f-14 roboto">
                            {{others.description}}
                        </div>
                    </div>
    
    
    
    
    
    
    
    
    
    
                    <!-- <table mat-table [dataSource]="dataSourceDetail" class="documentsTable" id="table-low">
                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef> </th>
                            <td class="text-left f-normal roboto f-14" mat-cell *matCellDef="let element"> {{element.name}} </td>
                        </ng-container>
    
                        <ng-container matColumnDef="position">
                            <th mat-header-cell *matHeaderCellDef></th>
                            <td class="text-right f-normal roboto f-14" mat-cell *matCellDef="let element"> {{element.position}} </td>
                        </ng-container>
    
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table> -->
                    <!-- <div class="col-md-12 text-right mt-4 p-0">
                        <p class="f-12 text-primitive m-0">
                            Updated: 04/09/2019
                        </p>
                    </div> -->
                </div>
            </div>
        </div>
    </div>