
        <div class="wrapper-8">
          <div class="row pt-28 pb-28">
            <div class="col-md-6 pl-0">
              <mat-button-toggle-group
                (change)="getfixedIncomeData($event.value)" multiple=false>
                <mat-button-toggle value=1 [ngClass]="showRequring == '1' ? 'btn-default text-custom br-0 text-primary' : 'btn-default text-custom br-0'">Fixed deposits</mat-button-toggle>
                <mat-button-toggle value=2 [ngClass]="showRequring == '2' ? 'btn-default text-custom br-0 text-primary' : 'btn-default text-custom br-0'">Recurring deposits</mat-button-toggle>
                <mat-button-toggle value=3 [ngClass]="showRequring == '3' ? 'btn-default text-custom br-0 text-primary' : 'btn-default text-custom br-0'">Bonds</mat-button-toggle>
                </mat-button-toggle-group>
            </div>
            <div class="col-md-6 right text-right  pr-0">
              <button mat-stroked-button [matMenuTriggerFor]="menu" class="ba-black br-0">
                Overview Report
                <mat-icon aria-hidden="false" aria-label="Example home icon">keyboard_arrow_down</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item>Overview Report</button>
                <button mat-menu-item>Summary</button>
                <button mat-menu-item>All Transactions</button>
                <button mat-menu-item>Unrealized Transactions</button>
                <button mat-menu-item>Capital Gains</button>
                <button mat-menu-item>Goal Linkage</button>
              </mat-menu>
            </div>
          </div>
          <div  *ngIf="showRequring == '1'"> 
          <div class="row">
            <div class="col-md-3 p-0">
              <h4 class="m-0 text-black roboto">Fixed deposits</h4>
            </div>
            <div class="col-md-9 p-0">
              <div class="row">
                <div class="col-md-8 text-right p-0">
                  <img src="assets/images/svg/download-bordered.svg" [matMenuTriggerFor]="menu5" class="c-p">
                  <mat-menu #menu5="matMenu">
                    <button mat-menu-item>PDF</button>
                    <button mat-menu-item>XLS</button>
                  </mat-menu>
                  <img src="assets/images/svg/up-down.svg">
                  <img src="assets/images/svg/three-dot-bordered.svg" [matMenuTriggerFor]="menu6" class="c-p">
                  <mat-menu #menu6="matMenu">
                    <button mat-menu-item>Email Report</button>
                    <button mat-menu-item>Option 2</button>
                    <button mat-menu-item>Option 3</button>
                  </mat-menu>
                </div>
                <div class="col-md-4 text-right right p-0">
                  <button mat-stroked-button class="btn-default addon mr-8 v-middle"><i class="material-icons" >filter_list</i>FILTERS</button>
                  <button mat-stroked-button class="btn-primary addon v-middle" (click)="openPortfolioSummary('addFixedDeposit','open')"><i class="material-icons" >add</i>ADD NEW</button>
                </div>
              </div>
            </div>
          </div>
          <div class="example-container mt-8 mb-44 fixed-deposite">
            <table mat-table [dataSource]="dataSourceFixed" id="table-low">
              <ng-container matColumnDef="no">
                <th mat-header-cell *matHeaderCellDef class="br t-2"> No </th>
                <td mat-cell *matCellDef="let element let i = index;" class="br t-2"> {{i+1}} </td>
              </ng-container>
              <ng-container matColumnDef="owner">
                <th mat-header-cell *matHeaderCellDef class="br t-15"> Owner </th>
                <td mat-cell *matCellDef="let element" class="br t-15"> {{element.ownerName}} </td>
              </ng-container>boolean
              <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef class="br t-10"> Type of FD </th>
                <td mat-cell *matCellDef="let element" class="br t-10"> {{(element.fdType == 1)?'Bank FD':'Corporate FD'}} </td>
              </ng-container>
              <ng-container matColumnDef="cvalue">
                <th mat-header-cell *matHeaderCellDef class="br text-right t-10"> Current value </th>
                <td mat-cell *matCellDef="let element" class="br text-right t-10"> {{util.formatter(element.currentValue)}} </td>
                <td mat-footer-cell *matFooterCellDef> Total </td>
              </ng-container>
              <ng-container matColumnDef="rate">
                <th mat-header-cell *matHeaderCellDef class="br text-right t-4"> Rate </th>
                <td mat-cell *matCellDef="let element" class="br text-right t-4"> {{element.interestRate}} </td>
              </ng-container>
              <ng-container matColumnDef="amt">
                <th mat-header-cell *matHeaderCellDef class="br text-right t-10"> Amount invested </th>
                <td mat-cell *matCellDef="let element" class="br text-right t-10"> {{util.formatter(element.amountInvested)}} </td>
              </ng-container>
              <ng-container matColumnDef="mdate">
                <th mat-header-cell *matHeaderCellDef class="br t-10 text-left"> Maturity date </th>
                <td mat-cell *matCellDef="let element" class="br t-10 text-left"> {{element.maturityDate  | date:'dd/MM/yyyy'}} </td>
              </ng-container>
              <ng-container matColumnDef="mvalue">
                <th mat-header-cell *matHeaderCellDef class="br t-10 text-right"> Maturity value </th>
                <td mat-cell *matCellDef="let element" class="br t-10 text-right"> {{util.formatter(element.maturityValue)}} </td>
              </ng-container>
              <ng-container matColumnDef="number">
                <th mat-header-cell *matHeaderCellDef class="br"> FD number </th>
                <td mat-cell *matCellDef="let element" class="br"> {{element.fdNumber}} </td>
              </ng-container>
              <ng-container matColumnDef="desc">
                <th mat-header-cell *matHeaderCellDef class="br"> Description </th>
                <td mat-cell *matCellDef="let element" class="br"> {{element.description}} </td>
              </ng-container>
              <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef class="br"> Status </th>
                <td mat-cell *matCellDef="let element" class="br"> {{element.statusId}} </td>
              </ng-container>
              <ng-container matColumnDef="icons">
                <th mat-header-cell *matHeaderCellDef class="t-2"> </th>
                <td mat-cell *matCellDef="let element" class="t-2">
                  <i class="material-icons c-p text-black" [matMenuTriggerFor]="menu4">
                  more_vert
                  </i>
                  <mat-menu #menu4="matMenu">
                    <button mat-menu-item (click)="openPortfolioSummary('addFixedDeposit','open',element)">Edit</button>
                    <button mat-menu-item>Deatiled View</button>
                    <button mat-menu-item>Activity</button>
                    <button mat-menu-item>Delete</button>
                  </mat-menu>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns4; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns4;"></tr>
              <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
            </table>
          </div>
        </div>
          <div  *ngIf="showRequring == '2'">
          <div class="row">
            <div class="col-md-4 p-0">
                <h4 class="m-0 text-black roboto">Recurring deposits</h4>
            </div>
            <div class="col-md-8 p-0">
                <div class="row">
                    <div class="col-md-8 text-right p-0">
                        <img src="assets/images/svg/download-bordered.svg" [matMenuTriggerFor]="menu5" class="c-p">
                        <mat-menu #menu5="matMenu">
                                <button mat-menu-item>PDF</button>
                                <button mat-menu-item>XLS</button>
                              </mat-menu>
                        <img src="assets/images/svg/up-down.svg">
                        <img src="assets/images/svg/three-dot-bordered.svg" [matMenuTriggerFor]="menu6" class="c-p">
                        <mat-menu #menu6="matMenu">
                                <button mat-menu-item>Email Report</button>
                                <button mat-menu-item>Option 2</button>
                                <button mat-menu-item>Option 3</button>
                              </mat-menu>
                    </div>
                    <div class="col-md-4 text-right right p-0">
                        <button mat-stroked-button class="btn-default addon mr-8 v-middle"><i class="material-icons">filter_list</i>FILTERS</button>
                        <button mat-stroked-button class="btn-primary addon v-middle" (click)="openPortfolioSummary('addRecuringDeposit','open')"><i class="material-icons">add</i>ADD NEW</button>
            
                    </div>
                </div>
            
            </div>
            </div>
            
            <div class="example-container mt-8 mb-44 fixed-deposite" >
                <table mat-table [dataSource]="dataSourceRecurring" id="table-low">
                        <ng-container matColumnDef="no">
                            <th mat-header-cell *matHeaderCellDef class="br t-2"> No </th>
                            <td mat-cell *matCellDef="let element  let i = index;" class="br t-2"> {{i+1}} </td>
                        </ng-container>
                        <ng-container matColumnDef="owner">
                            <th mat-header-cell *matHeaderCellDef class="br t-20"> Owner </th>
                            <td mat-cell *matCellDef="let element" class="br t-20"> {{element.ownerName}} </td>
                        </ng-container>
            
                        <ng-container matColumnDef="cvalue">
                            <th mat-header-cell *matHeaderCellDef class="br text-right t-10"> Current value </th>
                            <td mat-cell *matCellDef="let element" class="br text-right t-10"> {{util.formatter(element.currentValue)}} </td>
                        </ng-container>
                        <ng-container matColumnDef="rate">
                                <th mat-header-cell *matHeaderCellDef class="br text-right t-4"> Rate </th>
                                <td mat-cell *matCellDef="let element" class="br text-right t-4"> {{element.interestRate}} </td>
                            </ng-container>
            
                        <ng-container matColumnDef="amt">
                            <th mat-header-cell *matHeaderCellDef class="br t-20 text-right"> Monthly contribution </th>
                            <td mat-cell *matCellDef="let element" class="br t-20 text-right"> {{element.monthlyContribution}} </td>
                        </ng-container>
                        <ng-container matColumnDef="mdate">
                                <th mat-header-cell *matHeaderCellDef class="br t-10 text-left"> Maturity date </th>
                                <td mat-cell *matCellDef="let element" class="br t-10 text-left"> {{element.maturityDate  | date:'dd/MM/yyyy'}} </td>
                            </ng-container>
            
                            <ng-container matColumnDef="number">
                                    <th mat-header-cell *matHeaderCellDef class="br"> RD number </th>
                                    <td mat-cell *matCellDef="let element" class="br"> {{element.rdNumber}} </td>
                                </ng-container>
                            <ng-container matColumnDef="desc">
                                    <th mat-header-cell *matHeaderCellDef class="br"> Description </th>
                                    <td mat-cell *matCellDef="let element" class="br"> {{element.description}} </td>
                                </ng-container>
            
                        <ng-container matColumnDef="status">
                            <th mat-header-cell *matHeaderCellDef class="br"> Status </th>
                            <td mat-cell *matCellDef="let element" class="br text-primary"> {{element.isActive}} </td>
                        </ng-container>
                        <ng-container matColumnDef="icons">
                            <th mat-header-cell *matHeaderCellDef class="t-2"> </th>
                            <td mat-cell *matCellDef="let element" class="t-2"> <i class="material-icons c-p text-black" [matMenuTriggerFor]="menu4">
                                            more_vert
                                            </i>
                                            <mat-menu #menu4="matMenu">
                                                    <button mat-menu-item (click)="openPortfolioSummary('addRecuringDeposit','open',element)">Edit</button>
                                                    <button mat-menu-item>Deatiled View</button>
                                                    <button mat-menu-item>Activity</button>
                                                    <button mat-menu-item>Delete</button>
                                                  </mat-menu>
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns5; sticky: true"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns5;"></tr>
                    </table>
            </div>
        </div>
        <div *ngIf="showRequring == '3'">
          <div class="row">
            <div class="col-md-4 p-0">
                <h4 class="m-0 text-black roboto">Bonds</h4>
            </div>
            <div class="col-md-8 p-0">
                <div class="row">
                    <div class="col-md-8 text-right p-0">
                        <img src="assets/images/svg/download-bordered.svg" [matMenuTriggerFor]="menu5" class="c-p">
                        <mat-menu #menu5="matMenu">
                                <button mat-menu-item>PDF</button>
                                <button mat-menu-item>XLS</button>
                              </mat-menu>
                        <img src="assets/images/svg/up-down.svg">
                        <img src="assets/images/svg/three-dot-bordered.svg" [matMenuTriggerFor]="menu6" class="c-p">
                        <mat-menu #menu6="matMenu">
                                <button mat-menu-item>Email Report</button>
                                <button mat-menu-item>Option 2</button>
                                <button mat-menu-item>Option 3</button>
                              </mat-menu>
                    </div>
                    <div class="col-md-4 text-right right p-0">
                        <button mat-stroked-button class="btn-default addon mr-8 v-middle"><i class="material-icons">filter_list</i>FILTERS</button>
                        <button mat-stroked-button class="btn-primary addon v-middle" (click)="openPortfolioSummary('addBonds','open')"><i class="material-icons">add</i>ADD NEW</button>
            
                    </div>
                </div>
            
            </div>
            </div>
          <div class="example-container mt-8 mb-44 fixed-deposite" >
            <table mat-table [dataSource]="dataSourceBond" id="table-low">
                    <ng-container matColumnDef="no">
                        <th mat-header-cell *matHeaderCellDef class="br t-2"> No </th>
                        <td mat-cell *matCellDef="let element let i = index;" class="br t-2"> {{i+1}} </td>
                    </ng-container>
                    <ng-container matColumnDef="owner">
                        <th mat-header-cell *matHeaderCellDef class="br t-20"> Owner </th>
                        <td mat-cell *matCellDef="let element" class="br t-20"> {{element.ownerName}} </td>
                    </ng-container>
            
                    <ng-container matColumnDef="cvalue">
                        <th mat-header-cell *matHeaderCellDef class="br text-right t-17"> Current value </th>
                        <td mat-cell *matCellDef="let element" class="br text-right t-17"> {{util.formatter(element.currentValue)}} </td>
                        <td mat-footer-cell *matFooterCellDef> Total </td>
                    </ng-container>
            
                        <ng-container matColumnDef="camt">
                                <th mat-header-cell *matHeaderCellDef class="br t-10 text-right"> Coupon amount </th>
                                <td mat-cell *matCellDef="let element" class="br t-10 text-right"> {{element.couponAmount}} </td>
                                <td mat-footer-cell *matFooterCellDef> Total </td>
                            </ng-container>
                    <ng-container matColumnDef="amt">
                        <th mat-header-cell *matHeaderCellDef class="br t-10 text-right"> Amount invested </th>
                        <td mat-cell *matCellDef="let element" class="br t-10 text-right"> {{util.formatter(element.amountInvested)}} </td>
                    </ng-container>
                    <ng-container matColumnDef="cdate">
                            <th mat-header-cell *matHeaderCellDef class="br t-14 text-left"> Commencement date </th>
                            <td mat-cell *matCellDef="let element" class="br t-14 text-left"> {{element.commencementDate  | date:'dd/MM/yyyy'}} </td>
                        </ng-container>
                        <ng-container matColumnDef="rate">
                                <th mat-header-cell *matHeaderCellDef class="br text-right t-4"> Rate </th>
                                <td mat-cell *matCellDef="let element" class="br text-right t-4"> {{element.rate}} </td>
                            </ng-container>
                    <ng-container matColumnDef="mvalue">
                            <th mat-header-cell *matHeaderCellDef class="br t-16 text-right"> Maturity value </th>
                            <td mat-cell *matCellDef="let element" class="br t-16 text-right"> {{util.formatter(element.maturityValue)}} </td>
                        </ng-container>
            
                        <ng-container matColumnDef="tenure">
                                <th mat-header-cell *matHeaderCellDef class="br text-right"> Tenure... </th>
                                <td mat-cell *matCellDef="let element" class="br text-right"> {{element.tenure}} </td>
                            </ng-container>
                            <ng-container matColumnDef="type">
                                    <th mat-header-cell *matHeaderCellDef class="br t-8"> type </th>
                                    <td mat-cell *matCellDef="let element" class="br t-8"> {{element.type}} </td>
                                </ng-container>
            
                        <ng-container matColumnDef="desc">
                                <th mat-header-cell *matHeaderCellDef class="br"> Description </th>
                                <td mat-cell *matCellDef="let element" class="br"> {{element.description}} </td>
                            </ng-container>
            
                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef class="br"> Status </th>
                        <td mat-cell *matCellDef="let element" class="br text-primary"> {{element.active}} </td>
                    </ng-container>
                    <ng-container matColumnDef="icons">
                        <th mat-header-cell *matHeaderCellDef class="t-2"> </th>
                        <td mat-cell *matCellDef="let element" class="t-2"> <i class="material-icons c-p text-black" [matMenuTriggerFor]="menu4">
                                        more_vert
                                        </i>
                                        <mat-menu #menu4="matMenu">
                                                <button mat-menu-item (click)="openPortfolioSummary('addBonds','open',element)">Edit</button>
                                                <button mat-menu-item>Deatiled View</button>
                                                <button mat-menu-item>Activity</button>
                                                <button mat-menu-item>Delete</button>
                                              </mat-menu>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns6; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns6;"></tr>
                </table>
            </div>
        </div>
    </div>