::ng-deep .mat-sort-header-button {
    height: auto;
    letter-spacing: normal;
}

#table-low th {
    padding: 7px 8px !important;
    font-weight: 600;
    font-size: 13px !important;
}

::ng-deep .rightText .mat-sort-header-button {
    text-align: right;
    float: right;
}