<div class="row bb-1 popup-header-fix-50">
    <div class="col-md-10 p-0">
        <h4 class="mb-0 l-22 wrapper-20">Convert to client</h4>
    </div>
    <div class="col-md-2 text-right">
        <i (click)="close()" class="material-icons pt-20 c-p pr-16">
            clear
        </i>
    </div>
</div>

<div class="pt-90 pl-28 pr-28 pb-100">
    <h5 class="m-0 roboto">You are about to convert the prospect <strong> Rahul Jain </strong> into a client. <br>
        Before we do that, let’s confirm a few things...
    </h5>

    <div class="row pt-28">
        <div class="col-md-6 p-0">
            <h5>Confirm client owner (team member)</h5>
            <div class="form-group m-0">
                <mat-form-field>
                    <mat-select [(ngModel)]="selectedClient" class="form-control">
                        <mat-option *ngFor="let client of clientOwnerList" value="client">{{client.name}}</mat-option>
                    </mat-select>
                    <mat-error>This Field is required</mat-error>
                </mat-form-field>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12  p-0">
            <p class="f-12 l-18 m-0 text-primitive">A client needs to have an owner. Depending on your setup, it could
                be you or a designated relationship manager, financial planner etc. You can add team members from here.
            </p>
        </div>
    </div>


    <div class="row pt-28">
        <div class="col-md-6 p-0">
            <h5>Confirm role</h5>
            <div class="form-group m-0">
                <mat-form-field>
                    <mat-select class="form-control">
                        <mat-option value="Resident">Client - Standard plan</mat-option>
                    </mat-select>
                    <mat-error>This Field is required</mat-error>
                </mat-form-field>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 p-0">
            <p class="f-12 l-18 m-0 text-primitive">
                You have to assign a role to the client. This decides what access rights this client will have. You can
                create multiple roles and have different levels of access accordingly. You can add roles from here.
            </p>
        </div>
    </div>

    <div class="row pt-28">
        <div class="col-md-6 p-0">
            <h5>Username</h5>
            <div class="form-group mb-4 ">
                <mat-form-field>
                    <input matInput #userName maxlength="50" class="form-control">
                    <mat-error>This Field is required</mat-error>
                    <mat-hint>{{userName.value.length}}/50</mat-hint>
                </mat-form-field>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 roboto f-14 p-0">
            <mat-checkbox> </mat-checkbox> Automatically generate a password
        </div>
    </div>

    <div class="row pt-24">
        <div class="col-md-12 roboto f-14 p-0">
            <mat-checkbox> </mat-checkbox> Send welcome email
        </div>
        <div class="col-md-12 pl-20 pr-0">
            <p class="f-12 l-18 m-0 text-primitive">
                If opted, an email window will show up once you click on the Convert button below. You can customize the
                email content from here.
            </p>
        </div>
    </div>


</div>


<div class="bottom-fixed wrapper-12 w-50">
    <div class="row">
        <div class="col-md-4">
            <h5 class="mb-0 pt-8 text-white c-p" (click)="close()">Cancel</h5>
        </div>
        <div class="col-md-8 right text-right">

            <button mat-stroked-button class="btn-bottom br-0 text-inherit">CONVERT
            </button>
        </div>
    </div>
</div>