::ng-deep .fixed-checkbox-right {
  position: absolute;
  right: 8%;
  top: -5%;
}

// ::ng-deep .mat-checkbox-frame {
//   border-color: #008FFF;
// }
::ng-deep .min-160 {
  min-width: 160px !important;
  font-size: 12px !important;
}
