::ng-deep .fixed-checkbox-right {
  position: absolute;
  right: 8%;
  top: -5%;
}

// ::ng-deep .mat-checkbox-frame {
//   border-color: #008FFF;
// }
::ng-deep .min-160 {
  min-width: 160px !important;
  font-size: 12px !important;
}

::ng-deep .w-340 {
  width: 340px !important;

  .mat-menu-item {
    height: 68px !important;
  }
}

::ng-deep .mat-tab-header {
  border-bottom: 0px;

  .mat-tab-label {
    padding: 0;
    min-width: 150px !important;
    height: 50px !important;
  }

  .mat-tab-label-active {
    color: #008FFF !important;
    opacity: .9;
  }
}

#level-radio {
  display: flex;

  .mat-radio-button {
    min-width: 0px !important;
    font-size: 10px !important;
  }

  .mat-radio-inner-circle,
  .mat-radio-outer-circle,
  .mat-radio-container,
  .mat-radio-outer-circle {
    height: 10px !important;
    width: 10px !important;
  }

  .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    display: none !important;
  }

  .mat-radio-label {
    display: grid !important;
    padding: 0 !important;
  }

  .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    display: none !important;
  }


}

// ::ng-deep .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle,
// ::ng-deep .mat-radio-outer-circle {
//   display: none;
// }

// ::ng-deep .mat-radio-label {
//   padding: 0 !important;
// }
