<div class="popup-header-fix-45">
  <div class="row bb-1">
    <div class="col-md-8 p-0">
      <h3 *ngIf="singleFolioData.flag=='client'" class="mb-0 wrapper-20">MAP FOLIO TO IIN/UCC</h3>
      <h3 *ngIf="singleFolioData.flag=='folio'" class="mb-0 wrapper-20">MAP FOLIO TO IIN/UCC1</h3>
    </div>
    <div class="col-md-4 text-right">
      <div class="wrapper-12">
        <i (click)="close()" class="material-icons c-p pt-8 v-middle"> clear</i>
      </div>
    </div>
  </div>
</div>

<div class="pt-90 pr-20 pl-20">
  <h5 *ngIf="singleFolioData.flag=='client'" class="m-0">Mapping of Client code <b>{{singleFolioData.clientCode}}</b>
    belonging to
    <b>{{singleFolioData.firstApplicantName}}</b></h5>
  <h5 *ngIf="singleFolioData.flag=='folio'" class="m-0">Mapping of Client code <b>{{singleFolioData.folioNumber}}</b>
    belonging to
    <b>{{singleFolioData.invName}}</b></h5>
  <h5 class="m-0 pt-40">Select an investor from the search box below</h5>
  <div class="row pt-12">
    <div class="col-md-10 p-0">
      <div class="form-group">
        <form [formGroup]="folioForm">
          <mat-form-field>
            <input #searchClient (input)="checkInputData($event)" (valueChange1)='lisNominee($event)'
                   [data]='searchClient.value' [matAutocomplete]="auto1" appClientSearch
                   aria-label="client" class="form-control br-0 pl-8" formControlName="ownerName" matInput>
            <mat-autocomplete #auto1="matAutocomplete">
              <!-- (onSelectionChange)="ownerDetails(f)" -->
              <mat-option (onSelectionChange)="ownerDetails(f,singleFolioData.flag)"
                          *ngFor="let f of nomineesListFM" [value]="f.name">
                <span>{{f.name}}</span>
              </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="folioForm.get('ownerName').errors?.required" class="f-12 pt-4">
              This field is required
            </mat-error>
            <mat-error *ngIf="folioForm.get('ownerName').errors?.setValue" class="f-12">
              This family member does not exist
            </mat-error>
          </mat-form-field>
        </form>
      </div>
    </div>
    <div *ngIf="familyMemberData && singleFolioData.flag=='client'" class="col-md-12 pt-48 p-0">
      <h5 class="m-0 f-500 pb-12">Following are the details of Sneha Vishal Shah</h5>
      <div class="row b-a">
        <div class="col-md-6 p-0 b-b">
          <p class="m-0 p-8">Full name</p>
        </div>
        <div class="col-md-6 p-0 b-b text-right">
          <p class="m-0 p-8">{{familyMemberData.name}}</p>
        </div>
        <div class="col-md-6 p-0 b-b">
          <p class="m-0 p-8">Date of birth</p>
        </div>
        <div class="col-md-6 p-0 b-b text-right">
          <p class="m-0 p-8">{{familyMemberData.birthDate}}</p>
        </div>
        <div class="col-md-6 p-0 b-b">
          <p class="m-0 p-8">PAN</p>
        </div>
        <div class="col-md-6 p-0 b-b text-right">
          <p class="m-0 p-8">{{familyMemberData.pan}}</p>
        </div>
        <div class="col-md-6 p-0 b-b">
          <p class="m-0 p-8">Mobile number</p>
        </div>
        <div class="col-md-6 p-0 b-b text-right">
          <p class="m-0 p-8">{{familyMemberData.mobileNumber}}</p>
        </div>
        <div class="col-md-6 p-0">
          <p class="m-0 p-8">Email</p>
        </div>
        <div class="col-md-6 p-0 text-right">
          <p class="m-0 p-8">{{familyMemberData.emailId}}</p>
        </div>
      </div>
    </div>
    <!-- <div *ngIf="clientCodeData && singleFolioData.flag=='folio'" class="col-md-12 pt-48 mb-48 p-0">
        <table mat-table [dataSource]="clientCodeData" id="table-low">
            <ng-container matColumnDef="checkbox">
                <th mat-header-cell *matHeaderCellDef class="br f-18" style="width: 2%;">
                    Select
                </th>
                <td mat-cell *matCellDef="let element" style="width: 2%;" class="c-p br">
                    <mat-radio-button class="radioBtn custom-radio" (change)="selectedIINUCC(element)">
                    </mat-radio-button>
                </td>
            </ng-container>
            <ng-container matColumnDef="no">
                <th mat-header-cell *matHeaderCellDef class="br w-20"> IIN/UCC </th>
                <td mat-cell *matCellDef="let element" class="br">
                    <div class="bar"> {{element.clientCode}} </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="ownerName">
                <th mat-header-cell *matHeaderCellDef class="br w-15"> Holding Type</th>
                <td mat-cell *matCellDef="let element" class="br">
                    <div class="bar">
                        {{(element.holdingType == 'SI')?'SINGLE':(element.holdingType == 'JO')?'JOINT':'ANYONE/SERVIVAL'}}
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="platform">
                <th mat-header-cell *matHeaderCellDef class="br w-15"> Platform</th>
                <td mat-cell *matCellDef="let element" class="br">
                    <div class="bar">
                        {{(element.aggregatorType == 1)?'NSC':(element.aggregatorType ==2)?'BSC':''}}
                    </div>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div> -->
    <div *ngIf="clientCodeData && singleFolioData.flag=='folio'"
         class="col-md-12 pt-60 p-0 folio-mapping-popuptable">
      <h5 class="m-0 f-500">Select an investment account you would like to map this folio to (multi select
        allowed)</h5>
      <table [dataSource]="clientCodeData" class="mt-8" id="table-low" mat-table>
        <ng-container matColumnDef="checkbox">
          <th *matHeaderCellDef class="br" mat-header-cell></th>
          <td *matCellDef="let element" class="c-p br" mat-cell style="width: 2%;">
            <mat-radio-button (change)="selectedIINUCC(element)" class="radioBtn custom-radio">
            </mat-radio-button>
          </td>
        </ng-container>
        <ng-container matColumnDef="no">
          <th *matHeaderCellDef class="br" mat-header-cell> Platform</th>
          <td *matCellDef="let element" class="br" mat-cell>
            {{(element.aggregatorType == 1) ? 'NSC' : (element.aggregatorType == 2) ? 'BSC' : ''}}</td>
        </ng-container>


        <ng-container matColumnDef="name">
          <th *matHeaderCellDef class="br" mat-header-cell> ARN/RIA</th>
          <td *matCellDef="let element" class="br" mat-cell>
            <div class="bar">

            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="weight">
          <th *matHeaderCellDef class="br" mat-header-cell> IIN/UCC</th>
          <td *matCellDef="let element" class="br" mat-cell> {{element.clientCode}} </td>
        </ng-container>

        <ng-container matColumnDef="symbol">
          <th *matHeaderCellDef class="br" mat-header-cell> Holding nature</th>
          <td *matCellDef="let element" class="br" mat-cell>
            <div class="bar">
              {{(element.holdingType == 'SI') ? 'SINGLE' : (element.holdingType == 'JO') ? 'JOINT' : 'ANYONE/SERVIVAL'}}
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="hname">
          <th *matHeaderCellDef mat-header-cell> Joint holder names</th>
          <td *matCellDef="let element" mat-cell> {{familyMemberData.name}} </td>
        </ng-container>
        <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
        <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
      </table>
    </div>
  </div>
</div>

<div class="bottom-fixed-45 wrapper-12  ">
  <div class="row">
    <div class="col-md-4">
      <h5 (click)="close()" class="mb-0 pt-8 text-white c-p">Cancel</h5>
    </div>
    <div *ngIf="familyMemberData" class="col-md-8 right text-right">
      <button (click)="mapUnmapClient()" *ngIf="singleFolioData.flag=='client'" class="btn-bottom br-0 text-inherit"
              mat-button>MAP
      </button>
      <button (click)="mapUnmapFolio()" *ngIf="singleFolioData.flag=='folio' && selectedIIN"
              class="btn-bottom br-0 text-inherit"
              mat-button>MAP
      </button>
    </div>
  </div>
</div>
