<div class="row pt-24">
  <div class="col-md-4 align-items-center d-flex">
    <h4 class="m-0 text-black pt-8">Folio mapping</h4>
  </div>
  <div *ngIf="dataSource.filteredData.length > 0" class="col-md-8 pr-0">
    <div class="row">
      <!-- <div class="col-md-4 text-right pr-0">
          <div class="form-group mb-0">
              <mat-form-field floatLabel="never" appearance="standard">
                  <input autocomplete="off" matInput (keyup)="applyFilter($event)"
                      placeholder="type to filter data" class="form-control br-0">
              </mat-form-field>
          </div>
      </div> -->
      <div class="col-md-3 pl-0">
        <div class="form-group mb-0">
          <input #searchClient (valueChange1)='lisNominee($event)' [data]='searchClient.value' [matAutocomplete]="auto1"
                 appClientSearch aria-label="client" class="form-control br-0 pl-8" matInput
                 placeholder="Search client">
          <mat-autocomplete #auto1="matAutocomplete">
            <mat-option (onSelectionChange)="ownerDetails(f)" *ngFor="let f of nomineesListFM"
                        [value]="f.name">
              <span>{{f.name}}</span>
            </mat-option>
          </mat-autocomplete>
        </div>
      </div>
      <div class="col-md-3 pl-0">
        <div class="form-group mb-0">
          <mat-select (selectionChange)="sortDataFilterWise()" [(ngModel)]="type" class="form-control br-0">
            <mat-option value="1">Mapped Folios</mat-option>
            <mat-option value="2">Unmapped Folios</mat-option>
          </mat-select>
        </div>
      </div>
      <!--            <div class="col-md-3 pl-0">-->
      <!--                <div class="form-group mb-0">-->
      <!--                    <mat-select [(ngModel)]="selectedBrokerCode"-->
      <!--                        (selectionChange)="chnageBrokerCode(selectedBrokerCode)" class="form-control br-0">-->
      <!--                        <mat-option *ngFor="let singleBrokerCode of filterData" [value]="singleBrokerCode">-->
      <!--                            {{singleBrokerCode.brokerCode}}-->
      <!--                        </mat-option>-->
      <!--                    </mat-select>-->
      <!--                </div>-->
      <!--            </div>-->
      <!--            <div class="col-md-3 pl-0">-->
      <!--                <div class="form-group mb-0">-->
      <!--                    <mat-select [(ngModel)]="selectedPlatform" (selectionChange)="changePlatform(selectedPlatform)"-->
      <!--                        class="form-control br-0">-->
      <!--                        <mat-option *ngFor="let singlePlatform of filterData" [value]="singlePlatform">-->
      <!--                            {{singlePlatform.platformName}}</mat-option>-->
      <!--                    </mat-select>-->
      <!--                </div>-->
      <!--            </div>-->
    </div>

  </div>
  <div class="col-md-12 folio-mapping">
    <table *ngIf="dataSource.filteredData.length > 0" [appSkeletonLoading]="isLoading" [dataSource]="dataSource"
           class="mt-8 skeletonAnimation"
           id="table-low" mat-table matSort>

      <ng-container matColumnDef="position">
        <th *matHeaderCellDef class="br" mat-header-cell mat-sort-header="brokerCode">ARN/RIA</th>
        <td *matCellDef="let element" class="br" mat-cell>
          <div class="bar"> {{element.brokerCode}}</div>
        </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="folioNumber">
        <th *matHeaderCellDef class="br" mat-header-cell mat-sort-header="folioNumber"> Folio number</th>
        <td *matCellDef="let element" class="br" mat-cell>
          <div class="bar"> {{element.folioNumber}} </div>
        </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="schemeName">
        <th *matHeaderCellDef class="br" mat-header-cell mat-sort-header="schemeName"> Scheme name</th>
        <td *matCellDef="let element" class="br" mat-cell>
          <div class="bar"> {{element.schemeName}}</div>
        </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="name">
        <th *matHeaderCellDef class="br" mat-header-cell mat-sort-header="invName"> Investor name</th>
        <td *matCellDef="let element" class="br" mat-cell>
          <div class="bar"> {{element.invName}} </div>
        </td>
      </ng-container>
      <ng-container matColumnDef="hold">
        <th *matHeaderCellDef class="br" mat-header-cell mat-sort-header="holdingTypeName"> Holding nature</th>
        <td *matCellDef="let element" class="br" mat-cell>
          <div class="bar"> {{element.holdingTypeName}}</div>
        </td>
      </ng-container>
      <ng-container matColumnDef="accountno">
        <th *matHeaderCellDef class="br" mat-header-cell mat-sort-header="clientCode"> Client Code</th>
        <td *matCellDef="let element" class="br" mat-cell>
          <div class="bar"> {{element.clientCode}}</div>
        </td>
      </ng-container>
      <ng-container matColumnDef="platformtype">
        <th *matHeaderCellDef class="br" mat-header-cell mat-sort-header="aggregatorType"> Platform</th>
        <td *matCellDef="let element" class="br" mat-cell>
          <div class="bar"> {{element.aggregatorType == 1 ? 'NSE' : 'BSE'}}</div>
        </td>
      </ng-container>
      <ng-container matColumnDef="map">
        <th *matHeaderCellDef mat-header-cell>Map</th>
        <td *matCellDef="let element" mat-cell>
          <div class="bar">
            <button (click)="openAddMappiing(element,'')" *ngIf="type=='2'  && element.id"
                    class="primary-sm bg-primary text-white br-0" mat-stroked-button>MAP
            </button>
            <button (click)="unmapFolio(element,'FOLIO')" *ngIf="type=='1'  && element.id"
                    class="primary-sm bg-primary text-white br-0" mat-stroked-button>UNMAP
            </button>
          </div>
        </td>
      </ng-container>
      <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
    </table>
    <div *ngIf="dataSource.filteredData.length==0 && isLoading==false"
         class="d-flex flex-column align-items-center pt-44">
      <img class="width300" src="assets/images/svg/noDataFound.svg">
      <h4 class="pt-12">No credetials found</h4>
    </div>
  </div>
</div>
