<div class="row">
    <div class="col-md-4 p-0">
        <h4 class="m-0 text-black roboto pt-8">Kisan vikas patra (KVP)</h4>
    </div>
    <div class="col-md-8 p-0 right text-right">
        <img src="assets/images/svg/download-bordered.svg" class="c-p">
        <img src="assets/images/svg/up-down.svg" class="">
        <img src="assets/images/svg/three-dot-bordered.svg" class="c-p mr-12">

        <button mat-stroked-button class="btn-default addon mr-12 v-middle"><i
                class="material-icons">filter_list</i>FILTERS</button>
        <button mat-stroked-button (click)="openAddKVP(null)" class="btn-primary addon v-middle"><i
                class="material-icons">add</i>ADD NEW</button>
    </div>
</div>
<div class="example-container mt-8 real-estate">
    <table matSort mat-table [dataSource]="datasource" id="table-low">

        <ng-container matColumnDef="no">
            <th mat-sort-header="no" mat-header-cell *matHeaderCellDef class="br"> No </th>
            <td mat-cell *matCellDef="let element;index as i" class="br"> {{i+1}} </td>
            <td mat-footer-cell class="br text-left t-7" *matFooterCellDef> </td>
        </ng-container>
        <ng-container matColumnDef="owner">
            <th mat-sort-header="ownerName" mat-header-cell *matHeaderCellDef class="br t-25"> Owner </th>
            <td mat-cell *matCellDef="let element" class="br t-25"> {{element.ownerName}} </td>
            <td mat-footer-cell class="br text-left t-7" *matFooterCellDef>Total</td>
        </ng-container>
        <ng-container matColumnDef="cvalue">
            <th mat-sort-header="currentValue" mat-header-cell *matHeaderCellDef class="br t-10 text-right"> Current
                value </th>
            <td mat-cell *matCellDef="let element" class="br t-10 text-right" appFormatNumber> {{element.currentValue}}
            </td>
            <td mat-footer-cell class="br text-left t-7" *matFooterCellDef appFormatNumber [value]="sumOfCurrentValue">
                {{sumOfCurrentValue}} </td>
        </ng-container>
        <ng-container matColumnDef="rate">
            <th mat-sort-header="rate" mat-header-cell *matHeaderCellDef class="br text-right"> Rate </th>
            <td mat-cell *matCellDef="let element" class="br text-right"> {{element.rate}} </td>
            <td mat-footer-cell class="br text-left t-7" *matFooterCellDef> </td>
        </ng-container>
        <ng-container matColumnDef="amt">
            <th mat-sort-header="amountInvested" mat-header-cell *matHeaderCellDef class="br text-right">Amount invested
            </th>
            <td mat-cell *matCellDef="let element" class="br text-right" appFormatNumber> {{element.amountInvested}}
            </td>
            <td mat-footer-cell class="br text-left t-7" *matFooterCellDef appFormatNumber
                [value]="sumOfAmountInvested">{{sumOfAmountInvested}} </td>
        </ng-container>
        <ng-container matColumnDef="mvalue">
            <th mat-sort-header="maturityValue" mat-header-cell *matHeaderCellDef class="br text-right"> Maturity value
            </th>
            <td mat-cell *matCellDef="let element" class="br text-right" appFormatNumber> {{element.maturityValue}}
            </td>
            <td mat-footer-cell *matFooterCellDef> </td>
        </ng-container>

        <ng-container matColumnDef="mdate">
            <th mat-sort-header="maturityDate" mat-header-cell *matHeaderCellDef class="br t-12 text-left"> Maturity
                date </th>
            <td mat-cell *matCellDef="let element" class="br t-12 text-left">
                {{element.maturityDate | date:'dd/MM/yyyy'}} </td>
            <td mat-footer-cell *matFooterCellDef> </td>
        </ng-container>

        <ng-container matColumnDef="desc">
            <th mat-sort-header="description" mat-header-cell *matHeaderCellDef class="br t-10"> Description </th>
            <td mat-cell *matCellDef="let element" class="br t-10"> {{element.description}} </td>
            <td mat-footer-cell *matFooterCellDef> </td>
        </ng-container>
        <ng-container matColumnDef="status">
            <th mat-sort-header="status" mat-header-cell *matHeaderCellDef class="br"> Status </th>
            <td mat-cell *matCellDef="let element" class="br text-primary"> {{element.status}} </td>
            <td mat-footer-cell *matFooterCellDef> </td>
        </ng-container>
        <ng-container matColumnDef="icons">
            <th mat-header-cell *matHeaderCellDef class="t-2"> </th>
            <td mat-cell *matCellDef="let element" class="t-2"> <i class="material-icons c-p text-black"
                    [matMenuTriggerFor]="menubank">
                    more_vert
                </i>
                <mat-menu #menubank="matMenu">
                    <button mat-menu-item (click)="openAddKVP(element)">Edit</button>
                    <button mat-menu-item>Detailed view</button>
                    <button mat-menu-item>Activity</button>
                    <button mat-menu-item (click)="deleteModal('SUBSCRIPTION',element)">Delete</button>
                </mat-menu>
            </td>
            <td mat-footer-cell *matFooterCellDef> </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns18; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns18;"></tr>
        <tr mat-footer-row *matFooterRowDef="displayedColumns18;sticky: true" [hidden]="isLoading"></tr>
    </table>
    <div *ngIf="datasource==undefined">
        <h4 class="text-center pt-72">{{noData}}</h4>
    </div>
</div>

<div *ngIf="isLoading">
    <mat-spinner class="loader" [diameter]="30"></mat-spinner>
</div>