<div class="row">
    <div class="col-md-4 p-0">
        <h4 class="m-0 text-black roboto pt-8">Kisan vikas patra (KVP)</h4>
    </div>
    <div class="col-md-8 p-0  d-flex align-items-center  justify-content-end " *ngIf="datasource.filteredData.length > 0">
        <div class="p-0 d-flex align-items-center justify-content-center mt-8">
            <mat-spinner *ngIf="isLoadingUpload==true" [diameter]="30"></mat-spinner>
        </div>
        <a [matMenuTriggerFor]="menu5" class="c-p downloadPdfIcon">
            <img src="assets/images/svg/download-bordered.svg">
        </a>
        <mat-menu #menu5="matMenu">
            <button (click)="pdf('KVP')" mat-menu-item>PDF</button>
            <button (click)="Excel('KVP')" mat-menu-item>XLS</button>
        </mat-menu>

        <a [matMenuTriggerFor]="menu7" class="c-p downloadPdfIcon iconBorderNone">
            <img src="assets/images/svg/up-down.svg">
        </a>

        <mat-menu #menu7="matMenu">
            <button mat-menu-item>Upload file
                <input (change)="fetchData('KVP',$event)" class="uploadInput" id="file-4" multiple type="file">
            </button>
        </mat-menu>

        <img src="assets/images/svg/three-dot-bordered.svg" [matMenuTriggerFor]="menu6" class="c-p mr-8">
        <mat-menu #menu6="matMenu">
            <button mat-menu-item>Email Report</button>
            <button mat-menu-item>Option 2</button>
            <button mat-menu-item>Option 3</button>
        </mat-menu>

        <button mat-stroked-button class="btn-default addon mr-8 v-middle"><i
                class="material-icons">filter_list</i>FILTERS</button>
        <button mat-stroked-button (click)="openAddKVP(null,'addKvp')" class="btn-primary addon v-middle">ADD
            NEW</button>
    </div>
</div>
<div [ngClass]="{'table-scroll':isLoading==false }" class="overflow-hidden mt-8 col-md-12 p-0 real-estate">
    <table #tableEl *ngIf="datasource.filteredData.length > 0" matSort mat-table [dataSource]="datasource" id="tbs" class="skeletonAnimation" appSkeletonLoading [appSkeletonLoading]="isLoading">

        <ng-container matColumnDef="no" sticky>
            <th mat-sort-header="no" mat-header-cell *matHeaderCellDef class="br"> No </th>
            <td mat-cell *matCellDef="let element;index as i" class="br">
                <div class="bar"> {{isLoading ? '' : i + 1 }} </div>
            </td>
            <td mat-footer-cell class=" pl-4 f-500 text-left t-2" *matFooterCellDef>
                <div class="bar"> </div>
            </td>
        </ng-container>
        <ng-container matColumnDef="owner">
            <th mat-sort-header="ownerName" mat-header-cell *matHeaderCellDef class="br w-17"> Owner </th>
            <td mat-cell *matCellDef="let element" class="br">
                <div class="bar"> </div>
                <div *ngFor="let owner of element.ownerList; let i = index">
                    <span *ngIf="i == 0">{{owner.name}}</span>
                </div>
            </td>
            <td mat-footer-cell class="br text-right pr-20 f-600" *matFooterCellDef>
                {{isLoading ? '' : 'Total' }} </td>
        </ng-container>
        <ng-container matColumnDef="cvalue">
            <th mat-sort-header="currentValue" mat-header-cell *matHeaderCellDef class="br rightText w-12"> Current value </th>
            <td mat-cell *matCellDef="let element" class="br text-right">
                <div class="bar">{{!isLoading? "₹" : ""}}<span appFormatNumber>{{element.currentValue }}</span> </div>
            </td>
            <td mat-footer-cell class="br text-right f-600 p-8" *matFooterCellDef>
                <div>{{isLoading ? ' ' : '₹'}}<span [value]="sumOfCurrentValue" appFormatNumber>{{sumOfCurrentValue}}</span></div>
            </td>
        </ng-container>
        <ng-container matColumnDef="rate">
            <th mat-sort-header="rate" mat-header-cell *matHeaderCellDef class="br rightText w-8"> Rate </th>
            <td mat-cell *matCellDef="let element" class="br text-right">
                <div class="bar"> {{element.rate | number: '1.2-2'}}{{!isLoading? "%" : ""}} </div>
            </td>
            <td mat-footer-cell class="br text-left" *matFooterCellDef> </td>
        </ng-container>
        <ng-container matColumnDef="amt">
            <th mat-sort-header="amountInvested" mat-header-cell *matHeaderCellDef class="br rightText w-13">Amount invested
            </th>
            <td mat-cell *matCellDef="let element" class="br text-right">
                <div class="bar">{{!isLoading? "₹" : ""}}<span appFormatNumber>{{element.amountInvested }}</span> </div>
            </td>
            <td mat-footer-cell class="br text-right f-600 p-8" *matFooterCellDef>
                <div>{{isLoading ? ' ' : '₹'}}<span [value]="sumOfAmountInvested" appFormatNumber>{{sumOfAmountInvested}}</span></div>
            </td>

        </ng-container>
        <ng-container matColumnDef="mvalue">
            <th mat-sort-header="maturityValue" mat-header-cell *matHeaderCellDef class="br rightText w-12"> Maturity value
            </th>
            <td mat-cell *matCellDef="let element" class="br text-right">
                <div class="bar">{{!isLoading? "₹" : ""}}<span appFormatNumber>{{element.maturityValue }}</span> </div>
            </td>
            <td mat-footer-cell class="br text-right f-600 p-8" *matFooterCellDef>
                <div>{{isLoading ? ' ' : '₹'}}<span [value]="sumOfmaturityValue" appFormatNumber>{{sumOfmaturityValue}}</span></div>
            </td>
        </ng-container>

        <ng-container matColumnDef="mdate">
            <th mat-sort-header="maturityDate" mat-header-cell *matHeaderCellDef class="br text-left"> Maturity date
            </th>
            <td mat-cell *matCellDef="let element" class="br text-left">
                <div class="bar"> {{element.maturityDate | date:'dd/MM/yyyy'}} </div>
            </td>
            <td mat-footer-cell *matFooterCellDef> </td>
        </ng-container>

        <ng-container matColumnDef="desc">
            <th mat-sort-header="description" mat-header-cell *matHeaderCellDef class="br"> Description </th>
            <td mat-cell *matCellDef="let element" class="br ">
                <div class="bar"> {{isLoading ? '' : element.description || '-'}} </div>
            </td>
            <td mat-footer-cell *matFooterCellDef> </td>
        </ng-container>
        <ng-container matColumnDef="status">
            <th mat-sort-header="status" mat-header-cell *matHeaderCellDef class="br"> Status </th>
            <td mat-cell *matCellDef="let element" class="br text-primary">
                <div class="bar"> {{element.statusId}} </div>
            </td>
            <td mat-footer-cell *matFooterCellDef> </td>
        </ng-container>
        <ng-container matColumnDef="icons" sticky>
            <th mat-header-cell *matHeaderCellDef class="t-2"> </th>
            <td mat-cell *matCellDef="let element" class="t-2 text-center">
                <div *ngIf="!isLoading">
                    <img [matMenuTriggerFor]="menubank" class="c-p " src="/assets/images/svg/dot-menu.svg">
                    <mat-menu #menubank="matMenu">
                        <button mat-menu-item (click)="openAddKVP(element,'editKvp')">Edit</button>
                        <button mat-menu-item (click)="openAddKVP(element,'detailedKvp')">Detailed view</button>
                        <button mat-menu-item>Activity</button>
                        <button mat-menu-item (click)="deleteModal('KVP',element)">Delete</button>
                    </mat-menu>
                </div>
            </td>
            <td mat-footer-cell *matFooterCellDef> </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns18; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns18;"></tr>
        <tr mat-footer-row *matFooterRowDef="displayedColumns18;sticky: true" [hidden]="isLoading"></tr>
    </table>
    <div *ngIf="datasource.filteredData.length == 0" class="d-flex flex-column align-items-center">
        <img class="width300" src="assets/images/svg/noDataFound.svg">
        <h4 class="text-center pt-12">No KVP found</h4>
        <button mat-stroked-button (click)="openAddKVP(null,'addKvp')" class="btn-primary addon v-middle">
            ADD NEW</button>
    </div>
</div>