<div class="row pt-150">
    <div class="col-md-4 d-flex align-items-center">
        <h3 class="m-0 roboto f-400">SIP Cleanup</h3>
    </div>
    <div class="col-md-8">
        <div class="row" [formGroup]="filterForm">
            <div class="col-md-2 pr-0">
                <mat-form-field>
                    <mat-select class="form-control" formControlName="activeCeased">
                        <mat-option [value]="1">Active only</mat-option>
                        <mat-option [value]="2">Ceased only</mat-option>
                        <mat-option [value]="-1">All records</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-3 pr-0">
                <mat-form-field>
                    <mat-select class="form-control" formControlName="markUnmark">
                        <mat-option [value]="0">Unmarked</mat-option>
                        <mat-option [value]="1">Marked</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-3 pr-0">
                <mat-form-field>
                    <mat-select class="form-control" formControlName="brokerCode">
                        <mat-option [value]="-1">
                            Default
                        </mat-option>
                        <mat-option *ngFor="let item of brokerList" [value]="item.id">
                            {{ item.brokerCode }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-4 search-folio pr-0">
                <mat-form-field floatLabel="never" appearance="standard">
                    <input matInput class="form-control" placeholder="Search folio" [formControl]="filterSearchForm">
                </mat-form-field>
            </div>
        </div>

    </div>
</div>

<div class="row">
    <div class="col-md-12" [ngClass]="showMultipleKeepBtn ? '': 'd-none'">
        <div class="d-flex">
            <button mat-stroked-button class="btn-primary mr-8 f-12 h-20 lh-20 br-1 keep-sip-clenup"
                (click)="setMultipleKeepOrRemove(1)">
                Keep
            </button>
            <button mat-stroked-button class="btn-danger text-white f-12 h-20 lh-20 br-1 remove-sip-clenup"
                (click)="setMultipleKeepOrRemove(0)">
                Remove
            </button>
        </div>
    </div>
</div>

<div class="row pt-24 sip-cleanup">
    <div class="col-md-12">
        <table mat-table [dataSource]="dataSource" id="table-low" class="skeletionAnimation"
            [appSkeletonLoading]="isLoading">
            <ng-container matColumnDef="checkbox">
                <th mat-header-cell *matHeaderCellDef>
                    <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()"
                        *ngIf="!isLoading">
                    </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                    <div class="bar">
                        <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)"
                            [aria-label]="checkboxLabel(row)">
                        </mat-checkbox>
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef class="br"> Scheme name details </th>
                <td mat-cell *matCellDef="let element" class="br c-p" (click)="openRecordDeatils(element)">
                    <div class="bar" *ngIf="!isLoading">
                        {{element.schemeName ? element.schemeName: '-'}}
                    </div>
                </td>
            </ng-container>


            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef class="br"> Investor name </th>
                <td mat-cell *matCellDef="let element" class="br">
                    <div class="bar">
                        {{element.investorName ? element.investorName:'-'}}
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="weight">
                <th mat-header-cell *matHeaderCellDef class="br"> Details </th>
                <td mat-cell *matCellDef="let element" class="br">
                    <div class="bar" *ngIf="!isLoading">
                        {{element.type}} / &#8377; {{ element.amount }}
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="symbol">
                <th mat-header-cell *matHeaderCellDef class="br"> Regd date / From date / To date </th>
                <td mat-cell *matCellDef="let element" class="br">
                    <div class="bar" *ngIf="!isLoading">
                        {{element.registeredDate|date:'yyyy-MM-dd'}} / {{ element.from_date|date:'yyyy-MM-dd' }} /
                        {{ element.to_date|date:'yyyy-MM-dd' }}
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="tra">
                <th mat-header-cell *matHeaderCellDef class="br"> Transaction # </th>
                <td mat-cell *matCellDef="let element" class="br">
                    <div class="bar">
                        {{element.transactionNumber}}
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef class="br"> Action</th>
                <td mat-cell *matCellDef="let element" class="br">
                    <div class="d-flex" *ngIf="!isLoading">
                        <button mat-stroked-button class="btn-primary mr-8 f-12 h-20 lh-20 br-1 keep-sip-clenup"
                            [disabled]="element.removeStatus == 0"
                            [ngClass]="element.removeStatus==0 ? 'disableClass':''"
                            (click)="setKeepOrRemove(element,'keep')">
                            Keep
                        </button>
                        <button mat-stroked-button class="btn-danger text-white f-12 h-20 lh-20 br-1 remove-sip-clenup"
                            [disabled]="element.removeStatus == 1"
                            [ngClass]="element.removeStatus == 1 ? 'disableClass':''"
                            (click)="setKeepOrRemove(element,'remove')">
                            Remove
                        </button>
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="menu">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let element">
                    <span class="material-icons c-p" [matMenuTriggerFor]="menu">
                        more_vert
                    </span>

                    <mat-menu #menu="matMenu">
                        <button mat-menu-item>Item 1</button>
                        <button mat-menu-item>Item 2</button>
                    </mat-menu>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <div class="row" *ngIf="dataSource.data === null">
            <div class="col-md-12 text-center p-0">
                <h4 class="p-44 b-a">
                    No Data Found
                </h4>
            </div>
        </div>

    </div>
</div>