@media(max-width:767px) {
  #mob-myfeed {
    background-color: #f2f2f2;

    .mobtop-navfixed {

      align-items: center;
    }

    .bg-white {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14);
    }

    .bg-1 {
      background: #93DAF5;
    }

    .bg-2 {
      background: #5BCF7F;
    }

    .bg-3 {
      background: #00004C;
    }

    .bg-4 {
      background: #E0A931;
    }

    // p {
    //   color: #1A303E;
    //   font-size: 14px;
    //   line-height: 12px;
    // }
  }

  .mob-myfeed-ms {
    width: 100%;


    .mat-button-toggle-label-content {
      line-height: 24px !important;
    }

    .mat-button-toggle {
      width: 33.33%;
    }
  }
}
