<div class="row mob-edit-document-popup">
    <div class="col-12 p-0">
        <button mat-menu-item class="p-0 w-100 h-48 bb-1">
            <div class="row">
                <div class="col-2">
                    <img src="/assets/images/svg/preview.svg">
                </div>
                <div class="col-10 d-flex align-items-center">
                    <p class="m-0 roboto text-dark f-400">Preview</p>
                </div>
            </div>
        </button>
        <button mat-menu-item class="p-0 w-100 h-48">
            <div class="row pb-10 pt-6">
                <div class="col-2">
                    <img src="assets/images/svg/share-24px.svg">
                </div>
                <div class="col-10 d-flex align-items-center">
                    <p class="m-0 roboto text-dark f-400">Share</p>
                </div>
            </div>
        </button>
        <button mat-menu-item class="p-0 w-100 h-48">
            <div class="row pb-10 pt-6">
                <div class="col-2">
                    <img src="/assets/images/svg/shareable.svg">
                </div>
                <div class="col-10 d-flex align-items-center">
                    <p class="m-0 roboto text-dark f-400">Get shareable link</p>
                </div>
            </div>
        </button>
        <button mat-menu-item class="p-0  w-100 h-48">
            <div class="row pb-10 pt-6">
                <div class="col-2">
                    <img src="/assets/images/svg/star-border-icon.svg">
                </div>
                <div class="col-10 d-flex align-items-center">
                    <p class="m-0 roboto text-dark f-400">Add to starred</p>
                </div>
            </div>
        </button>
        <button mat-menu-item class="p-0 w-100 h-48 bb-1">
            <div class="row pb-10 pt-6">
                <div class="col-2">
                    <img src="/assets/images/svg/edit-name.svg">
                </div>
                <div class="col-10 d-flex align-items-center">
                    <p (click)="openDialog('RENAME',data)" class="m-0 roboto text-dark f-400">Rename</p>
                </div>
            </div>
        </button>
        <button mat-menu-item class="p-0 w-100 h-48">
            <div class="row pb-10 pt-6">
                <div class="col-2">
                    <img src="assets/images/svg/info-icon.svg">
                </div>
                <div class="col-10 d-flex align-items-center">
                    <p class="m-0 roboto text-dark f-400">View activity</p>
                </div>
            </div>
        </button>
        <button mat-menu-item class="p-0 w-100 h-48">
            <div class="row pb-10 pt-6">
                <div class="col-2">
                    <img src="/assets/images/svg/move-to-icon.svg">
                </div>
                <div class="col-10 d-flex align-items-center">
                    <p (click)="openDialogCopy(data, 'Move')" class="m-0 roboto text-dark f-400">Move to</p>
                </div>
            </div>
        </button>
        <button mat-menu-item class="p-0 w-100 h-48 bb-1">
            <div class="row pb-10 pt-6">
                <div class="col-2">
                    <img src="/assets/images/svg/download-icon.svg">
                </div>
                <div class="col-10 d-flex align-items-center">
                    <p class="m-0 roboto text-dark f-400">Download</p>
                </div>
            </div>
        </button>
        <button mat-menu-item class="p-0 w-100 h-48">
            <div class="row pb-0 pt-6">
                <div class="col-2">
                    <img src="/assets/images/svg/delete-icon.svg">
                </div>
                <div class="col-10 d-flex align-items-center">
                    <p (click)="deleteModal('FOLDER',data)" *ngIf="data.folderName" class="m-0 roboto text-dark f-400">
                        Delete</p>
                    <p (click)="deleteModal('FILE',data)" *ngIf="data.fileName" class="m-0 roboto text-dark f-400">
                        Delete</p>
                </div>
            </div>
        </button>
    </div>
</div>