.expenses-chart-first,.expenses-chart-second{
    p{
        padding-top: 14px;
        font-family: "Roboto",sans-serif;
    }
    span{
        height: 10px;
        width: 10px;
        border-radius: 50%;
        display: inline-block;
        margin-right: 12px;
    }
}