<div class="row bb-1 popup-header-fix w-35">
    <div class="col-md-10 p-0">
        <h4 class="mb-0 l-22 wrapper-20">Add team member</h4>
    </div>
    <div class="col-md-2 text-right" (click)="close()">
        <i class="material-icons pt-20 c-p pr-16">
            clear
        </i>
    </div>
</div>
<div class="pt-90 pl-28 pr-28" [formGroup]="teamMemberFG">
    <div class="row pt-28">
        <div class="col-md-3 text-right pr-0">
            <h5 class="m-0 pt-12">Full name</h5>
        </div>
        <div class="col-md-7 pr-0">
            <div class="form-group">
                <mat-form-field>
                    <input matInput formControlName="name" class="form-control">
                    <mat-error>This field is required</mat-error>
                </mat-form-field>

            </div>
        </div>
    </div>
    <div class="row pt-28">
        <div class="col-md-3 text-right pr-0">
            <h5 class="m-0 pt-12">Email</h5>
        </div>
        <div class="col-md-7 pr-0">
            <div class="form-group">
                <mat-form-field>
                    <input matInput formControlName="email" class="form-control">
                    <mat-error>This field is required</mat-error>
                </mat-form-field>

            </div>
        </div>
    </div>
    <div class="row pt-28">
        <div class="col-md-3 text-right pr-0">
            <h5 class="m-0 pt-12">Mobile</h5>
        </div>
        <div class="col-md-7 pr-0">
            <div class="form-group">
                <mat-form-field>
                    <input matInput formControlName="mobile" class="form-control">
                    <mat-error>This field is required</mat-error>
                </mat-form-field>

            </div>
        </div>
    </div>
    <div class="row pt-28">
        <div class="col-md-3 text-right pr-0">
            <h5 class="m-0 pt-12">Role</h5>
        </div>
        <div class="col-md-7 pr-0">
            <div class="form-group">
                <mat-form-field>
                    <mat-select class="form-control" formControlName="role">
                        <mat-option value="">Select Role</mat-option>
                        <mat-option *ngFor="let role of roles" [value]="role.id">{{role.name}}</mat-option>
                    </mat-select>
                    <mat-error>This field is required</mat-error>
                </mat-form-field>
            </div>
        </div>
    </div>
</div>
<div class="bottom-fixed wrapper-12 w-35">
    <div class="row">
        <div class="col-md-4">
            <h5 class="mb-0 pt-8 text-white c-p" (click)="close()">Cancel</h5>
        </div>
        <div class="col-md-8 right text-right">
            <button mat-button class="btn-bottom br-0 text-inherit" (click)="save()">SEND INVITE
            </button>
        </div>
    </div>
</div>