<div id="ui-planinsurance">
    <div class="row">
        <div class="col-width-21 br-grey pb-44">
            <div class="row pt-20 pb-10 bb-grey">
                <div class="col-md-5 p-0">
                    <h3 class="m-0 text-black pt-4">Insurance</h3>
                </div>
                <div class="col-md-6 text-right p-0">
                    <!-- right side  -->
                    <button (click)="openUpperInsurance('open70')" class="btn-primary insuranceAddBtn br-2" mat-stroked-button>
                        <i class="material-icons text-white"> add</i>ADD NEW</button>
                </div>
                <div class="col-md-1 p-0 d-flex align-items-center  ">
                    <i class="material-icons  text-black  c-p"> more_vert </i>
                </div>
            </div>


            <!-- Life insurance - Rahul Jain -->

            <div class="row pt-10 " *ngFor="let insurance of insuranceList">
                <div class="col-md-12 p-0 c-p ba-2x br-4 h-105 overflow-hidden"
                (click)="openDetailsInsurance(insurance)">
                    <div class="bg-grey lter p-8">
                        <p class="m-0 f-500 roboto">{{insurance.heading}}</p>
                        <div class="row pt-4">
                            <div class="col-md-3 p-0">
                                <img src={{insurance.logo}}>
                            </div>
                            <div class="col-md-9 pl-10 pr-0">
                                <p class="m-0 text-black roboto">{{insurance.familyMem}}</p>
                                <p class="m-0 text-black roboto pt-16"><span class="f-500">Advice: </span> {{insurance.advice}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Life insurance - Rahul Jain -->
        <app-life-insurance class="col-width-79 pb-44"   [data]='detailsInsurance'></app-life-insurance>
    </div>
</div>
