<div class="wrapper-20" *ngIf="allAdvice == false">
    <div class="row">
        <div class="col-md-6 p-0">
            <button mat-stroked-button class="btn-primary mr-12 br-0">Advice
                given</button>
            <button mat-stroked-button class="text-primary br-0 b-priamry" (click)="allAdvice = true">All Fixed
                income</button>
        </div>
        <div class="col-md-6 p-0 text-right">
            <button mat-button [matMenuTriggerFor]="menu" class="right b-a br-0 pr-8">Scenario 2<i
                    class="material-icons pl-8 text-light">
                    keyboard_arrow_down
                </i></button>
            <mat-menu #menu="matMenu">
                <div class="row pt-16">
                    <div class="col-md-6 ">
                        <p class="m-0 text-black">Scenario 1</p>
                    </div>
                    <div class="col-md-6 p-0">
                        <button mat-stroked-button class="warning-sm">UNAPPROVED</button>
                    </div>
                </div>
                <div class="row pt-16">
                    <div class="col-md-6 ">
                        <p class="m-0 text-black">Scenario 2</p>
                    </div>
                    <div class="col-md-6 p-0">
                        <button mat-stroked-button class="primary-sm">APPROVED</button>
                    </div>
                </div>
                <div class="row pt-16">
                    <div class="col-md-6 ">
                        <p class="m-0 text-black">Scenario 3</p>
                    </div>
                    <div class="col-md-6 p-0">
                        <button mat-stroked-button class="warning-sm">UNAPPROVED</button>
                    </div>
                </div>
            </mat-menu>
        </div>
    </div>
    <div class="row pt-44">
        <div class="col-md-12 p-0">
            <app-advice-action></app-advice-action>
        </div>
    </div>
    <div class="row pt-32">
        <div class="col-md-6 p-0">
            <h5 class="m-0 text-black pt-8">Fixed deposit</h5>
        </div>
        <div class="col-md-6 p-0 text-right">
            <button mat-stroked-button class="br-0 text-light pl-8 mr-12"><img src="/assets/images/svg/addon-three.svg"
                    class="pr-8">Filters</button>
            <button mat-stroked-button class="btn-primary br-0 pl-8 "
                (click)="openFixedDeposit('adviceFixedDeposit','adviceFixedDeposit')"><img
                    src="/assets/images/svg/plus.svg" class="pr-8">Suggest new FD</button>
        </div>
    </div>
    <table matSort *ngIf="fixedDataSource" mat-table appSkeletonLoading [appSkeletonLoading]="isLoading" [dataSource]="
        fixedDataSource" class="mt-8 skeletonAnimation" id="table-low">
        <ng-container matColumnDef="checkbox">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <mat-checkbox></mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let element">
                <mat-checkbox></mat-checkbox>
            </td>
        </ng-container>
        <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Investor name </th>
            <td mat-cell *matCellDef="let element;index as i">
                <div class="bar">Test </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Current value </th>
            <td mat-cell *matCellDef="let element">
                <div class="bar"> {{element.name}} </div>
            </td>
        </ng-container>
        <ng-container matColumnDef="weight">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Maturity date </th>
            <td mat-cell *matCellDef="let element">
                <div class="bar"> {{element.weight}}</div>
            </td>
        </ng-container>

        <ng-container matColumnDef="symbol">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
            <td mat-cell *matCellDef="let element">
                <div class="bar"> {{element.adviceToAsset.adviceDescription}}</div>
            </td>
        </ng-container>
        <ng-container matColumnDef="advice">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Advice </th>
            <td mat-cell *matCellDef="let element">
                <div class="bar"> {{element.advice}}</div>
            </td>
        </ng-container>
        <ng-container matColumnDef="astatus">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Advice status </th>
            <td mat-cell *matCellDef="let element">
                <div class="bar">{{element.astatus}}</div>
            </td>
        </ng-container>
        <ng-container matColumnDef="adate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Applicable date </th>
            <td mat-cell *matCellDef="let element">
                <div class="bar"> {{element.adate}}</div>
            </td>
        </ng-container>
        <ng-container matColumnDef="icon">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
            <td mat-cell *matCellDef="let element">
                <i class="material-icons c-p" [matMenuTriggerFor]="menu">
                    more_vert
                </i>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item>Item 1</button>
                    <button mat-menu-item>Item 2</button>
                </mat-menu>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns3"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns3;"></tr>
    </table>
    <div class="row pt-32">
        <div class="col-md-6 p-0">
            <h5 class="m-0 text-black pt-8">Recurring deposit</h5>
        </div>
        <div class="col-md-6 p-0 text-right">
            <button mat-stroked-button class="br-0 text-light pl-8 mr-12"><img src="/assets/images/svg/addon-three.svg"
                    class="pr-8">Filters</button>
            <button mat-stroked-button class="btn-primary br-0 pl-8 "
                (click)="openRecurringDeposit('adviceRecurringDeposit','adviceRecurringDeposit')"><img
                    src="/assets/images/svg/plus.svg" class="pr-8">Suggest new RD</button>
        </div>
    </div>
    <table matSort mat-table *ngIf="recurringDataSource" appSkeletonLoading [appSkeletonLoading]="isLoading"
        [dataSource]=" recurringDataSource" class="mt-8 skeletonAnimation" id="table-low">
        <ng-container matColumnDef="checkbox">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <mat-checkbox></mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let element">
                <mat-checkbox></mat-checkbox>
            </td>
        </ng-container>
        <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Investor name </th>
            <td mat-cell *matCellDef="let element">
                <div class="bar"> Test
                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
            <td mat-cell *matCellDef="let element">
                <div class="bar"> {{element.name}}
                </div>
            </td>
        </ng-container>
        <ng-container matColumnDef="weight">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Current value </th>
            <td mat-cell *matCellDef="let element">
                <div class="bar"> {{element.weight}}
                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="symbol">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Monthly contribution </th>
            <td mat-cell *matCellDef="let element">
                <div class="bar"> {{element.symbol}}
                </div>
            </td>
        </ng-container>
        <ng-container matColumnDef="mdate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Maturity date </th>
            <td mat-cell *matCellDef="let element">
                <div class="bar"> {{element.advice}}
                </div>
            </td>
        </ng-container>
        <ng-container matColumnDef="advice">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Advice </th>
            <td mat-cell *matCellDef="let element">
                <div class="bar"> {{element.astatus}}
                </div>
            </td>
        </ng-container>
        <ng-container matColumnDef="astatus">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Advice status </th>
            <td mat-cell *matCellDef="let element">
                <div class="bar"> {{element.adate}}</div>
            </td>
        </ng-container>
        <ng-container matColumnDef="adate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Applicable date </th>
            <td mat-cell *matCellDef="let element">
                <div class="bar"> {{element.adate}}</div>
            </td>
        </ng-container>
        <ng-container matColumnDef="icon">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
            <td mat-cell *matCellDef="let element">
                <i class="material-icons c-p" [matMenuTriggerFor]="menu">
                    more_vert
                </i>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item>Item 1</button>
                    <button mat-menu-item>Item 2</button>
                </mat-menu>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns3"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns3;"></tr>
    </table>
    <div class="row pt-32">
        <div class="col-md-6 p-0">
            <h5 class="m-0 text-black pt-8">Bonds</h5>
        </div>
        <div class="col-md-6 p-0 text-right">
            <button mat-stroked-button class="br-0 text-light pl-8 mr-12"><img src="/assets/images/svg/addon-three.svg"
                    class="pr-8">Filters</button>
            <button mat-stroked-button class="btn-primary br-0 pl-8 " (click)="openBond('adviceBonds','open')"><img
                    src="/assets/images/svg/plus.svg" class="pr-8">Suggest new Bond</button>
        </div>
    </div>
    <table matSort mat-table *ngIf="bondDataSource" appSkeletonLoading [appSkeletonLoading]="isLoading"
        [dataSource]=" bondDataSource" class="mt-8 skeletonAnimation" id="table-low">
        <ng-container matColumnDef="checkbox">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <mat-checkbox></mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let element">
                <mat-checkbox></mat-checkbox>
            </td>
        </ng-container>
        <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Investor name </th>
            <td mat-cell *matCellDef="let element">
                <div class="bar">
                    {{element.position}}
                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
            <td mat-cell *matCellDef="let element">
                <div class="bar"> {{element.name}}
                </div>
            </td>
        </ng-container>
        <ng-container matColumnDef="weight">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Current value </th>
            <td mat-cell *matCellDef="let element">
                <div class="bar"> {{element.weight}}</div>
            </td>
        </ng-container>

        <ng-container matColumnDef="symbol">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Monthly contribution </th>
            <td mat-cell *matCellDef="let element">
                <div class="bar"> {{element.symbol}}
                </div>
            </td>
        </ng-container>
        <ng-container matColumnDef="mdate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Maturity date </th>
            <td mat-cell *matCellDef="let element">
                <div class="bar"> {{element.advice}}
                </div>
            </td>
        </ng-container>
        <ng-container matColumnDef="advice">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Advice </th>
            <td mat-cell *matCellDef="let element">
                <div class="bar"> {{element.astatus}}
                </div>
            </td>
        </ng-container>
        <ng-container matColumnDef="astatus">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Advice status </th>
            <td mat-cell *matCellDef="let element">
                <div class="bar"> {{element.adate}}</div>
            </td>
        </ng-container>
        <ng-container matColumnDef="adate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Applicable date </th>
            <td mat-cell *matCellDef="let element">
                <div class="bar"> {{element.adate}}
                </div>
            </td>
        </ng-container>
        <ng-container matColumnDef="icon">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
            <td mat-cell *matCellDef="let element">
                <i class="material-icons c-p" [matMenuTriggerFor]="menu">
                    more_vert
                </i>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item>Item 1</button>
                    <button mat-menu-item>Item 2</button>
                </mat-menu>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns3"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns3;"></tr>
    </table>
</div>
<div *ngIf="allAdvice == true">
    <app-all-advice-fixed-deposit></app-all-advice-fixed-deposit>
</div>