 .bottom-footer {
   position: fixed;
   bottom: 0px;
 }

 ::ng-deep .mat-progress-spinner {
   width: 24px !important;
   height: 24px !important;
 }

 ::ng-deep .mat-progress-spinner svg {
   width: 24px !important;
   height: 24px !important;
 }

 ::ng-deep .mat-form-field-subscript-wrapper {
   margin-top: 5px !important;
   margin-left: 10px !important;
   padding-left: 0px !important;
 }

 .radio-border {
   border: 1px solid rgba(25, 25, 25, 0.32) !important;
 }

 .bor_top_tb_left {
   border-top-left-radius: 2px;
   border-bottom-left-radius: 2px;
 }

 .bor_top_tb_right {
   border-top-right-radius: 2px;
   border-bottom-right-radius: 2px;
 }

 ::ng-deep .mat-progress-spinner circle,
 .mat-spinner circle {
   stroke: #008FFF;
 }

 ::ng-deep .smallRadio .mat-radio-button {
   min-width: 120px !important;
 }

 ::ng-deep .smallRadio .radioBtn .mat-radio-label {
   min-width: 120px !important;
   height: 45px !important;
   display: flex !important;
   justify-content: left;
   align-items: center;
   padding-left: 10px !important;
 }

 ::ng-deep .mediumRadio .mat-radio-button {
   min-width: 180px !important;
 }

 ::ng-deep .mediumRadio .radioBtn .mat-radio-label {
   min-width: 180px !important;
   height: 45px !important;
   display: flex !important;
   justify-content: left;
   align-items: center;
   padding-left: 10px !important;
 }

 .width470 {
   width: 470px;
   overflow: hidden;

 }

 .popup-header-fix-470 {
   position: fixed;
   width: 470px;
   z-index: 10;
   background: #fff !important;
   border-left: 1px solid rgba(0, 0, 0, 0.12);
 }

 .containerOne {
   position: relative;
 }

 .containerOne:hover .image {
   opacity: 0.3;
 }

 .containerOne:hover .middleOne {
   opacity: 1;
 }

 .widthwebLogo {
   width: 270px;
   height: 68px;
   position: relative;
   overflow: hidden;
 }

 .middleOne {
   position: absolute;
   cursor: pointer;
   text-align: center;
   background: rgba(0, 0, 0, 0.5);
   width: 100%;
   height: 100%;
   top: 0px;
   opacity: 0;

   p {
     color: #ffffff;
     top: 66px;
     position: absolute;
     left: 50px;
   }
 }
