.customBoxDocument {
    background: #ffffff;
    height: 350px;
    width: 100%;
}

.width235 {
    width: 235px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.green {
    background-color: #02B875;
    height: 20px;
    width: 20px;
    text-align: center;
    padding-top: 3px;
    margin-left: 10px;
}

app-custom-html {
    font-size: 8px;
    padding: 10px 15px;
}