<div class="popup-header-fix">
    <div class="row bb-1">
        <div class="col-md-10 p-0">
            <h4 class="mb-0 wrapper-20">Add National savings certificate (NSC)</h4>
        </div>
        <div class="col-md-2 text-left">
            <div class="wrapper-12">
                <i class="material-icons c-p pt-8 v-middle" (click)="close()"> clear</i>
            </div>
        </div>
    </div>
</div>


<div class="pl-20 pr-20 pb-48">
    <div class="row pt-40">
        <div class="col-md-12 p-0">
            <div class="insurance-ui bt">
                <div class="row bb p-8 b-l br">
                    <div class="col-md-8 text-left f-14 roboto p-0">
                        Owner Name
                    </div>
                    <div class="col-md-4 text-right f-14 roboto p-0">
                       {{data.ownerName}}
                    </div>
                </div>
                <div class="row bb p-8 b-l br">
                    <div class="col-md-8 text-left f-14 roboto p-0">
                        Amount invested
                    </div>
                    <div class="col-md-4 text-right f-14 roboto p-0">
                       {{data.amountInvested}}
                    </div>
                </div>
                <div class="row bb p-8 b-l br">
                    <div class="col-md-8 text-left f-14 roboto p-0">
                        Commencement date
                    </div>
                    <div class="col-md-4 text-right f-14 roboto p-0">
                       {{data.commencementDate | date:'dd/MM/yyyy'}}
                    </div>
                </div>
                <div class="row bb p-8 b-l br">
                    <div class="col-md-8 text-left f-14 roboto p-0">
                        Tenure(in months)
                    </div>
                    <div class="col-md-4 text-right f-14 roboto p-0">
                       {{data.tenure}}
                    </div>
                </div>
                <div class="row bb p-8 b-l br">
                    <div class="col-md-8 text-left f-14 roboto p-0">
                        Owner Name
                    </div>
                    <div class="col-md-4 text-right f-14 roboto p-0">
                       fsdsdfsdf
                    </div>
                </div>
                <div class="row bb p-8 b-l br">
                    <div class="col-md-8 text-left f-14 roboto p-0">
                        Ownership type
                    </div>
                    <div class="col-md-4 text-right f-14 roboto p-0">
                       {{data.ownerTypeId}}
                    </div>
                </div>
                <div class="row bb p-8 b-l br">
                    <div class="col-md-8 text-left f-14 roboto p-0">
                        Certificate Number
                    </div>
                    <div class="col-md-4 text-right f-14 roboto p-0">
                       {{data.certificateNumber}}
                    </div>
                </div>
                <div class="row bb p-8 b-l br">
                    <div class="col-md-8 text-left f-14 roboto p-0">
                        PO branch
                    </div>
                    <div class="col-md-4 text-right f-14 roboto p-0">
                       {{data.postOfficeBranch}}
                    </div>
                </div>
                <div class="row bb p-8 b-l br">
                    <div class="col-md-8 text-left f-14 roboto p-0">
                        Nominee
                    </div>
                    <div class="col-md-4 text-right f-14 roboto p-0">
                       {{data.nominee}}
                    </div>
                </div>
                <div class="row bb p-8 b-l br">
                    <div class="col-md-8 text-left f-14 roboto p-0">
                        Linked bank account
                    </div>
                    <div class="col-md-4 text-right f-14 roboto p-0">
                       fsdsdfsdf
                    </div>
                </div>
                <div class="row bb p-8 b-l br">
                    <div class="col-md-8 text-left f-14 roboto p-0">
                        Description
                    </div>
                    <div class="col-md-4 text-right f-14 roboto p-0">
                       {{data.description}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>