<mat-drawer-container class="mob-sidenav">
    <mat-drawer mode="over" #drawer>
        <div class="persondeatils">
            <img src="/assets/images/Oval.png">
            <p class="m-0 pt-8 text-white">Jon Olsson Deler</p>
        </div>
        <div class="row pt-32 mobnav-link">
            <div class="col-4">
                <img src="/assets/images/svg/mob-nav-1.svg">
                <img src="/assets/images/svg/mob-nav-2.svg">
                <img src="/assets/images/svg/mob-nav-3.svg">
                <img src="/assets/images/svg/mob-nav-4.svg">
            </div>
            <div class="col-8 pl-0">
                <p class="m-0">Advisor Profile</p>
                <p class="m-0">Search Clients</p>
                <p class="m-0">Share App</p>
                <p class="m-0">Logout</p>
            </div>
        </div>
        <div class="row pt-100">
            <div class="col-md-12">
                <img src="assets/images/fin.png" class="w-100">
            </div>
        </div>
    </mat-drawer>
    <div id="mob-advisor-profile" class="h-100vh">
        <div class="row mob-bg-common pb-12 mobtop-navfixed">
            <div class="col-2">
                <span class="material-icons text-white" (click)="drawer.toggle()">
                    menu
                </span>
            </div>
            <div class="col-7 pl-0">
                <h5 class="m-0 f-18 text-white pt-4">Advisor Profile</h5>
            </div>
            <div class="col-3 text-right">
                <span class="material-icons text-white">
                    search
                </span>
            </div>
        </div>
        <div class="pt-60">
            <img src="assets/images/fin.png">
        </div>
        <div class="p-8">
            <div class="mt-10">
                <div class="row bg-white pt-16 pb-16">
                    <div class="col-2">
                        <div class="circle-1 hw-45 pt-12 br-50">JO</div>
                    </div>
                    <div class="col-10 pt-12">
                        <p class="m-0">Wealth Care Management Pvt. Ltd</p>
                        <p class="m-0 f-10 pt-4">Jon Olsson Deler</p>
                    </div>
                </div>
            </div>
            <div class="mt-10">
                <div class="row bg-white">
                    <div class="col-12 pt-16 pb-16">
                        <h4 class="f-22 m-0 lh-17">24.3 Lacs</h4>
                        <p class="pt-12 f-10 m-0">Total MF Assets Under Management</p>
                    </div>
                </div>
            </div>
            <div class="mt-10">
                <div class="row bg-white pt-16 pb-16">
                    <div class="col-10">
                        <p class="f-10 m-0 pt-6">View Clients</p>
                    </div>
                    <div class="col-2">
                        <div class="view-clients pt-8 hw-24">
                            <img src="assets/images/svg/vc-icons.svg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</mat-drawer-container>





