.boxWidth {
    float: left;
    margin-left: 5px !important;
    width: auto;
    padding: 1px 7px !important;
    margin-top: 1px;
    margin-right: 0px !important;
    background-color: transparent !important;
    border: 1px solid #008FFF !important;
    // color: #008FFF !important;
    cursor: pointer;
}