::ng-deep .mat-form-field-appearance-legacy .mat-form-field-suffix .mat-datepicker-toggle-default-icon {
    width: 1.5em !important;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-infix {
    padding: 0px;
}

.mat-datepicker-toggle {
    position: absolute;
    right: 8px !important;
    top: 10px !important;
}