.scrollingDiv {

  // margin-top: 10px;
  .fundBox {
    min-width: 240px;
    height: 170px;
    border-radius: 4px;
    padding: 10px;
    border: 1px solid #D9DEE1;
    margin-right: 20px;

    .row {
      margin-right: -15px !important;
      margin-left: -15px !important;
    }

    .mfBox {
      width: 50px;
      height: 30px;
      display: inline-block;
      border-radius: 4px;
      font-size: 14px;
      cursor: pointer;
    }
  }

  .goalsOverViewBox {
    width: 400px;
    height: 163px;
    border: 1px solid #D9DEE1;
    border-radius: 4px;
    padding: 10px;
    margin-right: 20px;
  }

  .insuranceListBox {
    width: 300px;
    height: 136px;
    border: 1px solid #D9DEE1;
    border-radius: 4px;
    padding: 10px;
    margin-right: 20px;
  }

  .transactionsBox {
    width: 300px;
    height: 145px;
    border: 1px solid #D9DEE1;
    border-radius: 4px;
    padding: 10px;
    margin-right: 20px;

    .spanClass {
      display: inline-block;
      padding: 0px 4px;
      border-radius: 2px;
    }

    .spanClassDanger {
      display: inline-block;
      border: 1px solid #FF6823;
      padding: 0px 4px;
      border-radius: 2px;
    }
  }
}

.transactionsBox2 {
  width: 300px;
  height: 190px;
  border: 1px solid #D9DEE1;
  border-radius: 4px;
  padding: 10px;
  margin-right: 20px;

  .spanClass {
    display: inline-block;
    padding: 0px 4px;
    border-radius: 2px;
  }

  .spanClassDanger {
    display: inline-block;
    border: 1px solid #FF6823;
    padding: 0px 4px;
    border-radius: 2px;
  }
}

#piechartMutualFund {
  height: 100px;
  width: 100px;
}

.pointNumber {
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 3px;
  margin-right: 8px;
}
