<div class="row bb-1 popup-header-fix-60">
      <div class="col-md-10 p-0">
          <h3 class="mb-0 wrapper-20">SUB-0001</h3>
      </div>
  </div>
  <div class="row bb-1">
      <div class="col-md-12 text-right">
          <p class="mb-0 wrapper-20 c-p">Activity log</p>
      </div>
  </div>
  <div class="container mt-24 mb-24">
      <div class="row">
          <div class="col-md-3 p-0">
              <p class="mb-16 text-right pt-40 pb-44">03/09/2019 3:55 PM</p>
              <p class="mb-16 text-right pt-44 pb-44">04/09/2019 6:00 AM</p>
              <p class="mb-16 text-right pt-44">05/09/2019 12:15 PM</p>
          </div>
          <div class="col-md-9 p-0">
              <ul class="timeline">
                  <li>
                      <p class="m-0">Invoice INV-19-20-103201 was created and email has been sent.</p>
                      <span>by Ronak Hindocha</span>
  
                  </li>
              </ul>
              <ul class="timeline">
                  <li>
                      <p class="m-0">Invoice INV-19-20-103201 was created and email has been sent.</p>
                      <span>by Ronak Hindocha</span>
                  </li>
              </ul>
              <ul class="timeline">
                  <li>
                      <p class="m-0">Invoice INV-19-20-103201 was created and email has been sent.</p>
                      <span>by Ronak Hindocha</span>
                  </li>
              </ul>
          </div>
      </div>
  </div>
