<div *ngIf="!goalTypeData" class="bg-grey lter" id="ui-add-goals">
  <div class="row bg-white bb-1 popup-header-fix w-100">
    <div class="col-md-5 p-0">
      <img src="https://res.cloudinary.com/futurewise/image/upload/v1566029063/icons_fakfxf.png" class="w-45">
    </div>
    <div class="col-md-5">
      <h5 class="m-0 p-20 pl-50">{{clientName}}, tell us about your goals...</h5>
    </div>
    <div class="col-md-2">
      <i class="material-icons pt-16 pb-12 c-p right pr-16" (click)="close()">
        close
      </i>
    </div>
  </div>
  <div class="row pt-100 pl-24 pr-24 pb-40">
    <div (click)="setGoalTypeData(singleGoal1)" *ngFor="let singleGoal1 of goalTypeFirstRowListData;index as i"
      [ngClass]="{'col-half-offset':i!=0}" class="col-md-2 c-p">
      <img [src]="singleGoal1.imageUrl">
      <h5 class="text-center m-0 pt-12 text-black">{{singleGoal1.name}}</h5>
    </div>

  </div>
  <div class="row pl-24 pr-24 pb-40">
    <div (click)="setGoalTypeData(singleGoal2)" *ngFor="let singleGoal2 of goalTypeSecondRowListData;index as i"
      [ngClass]="{'col-half-offset':i!=0}" class="col-md-2 c-p">
      <img [src]="singleGoal2.imageUrl">
      <h5 class="text-center m-0 pt-12 text-black">{{singleGoal2.name}}</h5>
    </div>
  </div>
</div>

<div *ngIf="goalTypeData">
  <div *ngIf="showGoalType == 'singleYear'">
    <app-single-goal-year [goalTypeData]="goalTypeData" [familyList]="familyList" (output)="cancelGoal()"></app-single-goal-year>
  </div>
  <div *ngIf="showGoalType == 'multiYear'">
    <app-multi-year-goal [goalTypeData]="goalTypeData" [familyList]="familyList" (output)="cancelGoal()"></app-multi-year-goal>
  </div>
</div>
<div></div>

<div [hidden]="goalTypeData" class="bottom-fixed wrapper-12 w-100">
  <div class="row">
    <div class="col-md-4">
      <h4 class="mb-0 pt-8 text-white c-p f-16" (click)="close()">Cancel</h4>
    </div>
    <!-- <div class="col-md-8 right text-right">
      <button mat-button class="btn-bottom br-0 text-inherit">Save</button>
    </div> -->
  </div>
</div>