<div class="popup-header-fix-70">
    <div class="row bb-1">
        <div class="col-md-8 p-0">
            <h4 class="mb-0 wrapper-20">Sonesh Dedhia</h4>
        </div>
        <div class="col-md-4 text-right">
            <div class="wrapper-12">
                <i class="material-icons c-p pt-8 v-middle" (click)="Close(false)"> clear</i>
            </div>
        </div>
    </div>
</div>


<div class="pt-90 pb-28 pl-20">

    <mat-tab-group id="ui-backoffice-tabs">
        <mat-tab label="Recon summary">
            <div class="row">
                <div class="col-md-6 pl-0">
                    <h2 class="f-16 m-0 d-flex align-items-center">
                        CAMS
                        <i class="material-icons ml-4">
                            add_circle_outline
                        </i>
                    </h2>
                </div>
                <div class="col-md-5 ">
                    <h2 class="f-14 f-600 d-inline-block widthYear text-center border_h2 m-0">Unmatched folios</h2>
                    <h2 class="f-14 text-center d-inline-block widthQuarterly f-600 border_h2 m-0 borderleft_none">
                        Quarterly fees</h2>
                </div>
            </div>
            <div class="row">
                <div class="back-office-table col-md-12 pl-0 overflow-hidden ">
                    <table mat-table [dataSource]="dataSource" id="table-low" class="">
                        <ng-container matColumnDef="arn">
                            <th class="br" mat-header-cell *matHeaderCellDef> ARN/RIA </th>
                            <td class="br" mat-cell *matCellDef="let element"> {{element.arn}} </td>
                        </ng-container>
                        <ng-container matColumnDef="date">
                            <th class="br" mat-header-cell *matHeaderCellDef> Last done on </th>
                            <td class="br" mat-cell *matCellDef="let element"> {{element.date}} </td>
                        </ng-container>
                        <ng-container matColumnDef="name">
                            <th class="br" mat-header-cell *matHeaderCellDef> Done by </th>
                            <td class="br" mat-cell *matCellDef="let element"> {{element.name}} </td>
                        </ng-container>
                        <ng-container matColumnDef="total">
                            <th class="br" mat-header-cell *matHeaderCellDef> Total folios </th>
                            <td class="br" mat-cell *matCellDef="let element"> {{element.total}} </td>
                        </ng-container>
                        <ng-container matColumnDef="befor">
                            <th mat-header-cell *matHeaderCellDef> Before </th>
                            <td mat-cell *matCellDef="let element"> {{element.befor}} </td>
                        </ng-container>
                        <ng-container matColumnDef="after">
                            <th class="br" mat-header-cell *matHeaderCellDef> After </th>
                            <td class="br" mat-cell *matCellDef="let element"> {{element.after}} </td>
                        </ng-container>
                        <ng-container matColumnDef="aumbalance">
                            <th mat-header-cell *matHeaderCellDef> AUM balance </th>
                            <td mat-cell *matCellDef="let element"> {{element.aumbalance}} </td>
                        </ng-container>
                        <ng-container matColumnDef="transaction">
                            <th class="br" mat-header-cell *matHeaderCellDef> Transaction </th>
                            <td class="br" mat-cell *matCellDef="let element"> {{element.transaction}} </td>
                        </ng-container>
                        <ng-container matColumnDef="report">
                            <th class="br" mat-header-cell *matHeaderCellDef> Report </th>
                            <td class="br" mat-cell *matCellDef="let element">
                                <button mat-stroked-button class="bg-primary text-white">
                                    Report
                                </button>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>
            </div>


            <div class="row pt-28">
                <div class="col-md-6 pl-0">
                    <h2 class="f-16 m-0 d-flex align-items-center">
                        Karvy <i class="material-icons ml-4">
                            add_circle_outline
                        </i>
                    </h2>
                </div>
                <div class="col-md-5 ">
                    <h2 class="f-14 f-600 d-inline-block widthYear text-center border_h2 m-0">Unmatched folios</h2>
                    <h2 class="f-14 text-center d-inline-block widthQuarterly f-600 border_h2 m-0 borderleft_none">
                        Latest data as on</h2>
                </div>

            </div>
            <div class="row">
                <div class="back-office-table col-md-12 pl-0 overflow-hidden ">
                    <table mat-table [dataSource]="dataSource" id="table-low" class="">
                        <ng-container matColumnDef="arn">
                            <th class="br" mat-header-cell *matHeaderCellDef> ARN/RIA </th>
                            <td class="br" mat-cell *matCellDef="let element"> {{element.arn}} </td>
                        </ng-container>
                        <ng-container matColumnDef="date">
                            <th class="br" mat-header-cell *matHeaderCellDef> Last done on </th>
                            <td class="br" mat-cell *matCellDef="let element"> {{element.date}} </td>
                        </ng-container>
                        <ng-container matColumnDef="name">
                            <th class="br" mat-header-cell *matHeaderCellDef> Done by </th>
                            <td class="br" mat-cell *matCellDef="let element"> {{element.name}} </td>
                        </ng-container>
                        <ng-container matColumnDef="total">
                            <th class="br" mat-header-cell *matHeaderCellDef> Total folios </th>
                            <td class="br" mat-cell *matCellDef="let element"> {{element.total}} </td>
                        </ng-container>
                        <ng-container matColumnDef="befor">
                            <th mat-header-cell *matHeaderCellDef> Before </th>
                            <td mat-cell *matCellDef="let element"> {{element.befor}} </td>
                        </ng-container>
                        <ng-container matColumnDef="after">
                            <th class="br" mat-header-cell *matHeaderCellDef> After </th>
                            <td class="br" mat-cell *matCellDef="let element"> {{element.after}} </td>
                        </ng-container>
                        <ng-container matColumnDef="aumbalance">
                            <th mat-header-cell *matHeaderCellDef> AUM balance </th>
                            <td mat-cell *matCellDef="let element"> {{element.aumbalance}} </td>
                        </ng-container>
                        <ng-container matColumnDef="transaction">
                            <th class="br" mat-header-cell *matHeaderCellDef> Transaction </th>
                            <td class="br" mat-cell *matCellDef="let element"> {{element.transaction}} </td>
                        </ng-container>
                        <ng-container matColumnDef="report">
                            <th class="br" mat-header-cell *matHeaderCellDef> Report </th>
                            <td class="br" mat-cell *matCellDef="let element">
                                <button mat-stroked-button class="bg-primary text-white">
                                    Report
                                </button>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>
            </div>


            <div class="row pt-28">
                <div class="col-md-6 pl-0">
                    <h2 class="f-16 m-0 d-flex align-items-center">
                        Franklin Templeton <i class="material-icons ml-4">
                            add_circle_outline
                        </i>
                    </h2>
                </div>
                <div class="col-md-5 ">
                    <h2 class="f-14 f-600 d-inline-block widthYear text-center border_h2 m-0">Unmatched folios</h2>
                    <h2 class="f-14 text-center d-inline-block widthQuarterly f-600 border_h2 m-0 borderleft_none">
                        Latest data as on</h2>
                </div>

            </div>
            <div class="row">
                <div class="back-office-table col-md-12 pl-0 overflow-hidden ">
                    <table mat-table [dataSource]="dataSource" id="table-low" class="">
                        <ng-container matColumnDef="arn">
                            <th class="br" mat-header-cell *matHeaderCellDef> ARN/RIA </th>
                            <td class="br" mat-cell *matCellDef="let element"> {{element.arn}} </td>
                        </ng-container>
                        <ng-container matColumnDef="date">
                            <th class="br" mat-header-cell *matHeaderCellDef> Last done on </th>
                            <td class="br" mat-cell *matCellDef="let element"> {{element.date}} </td>
                        </ng-container>
                        <ng-container matColumnDef="name">
                            <th class="br" mat-header-cell *matHeaderCellDef> Done by </th>
                            <td class="br" mat-cell *matCellDef="let element"> {{element.name}} </td>
                        </ng-container>
                        <ng-container matColumnDef="total">
                            <th class="br" mat-header-cell *matHeaderCellDef> Total folios </th>
                            <td class="br" mat-cell *matCellDef="let element"> {{element.total}} </td>
                        </ng-container>
                        <ng-container matColumnDef="befor">
                            <th mat-header-cell *matHeaderCellDef> Before </th>
                            <td mat-cell *matCellDef="let element"> {{element.befor}} </td>
                        </ng-container>
                        <ng-container matColumnDef="after">
                            <th class="br" mat-header-cell *matHeaderCellDef> After </th>
                            <td class="br" mat-cell *matCellDef="let element"> {{element.after}} </td>
                        </ng-container>
                        <ng-container matColumnDef="aumbalance">
                            <th mat-header-cell *matHeaderCellDef> AUM balance </th>
                            <td mat-cell *matCellDef="let element"> {{element.aumbalance}} </td>
                        </ng-container>
                        <ng-container matColumnDef="transaction">
                            <th class="br" mat-header-cell *matHeaderCellDef> Transaction </th>
                            <td class="br" mat-cell *matCellDef="let element"> {{element.transaction}} </td>
                        </ng-container>
                        <ng-container matColumnDef="report">
                            <th class="br" mat-header-cell *matHeaderCellDef> Report </th>
                            <td class="br" mat-cell *matCellDef="let element">
                                <button mat-stroked-button class="bg-primary text-white">
                                    Report
                                </button>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>
            </div>


        </mat-tab>

        <mat-tab label="Suggestions">

            <div class="row">
                <div class="col-md-12">
                    <h2 class="f-16 m-0">
                        Current subscriptions
                    </h2>
                </div>
                <div class="back-office-table col-md-10 overflow-hidden">
                    <table mat-table [dataSource]="dataSourceOne" id="table-low" class="">
                        <ng-container matColumnDef="description">
                            <th class="br" mat-header-cell *matHeaderCellDef> Description </th>
                            <td class="br" mat-cell *matCellDef="let element"> {{element.description}} </td>
                        </ng-container>


                        <ng-container matColumnDef="subscribedSince">
                            <th class="br" mat-header-cell *matHeaderCellDef> Subscribed since </th>
                            <td class="br" mat-cell *matCellDef="let element"> {{element.subscribedSince}} </td>
                        </ng-container>


                        <ng-container matColumnDef="fees">
                            <th class="br" mat-header-cell *matHeaderCellDef> Fees </th>
                            <td class="br" mat-cell *matCellDef="let element"> {{element.fees}} </td>
                        </ng-container>


                        <ng-container matColumnDef="frequency">
                            <th class="br" mat-header-cell *matHeaderCellDef> Frequency </th>
                            <td class="br" mat-cell *matCellDef="let element"> {{element.frequency}} </td>
                        </ng-container>

                        <ng-container matColumnDef="nextBilling">
                            <th mat-header-cell *matHeaderCellDef> Next billing on </th>
                            <td mat-cell *matCellDef="let element"> {{element.nextBilling}} </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumnsOne"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsOne;"></tr>
                    </table>
                </div>
            </div>

            <div class="row pt-24">
                <div class="col-md-4">
                    <h2 class="f-16 m-0">
                        Suggestions
                    </h2>
                </div>
                <div class="col-md-6">
                    <h2 class="f-14 f-600 d-inline-block widthSuggesstion text-center border_h2 m-0">Yearly fees</h2>
                    <h2 class="f-14 f-600 d-inline-block widthSuggesstion text-center border_h2 m-0">Quarterly fees</h2>
                </div>
            </div>

            <div class="row">
                <div class="back-office-table col-md-10 overflow-hidden">
                    <table mat-table [dataSource]="dataSourceTwo" id="table-low" class="">
                        <ng-container matColumnDef="type">
                            <th class="br w-12" mat-header-cell *matHeaderCellDef> Type </th>
                            <td class="br w-12" mat-cell *matCellDef="let element"> {{element.type}} </td>
                        </ng-container>


                        <ng-container matColumnDef="description">
                            <th class="br w-30" mat-header-cell *matHeaderCellDef> Description </th>
                            <td class="br w-30" mat-cell *matCellDef="let element"> {{element.description}} </td>
                        </ng-container>


                        <ng-container matColumnDef="gstOne">
                            <th class="br" mat-header-cell *matHeaderCellDef> Without GST </th>
                            <td class="br" mat-cell *matCellDef="let element"> {{element.gstOne}} </td>
                        </ng-container>


                        <ng-container matColumnDef="gstTwo">
                            <th class="br" mat-header-cell *matHeaderCellDef> With GST </th>
                            <td class="br" mat-cell *matCellDef="let element"> {{element.gstTwo}} </td>
                        </ng-container>

                        <ng-container matColumnDef="gstThree">
                            <th mat-header-cell *matHeaderCellDef> Without GST </th>
                            <td mat-cell *matCellDef="let element"> {{element.gstThree}} </td>
                        </ng-container>

                        <ng-container matColumnDef="gstFour">
                            <th class="br" mat-header-cell *matHeaderCellDef> With GST </th>
                            <td class="br" mat-cell *matCellDef="let element"> {{element.gstFour}} </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumnsTwo"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsTwo;"></tr>
                    </table>

                </div>
            </div>


        </mat-tab>

        <mat-tab label="Tickets">
            <div class="row pt-28">
                <div class="col-md-12">
                    <h3 class="f-16 m-0">Ticket summary</h3>
                    <p class="f-14 m-0 text-primitive">Following is the summary of Freshdesk tickets belonging to this IFA and IFA’s team members</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 d-flex">
                    <div class="summaryBox">
                        <p class="f-16 roboto">Unresolved</p>
                        <h4 class="text-primary m-0 f-22">4</h4>
                    </div>

                    <div class="summaryBox">
                        <p class="f-16 roboto">Open</p>
                        <h4 class="text-primary m-0 f-22">4</h4>
                    </div>

                    <div class="summaryBox">
                        <p class="f-16 roboto">On hold</p>
                        <h4 class="text-primary m-0 f-22">4</h4>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 back-office-table  overflow-hidden">
                    <h3 class="f-16 mb-4">Ticket list</h3>

                    <table mat-table [dataSource]="dataSource3" id="table-low" class="">
                        <ng-container matColumnDef="ticket">
                            <th class="br" mat-header-cell *matHeaderCellDef> Ticket </th>
                            <td class="br" mat-cell *matCellDef="let element"> {{element.ticket}} </td>
                        </ng-container>


                        <ng-container matColumnDef="subject">
                            <th class="br" mat-header-cell *matHeaderCellDef> Subject </th>
                            <td class="br" mat-cell *matCellDef="let element"> {{element.subject}} </td>
                        </ng-container>


                        <ng-container matColumnDef="created">
                            <th class="br" mat-header-cell *matHeaderCellDef> Created on </th>
                            <td class="br" mat-cell *matCellDef="let element"> {{element.created}} </td>
                        </ng-container>


                        <ng-container matColumnDef="type">
                            <th class="br" mat-header-cell *matHeaderCellDef> Type </th>
                            <td class="br" mat-cell *matCellDef="let element"> {{element.type}} </td>
                        </ng-container>

                        <ng-container matColumnDef="status">
                            <th class="br" mat-header-cell *matHeaderCellDef>Status </th>
                            <td class="br" mat-cell *matCellDef="let element"> {{element.status}} </td>
                        </ng-container>

                        <ng-container matColumnDef="raised">
                            <th class="br" mat-header-cell *matHeaderCellDef> Raised by</th>
                            <td class="br" mat-cell *matCellDef="let element"> {{element.raised}} </td>
                        </ng-container>

                        <ng-container matColumnDef="assigned">
                            <th class="br" mat-header-cell *matHeaderCellDef> Assigned to</th>
                            <td class="br" mat-cell *matCellDef="let element"> {{element.assigned}} </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns3"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns3;"></tr>
                    </table>


                </div>
            </div>

        </mat-tab>
        <mat-tab label="Team members">

            <div class="row">
                <div class="col-md-12 back-office-table  overflow-hidden">
                    <h3 class="f-16 mb-4">Ticket list</h3>

                    <table mat-table [dataSource]="dataSource4" id="table-low" class="">
                        <ng-container matColumnDef="name">
                            <th class="br" mat-header-cell *matHeaderCellDef> Name </th>
                            <td class="br" mat-cell *matCellDef="let element"> {{element.name}} </td>
                        </ng-container>


                        <ng-container matColumnDef="email">
                            <th class="br" mat-header-cell *matHeaderCellDef> Email </th>
                            <td class="br" mat-cell *matCellDef="let element"> {{element.email}} </td>
                        </ng-container>


                        <ng-container matColumnDef="mobile">
                            <th class="br" mat-header-cell *matHeaderCellDef> mobile </th>
                            <td class="br" mat-cell *matCellDef="let element"> {{element.mobile}} </td>
                        </ng-container>


                        <ng-container matColumnDef="role">
                            <th class="br" mat-header-cell *matHeaderCellDef> role </th>
                            <td class="br" mat-cell *matCellDef="let element"> {{element.role}} </td>
                        </ng-container>

                        <ng-container matColumnDef="lastlogin">
                            <th class="br" mat-header-cell *matHeaderCellDef>Last login </th>
                            <td class="br" mat-cell *matCellDef="let element"> {{element.lastlogin}} </td>
                        </ng-container>

                        <ng-container matColumnDef="status">
                            <th class="br" mat-header-cell *matHeaderCellDef> Status</th>
                            <td class="br" mat-cell *matCellDef="let element"> {{element.status}} </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns4"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns4;"></tr>
                    </table>
                </div>
            </div>


        </mat-tab>
        <mat-tab label="Billing details">

            <div class="row">
                <div class="col-md-10 back-office-table  overflow-hidden">
                    <h3 class="f-16 mb-4">Ticket list</h3>

                    <table mat-table [dataSource]="dataSource5" id="table-low" class="">
                        <ng-container matColumnDef="invoice">
                            <th class="br" mat-header-cell *matHeaderCellDef> Invoice </th>
                            <td class="br" mat-cell *matCellDef="let element"> {{element.invoice}} </td>
                        </ng-container>


                        <ng-container matColumnDef="sentDate">
                            <th class="br" mat-header-cell *matHeaderCellDef> Sent date </th>
                            <td class="br" mat-cell *matCellDef="let element"> {{element.sentDate}} </td>
                        </ng-container>


                        <ng-container matColumnDef="status">
                            <th class="br" mat-header-cell *matHeaderCellDef> Status </th>
                            <td class="br" mat-cell *matCellDef="let element"> {{element.status}} </td>
                        </ng-container>


                        <ng-container matColumnDef="dueDate">
                            <th class="br" mat-header-cell *matHeaderCellDef> Due date </th>
                            <td class="br" mat-cell *matCellDef="let element"> {{element.dueDate}} </td>
                        </ng-container>

                        <ng-container matColumnDef="amount">
                            <th class="br" mat-header-cell *matHeaderCellDef> Amount </th>
                            <td class="br" mat-cell *matCellDef="let element"> {{element.amount}} </td>
                        </ng-container>

                        <ng-container matColumnDef="balance">
                            <th class="br" mat-header-cell *matHeaderCellDef> Balance due</th>
                            <td class="br" mat-cell *matCellDef="let element"> {{element.balance}} </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns5"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns5;"></tr>
                    </table>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Miscellaneous">

            <div class="row pt-16">
                <div class="col-md-8 miscellaneousBox">
                    <h2 class="f-16 roboto">Miscellaneous</h2>
                    <mat-form-field class="example-full-width">
                        <textarea matInput class="form-control height160"></textarea>
                        <button mat-button class=" bg-primary text-white right br-0 text-inherit mt-12">EDIT</button>
                    </mat-form-field>

                </div>
            </div>

        </mat-tab>
    </mat-tab-group>
</div>


<div class="bottom-fixed-70 wrapper-12 pt-16 zIndex">
    <div class="row">
        <div class="col-md-4">
            <h5 class="mb-0 pt-8 text-white c-p" (click)="Close(false)">Cancel</h5>
        </div>
        <div class="col-md-8 right text-right">
            <button mat-button class="btn-bottom br-0 text-inherit">Save</button>
        </div>
    </div>
</div>