<div class="popup-header-fix-35">
    <div class="row bb-1">
        <div class="col-md-8 p-0">
            <h3 class="mb-0 wrapper-20"> Transactions History</h3>
        </div>
        <div class="col-md-4 text-right">
            <div class="wrapper-12">
                <!-- (click)="Close(false)" commented for prod -->
                <i (click)="close()" class="material-icons c-p pt-8 v-middle"> clear</i>
            </div>
        </div>
    </div>
</div>
<div class="pt-90 pl-28 pr-28 b-h-dashed pb-28">
    <div class="row pb-20">
        <div class="col-md-12 p-0">
            <p class="m-0 text-custom text-uppercase f-12 roboto">SCHEME</p>
            <p class="m-0 text-black">{{transactionData.schemeName}}
            </p>
        </div>
    </div>
    <div *ngIf="transactionData.targetProductName" class="row pb-20">
        <div class="col-md-12 p-0">
            <p class="m-0 text-custom text-uppercase f-12 roboto">TARGET SCHEME</p>
            <p class="m-0 text-black">{{transactionData.targetProductName}}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 pl-0">
            <p class="m-0 f-12 text-uppercase text-primitive">AMOUNT</p>
            <p class="m-0 text-black roboto">₹{{transactionData.amount}}</p>
        </div>
        <div class="col-md-6 pr-0">
            <p class="m-0 f-12 text-uppercase text-primitive">FOLIO</p>
            <p class="m-0 text-black roboto">{{transactionData.folio}}</p>
        </div>
        <div class="col-md-6 pl-0 pt-20">
            <p class="m-0 f-12 text-uppercase text-primitive">Investor details</p>
            <p class="m-0 text-black roboto">{{transactionData.clientName}}</p>
        </div>
        <div class="col-md-6 pr-0 pt-20">
            <p class="m-0 f-12 text-uppercase text-primitive">ARN/RIA and EUIN</p>
            <p class="m-0 text-black roboto">{{transactionData.brokerCode}} {{ transactionData.euin ? transactionData.euin : ''}}</p>
        </div>
        <div class="col-md-6 pl-0 pt-20">
            <p class="m-0 f-12 text-uppercase text-primitive">Transaction platform</p>
            <p class="m-0 text-black roboto">{{transactionData.platformName}}</p>
        </div>
        <div class="col-md-6 pr-0 pt-20">
            <p class="m-0 f-12 text-uppercase text-primitive">TRANSACTION INITIATION</p>
            <p class="m-0 text-black roboto">Immediate</p>
        </div>
        <div class="col-md-6 pl-0 pt-20">
            <p class="m-0 f-12 text-uppercase text-primitive">Mode of payment</p>
            <p class="m-0 text-black roboto">{{ transactionData.paymentMode ? transactionData.paymentMode : '-'}}</p>
        </div>
        <div *ngIf="showBankDetail&&transactionData.bankAccountNumber" class="col-md-6 pr-0 pt-20">
            <p class="m-0 f-12 text-uppercase text-primitive">Bank A/c details</p>
            <p class="m-0 text-black roboto">{{transactionData.bankName}} {{transactionData.bankAccountType}} A/c {{transactionData.bankAccountNumber}}</p>
        </div>
        <div *ngIf="!showBankDetail && transactionData.umrn" class="col-md-6 pr-0 pt-20">
            <p class="m-0 f-12 text-uppercase text-primitive">Mandate details</p>
            <p class="m-0 text-black roboto">{{transactionData.umrn}}
                <!--{{transactionData.bankAccountType}}
        A/c {{transactionData.bankAccountNumber}}-->
            </p>
        </div>
        <div class="col-md-6 pr-0 pt-20">
            <p class="m-0 f-12 text-uppercase text-primitive">TRANSACTION ID</p>
            <p class="m-0 text-black roboto">{{transactionData.transactionNumber}}
            </p>
        </div>
        <div *ngIf="transactionData.frequency" class="col-md-6 pl-0 pt-20">
            <p class="m-0 f-12 text-uppercase text-primitive">Frequency</p>
            <p class="m-0 text-black roboto">{{transactionData.frequency}}
            </p>
        </div>
        <div *ngIf="transactionData.startDate&&transactionData.startDate>0" class="col-md-6 pl-0 pt-20">
            <p class="m-0 f-12 text-uppercase text-primitive">Start Date</p>
            <p class="m-0 text-black roboto">{{transactionData.startDate | date:'dd/MM/yyyy'}}
                <!--{{element.orderDate | date:'shortTime'}}-->
            </p>
        </div>
        <div *ngIf="transactionData.perpetualFlag||(transactionData.startDate&&transactionData.endDate>0)" class="col-md-6 pl-0 pt-20">
            <p class="m-0 f-12 text-uppercase text-primitive">End Date</p>
            <p class="m-0 text-black roboto">{{transactionData.perpetualFlag ? 'Continue until cancelled' : (transactionData.endDate | date:'dd/MM/yyyy')}}
                <!--{{element.orderDate | date:'shortTime'}}-->
            </p>
        </div>
        <!--    <div class="col-md-6 pl-0 pt-20" *ngIf="transactionData.perpetualFlag">-->
        <!--      <p class="m-0 f-12 text-uppercase text-primitive">Continue untill cancelled</p>-->
        <!--      <p class="m-0 text-black roboto">Yes &lt;!&ndash;{{element.orderDate | date:'shortTime'}}&ndash;&gt;-->
        <!--      </p>-->
        <!--    </div>-->
    </div>
</div>

<div class="p-28 pb-100">

    <div class="row">
        <div class="col-md-5 p-0">
            <h5 class="m-0 f-500 text-black">Status</h5>
        </div>
        <div class="col-md-5 p-0 text-right right">
            <button (click)="refresh(transactionData)" class="primary-sm" mat-stroked-button>REFRESH</button>
        </div>
        <div class="col-md-2 p-0  ">
            <mat-spinner *ngIf="isLoading==true" [diameter]="20" class=" ml-4"></mat-spinner>
        </div>
    </div>
    <div *ngIf="!(transactionData.status==0 || transactionData.status==1 || transactionData.status==7)">
        <div *ngFor="let singleStep of transactionStatusList" class="circleGreen">
            <div class="d-flex">
                <div *ngIf="singleStep.checked == true" class="circle1">
                    <i class="material-icons text-success">
            check_circle_outline
          </i>
                </div>
                <div *ngIf="singleStep.checked == false" class="circle1">
                    <i class="material-icons text-primary">
            query_builder
          </i>
                </div>
                <div class="circleDetails">
                    <p class="m-0 f-16 l-18">{{singleStep.name}}</p>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="transactionData.status==7" class="circleGreen">
        <div class="d-flex">
            <div class="circle1">
                <i class="material-icons text-danger">
          check_circle_outline
        </i>
            </div>
            <div class="circleDetails">
                <p class="m-0 f-16 l-18">Transaction rejected</p>
                <p class="p-9 text-white">The failed reason will come here from BSE/NSE. It can be a long form text like this or something short.
                </p>
            </div>
        </div>
    </div>

</div>


<!-- status rejected -->
<!-- <div class="p-28 pt-20">
    <div class="row">
        <div class="col-md-6 p-0">
            <h5 class="m-0 f-500 text-black">Status</h5>
        </div>
        <div class="col-md-6 p-0 text-right right">
            <button mat-stroked-button class="primary-sm">REFRESH</button>
        </div>
    </div>
    <div class="co-md-8 pt-44 pb-44 radio-danger">
        <mat-radio-group aria-label="Select an option">
            <mat-radio-button value="1" class="text-danger">Rejected</mat-radio-button>
        </mat-radio-group>
        <p class="m-0 bg-danger p-12 text-white ml-24 roboto w-70 l-20">The failed reason will come here from BSE/NSE.
            It can
            be a
            long form text
            like
            this or something short.</p>
    </div>
</div> -->


<div class="bottom-fixed wrapper-12 w-35">
    <div class="row">
        <div class="col-md-4">
            <h5 (click)="close()" class="mb-0 pt-8 text-white c-p">Close</h5>
        </div>
    </div>
</div>