<div class="popup-header-fix w-70">
    <div class="row bb-1">
        <div class="col-md-8 p-0">
            <h4 class="mb-0 wrapper-20">SETUP LUMPSUM DEPLOYMENTS</h4>
        </div>
        <div class="col-md-4 text-right">
            <div class="wrapper-12">
                <i class="material-icons c-p pt-8 v-middle" (click)="close()"> clear</i>
            </div>
        </div>
    </div>
</div>
<div class="pt-90 pl-20 pr-20 pb-44 mb-44 lumpsumtables">
    <div class="row">
        <div class="col-md-6 pl-0">
            <h5 class="m-0">Deployment status</h5>
            <table mat-table *ngIf="dataSource" [dataSource]="dataSource.EQUITY" id="table-low"
                class="skeletonAnimation mt-12" appSkeletonLoading [appSkeletonLoading]="isLoading">

                <ng-container matColumnDef="position">
                    <th mat-header-cell *matHeaderCellDef>Equity <img src="/assets/images/svg/plus-rounded.svg"
                        (click)="openPopup('equityPopup','Equity')"    class="c-p"></th>
                    <td mat-cell *matCellDef="let element">
                        <div class="bar"> {{element.EQT_TITLE}}
                        </div>
                    </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Target </th>
                    <td mat-cell *matCellDef="let element">
                        <div class="bar"> {{element.EQT_TARGET}}
                        </div>
                    </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="weight">
                    <th mat-header-cell *matHeaderCellDef> Remaining </th>
                    <td mat-cell *matCellDef="let element">
                        <div class="bar"> {{element.EQT_REMAIN}}</div>
                    </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="icons">
                    <th mat-header-cell *matHeaderCellDef> <i class="material-icons text-custom">
                            more_vert
                        </i> </th>
                    <td mat-cell *matCellDef="let element"> <i class="material-icons text-custom">
                            more_vert
                        </i> </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <div *ngIf="dataSource.EQUITY == 0" class="d-flex flex-column align-items-center">
                <h4 class="text-center pt-12">No Data found</h4>
            </div>
            <table mat-table *ngIf="dataSource" [dataSource]="dataSource.DEBT" id="table-low"
                class="skeletonAnimation mt-20" appSkeletonLoading [appSkeletonLoading]="isLoading">

                <ng-container matColumnDef="position">
                    <th mat-header-cell *matHeaderCellDef>Debt <img src="/assets/images/svg/plus-rounded.svg"
                        (click)="openPopup('debtPopup','Debt')"  class="c-p"></th>
                    <td mat-cell *matCellDef="let element">
                        <div class="bar"> {{element.DEBT_TITLE}}</div>
                    </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef>Target </th>
                    <td mat-cell *matCellDef="let element">
                        <div class="bar">{{element.DEBT_TARGET}}</div>
                    </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="weight">
                    <th mat-header-cell *matHeaderCellDef> Remaining </th>
                    <td mat-cell *matCellDef="let element">
                        <div class="bar">{{element.DEBT_REMAIN}}</div>
                    </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="icons">
                    <th mat-header-cell *matHeaderCellDef> <i class="material-icons text-custom">
                            more_vert
                        </i> </th>
                    <td mat-cell *matCellDef="let element"> <i class="material-icons text-custom">
                            more_vert
                        </i> </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>
            </table>
            <div *ngIf="dataSource.DEBT == 0" class="d-flex flex-column align-items-center">
                <h4 class="text-center pt-12">No Data found</h4>
            </div>
        </div>
        <div class="col-md-6 pr-0">
            <h5 class="m-0 text-black">Filter and add schemes <img src="/assets/images/svg/cash-flow-expenses-icon.svg">
            </h5>
            <div class="row pt-12">
                <div class="col-md-3 pl-0">
                    <mat-form-field>
                        <mat-select (selectionChange)="filterScheme()" class="form-control br-0">
                            <mat-option value="option">Goals</mat-option>
                            <mat-option value="option">Retirement</mat-option>
                            <mat-option value="option">Shreya’s higher education</mat-option>
                            <mat-option value="option">House</mat-option>
                            <mat-option value="option">Shreya’s marriage</mat-option>
                            <mat-option value="option">Unallocated schemes</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-3 pl-0">
                    <mat-form-field>
                        <mat-select class="form-control br-0">
                            <mat-option value="option">Model portfolio</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-3 pl-0">
                    <mat-form-field>
                        <mat-select class="form-control br-0">
                            <mat-option value="option">Category</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-3 pl-0">
                    <button mat-stroked-button class="btn-primary pr-12 pl-12"
                        (click)="openPopup('searchAndAdd','null')">Search
                        & add</button>
                </div>

            </div>
            <div *ngFor="let singleSchemeData of filterSchemeData" class="row">
                <div class="col-md-12 p-0">
                    <p class="m-0 text-black roboto pt-20">{{singleSchemeData.name}}</p>
                    <div *ngFor="let singleData of singleSchemeData" class="row bb-1 pb-12">
                        <div class="col-md-12 pl-0 pt-12">
                            <div class="row">
                                <div class="col-md-9 pl-0">
                                    <p class="m-0 roboto">{{singleData.schemeName}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-10 pl-0">
                                    <p class="m-0 text-success roboto pt-4">Retirement goal - 2,20,000</p>
                                    <p class="m-0 text-success roboto"> Aryan’s marriage - 54,921</p>
                                    <p class="m-0 text-custom roboto pt-4">Model portfolio - Long term goals - 20% </p>
                                </div>
                                <div class="col-md-2 pr-0">
                                    <button mat-stroked-button class="text-primary b-a-custom mt-20">Add</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <!-- <div class="row bb-1 pb-12">
                <div class="col-md-12 pl-0 pt-12">
                    <div class="row">
                        <div class="col-md-10 pl-0">
                            <p class="m-0 roboto">IDFC Sterling Fund - Growth / 90809898</p>
                            <p class="m-0 text-success roboto pt-4">Goals - 2, <span class="text-custom"> portfolios -
                                    1</span>
                            </p>
                        </div>
                        <div class="col-md-2 pr-0">
                            <button mat-stroked-button class="text-primary b-a-custom">Add</button>
                        </div>
                    </div>

                </div>
            </div> -->

            <!-- <p class="m-0 text-black roboto pt-20">DEBT</p>
            <div class="row bb-1 pb-12">
                <div class="col-md-12 pl-0 pt-12">
                    <div class="row">
                        <div class="col-md-9 pl-0">
                            <p class="m-0 roboto">Aditya birla sun life - Equity Savings Fund Regular Plan Growth /
                                0980989898</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10 pl-0">
                            <p class="m-0 text-success roboto pt-4">Retirement goal - 2,20,000</p>
                            <p class="m-0 text-success roboto"> Aryan’s marriage - 54,921</p>
                            <p class="m-0 text-custom pt-4 roboto">Model portfolio - Long term goals - 20% </p>
                        </div>
                        <div class="col-md-2 pr-0">
                            <button mat-stroked-button class="text-primary b-a-custom mt-20">Add</button>
                        </div>
                    </div>

                </div>
            </div> -->
            <div class="row bb-1 pb-12 pt-8">
                <h4>EQUITY</h4>
                <div class="col-md-12 pl-0 pt-12" *ngIf="schemeData && schemeData.EQUITY.length > 0">
                    <div class="row" *ngFor="let item of schemeData.EQUITY">
                        <div class="col-md-10 pl-0">
                            <p class="m-0 roboto">{{item.schemeName}}/
                                {{item.schemeCode}}</p>
                            <p class="m-0 text-success pt-4 roboto">Goals - 2, <span class="text-custom"> portfolios -
                                    1</span>
                            </p>
                        </div>
                        <div class="col-md-2 pr-0">
                            <button mat-stroked-button class="text-primary b-a-custom">Add</button>
                        </div>
                    </div>

                </div>
                <div *ngIf="schemeData  && schemeData.EQUITY.length == 0" class="d-flex flex-column align-items-center pt-20">
                    <h4 class="text-center pt-12" (click)="openPopup('addAmount',item)">No scheme found</h4>
                </div>
            </div>
            <div class="row bb-1 pb-12 pt-8">
                <h4>DEBT</h4>
                <div class="col-md-12 pl-0 pt-12" *ngIf="schemeData && schemeData.DEBT.length > 0">
                    <div class="row" *ngFor="let item of schemeData.DEBT">
                        <div class="col-md-10 pl-0">
                            <p class="m-0 roboto">{{item.schemeName}}/
                                {{item.schemeCode}}</p>
                            <p class="m-0 text-success pt-4 roboto">Goals - 2, <span class="text-custom"> portfolios -
                                    1</span>
                            </p>
                        </div>
                        <div class="col-md-2 pr-0">
                            <button mat-stroked-button class="text-primary b-a-custom"
                                (click)="openPopup('addAmount',item)">Add</button>
                        </div>
                    </div>


                </div>
                <div *ngIf="schemeData && schemeData.DEBT.length == 0 " class="d-flex flex-column align-items-center pt-20">
                    <h4 class="text-center pt-12">No scheme found</h4>
                </div>
            </div>
        </div>
    </div>
    <h5 class="m-0 f-500 text-black pt-44">Added items</h5>
    <p class="roboto m-0 f-500 text-black pt-20">EQUITY</p>
    <table *ngIf="dataSource" mat-table [dataSource]="dataSource.equity_investment" class="skeletonAnimation mt-12"
        appSkeletonLoading [appSkeletonLoading]="isLoading" class="mt-8" id="table-low">
        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Scheme name </th>
            <td mat-cell *matCellDef="let element">
                <div class="bar">{{element.scheme_name}}</div>
            </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="weight">
            <th mat-header-cell *matHeaderCellDef> Amount </th>
            <td mat-cell *matCellDef="let element">
                <div class="bar">{{element.advice_allotment}}</div>
            </td>
        </ng-container>

        <ng-container matColumnDef="height">
            <th mat-header-cell *matHeaderCellDef> Advice status </th>
            <td mat-cell *matCellDef="let element">
                <div class="bar">{{element.weight}}</div>
            </td>
        </ng-container>

        <ng-container matColumnDef="test">
            <th mat-header-cell *matHeaderCellDef> Action plan status </th>
            <td mat-cell *matCellDef="let element">
                <div class="bar">{{element.weight}}</div>
            </td>
        </ng-container>
        <!-- Symbol Column -->
        <ng-container matColumnDef="icons">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let element"><i class="material-icons text-custom">
                    more_vert
                </i> </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
    </table>
    <div *ngIf="dataSource.equity_investment == 0" class="d-flex flex-column align-items-center">
        <h4 class="text-center pt-12">No Data found</h4>
    </div>
    <p class="roboto m-0 f-500 text-black pt-20">DEBT</p>
    <table *ngIf="dataSource" appSkeletonLoading [appSkeletonLoading]="isLoading" class="skeletonAnimation" mat-table
        [dataSource]="dataSource.debt_investment" class="mt-8" id="table-low">
        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Scheme name </th>
            <td mat-cell *matCellDef="let element">
                <div class="bar"> {{element.scheme_name}}</div>
            </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="weight">
            <th mat-header-cell *matHeaderCellDef> Amount </th>
            <td mat-cell *matCellDef="let element">
                <div class="bar"> {{element.advice_allotment}}</div>
            </td>
        </ng-container>

        <ng-container matColumnDef="height">
            <th mat-header-cell *matHeaderCellDef> Advice status </th>
            <td mat-cell *matCellDef="let element">
                <div class="bar"> {{element.weight}}</div>
            </td>
        </ng-container>

        <ng-container matColumnDef="test">
            <th mat-header-cell *matHeaderCellDef> Action plan status </th>
            <td mat-cell *matCellDef="let element">
                <div class="bar"> {{element.weight}}</div>
            </td>
        </ng-container>
        <!-- Symbol Column -->
        <ng-container matColumnDef="icons">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let element"><i class="material-icons text-custom">
                    more_vert
                </i> </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
    </table>
    <div *ngIf="dataSource.debt_investment == 0" class="d-flex flex-column align-items-center">
        <h4 class="text-center pt-12">No Data found</h4>
    </div>
</div>
<div class="bottom-fixed wrapper-12 w-70">
    <div class="row">
        <div class="col-md-4">
            <h5 (click)="close()" class="mb-0 pt-12 text-white c-p">Cancel</h5>
        </div>
    </div>
</div>